#CLOCKS
set_io RESETn    94
set_io CLK40_OUT 21
set_io CLK40_IN  20
set_io CLKRAM    38
set_io C1        142
set_io C3        143

#CPU ADDRESS BUS - INPUTS
set_io A[0]  12 -pullup yes
set_io A[1]  10
set_io A[2]  8
set_io A[3]  9
set_io A[4]  15
set_io A[5]  16
set_io A[6]  17
set_io A[7]  18
set_io A[8]  19
set_io A[9]  22
set_io A[10] 23
set_io A[11] 24
set_io A[12] 25
set_io A[13] 26
set_io A[14] 28
set_io A[15] 29
set_io A[16] 31
set_io A[17] 32
set_io A[18] 33
set_io A[19] 34
set_io A[20] 11

#AGNUS ADDRESS BUS - INPUTS
set_io DRA[0] 102
set_io DRA[1] 101
set_io DRA[2] 99
set_io DRA[3] 98
set_io DRA[4] 97
set_io DRA[5] 96
set_io DRA[6] 95
set_io DRA[7] 91
set_io DRA[8] 90
set_io DRA[9] 106

#SDRAM ADDRESS BUS - OUTPUTS
set_io CMA[0]  55
set_io CMA[1]  48
set_io CMA[2]  47
set_io CMA[3]  76
set_io CMA[4]  78
set_io CMA[5]  79
set_io CMA[6]  80
set_io CMA[7]  81
set_io CMA[8]  82
set_io CMA[9]  83
set_io CMA[10] 56

#DRAM CONTROL SIGNALS
set_io CLLBEn    45
set_io BANK1     49
set_io BANK0     52
set_io CRCSn     60 #OUTPUT - SDRAM CHIP SELECT SIGNAL
set_io RASn      61 #OUTPUT - SDRAM RAS
set_io CASn      62 #OUTPUT - SDRAM CAS
set_io WEn       73 #OUTPUT - SDRAM WRITE ENABLE
set_io CUMBEn    74
set_io CLMBEn    75
set_io CLK_EN     84 #OUTPUT - SDRAM CLOCK ENABLE
set_io CUUBEn    85
set_io DBENn     42 #OUTPUT - ENABLE FOR CHIPSET DATA BRIDGE
set_io DBDIR     43
set_io VBENn     44
set_io RAMSPACEn 130 #INPUT - CHIP RAM ADDRESS SPACE
set_io DRDDIR    107
set_io DRDENn    110

#AGNUS
#AGNUS RAS AND CAS SIGNALS ARE REVERSED ON REV4.0 BOARD.
#THEY ARE BE FIXED ON THE REV5.0 BOARD.
set_io RAS1n     88  #INPUT - AGNUS RAS1
set_io RAS0n     87  #INPUT - AGNUS RAS0
set_io CASLn     105 #INPUT - AGNUS CASL
set_io CASUn     104 #INPUT - AGNUS CASU
set_io ASn       116
set_io LDSn      117
set_io UDSn      118
set_io AWEn      135
set_io DBRn      138
#set_io RAMENn    139
set_io REGENn    141 #OUTPUT - AGNUS REGISTER ENABLE
set_io REGSPACEn 41  #INPUT - CHIPSET REGISTER ADDRESS SPACE

#DATA TRANSFER SIGNALS
set_io SIZ[1]     1
set_io SIZ[0]     2
#set_io TT1        3
#set_io TT0        4
set_io TACKn      7
#set_io TBIn       39
#set_io TCIn       64
set_io TSn        136
set_io RnW        144

#BYTE ENABLES FOR PCI BUS CONTROLLER
#set_io UMBEn      121
#set_io LMBEn      122
#set_io LLBEn      124
#set_io UUBEn      125

#ATA ADDRESS
#set_io DA[2]      120
#set_io DA[1]      128
#set_io DA[0]      129