ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle_9_LC_2_11_1 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle[9] }
clb_pack LT_2_11 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle_9_LC_2_11_1 }
set_location LT_2_11 2 11
ble_pack CLKRAM_obuf_RNO_LC_3_1_5 { CLKRAM_obuf_RNO }
clb_pack LT_3_1 { CLKRAM_obuf_RNO_LC_3_1_5 }
set_location LT_3_1 3 1
ble_pack DBRn_ibuf_RNIBAB_LC_6_13_6 { DBRn_ibuf_RNIBAB }
clb_pack LT_6_13 { DBRn_ibuf_RNIBAB_LC_6_13_6 }
set_location LT_6_13 6 13
ble_pack U712_REG_SM.REG_TACK_LC_7_11_0 { U712_REG_SM.REG_TACK_RNO, U712_REG_SM.REG_TACK }
clb_pack LT_7_11 { U712_REG_SM.REG_TACK_LC_7_11_0 }
set_location LT_7_11 7 11
ble_pack U712_CHIP_RAM.m111_LC_7_12_3 { U712_CHIP_RAM.m111 }
ble_pack U712_CHIP_RAM.m101_LC_7_12_5 { U712_CHIP_RAM.m101 }
clb_pack LT_7_12 { U712_CHIP_RAM.m111_LC_7_12_3, U712_CHIP_RAM.m101_LC_7_12_5 }
set_location LT_7_12 7 12
ble_pack U712_CHIP_RAM.m18_LC_7_13_0 { U712_CHIP_RAM.m18 }
ble_pack U712_REG_SM.STATE_COUNT_3_LC_7_13_1 { U712_CHIP_RAM.m117, U712_REG_SM.STATE_COUNT[3] }
ble_pack U712_REG_SM.STATE_COUNT_4_LC_7_13_2 { U712_CHIP_RAM.m81, U712_REG_SM.STATE_COUNT[4] }
ble_pack U712_REG_SM.STATE_COUNT_5_LC_7_13_5 { U712_REG_SM.STATE_COUNT_RNO[5], U712_REG_SM.STATE_COUNT[5] }
clb_pack LT_7_13 { U712_CHIP_RAM.m18_LC_7_13_0, U712_REG_SM.STATE_COUNT_3_LC_7_13_1, U712_REG_SM.STATE_COUNT_4_LC_7_13_2, U712_REG_SM.STATE_COUNT_5_LC_7_13_5 }
set_location LT_7_13 7 13
ble_pack U712_REG_SM.C3_SYNC_0_LC_7_14_1 { U712_REG_SM.C3_SYNC_0_THRU_LUT4_0, U712_REG_SM.C3_SYNC[0] }
ble_pack U712_REG_SM.C3_SYNC_1_LC_7_14_4 { U712_REG_SM.C3_SYNC_1_THRU_LUT4_0, U712_REG_SM.C3_SYNC[1] }
clb_pack LT_7_14 { U712_REG_SM.C3_SYNC_0_LC_7_14_1, U712_REG_SM.C3_SYNC_1_LC_7_14_4 }
set_location LT_7_14 7 14
ble_pack DBR_SYNC_1_LC_7_16_1 { DBR_SYNC_1_THRU_LUT4_0, DBR_SYNC[1] }
clb_pack LT_7_16 { DBR_SYNC_1_LC_7_16_1 }
set_location LT_7_16 7 16
ble_pack DBR_SYNC_0_LC_7_17_3 { DBR_SYNC_0_THRU_LUT4_0, DBR_SYNC[0] }
clb_pack LT_7_17 { DBR_SYNC_0_LC_7_17_3 }
set_location LT_7_17 7 17
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_RNI59L8_LC_8_5_1 { U712_CHIP_RAM.CPU_CYCLE_esr_RNI59L8 }
clb_pack LT_8_5 { U712_CHIP_RAM.CPU_CYCLE_esr_RNI59L8_LC_8_5_1 }
set_location LT_8_5 8 5
ble_pack U712_CYCLE_TERM.TACK_START_LC_8_10_4 { U712_CYCLE_TERM.TACK_START_RNO, U712_CYCLE_TERM.TACK_START }
clb_pack LT_8_10 { U712_CYCLE_TERM.TACK_START_LC_8_10_4 }
set_location LT_8_10 8 10
ble_pack U712_CHIP_RAM.REFRESH_RNO_0_LC_8_11_3 { U712_CHIP_RAM.REFRESH_RNO_0 }
clb_pack LT_8_11 { U712_CHIP_RAM.REFRESH_RNO_0_LC_8_11_3 }
set_location LT_8_11 8 11
ble_pack U712_CHIP_RAM.m113_0_LC_8_12_1 { U712_CHIP_RAM.m113_0 }
ble_pack U712_CHIP_RAM.m79_LC_8_12_7 { U712_CHIP_RAM.m79 }
clb_pack LT_8_12 { U712_CHIP_RAM.m113_0_LC_8_12_1, U712_CHIP_RAM.m79_LC_8_12_7 }
set_location LT_8_12 8 12
ble_pack U712_REG_SM.STATE_COUNT_8_LC_8_13_0 { U712_CHIP_RAM.N_90_0_i, U712_REG_SM.STATE_COUNT[8] }
ble_pack U712_CHIP_RAM.m86_LC_8_13_1 { U712_CHIP_RAM.m86 }
ble_pack U712_CHIP_RAM.m96_LC_8_13_2 { U712_CHIP_RAM.m96 }
ble_pack U712_REG_SM.STATE_COUNT_0_LC_8_13_3 { U712_CHIP_RAM.STATE_COUNT_nss_0_i[0], U712_REG_SM.STATE_COUNT[0] }
ble_pack U712_REG_SM.STATE_COUNT_7_LC_8_13_4 { U712_REG_SM.STATE_COUNT_RNO[7], U712_REG_SM.STATE_COUNT[7] }
ble_pack U712_CHIP_RAM.m20_e_LC_8_13_5 { U712_CHIP_RAM.m20_e }
ble_pack U712_CHIP_RAM.m78_LC_8_13_6 { U712_CHIP_RAM.m78 }
ble_pack U712_REG_SM.STATE_COUNT_6_LC_8_13_7 { U712_CHIP_RAM.m90, U712_REG_SM.STATE_COUNT[6] }
clb_pack LT_8_13 { U712_REG_SM.STATE_COUNT_8_LC_8_13_0, U712_CHIP_RAM.m86_LC_8_13_1, U712_CHIP_RAM.m96_LC_8_13_2, U712_REG_SM.STATE_COUNT_0_LC_8_13_3, U712_REG_SM.STATE_COUNT_7_LC_8_13_4, U712_CHIP_RAM.m20_e_LC_8_13_5, U712_CHIP_RAM.m78_LC_8_13_6, U712_REG_SM.STATE_COUNT_6_LC_8_13_7 }
set_location LT_8_13 8 13
ble_pack U712_CHIP_RAM.m106_ns_1_LC_8_14_0 { U712_CHIP_RAM.m106_ns_1 }
ble_pack U712_REG_SM.REG_CYCLE_LC_8_14_3 { U712_REG_SM.REG_CYCLE_RNO, U712_REG_SM.REG_CYCLE }
ble_pack U712_CHIP_RAM.m98_LC_8_14_4 { U712_CHIP_RAM.m98 }
ble_pack U712_CHIP_RAM.m102_LC_8_14_6 { U712_CHIP_RAM.m102 }
ble_pack U712_CHIP_RAM.m106_ns_LC_8_14_7 { U712_CHIP_RAM.m106_ns }
clb_pack LT_8_14 { U712_CHIP_RAM.m106_ns_1_LC_8_14_0, U712_REG_SM.REG_CYCLE_LC_8_14_3, U712_CHIP_RAM.m98_LC_8_14_4, U712_CHIP_RAM.m102_LC_8_14_6, U712_CHIP_RAM.m106_ns_LC_8_14_7 }
set_location LT_8_14 8 14
ble_pack U712_REG_SM.WRITE_CYCLE_LC_8_15_3 { U712_REG_SM.WRITE_CYCLE_RNO, U712_REG_SM.WRITE_CYCLE }
ble_pack U712_REG_SM.PRnW_LC_8_15_4 { U712_REG_SM.PRnW_RNO, U712_REG_SM.PRnW }
clb_pack LT_8_15 { U712_REG_SM.WRITE_CYCLE_LC_8_15_3, U712_REG_SM.PRnW_LC_8_15_4 }
set_location LT_8_15 8 15
ble_pack DBR_SYNC_RNITKK4_1_LC_8_16_1 { DBR_SYNC_RNITKK4[1] }
ble_pack U712_CHIP_RAM.m85_LC_8_16_2 { U712_CHIP_RAM.m85 }
clb_pack LT_8_16 { DBR_SYNC_RNITKK4_1_LC_8_16_1, U712_CHIP_RAM.m85_LC_8_16_2 }
set_location LT_8_16 8 16
ble_pack U712_CYCLE_TERM.TACK_EN_LC_9_5_6 { U712_CYCLE_TERM.TACK_EN_RNO, U712_CYCLE_TERM.TACK_EN }
clb_pack LT_9_5 { U712_CYCLE_TERM.TACK_EN_LC_9_5_6 }
set_location LT_9_5 9 5
ble_pack U712_CHIP_RAM.RAS_SYNC_1_LC_9_9_0 { U712_CHIP_RAM.RAS_SYNC_1_THRU_LUT4_0, U712_CHIP_RAM.RAS_SYNC[1] }
ble_pack U712_CHIP_RAM.RAS_SYNC_2_LC_9_9_1 { U712_CHIP_RAM.RAS_SYNC_2_THRU_LUT4_0, U712_CHIP_RAM.RAS_SYNC[2] }
ble_pack U712_CHIP_RAM.RAS_SYNC_3_LC_9_9_4 { U712_CHIP_RAM.RAS_SYNC_3_THRU_LUT4_0, U712_CHIP_RAM.RAS_SYNC[3] }
clb_pack LT_9_9 { U712_CHIP_RAM.RAS_SYNC_1_LC_9_9_0, U712_CHIP_RAM.RAS_SYNC_2_LC_9_9_1, U712_CHIP_RAM.RAS_SYNC_3_LC_9_9_4 }
set_location LT_9_9 9 9
ble_pack U712_CYCLE_TERM.TACK_START_RNO_0_LC_9_10_5 { U712_CYCLE_TERM.TACK_START_RNO_0 }
clb_pack LT_9_10 { U712_CYCLE_TERM.TACK_START_RNO_0_LC_9_10_5 }
set_location LT_9_10 9 10
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_0_LC_9_11_0 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[0], U712_CHIP_RAM.REFRESH_COUNTER[0], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[0] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_1_LC_9_11_1 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[1], U712_CHIP_RAM.REFRESH_COUNTER[1], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[1] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_2_LC_9_11_2 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[2], U712_CHIP_RAM.REFRESH_COUNTER[2], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[2] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_3_LC_9_11_3 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[3], U712_CHIP_RAM.REFRESH_COUNTER[3], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[3] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_4_LC_9_11_4 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[4], U712_CHIP_RAM.REFRESH_COUNTER[4], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[4] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_5_LC_9_11_5 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[5], U712_CHIP_RAM.REFRESH_COUNTER[5], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[5] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_6_LC_9_11_6 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[6], U712_CHIP_RAM.REFRESH_COUNTER[6], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[6] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_7_LC_9_11_7 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[7], U712_CHIP_RAM.REFRESH_COUNTER[7] }
clb_pack LT_9_11 { U712_CHIP_RAM.REFRESH_COUNTER_0_LC_9_11_0, U712_CHIP_RAM.REFRESH_COUNTER_1_LC_9_11_1, U712_CHIP_RAM.REFRESH_COUNTER_2_LC_9_11_2, U712_CHIP_RAM.REFRESH_COUNTER_3_LC_9_11_3, U712_CHIP_RAM.REFRESH_COUNTER_4_LC_9_11_4, U712_CHIP_RAM.REFRESH_COUNTER_5_LC_9_11_5, U712_CHIP_RAM.REFRESH_COUNTER_6_LC_9_11_6, U712_CHIP_RAM.REFRESH_COUNTER_7_LC_9_11_7 }
set_location LT_9_11 9 11
ble_pack U712_REG_SM.REG_CYCLE_START_LC_9_12_2 { U712_CHIP_RAM.REG_CYCLE_START_2_0_i, U712_REG_SM.REG_CYCLE_START }
ble_pack U712_REG_SM.START_RST_LC_9_12_3 { U712_REG_SM.START_RST_RNO, U712_REG_SM.START_RST }
ble_pack U712_CHIP_RAM.RAS_SYNC_5_LC_9_12_4 { U712_CHIP_RAM.RAS_SYNC_5_THRU_LUT4_0, U712_CHIP_RAM.RAS_SYNC[5] }
ble_pack U712_CHIP_RAM.RAS_SYNC_4_LC_9_12_5 { U712_CHIP_RAM.RAS_SYNC_4_THRU_LUT4_0, U712_CHIP_RAM.RAS_SYNC[4] }
ble_pack U712_CHIP_RAM.CPU_CYCLE_START_LC_9_12_7 { U712_CHIP_RAM.CPU_CYCLE_START_RNO, U712_CHIP_RAM.CPU_CYCLE_START }
clb_pack LT_9_12 { U712_REG_SM.REG_CYCLE_START_LC_9_12_2, U712_REG_SM.START_RST_LC_9_12_3, U712_CHIP_RAM.RAS_SYNC_5_LC_9_12_4, U712_CHIP_RAM.RAS_SYNC_4_LC_9_12_5, U712_CHIP_RAM.CPU_CYCLE_START_LC_9_12_7 }
set_location LT_9_12 9 12
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_RNIBFJU_LC_9_13_0 { U712_CHIP_RAM.DMA_CYCLE_START_RNIBFJU }
ble_pack U712_CHIP_RAM.REFRESH_RNIPMTA2_LC_9_13_1 { U712_CHIP_RAM.REFRESH_RNIPMTA2 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIRTQU5_3_LC_9_13_2 { U712_CHIP_RAM.SDRAM_COUNTER_RNIRTQU5[3] }
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_RNO_0_LC_9_13_3 { U712_CHIP_RAM.DMA_CYCLE_START_RNO_0 }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNIP7AQ_LC_9_13_4 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNIP7AQ }
clb_pack LT_9_13 { U712_CHIP_RAM.DMA_CYCLE_START_RNIBFJU_LC_9_13_0, U712_CHIP_RAM.REFRESH_RNIPMTA2_LC_9_13_1, U712_CHIP_RAM.SDRAM_COUNTER_RNIRTQU5_3_LC_9_13_2, U712_CHIP_RAM.DMA_CYCLE_START_RNO_0_LC_9_13_3, U712_CHIP_RAM.SDRAM_CONFIGURED_RNIP7AQ_LC_9_13_4 }
set_location LT_9_13 9 13
ble_pack U712_REG_SM.C1_SYNC_1_LC_9_14_2 { U712_REG_SM.C1_SYNC_1_THRU_LUT4_0, U712_REG_SM.C1_SYNC[1] }
ble_pack U712_CHIP_RAM.WRITE_CYCLE_LC_9_14_4 { U712_CHIP_RAM.WRITE_CYCLE_RNO, U712_CHIP_RAM.WRITE_CYCLE }
ble_pack U712_REG_SM.C1_SYNC_0_LC_9_14_5 { U712_REG_SM.C1_SYNC_0_THRU_LUT4_0, U712_REG_SM.C1_SYNC[0] }
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_LC_9_14_6 { U712_CHIP_RAM.DMA_CYCLE_START_RNO, U712_CHIP_RAM.DMA_CYCLE_START }
clb_pack LT_9_14 { U712_REG_SM.C1_SYNC_1_LC_9_14_2, U712_CHIP_RAM.WRITE_CYCLE_LC_9_14_4, U712_REG_SM.C1_SYNC_0_LC_9_14_5, U712_CHIP_RAM.DMA_CYCLE_START_LC_9_14_6 }
set_location LT_9_14 9 14
ble_pack U712_CHIP_RAM.m77_LC_9_15_0 { U712_CHIP_RAM.m77 }
ble_pack U712_CHIP_RAM.WRITE_CYCLE_RNO_0_LC_9_15_2 { U712_CHIP_RAM.WRITE_CYCLE_RNO_0 }
ble_pack U712_CHIP_RAM.m82_LC_9_15_3 { U712_CHIP_RAM.m82 }
ble_pack U712_REG_SM.STATE_COUNT_1_LC_9_15_4 { U712_CHIP_RAM.m108, U712_REG_SM.STATE_COUNT[1] }
ble_pack U712_CHIP_RAM.m93_LC_9_15_5 { U712_CHIP_RAM.m93 }
ble_pack U712_REG_SM.STATE_COUNT_2_LC_9_15_6 { U712_CHIP_RAM.m95, U712_REG_SM.STATE_COUNT[2] }
clb_pack LT_9_15 { U712_CHIP_RAM.m77_LC_9_15_0, U712_CHIP_RAM.WRITE_CYCLE_RNO_0_LC_9_15_2, U712_CHIP_RAM.m82_LC_9_15_3, U712_REG_SM.STATE_COUNT_1_LC_9_15_4, U712_CHIP_RAM.m93_LC_9_15_5, U712_REG_SM.STATE_COUNT_2_LC_9_15_6 }
set_location LT_9_15 9 15
ble_pack U712_CHIP_RAM.CAS_COUNTER_RNO_0_0_LC_9_16_0 { U712_CHIP_RAM.CAS_COUNTER_RNO_0[0], U712_CHIP_RAM.un1_CAS_COUNTER_cry_0_c }
ble_pack U712_CHIP_RAM.CAS_COUNTER_RNO_0_1_LC_9_16_1 { U712_CHIP_RAM.CAS_COUNTER_RNO_0[1], U712_CHIP_RAM.un1_CAS_COUNTER_cry_1_c }
ble_pack U712_CHIP_RAM.CAS_COUNTER_RNO_0_2_LC_9_16_2 { U712_CHIP_RAM.CAS_COUNTER_RNO_0[2], U712_CHIP_RAM.un1_CAS_COUNTER_cry_2_c }
ble_pack U712_CHIP_RAM.CAS_COUNTER_RNO_0_3_LC_9_16_3 { U712_CHIP_RAM.CAS_COUNTER_RNO_0[3] }
ble_pack U712_CHIP_RAM.CAS_COUNTER_1_LC_9_16_4 { U712_CHIP_RAM.CAS_COUNTER_RNO[1], U712_CHIP_RAM.CAS_COUNTER[1] }
ble_pack U712_CHIP_RAM.CAS_COUNTER_2_LC_9_16_5 { U712_CHIP_RAM.CAS_COUNTER_RNO[2], U712_CHIP_RAM.CAS_COUNTER[2] }
ble_pack U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNO_0_LC_9_16_6 { U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNO_0 }
ble_pack U712_CHIP_RAM.CAS_COUNTER_3_LC_9_16_7 { U712_CHIP_RAM.CAS_COUNTER_RNO[3], U712_CHIP_RAM.CAS_COUNTER[3] }
clb_pack LT_9_16 { U712_CHIP_RAM.CAS_COUNTER_RNO_0_0_LC_9_16_0, U712_CHIP_RAM.CAS_COUNTER_RNO_0_1_LC_9_16_1, U712_CHIP_RAM.CAS_COUNTER_RNO_0_2_LC_9_16_2, U712_CHIP_RAM.CAS_COUNTER_RNO_0_3_LC_9_16_3, U712_CHIP_RAM.CAS_COUNTER_1_LC_9_16_4, U712_CHIP_RAM.CAS_COUNTER_2_LC_9_16_5, U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNO_0_LC_9_16_6, U712_CHIP_RAM.CAS_COUNTER_3_LC_9_16_7 }
set_location LT_9_16 9 16
ble_pack U712_CHIP_RAM.m6_LC_9_17_3 { U712_CHIP_RAM.m6 }
ble_pack U712_REG_SM.REGENn_ess_RNO_LC_9_17_4 { U712_REG_SM.REGENn_ess_RNO }
clb_pack LT_9_17 { U712_CHIP_RAM.m6_LC_9_17_3, U712_REG_SM.REGENn_ess_RNO_LC_9_17_4 }
set_location LT_9_17 9 17
ble_pack U712_REG_SM.REGENn_ess_LC_9_18_7 { U712_CHIP_RAM.m18_U712_REG_SM.REGENn_ess_REP_LUT4_0, U712_REG_SM.REGENn_ess }
clb_pack LT_9_18 { U712_REG_SM.REGENn_ess_LC_9_18_7 }
set_location LT_9_18 9 18
ble_pack U712_CYCLE_TERM.TACK_OUT_RNO_0_LC_10_5_1 { U712_CYCLE_TERM.TACK_OUT_RNO_0 }
ble_pack U712_CYCLE_TERM.TACK_OUT_LC_10_5_2 { U712_CYCLE_TERM.TACK_OUT_RNO, U712_CYCLE_TERM.TACK_OUT }
ble_pack U712_CYCLE_TERM.TACK_STATE_0_LC_10_5_3 { U712_CYCLE_TERM.TACK_STATE_RNO[0], U712_CYCLE_TERM.TACK_STATE[0] }
ble_pack U712_CYCLE_TERM.TACK_STATE_1_LC_10_5_6 { U712_CYCLE_TERM.TACK_STATE_RNO[1], U712_CYCLE_TERM.TACK_STATE[1] }
clb_pack LT_10_5 { U712_CYCLE_TERM.TACK_OUT_RNO_0_LC_10_5_1, U712_CYCLE_TERM.TACK_OUT_LC_10_5_2, U712_CYCLE_TERM.TACK_STATE_0_LC_10_5_3, U712_CYCLE_TERM.TACK_STATE_1_LC_10_5_6 }
set_location LT_10_5 10 5
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNIEG6A1_LC_10_9_2 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNIEG6A1 }
clb_pack LT_10_9 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNIEG6A1_LC_10_9_2 }
set_location LT_10_9 10 9
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_LC_10_10_0 { U712_CHIP_RAM.REFRESH_RNIU7TF5_U712_CHIP_RAM.CPU_CYCLE_esr_REP_LUT4_0, U712_CHIP_RAM.CPU_CYCLE_esr }
clb_pack LT_10_10 { U712_CHIP_RAM.CPU_CYCLE_esr_LC_10_10_0 }
set_location LT_10_10 10 10
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_RNO_0_LC_10_11_0 { U712_CHIP_RAM.CPU_CYCLE_esr_RNO_0 }
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_RNO_LC_10_11_1 { U712_CHIP_RAM.CPU_CYCLE_esr_RNO }
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_RNIIHAH6_LC_10_11_2 { U712_CHIP_RAM.DMA_CYCLE_START_RNIIHAH6 }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_2_3_LC_10_11_3 { U712_CHIP_RAM.SDRAM_CMD_RNO_2[3] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIFK326_0_LC_10_11_4 { U712_CHIP_RAM.SDRAM_COUNTER_RNIFK326[0] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_1_3_LC_10_11_5 { U712_CHIP_RAM.SDRAM_CMD_RNO_1[3] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_0_3_LC_10_11_6 { U712_CHIP_RAM.SDRAM_CMD_RNO_0[3] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_3_LC_10_11_7 { U712_CHIP_RAM.SDRAM_CMD_RNO[3], U712_CHIP_RAM.SDRAM_CMD[3] }
clb_pack LT_10_11 { U712_CHIP_RAM.CPU_CYCLE_esr_RNO_0_LC_10_11_0, U712_CHIP_RAM.CPU_CYCLE_esr_RNO_LC_10_11_1, U712_CHIP_RAM.DMA_CYCLE_START_RNIIHAH6_LC_10_11_2, U712_CHIP_RAM.SDRAM_CMD_RNO_2_3_LC_10_11_3, U712_CHIP_RAM.SDRAM_COUNTER_RNIFK326_0_LC_10_11_4, U712_CHIP_RAM.SDRAM_CMD_RNO_1_3_LC_10_11_5, U712_CHIP_RAM.SDRAM_CMD_RNO_0_3_LC_10_11_6, U712_CHIP_RAM.SDRAM_CMD_3_LC_10_11_7 }
set_location LT_10_11 10 11
ble_pack U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIRHVM3_LC_10_12_0 { U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIRHVM3 }
ble_pack U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIKHPV5_LC_10_12_1 { U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIKHPV5 }
ble_pack U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIIICT_LC_10_12_2 { U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIIICT }
ble_pack U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNI1EAT_LC_10_12_4 { U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNI1EAT }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_2_LC_10_12_7 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[2], U712_CHIP_RAM.SDRAM_COUNTER[2] }
clb_pack LT_10_12 { U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIRHVM3_LC_10_12_0, U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIKHPV5_LC_10_12_1, U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIIICT_LC_10_12_2, U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNI1EAT_LC_10_12_4, U712_CHIP_RAM.SDRAM_COUNTER_2_LC_10_12_7 }
set_location LT_10_12 10 12
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_0_LC_10_13_1 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[0], U712_CHIP_RAM.SDRAM_COUNTER[0] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI6LG83_3_LC_10_13_2 { U712_CHIP_RAM.SDRAM_COUNTER_RNI6LG83[3] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIBDIU5_3_LC_10_13_3 { U712_CHIP_RAM.SDRAM_COUNTER_RNIBDIU5[3] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_1_0_LC_10_13_4 { U712_CHIP_RAM.SDRAM_CMD_RNO_1[0] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIA1VV6_1_LC_10_13_6 { U712_CHIP_RAM.SDRAM_COUNTER_RNIA1VV6[1] }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNIAEA2H_LC_10_13_7 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNIAEA2H }
clb_pack LT_10_13 { U712_CHIP_RAM.SDRAM_COUNTER_0_LC_10_13_1, U712_CHIP_RAM.SDRAM_COUNTER_RNI6LG83_3_LC_10_13_2, U712_CHIP_RAM.SDRAM_COUNTER_RNIBDIU5_3_LC_10_13_3, U712_CHIP_RAM.SDRAM_CMD_RNO_1_0_LC_10_13_4, U712_CHIP_RAM.SDRAM_COUNTER_RNIA1VV6_1_LC_10_13_6, U712_CHIP_RAM.SDRAM_CONFIGURED_RNIAEA2H_LC_10_13_7 }
set_location LT_10_13 10 13
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_RNO_1_LC_10_14_0 { U712_CHIP_RAM.CPU_CYCLE_esr_RNO_1, U712_CHIP_RAM.SDRAM_COUNTER_cry_c[0] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_1_LC_10_14_1 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[1], U712_CHIP_RAM.SDRAM_COUNTER[1], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[1] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNO_0_2_LC_10_14_2 { U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[2], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[2] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_3_LC_10_14_3 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[3], U712_CHIP_RAM.SDRAM_COUNTER[3], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[3] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_4_LC_10_14_4 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[4], U712_CHIP_RAM.SDRAM_COUNTER[4], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[4] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_5_LC_10_14_5 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[5], U712_CHIP_RAM.SDRAM_COUNTER[5], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[5] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_6_LC_10_14_6 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[6], U712_CHIP_RAM.SDRAM_COUNTER[6], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[6] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_7_LC_10_14_7 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[7], U712_CHIP_RAM.SDRAM_COUNTER[7] }
clb_pack LT_10_14 { U712_CHIP_RAM.CPU_CYCLE_esr_RNO_1_LC_10_14_0, U712_CHIP_RAM.SDRAM_COUNTER_1_LC_10_14_1, U712_CHIP_RAM.SDRAM_COUNTER_RNO_0_2_LC_10_14_2, U712_CHIP_RAM.SDRAM_COUNTER_3_LC_10_14_3, U712_CHIP_RAM.SDRAM_COUNTER_4_LC_10_14_4, U712_CHIP_RAM.SDRAM_COUNTER_5_LC_10_14_5, U712_CHIP_RAM.SDRAM_COUNTER_6_LC_10_14_6, U712_CHIP_RAM.SDRAM_COUNTER_7_LC_10_14_7 }
set_location LT_10_14 10 14
ble_pack U712_CHIP_RAM.RAM_CYCLE_DISABLE_LC_10_15_0 { U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNO, U712_CHIP_RAM.RAM_CYCLE_DISABLE }
ble_pack U712_REG_SM.UDSn_LC_10_15_5 { U712_REG_SM.UDSn_RNO, U712_REG_SM.UDSn }
clb_pack LT_10_15 { U712_CHIP_RAM.RAM_CYCLE_DISABLE_LC_10_15_0, U712_REG_SM.UDSn_LC_10_15_5 }
set_location LT_10_15 10 15
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_8_LC_11_6_2 { U712_CHIP_RAM.DMA_COL_ADDRESS_RNO[8], U712_CHIP_RAM.DMA_COL_ADDRESS[8] }
clb_pack LT_11_6 { U712_CHIP_RAM.DMA_COL_ADDRESS_8_LC_11_6_2 }
set_location LT_11_6 11 6
ble_pack U712_CHIP_RAM.CMA_esr_8_LC_11_7_1 { U712_CHIP_RAM.CMA_esr_RNO[8], U712_CHIP_RAM.CMA_esr[8] }
clb_pack LT_11_7 { U712_CHIP_RAM.CMA_esr_8_LC_11_7_1 }
set_location LT_11_7 11 7
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_0_LC_11_8_1 { U712_CHIP_RAM.CMA_esr_RNO_1[0] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_0_LC_11_8_2 { U712_CHIP_RAM.CMA_esr_RNO_0[0] }
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_RNIHMEA_LC_11_8_3 { U712_CHIP_RAM.CPU_CYCLE_esr_RNIHMEA }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_8_LC_11_8_6 { U712_CHIP_RAM.CMA_esr_RNO_1[8] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_8_LC_11_8_7 { U712_CHIP_RAM.CMA_esr_RNO_0[8] }
clb_pack LT_11_8 { U712_CHIP_RAM.CMA_esr_RNO_1_0_LC_11_8_1, U712_CHIP_RAM.CMA_esr_RNO_0_0_LC_11_8_2, U712_CHIP_RAM.CPU_CYCLE_esr_RNIHMEA_LC_11_8_3, U712_CHIP_RAM.CMA_esr_RNO_1_8_LC_11_8_6, U712_CHIP_RAM.CMA_esr_RNO_0_8_LC_11_8_7 }
set_location LT_11_8 11 8
ble_pack U712_CHIP_RAM.CMA_esr_RNO_2_8_LC_11_9_0 { U712_CHIP_RAM.CMA_esr_RNO_2[8] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_2_0_LC_11_9_2 { U712_CHIP_RAM.CMA_esr_RNO_2[0] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNILLSM_0_LC_11_9_7 { U712_CHIP_RAM.SDRAM_CMD_RNILLSM[0] }
clb_pack LT_11_9 { U712_CHIP_RAM.CMA_esr_RNO_2_8_LC_11_9_0, U712_CHIP_RAM.CMA_esr_RNO_2_0_LC_11_9_2, U712_CHIP_RAM.SDRAM_CMD_RNILLSM_0_LC_11_9_7 }
set_location LT_11_9 11 9
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_0_0_LC_11_10_0 { U712_CHIP_RAM.SDRAM_CMD_RNO_0[0] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_0_LC_11_10_1 { U712_CHIP_RAM.SDRAM_CMD_RNO[0], U712_CHIP_RAM.SDRAM_CMD[0] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIO6RP9_3_LC_11_10_2 { U712_CHIP_RAM.SDRAM_COUNTER_RNIO6RP9[3] }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNISRNIG_LC_11_10_3 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNISRNIG }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_1_2_LC_11_10_4 { U712_CHIP_RAM.SDRAM_CMD_RNO_1[2] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_0_2_LC_11_10_5 { U712_CHIP_RAM.SDRAM_CMD_RNO_0[2] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_2_LC_11_10_6 { U712_CHIP_RAM.SDRAM_CMD_RNO[2], U712_CHIP_RAM.SDRAM_CMD[2] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_2_2_LC_11_10_7 { U712_CHIP_RAM.SDRAM_CMD_RNO_2[2] }
clb_pack LT_11_10 { U712_CHIP_RAM.SDRAM_CMD_RNO_0_0_LC_11_10_0, U712_CHIP_RAM.SDRAM_CMD_0_LC_11_10_1, U712_CHIP_RAM.SDRAM_COUNTER_RNIO6RP9_3_LC_11_10_2, U712_CHIP_RAM.SDRAM_CONFIGURED_RNISRNIG_LC_11_10_3, U712_CHIP_RAM.SDRAM_CMD_RNO_1_2_LC_11_10_4, U712_CHIP_RAM.SDRAM_CMD_RNO_0_2_LC_11_10_5, U712_CHIP_RAM.SDRAM_CMD_2_LC_11_10_6, U712_CHIP_RAM.SDRAM_CMD_RNO_2_2_LC_11_10_7 }
set_location LT_11_10 11 10
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_0_LC_11_11_2 { U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[0], U712_CHIP_RAM.CPU_COL_ADDRESS[0] }
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_8_LC_11_11_3 { U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[8], U712_CHIP_RAM.CPU_COL_ADDRESS[8] }
ble_pack U712_CHIP_RAM.REFRESH_LC_11_11_5 { U712_CHIP_RAM.REFRESH_RNO, U712_CHIP_RAM.REFRESH }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_LC_11_11_7 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNO, U712_CHIP_RAM.SDRAM_CONFIGURED }
clb_pack LT_11_11 { U712_CHIP_RAM.CPU_COL_ADDRESS_0_LC_11_11_2, U712_CHIP_RAM.CPU_COL_ADDRESS_8_LC_11_11_3, U712_CHIP_RAM.REFRESH_LC_11_11_5, U712_CHIP_RAM.SDRAM_CONFIGURED_LC_11_11_7 }
set_location LT_11_11 11 11
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNO_0_0_LC_11_12_0 { U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[0] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIA7LA2_3_LC_11_12_1 { U712_CHIP_RAM.SDRAM_COUNTER_RNIA7LA2[3] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI9VIP2_2_LC_11_12_2 { U712_CHIP_RAM.SDRAM_COUNTER_RNI9VIP2[2] }
ble_pack U712_CHIP_RAM.REFRESH_RNI50JL4_LC_11_12_3 { U712_CHIP_RAM.REFRESH_RNI50JL4 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI9VIP2_0_2_LC_11_12_4 { U712_CHIP_RAM.SDRAM_COUNTER_RNI9VIP2_0[2] }
ble_pack U712_CHIP_RAM.CLK_EN_RNO_3_LC_11_12_5 { U712_CHIP_RAM.CLK_EN_RNO_3 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNO_3_0_LC_11_12_6 { U712_CHIP_RAM.SDRAM_COUNTER_RNO_3[0] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNO_2_0_LC_11_12_7 { U712_CHIP_RAM.SDRAM_COUNTER_RNO_2[0] }
clb_pack LT_11_12 { U712_CHIP_RAM.SDRAM_COUNTER_RNO_0_0_LC_11_12_0, U712_CHIP_RAM.SDRAM_COUNTER_RNIA7LA2_3_LC_11_12_1, U712_CHIP_RAM.SDRAM_COUNTER_RNI9VIP2_2_LC_11_12_2, U712_CHIP_RAM.REFRESH_RNI50JL4_LC_11_12_3, U712_CHIP_RAM.SDRAM_COUNTER_RNI9VIP2_0_2_LC_11_12_4, U712_CHIP_RAM.CLK_EN_RNO_3_LC_11_12_5, U712_CHIP_RAM.SDRAM_COUNTER_RNO_3_0_LC_11_12_6, U712_CHIP_RAM.SDRAM_COUNTER_RNO_2_0_LC_11_12_7 }
set_location LT_11_12 11 12
ble_pack U712_CHIP_RAM.CPU_TACK_RNO_0_LC_11_13_0 { U712_CHIP_RAM.CPU_TACK_RNO_0 }
ble_pack U712_CHIP_RAM.CPU_TACK_RNO_2_LC_11_13_1 { U712_CHIP_RAM.CPU_TACK_RNO_2 }
ble_pack U712_CHIP_RAM.CPU_TACK_RNO_1_LC_11_13_2 { U712_CHIP_RAM.CPU_TACK_RNO_1 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI96LA2_0_2_LC_11_13_3 { U712_CHIP_RAM.SDRAM_COUNTER_RNI96LA2_0[2] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_1_1_LC_11_13_4 { U712_CHIP_RAM.SDRAM_CMD_RNO_1[1] }
ble_pack U712_CHIP_RAM.CPU_TACK_LC_11_13_5 { U712_CHIP_RAM.CPU_TACK_RNO, U712_CHIP_RAM.CPU_TACK }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIAENR1_7_LC_11_13_6 { U712_CHIP_RAM.SDRAM_COUNTER_RNIAENR1[7] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI96LA2_2_LC_11_13_7 { U712_CHIP_RAM.SDRAM_COUNTER_RNI96LA2[2] }
clb_pack LT_11_13 { U712_CHIP_RAM.CPU_TACK_RNO_0_LC_11_13_0, U712_CHIP_RAM.CPU_TACK_RNO_2_LC_11_13_1, U712_CHIP_RAM.CPU_TACK_RNO_1_LC_11_13_2, U712_CHIP_RAM.SDRAM_COUNTER_RNI96LA2_0_2_LC_11_13_3, U712_CHIP_RAM.SDRAM_CMD_RNO_1_1_LC_11_13_4, U712_CHIP_RAM.CPU_TACK_LC_11_13_5, U712_CHIP_RAM.SDRAM_COUNTER_RNIAENR1_7_LC_11_13_6, U712_CHIP_RAM.SDRAM_COUNTER_RNI96LA2_2_LC_11_13_7 }
set_location LT_11_13 11 13
ble_pack U712_CHIP_RAM.WRITE_CYCLE_RNI2E2T2_LC_11_14_0 { U712_CHIP_RAM.WRITE_CYCLE_RNI2E2T2 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIFI279_1_LC_11_14_1 { U712_CHIP_RAM.SDRAM_COUNTER_RNIFI279[1] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI5KG83_3_LC_11_14_2 { U712_CHIP_RAM.SDRAM_COUNTER_RNI5KG83[3] }
ble_pack U712_CHIP_RAM.DMA_CYCLE_RNIAPHI2_LC_11_14_5 { U712_CHIP_RAM.DMA_CYCLE_RNIAPHI2 }
clb_pack LT_11_14 { U712_CHIP_RAM.WRITE_CYCLE_RNI2E2T2_LC_11_14_0, U712_CHIP_RAM.SDRAM_COUNTER_RNIFI279_1_LC_11_14_1, U712_CHIP_RAM.SDRAM_COUNTER_RNI5KG83_3_LC_11_14_2, U712_CHIP_RAM.DMA_CYCLE_RNIAPHI2_LC_11_14_5 }
set_location LT_11_14 11 14
ble_pack U712_CHIP_RAM.CAS_COUNTER_0_LC_11_16_7 { U712_CHIP_RAM.CAS_COUNTER_RNO[0], U712_CHIP_RAM.CAS_COUNTER[0] }
clb_pack LT_11_16 { U712_CHIP_RAM.CAS_COUNTER_0_LC_11_16_7 }
set_location LT_11_16 11 16
ble_pack U712_CHIP_RAM.CMA_esr_4_LC_12_4_0 { U712_CHIP_RAM.CMA_esr_RNO[4], U712_CHIP_RAM.CMA_esr[4] }
ble_pack U712_CHIP_RAM.CMA_esr_3_LC_12_4_2 { U712_CHIP_RAM.CMA_esr_RNO[3], U712_CHIP_RAM.CMA_esr[3] }
ble_pack U712_CHIP_RAM.CMA_esr_10_LC_12_4_5 { U712_CHIP_RAM.CMA_esr_RNO[10], U712_CHIP_RAM.CMA_esr[10] }
clb_pack LT_12_4 { U712_CHIP_RAM.CMA_esr_4_LC_12_4_0, U712_CHIP_RAM.CMA_esr_3_LC_12_4_2, U712_CHIP_RAM.CMA_esr_10_LC_12_4_5 }
set_location LT_12_4 12 4
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_4_LC_12_5_0 { U712_CHIP_RAM.CMA_esr_RNO_0[4] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_3_LC_12_5_5 { U712_CHIP_RAM.CMA_esr_RNO_0[3] }
clb_pack LT_12_5 { U712_CHIP_RAM.CMA_esr_RNO_0_4_LC_12_5_0, U712_CHIP_RAM.CMA_esr_RNO_0_3_LC_12_5_5 }
set_location LT_12_5 12 5
ble_pack U712_CHIP_RAM.CMA_esr_RNO_2_5_LC_12_6_0 { U712_CHIP_RAM.CMA_esr_RNO_2[5] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_2_3_LC_12_6_1 { U712_CHIP_RAM.CMA_esr_RNO_2[3] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_3_LC_12_6_2 { U712_CHIP_RAM.CMA_esr_RNO_1[3] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_2_4_LC_12_6_4 { U712_CHIP_RAM.CMA_esr_RNO_2[4] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_4_LC_12_6_6 { U712_CHIP_RAM.CMA_esr_RNO_1[4] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_5_LC_12_6_7 { U712_CHIP_RAM.CMA_esr_RNO_1[5] }
clb_pack LT_12_6 { U712_CHIP_RAM.CMA_esr_RNO_2_5_LC_12_6_0, U712_CHIP_RAM.CMA_esr_RNO_2_3_LC_12_6_1, U712_CHIP_RAM.CMA_esr_RNO_1_3_LC_12_6_2, U712_CHIP_RAM.CMA_esr_RNO_2_4_LC_12_6_4, U712_CHIP_RAM.CMA_esr_RNO_1_4_LC_12_6_6, U712_CHIP_RAM.CMA_esr_RNO_1_5_LC_12_6_7 }
set_location LT_12_6 12 6
ble_pack U712_CHIP_RAM.CMA_esr_2_LC_12_7_1 { U712_CHIP_RAM.CMA_esr_RNO[2], U712_CHIP_RAM.CMA_esr[2] }
ble_pack U712_CHIP_RAM.CMA_esr_0_LC_12_7_5 { U712_CHIP_RAM.CMA_esr_RNO[0], U712_CHIP_RAM.CMA_esr[0] }
ble_pack U712_CHIP_RAM.CMA_esr_1_LC_12_7_7 { U712_CHIP_RAM.CMA_esr_RNO[1], U712_CHIP_RAM.CMA_esr[1] }
clb_pack LT_12_7 { U712_CHIP_RAM.CMA_esr_2_LC_12_7_1, U712_CHIP_RAM.CMA_esr_0_LC_12_7_5, U712_CHIP_RAM.CMA_esr_1_LC_12_7_7 }
set_location LT_12_7 12 7
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_3_LC_12_8_2 { U712_CHIP_RAM.SDRAM_CMD_RNIA0SO[3] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNI0AO81_3_LC_12_8_3 { U712_CHIP_RAM.SDRAM_CMD_RNI0AO81[3] }
ble_pack CLK40_PLL_derived_clock_RNIIOT_LC_12_8_5 { CLK40_PLL_derived_clock_RNIIOT }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_2_LC_12_8_7 { U712_CHIP_RAM.CMA_esr_RNO_0[2] }
clb_pack LT_12_8 { U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_3_LC_12_8_2, U712_CHIP_RAM.SDRAM_CMD_RNI0AO81_3_LC_12_8_3, CLK40_PLL_derived_clock_RNIIOT_LC_12_8_5, U712_CHIP_RAM.CMA_esr_RNO_0_2_LC_12_8_7 }
set_location LT_12_8 12 8
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNI4VDC_0_LC_12_9_0 { U712_CHIP_RAM.SDRAM_CMD_RNI4VDC[0] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_2_LC_12_9_1 { U712_CHIP_RAM.CMA_esr_RNO_1[2] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_0_1_LC_12_9_5 { U712_CHIP_RAM.SDRAM_CMD_RNO_0[1] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_1_LC_12_9_6 { U712_CHIP_RAM.SDRAM_CMD_RNO[1], U712_CHIP_RAM.SDRAM_CMD[1] }
clb_pack LT_12_9 { U712_CHIP_RAM.SDRAM_CMD_RNI4VDC_0_LC_12_9_0, U712_CHIP_RAM.CMA_esr_RNO_1_2_LC_12_9_1, U712_CHIP_RAM.SDRAM_CMD_RNO_0_1_LC_12_9_5, U712_CHIP_RAM.SDRAM_CMD_1_LC_12_9_6 }
set_location LT_12_9 12 9
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_0_3_LC_12_10_4 { U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_0[3] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_3_1_LC_12_10_5 { U712_CHIP_RAM.SDRAM_CMD_RNO_3[1] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_2_1_LC_12_10_6 { U712_CHIP_RAM.SDRAM_CMD_RNO_2[1] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_2_2_LC_12_10_7 { U712_CHIP_RAM.CMA_esr_RNO_2[2] }
clb_pack LT_12_10 { U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_0_3_LC_12_10_4, U712_CHIP_RAM.SDRAM_CMD_RNO_3_1_LC_12_10_5, U712_CHIP_RAM.SDRAM_CMD_RNO_2_1_LC_12_10_6, U712_CHIP_RAM.CMA_esr_RNO_2_2_LC_12_10_7 }
set_location LT_12_10 12 10
ble_pack U712_CHIP_RAM.REFRESH_RNIU7TF5_LC_12_11_3 { U712_CHIP_RAM.REFRESH_RNIU7TF5 }
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_2_LC_12_11_4 { U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[2], U712_CHIP_RAM.CPU_COL_ADDRESS[2] }
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_3_LC_12_11_5 { U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[3], U712_CHIP_RAM.CPU_COL_ADDRESS[3] }
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_4_LC_12_11_6 { U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[4], U712_CHIP_RAM.CPU_COL_ADDRESS[4] }
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_5_LC_12_11_7 { U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[5], U712_CHIP_RAM.CPU_COL_ADDRESS[5] }
clb_pack LT_12_11 { U712_CHIP_RAM.REFRESH_RNIU7TF5_LC_12_11_3, U712_CHIP_RAM.CPU_COL_ADDRESS_2_LC_12_11_4, U712_CHIP_RAM.CPU_COL_ADDRESS_3_LC_12_11_5, U712_CHIP_RAM.CPU_COL_ADDRESS_4_LC_12_11_6, U712_CHIP_RAM.CPU_COL_ADDRESS_5_LC_12_11_7 }
set_location LT_12_11 12 11
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_RNIJD6O3_LC_12_12_1 { U712_CHIP_RAM.DMA_CYCLE_START_RNIJD6O3 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIQ1M5A_1_LC_12_12_2 { U712_CHIP_RAM.SDRAM_COUNTER_RNIQ1M5A[1] }
ble_pack U712_CHIP_RAM.DMA_CYCLE_LC_12_12_3 { U712_CHIP_RAM.DMA_CYCLE_RNO, U712_CHIP_RAM.DMA_CYCLE }
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_RNICLGI4_LC_12_12_4 { U712_CHIP_RAM.DMA_CYCLE_START_RNICLGI4 }
ble_pack U712_CHIP_RAM.DBDIR_LC_12_12_5 { U712_CHIP_RAM.DBDIR_RNO, U712_CHIP_RAM.DBDIR }
ble_pack U712_CHIP_RAM.DMA_WRITE_CYCLE_LC_12_12_7 { U712_CHIP_RAM.DMA_WRITE_CYCLE_RNO, U712_CHIP_RAM.DMA_WRITE_CYCLE }
clb_pack LT_12_12 { U712_CHIP_RAM.DMA_CYCLE_START_RNIJD6O3_LC_12_12_1, U712_CHIP_RAM.SDRAM_COUNTER_RNIQ1M5A_1_LC_12_12_2, U712_CHIP_RAM.DMA_CYCLE_LC_12_12_3, U712_CHIP_RAM.DMA_CYCLE_START_RNICLGI4_LC_12_12_4, U712_CHIP_RAM.DBDIR_LC_12_12_5, U712_CHIP_RAM.DMA_WRITE_CYCLE_LC_12_12_7 }
set_location LT_12_12 12 12
ble_pack U712_CHIP_RAM.CLK_EN_RNO_1_LC_12_13_0 { U712_CHIP_RAM.CLK_EN_RNO_1 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI9VIP2_3_LC_12_13_1 { U712_CHIP_RAM.SDRAM_COUNTER_RNI9VIP2[3] }
ble_pack U712_CHIP_RAM.WRITE_CYCLE_RNI9THU5_LC_12_13_2 { U712_CHIP_RAM.WRITE_CYCLE_RNI9THU5 }
ble_pack U712_CHIP_RAM.CLK_EN_RNO_2_LC_12_13_3 { U712_CHIP_RAM.CLK_EN_RNO_2 }
ble_pack U712_CHIP_RAM.CLK_EN_RNO_0_LC_12_13_4 { U712_CHIP_RAM.CLK_EN_RNO_0 }
ble_pack U712_CHIP_RAM.CLK_EN_LC_12_13_5 { U712_CHIP_RAM.CLK_EN_RNO, U712_CHIP_RAM.CLK_EN }
ble_pack U712_CHIP_RAM.LATCH_CLK_RNO_1_LC_12_13_6 { U712_CHIP_RAM.LATCH_CLK_RNO_1 }
ble_pack U712_CHIP_RAM.LATCH_CLK_RNO_0_LC_12_13_7 { U712_CHIP_RAM.LATCH_CLK_RNO_0 }
clb_pack LT_12_13 { U712_CHIP_RAM.CLK_EN_RNO_1_LC_12_13_0, U712_CHIP_RAM.SDRAM_COUNTER_RNI9VIP2_3_LC_12_13_1, U712_CHIP_RAM.WRITE_CYCLE_RNI9THU5_LC_12_13_2, U712_CHIP_RAM.CLK_EN_RNO_2_LC_12_13_3, U712_CHIP_RAM.CLK_EN_RNO_0_LC_12_13_4, U712_CHIP_RAM.CLK_EN_LC_12_13_5, U712_CHIP_RAM.LATCH_CLK_RNO_1_LC_12_13_6, U712_CHIP_RAM.LATCH_CLK_RNO_0_LC_12_13_7 }
set_location LT_12_13 12 13
ble_pack U712_REG_SM.ASn_ess_RNO_LC_12_14_4 { U712_REG_SM.ASn_ess_RNO }
clb_pack LT_12_14 { U712_REG_SM.ASn_ess_RNO_LC_12_14_4 }
set_location LT_12_14 12 14
ble_pack U712_REG_SM.LDSn_LC_12_16_5 { U712_REG_SM.LDSn_RNO, U712_REG_SM.LDSn }
clb_pack LT_12_16 { U712_REG_SM.LDSn_LC_12_16_5 }
set_location LT_12_16 12 16
ble_pack U712_CHIP_RAM.CAS_SYNC_1_LC_12_17_1 { U712_CHIP_RAM.CAS_SYNC_1_THRU_LUT4_0, U712_CHIP_RAM.CAS_SYNC[1] }
clb_pack LT_12_17 { U712_CHIP_RAM.CAS_SYNC_1_LC_12_17_1 }
set_location LT_12_17 12 17
ble_pack RESETn_ibuf_RNIM9SF_LC_12_19_4 { RESETn_ibuf_RNIM9SF }
clb_pack LT_12_19 { RESETn_ibuf_RNIM9SF_LC_12_19_4 }
set_location LT_12_19 12 19
ble_pack U712_CHIP_RAM.RASn_LC_13_2_2 { U712_CHIP_RAM.RASn_THRU_LUT4_0, U712_CHIP_RAM.RASn }
clb_pack LT_13_2 { U712_CHIP_RAM.RASn_LC_13_2_2 }
set_location LT_13_2 13 2
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_5_LC_13_5_5 { U712_CHIP_RAM.CMA_esr_RNO_0[5] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_9_LC_13_5_7 { U712_CHIP_RAM.CMA_esr_RNO_0[9] }
clb_pack LT_13_5 { U712_CHIP_RAM.CMA_esr_RNO_0_5_LC_13_5_5, U712_CHIP_RAM.CMA_esr_RNO_0_9_LC_13_5_7 }
set_location LT_13_5 13 5
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_7_LC_13_6_3 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_8_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_7_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[7] }
clb_pack LT_13_6 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_7_LC_13_6_3 }
set_location LT_13_6 13 6
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_7_LC_13_7_2 { U712_CHIP_RAM.CMA_esr_RNO_1[7] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_7_LC_13_7_3 { U712_CHIP_RAM.CMA_esr_RNO_0[7] }
clb_pack LT_13_7 { U712_CHIP_RAM.CMA_esr_RNO_1_7_LC_13_7_2, U712_CHIP_RAM.CMA_esr_RNO_0_7_LC_13_7_3 }
set_location LT_13_7 13 7
ble_pack U712_CHIP_RAM.CMA_esr_RNO_2_7_LC_13_8_3 { U712_CHIP_RAM.CMA_esr_RNO_2[7] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_1_LC_13_8_4 { U712_CHIP_RAM.CMA_esr_RNO_1[1] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_1_LC_13_8_5 { U712_CHIP_RAM.CMA_esr_RNO_0[1] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_6_LC_13_8_6 { U712_CHIP_RAM.CMA_esr_RNO_1[6] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_6_LC_13_8_7 { U712_CHIP_RAM.CMA_esr_RNO_0[6] }
clb_pack LT_13_8 { U712_CHIP_RAM.CMA_esr_RNO_2_7_LC_13_8_3, U712_CHIP_RAM.CMA_esr_RNO_1_1_LC_13_8_4, U712_CHIP_RAM.CMA_esr_RNO_0_1_LC_13_8_5, U712_CHIP_RAM.CMA_esr_RNO_1_6_LC_13_8_6, U712_CHIP_RAM.CMA_esr_RNO_0_6_LC_13_8_7 }
set_location LT_13_8 13 8
ble_pack U712_CHIP_RAM.CMA_esr_6_LC_13_9_5 { U712_CHIP_RAM.CMA_esr_RNO[6], U712_CHIP_RAM.CMA_esr[6] }
clb_pack LT_13_9 { U712_CHIP_RAM.CMA_esr_6_LC_13_9_5 }
set_location LT_13_9 13 9
ble_pack U712_CHIP_RAM.CMA_esr_RNO_2_6_LC_13_10_0 { U712_CHIP_RAM.CMA_esr_RNO_2[6] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_2_1_LC_13_10_2 { U712_CHIP_RAM.CMA_esr_RNO_2[1] }
ble_pack CONSTANT_ONE_LUT4_LC_13_10_4 { CONSTANT_ONE_LUT4 }
clb_pack LT_13_10 { U712_CHIP_RAM.CMA_esr_RNO_2_6_LC_13_10_0, U712_CHIP_RAM.CMA_esr_RNO_2_1_LC_13_10_2, CONSTANT_ONE_LUT4_LC_13_10_4 }
set_location LT_13_10 13 10
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_7_LC_13_11_2 { U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[7], U712_CHIP_RAM.CPU_COL_ADDRESS[7] }
ble_pack U712_CHIP_RAM.DBENn_LC_13_11_3 { U712_CHIP_RAM.DBENn_RNO, U712_CHIP_RAM.DBENn }
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_1_LC_13_11_5 { U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[1], U712_CHIP_RAM.CPU_COL_ADDRESS[1] }
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_6_LC_13_11_6 { U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[6], U712_CHIP_RAM.CPU_COL_ADDRESS[6] }
clb_pack LT_13_11 { U712_CHIP_RAM.CPU_COL_ADDRESS_7_LC_13_11_2, U712_CHIP_RAM.DBENn_LC_13_11_3, U712_CHIP_RAM.CPU_COL_ADDRESS_1_LC_13_11_5, U712_CHIP_RAM.CPU_COL_ADDRESS_6_LC_13_11_6 }
set_location LT_13_11 13 11
ble_pack U712_CHIP_RAM.DBENn_RNO_0_LC_13_12_0 { U712_CHIP_RAM.DBENn_RNO_0 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNO_1_0_LC_13_12_1 { U712_CHIP_RAM.SDRAM_COUNTER_RNO_1[0] }
clb_pack LT_13_12 { U712_CHIP_RAM.DBENn_RNO_0_LC_13_12_0, U712_CHIP_RAM.SDRAM_COUNTER_RNO_1_0_LC_13_12_1 }
set_location LT_13_12 13 12
ble_pack U712_CHIP_RAM.LATCH_CLK_LC_13_13_6 { U712_CHIP_RAM.LATCH_CLK_RNO, U712_CHIP_RAM.LATCH_CLK }
clb_pack LT_13_13 { U712_CHIP_RAM.LATCH_CLK_LC_13_13_6 }
set_location LT_13_13 13 13
ble_pack U712_REG_SM.ASn_ess_LC_13_14_5 { U712_REG_SM.ASn_ess_THRU_LUT4_0, U712_REG_SM.ASn_ess }
clb_pack LT_13_14 { U712_REG_SM.ASn_ess_LC_13_14_5 }
set_location LT_13_14 13 14
ble_pack U712_CHIP_RAM.m74_LC_13_16_3 { U712_CHIP_RAM.m74 }
clb_pack LT_13_16 { U712_CHIP_RAM.m74_LC_13_16_3 }
set_location LT_13_16 13 16
ble_pack U712_CHIP_RAM.m8_LC_13_17_4 { U712_CHIP_RAM.m8 }
ble_pack U712_CHIP_RAM.m11_LC_13_17_7 { U712_CHIP_RAM.m11 }
clb_pack LT_13_17 { U712_CHIP_RAM.m8_LC_13_17_4, U712_CHIP_RAM.m11_LC_13_17_7 }
set_location LT_13_17 13 17
ble_pack U712_CHIP_RAM.CMA_esr_5_LC_14_4_2 { U712_CHIP_RAM.CMA_esr_RNO[5], U712_CHIP_RAM.CMA_esr[5] }
clb_pack LT_14_4 { U712_CHIP_RAM.CMA_esr_5_LC_14_4_2 }
set_location LT_14_4 14 4
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_3_LC_14_5_4 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[3], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[3] }
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_5_LC_14_5_5 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[5], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[5] }
clb_pack LT_14_5 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_3_LC_14_5_4, U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_5_LC_14_5_5 }
set_location LT_14_5 14 5
ble_pack U712_CHIP_RAM.CMA_esr_9_LC_14_6_2 { U712_CHIP_RAM.CMA_esr_RNO[9], U712_CHIP_RAM.CMA_esr[9] }
ble_pack U712_CHIP_RAM.CMA_esr_7_LC_14_6_7 { U712_CHIP_RAM.CMA_esr_RNO[7], U712_CHIP_RAM.CMA_esr[7] }
clb_pack LT_14_6 { U712_CHIP_RAM.CMA_esr_9_LC_14_6_2, U712_CHIP_RAM.CMA_esr_7_LC_14_6_7 }
set_location LT_14_6 14 6
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_8_LC_14_7_4 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[8], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[8] }
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_2_LC_14_7_6 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[2], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[2] }
clb_pack LT_14_7 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_8_LC_14_7_4, U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_2_LC_14_7_6 }
set_location LT_14_7 14 7
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_2_LC_14_8_3 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_3_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_2_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[2] }
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_6_LC_14_8_7 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_7_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_6_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[6] }
clb_pack LT_14_8 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_2_LC_14_8_3, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_6_LC_14_8_7 }
set_location LT_14_8 14 8
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_6_LC_14_9_6 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[6], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[6] }
clb_pack LT_14_9 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_6_LC_14_9_6 }
set_location LT_14_9 14 9
ble_pack U712_CHIP_RAM.DBENn_RNI6U6F1_0_LC_14_14_1 { U712_CHIP_RAM.DBENn_RNI6U6F1_0 }
ble_pack U712_CHIP_RAM.DBENn_RNI8DDB1_LC_14_14_3 { U712_CHIP_RAM.DBENn_RNI8DDB1 }
ble_pack U712_CHIP_RAM.DBENn_RNI8DDB1_0_LC_14_14_4 { U712_CHIP_RAM.DBENn_RNI8DDB1_0 }
ble_pack U712_CHIP_RAM.DMA_CYCLE_RNIMKV8_LC_14_14_5 { U712_CHIP_RAM.DMA_CYCLE_RNIMKV8 }
ble_pack U712_CHIP_RAM.DBENn_RNI6U6F1_LC_14_14_6 { U712_CHIP_RAM.DBENn_RNI6U6F1 }
clb_pack LT_14_14 { U712_CHIP_RAM.DBENn_RNI6U6F1_0_LC_14_14_1, U712_CHIP_RAM.DBENn_RNI8DDB1_LC_14_14_3, U712_CHIP_RAM.DBENn_RNI8DDB1_0_LC_14_14_4, U712_CHIP_RAM.DMA_CYCLE_RNIMKV8_LC_14_14_5, U712_CHIP_RAM.DBENn_RNI6U6F1_LC_14_14_6 }
set_location LT_14_14 14 14
ble_pack U712_CHIP_RAM.m9_LC_14_17_1 { U712_CHIP_RAM.m9 }
ble_pack U712_CHIP_RAM.m13_LC_14_17_6 { U712_CHIP_RAM.m13 }
ble_pack U712_CHIP_RAM.m12_LC_14_17_7 { U712_CHIP_RAM.m12 }
clb_pack LT_14_17 { U712_CHIP_RAM.m9_LC_14_17_1, U712_CHIP_RAM.m13_LC_14_17_6, U712_CHIP_RAM.m12_LC_14_17_7 }
set_location LT_14_17 14 17
ble_pack U712_CHIP_RAM.WEn_LC_15_2_4 { U712_CHIP_RAM.WEn_THRU_LUT4_0, U712_CHIP_RAM.WEn }
clb_pack LT_15_2 { U712_CHIP_RAM.WEn_LC_15_2_4 }
set_location LT_15_2 15 2
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_4_LC_15_4_7 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[4], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[4] }
clb_pack LT_15_4 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_4_LC_15_4_7 }
set_location LT_15_4 15 4
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_3_LC_15_5_0 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_4_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_3_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[3] }
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_4_LC_15_5_7 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_5_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_4_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[4] }
clb_pack LT_15_5 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_3_LC_15_5_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_4_LC_15_5_7 }
set_location LT_15_5 15 5
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_5_LC_15_6_6 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_6_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_5_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[5] }
clb_pack LT_15_6 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_5_LC_15_6_6 }
set_location LT_15_6 15 6
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_1_LC_15_7_6 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[1], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[1] }
clb_pack LT_15_7 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_1_LC_15_7_6 }
set_location LT_15_7 15 7
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_1_LC_15_8_5 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_2_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_1_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[1] }
clb_pack LT_15_8 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_1_LC_15_8_5 }
set_location LT_15_8 15 8
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_0_LC_15_9_3 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_1_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_0_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[0] }
clb_pack LT_15_9 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_0_LC_15_9_3 }
set_location LT_15_9 15 9
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_0_LC_15_10_0 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[0], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[0] }
clb_pack LT_15_10 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_0_LC_15_10_0 }
set_location LT_15_10 15 10
ble_pack U712_CHIP_RAM.DMA_A1_nesr_LC_15_11_2 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_0_U712_CHIP_RAM.DMA_A1_nesr_REP_LUT4_0, U712_CHIP_RAM.DMA_A1_nesr }
clb_pack LT_15_11 { U712_CHIP_RAM.DMA_A1_nesr_LC_15_11_2 }
set_location LT_15_11 15 11
ble_pack U712_CHIP_RAM.DMA_CYCLE_RNIVA8H_LC_15_14_4 { U712_CHIP_RAM.DMA_CYCLE_RNIVA8H }
clb_pack LT_15_14 { U712_CHIP_RAM.DMA_CYCLE_RNIVA8H_LC_15_14_4 }
set_location LT_15_14 15 14
ble_pack U712_CHIP_RAM.CAS_SYNC_0_LC_15_17_4 { U712_CHIP_RAM.CAS_SYNC_RNO[0], U712_CHIP_RAM.CAS_SYNC[0] }
clb_pack LT_15_17 { U712_CHIP_RAM.CAS_SYNC_0_LC_15_17_4 }
set_location LT_15_17 15 17
ble_pack U712_CHIP_RAM.DMA_WRITE_CYCLE_RNIVHJN_LC_15_19_0 { U712_CHIP_RAM.DMA_WRITE_CYCLE_RNIVHJN }
clb_pack LT_15_19 { U712_CHIP_RAM.DMA_WRITE_CYCLE_RNIVHJN_LC_15_19_0 }
set_location LT_15_19 15 19
ble_pack U712_CHIP_RAM.CASn_LC_16_4_0 { U712_CHIP_RAM.CASn_THRU_LUT4_0, U712_CHIP_RAM.CASn }
ble_pack U712_CHIP_RAM.CRCSn_LC_16_4_2 { U712_CHIP_RAM.CRCSn_THRU_LUT4_0, U712_CHIP_RAM.CRCSn }
clb_pack LT_16_4 { U712_CHIP_RAM.CASn_LC_16_4_0, U712_CHIP_RAM.CRCSn_LC_16_4_2 }
set_location LT_16_4 16 4
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_7_LC_16_6_0 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[7], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[7] }
clb_pack LT_16_6 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_7_LC_16_6_0 }
set_location LT_16_6 16 6
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_9_LC_16_7_1 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_RNO[9], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[9] }
clb_pack LT_16_7 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_9_LC_16_7_1 }
set_location LT_16_7 16 7
ble_pack U712_CHIP_RAM.RAS_SYNC_0_LC_16_9_0 { U712_CHIP_RAM.RAS_SYNC_RNO[0], U712_CHIP_RAM.RAS_SYNC[0] }
clb_pack LT_16_9 { U712_CHIP_RAM.RAS_SYNC_0_LC_16_9_0 }
set_location LT_16_9 16 9
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_RNIQ44J_LC_24_19_1 { U712_CHIP_RAM.CPU_CYCLE_esr_RNIQ44J }
ble_pack U712_CHIP_RAM.DMA_WRITE_CYCLE_RNIRVG61_LC_24_19_5 { U712_CHIP_RAM.DMA_WRITE_CYCLE_RNIRVG61 }
clb_pack LT_24_19 { U712_CHIP_RAM.CPU_CYCLE_esr_RNIQ44J_LC_24_19_1, U712_CHIP_RAM.DMA_WRITE_CYCLE_RNIRVG61_LC_24_19_5 }
set_location LT_24_19 24 19
set_location C1_ibuf_RNIPA2A 13 21
set_location RESETn_ibuf_RNIM9SF_0 12 21
set_location DBRn_c_i_0_g_gb 0 11
set_location C3_ibuf_RNIRKME 25 10
set_io TBIn 39
set_io SIZ[1] 1
set_io RAMSPACEn 130
set_io DRA[6] 95
set_io A[0] 12
set_io DRA[9] 106
set_io DBRn 138
set_io A[14] 28
set_io RAMENn 139
set_io CMA[4] 78
set_io A[5] 16
set_io TSn 136
set_io LMBEn 122
set_io DRA[2] 99
set_io DMA_LATCH_EN 134
set_io A[13] 26
set_io CLMBEn 75
set_io AWEn 135
set_io RESETn 94
set_io CMA[1] 48
set_io CLK_EN 84
set_io CASn 62
set_io BANK0 52
set_io A[20] 11
set_io SIZ[0] 2
set_io DRA[7] 91
set_io CMA[8] 82
set_io A[1] 10
set_io CLK40B_OUT 112
set_io A[17] 32
set_io VBENn 44
set_io DRA[1] 101
set_io DA[2] 120
set_io CUMBEn 74
set_io CLKRAM 38
set_io CLK40D_OUT 115
set_io C3 143
set_io ASn 116
set_io UUBEn 125
set_io LDSn 117
set_io LATCH_CLK 137
set_io DRA[8] 90
set_io CMA[5] 79
set_io CASUn 104
set_io A[6] 17
set_io A[15] 29
set_io RAS1n 88
set_io DRDDIR 107
set_io DRA[3] 98
set_io DBDIR 43
set_io A[12] 25
set_io UDSn 118
set_io RnW 144
set_io DRDENn 110
set_io A[4] 15
set_io DBENn 42
set_io CMA[2] 47
set_io CMA[10] 56
set_io BANK1 49
set_io A[10] 23
set_io UMBEn 121
set_io RAS0n 87
set_io DRA[4] 97
set_io DA[1] 128
set_io CMA[9] 83
set_io A[2] 8
set_io A[19] 34
set_io PRnW 119
set_io CUUBEn 85
set_io CRCSn 60
set_io CMA[0] 55
set_io CLLBEn 45
set_io CLK40C_OUT 21
set_io CASLn 105
set_io BLSn 113
set_io A[9] 22
set_io A[16] 31
set_io TCIn 64
set_io WEn 73
set_io REGENn 141
set_io LLBEn 124
set_io CMA[6] 80
set_io A[7] 18
set_io DRA[0] 102
set_io CLK40_IN 20
set_io REGSPACEn 41
set_io CMA[3] 76
set_io RASn 61
set_io DRA[5] 96
set_io A[3] 9
set_io A[18] 33
set_io AGNUS_REV 114
set_io A[11] 24
set_io TACKn 7
set_io DA[0] 129
set_io C1 142
set_io CMA[7] 81
set_io A[8] 19
