set_location IN_MUX_bfv_9_11_0_ 9 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_14_0_ 10 14 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_16_0_ 9 16 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 13 10 4 #SB_LUT4
set_location U712_REG_SM.C3_SYNC_1_THRU_LUT4_0 7 14 4 #SB_LUT4
set_location U712_REG_SM.C3_SYNC_0_THRU_LUT4_0 7 14 1 #SB_LUT4
set_location U712_REG_SM.C1_SYNC_1_THRU_LUT4_0 9 14 2 #SB_LUT4
set_location U712_REG_SM.C1_SYNC_0_THRU_LUT4_0 9 14 5 #SB_LUT4
set_location U712_REG_SM.ASn_ess_THRU_LUT4_0 13 14 5 #SB_LUT4
set_location U712_CHIP_RAM.m18_U712_REG_SM.REGENn_ess_REP_LUT4_0 9 18 7 #SB_LUT4
set_location U712_CHIP_RAM.WEn_THRU_LUT4_0 15 2 4 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_RNIU7TF5_U712_CHIP_RAM.CPU_CYCLE_esr_REP_LUT4_0 10 10 0 #SB_LUT4
set_location U712_CHIP_RAM.RASn_THRU_LUT4_0 13 2 2 #SB_LUT4
set_location U712_CHIP_RAM.RAS_SYNC_5_THRU_LUT4_0 9 12 4 #SB_LUT4
set_location U712_CHIP_RAM.RAS_SYNC_4_THRU_LUT4_0 9 12 5 #SB_LUT4
set_location U712_CHIP_RAM.RAS_SYNC_3_THRU_LUT4_0 9 9 4 #SB_LUT4
set_location U712_CHIP_RAM.RAS_SYNC_2_THRU_LUT4_0 9 9 1 #SB_LUT4
set_location U712_CHIP_RAM.RAS_SYNC_1_THRU_LUT4_0 9 9 0 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_8_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_7_REP_LUT4_0 13 6 3 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_7_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_6_REP_LUT4_0 14 8 7 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_6_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_5_REP_LUT4_0 15 6 6 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_5_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_4_REP_LUT4_0 15 5 7 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_4_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_3_REP_LUT4_0 15 5 0 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_3_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_2_REP_LUT4_0 14 8 3 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_2_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_1_REP_LUT4_0 15 8 5 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_1_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_0_REP_LUT4_0 15 9 3 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_0_U712_CHIP_RAM.DMA_A1_nesr_REP_LUT4_0 15 11 2 #SB_LUT4
set_location U712_CHIP_RAM.CRCSn_THRU_LUT4_0 16 4 2 #SB_LUT4
set_location U712_CHIP_RAM.CASn_THRU_LUT4_0 16 4 0 #SB_LUT4
set_location U712_CHIP_RAM.CAS_SYNC_1_THRU_LUT4_0 12 17 1 #SB_LUT4
set_location DBR_SYNC_1_THRU_LUT4_0 7 16 1 #SB_LUT4
set_location DBR_SYNC_0_THRU_LUT4_0 7 17 3 #SB_LUT4
set_location U712_CHIP_RAM.m18 7 13 0 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[1] 9 11 1 #SB_LUT4
set_location U712_CHIP_RAM.RAS_SYNC[3] 9 9 4 #SB_DFFSR
set_location U712_CHIP_RAM.m77 9 15 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[5] 10 14 5 #SB_CARRY
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[0] 15 10 0 #SB_DFFESR
set_location U712_CHIP_RAM.CMA_esr_RNO_0[7] 13 7 3 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[0] 12 7 5 #SB_LUT4
set_location U712_CHIP_RAM.CAS_COUNTER[1] 9 16 4 #SB_DFF
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_1[0] 10 13 4 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[3] 9 11 3 #SB_CARRY
set_location U712_CHIP_RAM.N_90_0_i 8 13 0 #SB_LUT4
set_location U712_CHIP_RAM.DBDIR_RNO 12 12 5 #SB_LUT4
set_location U712_REG_SM.REGENn_ess_RNO 9 17 4 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_EN 9 5 6 #SB_DFFNSR
set_location U712_CHIP_RAM.CMA_esr[7] 14 6 7 #SB_DFFESR
set_location U712_CHIP_RAM.m9 14 17 1 #SB_LUT4
set_location U712_CHIP_RAM.WRITE_CYCLE_RNO 9 14 4 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_RNIPMTA2 9 13 1 #SB_LUT4
set_location U712_CHIP_RAM.m79 8 12 7 #SB_LUT4
set_location U712_CHIP_RAM.DMA_WRITE_CYCLE 12 12 7 #SB_DFFSR
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNIJD6O3 12 12 1 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNICLGI4 12 12 4 #SB_LUT4
set_location U712_CHIP_RAM.CPU_COL_ADDRESS[6] 13 11 6 #SB_DFFSR
set_location U712_CYCLE_TERM.TACK_STATE_RNO[0] 10 5 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER[4] 10 14 4 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[3] 10 11 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNI4VDC[0] 12 9 0 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[7] 9 11 7 #SB_DFFR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[2] 14 8 3 #SB_DFFNESR
set_location U712_REG_SM.STATE_COUNT[2] 9 15 6 #SB_DFF
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIAEA2H 10 13 7 #SB_LUT4
set_location U712_CHIP_RAM.CAS_COUNTER_RNO[1] 9 16 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[6] 10 14 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI6LG83[3] 10 13 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNISRNIG 11 10 3 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[2] 9 11 2 #SB_LUT4
set_location U712_CHIP_RAM.RAS_SYNC[0] 16 9 0 #SB_DFFSR
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4[2] 14 7 6 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE 12 12 3 #SB_DFFSR
set_location U712_CHIP_RAM.CMA_esr_RNO_2[5] 12 6 0 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_START 8 10 4 #SB_DFFR
set_location U712_CHIP_RAM.REFRESH_RNIU7TF5 12 11 3 #SB_LUT4
set_location U712_CHIP_RAM.CPU_TACK 11 13 5 #SB_DFFSR
set_location U712_CHIP_RAM.CMA_esr_RNO[5] 14 4 2 #SB_LUT4
set_location U712_CHIP_RAM.CAS_COUNTER[2] 9 16 5 #SB_DFF
set_location U712_REG_SM.C3_SYNC[0] 7 14 1 #SB_DFFSS
set_location U712_CHIP_RAM.CLK_EN_RNO_1 12 13 0 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[6] 9 11 6 #SB_CARRY
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[0] 11 11 2 #SB_LUT4
set_location U712_CHIP_RAM.CRCSn 16 4 2 #SB_DFFSS
set_location U712_CHIP_RAM.CPU_CYCLE_esr_RNIHMEA 11 8 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_3[1] 12 10 5 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_RNI50JL4 11 12 3 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_RNO 12 12 3 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[8] 11 7 1 #SB_DFFESR
set_location U712_CHIP_RAM.SDRAM_CONFIGURED 11 11 7 #SB_DFFSR
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4[8] 14 7 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[2] 10 14 2 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_2[1] 12 10 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD[1] 12 9 6 #SB_DFF
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[9] 16 7 1 #SB_DFFESR
set_location U712_CHIP_RAM.CPU_COL_ADDRESS[3] 12 11 5 #SB_DFFSR
set_location U712_REG_SM.UDSn 10 15 5 #SB_DFFSS
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI96LA2[2] 11 13 7 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNI0AO81[3] 12 8 3 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[4] 9 11 4 #SB_DFFR
set_location U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNO 10 15 0 #SB_LUT4
set_location U712_CHIP_RAM.CLK_EN_RNO 12 13 5 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT[1] 9 15 4 #SB_DFF
set_location U712_CHIP_RAM.m113_0 8 12 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIBDIU5[3] 10 13 3 #SB_LUT4
set_location U712_REG_SM.REG_CYCLE_START 9 12 2 #SB_DFFSR
set_location U712_CHIP_RAM.RAS_SYNC[5] 9 12 4 #SB_DFFSR
set_location U712_CHIP_RAM.LATCH_CLK_RNO 13 13 6 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4[5] 14 5 5 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_2[0] 11 9 2 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNO_0 9 13 3 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[9] 13 5 7 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[3] 10 11 7 #SB_LUT4
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[5] 12 11 7 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[0] 11 12 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNO 11 11 7 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[1] 13 8 4 #SB_LUT4
set_location U712_CHIP_RAM.WRITE_CYCLE 9 14 4 #SB_DFFSR
set_location U712_CHIP_RAM.CPU_CYCLE_esr_RNO_0 10 11 0 #SB_LUT4
set_location U712_REG_SM.WRITE_CYCLE 8 15 3 #SB_DFFSR
set_location U712_CHIP_RAM.m111 7 12 3 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[5] 9 11 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[1] 10 14 1 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_CMD[2] 11 10 6 #SB_DFF
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[4] 15 4 7 #SB_DFFESR
set_location U712_CHIP_RAM.CPU_COL_ADDRESS[0] 11 11 2 #SB_DFFSR
set_location U712_CHIP_RAM.CMA_esr_RNO_0[3] 12 5 5 #SB_LUT4
set_location CLK40_PLL_derived_clock_RNIIOT 12 8 5 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT[4] 7 13 2 #SB_DFF
set_location DBR_SYNC[0] 7 17 3 #SB_DFFSS
set_location U712_REG_SM.WRITE_CYCLE_RNO 8 15 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO_3[0] 11 12 6 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[10] 12 4 5 #SB_DFFESR
set_location CLKRAM_obuf_RNO 3 1 5 #SB_LUT4
set_location U712_REG_SM.ASn_ess 13 14 5 #SB_DFFESS
set_location U712_CYCLE_TERM.TACK_STATE[0] 10 5 3 #SB_DFFN
set_location U712_CHIP_RAM.m11 13 17 7 #SB_LUT4
set_location U712_CHIP_RAM.m106_ns_1 8 14 0 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_2[3] 12 6 1 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[3] 12 4 2 #SB_DFFESR
set_location U712_CHIP_RAM.CPU_TACK_RNO 11 13 5 #SB_LUT4
set_location U712_CHIP_RAM.DBENn_RNI8DDB1 14 14 3 #SB_LUT4
set_location U712_CHIP_RAM.CAS_SYNC_RNO[0] 15 17 4 #SB_LUT4
set_location U712_CHIP_RAM.CAS_COUNTER_RNO_0[0] 9 16 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIFK326[0] 10 11 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER[0] 10 13 1 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[0] 11 10 1 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[3] 9 11 3 #SB_DFFR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[6] 14 8 7 #SB_DFFNESR
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[6] 13 11 6 #SB_LUT4
set_location U712_CHIP_RAM.CASn 16 4 0 #SB_DFFSS
set_location U712_REG_SM.REG_TACK 7 11 0 #SB_DFFSR
set_location U712_CHIP_RAM.CMA_esr_RNO_1[6] 13 8 6 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_START_RNO_0 9 10 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[2] 10 12 7 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[6] 9 11 6 #SB_LUT4
set_location U712_CHIP_RAM.DMA_WRITE_CYCLE_RNIVHJN 15 19 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[4] 10 14 4 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIFI279[1] 11 14 1 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[3] 14 5 4 #SB_DFFESR
set_location U712_CHIP_RAM.CMA_esr_RNO[1] 12 7 7 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[6] 13 8 7 #SB_LUT4
set_location U712_CHIP_RAM.DBDIR 12 12 5 #SB_DFFSS
set_location DBR_SYNC_RNITKK4[1] 8 16 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_1[1] 11 13 4 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[2] 9 11 2 #SB_CARRY
set_location U712_CHIP_RAM.m90 8 13 7 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_RNIVA8H 15 14 4 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_esr_RNO 10 11 1 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[8] 11 8 6 #SB_LUT4
set_location U712_REG_SM.REGENn_ess 9 18 7 #SB_DFFESS
set_location U712_CHIP_RAM.CPU_TACK_RNO_0 11 13 0 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[4] 12 4 0 #SB_DFFESR
set_location U712_CHIP_RAM.m85 8 16 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI5KG83[3] 11 14 2 #SB_LUT4
set_location U712_CHIP_RAM.m78 8 13 6 #SB_LUT4
set_location U712_CHIP_RAM.REG_CYCLE_START_2_0_i 9 12 2 #SB_LUT4
set_location U712_CHIP_RAM.CPU_COL_ADDRESS[7] 13 11 2 #SB_DFFSR
set_location U712_CHIP_RAM.SDRAM_COUNTER[5] 10 14 5 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[2] 11 10 5 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[0] 9 11 0 #SB_DFFR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[1] 15 8 5 #SB_DFFNESR
set_location U712_CHIP_RAM.m102 8 14 6 #SB_LUT4
set_location U712_CHIP_RAM.CAS_COUNTER_RNO[2] 9 16 5 #SB_LUT4
set_location U712_REG_SM.LDSn_RNO 12 16 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[7] 10 14 7 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIP7AQ 9 13 4 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[3] 9 11 3 #SB_LUT4
set_location U712_CHIP_RAM.RAS_SYNC[1] 9 9 0 #SB_DFFSR
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4[1] 15 7 6 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNO 9 12 7 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_2[4] 12 6 4 #SB_LUT4
set_location U712_CHIP_RAM.WRITE_CYCLE_RNI2E2T2 11 14 0 #SB_LUT4
set_location U712_CHIP_RAM.RAS_SYNC_RNO[0] 16 9 0 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[6] 13 9 5 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[5] 13 5 5 #SB_LUT4
set_location U712_CHIP_RAM.CAS_COUNTER[3] 9 16 7 #SB_DFF
set_location U712_REG_SM.C3_SYNC[1] 7 14 4 #SB_DFFSS
set_location U712_CHIP_RAM.un1_CAS_COUNTER_cry_2_c 9 16 2 #SB_CARRY
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNIBFJU 9 13 0 #SB_LUT4
set_location U712_CHIP_RAM.DMA_A1_nesr 15 11 2 #SB_DFFNESR
set_location U712_CHIP_RAM.CLK_EN_RNO_2 12 13 3 #SB_LUT4
set_location U712_REG_SM.REG_CYCLE 8 14 3 #SB_DFF
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[5] 9 11 5 #SB_CARRY
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[1] 13 11 5 #SB_LUT4
set_location U712_CHIP_RAM.m93 9 15 5 #SB_LUT4
set_location U712_CHIP_RAM.m108 9 15 4 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_RNO[9] 16 7 1 #SB_LUT4
set_location U712_CHIP_RAM.m20_e 8 13 5 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[9] 14 6 2 #SB_DFFESR
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[8] 14 7 4 #SB_DFFESR
set_location U712_CHIP_RAM.CPU_COL_ADDRESS[4] 12 11 6 #SB_DFFSR
set_location U712_REG_SM.REG_CYCLE_RNO 8 14 3 #SB_LUT4
set_location U712_REG_SM.ASn_ess_RNO 12 14 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIRTQU5[3] 9 13 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER[6] 10 14 6 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[1] 12 9 5 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[5] 9 11 5 #SB_DFFR
set_location U712_REG_SM.STATE_COUNT[0] 8 13 3 #SB_DFF
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIEG6A1 10 9 2 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_RNO_0 8 11 3 #SB_LUT4
set_location U712_REG_SM.LDSn 12 16 5 #SB_DFFSS
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[4] 10 14 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIAENR1[7] 11 13 6 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH 11 11 5 #SB_DFFSR
set_location U712_CHIP_RAM.CAS_COUNTER_RNO_0[1] 9 16 1 #SB_LUT4
set_location U712_REG_SM.C1_SYNC[0] 9 14 5 #SB_DFFSS
set_location U712_CYCLE_TERM.TACK_START_RNO 8 10 4 #SB_LUT4
set_location U712_CHIP_RAM.m6 9 17 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER[3] 10 14 3 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_0[3] 12 10 4 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[2] 9 11 2 #SB_DFFR
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4[4] 15 4 7 #SB_LUT4
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[7] 13 6 3 #SB_DFFNESR
set_location U712_CHIP_RAM.CMA_esr_RNO_2[7] 13 8 3 #SB_LUT4
set_location DBRn_ibuf_RNIBAB 6 13 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO_2[0] 11 12 7 #SB_LUT4
set_location U712_CHIP_RAM.LATCH_CLK_RNO_0 12 13 7 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[5] 12 6 7 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[8] 11 8 7 #SB_LUT4
set_location U712_CHIP_RAM.WRITE_CYCLE_RNI9THU5 12 13 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[1] 10 14 1 #SB_LUT4
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[2] 12 11 4 #SB_LUT4
set_location U712_CHIP_RAM.CAS_SYNC[1] 12 17 1 #SB_DFFSR
set_location U712_CHIP_RAM.m96 8 13 2 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle[9] 2 11 1 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[2] 12 9 1 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_OUT_RNO 10 5 2 #SB_LUT4
set_location U712_CHIP_RAM.DBENn_RNI8DDB1_0 14 14 4 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_esr_RNO_1 10 14 0 #SB_LUT4
set_location U712_CHIP_RAM.DBENn_RNO_0 13 12 0 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT_RNO[5] 7 13 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[0] 10 14 0 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_2[3] 10 11 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD[3] 10 11 7 #SB_DFF
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[7] 16 6 0 #SB_DFFESR
set_location U712_CHIP_RAM.CPU_COL_ADDRESS[1] 13 11 5 #SB_DFFSR
set_location U712_CHIP_RAM.CMA_esr_RNO_0[2] 12 8 7 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT[7] 8 13 4 #SB_DFF
set_location U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIIICT 10 12 2 #SB_LUT4
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[8] 11 11 3 #SB_LUT4
set_location U712_CHIP_RAM.DBENn_RNI6U6F1 14 14 6 #SB_LUT4
set_location RESETn_ibuf_RNIM9SF 12 19 4 #SB_LUT4
set_location U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNO_0 9 16 6 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4[7] 16 6 0 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_2[2] 12 10 7 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[0] 12 7 5 #SB_DFFESR
set_location U712_CHIP_RAM.m81 7 13 2 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[8] 11 7 1 #SB_LUT4
set_location U712_CHIP_RAM.m106_ns 8 14 7 #SB_LUT4
set_location U712_CHIP_RAM.CAS_COUNTER_RNO_0[3] 9 16 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER[1] 10 14 1 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[1] 12 9 6 #SB_LUT4
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[5] 15 6 6 #SB_DFFNESR
set_location U712_CHIP_RAM.DBENn_RNI6U6F1_0 14 14 1 #SB_LUT4
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[7] 13 11 2 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[7] 13 7 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[3] 10 14 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI9VIP2[2] 11 12 2 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNIIHAH6 10 11 2 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_START 9 14 6 #SB_DFFSR
set_location U712_CHIP_RAM.m117 7 13 1 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[7] 9 11 7 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[2] 14 7 6 #SB_DFFESR
set_location U712_CHIP_RAM.CMA_esr_RNO[2] 12 7 1 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[1] 13 8 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_1[2] 11 10 4 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[1] 9 11 1 #SB_CARRY
set_location U712_CHIP_RAM.DMA_CYCLE_RNIAPHI2 11 14 5 #SB_LUT4
set_location U712_CHIP_RAM.m13 14 17 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIQ1M5A[1] 12 12 2 #SB_LUT4
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_RNO[8] 11 6 2 #SB_LUT4
set_location U712_CHIP_RAM.CPU_TACK_RNO_1 11 13 2 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_esr_RNIQ44J 24 19 1 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[5] 14 4 2 #SB_DFFESR
set_location U712_CHIP_RAM.m86 8 13 1 #SB_LUT4
set_location U712_CHIP_RAM.CPU_COL_ADDRESS[8] 11 11 3 #SB_DFFSR
set_location U712_CHIP_RAM.SDRAM_COUNTER[2] 10 12 7 #SB_DFFE
set_location U712_CHIP_RAM.REFRESH_COUNTER[1] 9 11 1 #SB_DFFR
set_location U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIKHPV5 10 12 1 #SB_LUT4
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[0] 15 9 3 #SB_DFFNESR
set_location U712_CHIP_RAM.m101 7 12 5 #SB_LUT4
set_location U712_CHIP_RAM.LATCH_CLK_RNO_1 12 13 6 #SB_LUT4
set_location U712_CHIP_RAM.DMA_WRITE_CYCLE_RNO 12 12 7 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[4] 12 6 6 #SB_LUT4
set_location U712_CHIP_RAM.CAS_COUNTER_RNO[3] 9 16 7 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[0] 10 13 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIA7LA2[3] 11 12 1 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[0] 9 11 0 #SB_LUT4
set_location U712_CHIP_RAM.RAS_SYNC[2] 9 9 1 #SB_DFFSR
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4[0] 15 10 0 #SB_LUT4
set_location U712_CHIP_RAM.m74 13 16 3 #SB_LUT4
set_location U712_CHIP_RAM.DMA_WRITE_CYCLE_RNIRVG61 24 19 5 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[1] 15 7 6 #SB_DFFESR
set_location U712_CHIP_RAM.CPU_CYCLE_esr_RNI59L8 8 5 1 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[7] 14 6 7 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[4] 12 5 0 #SB_LUT4
set_location U712_CHIP_RAM.CAS_COUNTER[0] 11 16 7 #SB_DFF
set_location U712_CHIP_RAM.CLK_EN_RNO_3 11 12 5 #SB_LUT4
set_location U712_CHIP_RAM.un1_CAS_COUNTER_cry_1_c 9 16 1 #SB_CARRY
set_location U712_CHIP_RAM.STATE_COUNT_nss_0_i[0] 8 13 3 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[4] 9 11 4 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIO6RP9[3] 11 10 2 #SB_LUT4
set_location U712_CHIP_RAM.LATCH_CLK 13 13 6 #SB_DFFSR
set_location U712_CHIP_RAM.CMA_esr_RNO_2[8] 11 9 0 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[6] 13 9 5 #SB_DFFESR
set_location U712_CHIP_RAM.m8 13 17 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNILLSM[0] 11 9 7 #SB_LUT4
set_location U712_CHIP_RAM.un1_CAS_COUNTER_cry_0_c 9 16 0 #SB_CARRY
set_location U712_CHIP_RAM.REFRESH_RNO 11 11 5 #SB_LUT4
set_location U712_CHIP_RAM.CPU_COL_ADDRESS[5] 12 11 7 #SB_DFFSR
set_location U712_REG_SM.REG_TACK_RNO 7 11 0 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE_RNO[1] 10 5 6 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_EN_RNO 9 5 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER[7] 10 14 7 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[0] 11 10 0 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[6] 9 11 6 #SB_DFFR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[3] 15 5 0 #SB_DFFNESR
set_location U712_REG_SM.STATE_COUNT[3] 7 13 1 #SB_DFF
set_location U712_CHIP_RAM.CAS_COUNTER_RNO[0] 11 16 7 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[5] 10 14 5 #SB_LUT4
set_location U712_REG_SM.C1_SYNC[1] 9 14 2 #SB_DFFSS
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4[3] 14 5 4 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_2[6] 13 10 0 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location U712_REG_SM.PRnW_RNO 8 15 4 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[4] 12 4 0 #SB_LUT4
set_location U712_REG_SM.START_RST 9 12 3 #SB_DFFSR
set_location U712_CHIP_RAM.CLK_EN_RNO_0 12 13 4 #SB_LUT4
set_location U712_CHIP_RAM.WEn 15 2 4 #SB_DFFSS
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[3] 12 11 5 #SB_LUT4
set_location U712_CHIP_RAM.CAS_SYNC[0] 15 17 4 #SB_DFFSR
set_location U712_CHIP_RAM.m95 9 15 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[2] 10 14 2 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_esr 10 10 0 #SB_DFFESR
set_location U712_CHIP_RAM.CMA_esr_RNO_1[3] 12 6 2 #SB_LUT4
set_location U712_CHIP_RAM.WRITE_CYCLE_RNO_0 9 15 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[3] 10 14 3 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_2[2] 11 10 7 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD[0] 11 10 1 #SB_DFF
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[6] 14 9 6 #SB_DFFESR
set_location U712_CHIP_RAM.CPU_COL_ADDRESS[2] 12 11 4 #SB_DFFSR
set_location U712_REG_SM.PRnW 8 15 4 #SB_DFFSS
set_location U712_REG_SM.STATE_COUNT[6] 8 13 7 #SB_DFF
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIA1VV6[1] 10 13 6 #SB_LUT4
set_location U712_CHIP_RAM.RASn 13 2 2 #SB_DFFSS
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNO 9 14 6 #SB_LUT4
set_location U712_CHIP_RAM.DMA_COL_ADDRESS[8] 11 6 2 #SB_DFFNSR
set_location U712_CHIP_RAM.RAM_CYCLE_DISABLE 10 15 0 #SB_DFFSR
set_location U712_CHIP_RAM.CPU_CYCLE_START 9 12 7 #SB_DFFSR
set_location U712_CYCLE_TERM.TACK_OUT_RNO_0 10 5 1 #SB_LUT4
set_location U712_CHIP_RAM.RAS_SYNC[4] 9 12 5 #SB_DFFSR
set_location U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNI1EAT 10 12 4 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4[6] 14 9 6 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_2[1] 13 10 2 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[1] 12 7 7 #SB_DFFESR
set_location U712_CHIP_RAM.m82 9 15 3 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[9] 14 6 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNIA0SO[3] 12 8 2 #SB_LUT4
set_location U712_CHIP_RAM.DBENn_RNO 13 11 3 #SB_LUT4
set_location U712_CHIP_RAM.CAS_COUNTER_RNO_0[2] 9 16 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI9VIP2_0[2] 11 12 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[2] 11 10 6 #SB_LUT4
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[4] 15 5 7 #SB_DFFNESR
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[4] 12 11 6 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT[8] 8 13 0 #SB_DFF
set_location U712_CHIP_RAM.m98 8 14 4 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[0] 11 8 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI9VIP2[3] 12 13 1 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_OUT 10 5 2 #SB_DFFN
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[4] 9 11 4 #SB_LUT4
set_location U712_CHIP_RAM.CLK_EN 12 13 5 #SB_DFFSS
set_location U712_REG_SM.STATE_COUNT_RNO[7] 8 13 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[6] 10 14 6 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO_1[0] 13 12 1 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[5] 14 5 5 #SB_DFFESR
set_location U712_CHIP_RAM.DMA_CYCLE_RNIMKV8 14 14 5 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[3] 12 4 2 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[0] 11 8 2 #SB_LUT4
set_location U712_REG_SM.UDSn_RNO 10 15 5 #SB_LUT4
set_location U712_CHIP_RAM.DBENn 13 11 3 #SB_DFFSS
set_location U712_REG_SM.STATE_COUNT[5] 7 13 5 #SB_DFF
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_1[3] 10 11 5 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[0] 9 11 0 #SB_CARRY
set_location DBR_SYNC[1] 7 16 1 #SB_DFFSS
set_location U712_REG_SM.START_RST_RNO 9 12 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI96LA2_0[2] 11 13 3 #SB_LUT4
set_location U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIRHVM3 10 12 0 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[10] 12 4 5 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE[1] 10 5 6 #SB_DFFN
set_location U712_CHIP_RAM.m12 14 17 7 #SB_LUT4
set_location U712_CHIP_RAM.CPU_TACK_RNO_2 11 13 1 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[2] 12 7 1 #SB_DFFESR
set_io TBIn 39
set_io SIZ[1] 1
set_io RAMSPACEn 130
set_io DRA[6] 95
set_io A[0] 12
set_io DRA[9] 106
set_io DBRn 138
set_io A[14] 28
set_io RAMENn 139
set_io CMA[4] 78
set_io A[5] 16
set_io TSn 136
set_io LMBEn 122
set_io DRA[2] 99
set_io DMA_LATCH_EN 134
set_io A[13] 26
set_io CLMBEn 75
set_io AWEn 135
set_io RESETn 94
set_io CMA[1] 48
set_io CLK_EN 84
set_io CASn 62
set_io BANK0 52
set_io A[20] 11
set_io SIZ[0] 2
set_io DRA[7] 91
set_io CMA[8] 82
set_io A[1] 10
set_io CLK40B_OUT 112
set_io A[17] 32
set_io VBENn 44
set_io DRA[1] 101
set_io DA[2] 120
set_io CUMBEn 74
set_io CLKRAM 38
set_io CLK40D_OUT 115
set_io C3 143
set_io ASn 116
set_io UUBEn 125
set_io LDSn 117
set_io LATCH_CLK 137
set_io DRA[8] 90
set_io CMA[5] 79
set_io CASUn 104
set_io A[6] 17
set_io A[15] 29
set_io RAS1n 88
set_io DRDDIR 107
set_io DRA[3] 98
set_io DBDIR 43
set_io A[12] 25
set_io UDSn 118
set_io RnW 144
set_io DRDENn 110
set_io A[4] 15
set_io DBENn 42
set_io CMA[2] 47
set_io CMA[10] 56
set_io BANK1 49
set_io A[10] 23
set_io UMBEn 121
set_io RAS0n 87
set_io DRA[4] 97
set_io DA[1] 128
set_io CMA[9] 83
set_io A[2] 8
set_io A[19] 34
set_io PRnW 119
set_io CUUBEn 85
set_io CRCSn 60
set_io CMA[0] 55
set_io CLLBEn 45
set_io CLK40C_OUT 21
set_io CASLn 105
set_io BLSn 113
set_io A[9] 22
set_io A[16] 31
set_io TCIn 64
set_io WEn 73
set_io REGENn 141
set_io LLBEn 124
set_io CMA[6] 80
set_io A[7] 18
set_io DRA[0] 102
set_io CLK40_IN 20
set_io REGSPACEn 41
set_io CMA[3] 76
set_io RASn 61
set_io DRA[5] 96
set_io A[3] 9
set_io A[18] 33
set_io AGNUS_REV 114
set_io A[11] 24
set_io TACKn 7
set_io DA[0] 129
set_io C1 142
set_io CMA[7] 81
set_io A[8] 19
