ble_pack CLKRAM_obuf_RNO_LC_2_1_0 { CLKRAM_obuf_RNO }
clb_pack LT_2_1 { CLKRAM_obuf_RNO_LC_2_1_0 }
set_location LT_2_1 2 1
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle_9_LC_5_11_7 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle[9] }
clb_pack LT_5_11 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle_9_LC_5_11_7 }
set_location LT_5_11 5 11
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_6_LC_6_10_2 { U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[6], U712_CHIP_RAM.CPU_COL_ADDRESS[6] }
ble_pack U712_CHIP_RAM.LATCH_CLK_LC_6_10_3 { U712_CHIP_RAM.LATCH_CLK_RNO, U712_CHIP_RAM.LATCH_CLK }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNO_1_0_LC_6_10_5 { U712_CHIP_RAM.SDRAM_COUNTER_RNO_1[0] }
ble_pack U712_CHIP_RAM.CPU_TACK_RNO_3_LC_6_10_6 { U712_CHIP_RAM.CPU_TACK_RNO_3 }
ble_pack U712_CHIP_RAM.WRITE_CYCLE_RNO_0_LC_6_10_7 { U712_CHIP_RAM.WRITE_CYCLE_RNO_0 }
clb_pack LT_6_10 { U712_CHIP_RAM.CPU_COL_ADDRESS_6_LC_6_10_2, U712_CHIP_RAM.LATCH_CLK_LC_6_10_3, U712_CHIP_RAM.SDRAM_COUNTER_RNO_1_0_LC_6_10_5, U712_CHIP_RAM.CPU_TACK_RNO_3_LC_6_10_6, U712_CHIP_RAM.WRITE_CYCLE_RNO_0_LC_6_10_7 }
set_location LT_6_10 6 10
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_RNICLGI4_LC_6_11_0 { U712_CHIP_RAM.DMA_CYCLE_START_RNICLGI4 }
ble_pack U712_CHIP_RAM.DMA_CYCLE_LC_6_11_1 { U712_CHIP_RAM.DMA_CYCLE_RNO, U712_CHIP_RAM.DMA_CYCLE }
ble_pack U712_CHIP_RAM.DBENn_RNO_0_LC_6_11_2 { U712_CHIP_RAM.DBENn_RNO_0 }
ble_pack U712_CHIP_RAM.WRITE_CYCLE_RNIMF791_LC_6_11_3 { U712_CHIP_RAM.WRITE_CYCLE_RNIMF791 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI6JFD6_0_LC_6_11_4 { U712_CHIP_RAM.SDRAM_COUNTER_RNI6JFD6[0] }
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_RNINNJKA_LC_6_11_5 { U712_CHIP_RAM.DMA_CYCLE_START_RNINNJKA }
ble_pack U712_CHIP_RAM.DBENn_LC_6_11_6 { U712_CHIP_RAM.DBENn_RNO, U712_CHIP_RAM.DBENn }
ble_pack U712_CHIP_RAM.WRITE_CYCLE_LC_6_11_7 { U712_CHIP_RAM.WRITE_CYCLE_RNO, U712_CHIP_RAM.WRITE_CYCLE }
clb_pack LT_6_11 { U712_CHIP_RAM.DMA_CYCLE_START_RNICLGI4_LC_6_11_0, U712_CHIP_RAM.DMA_CYCLE_LC_6_11_1, U712_CHIP_RAM.DBENn_RNO_0_LC_6_11_2, U712_CHIP_RAM.WRITE_CYCLE_RNIMF791_LC_6_11_3, U712_CHIP_RAM.SDRAM_COUNTER_RNI6JFD6_0_LC_6_11_4, U712_CHIP_RAM.DMA_CYCLE_START_RNINNJKA_LC_6_11_5, U712_CHIP_RAM.DBENn_LC_6_11_6, U712_CHIP_RAM.WRITE_CYCLE_LC_6_11_7 }
set_location LT_6_11 6 11
ble_pack U712_CHIP_RAM.DBDIR_LC_6_12_1 { U712_CHIP_RAM.DBDIR_RNO, U712_CHIP_RAM.DBDIR }
ble_pack U712_CHIP_RAM.DMA_WRITE_CYCLE_LC_6_12_2 { U712_CHIP_RAM.DMA_WRITE_CYCLE_RNO, U712_CHIP_RAM.DMA_WRITE_CYCLE }
clb_pack LT_6_12 { U712_CHIP_RAM.DBDIR_LC_6_12_1, U712_CHIP_RAM.DMA_WRITE_CYCLE_LC_6_12_2 }
set_location LT_6_12 6 12
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_7_LC_7_9_0 { U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[7], U712_CHIP_RAM.CPU_COL_ADDRESS[7] }
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_8_LC_7_9_5 { U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[8], U712_CHIP_RAM.CPU_COL_ADDRESS[8] }
clb_pack LT_7_9 { U712_CHIP_RAM.CPU_COL_ADDRESS_7_LC_7_9_0, U712_CHIP_RAM.CPU_COL_ADDRESS_8_LC_7_9_5 }
set_location LT_7_9 7 9
ble_pack U712_CHIP_RAM.REFRESH_RNIU7TF5_LC_7_10_1 { U712_CHIP_RAM.REFRESH_RNIU7TF5 }
ble_pack U712_CHIP_RAM.REFRESH_RNI50JL4_LC_7_10_2 { U712_CHIP_RAM.REFRESH_RNI50JL4 }
ble_pack U712_CHIP_RAM.LATCH_CLK_RNO_0_LC_7_10_3 { U712_CHIP_RAM.LATCH_CLK_RNO_0 }
ble_pack CONSTANT_ONE_LUT4_LC_7_10_4 { CONSTANT_ONE_LUT4 }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_6_LC_7_10_6 { U712_CHIP_RAM.CMA_esr_RNO_1[6] }
clb_pack LT_7_10 { U712_CHIP_RAM.REFRESH_RNIU7TF5_LC_7_10_1, U712_CHIP_RAM.REFRESH_RNI50JL4_LC_7_10_2, U712_CHIP_RAM.LATCH_CLK_RNO_0_LC_7_10_3, CONSTANT_ONE_LUT4_LC_7_10_4, U712_CHIP_RAM.CMA_esr_RNO_1_6_LC_7_10_6 }
set_location LT_7_10 7 10
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_RNO_1_LC_7_11_0 { U712_CHIP_RAM.CPU_CYCLE_esr_RNO_1, U712_CHIP_RAM.SDRAM_COUNTER_cry_c[0] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_1_LC_7_11_1 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[1], U712_CHIP_RAM.SDRAM_COUNTER[1], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[1] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNO_0_2_LC_7_11_2 { U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[2], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[2] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_3_LC_7_11_3 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[3], U712_CHIP_RAM.SDRAM_COUNTER[3], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[3] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_4_LC_7_11_4 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[4], U712_CHIP_RAM.SDRAM_COUNTER[4], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[4] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_5_LC_7_11_5 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[5], U712_CHIP_RAM.SDRAM_COUNTER[5], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[5] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_6_LC_7_11_6 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[6], U712_CHIP_RAM.SDRAM_COUNTER[6], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[6] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_7_LC_7_11_7 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[7], U712_CHIP_RAM.SDRAM_COUNTER[7] }
clb_pack LT_7_11 { U712_CHIP_RAM.CPU_CYCLE_esr_RNO_1_LC_7_11_0, U712_CHIP_RAM.SDRAM_COUNTER_1_LC_7_11_1, U712_CHIP_RAM.SDRAM_COUNTER_RNO_0_2_LC_7_11_2, U712_CHIP_RAM.SDRAM_COUNTER_3_LC_7_11_3, U712_CHIP_RAM.SDRAM_COUNTER_4_LC_7_11_4, U712_CHIP_RAM.SDRAM_COUNTER_5_LC_7_11_5, U712_CHIP_RAM.SDRAM_COUNTER_6_LC_7_11_6, U712_CHIP_RAM.SDRAM_COUNTER_7_LC_7_11_7 }
set_location LT_7_11 7 11
ble_pack U712_CHIP_RAM.DMA_CYCLE_RNIJB9Q7_LC_7_12_0 { U712_CHIP_RAM.DMA_CYCLE_RNIJB9Q7 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIOVP2B_1_LC_7_12_1 { U712_CHIP_RAM.SDRAM_COUNTER_RNIOVP2B[1] }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNIJR1UI_LC_7_12_2 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNIJR1UI }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_2_LC_7_12_3 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[2], U712_CHIP_RAM.SDRAM_COUNTER[2] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_0_LC_7_12_4 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[0], U712_CHIP_RAM.SDRAM_COUNTER[0] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI6LG83_3_LC_7_12_5 { U712_CHIP_RAM.SDRAM_COUNTER_RNI6LG83[3] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIA1VV6_1_LC_7_12_6 { U712_CHIP_RAM.SDRAM_COUNTER_RNIA1VV6[1] }
ble_pack U712_CHIP_RAM.WRITE_CYCLE_RNICSPO4_LC_7_12_7 { U712_CHIP_RAM.WRITE_CYCLE_RNICSPO4 }
clb_pack LT_7_12 { U712_CHIP_RAM.DMA_CYCLE_RNIJB9Q7_LC_7_12_0, U712_CHIP_RAM.SDRAM_COUNTER_RNIOVP2B_1_LC_7_12_1, U712_CHIP_RAM.SDRAM_CONFIGURED_RNIJR1UI_LC_7_12_2, U712_CHIP_RAM.SDRAM_COUNTER_2_LC_7_12_3, U712_CHIP_RAM.SDRAM_COUNTER_0_LC_7_12_4, U712_CHIP_RAM.SDRAM_COUNTER_RNI6LG83_3_LC_7_12_5, U712_CHIP_RAM.SDRAM_COUNTER_RNIA1VV6_1_LC_7_12_6, U712_CHIP_RAM.WRITE_CYCLE_RNICSPO4_LC_7_12_7 }
set_location LT_7_12 7 12
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_LC_7_13_0 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNO, U712_CHIP_RAM.SDRAM_CONFIGURED }
clb_pack LT_7_13 { U712_CHIP_RAM.SDRAM_CONFIGURED_LC_7_13_0 }
set_location LT_7_13 7 13
ble_pack DBRn_ibuf_RNIBAB_LC_7_14_1 { DBRn_ibuf_RNIBAB }
clb_pack LT_7_14 { DBRn_ibuf_RNIBAB_LC_7_14_1 }
set_location LT_7_14 7 14
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_RNI59L8_LC_8_8_6 { U712_CHIP_RAM.CPU_CYCLE_esr_RNI59L8 }
clb_pack LT_8_8 { U712_CHIP_RAM.CPU_CYCLE_esr_RNI59L8_LC_8_8_6 }
set_location LT_8_8 8 8
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_0_LC_8_9_0 { U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[0], U712_CHIP_RAM.CPU_COL_ADDRESS[0] }
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_3_LC_8_9_2 { U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[3], U712_CHIP_RAM.CPU_COL_ADDRESS[3] }
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_4_LC_8_9_3 { U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[4], U712_CHIP_RAM.CPU_COL_ADDRESS[4] }
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_1_LC_8_9_4 { U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[1], U712_CHIP_RAM.CPU_COL_ADDRESS[1] }
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_5_LC_8_9_5 { U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[5], U712_CHIP_RAM.CPU_COL_ADDRESS[5] }
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_2_LC_8_9_6 { U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[2], U712_CHIP_RAM.CPU_COL_ADDRESS[2] }
clb_pack LT_8_9 { U712_CHIP_RAM.CPU_COL_ADDRESS_0_LC_8_9_0, U712_CHIP_RAM.CPU_COL_ADDRESS_3_LC_8_9_2, U712_CHIP_RAM.CPU_COL_ADDRESS_4_LC_8_9_3, U712_CHIP_RAM.CPU_COL_ADDRESS_1_LC_8_9_4, U712_CHIP_RAM.CPU_COL_ADDRESS_5_LC_8_9_5, U712_CHIP_RAM.CPU_COL_ADDRESS_2_LC_8_9_6 }
set_location LT_8_9 8 9
ble_pack U712_CHIP_RAM.CPU_TACK_RNO_0_LC_8_10_0 { U712_CHIP_RAM.CPU_TACK_RNO_0 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI9VIP2_0_3_LC_8_10_1 { U712_CHIP_RAM.SDRAM_COUNTER_RNI9VIP2_0[3] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_1_1_LC_8_10_2 { U712_CHIP_RAM.SDRAM_CMD_RNO_1[1] }
ble_pack U712_CHIP_RAM.CPU_TACK_LC_8_10_3 { U712_CHIP_RAM.CPU_TACK_RNO, U712_CHIP_RAM.CPU_TACK }
ble_pack U712_CHIP_RAM.CPU_TACK_RNO_2_LC_8_10_4 { U712_CHIP_RAM.CPU_TACK_RNO_2 }
ble_pack U712_CHIP_RAM.CPU_TACK_RNO_1_LC_8_10_5 { U712_CHIP_RAM.CPU_TACK_RNO_1 }
ble_pack U712_CHIP_RAM.WRITE_CYCLE_RNI2E2T2_LC_8_10_6 { U712_CHIP_RAM.WRITE_CYCLE_RNI2E2T2 }
ble_pack U712_CHIP_RAM.LATCH_CLK_RNO_1_LC_8_10_7 { U712_CHIP_RAM.LATCH_CLK_RNO_1 }
clb_pack LT_8_10 { U712_CHIP_RAM.CPU_TACK_RNO_0_LC_8_10_0, U712_CHIP_RAM.SDRAM_COUNTER_RNI9VIP2_0_3_LC_8_10_1, U712_CHIP_RAM.SDRAM_CMD_RNO_1_1_LC_8_10_2, U712_CHIP_RAM.CPU_TACK_LC_8_10_3, U712_CHIP_RAM.CPU_TACK_RNO_2_LC_8_10_4, U712_CHIP_RAM.CPU_TACK_RNO_1_LC_8_10_5, U712_CHIP_RAM.WRITE_CYCLE_RNI2E2T2_LC_8_10_6, U712_CHIP_RAM.LATCH_CLK_RNO_1_LC_8_10_7 }
set_location LT_8_10 8 10
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI96LA2_0_2_LC_8_11_0 { U712_CHIP_RAM.SDRAM_COUNTER_RNI96LA2_0[2] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI6LG83_0_3_LC_8_11_1 { U712_CHIP_RAM.SDRAM_COUNTER_RNI6LG83_0[3] }
ble_pack U712_CHIP_RAM.REFRESH_RNI50JL4_0_LC_8_11_2 { U712_CHIP_RAM.REFRESH_RNI50JL4_0 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI5NRT_7_LC_8_11_3 { U712_CHIP_RAM.SDRAM_COUNTER_RNI5NRT[7] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIA7LA2_5_LC_8_11_4 { U712_CHIP_RAM.SDRAM_COUNTER_RNIA7LA2[5] }
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_RNO_0_LC_8_11_5 { U712_CHIP_RAM.CPU_CYCLE_esr_RNO_0 }
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_RNO_LC_8_11_6 { U712_CHIP_RAM.CPU_CYCLE_esr_RNO }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI96LA2_2_LC_8_11_7 { U712_CHIP_RAM.SDRAM_COUNTER_RNI96LA2[2] }
clb_pack LT_8_11 { U712_CHIP_RAM.SDRAM_COUNTER_RNI96LA2_0_2_LC_8_11_0, U712_CHIP_RAM.SDRAM_COUNTER_RNI6LG83_0_3_LC_8_11_1, U712_CHIP_RAM.REFRESH_RNI50JL4_0_LC_8_11_2, U712_CHIP_RAM.SDRAM_COUNTER_RNI5NRT_7_LC_8_11_3, U712_CHIP_RAM.SDRAM_COUNTER_RNIA7LA2_5_LC_8_11_4, U712_CHIP_RAM.CPU_CYCLE_esr_RNO_0_LC_8_11_5, U712_CHIP_RAM.CPU_CYCLE_esr_RNO_LC_8_11_6, U712_CHIP_RAM.SDRAM_COUNTER_RNI96LA2_2_LC_8_11_7 }
set_location LT_8_11 8 11
ble_pack U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIO7T54_LC_8_12_0 { U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIO7T54 }
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_RNIKHPV5_LC_8_12_1 { U712_CHIP_RAM.DMA_CYCLE_START_RNIKHPV5 }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_2_2_LC_8_12_2 { U712_CHIP_RAM.SDRAM_CMD_RNO_2[2] }
ble_pack U712_CHIP_RAM.WRITE_CYCLE_RNIM4DI_LC_8_12_3 { U712_CHIP_RAM.WRITE_CYCLE_RNIM4DI }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNIP7AQ_LC_8_12_4 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNIP7AQ }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNO_1_2_LC_8_12_5 { U712_CHIP_RAM.SDRAM_COUNTER_RNO_1[2] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_1_2_LC_8_12_6 { U712_CHIP_RAM.SDRAM_CMD_RNO_1[2] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_0_2_LC_8_12_7 { U712_CHIP_RAM.SDRAM_CMD_RNO_0[2] }
clb_pack LT_8_12 { U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIO7T54_LC_8_12_0, U712_CHIP_RAM.DMA_CYCLE_START_RNIKHPV5_LC_8_12_1, U712_CHIP_RAM.SDRAM_CMD_RNO_2_2_LC_8_12_2, U712_CHIP_RAM.WRITE_CYCLE_RNIM4DI_LC_8_12_3, U712_CHIP_RAM.SDRAM_CONFIGURED_RNIP7AQ_LC_8_12_4, U712_CHIP_RAM.SDRAM_COUNTER_RNO_1_2_LC_8_12_5, U712_CHIP_RAM.SDRAM_CMD_RNO_1_2_LC_8_12_6, U712_CHIP_RAM.SDRAM_CMD_RNO_0_2_LC_8_12_7 }
set_location LT_8_12 8 12
ble_pack U712_CHIP_RAM.CLK_EN_RNO_0_LC_8_13_0 { U712_CHIP_RAM.CLK_EN_RNO_0 }
ble_pack U712_CHIP_RAM.CLK_EN_LC_8_13_1 { U712_CHIP_RAM.CLK_EN_RNO, U712_CHIP_RAM.CLK_EN }
ble_pack U712_CHIP_RAM.CLK_EN_RNO_1_LC_8_13_2 { U712_CHIP_RAM.CLK_EN_RNO_1 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNO_2_0_LC_8_13_3 { U712_CHIP_RAM.SDRAM_COUNTER_RNO_2[0] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNO_0_0_LC_8_13_4 { U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[0] }
ble_pack U712_CHIP_RAM.CLK_EN_RNO_2_LC_8_13_5 { U712_CHIP_RAM.CLK_EN_RNO_2 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI9VIP2_3_LC_8_13_6 { U712_CHIP_RAM.SDRAM_COUNTER_RNI9VIP2[3] }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNIBDIU5_LC_8_13_7 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNIBDIU5 }
clb_pack LT_8_13 { U712_CHIP_RAM.CLK_EN_RNO_0_LC_8_13_0, U712_CHIP_RAM.CLK_EN_LC_8_13_1, U712_CHIP_RAM.CLK_EN_RNO_1_LC_8_13_2, U712_CHIP_RAM.SDRAM_COUNTER_RNO_2_0_LC_8_13_3, U712_CHIP_RAM.SDRAM_COUNTER_RNO_0_0_LC_8_13_4, U712_CHIP_RAM.CLK_EN_RNO_2_LC_8_13_5, U712_CHIP_RAM.SDRAM_COUNTER_RNI9VIP2_3_LC_8_13_6, U712_CHIP_RAM.SDRAM_CONFIGURED_RNIBDIU5_LC_8_13_7 }
set_location LT_8_13 8 13
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_2_LC_9_9_1 { U712_CHIP_RAM.CMA_esr_RNO_1[2] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_8_LC_9_9_2 { U712_CHIP_RAM.CMA_esr_RNO_1[8] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_0_LC_9_9_3 { U712_CHIP_RAM.CMA_esr_RNO_1[0] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_3_LC_9_9_4 { U712_CHIP_RAM.CMA_esr_RNO_1[3] }
clb_pack LT_9_9 { U712_CHIP_RAM.CMA_esr_RNO_1_2_LC_9_9_1, U712_CHIP_RAM.CMA_esr_RNO_1_8_LC_9_9_2, U712_CHIP_RAM.CMA_esr_RNO_1_0_LC_9_9_3, U712_CHIP_RAM.CMA_esr_RNO_1_3_LC_9_9_4 }
set_location LT_9_9 9 9
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_LC_9_10_0 { U712_CHIP_RAM.REFRESH_RNIU7TF5_U712_CHIP_RAM.CPU_CYCLE_esr_REP_LUT4_0, U712_CHIP_RAM.CPU_CYCLE_esr }
clb_pack LT_9_10 { U712_CHIP_RAM.CPU_CYCLE_esr_LC_9_10_0 }
set_location LT_9_10 9 10
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_1_0_LC_9_11_0 { U712_CHIP_RAM.SDRAM_CMD_RNO_1[0] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_0_0_LC_9_11_1 { U712_CHIP_RAM.SDRAM_CMD_RNO_0[0] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_2_LC_9_11_2 { U712_CHIP_RAM.SDRAM_CMD_RNO[2], U712_CHIP_RAM.SDRAM_CMD[2] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIA7LA2_0_5_LC_9_11_3 { U712_CHIP_RAM.SDRAM_COUNTER_RNIA7LA2_0[5] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIG3845_0_LC_9_11_4 { U712_CHIP_RAM.SDRAM_COUNTER_RNIG3845[0] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_2_3_LC_9_11_7 { U712_CHIP_RAM.SDRAM_CMD_RNO_2[3] }
clb_pack LT_9_11 { U712_CHIP_RAM.SDRAM_CMD_RNO_1_0_LC_9_11_0, U712_CHIP_RAM.SDRAM_CMD_RNO_0_0_LC_9_11_1, U712_CHIP_RAM.SDRAM_CMD_2_LC_9_11_2, U712_CHIP_RAM.SDRAM_COUNTER_RNIA7LA2_0_5_LC_9_11_3, U712_CHIP_RAM.SDRAM_COUNTER_RNIG3845_0_LC_9_11_4, U712_CHIP_RAM.SDRAM_CMD_RNO_2_3_LC_9_11_7 }
set_location LT_9_11 9 11
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIFR5J5_3_LC_9_12_0 { U712_CHIP_RAM.SDRAM_COUNTER_RNIFR5J5[3] }
ble_pack U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIU9G4C_LC_9_12_1 { U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIU9G4C }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNI2VCTI_LC_9_12_2 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNI2VCTI }
ble_pack U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNI4OCE_LC_9_12_3 { U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNI4OCE }
ble_pack U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIVA2D1_LC_9_12_4 { U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIVA2D1 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIK0QU_1_LC_9_12_5 { U712_CHIP_RAM.SDRAM_COUNTER_RNIK0QU[1] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIFR5J5_0_3_LC_9_12_6 { U712_CHIP_RAM.SDRAM_COUNTER_RNIFR5J5_0[3] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_1_3_LC_9_12_7 { U712_CHIP_RAM.SDRAM_CMD_RNO_1[3] }
clb_pack LT_9_12 { U712_CHIP_RAM.SDRAM_COUNTER_RNIFR5J5_3_LC_9_12_0, U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIU9G4C_LC_9_12_1, U712_CHIP_RAM.SDRAM_CONFIGURED_RNI2VCTI_LC_9_12_2, U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNI4OCE_LC_9_12_3, U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIVA2D1_LC_9_12_4, U712_CHIP_RAM.SDRAM_COUNTER_RNIK0QU_1_LC_9_12_5, U712_CHIP_RAM.SDRAM_COUNTER_RNIFR5J5_0_3_LC_9_12_6, U712_CHIP_RAM.SDRAM_CMD_RNO_1_3_LC_9_12_7 }
set_location LT_9_12 9 12
ble_pack U712_CHIP_RAM.CPU_CYCLE_START_LC_9_13_2 { U712_CHIP_RAM.CPU_CYCLE_START_RNO, U712_CHIP_RAM.CPU_CYCLE_START }
clb_pack LT_9_13 { U712_CHIP_RAM.CPU_CYCLE_START_LC_9_13_2 }
set_location LT_9_13 9 13
ble_pack U712_REG_SM.START_RST_LC_9_14_1 { U712_REG_SM.START_RST_RNO, U712_REG_SM.START_RST }
ble_pack U712_REG_SM.REG_CYCLE_START_LC_9_14_3 { U712_CHIP_RAM.REG_CYCLE_START_2_0_i, U712_REG_SM.REG_CYCLE_START }
clb_pack LT_9_14 { U712_REG_SM.START_RST_LC_9_14_1, U712_REG_SM.REG_CYCLE_START_LC_9_14_3 }
set_location LT_9_14 9 14
ble_pack U712_CHIP_RAM.m69_LC_9_16_5 { U712_CHIP_RAM.m69 }
clb_pack LT_9_16 { U712_CHIP_RAM.m69_LC_9_16_5 }
set_location LT_9_16 9 16
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_0_0_LC_10_8_3 { U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_0[0] }
clb_pack LT_10_8 { U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_0_0_LC_10_8_3 }
set_location LT_10_8 10 8
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_0_LC_10_10_0 { U712_CHIP_RAM.SDRAM_CMD_RNIA0SO[0] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_3_1_LC_10_10_2 { U712_CHIP_RAM.SDRAM_CMD_RNO_3[1] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_2_1_LC_10_10_3 { U712_CHIP_RAM.SDRAM_CMD_RNO_2[1] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_0_1_LC_10_10_4 { U712_CHIP_RAM.SDRAM_CMD_RNO_0[1] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_1_LC_10_10_5 { U712_CHIP_RAM.SDRAM_CMD_RNO[1], U712_CHIP_RAM.SDRAM_CMD[1] }
clb_pack LT_10_10 { U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_0_LC_10_10_0, U712_CHIP_RAM.SDRAM_CMD_RNO_3_1_LC_10_10_2, U712_CHIP_RAM.SDRAM_CMD_RNO_2_1_LC_10_10_3, U712_CHIP_RAM.SDRAM_CMD_RNO_0_1_LC_10_10_4, U712_CHIP_RAM.SDRAM_CMD_1_LC_10_10_5 }
set_location LT_10_10 10 10
ble_pack U712_CHIP_RAM.SDRAM_CMD_0_LC_10_11_1 { U712_CHIP_RAM.SDRAM_CMD_RNO[0], U712_CHIP_RAM.SDRAM_CMD[0] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_0_3_LC_10_11_5 { U712_CHIP_RAM.SDRAM_CMD_RNO_0[3] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_3_LC_10_11_6 { U712_CHIP_RAM.SDRAM_CMD_RNO[3], U712_CHIP_RAM.SDRAM_CMD[3] }
clb_pack LT_10_11 { U712_CHIP_RAM.SDRAM_CMD_0_LC_10_11_1, U712_CHIP_RAM.SDRAM_CMD_RNO_0_3_LC_10_11_5, U712_CHIP_RAM.SDRAM_CMD_3_LC_10_11_6 }
set_location LT_10_11 10 11
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_LC_10_12_7 { U712_CHIP_RAM.DMA_CYCLE_START_RNO, U712_CHIP_RAM.DMA_CYCLE_START }
clb_pack LT_10_12 { U712_CHIP_RAM.DMA_CYCLE_START_LC_10_12_7 }
set_location LT_10_12 10 12
ble_pack U712_REG_SM.C3_SYNC_1_LC_10_13_0 { U712_REG_SM.C3_SYNC_1_THRU_LUT4_0, U712_REG_SM.C3_SYNC[1] }
ble_pack U712_CHIP_RAM.RAM_CYCLE_DISABLE_LC_10_13_1 { U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNO, U712_CHIP_RAM.RAM_CYCLE_DISABLE }
ble_pack U712_REG_SM.C3_SYNC_0_LC_10_13_5 { U712_REG_SM.C3_SYNC_0_THRU_LUT4_0, U712_REG_SM.C3_SYNC[0] }
clb_pack LT_10_13 { U712_REG_SM.C3_SYNC_1_LC_10_13_0, U712_CHIP_RAM.RAM_CYCLE_DISABLE_LC_10_13_1, U712_REG_SM.C3_SYNC_0_LC_10_13_5 }
set_location LT_10_13 10 13
ble_pack U712_CHIP_RAM.m11_e_LC_10_14_1 { U712_CHIP_RAM.m11_e }
ble_pack U712_CHIP_RAM.m174_LC_10_14_2 { U712_CHIP_RAM.m174 }
ble_pack U712_CHIP_RAM.m27_LC_10_14_3 { U712_CHIP_RAM.m27 }
ble_pack U712_REG_SM.STATE_COUNT_2_LC_10_14_4 { U712_CHIP_RAM.m29, U712_REG_SM.STATE_COUNT[2] }
ble_pack U712_CHIP_RAM.m15_LC_10_14_5 { U712_CHIP_RAM.m15 }
ble_pack U712_REG_SM.STATE_COUNT_1_LC_10_14_6 { U712_CHIP_RAM.m176, U712_REG_SM.STATE_COUNT[1] }
clb_pack LT_10_14 { U712_CHIP_RAM.m11_e_LC_10_14_1, U712_CHIP_RAM.m174_LC_10_14_2, U712_CHIP_RAM.m27_LC_10_14_3, U712_REG_SM.STATE_COUNT_2_LC_10_14_4, U712_CHIP_RAM.m15_LC_10_14_5, U712_REG_SM.STATE_COUNT_1_LC_10_14_6 }
set_location LT_10_14 10 14
ble_pack U712_CHIP_RAM.m65_LC_10_15_1 { U712_CHIP_RAM.m65 }
ble_pack U712_CHIP_RAM.m173_LC_10_15_2 { U712_CHIP_RAM.m173 }
clb_pack LT_10_15 { U712_CHIP_RAM.m65_LC_10_15_1, U712_CHIP_RAM.m173_LC_10_15_2 }
set_location LT_10_15 10 15
ble_pack U712_CHIP_RAM.m143_LC_10_16_0 { U712_CHIP_RAM.m143 }
clb_pack LT_10_16 { U712_CHIP_RAM.m143_LC_10_16_0 }
set_location LT_10_16 10 16
ble_pack U712_CHIP_RAM.m67_LC_10_17_5 { U712_CHIP_RAM.m67 }
clb_pack LT_10_17 { U712_CHIP_RAM.m67_LC_10_17_5 }
set_location LT_10_17 10 17
ble_pack U712_CHIP_RAM.CMA_esr_2_LC_11_7_5 { U712_CHIP_RAM.CMA_esr_RNO[2], U712_CHIP_RAM.CMA_esr[2] }
clb_pack LT_11_7 { U712_CHIP_RAM.CMA_esr_2_LC_11_7_5 }
set_location LT_11_7 11 7
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_0_LC_11_8_0 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[0], U712_CHIP_RAM.REFRESH_COUNTER[0], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[0] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_1_LC_11_8_1 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[1], U712_CHIP_RAM.REFRESH_COUNTER[1], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[1] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_2_LC_11_8_2 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[2], U712_CHIP_RAM.REFRESH_COUNTER[2], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[2] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_3_LC_11_8_3 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[3], U712_CHIP_RAM.REFRESH_COUNTER[3], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[3] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_4_LC_11_8_4 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[4], U712_CHIP_RAM.REFRESH_COUNTER[4], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[4] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_5_LC_11_8_5 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[5], U712_CHIP_RAM.REFRESH_COUNTER[5], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[5] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_6_LC_11_8_6 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[6], U712_CHIP_RAM.REFRESH_COUNTER[6], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[6] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_7_LC_11_8_7 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[7], U712_CHIP_RAM.REFRESH_COUNTER[7] }
clb_pack LT_11_8 { U712_CHIP_RAM.REFRESH_COUNTER_0_LC_11_8_0, U712_CHIP_RAM.REFRESH_COUNTER_1_LC_11_8_1, U712_CHIP_RAM.REFRESH_COUNTER_2_LC_11_8_2, U712_CHIP_RAM.REFRESH_COUNTER_3_LC_11_8_3, U712_CHIP_RAM.REFRESH_COUNTER_4_LC_11_8_4, U712_CHIP_RAM.REFRESH_COUNTER_5_LC_11_8_5, U712_CHIP_RAM.REFRESH_COUNTER_6_LC_11_8_6, U712_CHIP_RAM.REFRESH_COUNTER_7_LC_11_8_7 }
set_location LT_11_8 11 8
ble_pack U712_CHIP_RAM.REFRESH_RNO_0_LC_11_9_1 { U712_CHIP_RAM.REFRESH_RNO_0 }
ble_pack U712_CHIP_RAM.REFRESH_LC_11_9_2 { U712_CHIP_RAM.REFRESH_RNO, U712_CHIP_RAM.REFRESH }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNI0AO81_0_LC_11_9_3 { U712_CHIP_RAM.SDRAM_CMD_RNI0AO81[0] }
clb_pack LT_11_9 { U712_CHIP_RAM.REFRESH_RNO_0_LC_11_9_1, U712_CHIP_RAM.REFRESH_LC_11_9_2, U712_CHIP_RAM.SDRAM_CMD_RNI0AO81_0_LC_11_9_3 }
set_location LT_11_9 11 9
ble_pack U712_CYCLE_TERM.TACK_START_LC_11_10_0 { U712_CYCLE_TERM.TACK_START_RNO, U712_CYCLE_TERM.TACK_START }
clb_pack LT_11_10 { U712_CYCLE_TERM.TACK_START_LC_11_10_0 }
set_location LT_11_10 11 10
ble_pack U712_CYCLE_TERM.TACK_START_RNO_0_LC_11_11_4 { U712_CYCLE_TERM.TACK_START_RNO_0 }
clb_pack LT_11_11 { U712_CYCLE_TERM.TACK_START_RNO_0_LC_11_11_4 }
set_location LT_11_11 11 11
ble_pack U712_REG_SM.STATE_COUNT_5_LC_11_12_0 { U712_REG_SM.STATE_COUNT_RNO[5], U712_REG_SM.STATE_COUNT[5] }
ble_pack U712_REG_SM.STATE_COUNT_7_LC_11_12_3 { U712_REG_SM.STATE_COUNT_RNO[7], U712_REG_SM.STATE_COUNT[7] }
ble_pack U712_CHIP_RAM.m45_0_LC_11_12_6 { U712_CHIP_RAM.m45_0 }
ble_pack U712_REG_SM.STATE_COUNT_6_LC_11_12_7 { U712_CHIP_RAM.m24, U712_REG_SM.STATE_COUNT[6] }
clb_pack LT_11_12 { U712_REG_SM.STATE_COUNT_5_LC_11_12_0, U712_REG_SM.STATE_COUNT_7_LC_11_12_3, U712_CHIP_RAM.m45_0_LC_11_12_6, U712_REG_SM.STATE_COUNT_6_LC_11_12_7 }
set_location LT_11_12 11 12
ble_pack U712_CHIP_RAM.m9_LC_11_13_0 { U712_CHIP_RAM.m9 }
ble_pack U712_REG_SM.STATE_COUNT_3_LC_11_13_1 { U712_CHIP_RAM.m47, U712_REG_SM.STATE_COUNT[3] }
ble_pack U712_CHIP_RAM.m83_LC_11_13_2 { U712_CHIP_RAM.m83 }
ble_pack U712_REG_SM.STATE_COUNT_0_LC_11_13_3 { U712_CHIP_RAM.STATE_COUNT_nss_0_i[0], U712_REG_SM.STATE_COUNT[0] }
ble_pack U712_CHIP_RAM.m40_ns_LC_11_13_4 { U712_CHIP_RAM.m40_ns }
ble_pack U712_REG_SM.REG_CYCLE_LC_11_13_5 { U712_REG_SM.REG_CYCLE_RNO, U712_REG_SM.REG_CYCLE }
ble_pack U712_CHIP_RAM.m40_ns_1_LC_11_13_6 { U712_CHIP_RAM.m40_ns_1 }
ble_pack U712_REG_SM.STATE_COUNT_4_LC_11_13_7 { U712_CHIP_RAM.m14, U712_REG_SM.STATE_COUNT[4] }
clb_pack LT_11_13 { U712_CHIP_RAM.m9_LC_11_13_0, U712_REG_SM.STATE_COUNT_3_LC_11_13_1, U712_CHIP_RAM.m83_LC_11_13_2, U712_REG_SM.STATE_COUNT_0_LC_11_13_3, U712_CHIP_RAM.m40_ns_LC_11_13_4, U712_REG_SM.REG_CYCLE_LC_11_13_5, U712_CHIP_RAM.m40_ns_1_LC_11_13_6, U712_REG_SM.STATE_COUNT_4_LC_11_13_7 }
set_location LT_11_13 11 13
ble_pack U712_CHIP_RAM.m32_LC_11_14_0 { U712_CHIP_RAM.m32 }
ble_pack U712_REG_SM.STATE_COUNT_8_LC_11_14_1 { U712_CHIP_RAM.N_24_0_i, U712_REG_SM.STATE_COUNT[8] }
ble_pack U712_CHIP_RAM.m20_LC_11_14_2 { U712_CHIP_RAM.m20 }
ble_pack U712_CHIP_RAM.m30_LC_11_14_3 { U712_CHIP_RAM.m30 }
ble_pack U712_CHIP_RAM.m19_LC_11_14_4 { U712_CHIP_RAM.m19 }
ble_pack U712_REG_SM.REGENn_ess_RNO_LC_11_14_5 { U712_REG_SM.REGENn_ess_RNO }
ble_pack U712_CHIP_RAM.m36_LC_11_14_6 { U712_CHIP_RAM.m36 }
clb_pack LT_11_14 { U712_CHIP_RAM.m32_LC_11_14_0, U712_REG_SM.STATE_COUNT_8_LC_11_14_1, U712_CHIP_RAM.m20_LC_11_14_2, U712_CHIP_RAM.m30_LC_11_14_3, U712_CHIP_RAM.m19_LC_11_14_4, U712_REG_SM.REGENn_ess_RNO_LC_11_14_5, U712_CHIP_RAM.m36_LC_11_14_6 }
set_location LT_11_14 11 14
ble_pack U712_REG_SM.C1_SYNC_1_LC_11_15_4 { U712_REG_SM.C1_SYNC_1_THRU_LUT4_0, U712_REG_SM.C1_SYNC[1] }
ble_pack U712_REG_SM.UDSn_LC_11_15_6 { U712_REG_SM.UDSn_RNO, U712_REG_SM.UDSn }
clb_pack LT_11_15 { U712_REG_SM.C1_SYNC_1_LC_11_15_4, U712_REG_SM.UDSn_LC_11_15_6 }
set_location LT_11_15 11 15
ble_pack U712_CHIP_RAM.m144_LC_11_16_3 { U712_CHIP_RAM.m144 }
ble_pack U712_CHIP_RAM.m171_LC_11_16_5 { U712_CHIP_RAM.m171 }
ble_pack U712_CHIP_RAM.m70_LC_11_16_6 { U712_CHIP_RAM.m70 }
clb_pack LT_11_16 { U712_CHIP_RAM.m144_LC_11_16_3, U712_CHIP_RAM.m171_LC_11_16_5, U712_CHIP_RAM.m70_LC_11_16_6 }
set_location LT_11_16 11 16
ble_pack U712_REG_SM.C1_SYNC_0_LC_11_17_4 { U712_REG_SM.C1_SYNC_0_THRU_LUT4_0, U712_REG_SM.C1_SYNC[0] }
clb_pack LT_11_17 { U712_REG_SM.C1_SYNC_0_LC_11_17_4 }
set_location LT_11_17 11 17
ble_pack CLK40_PLL_derived_clock_RNIIOT_LC_12_1_5 { CLK40_PLL_derived_clock_RNIIOT }
clb_pack LT_12_1 { CLK40_PLL_derived_clock_RNIIOT_LC_12_1_5 }
set_location LT_12_1 12 1
ble_pack U712_CHIP_RAM.CMA_esr_1_LC_12_6_1 { U712_CHIP_RAM.CMA_esr_RNO[1], U712_CHIP_RAM.CMA_esr[1] }
clb_pack LT_12_6 { U712_CHIP_RAM.CMA_esr_1_LC_12_6_1 }
set_location LT_12_6 12 6
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_1_LC_12_7_1 { U712_CHIP_RAM.CMA_esr_RNO_0[1] }
clb_pack LT_12_7 { U712_CHIP_RAM.CMA_esr_RNO_0_1_LC_12_7_1 }
set_location LT_12_7 12 7
ble_pack U712_CHIP_RAM.CMA_esr_RNO_2_1_LC_12_8_2 { U712_CHIP_RAM.CMA_esr_RNO_2[1] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_1_LC_12_8_5 { U712_CHIP_RAM.CMA_esr_RNO_1[1] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_2_2_LC_12_8_6 { U712_CHIP_RAM.CMA_esr_RNO_2[2] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_2_LC_12_8_7 { U712_CHIP_RAM.CMA_esr_RNO_0[2] }
clb_pack LT_12_8 { U712_CHIP_RAM.CMA_esr_RNO_2_1_LC_12_8_2, U712_CHIP_RAM.CMA_esr_RNO_1_1_LC_12_8_5, U712_CHIP_RAM.CMA_esr_RNO_2_2_LC_12_8_6, U712_CHIP_RAM.CMA_esr_RNO_0_2_LC_12_8_7 }
set_location LT_12_8 12 8
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_0_LC_12_9_0 { U712_CHIP_RAM.CMA_esr_RNO_0[0] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_7_LC_12_9_1 { U712_CHIP_RAM.CMA_esr_RNO_1[7] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_4_LC_12_9_7 { U712_CHIP_RAM.CMA_esr_RNO_1[4] }
clb_pack LT_12_9 { U712_CHIP_RAM.CMA_esr_RNO_0_0_LC_12_9_0, U712_CHIP_RAM.CMA_esr_RNO_1_7_LC_12_9_1, U712_CHIP_RAM.CMA_esr_RNO_1_4_LC_12_9_7 }
set_location LT_12_9 12 9
ble_pack U712_CHIP_RAM.CMA_esr_RNO_2_8_LC_12_10_2 { U712_CHIP_RAM.CMA_esr_RNO_2[8] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_8_LC_12_10_3 { U712_CHIP_RAM.CMA_esr_RNO_0[8] }
ble_pack U712_CHIP_RAM.CMA_esr_8_LC_12_10_4 { U712_CHIP_RAM.CMA_esr_RNO[8], U712_CHIP_RAM.CMA_esr[8] }
clb_pack LT_12_10 { U712_CHIP_RAM.CMA_esr_RNO_2_8_LC_12_10_2, U712_CHIP_RAM.CMA_esr_RNO_0_8_LC_12_10_3, U712_CHIP_RAM.CMA_esr_8_LC_12_10_4 }
set_location LT_12_10 12 10
ble_pack U712_REG_SM.REG_TACK_LC_12_12_4 { U712_REG_SM.REG_TACK_RNO, U712_REG_SM.REG_TACK }
clb_pack LT_12_12 { U712_REG_SM.REG_TACK_LC_12_12_4 }
set_location LT_12_12 12 12
ble_pack U712_CHIP_RAM.m35_LC_12_13_1 { U712_CHIP_RAM.m35 }
ble_pack U712_CHIP_RAM.m43_LC_12_13_3 { U712_CHIP_RAM.m43 }
clb_pack LT_12_13 { U712_CHIP_RAM.m35_LC_12_13_1, U712_CHIP_RAM.m43_LC_12_13_3 }
set_location LT_12_13 12 13
ble_pack U712_REG_SM.WRITE_CYCLE_LC_12_14_2 { U712_REG_SM.WRITE_CYCLE_RNO, U712_REG_SM.WRITE_CYCLE }
ble_pack DBR_SYNC_0_LC_12_14_4 { DBR_SYNC_0_THRU_LUT4_0, DBR_SYNC[0] }
ble_pack DBR_SYNC_1_LC_12_14_5 { DBR_SYNC_1_THRU_LUT4_0, DBR_SYNC[1] }
ble_pack U712_REG_SM.PRnW_LC_12_14_7 { U712_REG_SM.PRnW_RNO, U712_REG_SM.PRnW }
clb_pack LT_12_14 { U712_REG_SM.WRITE_CYCLE_LC_12_14_2, DBR_SYNC_0_LC_12_14_4, DBR_SYNC_1_LC_12_14_5, U712_REG_SM.PRnW_LC_12_14_7 }
set_location LT_12_14 12 14
ble_pack U712_REG_SM.REGENn_ess_LC_12_15_6 { U712_CHIP_RAM.m9_U712_REG_SM.REGENn_ess_REP_LUT4_0, U712_REG_SM.REGENn_ess }
clb_pack LT_12_15 { U712_REG_SM.REGENn_ess_LC_12_15_6 }
set_location LT_12_15 12 15
ble_pack U712_REG_SM.LDSn_LC_12_16_1 { U712_REG_SM.LDSn_RNO, U712_REG_SM.LDSn }
clb_pack LT_12_16 { U712_REG_SM.LDSn_LC_12_16_1 }
set_location LT_12_16 12 16
ble_pack RESETn_ibuf_RNIM9SF_LC_12_18_5 { RESETn_ibuf_RNIM9SF }
clb_pack LT_12_18 { RESETn_ibuf_RNIM9SF_LC_12_18_5 }
set_location LT_12_18 12 18
ble_pack U712_CHIP_RAM.WEn_LC_13_6_6 { U712_CHIP_RAM.WEn_THRU_LUT4_0, U712_CHIP_RAM.WEn }
clb_pack LT_13_6 { U712_CHIP_RAM.WEn_LC_13_6_6 }
set_location LT_13_6 13 6
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNIMUKI_1_LC_13_7_0 { U712_CHIP_RAM.SDRAM_CMD_RNIMUKI[1] }
clb_pack LT_13_7 { U712_CHIP_RAM.SDRAM_CMD_RNIMUKI_1_LC_13_7_0 }
set_location LT_13_7 13 7
ble_pack U712_CHIP_RAM.CMA_esr_RNO_2_7_LC_13_8_0 { U712_CHIP_RAM.CMA_esr_RNO_2[7] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_7_LC_13_8_1 { U712_CHIP_RAM.CMA_esr_RNO_0[7] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_2_4_LC_13_8_3 { U712_CHIP_RAM.CMA_esr_RNO_2[4] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_4_LC_13_8_4 { U712_CHIP_RAM.CMA_esr_RNO_0[4] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_2_6_LC_13_8_6 { U712_CHIP_RAM.CMA_esr_RNO_2[6] }
clb_pack LT_13_8 { U712_CHIP_RAM.CMA_esr_RNO_2_7_LC_13_8_0, U712_CHIP_RAM.CMA_esr_RNO_0_7_LC_13_8_1, U712_CHIP_RAM.CMA_esr_RNO_2_4_LC_13_8_3, U712_CHIP_RAM.CMA_esr_RNO_0_4_LC_13_8_4, U712_CHIP_RAM.CMA_esr_RNO_2_6_LC_13_8_6 }
set_location LT_13_8 13 8
ble_pack U712_CHIP_RAM.CMA_esr_0_LC_13_9_0 { U712_CHIP_RAM.CMA_esr_RNO[0], U712_CHIP_RAM.CMA_esr[0] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNI4VDC_0_LC_13_9_1 { U712_CHIP_RAM.SDRAM_CMD_RNI4VDC[0] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_2_0_LC_13_9_2 { U712_CHIP_RAM.CMA_esr_RNO_2[0] }
clb_pack LT_13_9 { U712_CHIP_RAM.CMA_esr_0_LC_13_9_0, U712_CHIP_RAM.SDRAM_CMD_RNI4VDC_0_LC_13_9_1, U712_CHIP_RAM.CMA_esr_RNO_2_0_LC_13_9_2 }
set_location LT_13_9 13 9
ble_pack U712_CHIP_RAM.DBENn_RNI8DDB1_LC_13_10_1 { U712_CHIP_RAM.DBENn_RNI8DDB1 }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNIHMEA_1_LC_13_10_7 { U712_CHIP_RAM.SDRAM_CMD_RNIHMEA[1] }
clb_pack LT_13_10 { U712_CHIP_RAM.DBENn_RNI8DDB1_LC_13_10_1, U712_CHIP_RAM.SDRAM_CMD_RNIHMEA_1_LC_13_10_7 }
set_location LT_13_10 13 10
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_8_LC_13_11_0 { U712_CHIP_RAM.DMA_COL_ADDRESS_RNO[8], U712_CHIP_RAM.DMA_COL_ADDRESS[8] }
clb_pack LT_13_11 { U712_CHIP_RAM.DMA_COL_ADDRESS_8_LC_13_11_0 }
set_location LT_13_11 13 11
ble_pack U712_CHIP_RAM.CAS_COUNTER_2_LC_13_12_0 { U712_CHIP_RAM.CAS_COUNTER_RNO[2], U712_CHIP_RAM.CAS_COUNTER[2] }
clb_pack LT_13_12 { U712_CHIP_RAM.CAS_COUNTER_2_LC_13_12_0 }
set_location LT_13_12 13 12
ble_pack U712_CHIP_RAM.CAS_COUNTER_RNO_0_0_LC_13_13_0 { U712_CHIP_RAM.CAS_COUNTER_RNO_0[0], U712_CHIP_RAM.un1_CAS_COUNTER_cry_0_c }
ble_pack U712_CHIP_RAM.CAS_COUNTER_RNO_0_1_LC_13_13_1 { U712_CHIP_RAM.CAS_COUNTER_RNO_0[1], U712_CHIP_RAM.un1_CAS_COUNTER_cry_1_c }
ble_pack U712_CHIP_RAM.CAS_COUNTER_RNO_0_2_LC_13_13_2 { U712_CHIP_RAM.CAS_COUNTER_RNO_0[2], U712_CHIP_RAM.un1_CAS_COUNTER_cry_2_c }
ble_pack U712_CHIP_RAM.CAS_COUNTER_RNO_0_3_LC_13_13_3 { U712_CHIP_RAM.CAS_COUNTER_RNO_0[3] }
ble_pack U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNO_0_LC_13_13_4 { U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNO_0 }
ble_pack U712_CHIP_RAM.CAS_COUNTER_1_LC_13_13_5 { U712_CHIP_RAM.CAS_COUNTER_RNO[1], U712_CHIP_RAM.CAS_COUNTER[1] }
ble_pack U712_CHIP_RAM.CAS_COUNTER_3_LC_13_13_6 { U712_CHIP_RAM.CAS_COUNTER_RNO[3], U712_CHIP_RAM.CAS_COUNTER[3] }
ble_pack U712_CHIP_RAM.CAS_COUNTER_0_LC_13_13_7 { U712_CHIP_RAM.CAS_COUNTER_RNO[0], U712_CHIP_RAM.CAS_COUNTER[0] }
clb_pack LT_13_13 { U712_CHIP_RAM.CAS_COUNTER_RNO_0_0_LC_13_13_0, U712_CHIP_RAM.CAS_COUNTER_RNO_0_1_LC_13_13_1, U712_CHIP_RAM.CAS_COUNTER_RNO_0_2_LC_13_13_2, U712_CHIP_RAM.CAS_COUNTER_RNO_0_3_LC_13_13_3, U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNO_0_LC_13_13_4, U712_CHIP_RAM.CAS_COUNTER_1_LC_13_13_5, U712_CHIP_RAM.CAS_COUNTER_3_LC_13_13_6, U712_CHIP_RAM.CAS_COUNTER_0_LC_13_13_7 }
set_location LT_13_13 13 13
ble_pack DBR_SYNC_RNITKK4_1_LC_13_14_1 { DBR_SYNC_RNITKK4[1] }
clb_pack LT_13_14 { DBR_SYNC_RNITKK4_1_LC_13_14_1 }
set_location LT_13_14 13 14
ble_pack U712_REG_SM.ASn_ess_RNO_LC_13_16_3 { U712_REG_SM.ASn_ess_RNO }
clb_pack LT_13_16 { U712_REG_SM.ASn_ess_RNO_LC_13_16_3 }
set_location LT_13_16 13 16
ble_pack U712_CHIP_RAM.RASn_LC_14_4_6 { U712_CHIP_RAM.RASn_THRU_LUT4_0, U712_CHIP_RAM.RASn }
clb_pack LT_14_4 { U712_CHIP_RAM.RASn_LC_14_4_6 }
set_location LT_14_4 14 4
ble_pack U712_CHIP_RAM.CMA_esr_9_LC_14_6_1 { U712_CHIP_RAM.CMA_esr_RNO[9], U712_CHIP_RAM.CMA_esr[9] }
clb_pack LT_14_6 { U712_CHIP_RAM.CMA_esr_9_LC_14_6_1 }
set_location LT_14_6 14 6
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_6_LC_14_7_5 { U712_CHIP_RAM.CMA_esr_RNO_0[6] }
clb_pack LT_14_7 { U712_CHIP_RAM.CMA_esr_RNO_0_6_LC_14_7_5 }
set_location LT_14_7 14 7
ble_pack U712_CHIP_RAM.CMA_esr_5_LC_14_8_1 { U712_CHIP_RAM.CMA_esr_RNO[5], U712_CHIP_RAM.CMA_esr[5] }
ble_pack U712_CHIP_RAM.CMA_esr_4_LC_14_8_5 { U712_CHIP_RAM.CMA_esr_RNO[4], U712_CHIP_RAM.CMA_esr[4] }
ble_pack U712_CHIP_RAM.CMA_esr_7_LC_14_8_6 { U712_CHIP_RAM.CMA_esr_RNO[7], U712_CHIP_RAM.CMA_esr[7] }
clb_pack LT_14_8 { U712_CHIP_RAM.CMA_esr_5_LC_14_8_1, U712_CHIP_RAM.CMA_esr_4_LC_14_8_5, U712_CHIP_RAM.CMA_esr_7_LC_14_8_6 }
set_location LT_14_8 14 8
ble_pack U712_CHIP_RAM.CMA_esr_RNO_2_5_LC_14_9_1 { U712_CHIP_RAM.CMA_esr_RNO_2[5] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_5_LC_14_9_4 { U712_CHIP_RAM.CMA_esr_RNO_1[5] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_5_LC_14_9_5 { U712_CHIP_RAM.CMA_esr_RNO_0[5] }
clb_pack LT_14_9 { U712_CHIP_RAM.CMA_esr_RNO_2_5_LC_14_9_1, U712_CHIP_RAM.CMA_esr_RNO_1_5_LC_14_9_4, U712_CHIP_RAM.CMA_esr_RNO_0_5_LC_14_9_5 }
set_location LT_14_9 14 9
ble_pack U712_CHIP_RAM.DBENn_RNI8DDB1_0_LC_14_10_3 { U712_CHIP_RAM.DBENn_RNI8DDB1_0 }
clb_pack LT_14_10 { U712_CHIP_RAM.DBENn_RNI8DDB1_0_LC_14_10_3 }
set_location LT_14_10 14 10
ble_pack U712_CHIP_RAM.DBENn_RNI6U6F1_LC_14_11_0 { U712_CHIP_RAM.DBENn_RNI6U6F1 }
ble_pack U712_CHIP_RAM.DBENn_RNI6U6F1_0_LC_14_11_1 { U712_CHIP_RAM.DBENn_RNI6U6F1_0 }
clb_pack LT_14_11 { U712_CHIP_RAM.DBENn_RNI6U6F1_LC_14_11_0, U712_CHIP_RAM.DBENn_RNI6U6F1_0_LC_14_11_1 }
set_location LT_14_11 14 11
ble_pack U712_CHIP_RAM.CAS_SYNC_0_LC_14_12_0 { U712_CHIP_RAM.CAS_SYNC_RNO[0], U712_CHIP_RAM.CAS_SYNC[0] }
ble_pack U712_CHIP_RAM.CAS_SYNC_1_LC_14_12_5 { U712_CHIP_RAM.CAS_SYNC_1_THRU_LUT4_0, U712_CHIP_RAM.CAS_SYNC[1] }
clb_pack LT_14_12 { U712_CHIP_RAM.CAS_SYNC_0_LC_14_12_0, U712_CHIP_RAM.CAS_SYNC_1_LC_14_12_5 }
set_location LT_14_12 14 12
ble_pack U712_CYCLE_TERM.TACK_OUT_RNO_0_LC_14_13_3 { U712_CYCLE_TERM.TACK_OUT_RNO_0 }
ble_pack U712_CYCLE_TERM.TACK_OUT_LC_14_13_4 { U712_CYCLE_TERM.TACK_OUT_RNO, U712_CYCLE_TERM.TACK_OUT }
ble_pack U712_CYCLE_TERM.TACK_STATE_0_LC_14_13_5 { U712_CYCLE_TERM.TACK_STATE_RNO[0], U712_CYCLE_TERM.TACK_STATE[0] }
ble_pack U712_CYCLE_TERM.TACK_STATE_1_LC_14_13_6 { U712_CYCLE_TERM.TACK_STATE_RNO[1], U712_CYCLE_TERM.TACK_STATE[1] }
clb_pack LT_14_13 { U712_CYCLE_TERM.TACK_OUT_RNO_0_LC_14_13_3, U712_CYCLE_TERM.TACK_OUT_LC_14_13_4, U712_CYCLE_TERM.TACK_STATE_0_LC_14_13_5, U712_CYCLE_TERM.TACK_STATE_1_LC_14_13_6 }
set_location LT_14_13 14 13
ble_pack U712_CYCLE_TERM.TACK_EN_LC_14_14_0 { U712_CYCLE_TERM.TACK_EN_RNO, U712_CYCLE_TERM.TACK_EN }
clb_pack LT_14_14 { U712_CYCLE_TERM.TACK_EN_LC_14_14_0 }
set_location LT_14_14 14 14
ble_pack U712_REG_SM.ASn_ess_LC_14_16_6 { U712_REG_SM.ASn_ess_THRU_LUT4_0, U712_REG_SM.ASn_ess }
clb_pack LT_14_16 { U712_REG_SM.ASn_ess_LC_14_16_6 }
set_location LT_14_16 14 16
ble_pack U712_CHIP_RAM.DMA_WRITE_CYCLE_RNIVHJN_LC_14_19_3 { U712_CHIP_RAM.DMA_WRITE_CYCLE_RNIVHJN }
clb_pack LT_14_19 { U712_CHIP_RAM.DMA_WRITE_CYCLE_RNIVHJN_LC_14_19_3 }
set_location LT_14_19 14 19
ble_pack U712_CHIP_RAM.CMA_esr_6_LC_15_6_4 { U712_CHIP_RAM.CMA_esr_RNO[6], U712_CHIP_RAM.CMA_esr[6] }
clb_pack LT_15_6 { U712_CHIP_RAM.CMA_esr_6_LC_15_6_4 }
set_location LT_15_6 15 6
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_6_LC_15_7_5 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_7_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_6_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[6] }
clb_pack LT_15_7 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_6_LC_15_7_5 }
set_location LT_15_7 15 7
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_5_LC_15_8_5 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[5], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[5] }
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_7_LC_15_8_7 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[7], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[7] }
clb_pack LT_15_8 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_5_LC_15_8_5, U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_7_LC_15_8_7 }
set_location LT_15_8 15 8
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_5_LC_15_9_0 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_6_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_5_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[5] }
clb_pack LT_15_9 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_5_LC_15_9_0 }
set_location LT_15_9 15 9
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_4_LC_15_10_6 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_5_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_4_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[4] }
clb_pack LT_15_10 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_4_LC_15_10_6 }
set_location LT_15_10 15 10
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_RNO_0_LC_15_11_0 { U712_CHIP_RAM.DMA_CYCLE_START_RNO_0 }
ble_pack U712_CHIP_RAM.DMA_CYCLE_RNIMKV8_LC_15_11_6 { U712_CHIP_RAM.DMA_CYCLE_RNIMKV8 }
clb_pack LT_15_11 { U712_CHIP_RAM.DMA_CYCLE_START_RNO_0_LC_15_11_0, U712_CHIP_RAM.DMA_CYCLE_RNIMKV8_LC_15_11_6 }
set_location LT_15_11 15 11
ble_pack U712_CHIP_RAM.DMA_CYCLE_RNIVA8H_LC_15_12_7 { U712_CHIP_RAM.DMA_CYCLE_RNIVA8H }
clb_pack LT_15_12 { U712_CHIP_RAM.DMA_CYCLE_RNIVA8H_LC_15_12_7 }
set_location LT_15_12 15 12
ble_pack U712_CHIP_RAM.CMA_esr_RNO_2_3_LC_16_6_7 { U712_CHIP_RAM.CMA_esr_RNO_2[3] }
clb_pack LT_16_6 { U712_CHIP_RAM.CMA_esr_RNO_2_3_LC_16_6_7 }
set_location LT_16_6 16 6
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_1_LC_16_7_0 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_2_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_1_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[1] }
clb_pack LT_16_7 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_1_LC_16_7_0 }
set_location LT_16_7 16 7
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_7_LC_16_8_2 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_8_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_7_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[7] }
clb_pack LT_16_8 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_7_LC_16_8_2 }
set_location LT_16_8 16 8
ble_pack U712_CHIP_RAM.CMA_esr_10_LC_16_9_5 { U712_CHIP_RAM.CMA_esr_RNO[10], U712_CHIP_RAM.CMA_esr[10] }
clb_pack LT_16_9 { U712_CHIP_RAM.CMA_esr_10_LC_16_9_5 }
set_location LT_16_9 16 9
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_8_LC_16_10_4 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[8], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[8] }
clb_pack LT_16_10 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_8_LC_16_10_4 }
set_location LT_16_10 16 10
ble_pack U712_CHIP_RAM.RAS_SYNC_2_LC_16_11_0 { U712_CHIP_RAM.RAS_SYNC_2_THRU_LUT4_0, U712_CHIP_RAM.RAS_SYNC[2] }
ble_pack U712_CHIP_RAM.RAS_SYNC_3_LC_16_11_2 { U712_CHIP_RAM.RAS_SYNC_3_THRU_LUT4_0, U712_CHIP_RAM.RAS_SYNC[3] }
ble_pack U712_CHIP_RAM.RAS_SYNC_5_LC_16_11_5 { U712_CHIP_RAM.RAS_SYNC_5_THRU_LUT4_0, U712_CHIP_RAM.RAS_SYNC[5] }
ble_pack U712_CHIP_RAM.RAS_SYNC_4_LC_16_11_6 { U712_CHIP_RAM.RAS_SYNC_4_THRU_LUT4_0, U712_CHIP_RAM.RAS_SYNC[4] }
clb_pack LT_16_11 { U712_CHIP_RAM.RAS_SYNC_2_LC_16_11_0, U712_CHIP_RAM.RAS_SYNC_3_LC_16_11_2, U712_CHIP_RAM.RAS_SYNC_5_LC_16_11_5, U712_CHIP_RAM.RAS_SYNC_4_LC_16_11_6 }
set_location LT_16_11 16 11
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_3_LC_17_6_3 { U712_CHIP_RAM.CMA_esr_RNO_0[3] }
clb_pack LT_17_6 { U712_CHIP_RAM.CMA_esr_RNO_0_3_LC_17_6_3 }
set_location LT_17_6 17 6
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_6_LC_17_7_4 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[6], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[6] }
clb_pack LT_17_7 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_6_LC_17_7_4 }
set_location LT_17_7 17 7
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_9_LC_17_8_0 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_RNO[9], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[9] }
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_4_LC_17_8_5 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[4], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[4] }
clb_pack LT_17_8 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_9_LC_17_8_0, U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_4_LC_17_8_5 }
set_location LT_17_8 17 8
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_2_LC_17_9_1 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_3_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_2_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[2] }
clb_pack LT_17_9 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_2_LC_17_9_1 }
set_location LT_17_9 17 9
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_3_LC_17_10_4 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_4_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_3_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[3] }
clb_pack LT_17_10 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_3_LC_17_10_4 }
set_location LT_17_10 17 10
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_0_LC_17_11_1 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_1_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_0_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[0] }
ble_pack U712_CHIP_RAM.DMA_A1_nesr_LC_17_11_5 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_0_U712_CHIP_RAM.DMA_A1_nesr_REP_LUT4_0, U712_CHIP_RAM.DMA_A1_nesr }
clb_pack LT_17_11 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_0_LC_17_11_1, U712_CHIP_RAM.DMA_A1_nesr_LC_17_11_5 }
set_location LT_17_11 17 11
ble_pack U712_CHIP_RAM.CRCSn_LC_18_3_5 { U712_CHIP_RAM.CRCSn_THRU_LUT4_0, U712_CHIP_RAM.CRCSn }
clb_pack LT_18_3 { U712_CHIP_RAM.CRCSn_LC_18_3_5 }
set_location LT_18_3 18 3
ble_pack U712_CHIP_RAM.CASn_LC_18_5_4 { U712_CHIP_RAM.CASn_THRU_LUT4_0, U712_CHIP_RAM.CASn }
clb_pack LT_18_5 { U712_CHIP_RAM.CASn_LC_18_5_4 }
set_location LT_18_5 18 5
ble_pack U712_CHIP_RAM.CMA_esr_3_LC_18_6_0 { U712_CHIP_RAM.CMA_esr_RNO[3], U712_CHIP_RAM.CMA_esr[3] }
clb_pack LT_18_6 { U712_CHIP_RAM.CMA_esr_3_LC_18_6_0 }
set_location LT_18_6 18 6
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_2_LC_18_7_5 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[2], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[2] }
clb_pack LT_18_7 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_2_LC_18_7_5 }
set_location LT_18_7 18 7
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_3_LC_18_8_3 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[3], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[3] }
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_1_LC_18_8_6 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[1], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[1] }
clb_pack LT_18_8 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_3_LC_18_8_3, U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_1_LC_18_8_6 }
set_location LT_18_8 18 8
ble_pack U712_CHIP_RAM.RAS_SYNC_0_LC_18_9_6 { U712_CHIP_RAM.RAS_SYNC_RNO[0], U712_CHIP_RAM.RAS_SYNC[0] }
clb_pack LT_18_9 { U712_CHIP_RAM.RAS_SYNC_0_LC_18_9_6 }
set_location LT_18_9 18 9
ble_pack U712_CHIP_RAM.RAS_SYNC_1_LC_18_10_4 { U712_CHIP_RAM.RAS_SYNC_1_THRU_LUT4_0, U712_CHIP_RAM.RAS_SYNC[1] }
clb_pack LT_18_10 { U712_CHIP_RAM.RAS_SYNC_1_LC_18_10_4 }
set_location LT_18_10 18 10
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_0_LC_18_11_1 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[0], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[0] }
clb_pack LT_18_11 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_0_LC_18_11_1 }
set_location LT_18_11 18 11
ble_pack U712_CHIP_RAM.DMA_WRITE_CYCLE_RNIRVG61_LC_24_19_5 { U712_CHIP_RAM.DMA_WRITE_CYCLE_RNIRVG61 }
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_RNIQ44J_LC_24_19_6 { U712_CHIP_RAM.CPU_CYCLE_esr_RNIQ44J }
clb_pack LT_24_19 { U712_CHIP_RAM.DMA_WRITE_CYCLE_RNIRVG61_LC_24_19_5, U712_CHIP_RAM.CPU_CYCLE_esr_RNIQ44J_LC_24_19_6 }
set_location LT_24_19 24 19
set_location C1_ibuf_RNIPA2A 13 21
set_location RESETn_ibuf_RNIM9SF_0 12 21
set_location DBRn_c_i_0_g_gb 0 11
set_location C3_ibuf_RNIRKME 25 10
set_io TBIn 39
set_io SIZ[1] 1
set_io RAMSPACEn 130
set_io DRA[6] 95
set_io A[0] 12
set_io DRA[9] 106
set_io DBRn 138
set_io A[14] 28
set_io RAMENn 139
set_io CMA[4] 78
set_io A[5] 16
set_io TSn 136
set_io LMBEn 122
set_io DRA[2] 99
set_io DMA_LATCH_EN 134
set_io A[13] 26
set_io CLMBEn 75
set_io AWEn 135
set_io RESETn 94
set_io CMA[1] 48
set_io CLK_EN 84
set_io CASn 62
set_io BANK0 52
set_io A[20] 11
set_io SIZ[0] 2
set_io DRA[7] 91
set_io CMA[8] 82
set_io A[1] 10
set_io CLK40B_OUT 112
set_io A[17] 32
set_io VBENn 44
set_io DRA[1] 101
set_io DA[2] 120
set_io CUMBEn 74
set_io CLKRAM 38
set_io CLK40D_OUT 115
set_io C3 143
set_io ASn 116
set_io UUBEn 125
set_io LDSn 117
set_io LATCH_CLK 137
set_io DRA[8] 90
set_io CMA[5] 79
set_io CASUn 104
set_io A[6] 17
set_io A[15] 29
set_io RAS1n 88
set_io DRDDIR 107
set_io DRA[3] 98
set_io DBDIR 43
set_io A[12] 25
set_io UDSn 118
set_io RnW 144
set_io DRDENn 110
set_io A[4] 15
set_io DBENn 42
set_io CMA[2] 47
set_io CMA[10] 56
set_io BANK1 49
set_io A[10] 23
set_io UMBEn 121
set_io RAS0n 87
set_io DRA[4] 97
set_io DA[1] 128
set_io CMA[9] 83
set_io A[2] 8
set_io A[19] 34
set_io PRnW 119
set_io CUUBEn 85
set_io CRCSn 60
set_io CMA[0] 55
set_io CLLBEn 45
set_io CLK40C_OUT 21
set_io CASLn 105
set_io BLSn 113
set_io A[9] 22
set_io A[16] 31
set_io TCIn 64
set_io WEn 73
set_io REGENn 141
set_io LLBEn 124
set_io CMA[6] 80
set_io A[7] 18
set_io DRA[0] 102
set_io CLK40_IN 20
set_io REGSPACEn 41
set_io CMA[3] 76
set_io RASn 61
set_io DRA[5] 96
set_io A[3] 9
set_io A[18] 33
set_io AGNUS_REV 114
set_io A[11] 24
set_io TACKn 7
set_io DA[0] 129
set_io C1 142
set_io CMA[7] 81
set_io A[8] 19
