ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle_9_LC_3_11_2 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle[9] }
clb_pack LT_3_11 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle_9_LC_3_11_2 }
set_location LT_3_11 3 11
ble_pack CLKRAM_obuf_RNO_LC_5_1_5 { CLKRAM_obuf_RNO }
clb_pack LT_5_1 { CLKRAM_obuf_RNO_LC_5_1_5 }
set_location LT_5_1 5 1
ble_pack DBRn_ibuf_RNIBAB_LC_6_12_4 { DBRn_ibuf_RNIBAB }
clb_pack LT_6_12 { DBRn_ibuf_RNIBAB_LC_6_12_4 }
set_location LT_6_12 6 12
ble_pack U712_CYCLE_TERM.TACK_STATE_3_LC_6_14_0 { U712_CYCLE_TERM.TACK_STATE_3_THRU_LUT4_0, U712_CYCLE_TERM.TACK_STATE[3] }
ble_pack U712_CYCLE_TERM.TACK_STATE_4_LC_6_14_5 { U712_CYCLE_TERM.TACK_STATE_4_THRU_LUT4_0, U712_CYCLE_TERM.TACK_STATE[4] }
clb_pack LT_6_14 { U712_CYCLE_TERM.TACK_STATE_3_LC_6_14_0, U712_CYCLE_TERM.TACK_STATE_4_LC_6_14_5 }
set_location LT_6_14 6 14
ble_pack pll_RNI8MQ3_LC_7_10_1 { pll_RNI8MQ3 }
clb_pack LT_7_10 { pll_RNI8MQ3_LC_7_10_1 }
set_location LT_7_10 7 10
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNIOV791_LC_7_11_0 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNIOV791 }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_0_3_LC_7_11_1 { U712_CHIP_RAM.SDRAM_CMD_RNO_0[3] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_3_LC_7_11_2 { U712_CHIP_RAM.SDRAM_CMD_RNO[3], U712_CHIP_RAM.SDRAM_CMD[3] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIQTMR1_1_LC_7_11_4 { U712_CHIP_RAM.SDRAM_COUNTER_RNIQTMR1[1] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_0_0_LC_7_11_6 { U712_CHIP_RAM.SDRAM_CMD_RNO_0[0] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_0_LC_7_11_7 { U712_CHIP_RAM.SDRAM_CMD_RNO[0], U712_CHIP_RAM.SDRAM_CMD[0] }
clb_pack LT_7_11 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNIOV791_LC_7_11_0, U712_CHIP_RAM.SDRAM_CMD_RNO_0_3_LC_7_11_1, U712_CHIP_RAM.SDRAM_CMD_3_LC_7_11_2, U712_CHIP_RAM.SDRAM_COUNTER_RNIQTMR1_1_LC_7_11_4, U712_CHIP_RAM.SDRAM_CMD_RNO_0_0_LC_7_11_6, U712_CHIP_RAM.SDRAM_CMD_0_LC_7_11_7 }
set_location LT_7_11 7 11
ble_pack U712_CHIP_RAM.DMA_CYCLE_esr_RNI6FNG_LC_7_12_0 { U712_CHIP_RAM.DMA_CYCLE_esr_RNI6FNG, U712_CHIP_RAM.SDRAM_COUNTER_cry_c[0] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_1_LC_7_12_1 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[1], U712_CHIP_RAM.SDRAM_COUNTER[1], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[1] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNO_0_2_LC_7_12_2 { U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[2], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[2] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_3_LC_7_12_3 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[3], U712_CHIP_RAM.SDRAM_COUNTER[3], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[3] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_4_LC_7_12_4 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[4], U712_CHIP_RAM.SDRAM_COUNTER[4], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[4] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_5_LC_7_12_5 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[5], U712_CHIP_RAM.SDRAM_COUNTER[5], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[5] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_6_LC_7_12_6 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[6], U712_CHIP_RAM.SDRAM_COUNTER[6], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[6] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_7_LC_7_12_7 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[7], U712_CHIP_RAM.SDRAM_COUNTER[7] }
clb_pack LT_7_12 { U712_CHIP_RAM.DMA_CYCLE_esr_RNI6FNG_LC_7_12_0, U712_CHIP_RAM.SDRAM_COUNTER_1_LC_7_12_1, U712_CHIP_RAM.SDRAM_COUNTER_RNO_0_2_LC_7_12_2, U712_CHIP_RAM.SDRAM_COUNTER_3_LC_7_12_3, U712_CHIP_RAM.SDRAM_COUNTER_4_LC_7_12_4, U712_CHIP_RAM.SDRAM_COUNTER_5_LC_7_12_5, U712_CHIP_RAM.SDRAM_COUNTER_6_LC_7_12_6, U712_CHIP_RAM.SDRAM_COUNTER_7_LC_7_12_7 }
set_location LT_7_12 7 12
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_1_2_LC_7_13_0 { U712_CHIP_RAM.SDRAM_CMD_RNO_1[2] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_1_0_LC_7_13_1 { U712_CHIP_RAM.SDRAM_CMD_RNO_1[0] }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNI2EV43_LC_7_13_2 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNI2EV43 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIRCRT_1_LC_7_13_3 { U712_CHIP_RAM.SDRAM_COUNTER_RNIRCRT[1] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIG7JB2_3_LC_7_13_4 { U712_CHIP_RAM.SDRAM_COUNTER_RNIG7JB2[3] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI5EAU6_3_LC_7_13_5 { U712_CHIP_RAM.SDRAM_COUNTER_RNI5EAU6[3] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_2_LC_7_13_6 { U712_CHIP_RAM.SDRAM_CMD_RNO[2], U712_CHIP_RAM.SDRAM_CMD[2] }
ble_pack U712_CHIP_RAM.DMA_CYCLE_esr_RNIN90C1_LC_7_13_7 { U712_CHIP_RAM.DMA_CYCLE_esr_RNIN90C1 }
clb_pack LT_7_13 { U712_CHIP_RAM.SDRAM_CMD_RNO_1_2_LC_7_13_0, U712_CHIP_RAM.SDRAM_CMD_RNO_1_0_LC_7_13_1, U712_CHIP_RAM.SDRAM_CONFIGURED_RNI2EV43_LC_7_13_2, U712_CHIP_RAM.SDRAM_COUNTER_RNIRCRT_1_LC_7_13_3, U712_CHIP_RAM.SDRAM_COUNTER_RNIG7JB2_3_LC_7_13_4, U712_CHIP_RAM.SDRAM_COUNTER_RNI5EAU6_3_LC_7_13_5, U712_CHIP_RAM.SDRAM_CMD_2_LC_7_13_6, U712_CHIP_RAM.DMA_CYCLE_esr_RNIN90C1_LC_7_13_7 }
set_location LT_7_13 7 13
ble_pack U712_CYCLE_TERM.TACK_STATE_RNO_0_0_LC_7_14_1 { U712_CYCLE_TERM.TACK_STATE_RNO_0[0] }
ble_pack U712_CYCLE_TERM.TACK_OUT_RNO_0_LC_7_14_2 { U712_CYCLE_TERM.TACK_OUT_RNO_0 }
ble_pack U712_CYCLE_TERM.TACK_OUT_LC_7_14_3 { U712_CYCLE_TERM.TACK_OUT_RNO, U712_CYCLE_TERM.TACK_OUT }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_0_2_LC_7_14_5 { U712_CHIP_RAM.SDRAM_CMD_RNO_0[2] }
clb_pack LT_7_14 { U712_CYCLE_TERM.TACK_STATE_RNO_0_0_LC_7_14_1, U712_CYCLE_TERM.TACK_OUT_RNO_0_LC_7_14_2, U712_CYCLE_TERM.TACK_OUT_LC_7_14_3, U712_CHIP_RAM.SDRAM_CMD_RNO_0_2_LC_7_14_5 }
set_location LT_7_14 7 14
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_0_LC_8_8_5 { U712_CHIP_RAM.CMA_esr_RNO_1[0] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_0_LC_8_8_6 { U712_CHIP_RAM.CMA_esr_RNO_0[0] }
clb_pack LT_8_8 { U712_CHIP_RAM.CMA_esr_RNO_1_0_LC_8_8_5, U712_CHIP_RAM.CMA_esr_RNO_0_0_LC_8_8_6 }
set_location LT_8_8 8 8
ble_pack U712_BUFFERS.un1_VBENn_0_a2_LC_8_9_6 { U712_BUFFERS.un1_VBENn_0_a2 }
clb_pack LT_8_9 { U712_BUFFERS.un1_VBENn_0_a2_LC_8_9_6 }
set_location LT_8_9 8 9
ble_pack U712_CHIP_RAM.CMA_esr_10_LC_8_10_3 { U712_CHIP_RAM.CMA_esr_RNO[10], U712_CHIP_RAM.CMA_esr[10] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_2_LC_8_10_5 { U712_CHIP_RAM.CMA_esr_RNO_1[2] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_2_LC_8_10_6 { U712_CHIP_RAM.CMA_esr_RNO_0[2] }
ble_pack U712_CHIP_RAM.CMA_esr_2_LC_8_10_7 { U712_CHIP_RAM.CMA_esr_RNO[2], U712_CHIP_RAM.CMA_esr[2] }
clb_pack LT_8_10 { U712_CHIP_RAM.CMA_esr_10_LC_8_10_3, U712_CHIP_RAM.CMA_esr_RNO_1_2_LC_8_10_5, U712_CHIP_RAM.CMA_esr_RNO_0_2_LC_8_10_6, U712_CHIP_RAM.CMA_esr_2_LC_8_10_7 }
set_location LT_8_10 8 10
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNO_0_LC_8_11_0 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNO_0 }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_LC_8_11_1 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNO, U712_CHIP_RAM.SDRAM_CONFIGURED }
ble_pack U712_CHIP_RAM.WRITE_CYCLE_RNIGDNC1_LC_8_11_2 { U712_CHIP_RAM.WRITE_CYCLE_RNIGDNC1 }
ble_pack U712_CHIP_RAM.WRITE_CYCLE_RNI6NJS1_LC_8_11_3 { U712_CHIP_RAM.WRITE_CYCLE_RNI6NJS1 }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_2_1_LC_8_11_4 { U712_CHIP_RAM.SDRAM_CMD_RNO_2[1] }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNIHQ8R_LC_8_11_5 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNIHQ8R }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNO_0_0_LC_8_11_6 { U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[0] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIM2QU_3_LC_8_11_7 { U712_CHIP_RAM.SDRAM_COUNTER_RNIM2QU[3] }
clb_pack LT_8_11 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNO_0_LC_8_11_0, U712_CHIP_RAM.SDRAM_CONFIGURED_LC_8_11_1, U712_CHIP_RAM.WRITE_CYCLE_RNIGDNC1_LC_8_11_2, U712_CHIP_RAM.WRITE_CYCLE_RNI6NJS1_LC_8_11_3, U712_CHIP_RAM.SDRAM_CMD_RNO_2_1_LC_8_11_4, U712_CHIP_RAM.SDRAM_CONFIGURED_RNIHQ8R_LC_8_11_5, U712_CHIP_RAM.SDRAM_COUNTER_RNO_0_0_LC_8_11_6, U712_CHIP_RAM.SDRAM_COUNTER_RNIM2QU_3_LC_8_11_7 }
set_location LT_8_11 8 11
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_2_LC_8_12_0 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[2], U712_CHIP_RAM.SDRAM_COUNTER[2] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNILQND1_3_LC_8_12_1 { U712_CHIP_RAM.SDRAM_COUNTER_RNILQND1[3] }
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_RNIKHPV5_LC_8_12_2 { U712_CHIP_RAM.DMA_CYCLE_START_RNIKHPV5 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIU7F93_1_LC_8_12_3 { U712_CHIP_RAM.SDRAM_COUNTER_RNIU7F93[1] }
ble_pack U712_CHIP_RAM.DMA_CYCLE_esr_RNI615I6_LC_8_12_4 { U712_CHIP_RAM.DMA_CYCLE_esr_RNI615I6 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNISSQMA_3_LC_8_12_5 { U712_CHIP_RAM.SDRAM_COUNTER_RNISSQMA[3] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_0_LC_8_12_6 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[0], U712_CHIP_RAM.SDRAM_COUNTER[0] }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNIGB4P1_LC_8_12_7 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNIGB4P1 }
clb_pack LT_8_12 { U712_CHIP_RAM.SDRAM_COUNTER_2_LC_8_12_0, U712_CHIP_RAM.SDRAM_COUNTER_RNILQND1_3_LC_8_12_1, U712_CHIP_RAM.DMA_CYCLE_START_RNIKHPV5_LC_8_12_2, U712_CHIP_RAM.SDRAM_COUNTER_RNIU7F93_1_LC_8_12_3, U712_CHIP_RAM.DMA_CYCLE_esr_RNI615I6_LC_8_12_4, U712_CHIP_RAM.SDRAM_COUNTER_RNISSQMA_3_LC_8_12_5, U712_CHIP_RAM.SDRAM_COUNTER_0_LC_8_12_6, U712_CHIP_RAM.SDRAM_CONFIGURED_RNIGB4P1_LC_8_12_7 }
set_location LT_8_12 8 12
ble_pack U712_CHIP_RAM.CLK_EN_ess_LC_8_13_0 { U712_CHIP_RAM.CLK_EN_ess_RNO, U712_CHIP_RAM.CLK_EN_ess }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIA7LA2_3_LC_8_13_1 { U712_CHIP_RAM.SDRAM_COUNTER_RNIA7LA2[3] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIL6NI4_0_LC_8_13_2 { U712_CHIP_RAM.SDRAM_COUNTER_RNIL6NI4[0] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIADE59_2_LC_8_13_3 { U712_CHIP_RAM.SDRAM_COUNTER_RNIADE59[2] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIOV5BI_2_LC_8_13_4 { U712_CHIP_RAM.SDRAM_COUNTER_RNIOV5BI[2] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIAENR1_7_LC_8_13_5 { U712_CHIP_RAM.SDRAM_COUNTER_RNIAENR1[7] }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNI3FV43_LC_8_13_6 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNI3FV43 }
ble_pack U712_CHIP_RAM.WRITE_CYCLE_RNIOBA64_LC_8_13_7 { U712_CHIP_RAM.WRITE_CYCLE_RNIOBA64 }
clb_pack LT_8_13 { U712_CHIP_RAM.CLK_EN_ess_LC_8_13_0, U712_CHIP_RAM.SDRAM_COUNTER_RNIA7LA2_3_LC_8_13_1, U712_CHIP_RAM.SDRAM_COUNTER_RNIL6NI4_0_LC_8_13_2, U712_CHIP_RAM.SDRAM_COUNTER_RNIADE59_2_LC_8_13_3, U712_CHIP_RAM.SDRAM_COUNTER_RNIOV5BI_2_LC_8_13_4, U712_CHIP_RAM.SDRAM_COUNTER_RNIAENR1_7_LC_8_13_5, U712_CHIP_RAM.SDRAM_CONFIGURED_RNI3FV43_LC_8_13_6, U712_CHIP_RAM.WRITE_CYCLE_RNIOBA64_LC_8_13_7 }
set_location LT_8_13 8 13
ble_pack U712_CHIP_RAM.DMA_CYCLE_esr_LC_8_14_0 { U712_CHIP_RAM.DMA_CYCLE_START_RNICLGI4_U712_CHIP_RAM.DMA_CYCLE_esr_REP_LUT4_0, U712_CHIP_RAM.DMA_CYCLE_esr }
clb_pack LT_8_14 { U712_CHIP_RAM.DMA_CYCLE_esr_LC_8_14_0 }
set_location LT_8_14 8 14
ble_pack U712_REG_SM.LDSn_RNO_0_LC_8_17_0 { U712_REG_SM.LDSn_RNO_0 }
clb_pack LT_8_17 { U712_REG_SM.LDSn_RNO_0_LC_8_17_0 }
set_location LT_8_17 8 17
ble_pack U712_CHIP_RAM.CMA_esr_0_LC_9_8_5 { U712_CHIP_RAM.CMA_esr_RNO[0], U712_CHIP_RAM.CMA_esr[0] }
clb_pack LT_9_8 { U712_CHIP_RAM.CMA_esr_0_LC_9_8_5 }
set_location LT_9_8 9 8
ble_pack U712_CHIP_RAM.CMA_esr_1_LC_9_9_2 { U712_CHIP_RAM.CMA_esr_RNO[1], U712_CHIP_RAM.CMA_esr[1] }
ble_pack U712_CHIP_RAM.CMA_esr_5_LC_9_9_6 { U712_CHIP_RAM.CMA_esr_RNO[5], U712_CHIP_RAM.CMA_esr[5] }
clb_pack LT_9_9 { U712_CHIP_RAM.CMA_esr_1_LC_9_9_2, U712_CHIP_RAM.CMA_esr_5_LC_9_9_6 }
set_location LT_9_9 9 9
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_5_LC_9_10_0 { U712_CHIP_RAM.CMA_esr_RNO_1[5] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNI4VDC_0_LC_9_10_1 { U712_CHIP_RAM.SDRAM_CMD_RNI4VDC[0] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_2_1_LC_9_10_2 { U712_CHIP_RAM.CMA_esr_RNO_2[1] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_3_1_LC_9_10_4 { U712_CHIP_RAM.CMA_esr_RNO_3[1] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_1_LC_9_10_5 { U712_CHIP_RAM.CMA_esr_RNO_0[1] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_9_LC_9_10_6 { U712_CHIP_RAM.CMA_esr_RNO_0[9] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_1_LC_9_10_7 { U712_CHIP_RAM.CMA_esr_RNO_1[1] }
clb_pack LT_9_10 { U712_CHIP_RAM.CMA_esr_RNO_1_5_LC_9_10_0, U712_CHIP_RAM.SDRAM_CMD_RNI4VDC_0_LC_9_10_1, U712_CHIP_RAM.CMA_esr_RNO_2_1_LC_9_10_2, U712_CHIP_RAM.CMA_esr_RNO_3_1_LC_9_10_4, U712_CHIP_RAM.CMA_esr_RNO_0_1_LC_9_10_5, U712_CHIP_RAM.CMA_esr_RNO_0_9_LC_9_10_6, U712_CHIP_RAM.CMA_esr_RNO_1_1_LC_9_10_7 }
set_location LT_9_10 9 10
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_1_1_LC_9_11_0 { U712_CHIP_RAM.SDRAM_CMD_RNO_1[1] }
ble_pack U712_CHIP_RAM.WRITE_CYCLE_RNILSA11_LC_9_11_1 { U712_CHIP_RAM.WRITE_CYCLE_RNILSA11 }
ble_pack U712_CHIP_RAM.WRITE_CYCLE_RNO_0_LC_9_11_2 { U712_CHIP_RAM.WRITE_CYCLE_RNO_0 }
ble_pack U712_CHIP_RAM.WRITE_CYCLE_LC_9_11_3 { U712_CHIP_RAM.WRITE_CYCLE_RNO, U712_CHIP_RAM.WRITE_CYCLE }
ble_pack U712_CHIP_RAM.DBENn_RNO_0_LC_9_11_5 { U712_CHIP_RAM.DBENn_RNO_0 }
ble_pack U712_CHIP_RAM.DBENn_LC_9_11_6 { U712_CHIP_RAM.DBENn_RNO, U712_CHIP_RAM.DBENn }
ble_pack U712_CHIP_RAM.DBDIR_LC_9_11_7 { U712_CHIP_RAM.DBDIR_RNO, U712_CHIP_RAM.DBDIR }
clb_pack LT_9_11 { U712_CHIP_RAM.SDRAM_CMD_RNO_1_1_LC_9_11_0, U712_CHIP_RAM.WRITE_CYCLE_RNILSA11_LC_9_11_1, U712_CHIP_RAM.WRITE_CYCLE_RNO_0_LC_9_11_2, U712_CHIP_RAM.WRITE_CYCLE_LC_9_11_3, U712_CHIP_RAM.DBENn_RNO_0_LC_9_11_5, U712_CHIP_RAM.DBENn_LC_9_11_6, U712_CHIP_RAM.DBDIR_LC_9_11_7 }
set_location LT_9_11 9 11
ble_pack U712_CHIP_RAM.WRITE_CYCLE_RNIO6DI_LC_9_12_0 { U712_CHIP_RAM.WRITE_CYCLE_RNIO6DI }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIQS0H1_1_LC_9_12_1 { U712_CHIP_RAM.SDRAM_COUNTER_RNIQS0H1[1] }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNIN2IA4_LC_9_12_2 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNIN2IA4 }
ble_pack U712_CHIP_RAM.DMA_WRITE_CYCLE_LC_9_12_3 { U712_CHIP_RAM.DMA_WRITE_CYCLE_RNO, U712_CHIP_RAM.DMA_WRITE_CYCLE }
ble_pack U712_BUFFERS.DMA_LATCH_EN_0_a2_LC_9_12_4 { U712_BUFFERS.DMA_LATCH_EN_0_a2 }
ble_pack U712_BUFFERS.DRDDIR_0_m2_LC_9_12_5 { U712_BUFFERS.DRDDIR_0_m2 }
ble_pack U712_CHIP_RAM.CLK_EN_ess_RNO_1_LC_9_12_6 { U712_CHIP_RAM.CLK_EN_ess_RNO_1 }
ble_pack U712_CHIP_RAM.CLK_EN_ess_RNO_0_LC_9_12_7 { U712_CHIP_RAM.CLK_EN_ess_RNO_0 }
clb_pack LT_9_12 { U712_CHIP_RAM.WRITE_CYCLE_RNIO6DI_LC_9_12_0, U712_CHIP_RAM.SDRAM_COUNTER_RNIQS0H1_1_LC_9_12_1, U712_CHIP_RAM.SDRAM_CONFIGURED_RNIN2IA4_LC_9_12_2, U712_CHIP_RAM.DMA_WRITE_CYCLE_LC_9_12_3, U712_BUFFERS.DMA_LATCH_EN_0_a2_LC_9_12_4, U712_BUFFERS.DRDDIR_0_m2_LC_9_12_5, U712_CHIP_RAM.CLK_EN_ess_RNO_1_LC_9_12_6, U712_CHIP_RAM.CLK_EN_ess_RNO_0_LC_9_12_7 }
set_location LT_9_12 9 12
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNI0CV43_LC_9_13_0 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNI0CV43 }
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_RNILPRG5_LC_9_13_1 { U712_CHIP_RAM.DMA_CYCLE_START_RNILPRG5 }
ble_pack U712_CHIP_RAM.DMA_CYCLE_esr_RNO_LC_9_13_2 { U712_CHIP_RAM.DMA_CYCLE_esr_RNO }
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_RNICLGI4_LC_9_13_3 { U712_CHIP_RAM.DMA_CYCLE_START_RNICLGI4 }
ble_pack U712_CHIP_RAM.WRITE_CYCLE_RNIAGI99_LC_9_13_4 { U712_CHIP_RAM.WRITE_CYCLE_RNIAGI99 }
ble_pack U712_CHIP_RAM.CPU_TACK_esr_RNO_3_LC_9_13_5 { U712_CHIP_RAM.CPU_TACK_esr_RNO_3 }
ble_pack U712_CHIP_RAM.CPU_TACK_esr_RNO_2_LC_9_13_6 { U712_CHIP_RAM.CPU_TACK_esr_RNO_2 }
ble_pack U712_CHIP_RAM.CPU_TACK_esr_RNO_0_LC_9_13_7 { U712_CHIP_RAM.CPU_TACK_esr_RNO_0 }
clb_pack LT_9_13 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNI0CV43_LC_9_13_0, U712_CHIP_RAM.DMA_CYCLE_START_RNILPRG5_LC_9_13_1, U712_CHIP_RAM.DMA_CYCLE_esr_RNO_LC_9_13_2, U712_CHIP_RAM.DMA_CYCLE_START_RNICLGI4_LC_9_13_3, U712_CHIP_RAM.WRITE_CYCLE_RNIAGI99_LC_9_13_4, U712_CHIP_RAM.CPU_TACK_esr_RNO_3_LC_9_13_5, U712_CHIP_RAM.CPU_TACK_esr_RNO_2_LC_9_13_6, U712_CHIP_RAM.CPU_TACK_esr_RNO_0_LC_9_13_7 }
set_location LT_9_13 9 13
ble_pack U712_CYCLE_TERM.TACK_STATE_1_LC_9_14_0 { U712_CYCLE_TERM.TACK_STATE_RNO[1], U712_CYCLE_TERM.TACK_STATE[1] }
ble_pack U712_CYCLE_TERM.TACK_EN6_LC_9_14_1 { U712_CYCLE_TERM.TACK_EN6 }
ble_pack U712_CYCLE_TERM.TACK_STATE_0_LC_9_14_2 { U712_CYCLE_TERM.TACK_STATE_RNO[0], U712_CYCLE_TERM.TACK_STATE[0] }
ble_pack U712_CYCLE_TERM.TACK_EN_RNO_0_LC_9_14_3 { U712_CYCLE_TERM.TACK_EN_RNO_0 }
ble_pack U712_CYCLE_TERM.TACK_EN_LC_9_14_4 { U712_CYCLE_TERM.TACK_EN_RNO, U712_CYCLE_TERM.TACK_EN }
ble_pack U712_CYCLE_TERM.TACK_STATE_2_LC_9_14_5 { U712_CYCLE_TERM.TACK_STATE_RNO[2], U712_CYCLE_TERM.TACK_STATE[2] }
clb_pack LT_9_14 { U712_CYCLE_TERM.TACK_STATE_1_LC_9_14_0, U712_CYCLE_TERM.TACK_EN6_LC_9_14_1, U712_CYCLE_TERM.TACK_STATE_0_LC_9_14_2, U712_CYCLE_TERM.TACK_EN_RNO_0_LC_9_14_3, U712_CYCLE_TERM.TACK_EN_LC_9_14_4, U712_CYCLE_TERM.TACK_STATE_2_LC_9_14_5 }
set_location LT_9_14 9 14
ble_pack DBR_SYNC_0_LC_9_15_3 { DBR_SYNC_0_THRU_LUT4_0, DBR_SYNC[0] }
ble_pack U712_REG_SM.C1_SYNC_1_LC_9_15_4 { U712_REG_SM.C1_SYNC_1_THRU_LUT4_0, U712_REG_SM.C1_SYNC[1] }
clb_pack LT_9_15 { DBR_SYNC_0_LC_9_15_3, U712_REG_SM.C1_SYNC_1_LC_9_15_4 }
set_location LT_9_15 9 15
ble_pack U712_REG_SM.C3_SYNC_RNI6FIN_1_LC_9_16_1 { U712_REG_SM.C3_SYNC_RNI6FIN[1] }
ble_pack U712_REG_SM.STATE_COUNT_1_LC_9_16_2 { U712_REG_SM.STATE_COUNT_RNO[1], U712_REG_SM.STATE_COUNT[1] }
ble_pack U712_REG_SM.C3_SYNC_RNI6FIN_0_1_LC_9_16_5 { U712_REG_SM.C3_SYNC_RNI6FIN_0[1] }
clb_pack LT_9_16 { U712_REG_SM.C3_SYNC_RNI6FIN_1_LC_9_16_1, U712_REG_SM.STATE_COUNT_1_LC_9_16_2, U712_REG_SM.C3_SYNC_RNI6FIN_0_1_LC_9_16_5 }
set_location LT_9_16 9 16
ble_pack U712_REG_SM.C1_SYNC_0_LC_9_17_0 { U712_REG_SM.C1_SYNC_0_THRU_LUT4_0, U712_REG_SM.C1_SYNC[0] }
ble_pack U712_REG_SM.UDSn_LC_9_17_3 { U712_REG_SM.UDSn_RNO, U712_REG_SM.UDSn }
ble_pack U712_REG_SM.LDSn_LC_9_17_6 { U712_REG_SM.LDSn_RNO, U712_REG_SM.LDSn }
clb_pack LT_9_17 { U712_REG_SM.C1_SYNC_0_LC_9_17_0, U712_REG_SM.UDSn_LC_9_17_3, U712_REG_SM.LDSn_LC_9_17_6 }
set_location LT_9_17 9 17
ble_pack U712_REG_SM.UDSn_RNO_0_LC_9_18_7 { U712_REG_SM.UDSn_RNO_0 }
clb_pack LT_9_18 { U712_REG_SM.UDSn_RNO_0_LC_9_18_7 }
set_location LT_9_18 9 18
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_7_LC_10_8_0 { U712_CHIP_RAM.CMA_esr_RNO_0[7] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_7_LC_10_8_1 { U712_CHIP_RAM.CMA_esr_RNO_1[7] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_8_LC_10_8_2 { U712_CHIP_RAM.CMA_esr_RNO_1[8] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_8_LC_10_8_3 { U712_CHIP_RAM.CMA_esr_RNO_0[8] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_5_LC_10_8_6 { U712_CHIP_RAM.CMA_esr_RNO_0[5] }
clb_pack LT_10_8 { U712_CHIP_RAM.CMA_esr_RNO_0_7_LC_10_8_0, U712_CHIP_RAM.CMA_esr_RNO_1_7_LC_10_8_1, U712_CHIP_RAM.CMA_esr_RNO_1_8_LC_10_8_2, U712_CHIP_RAM.CMA_esr_RNO_0_8_LC_10_8_3, U712_CHIP_RAM.CMA_esr_RNO_0_5_LC_10_8_6 }
set_location LT_10_8 10 8
ble_pack U712_CHIP_RAM.CMA_esr_3_LC_10_9_0 { U712_CHIP_RAM.CMA_esr_RNO[3], U712_CHIP_RAM.CMA_esr[3] }
ble_pack U712_CHIP_RAM.CMA_esr_4_LC_10_9_1 { U712_CHIP_RAM.CMA_esr_RNO[4], U712_CHIP_RAM.CMA_esr[4] }
ble_pack U712_CHIP_RAM.CMA_esr_6_LC_10_9_2 { U712_CHIP_RAM.CMA_esr_RNO[6], U712_CHIP_RAM.CMA_esr[6] }
ble_pack U712_CHIP_RAM.CMA_esr_7_LC_10_9_3 { U712_CHIP_RAM.CMA_esr_RNO[7], U712_CHIP_RAM.CMA_esr[7] }
ble_pack U712_CHIP_RAM.CMA_esr_8_LC_10_9_4 { U712_CHIP_RAM.CMA_esr_RNO[8], U712_CHIP_RAM.CMA_esr[8] }
ble_pack U712_CHIP_RAM.CMA_esr_9_LC_10_9_5 { U712_CHIP_RAM.CMA_esr_RNO[9], U712_CHIP_RAM.CMA_esr[9] }
clb_pack LT_10_9 { U712_CHIP_RAM.CMA_esr_3_LC_10_9_0, U712_CHIP_RAM.CMA_esr_4_LC_10_9_1, U712_CHIP_RAM.CMA_esr_6_LC_10_9_2, U712_CHIP_RAM.CMA_esr_7_LC_10_9_3, U712_CHIP_RAM.CMA_esr_8_LC_10_9_4, U712_CHIP_RAM.CMA_esr_9_LC_10_9_5 }
set_location LT_10_9 10 9
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_RNIHMEA_LC_10_10_0 { U712_CHIP_RAM.CPU_CYCLE_esr_RNIHMEA }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_0_LC_10_10_1 { U712_CHIP_RAM.SDRAM_CMD_RNIA0SO[0] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNI32HB1_3_LC_10_10_2 { U712_CHIP_RAM.SDRAM_CMD_RNI32HB1[3] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNIPBDR1_3_LC_10_10_3 { U712_CHIP_RAM.SDRAM_CMD_RNIPBDR1[3] }
ble_pack U712_CHIP_RAM.RAM_CYCLE_DISABLE_LC_10_10_4 { U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNO, U712_CHIP_RAM.RAM_CYCLE_DISABLE }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_3_LC_10_10_5 { U712_CHIP_RAM.CMA_esr_RNO_1[3] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_3_LC_10_10_6 { U712_CHIP_RAM.CMA_esr_RNO_0[3] }
clb_pack LT_10_10 { U712_CHIP_RAM.CPU_CYCLE_esr_RNIHMEA_LC_10_10_0, U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_0_LC_10_10_1, U712_CHIP_RAM.SDRAM_CMD_RNI32HB1_3_LC_10_10_2, U712_CHIP_RAM.SDRAM_CMD_RNIPBDR1_3_LC_10_10_3, U712_CHIP_RAM.RAM_CYCLE_DISABLE_LC_10_10_4, U712_CHIP_RAM.CMA_esr_RNO_1_3_LC_10_10_5, U712_CHIP_RAM.CMA_esr_RNO_0_3_LC_10_10_6 }
set_location LT_10_10 10 10
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_esr_0_LC_10_11_0 { U712_CHIP_RAM.CPU_COL_ADDRESS_esr_0_THRU_LUT4_0, U712_CHIP_RAM.CPU_COL_ADDRESS_esr[0] }
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_esr_1_LC_10_11_1 { U712_CHIP_RAM.CPU_COL_ADDRESS_esr_1_THRU_LUT4_0, U712_CHIP_RAM.CPU_COL_ADDRESS_esr[1] }
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_esr_2_LC_10_11_2 { U712_CHIP_RAM.CPU_COL_ADDRESS_esr_2_THRU_LUT4_0, U712_CHIP_RAM.CPU_COL_ADDRESS_esr[2] }
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_esr_5_LC_10_11_3 { U712_CHIP_RAM.CPU_COL_ADDRESS_esr_5_THRU_LUT4_0, U712_CHIP_RAM.CPU_COL_ADDRESS_esr[5] }
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_esr_6_LC_10_11_4 { U712_CHIP_RAM.CPU_COL_ADDRESS_esr_6_THRU_LUT4_0, U712_CHIP_RAM.CPU_COL_ADDRESS_esr[6] }
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_esr_3_LC_10_11_5 { U712_CHIP_RAM.CPU_COL_ADDRESS_esr_3_THRU_LUT4_0, U712_CHIP_RAM.CPU_COL_ADDRESS_esr[3] }
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_esr_7_LC_10_11_6 { U712_CHIP_RAM.CPU_COL_ADDRESS_esr_7_THRU_LUT4_0, U712_CHIP_RAM.CPU_COL_ADDRESS_esr[7] }
clb_pack LT_10_11 { U712_CHIP_RAM.CPU_COL_ADDRESS_esr_0_LC_10_11_0, U712_CHIP_RAM.CPU_COL_ADDRESS_esr_1_LC_10_11_1, U712_CHIP_RAM.CPU_COL_ADDRESS_esr_2_LC_10_11_2, U712_CHIP_RAM.CPU_COL_ADDRESS_esr_5_LC_10_11_3, U712_CHIP_RAM.CPU_COL_ADDRESS_esr_6_LC_10_11_4, U712_CHIP_RAM.CPU_COL_ADDRESS_esr_3_LC_10_11_5, U712_CHIP_RAM.CPU_COL_ADDRESS_esr_7_LC_10_11_6 }
set_location LT_10_11 10 11
ble_pack U712_CHIP_RAM.CPU_TACK_esr_RNO_1_LC_10_12_0 { U712_CHIP_RAM.CPU_TACK_esr_RNO_1 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIVGRT_3_LC_10_12_1 { U712_CHIP_RAM.SDRAM_COUNTER_RNIVGRT[3] }
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_LC_10_12_2 { U712_CHIP_RAM.DMA_CYCLE_START_RNIU7TF5_U712_CHIP_RAM.CPU_CYCLE_esr_REP_LUT4_0, U712_CHIP_RAM.CPU_CYCLE_esr }
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_RNIVM1I4_LC_10_12_3 { U712_CHIP_RAM.DMA_CYCLE_START_RNIVM1I4 }
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_RNIKHPV5_0_LC_10_12_4 { U712_CHIP_RAM.DMA_CYCLE_START_RNIKHPV5_0 }
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_RNO_0_LC_10_12_5 { U712_CHIP_RAM.CPU_CYCLE_esr_RNO_0 }
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_RNO_LC_10_12_6 { U712_CHIP_RAM.CPU_CYCLE_esr_RNO }
clb_pack LT_10_12 { U712_CHIP_RAM.CPU_TACK_esr_RNO_1_LC_10_12_0, U712_CHIP_RAM.SDRAM_COUNTER_RNIVGRT_3_LC_10_12_1, U712_CHIP_RAM.CPU_CYCLE_esr_LC_10_12_2, U712_CHIP_RAM.DMA_CYCLE_START_RNIVM1I4_LC_10_12_3, U712_CHIP_RAM.DMA_CYCLE_START_RNIKHPV5_0_LC_10_12_4, U712_CHIP_RAM.CPU_CYCLE_esr_RNO_0_LC_10_12_5, U712_CHIP_RAM.CPU_CYCLE_esr_RNO_LC_10_12_6 }
set_location LT_10_12 10 12
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_0_1_LC_10_13_0 { U712_CHIP_RAM.SDRAM_CMD_RNO_0[1] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_1_LC_10_13_1 { U712_CHIP_RAM.SDRAM_CMD_RNO[1], U712_CHIP_RAM.SDRAM_CMD[1] }
ble_pack U712_REG_SM.REG_CYCLE_START_RNO_0_LC_10_13_2 { U712_REG_SM.REG_CYCLE_START_RNO_0 }
ble_pack U712_REG_SM.REG_CYCLE_START_LC_10_13_3 { U712_REG_SM.REG_CYCLE_START_RNO, U712_REG_SM.REG_CYCLE_START }
ble_pack U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIIICT_0_LC_10_13_4 { U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIIICT_0 }
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_RNIU7TF5_LC_10_13_5 { U712_CHIP_RAM.DMA_CYCLE_START_RNIU7TF5 }
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_LC_10_13_6 { U712_CHIP_RAM.DMA_CYCLE_START_RNO, U712_CHIP_RAM.DMA_CYCLE_START }
ble_pack U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIIICT_LC_10_13_7 { U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIIICT }
clb_pack LT_10_13 { U712_CHIP_RAM.SDRAM_CMD_RNO_0_1_LC_10_13_0, U712_CHIP_RAM.SDRAM_CMD_1_LC_10_13_1, U712_REG_SM.REG_CYCLE_START_RNO_0_LC_10_13_2, U712_REG_SM.REG_CYCLE_START_LC_10_13_3, U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIIICT_0_LC_10_13_4, U712_CHIP_RAM.DMA_CYCLE_START_RNIU7TF5_LC_10_13_5, U712_CHIP_RAM.DMA_CYCLE_START_LC_10_13_6, U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIIICT_LC_10_13_7 }
set_location LT_10_13 10 13
ble_pack U712_CHIP_RAM.CPU_TACK_esr_LC_10_14_2 { U712_CHIP_RAM.CPU_TACK_esr_RNO, U712_CHIP_RAM.CPU_TACK_esr }
clb_pack LT_10_14 { U712_CHIP_RAM.CPU_TACK_esr_LC_10_14_2 }
set_location LT_10_14 10 14
ble_pack U712_REG_SM.WRITE_CYCLE_LC_10_15_0 { U712_REG_SM.WRITE_CYCLE_RNO, U712_REG_SM.WRITE_CYCLE }
ble_pack DBR_SYNC_1_LC_10_15_1 { DBR_SYNC_1_THRU_LUT4_0, DBR_SYNC[1] }
ble_pack U712_REG_SM.REG_TACK_LC_10_15_2 { U712_REG_SM.REG_TACK_RNO, U712_REG_SM.REG_TACK }
ble_pack U712_REG_SM.START_RST_LC_10_15_3 { U712_REG_SM.START_RST_RNO, U712_REG_SM.START_RST }
ble_pack U712_REG_SM.C3_SYNC_0_LC_10_15_5 { U712_REG_SM.C3_SYNC_0_THRU_LUT4_0, U712_REG_SM.C3_SYNC[0] }
ble_pack U712_REG_SM.REGENn_LC_10_15_6 { U712_REG_SM.REGENn_RNO, U712_REG_SM.REGENn }
ble_pack U712_REG_SM.C3_SYNC_1_LC_10_15_7 { U712_REG_SM.C3_SYNC_1_THRU_LUT4_0, U712_REG_SM.C3_SYNC[1] }
clb_pack LT_10_15 { U712_REG_SM.WRITE_CYCLE_LC_10_15_0, DBR_SYNC_1_LC_10_15_1, U712_REG_SM.REG_TACK_LC_10_15_2, U712_REG_SM.START_RST_LC_10_15_3, U712_REG_SM.C3_SYNC_0_LC_10_15_5, U712_REG_SM.REGENn_LC_10_15_6, U712_REG_SM.C3_SYNC_1_LC_10_15_7 }
set_location LT_10_15 10 15
ble_pack U712_REG_SM.C3_SYNC_RNI6FIN_1_1_LC_10_16_0 { U712_REG_SM.C3_SYNC_RNI6FIN_1[1] }
ble_pack U712_REG_SM.REG_CYCLE_START_RNI3OIA1_LC_10_16_1 { U712_REG_SM.REG_CYCLE_START_RNI3OIA1 }
ble_pack U712_REG_SM.STATE_COUNT_2_LC_10_16_2 { U712_REG_SM.STATE_COUNT_RNO[2], U712_REG_SM.STATE_COUNT[2] }
ble_pack U712_REG_SM.STATE_COUNT_RNO_1_2_LC_10_16_3 { U712_REG_SM.STATE_COUNT_RNO_1[2] }
ble_pack U712_REG_SM.STATE_COUNT_RNIO3HT_8_LC_10_16_4 { U712_REG_SM.STATE_COUNT_RNIO3HT[8] }
ble_pack U712_REG_SM.STATE_COUNT_RNI902R1_1_LC_10_16_5 { U712_REG_SM.STATE_COUNT_RNI902R1[1] }
ble_pack U712_REG_SM.STATE_COUNT_RNO_0_2_LC_10_16_6 { U712_REG_SM.STATE_COUNT_RNO_0[2] }
ble_pack U712_REG_SM.REG_CYCLE_RNO_1_LC_10_16_7 { U712_REG_SM.REG_CYCLE_RNO_1 }
clb_pack LT_10_16 { U712_REG_SM.C3_SYNC_RNI6FIN_1_1_LC_10_16_0, U712_REG_SM.REG_CYCLE_START_RNI3OIA1_LC_10_16_1, U712_REG_SM.STATE_COUNT_2_LC_10_16_2, U712_REG_SM.STATE_COUNT_RNO_1_2_LC_10_16_3, U712_REG_SM.STATE_COUNT_RNIO3HT_8_LC_10_16_4, U712_REG_SM.STATE_COUNT_RNI902R1_1_LC_10_16_5, U712_REG_SM.STATE_COUNT_RNO_0_2_LC_10_16_6, U712_REG_SM.REG_CYCLE_RNO_1_LC_10_16_7 }
set_location LT_10_16 10 16
ble_pack U712_REG_SM.STATE_COUNT_8_LC_10_17_2 { U712_REG_SM.STATE_COUNT_RNO[8], U712_REG_SM.STATE_COUNT[8] }
clb_pack LT_10_17 { U712_REG_SM.STATE_COUNT_8_LC_10_17_2 }
set_location LT_10_17 10 17
ble_pack CONSTANT_ONE_LUT4_LC_11_3_1 { CONSTANT_ONE_LUT4 }
clb_pack LT_11_3 { CONSTANT_ONE_LUT4_LC_11_3_1 }
set_location LT_11_3 11 3
ble_pack U712_CHIP_RAM.CASn_LC_11_6_2 { U712_CHIP_RAM.CASn_THRU_LUT4_0, U712_CHIP_RAM.CASn }
clb_pack LT_11_6 { U712_CHIP_RAM.CASn_LC_11_6_2 }
set_location LT_11_6 11 6
ble_pack U712_CHIP_RAM.RASn_LC_11_7_2 { U712_CHIP_RAM.RASn_THRU_LUT4_0, U712_CHIP_RAM.RASn }
clb_pack LT_11_7 { U712_CHIP_RAM.RASn_LC_11_7_2 }
set_location LT_11_7 11 7
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_8_LC_11_8_1 { U712_CHIP_RAM.DMA_COL_ADDRESS_RNO[8], U712_CHIP_RAM.DMA_COL_ADDRESS[8] }
clb_pack LT_11_8 { U712_CHIP_RAM.DMA_COL_ADDRESS_8_LC_11_8_1 }
set_location LT_11_8 11 8
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_7_LC_11_9_0 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_8_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_7_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[7] }
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_5_LC_11_9_2 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_6_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_5_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[5] }
clb_pack LT_11_9 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_7_LC_11_9_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_5_LC_11_9_2 }
set_location LT_11_9 11 9
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_4_LC_11_10_2 { U712_CHIP_RAM.CMA_esr_RNO_0[4] }
ble_pack U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNO_0_LC_11_10_5 { U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNO_0 }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_6_LC_11_10_6 { U712_CHIP_RAM.CMA_esr_RNO_1[6] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_6_LC_11_10_7 { U712_CHIP_RAM.CMA_esr_RNO_0[6] }
clb_pack LT_11_10 { U712_CHIP_RAM.CMA_esr_RNO_0_4_LC_11_10_2, U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNO_0_LC_11_10_5, U712_CHIP_RAM.CMA_esr_RNO_1_6_LC_11_10_6, U712_CHIP_RAM.CMA_esr_RNO_0_6_LC_11_10_7 }
set_location LT_11_10 11 10
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_4_LC_11_11_4 { U712_CHIP_RAM.CMA_esr_RNO_1[4] }
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_esr_4_LC_11_11_7 { U712_CHIP_RAM.CPU_COL_ADDRESS_esr_4_THRU_LUT4_0, U712_CHIP_RAM.CPU_COL_ADDRESS_esr[4] }
clb_pack LT_11_11 { U712_CHIP_RAM.CMA_esr_RNO_1_4_LC_11_11_4, U712_CHIP_RAM.CPU_COL_ADDRESS_esr_4_LC_11_11_7 }
set_location LT_11_11 11 11
ble_pack U712_CHIP_RAM.CPU_COL_ADDRESS_8_LC_11_12_1 { U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[8], U712_CHIP_RAM.CPU_COL_ADDRESS[8] }
ble_pack U712_CHIP_RAM.LATCH_CLK_RNO_0_LC_11_12_2 { U712_CHIP_RAM.LATCH_CLK_RNO_0 }
ble_pack U712_CHIP_RAM.LATCH_CLK_LC_11_12_3 { U712_CHIP_RAM.LATCH_CLK_RNO, U712_CHIP_RAM.LATCH_CLK }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNO_1_0_LC_11_12_5 { U712_CHIP_RAM.SDRAM_COUNTER_RNO_1[0] }
ble_pack U712_REG_SM.PRnW_LC_11_12_7 { U712_REG_SM.PRnW_RNO, U712_REG_SM.PRnW }
clb_pack LT_11_12 { U712_CHIP_RAM.CPU_COL_ADDRESS_8_LC_11_12_1, U712_CHIP_RAM.LATCH_CLK_RNO_0_LC_11_12_2, U712_CHIP_RAM.LATCH_CLK_LC_11_12_3, U712_CHIP_RAM.SDRAM_COUNTER_RNO_1_0_LC_11_12_5, U712_REG_SM.PRnW_LC_11_12_7 }
set_location LT_11_12 11 12
ble_pack U712_REG_SM.REG_CYCLE_START_RNIT80J_LC_11_13_1 { U712_REG_SM.REG_CYCLE_START_RNIT80J }
ble_pack U712_REG_SM.STATE_COUNT_RNIE5HG1_1_LC_11_13_2 { U712_REG_SM.STATE_COUNT_RNIE5HG1[1] }
ble_pack U712_CHIP_RAM.REFRESH_LC_11_13_5 { U712_CHIP_RAM.REFRESH_RNO, U712_CHIP_RAM.REFRESH }
ble_pack U712_CHIP_RAM.CPU_CYCLE_START_RNO_0_LC_11_13_6 { U712_CHIP_RAM.CPU_CYCLE_START_RNO_0 }
ble_pack U712_CHIP_RAM.CPU_CYCLE_START_LC_11_13_7 { U712_CHIP_RAM.CPU_CYCLE_START_RNO, U712_CHIP_RAM.CPU_CYCLE_START }
clb_pack LT_11_13 { U712_REG_SM.REG_CYCLE_START_RNIT80J_LC_11_13_1, U712_REG_SM.STATE_COUNT_RNIE5HG1_1_LC_11_13_2, U712_CHIP_RAM.REFRESH_LC_11_13_5, U712_CHIP_RAM.CPU_CYCLE_START_RNO_0_LC_11_13_6, U712_CHIP_RAM.CPU_CYCLE_START_LC_11_13_7 }
set_location LT_11_13 11 13
ble_pack DBR_SYNC_RNITKK4_1_LC_11_14_6 { DBR_SYNC_RNITKK4[1] }
clb_pack LT_11_14 { DBR_SYNC_RNITKK4_1_LC_11_14_6 }
set_location LT_11_14 11 14
ble_pack U712_REG_SM.REG_TACK_RNO_0_LC_11_15_0 { U712_REG_SM.REG_TACK_RNO_0 }
ble_pack U712_REG_SM.STATE_COUNT_5_LC_11_15_1 { U712_REG_SM.STATE_COUNT_RNO[5], U712_REG_SM.STATE_COUNT[5] }
ble_pack U712_REG_SM.STATE_COUNT_4_LC_11_15_3 { U712_REG_SM.STATE_COUNT_RNO[4], U712_REG_SM.STATE_COUNT[4] }
ble_pack U712_REG_SM.REG_TACK_RNO_1_LC_11_15_5 { U712_REG_SM.REG_TACK_RNO_1 }
ble_pack U712_REG_SM.REG_TACK_RNO_2_LC_11_15_6 { U712_REG_SM.REG_TACK_RNO_2 }
clb_pack LT_11_15 { U712_REG_SM.REG_TACK_RNO_0_LC_11_15_0, U712_REG_SM.STATE_COUNT_5_LC_11_15_1, U712_REG_SM.STATE_COUNT_4_LC_11_15_3, U712_REG_SM.REG_TACK_RNO_1_LC_11_15_5, U712_REG_SM.REG_TACK_RNO_2_LC_11_15_6 }
set_location LT_11_15 11 15
ble_pack U712_REG_SM.STATE_COUNT_RNITI8N_2_LC_11_16_1 { U712_REG_SM.STATE_COUNT_RNITI8N[2] }
ble_pack U712_REG_SM.REG_CYCLE_RNO_0_LC_11_16_2 { U712_REG_SM.REG_CYCLE_RNO_0 }
ble_pack U712_REG_SM.REG_CYCLE_LC_11_16_3 { U712_REG_SM.REG_CYCLE_RNO, U712_REG_SM.REG_CYCLE }
ble_pack U712_REG_SM.STATE_COUNT_3_LC_11_16_7 { U712_REG_SM.STATE_COUNT_RNO[3], U712_REG_SM.STATE_COUNT[3] }
clb_pack LT_11_16 { U712_REG_SM.STATE_COUNT_RNITI8N_2_LC_11_16_1, U712_REG_SM.REG_CYCLE_RNO_0_LC_11_16_2, U712_REG_SM.REG_CYCLE_LC_11_16_3, U712_REG_SM.STATE_COUNT_3_LC_11_16_7 }
set_location LT_11_16 11 16
ble_pack U712_REG_SM.ASn_ess_RNO_LC_11_17_1 { U712_REG_SM.ASn_ess_RNO }
ble_pack U712_REG_SM.STATE_COUNT_7_LC_11_17_3 { U712_REG_SM.STATE_COUNT_RNO[7], U712_REG_SM.STATE_COUNT[7] }
ble_pack U712_REG_SM.STATE_COUNT_6_LC_11_17_7 { U712_REG_SM.STATE_COUNT_RNO[6], U712_REG_SM.STATE_COUNT[6] }
clb_pack LT_11_17 { U712_REG_SM.ASn_ess_RNO_LC_11_17_1, U712_REG_SM.STATE_COUNT_7_LC_11_17_3, U712_REG_SM.STATE_COUNT_6_LC_11_17_7 }
set_location LT_11_17 11 17
ble_pack U712_CHIP_RAM.CRCSn_LC_12_7_7 { U712_CHIP_RAM.CRCSn_THRU_LUT4_0, U712_CHIP_RAM.CRCSn }
clb_pack LT_12_7 { U712_CHIP_RAM.CRCSn_LC_12_7_7 }
set_location LT_12_7 12 7
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_0_LC_12_8_6 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_1_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_0_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[0] }
clb_pack LT_12_8 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_0_LC_12_8_6 }
set_location LT_12_8 12 8
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_0_LC_12_9_0 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[0], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[0] }
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_8_LC_12_9_2 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[8], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[8] }
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_3_LC_12_9_3 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[3], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[3] }
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_5_LC_12_9_5 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[5], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[5] }
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_7_LC_12_9_7 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[7], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[7] }
clb_pack LT_12_9 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_0_LC_12_9_0, U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_8_LC_12_9_2, U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_3_LC_12_9_3, U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_5_LC_12_9_5, U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_7_LC_12_9_7 }
set_location LT_12_9 12 9
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_1_LC_12_10_2 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_2_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_1_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[1] }
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_2_LC_12_10_3 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_3_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_2_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[2] }
clb_pack LT_12_10 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_1_LC_12_10_2, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_2_LC_12_10_3 }
set_location LT_12_10 12 10
ble_pack U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNO_1_LC_12_11_0 { U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNO_1 }
clb_pack LT_12_11 { U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNO_1_LC_12_11_0 }
set_location LT_12_11 12 11
ble_pack U712_BUFFERS.N_196_i_LC_12_12_0 { U712_BUFFERS.N_196_i }
ble_pack U712_CHIP_RAM.RAS_SYNC_5_LC_12_12_1 { U712_CHIP_RAM.RAS_SYNC_RNO[5], U712_CHIP_RAM.RAS_SYNC[5] }
ble_pack U712_CHIP_RAM.CAS_COUNTER_2_LC_12_12_2 { U712_CHIP_RAM.CAS_COUNTER_RNO[2], U712_CHIP_RAM.CAS_COUNTER[2] }
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_RNO_0_LC_12_12_3 { U712_CHIP_RAM.DMA_CYCLE_START_RNO_0 }
ble_pack U712_CHIP_RAM.CAS_COUNTER_1_LC_12_12_4 { U712_CHIP_RAM.CAS_COUNTER_RNO[1], U712_CHIP_RAM.CAS_COUNTER[1] }
ble_pack U712_CHIP_RAM.CAS_COUNTER_0_LC_12_12_5 { U712_CHIP_RAM.CAS_COUNTER_RNO[0], U712_CHIP_RAM.CAS_COUNTER[0] }
ble_pack U712_CHIP_RAM.RAS_SYNC_4_LC_12_12_6 { U712_CHIP_RAM.RAS_SYNC_RNO[4], U712_CHIP_RAM.RAS_SYNC[4] }
ble_pack U712_CHIP_RAM.CAS_SYNC_1_LC_12_12_7 { U712_CHIP_RAM.CAS_SYNC_RNO[1], U712_CHIP_RAM.CAS_SYNC[1] }
clb_pack LT_12_12 { U712_BUFFERS.N_196_i_LC_12_12_0, U712_CHIP_RAM.RAS_SYNC_5_LC_12_12_1, U712_CHIP_RAM.CAS_COUNTER_2_LC_12_12_2, U712_CHIP_RAM.DMA_CYCLE_START_RNO_0_LC_12_12_3, U712_CHIP_RAM.CAS_COUNTER_1_LC_12_12_4, U712_CHIP_RAM.CAS_COUNTER_0_LC_12_12_5, U712_CHIP_RAM.RAS_SYNC_4_LC_12_12_6, U712_CHIP_RAM.CAS_SYNC_1_LC_12_12_7 }
set_location LT_12_12 12 12
ble_pack U712_CHIP_RAM.CAS_COUNTER_RNO_0_0_LC_12_13_0 { U712_CHIP_RAM.CAS_COUNTER_RNO_0[0], U712_CHIP_RAM.un1_CAS_COUNTER_cry_0_c }
ble_pack U712_CHIP_RAM.CAS_COUNTER_RNO_0_1_LC_12_13_1 { U712_CHIP_RAM.CAS_COUNTER_RNO_0[1], U712_CHIP_RAM.un1_CAS_COUNTER_cry_1_c }
ble_pack U712_CHIP_RAM.CAS_COUNTER_RNO_0_2_LC_12_13_2 { U712_CHIP_RAM.CAS_COUNTER_RNO_0[2], U712_CHIP_RAM.un1_CAS_COUNTER_cry_2_c }
ble_pack U712_CHIP_RAM.CAS_COUNTER_RNO_0_3_LC_12_13_3 { U712_CHIP_RAM.CAS_COUNTER_RNO_0[3] }
ble_pack U712_CHIP_RAM.CAS_SYNC_0_LC_12_13_5 { U712_CHIP_RAM.CAS_SYNC_RNO[0], U712_CHIP_RAM.CAS_SYNC[0] }
ble_pack U712_CHIP_RAM.CAS_COUNTER_3_LC_12_13_6 { U712_CHIP_RAM.CAS_COUNTER_RNO[3], U712_CHIP_RAM.CAS_COUNTER[3] }
clb_pack LT_12_13 { U712_CHIP_RAM.CAS_COUNTER_RNO_0_0_LC_12_13_0, U712_CHIP_RAM.CAS_COUNTER_RNO_0_1_LC_12_13_1, U712_CHIP_RAM.CAS_COUNTER_RNO_0_2_LC_12_13_2, U712_CHIP_RAM.CAS_COUNTER_RNO_0_3_LC_12_13_3, U712_CHIP_RAM.CAS_SYNC_0_LC_12_13_5, U712_CHIP_RAM.CAS_COUNTER_3_LC_12_13_6 }
set_location LT_12_13 12 13
ble_pack U712_REG_SM.STATE_COUNT_0_LC_12_14_6 { U712_REG_SM.STATE_COUNT_RNO[0], U712_REG_SM.STATE_COUNT[0] }
clb_pack LT_12_14 { U712_REG_SM.STATE_COUNT_0_LC_12_14_6 }
set_location LT_12_14 12 14
ble_pack U712_REG_SM.ASn_ess_LC_12_17_0 { U712_REG_SM.ASn_ess_THRU_LUT4_0, U712_REG_SM.ASn_ess }
clb_pack LT_12_17 { U712_REG_SM.ASn_ess_LC_12_17_0 }
set_location LT_12_17 12 17
ble_pack RESETn_ibuf_RNIM9SF_LC_12_19_0 { RESETn_ibuf_RNIM9SF }
clb_pack LT_12_19 { RESETn_ibuf_RNIM9SF_LC_12_19_0 }
set_location LT_12_19 12 19
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_1_LC_13_8_0 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[1], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[1] }
clb_pack LT_13_8 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_1_LC_13_8_0 }
set_location LT_13_8 13 8
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_6_LC_13_9_2 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[6], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[6] }
clb_pack LT_13_9 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_6_LC_13_9_2 }
set_location LT_13_9 13 9
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_6_LC_13_10_3 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_7_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_6_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[6] }
clb_pack LT_13_10 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_6_LC_13_10_3 }
set_location LT_13_10 13 10
ble_pack U712_CHIP_RAM.DMA_A1_nesr_LC_13_11_3 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_0_U712_CHIP_RAM.DMA_A1_nesr_REP_LUT4_0, U712_CHIP_RAM.DMA_A1_nesr }
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_3_LC_13_11_5 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_4_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_3_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[3] }
clb_pack LT_13_11 { U712_CHIP_RAM.DMA_A1_nesr_LC_13_11_3, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_3_LC_13_11_5 }
set_location LT_13_11 13 11
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_0_LC_13_12_0 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[0], U712_CHIP_RAM.REFRESH_COUNTER[0], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[0] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_1_LC_13_12_1 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[1], U712_CHIP_RAM.REFRESH_COUNTER[1], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[1] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_2_LC_13_12_2 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[2], U712_CHIP_RAM.REFRESH_COUNTER[2], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[2] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_3_LC_13_12_3 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[3], U712_CHIP_RAM.REFRESH_COUNTER[3], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[3] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_4_LC_13_12_4 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[4], U712_CHIP_RAM.REFRESH_COUNTER[4], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[4] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_5_LC_13_12_5 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[5], U712_CHIP_RAM.REFRESH_COUNTER[5], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[5] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_6_LC_13_12_6 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[6], U712_CHIP_RAM.REFRESH_COUNTER[6], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[6] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_7_LC_13_12_7 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[7], U712_CHIP_RAM.REFRESH_COUNTER[7] }
clb_pack LT_13_12 { U712_CHIP_RAM.REFRESH_COUNTER_0_LC_13_12_0, U712_CHIP_RAM.REFRESH_COUNTER_1_LC_13_12_1, U712_CHIP_RAM.REFRESH_COUNTER_2_LC_13_12_2, U712_CHIP_RAM.REFRESH_COUNTER_3_LC_13_12_3, U712_CHIP_RAM.REFRESH_COUNTER_4_LC_13_12_4, U712_CHIP_RAM.REFRESH_COUNTER_5_LC_13_12_5, U712_CHIP_RAM.REFRESH_COUNTER_6_LC_13_12_6, U712_CHIP_RAM.REFRESH_COUNTER_7_LC_13_12_7 }
set_location LT_13_12 13 12
ble_pack U712_CHIP_RAM.REFRESH_RNO_0_LC_13_13_3 { U712_CHIP_RAM.REFRESH_RNO_0 }
ble_pack U712_CHIP_RAM.REFRESH_RNO_1_LC_13_13_5 { U712_CHIP_RAM.REFRESH_RNO_1 }
clb_pack LT_13_13 { U712_CHIP_RAM.REFRESH_RNO_0_LC_13_13_3, U712_CHIP_RAM.REFRESH_RNO_1_LC_13_13_5 }
set_location LT_13_13 13 13
ble_pack U712_CHIP_RAM.WEn_LC_14_8_0 { U712_CHIP_RAM.WEn_THRU_LUT4_0, U712_CHIP_RAM.WEn }
clb_pack LT_14_8 { U712_CHIP_RAM.WEn_LC_14_8_0 }
set_location LT_14_8 14 8
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_4_LC_14_9_3 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[4], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[4] }
clb_pack LT_14_9 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_4_LC_14_9_3 }
set_location LT_14_9 14 9
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_4_LC_14_10_6 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_5_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_4_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[4] }
clb_pack LT_14_10 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_4_LC_14_10_6 }
set_location LT_14_10 14 10
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_2_LC_14_11_2 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4[2], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[2] }
clb_pack LT_14_11 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_2_LC_14_11_2 }
set_location LT_14_11 14 11
ble_pack U712_CHIP_RAM.RAS_SYNC_3_LC_14_12_0 { U712_CHIP_RAM.RAS_SYNC_RNO[3], U712_CHIP_RAM.RAS_SYNC[3] }
ble_pack U712_CHIP_RAM.RAS_SYNC_2_LC_14_12_5 { U712_CHIP_RAM.RAS_SYNC_RNO[2], U712_CHIP_RAM.RAS_SYNC[2] }
clb_pack LT_14_12 { U712_CHIP_RAM.RAS_SYNC_3_LC_14_12_0, U712_CHIP_RAM.RAS_SYNC_2_LC_14_12_5 }
set_location LT_14_12 14 12
ble_pack U712_BYTE_ENABLE.un1_CUMBEn_i_x2_LC_14_13_6 { U712_BYTE_ENABLE.un1_CUMBEn_i_x2 }
clb_pack LT_14_13 { U712_BYTE_ENABLE.un1_CUMBEn_i_x2_LC_14_13_6 }
set_location LT_14_13 14 13
ble_pack U712_BYTE_ENABLE.N_412_i_LC_14_20_1 { U712_BYTE_ENABLE.N_412_i }
clb_pack LT_14_20 { U712_BYTE_ENABLE.N_412_i_LC_14_20_1 }
set_location LT_14_20 14 20
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_9_LC_15_9_1 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_RNO[9], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[9] }
clb_pack LT_15_9 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_9_LC_15_9_1 }
set_location LT_15_9 15 9
ble_pack U712_CHIP_RAM.RAS_SYNC_0_LC_15_10_5 { U712_CHIP_RAM.RAS_SYNC_RNO[0], U712_CHIP_RAM.RAS_SYNC[0] }
clb_pack LT_15_10 { U712_CHIP_RAM.RAS_SYNC_0_LC_15_10_5 }
set_location LT_15_10 15 10
ble_pack U712_CHIP_RAM.RAS_SYNC_1_LC_15_11_3 { U712_CHIP_RAM.RAS_SYNC_RNO[1], U712_CHIP_RAM.RAS_SYNC[1] }
clb_pack LT_15_11 { U712_CHIP_RAM.RAS_SYNC_1_LC_15_11_3 }
set_location LT_15_11 15 11
ble_pack U712_BYTE_ENABLE.un1_CUUBEn_i_a2_LC_15_12_4 { U712_BYTE_ENABLE.un1_CUUBEn_i_a2 }
ble_pack U712_BYTE_ENABLE.un1_CLLBEn_i_0_a2_0_LC_15_12_7 { U712_BYTE_ENABLE.un1_CLLBEn_i_0_a2_0 }
clb_pack LT_15_12 { U712_BYTE_ENABLE.un1_CUUBEn_i_a2_LC_15_12_4, U712_BYTE_ENABLE.un1_CLLBEn_i_0_a2_0_LC_15_12_7 }
set_location LT_15_12 15 12
ble_pack U712_BYTE_ENABLE.un1_CUMBEn_i_a2_0_LC_15_13_1 { U712_BYTE_ENABLE.un1_CUMBEn_i_a2_0 }
ble_pack U712_BYTE_ENABLE.N_38_i_LC_15_13_2 { U712_BYTE_ENABLE.N_38_i }
ble_pack U712_BYTE_ENABLE.un1_CUMBEn_i_a2_0_0_LC_15_13_4 { U712_BYTE_ENABLE.un1_CUMBEn_i_a2_0_0 }
ble_pack U712_BYTE_ENABLE.N_209_i_LC_15_13_5 { U712_BYTE_ENABLE.N_209_i }
ble_pack U712_BYTE_ENABLE.un1_CLMBEn_i_0_a2_LC_15_13_7 { U712_BYTE_ENABLE.un1_CLMBEn_i_0_a2 }
clb_pack LT_15_13 { U712_BYTE_ENABLE.un1_CUMBEn_i_a2_0_LC_15_13_1, U712_BYTE_ENABLE.N_38_i_LC_15_13_2, U712_BYTE_ENABLE.un1_CUMBEn_i_a2_0_0_LC_15_13_4, U712_BYTE_ENABLE.N_209_i_LC_15_13_5, U712_BYTE_ENABLE.un1_CLMBEn_i_0_a2_LC_15_13_7 }
set_location LT_15_13 15 13
ble_pack U712_BYTE_ENABLE.UMBE_i_i_LC_15_19_3 { U712_BYTE_ENABLE.UMBE_i_i }
clb_pack LT_15_19 { U712_BYTE_ENABLE.UMBE_i_i_LC_15_19_3 }
set_location LT_15_19 15 19
ble_pack U712_BYTE_ENABLE.N_411_i_LC_15_20_5 { U712_BYTE_ENABLE.N_411_i }
ble_pack U712_BYTE_ENABLE.LLBE_i_o2_i_LC_15_20_7 { U712_BYTE_ENABLE.LLBE_i_o2_i }
clb_pack LT_15_20 { U712_BYTE_ENABLE.N_411_i_LC_15_20_5, U712_BYTE_ENABLE.LLBE_i_o2_i_LC_15_20_7 }
set_location LT_15_20 15 20
ble_pack U712_BYTE_ENABLE.N_40_i_LC_16_12_0 { U712_BYTE_ENABLE.N_40_i }
ble_pack U712_BYTE_ENABLE.N_208_i_LC_16_12_3 { U712_BYTE_ENABLE.N_208_i }
clb_pack LT_16_12 { U712_BYTE_ENABLE.N_40_i_LC_16_12_0, U712_BYTE_ENABLE.N_208_i_LC_16_12_3 }
set_location LT_16_12 16 12
ble_pack U712_BYTE_ENABLE.un1_CUMBEn_i_a2_1_LC_16_13_5 { U712_BYTE_ENABLE.un1_CUMBEn_i_a2_1 }
clb_pack LT_16_13 { U712_BYTE_ENABLE.un1_CUMBEn_i_a2_1_LC_16_13_5 }
set_location LT_16_13 16 13
set_location C1_ibuf_RNIPA2A 13 21
set_location RESETn_ibuf_RNIM9SF_0 12 21
set_location DBRn_c_i_0_g_gb 0 11
set_location C3_ibuf_RNIRKME 25 10
set_io TBIn 39
set_io SIZ[1] 1
set_io RAMSPACEn 130
set_io DRA[6] 95
set_io A[0] 12
set_io DRA[9] 106
set_io DBRn 138
set_io A[14] 28
set_io RAMENn 139
set_io CMA[4] 78
set_io A[5] 16
set_io TSn 136
set_io LMBEn 122
set_io DRA[2] 99
set_io DMA_LATCH_EN 134
set_io A[13] 26
set_io CLMBEn 75
set_io AWEn 135
set_io RESETn 94
set_io CMA[1] 48
set_io CLK_EN 84
set_io CASn 62
set_io BANK0 52
set_io A[20] 11
set_io SIZ[0] 2
set_io DRA[7] 91
set_io CMA[8] 82
set_io A[1] 10
set_io CLK40B_OUT 112
set_io A[17] 32
set_io VBENn 44
set_io DRA[1] 101
set_io DA[2] 120
set_io CUMBEn 74
set_io CLKRAM 38
set_io CLK40D_OUT 115
set_io C3 143
set_io ASn 116
set_io UUBEn 125
set_io LDSn 117
set_io LATCH_CLK 137
set_io DRA[8] 90
set_io CMA[5] 79
set_io CASUn 104
set_io A[6] 17
set_io A[15] 29
set_io RAS1n 88
set_io DRDDIR 107
set_io DRA[3] 98
set_io DBDIR 43
set_io A[12] 25
set_io UDSn 118
set_io RnW 144
set_io DRDENn 110
set_io A[4] 15
set_io DBENn 42
set_io CMA[2] 47
set_io CMA[10] 56
set_io BANK1 49
set_io A[10] 23
set_io UMBEn 121
set_io RAS0n 87
set_io DRA[4] 97
set_io DA[1] 128
set_io CMA[9] 83
set_io A[2] 8
set_io A[19] 34
set_io PRnW 119
set_io CUUBEn 85
set_io CRCSn 60
set_io CMA[0] 55
set_io CLLBEn 45
set_io CLK40C_OUT 21
set_io CASLn 105
set_io BLSn 113
set_io A[9] 22
set_io A[16] 31
set_io TCIn 64
set_io WEn 73
set_io REGENn 141
set_io LLBEn 124
set_io CMA[6] 80
set_io A[7] 18
set_io DRA[0] 102
set_io CLK40_IN 20
set_io REGSPACEn 41
set_io CMA[3] 76
set_io RASn 61
set_io DRA[5] 96
set_io A[3] 9
set_io A[18] 33
set_io AGNUS_REV 114
set_io A[11] 24
set_io TACKn 7
set_io DA[0] 129
set_io C1 142
set_io CMA[7] 81
set_io A[8] 19
