set_location BUFENn_obuf_RNO 7 20 0 # SB_LUT4 (LogicCell: BUFENn_obuf_RNO_LC_0)
set_location D_LL_040_iobuf_RNO[0] 24 2 0 # SB_LUT4 (LogicCell: D_LL_040_iobuf_RNO[0]_LC_1)
set_location D_LL_040_iobuf_RNO[1] 24 2 1 # SB_LUT4 (LogicCell: D_LL_040_iobuf_RNO[1]_LC_2)
set_location D_LL_040_iobuf_RNO[2] 24 4 6 # SB_LUT4 (LogicCell: D_LL_040_iobuf_RNO[2]_LC_3)
set_location D_LL_040_iobuf_RNO[3] 24 2 6 # SB_LUT4 (LogicCell: D_LL_040_iobuf_RNO[3]_LC_4)
set_location D_LL_040_iobuf_RNO[4] 23 2 1 # SB_LUT4 (LogicCell: D_LL_040_iobuf_RNO[4]_LC_5)
set_location D_LL_040_iobuf_RNO[5] 24 10 3 # SB_LUT4 (LogicCell: D_LL_040_iobuf_RNO[5]_LC_6)
set_location D_LL_040_iobuf_RNO[6] 24 4 0 # SB_LUT4 (LogicCell: D_LL_040_iobuf_RNO[6]_LC_7)
set_location D_LL_040_iobuf_RNO[7] 24 6 7 # SB_LUT4 (LogicCell: D_LL_040_iobuf_RNO[7]_LC_8)
set_location D_LL_AMIGA_iobuf_RNO[0] 1 2 6 # SB_LUT4 (LogicCell: D_LL_AMIGA_iobuf_RNO[0]_LC_9)
set_location D_LL_AMIGA_iobuf_RNO[1] 1 4 1 # SB_LUT4 (LogicCell: D_LL_AMIGA_iobuf_RNO[1]_LC_10)
set_location D_LL_AMIGA_iobuf_RNO[2] 1 2 7 # SB_LUT4 (LogicCell: D_LL_AMIGA_iobuf_RNO[2]_LC_11)
set_location D_LL_AMIGA_iobuf_RNO[3] 1 2 3 # SB_LUT4 (LogicCell: D_LL_AMIGA_iobuf_RNO[3]_LC_12)
set_location D_LL_AMIGA_iobuf_RNO[4] 2 3 5 # SB_LUT4 (LogicCell: D_LL_AMIGA_iobuf_RNO[4]_LC_13)
set_location D_LL_AMIGA_iobuf_RNO[5] 1 6 4 # SB_LUT4 (LogicCell: D_LL_AMIGA_iobuf_RNO[5]_LC_14)
set_location D_LL_AMIGA_iobuf_RNO[6] 1 6 5 # SB_LUT4 (LogicCell: D_LL_AMIGA_iobuf_RNO[6]_LC_15)
set_location D_LL_AMIGA_iobuf_RNO[7] 1 7 7 # SB_LUT4 (LogicCell: D_LL_AMIGA_iobuf_RNO[7]_LC_16)
set_location D_LM_040_iobuf_RNO[0] 24 7 3 # SB_LUT4 (LogicCell: D_LM_040_iobuf_RNO[0]_LC_17)
set_location D_LM_040_iobuf_RNO[1] 24 6 5 # SB_LUT4 (LogicCell: D_LM_040_iobuf_RNO[1]_LC_18)
set_location D_LM_040_iobuf_RNO[2] 24 6 6 # SB_LUT4 (LogicCell: D_LM_040_iobuf_RNO[2]_LC_19)
set_location D_LM_040_iobuf_RNO[3] 24 7 7 # SB_LUT4 (LogicCell: D_LM_040_iobuf_RNO[3]_LC_20)
set_location D_LM_040_iobuf_RNO[4] 24 9 2 # SB_LUT4 (LogicCell: D_LM_040_iobuf_RNO[4]_LC_21)
set_location D_LM_040_iobuf_RNO[5] 24 10 0 # SB_LUT4 (LogicCell: D_LM_040_iobuf_RNO[5]_LC_22)
set_location D_LM_040_iobuf_RNO[6] 24 14 6 # SB_LUT4 (LogicCell: D_LM_040_iobuf_RNO[6]_LC_23)
set_location D_LM_040_iobuf_RNO[7] 24 15 3 # SB_LUT4 (LogicCell: D_LM_040_iobuf_RNO[7]_LC_24)
set_location D_LM_AMIGA_iobuf_RNO[0] 1 7 3 # SB_LUT4 (LogicCell: D_LM_AMIGA_iobuf_RNO[0]_LC_25)
set_location D_LM_AMIGA_iobuf_RNO[1] 1 9 6 # SB_LUT4 (LogicCell: D_LM_AMIGA_iobuf_RNO[1]_LC_26)
set_location D_LM_AMIGA_iobuf_RNO[2] 3 12 3 # SB_LUT4 (LogicCell: D_LM_AMIGA_iobuf_RNO[2]_LC_27)
set_location D_LM_AMIGA_iobuf_RNO[3] 2 11 7 # SB_LUT4 (LogicCell: D_LM_AMIGA_iobuf_RNO[3]_LC_28)
set_location D_LM_AMIGA_iobuf_RNO[4] 1 13 3 # SB_LUT4 (LogicCell: D_LM_AMIGA_iobuf_RNO[4]_LC_29)
set_location D_LM_AMIGA_iobuf_RNO[5] 1 15 1 # SB_LUT4 (LogicCell: D_LM_AMIGA_iobuf_RNO[5]_LC_30)
set_location D_LM_AMIGA_iobuf_RNO[6] 1 17 5 # SB_LUT4 (LogicCell: D_LM_AMIGA_iobuf_RNO[6]_LC_31)
set_location D_LM_AMIGA_iobuf_RNO[7] 1 17 3 # SB_LUT4 (LogicCell: D_LM_AMIGA_iobuf_RNO[7]_LC_32)
set_location D_UM_040_iobuf_RNO[0] 24 9 4 # SB_LUT4 (LogicCell: D_UM_040_iobuf_RNO[0]_LC_33)
set_location D_UM_040_iobuf_RNO[1] 24 17 1 # SB_LUT4 (LogicCell: D_UM_040_iobuf_RNO[1]_LC_34)
set_location D_UM_040_iobuf_RNO[2] 24 10 6 # SB_LUT4 (LogicCell: D_UM_040_iobuf_RNO[2]_LC_35)
set_location D_UM_040_iobuf_RNO[3] 24 19 1 # SB_LUT4 (LogicCell: D_UM_040_iobuf_RNO[3]_LC_36)
set_location D_UM_040_iobuf_RNO[4] 23 20 6 # SB_LUT4 (LogicCell: D_UM_040_iobuf_RNO[4]_LC_37)
set_location D_UM_040_iobuf_RNO[5] 23 20 7 # SB_LUT4 (LogicCell: D_UM_040_iobuf_RNO[5]_LC_38)
set_location D_UM_040_iobuf_RNO[6] 24 12 2 # SB_LUT4 (LogicCell: D_UM_040_iobuf_RNO[6]_LC_39)
set_location D_UM_040_iobuf_RNO[7] 24 19 5 # SB_LUT4 (LogicCell: D_UM_040_iobuf_RNO[7]_LC_40)
set_location D_UM_AMIGA_iobuf_RNO[0] 1 12 6 # SB_LUT4 (LogicCell: D_UM_AMIGA_iobuf_RNO[0]_LC_41)
set_location D_UM_AMIGA_iobuf_RNO[1] 1 15 3 # SB_LUT4 (LogicCell: D_UM_AMIGA_iobuf_RNO[1]_LC_42)
set_location D_UM_AMIGA_iobuf_RNO[2] 1 13 1 # SB_LUT4 (LogicCell: D_UM_AMIGA_iobuf_RNO[2]_LC_43)
set_location D_UM_AMIGA_iobuf_RNO[3] 1 17 7 # SB_LUT4 (LogicCell: D_UM_AMIGA_iobuf_RNO[3]_LC_44)
set_location D_UM_AMIGA_iobuf_RNO[4] 1 19 4 # SB_LUT4 (LogicCell: D_UM_AMIGA_iobuf_RNO[4]_LC_45)
set_location D_UM_AMIGA_iobuf_RNO[5] 5 19 4 # SB_LUT4 (LogicCell: D_UM_AMIGA_iobuf_RNO[5]_LC_46)
set_location D_UM_AMIGA_iobuf_RNO[6] 1 18 6 # SB_LUT4 (LogicCell: D_UM_AMIGA_iobuf_RNO[6]_LC_47)
set_location D_UM_AMIGA_iobuf_RNO[7] 1 19 1 # SB_LUT4 (LogicCell: D_UM_AMIGA_iobuf_RNO[7]_LC_48)
set_location D_UU_040_iobuf_RNO[0] 22 18 7 # SB_LUT4 (LogicCell: D_UU_040_iobuf_RNO[0]_LC_49)
set_location D_UU_040_iobuf_RNO[1] 24 19 6 # SB_LUT4 (LogicCell: D_UU_040_iobuf_RNO[1]_LC_50)
set_location D_UU_040_iobuf_RNO[2] 20 20 0 # SB_LUT4 (LogicCell: D_UU_040_iobuf_RNO[2]_LC_51)
set_location D_UU_040_iobuf_RNO[3] 24 19 4 # SB_LUT4 (LogicCell: D_UU_040_iobuf_RNO[3]_LC_52)
set_location D_UU_040_iobuf_RNO[4] 19 20 3 # SB_LUT4 (LogicCell: D_UU_040_iobuf_RNO[4]_LC_53)
set_location D_UU_040_iobuf_RNO[5] 23 20 3 # SB_LUT4 (LogicCell: D_UU_040_iobuf_RNO[5]_LC_54)
set_location D_UU_040_iobuf_RNO[6] 23 20 4 # SB_LUT4 (LogicCell: D_UU_040_iobuf_RNO[6]_LC_55)
set_location D_UU_040_iobuf_RNO[7] 22 20 7 # SB_LUT4 (LogicCell: D_UU_040_iobuf_RNO[7]_LC_56)
set_location D_UU_AMIGA_iobuf_RNO[0] 5 19 3 # SB_LUT4 (LogicCell: D_UU_AMIGA_iobuf_RNO[0]_LC_57)
set_location D_UU_AMIGA_iobuf_RNO[1] 1 18 7 # SB_LUT4 (LogicCell: D_UU_AMIGA_iobuf_RNO[1]_LC_58)
set_location D_UU_AMIGA_iobuf_RNO[2] 7 20 6 # SB_LUT4 (LogicCell: D_UU_AMIGA_iobuf_RNO[2]_LC_59)
set_location D_UU_AMIGA_iobuf_RNO[3] 2 20 3 # SB_LUT4 (LogicCell: D_UU_AMIGA_iobuf_RNO[3]_LC_60)
set_location D_UU_AMIGA_iobuf_RNO[4] 6 20 2 # SB_LUT4 (LogicCell: D_UU_AMIGA_iobuf_RNO[4]_LC_61)
set_location D_UU_AMIGA_iobuf_RNO[5] 2 20 7 # SB_LUT4 (LogicCell: D_UU_AMIGA_iobuf_RNO[5]_LC_62)
set_location D_UU_AMIGA_iobuf_RNO[6] 3 20 5 # SB_LUT4 (LogicCell: D_UU_AMIGA_iobuf_RNO[6]_LC_63)
set_location D_UU_AMIGA_iobuf_RNO[7] 3 18 1 # SB_LUT4 (LogicCell: D_UU_AMIGA_iobuf_RNO[7]_LC_64)
set_location LBENn_c_sbtinv 11 1 0 # SB_LUT4 (LogicCell: LBENn_c_sbtinv_LC_65)
set_location RESETn_ibuf_RNIM9SF 1 10 2 # SB_LUT4 (LogicCell: RESETn_ibuf_RNIM9SF_LC_66)
set_location U111_CYCLE_SM.A2_EN_RNIA87G 3 1 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.A2_EN_RNIA87G_LC_67)
set_location U111_CYCLE_SM.A2_EN_RNIB97G 3 1 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.A2_EN_RNIB97G_LC_68)
set_location U111_CYCLE_SM.A2_EN_RNO 9 12 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.A2_EN_LC_69)
set_location U111_CYCLE_SM.A2_EN 9 12 5 # SB_DFFSR (LogicCell: U111_CYCLE_SM.A2_EN_LC_69)
set_location U111_CYCLE_SM.BURST_COUNT_RNIFDQV[1] 10 10 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.BURST_COUNT_RNIFDQV[1]_LC_70)
set_location U111_CYCLE_SM.BURST_COUNT_RNO[0] 10 11 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.BURST_COUNT[0]_LC_71)
set_location U111_CYCLE_SM.BURST_COUNT[0] 10 11 2 # SB_DFFSR (LogicCell: U111_CYCLE_SM.BURST_COUNT[0]_LC_71)
set_location U111_CYCLE_SM.BURST_COUNT_RNO[1] 9 11 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.BURST_COUNT[1]_LC_72)
set_location U111_CYCLE_SM.BURST_COUNT[1] 9 11 1 # SB_DFFSR (LogicCell: U111_CYCLE_SM.BURST_COUNT[1]_LC_72)
set_location U111_CYCLE_SM.BURST_RNO 9 11 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.BURST_LC_73)
set_location U111_CYCLE_SM.BURST 9 11 0 # SB_DFFSR (LogicCell: U111_CYCLE_SM.BURST_LC_73)
set_location U111_CYCLE_SM.CYCLE_STATE_RNI9Q9V1[2] 11 10 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE_RNI9Q9V1[2]_LC_74)
set_location U111_CYCLE_SM.CYCLE_STATE_RNIC4111[3] 9 10 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE_RNIC4111[3]_LC_75)
set_location U111_CYCLE_SM.CYCLE_STATE_RNIDUAQ[0] 9 10 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE_RNIDUAQ[0]_LC_76)
set_location U111_CYCLE_SM.CYCLE_STATE_RNIGD6K[2] 11 10 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE_RNIGD6K[2]_LC_77)
set_location U111_CYCLE_SM.CYCLE_STATE_RNIICIM[0] 1 10 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE_RNIICIM[0]_LC_78)
set_location U111_CYCLE_SM.CYCLE_STATE_RNIJG6K[5] 10 12 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE_RNIJG6K[5]_LC_79)
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[0] 10 10 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE[0]_LC_80)
set_location U111_CYCLE_SM.CYCLE_STATE[0] 10 10 3 # SB_DFF (LogicCell: U111_CYCLE_SM.CYCLE_STATE[0]_LC_80)
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_0[0] 10 11 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE_RNO_0[0]_LC_81)
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_0[2] 10 10 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE_RNO_0[2]_LC_82)
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_0[5] 11 12 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE_RNO_0[5]_LC_83)
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[1] 10 10 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE[1]_LC_84)
set_location U111_CYCLE_SM.CYCLE_STATE[1] 10 10 0 # SB_DFF (LogicCell: U111_CYCLE_SM.CYCLE_STATE[1]_LC_84)
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_1[0] 10 10 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE_RNO_1[0]_LC_85)
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[2] 10 10 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE[2]_LC_86)
set_location U111_CYCLE_SM.CYCLE_STATE[2] 10 10 6 # SB_DFF (LogicCell: U111_CYCLE_SM.CYCLE_STATE[2]_LC_86)
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_2[0] 10 10 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE_RNO_2[0]_LC_87)
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[3] 10 10 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE[3]_LC_88)
set_location U111_CYCLE_SM.CYCLE_STATE[3] 10 10 7 # SB_DFF (LogicCell: U111_CYCLE_SM.CYCLE_STATE[3]_LC_88)
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_3[0] 10 11 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE_RNO_3[0]_LC_89)
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[4] 9 10 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE[4]_LC_90)
set_location U111_CYCLE_SM.CYCLE_STATE[4] 9 10 2 # SB_DFF (LogicCell: U111_CYCLE_SM.CYCLE_STATE[4]_LC_90)
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_4[0] 10 12 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE_RNO_4[0]_LC_91)
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[5] 11 12 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE[5]_LC_92)
set_location U111_CYCLE_SM.CYCLE_STATE[5] 11 12 7 # SB_DFF (LogicCell: U111_CYCLE_SM.CYCLE_STATE[5]_LC_92)
set_location U111_CYCLE_SM.FLIP_WORD_RNI0BT71 6 3 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNI0BT71_LC_93)
set_location U111_CYCLE_SM.FLIP_WORD_RNI2DT71 8 3 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNI2DT71_LC_94)
set_location U111_CYCLE_SM.FLIP_WORD_RNI4FT71 9 2 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNI4FT71_LC_95)
set_location U111_CYCLE_SM.FLIP_WORD_RNI6HT71 7 3 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNI6HT71_LC_96)
set_location U111_CYCLE_SM.FLIP_WORD_RNI7GI41 8 7 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNI7GI41_LC_97)
set_location U111_CYCLE_SM.FLIP_WORD_RNI8JT71 12 6 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNI8JT71_LC_98)
set_location U111_CYCLE_SM.FLIP_WORD_RNI8QN01 7 9 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNI8QN01_LC_99)
set_location U111_CYCLE_SM.FLIP_WORD_RNI9II41 5 10 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNI9II41_LC_100)
set_location U111_CYCLE_SM.FLIP_WORD_RNIALT71 10 6 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNIALT71_LC_101)
set_location U111_CYCLE_SM.FLIP_WORD_RNIASN01 8 15 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNIASN01_LC_102)
set_location U111_CYCLE_SM.FLIP_WORD_RNIBKI41 5 12 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNIBKI41_LC_103)
set_location U111_CYCLE_SM.FLIP_WORD_RNICNT71 11 7 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNICNT71_LC_104)
set_location U111_CYCLE_SM.FLIP_WORD_RNICUN01 5 10 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNICUN01_LC_105)
set_location U111_CYCLE_SM.FLIP_WORD_RNIDMI41 7 11 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNIDMI41_LC_106)
set_location U111_CYCLE_SM.FLIP_WORD_RNIE0O01 10 18 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNIE0O01_LC_107)
set_location U111_CYCLE_SM.FLIP_WORD_RNIFOI41 11 13 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNIFOI41_LC_108)
set_location U111_CYCLE_SM.FLIP_WORD_RNIG2O01 13 19 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNIG2O01_LC_109)
set_location U111_CYCLE_SM.FLIP_WORD_RNIHFPK 9 20 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNIHFPK_LC_110)
set_location U111_CYCLE_SM.FLIP_WORD_RNIHQI41 9 15 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNIHQI41_LC_111)
set_location U111_CYCLE_SM.FLIP_WORD_RNII4O01 8 20 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNII4O01_LC_112)
set_location U111_CYCLE_SM.FLIP_WORD_RNIJHPK 8 18 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNIJHPK_LC_113)
set_location U111_CYCLE_SM.FLIP_WORD_RNIJSI41 8 17 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNIJSI41_LC_114)
set_location U111_CYCLE_SM.FLIP_WORD_RNIK6O01 5 12 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNIK6O01_LC_115)
set_location U111_CYCLE_SM.FLIP_WORD_RNILJPK 12 20 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNILJPK_LC_116)
set_location U111_CYCLE_SM.FLIP_WORD_RNILUI41 12 17 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNILUI41_LC_117)
set_location U111_CYCLE_SM.FLIP_WORD_RNIM8O01 14 19 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNIM8O01_LC_118)
set_location U111_CYCLE_SM.FLIP_WORD_RNINLPK 10 20 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNINLPK_LC_119)
set_location U111_CYCLE_SM.FLIP_WORD_RNIPNPK 13 20 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNIPNPK_LC_120)
set_location U111_CYCLE_SM.FLIP_WORD_RNIRPPK 12 20 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNIRPPK_LC_121)
set_location U111_CYCLE_SM.FLIP_WORD_RNITRPK 8 20 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNITRPK_LC_122)
set_location U111_CYCLE_SM.FLIP_WORD_RNIU8T71 5 1 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNIU8T71_LC_123)
set_location U111_CYCLE_SM.FLIP_WORD_RNIVTPK 14 20 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNIVTPK_LC_124)
set_location U111_CYCLE_SM.FLIP_WORD_RNO 9 11 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_LC_125)
set_location U111_CYCLE_SM.FLIP_WORD 9 11 5 # SB_DFFSR (LogicCell: U111_CYCLE_SM.FLIP_WORD_LC_125)
set_location U111_CYCLE_SM.FLIP_WORD_RNO_0 6 6 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.FLIP_WORD_RNO_0_LC_126)
set_location U111_CYCLE_SM.LATCH_EN_RNO 9 9 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LATCH_EN_LC_127)
set_location U111_CYCLE_SM.LATCH_EN 9 9 4 # SB_DFFSR (LogicCell: U111_CYCLE_SM.LATCH_EN_LC_127)
set_location U111_CYCLE_SM.LW_TRANS_RNO 9 11 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_TRANS_LC_128)
set_location U111_CYCLE_SM.LW_TRANS 9 11 2 # SB_DFFSR (LogicCell: U111_CYCLE_SM.LW_TRANS_LC_128)
set_location U111_CYCLE_SM.PORT_MISMATCH_RNO 9 11 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.PORT_MISMATCH_LC_129)
set_location U111_CYCLE_SM.PORT_MISMATCH 9 11 7 # SB_DFFSR (LogicCell: U111_CYCLE_SM.PORT_MISMATCH_LC_129)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i 24 16 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep9_i_ess_LC_130)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep9_i_ess 24 16 1 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep9_i_ess_LC_130)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_esr_RNIPC3B1 11 10 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_esr_RNIPC3B1_LC_131)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_esr_RNO 11 9 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_esr_LC_132)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_esr 11 9 0 # SB_DFFESR (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_esr_LC_132)
set_location U111_CYCLE_SM.TA_DIS_RNICJKJ 11 13 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.TA_DIS_RNICJKJ_LC_133)
set_location U111_CYCLE_SM.TA_DIS_RNO 9 11 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.TA_DIS_LC_134)
set_location U111_CYCLE_SM.TA_DIS 9 11 3 # SB_DFFSR (LogicCell: U111_CYCLE_SM.TA_DIS_LC_134)
set_location U111_CYCLE_SM.TA_DIS_RNO_0 9 12 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.TA_DIS_RNO_0_LC_135)
set_location U111_CYCLE_SM.TS_EN_RNO 8 10 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.TS_EN_LC_136)
set_location U111_CYCLE_SM.TS_EN 8 10 6 # SB_DFFSR (LogicCell: U111_CYCLE_SM.TS_EN_LC_136)
set_location U111_CYCLE_SM.TS_EN_RNO_0 11 10 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.TS_EN_RNO_0_LC_137)
set_location U111_CYCLE_SM.TS_EN_RNO_1 9 10 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.TS_EN_RNO_1_LC_138)
set_location U111_CYCLE_SM.TS_EN_RNO_2 11 8 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.TS_EN_RNO_2_LC_139)
set_location U111_CYCLE_SM.TSn_RNO 8 9 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.TSn_LC_140)
set_location U111_CYCLE_SM.TSn 8 9 3 # SB_DFFN (LogicCell: U111_CYCLE_SM.TSn_LC_140)
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIC9FL[0] 14 9 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr_RNIC9FL[0]_LC_141)
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIEBFL[1] 11 15 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr_RNIEBFL[1]_LC_142)
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIGDFL[2] 13 10 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr_RNIGDFL[2]_LC_143)
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIIFFL[3] 12 16 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr_RNIIFFL[3]_LC_144)
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIKHFL[4] 12 16 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr_RNIKHFL[4]_LC_145)
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIMJFL[5] 12 20 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr_RNIMJFL[5]_LC_146)
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIOLFL[6] 13 11 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr_RNIOLFL[6]_LC_147)
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIQNFL[7] 12 19 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr_RNIQNFL[7]_LC_148)
set_location U111_CYCLE_SM.UU_LATCHED_esr_RNI0U6Q[2] 12 14 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr_RNI0U6Q[2]_LC_149)
set_location U111_CYCLE_SM.UU_LATCHED_esr_RNI207Q[3] 12 20 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr_RNI207Q[3]_LC_150)
set_location U111_CYCLE_SM.UU_LATCHED_esr_RNI427Q[4] 12 14 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr_RNI427Q[4]_LC_151)
set_location U111_CYCLE_SM.UU_LATCHED_esr_RNI647Q[5] 11 15 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr_RNI647Q[5]_LC_152)
set_location U111_CYCLE_SM.UU_LATCHED_esr_RNI867Q[6] 12 20 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr_RNI867Q[6]_LC_153)
set_location U111_CYCLE_SM.UU_LATCHED_esr_RNIA87Q[7] 12 14 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr_RNIA87Q[7]_LC_154)
set_location U111_CYCLE_SM.UU_LATCHED_esr_RNISP6Q[0] 11 17 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr_RNISP6Q[0]_LC_155)
set_location U111_CYCLE_SM.UU_LATCHED_esr_RNIUR6Q[1] 10 18 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr_RNIUR6Q[1]_LC_156)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i 1 14 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep9_i_ess_LC_157)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep9_i_ess 1 14 7 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep9_i_ess_LC_157)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep0_i_ess_REP_LUT4_0 22 17 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep0_i_ess_LC_158)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep0_i_ess 22 17 5 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep0_i_ess_LC_158)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep10_i_ess_REP_LUT4_0 24 11 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep10_i_ess_LC_159)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep10_i_ess 24 11 4 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep10_i_ess_LC_159)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep11_i_ess_REP_LUT4_0 24 18 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep11_i_ess_LC_160)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep11_i_ess 24 18 1 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep11_i_ess_LC_160)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep12_i_ess_REP_LUT4_0 24 20 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep12_i_ess_LC_161)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep12_i_ess 24 20 4 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep12_i_ess_LC_161)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep13_i_ess_REP_LUT4_0 24 20 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep13_i_ess_LC_162)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep13_i_ess 24 20 0 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep13_i_ess_LC_162)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep14_i_ess_REP_LUT4_0 24 13 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep14_i_ess_LC_163)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep14_i_ess 24 13 6 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep14_i_ess_LC_163)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep15_i_ess_REP_LUT4_0 23 19 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep15_i_ess_LC_164)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep15_i_ess 23 19 4 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep15_i_ess_LC_164)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep16_i_ess_REP_LUT4_0 24 8 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep16_i_ess_LC_165)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep16_i_ess 24 8 4 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep16_i_ess_LC_165)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep17_i_ess_REP_LUT4_0 23 6 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep17_i_ess_LC_166)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep17_i_ess 23 6 2 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep17_i_ess_LC_166)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep18_i_ess_REP_LUT4_0 23 6 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep18_i_ess_LC_167)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep18_i_ess 23 6 1 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep18_i_ess_LC_167)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep19_i_ess_REP_LUT4_0 24 8 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep19_i_ess_LC_168)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep19_i_ess 24 8 1 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep19_i_ess_LC_168)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep1_i_ess_REP_LUT4_0 24 18 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep1_i_ess_LC_169)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep1_i_ess 24 18 2 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep1_i_ess_LC_169)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep20_i_ess_REP_LUT4_0 24 8 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep20_i_ess_LC_170)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep20_i_ess 24 8 6 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep20_i_ess_LC_170)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep21_i_ess_REP_LUT4_0 23 10 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep21_i_ess_LC_171)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep21_i_ess 23 10 4 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep21_i_ess_LC_171)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep22_i_ess_REP_LUT4_0 24 13 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep22_i_ess_LC_172)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep22_i_ess 24 13 0 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep22_i_ess_LC_172)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep23_i_ess_REP_LUT4_0 24 13 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep23_i_ess_LC_173)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep23_i_ess 24 13 1 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep23_i_ess_LC_173)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep24_i_ess_REP_LUT4_0 24 3 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep24_i_ess_LC_174)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep24_i_ess 24 3 5 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep24_i_ess_LC_174)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep25_i_ess_REP_LUT4_0 24 3 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep25_i_ess_LC_175)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep25_i_ess 24 3 2 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep25_i_ess_LC_175)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep26_i_ess_REP_LUT4_0 23 4 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep26_i_ess_LC_176)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep26_i_ess 23 4 5 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep26_i_ess_LC_176)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep27_i_ess_REP_LUT4_0 24 3 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep27_i_ess_LC_177)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep27_i_ess 24 3 7 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep27_i_ess_LC_177)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep28_i_ess_REP_LUT4_0 23 3 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep28_i_ess_LC_178)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep28_i_ess 23 3 4 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep28_i_ess_LC_178)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep29_i_ess_REP_LUT4_0 24 11 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep29_i_ess_LC_179)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep29_i_ess 24 11 6 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep29_i_ess_LC_179)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep2_i_ess_REP_LUT4_0 20 19 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep2_i_ess_LC_180)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep2_i_ess 20 19 0 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep2_i_ess_LC_180)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep30_i_ess_REP_LUT4_0 24 5 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep30_i_ess_LC_181)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep30_i_ess 24 5 0 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep30_i_ess_LC_181)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep31_i_ess_REP_LUT4_0 24 5 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep31_i_ess_LC_182)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep31_i_ess 24 5 3 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep31_i_ess_LC_182)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep3_i_ess_REP_LUT4_0 24 18 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep3_i_ess_LC_183)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep3_i_ess 24 18 7 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep3_i_ess_LC_183)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep4_i_ess_REP_LUT4_0 19 19 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep4_i_ess_LC_184)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep4_i_ess 19 19 0 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep4_i_ess_LC_184)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep5_i_ess_REP_LUT4_0 23 19 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep5_i_ess_LC_185)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep5_i_ess 23 19 0 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep5_i_ess_LC_185)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep6_i_ess_REP_LUT4_0 23 19 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep6_i_ess_LC_186)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep6_i_ess 23 19 2 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep6_i_ess_LC_186)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep7_i_ess_REP_LUT4_0 22 19 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep7_i_ess_LC_187)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep7_i_ess 22 19 0 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep7_i_ess_LC_187)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep8_i_ess_REP_LUT4_0 24 8 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep8_i_ess_LC_188)
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep8_i_ess 24 8 7 # SB_DFFESS (LogicCell: U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep8_i_ess_LC_188)
set_location U111_CYCLE_SM.UM_LATCHED_esr_0_THRU_LUT4_0 12 9 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr[0]_LC_189)
set_location U111_CYCLE_SM.UM_LATCHED_esr[0] 12 9 6 # SB_DFFESR (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr[0]_LC_189)
set_location U111_CYCLE_SM.UM_LATCHED_esr_1_THRU_LUT4_0 11 11 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr[1]_LC_190)
set_location U111_CYCLE_SM.UM_LATCHED_esr[1] 11 11 5 # SB_DFFESR (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr[1]_LC_190)
set_location U111_CYCLE_SM.UM_LATCHED_esr_2_THRU_LUT4_0 12 10 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr[2]_LC_191)
set_location U111_CYCLE_SM.UM_LATCHED_esr[2] 12 10 6 # SB_DFFESR (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr[2]_LC_191)
set_location U111_CYCLE_SM.UM_LATCHED_esr_3_THRU_LUT4_0 12 11 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr[3]_LC_192)
set_location U111_CYCLE_SM.UM_LATCHED_esr[3] 12 11 4 # SB_DFFESR (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr[3]_LC_192)
set_location U111_CYCLE_SM.UM_LATCHED_esr_4_THRU_LUT4_0 12 11 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr[4]_LC_193)
set_location U111_CYCLE_SM.UM_LATCHED_esr[4] 12 11 1 # SB_DFFESR (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr[4]_LC_193)
set_location U111_CYCLE_SM.UM_LATCHED_esr_5_THRU_LUT4_0 12 11 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr[5]_LC_194)
set_location U111_CYCLE_SM.UM_LATCHED_esr[5] 12 11 7 # SB_DFFESR (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr[5]_LC_194)
set_location U111_CYCLE_SM.UM_LATCHED_esr_6_THRU_LUT4_0 12 11 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr[6]_LC_195)
set_location U111_CYCLE_SM.UM_LATCHED_esr[6] 12 11 2 # SB_DFFESR (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr[6]_LC_195)
set_location U111_CYCLE_SM.UM_LATCHED_esr_7_THRU_LUT4_0 12 10 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr[7]_LC_196)
set_location U111_CYCLE_SM.UM_LATCHED_esr[7] 12 10 3 # SB_DFFESR (LogicCell: U111_CYCLE_SM.UM_LATCHED_esr[7]_LC_196)
set_location U111_CYCLE_SM.UU_LATCHED_esr_0_THRU_LUT4_0 11 11 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr[0]_LC_197)
set_location U111_CYCLE_SM.UU_LATCHED_esr[0] 11 11 7 # SB_DFFESR (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr[0]_LC_197)
set_location U111_CYCLE_SM.UU_LATCHED_esr_1_THRU_LUT4_0 10 9 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr[1]_LC_198)
set_location U111_CYCLE_SM.UU_LATCHED_esr[1] 10 9 0 # SB_DFFESR (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr[1]_LC_198)
set_location U111_CYCLE_SM.UU_LATCHED_esr_2_THRU_LUT4_0 12 12 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr[2]_LC_199)
set_location U111_CYCLE_SM.UU_LATCHED_esr[2] 12 12 1 # SB_DFFESR (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr[2]_LC_199)
set_location U111_CYCLE_SM.UU_LATCHED_esr_3_THRU_LUT4_0 12 11 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr[3]_LC_200)
set_location U111_CYCLE_SM.UU_LATCHED_esr[3] 12 11 0 # SB_DFFESR (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr[3]_LC_200)
set_location U111_CYCLE_SM.UU_LATCHED_esr_4_THRU_LUT4_0 12 11 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr[4]_LC_201)
set_location U111_CYCLE_SM.UU_LATCHED_esr[4] 12 11 6 # SB_DFFESR (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr[4]_LC_201)
set_location U111_CYCLE_SM.UU_LATCHED_esr_5_THRU_LUT4_0 11 11 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr[5]_LC_202)
set_location U111_CYCLE_SM.UU_LATCHED_esr[5] 11 11 0 # SB_DFFESR (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr[5]_LC_202)
set_location U111_CYCLE_SM.UU_LATCHED_esr_6_THRU_LUT4_0 12 10 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr[6]_LC_203)
set_location U111_CYCLE_SM.UU_LATCHED_esr[6] 12 10 5 # SB_DFFESR (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr[6]_LC_203)
set_location U111_CYCLE_SM.UU_LATCHED_esr_7_THRU_LUT4_0 12 11 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr[7]_LC_204)
set_location U111_CYCLE_SM.UU_LATCHED_esr[7] 12 11 3 # SB_DFFESR (LogicCell: U111_CYCLE_SM.UU_LATCHED_esr[7]_LC_204)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_i_ess_REP_LUT4_0 2 7 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_i_ess_LC_205)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_i_ess 2 7 1 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_i_ess_LC_205)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep0_i_ess_REP_LUT4_0 5 18 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep0_i_ess_LC_206)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep0_i_ess 5 18 7 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep0_i_ess_LC_206)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep10_i_ess_REP_LUT4_0 1 14 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep10_i_ess_LC_207)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep10_i_ess 1 14 4 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep10_i_ess_LC_207)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep11_i_ess_REP_LUT4_0 2 16 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep11_i_ess_LC_208)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep11_i_ess 2 16 6 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep11_i_ess_LC_208)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep12_i_ess_REP_LUT4_0 2 19 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep12_i_ess_LC_209)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep12_i_ess 2 19 1 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep12_i_ess_LC_209)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep13_i_ess_REP_LUT4_0 6 19 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep13_i_ess_LC_210)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep13_i_ess 6 19 6 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep13_i_ess_LC_210)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep14_i_ess_REP_LUT4_0 2 18 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep14_i_ess_LC_211)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep14_i_ess 2 18 1 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep14_i_ess_LC_211)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep15_i_ess_REP_LUT4_0 1 20 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep15_i_ess_LC_212)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep15_i_ess 1 20 4 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep15_i_ess_LC_212)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep16_i_ess_REP_LUT4_0 2 8 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep16_i_ess_LC_213)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep16_i_ess 2 8 5 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep16_i_ess_LC_213)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep17_i_ess_REP_LUT4_0 1 8 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep17_i_ess_LC_214)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep17_i_ess 1 8 6 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep17_i_ess_LC_214)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep18_i_ess_REP_LUT4_0 3 13 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep18_i_ess_LC_215)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep18_i_ess 3 13 1 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep18_i_ess_LC_215)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep19_i_ess_REP_LUT4_0 3 11 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep19_i_ess_LC_216)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep19_i_ess 3 11 5 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep19_i_ess_LC_216)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep1_i_ess_REP_LUT4_0 2 18 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep1_i_ess_LC_217)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep1_i_ess 2 18 4 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep1_i_ess_LC_217)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep20_i_ess_REP_LUT4_0 2 13 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep20_i_ess_LC_218)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep20_i_ess 2 13 4 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep20_i_ess_LC_218)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep21_i_ess_REP_LUT4_0 3 15 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep21_i_ess_LC_219)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep21_i_ess 3 15 3 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep21_i_ess_LC_219)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep22_i_ess_REP_LUT4_0 2 17 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep22_i_ess_LC_220)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep22_i_ess 2 17 5 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep22_i_ess_LC_220)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep23_i_ess_REP_LUT4_0 3 16 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep23_i_ess_LC_221)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep23_i_ess 3 16 2 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep23_i_ess_LC_221)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep24_i_ess_REP_LUT4_0 1 5 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep24_i_ess_LC_222)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep24_i_ess 1 5 4 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep24_i_ess_LC_222)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep25_i_ess_REP_LUT4_0 2 4 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep25_i_ess_LC_223)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep25_i_ess 2 4 1 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep25_i_ess_LC_223)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep26_i_ess_REP_LUT4_0 1 3 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep26_i_ess_LC_224)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep26_i_ess 1 3 5 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep26_i_ess_LC_224)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep27_i_ess_REP_LUT4_0 3 4 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep27_i_ess_LC_225)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep27_i_ess 3 4 5 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep27_i_ess_LC_225)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep28_i_ess_REP_LUT4_0 3 3 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep28_i_ess_LC_226)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep28_i_ess 3 3 7 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep28_i_ess_LC_226)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep29_i_ess_REP_LUT4_0 1 8 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep29_i_ess_LC_227)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep29_i_ess 1 8 7 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep29_i_ess_LC_227)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep2_i_ess_REP_LUT4_0 7 19 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep2_i_ess_LC_228)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep2_i_ess 7 19 3 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep2_i_ess_LC_228)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep30_i_ess_REP_LUT4_0 2 6 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep30_i_ess_LC_229)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep30_i_ess 2 6 5 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep30_i_ess_LC_229)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep3_i_ess_REP_LUT4_0 3 19 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep3_i_ess_LC_230)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep3_i_ess 3 19 1 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep3_i_ess_LC_230)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep4_i_ess_REP_LUT4_0 5 20 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep4_i_ess_LC_231)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep4_i_ess 5 20 3 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep4_i_ess_LC_231)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep5_i_ess_REP_LUT4_0 2 17 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep5_i_ess_LC_232)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep5_i_ess 2 17 1 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep5_i_ess_LC_232)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep6_i_ess_REP_LUT4_0 5 20 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep6_i_ess_LC_233)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep6_i_ess 5 20 6 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep6_i_ess_LC_233)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep7_i_ess_REP_LUT4_0 3 17 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep7_i_ess_LC_234)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep7_i_ess 3 17 7 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep7_i_ess_LC_234)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep8_i_ess_REP_LUT4_0 2 12 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep8_i_ess_LC_235)
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep8_i_ess 2 12 5 # SB_DFFESS (LogicCell: U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep8_i_ess_LC_235)
set_location GB_BUFFER_CLK80_THRU_LUT4_0 12 13 6 # SB_LUT4 (LogicCell: GB_BUFFER_CLK80_THRU_LUT4_0_LC_236)
set_location GB_BUFFER_CLK40_THRU_LUT4_0 23 8 4 # SB_LUT4 (LogicCell: GB_BUFFER_CLK40_THRU_LUT4_0_LC_237)
set_io A_040_ibuf[0] 2 0 0 # ICE_IO
set_io A_040_ibuf[1] 2 0 1 # ICE_IO
set_io A_AMIGA_obuf[0] 3 0 1 # ICE_IO
set_io A_AMIGA_obuf[1] 4 0 1 # ICE_IO
set_io BGn_ibuf 25 13 1 # ICE_IO
set_io BUFDIR_obuf 6 21 1 # ICE_IO
set_io BUFENn_obuf 7 21 0 # ICE_IO
set_io CLK40A_obuf 25 10 1 # ICE_IO
set_io CLK40B_obuf 12 0 1 # ICE_IO
set_io CLK40C_obuf 0 10 1 # ICE_IO
set_io CLK80_CPU_obuf 25 11 0 # ICE_IO
set_io CLKRAMA_obuf 18 0 0 # ICE_IO
set_io CLKRAMB_obuf 13 0 0 # ICE_IO
set_io CPUBGn_obuf 25 17 0 # ICE_IO
set_io DMAn_obuf 7 21 1 # ICE_IO
set_io D_LL_040_iobuf[0] 25 1 1 # ICE_IO
set_io D_LL_040_iobuf[1] 25 2 0 # ICE_IO
set_io D_LL_040_iobuf[2] 25 3 1 # ICE_IO
set_io D_LL_040_iobuf[3] 25 1 0 # ICE_IO
set_io D_LL_040_iobuf[4] 25 2 1 # ICE_IO
set_io D_LL_040_iobuf[5] 25 4 0 # ICE_IO
set_io D_LL_040_iobuf[6] 25 4 1 # ICE_IO
set_io D_LL_040_iobuf[7] 25 5 0 # ICE_IO
set_io D_LL_AMIGA_iobuf[0] 0 1 1 # ICE_IO
set_io D_LL_AMIGA_iobuf[1] 0 3 1 # ICE_IO
set_io D_LL_AMIGA_iobuf[2] 0 2 1 # ICE_IO
set_io D_LL_AMIGA_iobuf[3] 0 2 0 # ICE_IO
set_io D_LL_AMIGA_iobuf[4] 0 3 0 # ICE_IO
set_io D_LL_AMIGA_iobuf[5] 0 6 1 # ICE_IO
set_io D_LL_AMIGA_iobuf[6] 0 6 0 # ICE_IO
set_io D_LL_AMIGA_iobuf[7] 0 7 0 # ICE_IO
set_io D_LM_040_iobuf[0] 25 5 1 # ICE_IO
set_io D_LM_040_iobuf[1] 25 6 0 # ICE_IO
set_io D_LM_040_iobuf[2] 25 6 1 # ICE_IO
set_io D_LM_040_iobuf[3] 25 7 1 # ICE_IO
set_io D_LM_040_iobuf[4] 25 8 1 # ICE_IO
set_io D_LM_040_iobuf[5] 25 9 1 # ICE_IO
set_io D_LM_040_iobuf[6] 25 14 1 # ICE_IO
set_io D_LM_040_iobuf[7] 25 15 1 # ICE_IO
set_io D_LM_AMIGA_iobuf[0] 0 7 1 # ICE_IO
set_io D_LM_AMIGA_iobuf[1] 0 10 0 # ICE_IO
set_io D_LM_AMIGA_iobuf[2] 0 12 0 # ICE_IO
set_io D_LM_AMIGA_iobuf[3] 0 11 1 # ICE_IO
set_io D_LM_AMIGA_iobuf[4] 0 13 0 # ICE_IO
set_io D_LM_AMIGA_iobuf[5] 0 15 0 # ICE_IO
set_io D_LM_AMIGA_iobuf[6] 0 17 1 # ICE_IO
set_io D_LM_AMIGA_iobuf[7] 0 17 0 # ICE_IO
set_io D_UM_040_iobuf[0] 25 9 0 # ICE_IO
set_io D_UM_040_iobuf[1] 25 18 1 # ICE_IO
set_io D_UM_040_iobuf[2] 25 10 0 # ICE_IO
set_io D_UM_040_iobuf[3] 25 19 1 # ICE_IO
set_io D_UM_040_iobuf[4] 24 21 1 # ICE_IO
set_io D_UM_040_iobuf[5] 23 21 0 # ICE_IO
set_io D_UM_040_iobuf[6] 25 12 1 # ICE_IO
set_io D_UM_040_iobuf[7] 25 19 0 # ICE_IO
set_io D_UM_AMIGA_iobuf[0] 0 12 1 # ICE_IO
set_io D_UM_AMIGA_iobuf[1] 0 15 1 # ICE_IO
set_io D_UM_AMIGA_iobuf[2] 0 13 1 # ICE_IO
set_io D_UM_AMIGA_iobuf[3] 0 18 1 # ICE_IO
set_io D_UM_AMIGA_iobuf[4] 0 19 1 # ICE_IO
set_io D_UM_AMIGA_iobuf[5] 4 21 0 # ICE_IO
set_io D_UM_AMIGA_iobuf[6] 0 20 0 # ICE_IO
set_io D_UM_AMIGA_iobuf[7] 0 19 0 # ICE_IO
set_io D_UU_040_iobuf[0] 21 21 1 # ICE_IO
set_io D_UU_040_iobuf[1] 25 20 0 # ICE_IO
set_io D_UU_040_iobuf[2] 20 21 0 # ICE_IO
set_io D_UU_040_iobuf[3] 24 21 0 # ICE_IO
set_io D_UU_040_iobuf[4] 19 21 1 # ICE_IO
set_io D_UU_040_iobuf[5] 23 21 1 # ICE_IO
set_io D_UU_040_iobuf[6] 22 21 1 # ICE_IO
set_io D_UU_040_iobuf[7] 22 21 0 # ICE_IO
set_io D_UU_AMIGA_iobuf[0] 5 21 1 # ICE_IO
set_io D_UU_AMIGA_iobuf[1] 0 18 0 # ICE_IO
set_io D_UU_AMIGA_iobuf[2] 5 21 0 # ICE_IO
set_io D_UU_AMIGA_iobuf[3] 2 21 1 # ICE_IO
set_io D_UU_AMIGA_iobuf[4] 6 21 0 # ICE_IO
set_io D_UU_AMIGA_iobuf[5] 0 20 1 # ICE_IO
set_io D_UU_AMIGA_iobuf[6] 3 21 1 # ICE_IO
set_io D_UU_AMIGA_iobuf[7] 3 21 0 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io LBENn_ibuf 12 0 0 # ICE_IO
set_io PORTSIZE_ibuf 5 0 0 # ICE_IO
set_io RESETn_ibuf 0 1 0 # ICE_IO
set_io RESETn_ibuf_RNIM9SF_0 0 10 1 # ICE_GB
set_io RnW_ibuf 25 14 0 # ICE_IO
set_io SIZ_ibuf[0] 18 21 0 # ICE_IO
set_io SIZ_ibuf[1] 19 21 0 # ICE_IO
set_io TACKn_iobuf 11 0 1 # ICE_IO
set_io TAn_iobuf 15 21 0 # ICE_IO
set_io TBI_CPUn_obuf 22 0 1 # ICE_IO
set_io TBIn_ibuf 17 0 1 # ICE_IO
set_io TCI_CPUn_obuf 25 16 1 # ICE_IO
set_io TCIn_ibuf 8 0 0 # ICE_IO
set_io TEA_CPUn_obuf 15 21 1 # ICE_IO
set_io TEAn_ibuf 7 0 1 # ICE_IO
set_io TS_CPUn_ibuf 14 21 1 # ICE_IO
set_io TSn_obuf 8 0 1 # ICE_IO
set_io U111_CYCLE_SM.CYCLE_STATE_RNIICIM_0[0] 0 11 0 # ICE_GB
set_location pll 12 21 1 # SB_PLL40_2F_PAD
set_location INV_CLK40 -1 -1 -1 # INV
set_location CONSTANT_ONE_LUT4 7 20 7 # SB_LUT4 (LogicCell: LC_238)
