set_location CLK40_PLL_derived_clock_RNIIOT_0 12 20 2 # SB_LUT4 (LogicCell: CLK40_PLL_derived_clock_RNIIOT_0_LC_0)
set_location CLKRAM_obuf_RNO 2 1 0 # SB_LUT4 (LogicCell: CLKRAM_obuf_RNO_LC_1)
set_location DBRn_ibuf_RNIBAB 10 12 6 # SB_LUT4 (LogicCell: DBRn_ibuf_RNIBAB_LC_2)
set_location RESETn_ibuf_RNIM9SF 12 13 5 # SB_LUT4 (LogicCell: RESETn_ibuf_RNIM9SF_LC_3)
set_location TACKn_obuft_RNO 5 15 5 # SB_LUT4 (LogicCell: TACKn_obuft_RNO_LC_4)
set_location U712_BUFFERS.DMA_LATCH_EN_1_i_m2_i_m2 10 16 6 # SB_LUT4 (LogicCell: U712_BUFFERS.DMA_LATCH_EN_1_i_m2_i_m2_LC_5)
set_location U712_BUFFERS.LATCH_CLK_0_i 9 15 7 # SB_LUT4 (LogicCell: U712_BUFFERS.LATCH_CLK_0_i_LC_6)
set_location U712_BUFFERS.un1_DRDENn_0_a2_0_a3 12 16 1 # SB_LUT4 (LogicCell: U712_BUFFERS.un1_DRDENn_0_a2_0_a3_LC_7)
set_location U712_BUFFERS.un1_VBENn 8 9 5 # SB_LUT4 (LogicCell: U712_BUFFERS.un1_VBENn_LC_8)
set_location U712_BYTE_ENABLE.LLBE_0_i_o3 8 9 6 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.LLBE_0_i_o3_LC_9)
set_location U712_BYTE_ENABLE.LMBE_0_a3_i_o3 9 9 1 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.LMBE_0_a3_i_o3_LC_10)
set_location U712_BYTE_ENABLE.N_276_i 13 20 1 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.N_276_i_LC_11)
set_location U712_BYTE_ENABLE.N_277_i 13 20 5 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.N_277_i_LC_12)
set_location U712_BYTE_ENABLE.N_278_i 13 20 2 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.N_278_i_LC_13)
set_location U712_BYTE_ENABLE.N_46_i 12 9 0 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.N_46_i_LC_14)
set_location U712_BYTE_ENABLE.N_47_i 9 9 3 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.N_47_i_LC_15)
set_location U712_BYTE_ENABLE.N_48_i 12 9 2 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.N_48_i_LC_16)
set_location U712_BYTE_ENABLE.N_49_i 12 9 3 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.N_49_i_LC_17)
set_location U712_BYTE_ENABLE.UMBE_0_i_o3 12 9 4 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.UMBE_0_i_o3_LC_18)
set_location U712_BYTE_ENABLE.UUBE_0_a2_0_a2 12 9 1 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.UUBE_0_a2_0_a2_LC_19)
set_location U712_BYTE_ENABLE.UUBE_i 12 20 7 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.UUBE_i_LC_20)
set_location U712_BYTE_ENABLE.un1_CLLBEn_i_0_a3_0_0 9 9 2 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.un1_CLLBEn_i_0_a3_0_0_LC_21)
set_location U712_BYTE_ENABLE.un1_CUMBEn_i_0_a3_0_0 12 9 7 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.un1_CUMBEn_i_0_a3_0_0_LC_22)
set_location U712_CHIP_RAM.BANK0_esr_RNO 9 12 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.BANK0_esr_LC_23)
set_location U712_CHIP_RAM.BANK0_esr 9 12 2 # SB_DFFESR (LogicCell: U712_CHIP_RAM.BANK0_esr_LC_23)
set_location U712_CHIP_RAM.BANK0_esr_RNO_0 10 12 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.BANK0_esr_RNO_0_LC_24)
set_location U712_CHIP_RAM.BANK0_esr_RNO_1 9 12 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.BANK0_esr_RNO_1_LC_25)
set_location U712_CHIP_RAM.BANK0_esr_RNO_2 10 12 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.BANK0_esr_RNO_2_LC_26)
set_location U712_CHIP_RAM.BANK0_esr_RNO_3 11 13 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.BANK0_esr_RNO_3_LC_27)
set_location U712_CHIP_RAM.CAS_SYNC_RNO[0] 12 15 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CAS_SYNC[0]_LC_28)
set_location U712_CHIP_RAM.CAS_SYNC[0] 12 15 7 # SB_DFFSR (LogicCell: U712_CHIP_RAM.CAS_SYNC[0]_LC_28)
set_location U712_CHIP_RAM.CLK_EN_RNO 10 13 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CLK_EN_LC_29)
set_location U712_CHIP_RAM.CLK_EN 10 13 0 # SB_DFFSS (LogicCell: U712_CHIP_RAM.CLK_EN_LC_29)
set_location U712_CHIP_RAM.CMA_esr_RNO[0] 14 9 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[0]_LC_30)
set_location U712_CHIP_RAM.CMA_esr[0] 14 9 5 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[0]_LC_30)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[0] 14 10 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[0]_LC_31)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[1] 9 8 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[1]_LC_32)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[2] 11 8 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[2]_LC_33)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[3] 11 7 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[3]_LC_34)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[4] 11 7 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[4]_LC_35)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[5] 9 11 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[5]_LC_36)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[6] 10 7 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[6]_LC_37)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[7] 11 7 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[7]_LC_38)
set_location U712_CHIP_RAM.CMA_esr_RNO[1] 10 8 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[1]_LC_39)
set_location U712_CHIP_RAM.CMA_esr[1] 10 8 7 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[1]_LC_39)
set_location U712_CHIP_RAM.CMA_esr_RNO[10] 14 7 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[10]_LC_40)
set_location U712_CHIP_RAM.CMA_esr[10] 14 7 1 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[10]_LC_40)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[0] 14 10 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[0]_LC_41)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[1] 11 8 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[1]_LC_42)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[2] 10 9 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[2]_LC_43)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[3] 11 7 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[3]_LC_44)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[4] 10 7 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[4]_LC_45)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[5] 10 9 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[5]_LC_46)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[6] 10 7 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[6]_LC_47)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[7] 10 7 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[7]_LC_48)
set_location U712_CHIP_RAM.CMA_esr_RNO[2] 12 8 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[2]_LC_49)
set_location U712_CHIP_RAM.CMA_esr[2] 12 8 2 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[2]_LC_49)
set_location U712_CHIP_RAM.CMA_esr_RNO_2[1] 11 8 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_2[1]_LC_50)
set_location U712_CHIP_RAM.CMA_esr_RNO_2[5] 10 8 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_2[5]_LC_51)
set_location U712_CHIP_RAM.CMA_esr_RNO[3] 12 7 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[3]_LC_52)
set_location U712_CHIP_RAM.CMA_esr[3] 12 7 3 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[3]_LC_52)
set_location U712_CHIP_RAM.CMA_esr_RNO_3[1] 9 8 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_3[1]_LC_53)
set_location U712_CHIP_RAM.CMA_esr_RNO_3[5] 9 11 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_3[5]_LC_54)
set_location U712_CHIP_RAM.CMA_esr_RNO[4] 12 7 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[4]_LC_55)
set_location U712_CHIP_RAM.CMA_esr[4] 12 7 1 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[4]_LC_55)
set_location U712_CHIP_RAM.CMA_esr_RNO[5] 10 8 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[5]_LC_56)
set_location U712_CHIP_RAM.CMA_esr[5] 10 8 5 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[5]_LC_56)
set_location U712_CHIP_RAM.CMA_esr_RNO[6] 12 7 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[6]_LC_57)
set_location U712_CHIP_RAM.CMA_esr[6] 12 7 4 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[6]_LC_57)
set_location U712_CHIP_RAM.CMA_esr_RNO[7] 12 7 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[7]_LC_58)
set_location U712_CHIP_RAM.CMA_esr[7] 12 7 0 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[7]_LC_58)
set_location U712_CHIP_RAM.CMA_esr_RNO[8] 13 6 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[8]_LC_59)
set_location U712_CHIP_RAM.CMA_esr[8] 13 6 5 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[8]_LC_59)
set_location U712_CHIP_RAM.CMA_esr_RNO[9] 12 7 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[9]_LC_60)
set_location U712_CHIP_RAM.CMA_esr[9] 12 7 5 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[9]_LC_60)
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNIFMOI5 10 11 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_START_RNIFMOI5_LC_61)
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNIH3Q74 9 12 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_START_RNIH3Q74_LC_62)
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNIR9VE1 10 12 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_START_RNIR9VE1_LC_63)
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNIURFN4 10 12 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_START_RNIURFN4_LC_64)
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNO 10 13 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_START_LC_65)
set_location U712_CHIP_RAM.CPU_CYCLE_START 10 13 1 # SB_DFFSR (LogicCell: U712_CHIP_RAM.CPU_CYCLE_START_LC_65)
set_location U712_CHIP_RAM.CPU_CYCLE_esr_RNIHMEA 12 10 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_esr_RNIHMEA_LC_66)
set_location U712_CHIP_RAM.CPU_CYCLE_esr_RNISH5V3 11 13 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_esr_RNISH5V3_LC_67)
set_location U712_CHIP_RAM.CPU_CYCLE_esr_RNO 9 12 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_esr_RNO_LC_68)
set_location U712_CHIP_RAM.CPU_CYCLE_esr_RNO_0 9 12 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_esr_RNO_0_LC_69)
set_location U712_CHIP_RAM.CPU_CYCLE_esr_RNO_1 12 12 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_esr_RNO_1_LC_70)
set_location U712_CHIP_RAM.CPU_TACK_RNO 12 12 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_TACK_LC_71)
set_location U712_CHIP_RAM.CPU_TACK 12 12 7 # SB_DFFSR (LogicCell: U712_CHIP_RAM.CPU_TACK_LC_71)
set_location U712_CHIP_RAM.CPU_TACK_RNO_0 11 13 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_TACK_RNO_0_LC_72)
set_location U712_CHIP_RAM.CPU_TACK_RNO_1 11 12 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_TACK_RNO_1_LC_73)
set_location U712_CHIP_RAM.CPU_TACK_RNO_2 12 12 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_TACK_RNO_2_LC_74)
set_location U712_CHIP_RAM.CPU_TACK_RNO_3 12 12 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_TACK_RNO_3_LC_75)
set_location U712_CHIP_RAM.DBDIR_RNO 11 9 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DBDIR_LC_76)
set_location U712_CHIP_RAM.DBDIR 11 9 1 # SB_DFFSS (LogicCell: U712_CHIP_RAM.DBDIR_LC_76)
set_location U712_CHIP_RAM.DBENn_RNO 11 9 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DBENn_LC_77)
set_location U712_CHIP_RAM.DBENn 11 9 0 # SB_DFFSS (LogicCell: U712_CHIP_RAM.DBENn_LC_77)
set_location U712_CHIP_RAM.DMA_A20_RNO 14 12 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_A20_LC_78)
set_location U712_CHIP_RAM.DMA_A20 14 12 2 # SB_DFFNSR (LogicCell: U712_CHIP_RAM.DMA_A20_LC_78)
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNI15FJ4 10 11 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_START_RNI15FJ4_LC_79)
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNI892R 11 13 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_START_RNI892R_LC_80)
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNO 10 12 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_START_LC_81)
set_location U712_CHIP_RAM.DMA_CYCLE_START 10 12 5 # SB_DFF (LogicCell: U712_CHIP_RAM.DMA_CYCLE_START_LC_81)
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNO_0 11 15 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_START_RNO_0_LC_82)
set_location U712_CHIP_RAM.DMA_CYCLE_esr_RNI4LVP1 11 13 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_esr_RNI4LVP1_LC_83)
set_location U712_CHIP_RAM.DMA_CYCLE_esr_RNI8ALV 12 11 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_esr_RNI8ALV_LC_84)
set_location U712_CHIP_RAM.DMA_CYCLE_esr_RNIFGIT5 11 13 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_esr_RNIFGIT5_LC_85)
set_location U712_CHIP_RAM.DMA_CYCLE_esr_RNO 11 13 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_esr_RNO_LC_86)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2[4] 13 7 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[4]_LC_87)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[4] 13 7 2 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[4]_LC_87)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2[5] 14 8 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[5]_LC_88)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[5] 14 8 3 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[5]_LC_88)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2[6] 13 9 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[6]_LC_89)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[6] 13 9 7 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[6]_LC_89)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2[7] 14 8 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[7]_LC_90)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[7] 14 8 1 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[7]_LC_90)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2[8] 15 7 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[8]_LC_91)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[8] 15 7 3 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[8]_LC_91)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[0] 16 9 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[0]_LC_92)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[0] 16 9 1 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[0]_LC_92)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[1] 15 11 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[1]_LC_93)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[1] 15 11 1 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[1]_LC_93)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[2] 13 9 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[2]_LC_94)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[2] 13 9 4 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[2]_LC_94)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[3] 13 7 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[3]_LC_95)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[3] 13 7 7 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[3]_LC_95)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_RNO[9] 14 8 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[9]_LC_96)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[9] 14 8 7 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[9]_LC_96)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle[9] 9 11 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle[9]_LC_97)
set_location U712_CHIP_RAM.LATCH_RAM_RNO 10 13 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.LATCH_RAM_LC_98)
set_location U712_CHIP_RAM.LATCH_RAM 10 13 4 # SB_DFFSR (LogicCell: U712_CHIP_RAM.LATCH_RAM_LC_98)
set_location U712_CHIP_RAM.LATCH_RAM_RNO_0 9 13 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.LATCH_RAM_RNO_0_LC_99)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[0] 8 10 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[0]_LC_100)
set_location U712_CHIP_RAM.REFRESH_COUNTER[0] 8 10 0 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[0]_LC_100)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[0] 8 10 0 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[0]_LC_100)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[1] 8 10 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[1]_LC_101)
set_location U712_CHIP_RAM.REFRESH_COUNTER[1] 8 10 1 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[1]_LC_101)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[1] 8 10 1 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[1]_LC_101)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[2] 8 10 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[2]_LC_102)
set_location U712_CHIP_RAM.REFRESH_COUNTER[2] 8 10 2 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[2]_LC_102)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[2] 8 10 2 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[2]_LC_102)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[3] 8 10 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[3]_LC_103)
set_location U712_CHIP_RAM.REFRESH_COUNTER[3] 8 10 3 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[3]_LC_103)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[3] 8 10 3 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[3]_LC_103)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[4] 8 10 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[4]_LC_104)
set_location U712_CHIP_RAM.REFRESH_COUNTER[4] 8 10 4 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[4]_LC_104)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[4] 8 10 4 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[4]_LC_104)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[5] 8 10 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[5]_LC_105)
set_location U712_CHIP_RAM.REFRESH_COUNTER[5] 8 10 5 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[5]_LC_105)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[5] 8 10 5 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[5]_LC_105)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[6] 8 10 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[6]_LC_106)
set_location U712_CHIP_RAM.REFRESH_COUNTER[6] 8 10 6 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[6]_LC_106)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[6] 8 10 6 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[6]_LC_106)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[7] 8 10 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[7]_LC_107)
set_location U712_CHIP_RAM.REFRESH_COUNTER[7] 8 10 7 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[7]_LC_107)
set_location U712_CHIP_RAM.REFRESH_RNO 11 10 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_LC_108)
set_location U712_CHIP_RAM.REFRESH 11 10 0 # SB_DFFSR (LogicCell: U712_CHIP_RAM.REFRESH_LC_108)
set_location U712_CHIP_RAM.REFRESH_RNO_0 9 10 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_RNO_0_LC_109)
set_location U712_CHIP_RAM.SDRAM_CMD_RNI0AO81[3] 10 9 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNI0AO81[3]_LC_110)
set_location U712_CHIP_RAM.SDRAM_CMD_RNI4VDC[0] 10 9 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNI4VDC[0]_LC_111)
set_location U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_0[3] 9 10 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_0[3]_LC_112)
set_location U712_CHIP_RAM.SDRAM_CMD_RNIA0SO[3] 9 10 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNIA0SO[3]_LC_113)
set_location U712_CHIP_RAM.SDRAM_CMD_RNIMUKI[0] 11 8 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNIMUKI[0]_LC_114)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[0] 10 10 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD[0]_LC_115)
set_location U712_CHIP_RAM.SDRAM_CMD[0] 10 10 5 # SB_DFF (LogicCell: U712_CHIP_RAM.SDRAM_CMD[0]_LC_115)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[0] 9 11 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_0[0]_LC_116)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[1] 10 10 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_0[1]_LC_117)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[3] 10 11 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_0[3]_LC_118)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[1] 10 10 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD[1]_LC_119)
set_location U712_CHIP_RAM.SDRAM_CMD[1] 10 10 4 # SB_DFF (LogicCell: U712_CHIP_RAM.SDRAM_CMD[1]_LC_119)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_1[0] 10 10 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_1[0]_LC_120)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_1[1] 11 12 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_1[1]_LC_121)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[2] 10 10 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD[2]_LC_122)
set_location U712_CHIP_RAM.SDRAM_CMD[2] 10 10 1 # SB_DFF (LogicCell: U712_CHIP_RAM.SDRAM_CMD[2]_LC_122)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_2[0] 10 10 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_2[0]_LC_123)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[3] 10 11 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD[3]_LC_124)
set_location U712_CHIP_RAM.SDRAM_CMD[3] 10 11 1 # SB_DFF (LogicCell: U712_CHIP_RAM.SDRAM_CMD[3]_LC_124)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNI5T4O8 11 12 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNI5T4O8_LC_125)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIFMOI5 10 11 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNIFMOI5_LC_126)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIKCP34 11 10 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNIKCP34_LC_127)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNO 12 11 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_LC_128)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED 12 11 7 # SB_DFFSR (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_LC_128)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI05TJ3[0] 12 12 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI05TJ3[0]_LC_129)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI1JRT[3] 12 11 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI1JRT[3]_LC_130)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI3IG83[0] 10 11 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI3IG83[0]_LC_131)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI3PIP2[0] 11 12 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI3PIP2[0]_LC_132)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI41LA2[0] 11 12 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI41LA2[0]_LC_133)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI41LA2_0[0] 11 12 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI41LA2_0[0]_LC_134)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI4TF5A[4] 11 10 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI4TF5A[4]_LC_135)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI6B326[2] 11 12 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI6B326[2]_LC_136)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI8MK44[4] 12 11 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI8MK44[4]_LC_137)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI8SVVB[3] 11 10 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI8SVVB[3]_LC_138)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI9KPC1[7] 11 12 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI9KPC1[7]_LC_139)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIE6LO7[1] 12 10 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIE6LO7[1]_LC_140)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIHC4P1[2] 12 10 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIHC4P1[2]_LC_141)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNILDP34[4] 10 11 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNILDP34[4]_LC_142)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIPORK3[1] 12 10 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIPORK3[1]_LC_143)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIQTMR1[3] 12 13 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIQTMR1[3]_LC_144)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIS3891[3] 12 12 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIS3891[3]_LC_145)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIVGRT[3] 10 10 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIVGRT[3]_LC_146)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIVIFVC[4] 10 11 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIVIFVC[4]_LC_147)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[0] 12 13 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[0]_LC_148)
set_location U712_CHIP_RAM.SDRAM_COUNTER[0] 12 13 4 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[0]_LC_148)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[0] 9 11 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[0]_LC_149)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[1] 11 11 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[1]_LC_150)
set_location U712_CHIP_RAM.SDRAM_COUNTER[1] 11 11 1 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[1]_LC_150)
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[1] 11 11 1 # SB_CARRY (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[1]_LC_150)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO_1[0] 11 11 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNO_1[0]_LC_151)
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[0] 11 11 0 # SB_CARRY (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNO_1[0]_LC_151)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[2] 11 11 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[2]_LC_152)
set_location U712_CHIP_RAM.SDRAM_COUNTER[2] 11 11 2 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[2]_LC_152)
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[2] 11 11 2 # SB_CARRY (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[2]_LC_152)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[3] 11 11 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[3]_LC_153)
set_location U712_CHIP_RAM.SDRAM_COUNTER[3] 11 11 3 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[3]_LC_153)
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[3] 11 11 3 # SB_CARRY (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[3]_LC_153)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[4] 11 11 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[4]_LC_154)
set_location U712_CHIP_RAM.SDRAM_COUNTER[4] 11 11 4 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[4]_LC_154)
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[4] 11 11 4 # SB_CARRY (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[4]_LC_154)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[5] 11 11 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[5]_LC_155)
set_location U712_CHIP_RAM.SDRAM_COUNTER[5] 11 11 5 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[5]_LC_155)
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[5] 11 11 5 # SB_CARRY (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[5]_LC_155)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[6] 11 11 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[6]_LC_156)
set_location U712_CHIP_RAM.SDRAM_COUNTER[6] 11 11 6 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[6]_LC_156)
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[6] 11 11 6 # SB_CARRY (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[6]_LC_156)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[7] 11 11 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[7]_LC_157)
set_location U712_CHIP_RAM.SDRAM_COUNTER[7] 11 11 7 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[7]_LC_157)
set_location U712_CHIP_RAM.WRITE_CYCLE_RNI7SS3A 11 13 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.WRITE_CYCLE_RNI7SS3A_LC_158)
set_location U712_CHIP_RAM.WRITE_CYCLE_RNIO6DI 12 12 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.WRITE_CYCLE_RNIO6DI_LC_159)
set_location U712_CHIP_RAM.WRITE_CYCLE_RNITVQE7 12 11 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.WRITE_CYCLE_RNITVQE7_LC_160)
set_location U712_CHIP_RAM.WRITE_CYCLE_RNIUHSBF 12 11 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.WRITE_CYCLE_RNIUHSBF_LC_161)
set_location U712_CHIP_RAM.WRITE_CYCLE_RNO 12 11 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.WRITE_CYCLE_LC_162)
set_location U712_CHIP_RAM.WRITE_CYCLE 12 11 1 # SB_DFFSR (LogicCell: U712_CHIP_RAM.WRITE_CYCLE_LC_162)
set_location U712_CHIP_RAM.WRITE_CYCLE_RNO_0 10 12 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.WRITE_CYCLE_RNO_0_LC_163)
set_location U712_CYCLE_TERM.TACK_EN_i_ess_RNO 7 14 0 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_EN_i_ess_LC_164)
set_location U712_CYCLE_TERM.TACK_EN_i_ess 7 14 0 # SB_DFFESS (LogicCell: U712_CYCLE_TERM.TACK_EN_i_ess_LC_164)
set_location U712_CYCLE_TERM.TACK_EN_i_ess_RNO_0 12 13 3 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_EN_i_ess_RNO_0_LC_165)
set_location U712_CYCLE_TERM.TACK_EN_i_ess_RNO_1 12 13 2 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_EN_i_ess_RNO_1_LC_166)
set_location U712_CYCLE_TERM.TACK_EN_i_ess_RNO_2 12 13 1 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_EN_i_ess_RNO_2_LC_167)
set_location U712_CYCLE_TERM.TACK_OUTn_RNO 8 13 3 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_OUTn_LC_168)
set_location U712_CYCLE_TERM.TACK_OUTn 8 13 3 # SB_DFFSS (LogicCell: U712_CYCLE_TERM.TACK_OUTn_LC_168)
set_location U712_CYCLE_TERM.TACK_STATE_RNO[0] 8 13 0 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE[0]_LC_169)
set_location U712_CYCLE_TERM.TACK_STATE[0] 8 13 0 # SB_DFFSS (LogicCell: U712_CYCLE_TERM.TACK_STATE[0]_LC_169)
set_location U712_CYCLE_TERM.TACK_STATE_RNO_0[0] 7 12 5 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE_RNO_0[0]_LC_170)
set_location U712_CYCLE_TERM.TACK_STATE_RNO_0[1] 12 13 6 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE_RNO_0[1]_LC_171)
set_location U712_CYCLE_TERM.TACK_STATE_RNO[1] 12 14 5 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE[1]_LC_172)
set_location U712_CYCLE_TERM.TACK_STATE[1] 12 14 5 # SB_DFFSR (LogicCell: U712_CYCLE_TERM.TACK_STATE[1]_LC_172)
set_location U712_CYCLE_TERM.TACK_STATE_RNO[2] 12 14 1 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE[2]_LC_173)
set_location U712_CYCLE_TERM.TACK_STATE[2] 12 14 1 # SB_DFFSR (LogicCell: U712_CYCLE_TERM.TACK_STATE[2]_LC_173)
set_location U712_REG_SM.ASn_RNO 7 15 6 # SB_LUT4 (LogicCell: U712_REG_SM.ASn_LC_174)
set_location U712_REG_SM.ASn 7 15 6 # SB_DFFNSS (LogicCell: U712_REG_SM.ASn_LC_174)
set_location U712_REG_SM.C1_SYNC_RNI6FIN[1] 7 14 6 # SB_LUT4 (LogicCell: U712_REG_SM.C1_SYNC_RNI6FIN[1]_LC_175)
set_location U712_REG_SM.CYCLE_RUN_RNO 7 15 7 # SB_LUT4 (LogicCell: U712_REG_SM.CYCLE_RUN_LC_176)
set_location U712_REG_SM.CYCLE_RUN 7 15 7 # SB_DFFNSR (LogicCell: U712_REG_SM.CYCLE_RUN_LC_176)
set_location U712_REG_SM.DBR_SYNC_RNIVIGC1[1] 9 15 3 # SB_LUT4 (LogicCell: U712_REG_SM.DBR_SYNC_RNIVIGC1[1]_LC_177)
set_location U712_REG_SM.LATCH_REG_RNO 8 15 0 # SB_LUT4 (LogicCell: U712_REG_SM.LATCH_REG_LC_178)
set_location U712_REG_SM.LATCH_REG 8 15 0 # SB_DFFNSR (LogicCell: U712_REG_SM.LATCH_REG_LC_178)
set_location U712_REG_SM.LDSn_RNO 8 12 7 # SB_LUT4 (LogicCell: U712_REG_SM.LDSn_LC_179)
set_location U712_REG_SM.LDSn 8 12 7 # SB_DFFNSS (LogicCell: U712_REG_SM.LDSn_LC_179)
set_location U712_REG_SM.LDSn_RNO_0 8 12 6 # SB_LUT4 (LogicCell: U712_REG_SM.LDSn_RNO_0_LC_180)
set_location U712_REG_SM.LDSn_RNO_1 8 13 6 # SB_LUT4 (LogicCell: U712_REG_SM.LDSn_RNO_1_LC_181)
set_location U712_REG_SM.LDSn_RNO_2 9 13 3 # SB_LUT4 (LogicCell: U712_REG_SM.LDSn_RNO_2_LC_182)
set_location U712_REG_SM.LDSn_RNO_3 8 13 5 # SB_LUT4 (LogicCell: U712_REG_SM.LDSn_RNO_3_LC_183)
set_location U712_REG_SM.REGENn_RNO 7 16 6 # SB_LUT4 (LogicCell: U712_REG_SM.REGENn_LC_184)
set_location U712_REG_SM.REGENn 7 16 6 # SB_DFFNSS (LogicCell: U712_REG_SM.REGENn_LC_184)
set_location U712_REG_SM.REG_CPU_CYCLE_RNO 8 15 2 # SB_LUT4 (LogicCell: U712_REG_SM.REG_CPU_CYCLE_LC_185)
set_location U712_REG_SM.REG_CPU_CYCLE 8 15 2 # SB_DFFNSR (LogicCell: U712_REG_SM.REG_CPU_CYCLE_LC_185)
set_location U712_REG_SM.REG_CPU_CYCLE_RNO_0 9 15 1 # SB_LUT4 (LogicCell: U712_REG_SM.REG_CPU_CYCLE_RNO_0_LC_186)
set_location U712_REG_SM.REG_CYCLE_RNO 8 15 3 # SB_LUT4 (LogicCell: U712_REG_SM.REG_CYCLE_LC_187)
set_location U712_REG_SM.REG_CYCLE 8 15 3 # SB_DFFNSR (LogicCell: U712_REG_SM.REG_CYCLE_LC_187)
set_location U712_REG_SM.REG_CYCLE_RNO_0 9 15 2 # SB_LUT4 (LogicCell: U712_REG_SM.REG_CYCLE_RNO_0_LC_188)
set_location U712_REG_SM.REG_CYCLE_START_RNIQANC1 7 13 4 # SB_LUT4 (LogicCell: U712_REG_SM.REG_CYCLE_START_RNIQANC1_LC_189)
set_location U712_REG_SM.REG_CYCLE_START_RNO 8 14 7 # SB_LUT4 (LogicCell: U712_REG_SM.REG_CYCLE_START_LC_190)
set_location U712_REG_SM.REG_CYCLE_START 8 14 7 # SB_DFFNSR (LogicCell: U712_REG_SM.REG_CYCLE_START_LC_190)
set_location U712_REG_SM.REG_TACK_RNO 9 14 7 # SB_LUT4 (LogicCell: U712_REG_SM.REG_TACK_LC_191)
set_location U712_REG_SM.REG_TACK 9 14 7 # SB_DFFNSR (LogicCell: U712_REG_SM.REG_TACK_LC_191)
set_location U712_REG_SM.REG_TACK_RNO_0 9 15 5 # SB_LUT4 (LogicCell: U712_REG_SM.REG_TACK_RNO_0_LC_192)
set_location U712_REG_SM.REG_TACK_RNO_1 9 14 6 # SB_LUT4 (LogicCell: U712_REG_SM.REG_TACK_RNO_1_LC_193)
set_location U712_REG_SM.REG_WRITE_CYCLE_RNO 8 15 1 # SB_LUT4 (LogicCell: U712_REG_SM.REG_WRITE_CYCLE_LC_194)
set_location U712_REG_SM.REG_WRITE_CYCLE 8 15 1 # SB_DFFNSS (LogicCell: U712_REG_SM.REG_WRITE_CYCLE_LC_194)
set_location U712_REG_SM.STATE_COUNTER_RNI7KTS1[9] 7 13 5 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNTER_RNI7KTS1[9]_LC_195)
set_location U712_REG_SM.STATE_COUNTER_RNIFMLV[8] 9 15 0 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNTER_RNIFMLV[8]_LC_196)
set_location U712_REG_SM.STATE_COUNTER_RNO[0] 8 14 6 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNTER[0]_LC_197)
set_location U712_REG_SM.STATE_COUNTER[0] 8 14 6 # SB_DFFNSS (LogicCell: U712_REG_SM.STATE_COUNTER[0]_LC_197)
set_location U712_REG_SM.STATE_COUNTER_RNO_0[0] 7 15 0 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNTER_RNO_0[0]_LC_198)
set_location U712_REG_SM.STATE_COUNTER_RNO_1[0] 8 14 5 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNTER_RNO_1[0]_LC_199)
set_location U712_REG_SM.STATE_COUNTER_RNO[2] 10 14 2 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNTER[2]_LC_200)
set_location U712_REG_SM.STATE_COUNTER[2] 10 14 2 # SB_DFFNSR (LogicCell: U712_REG_SM.STATE_COUNTER[2]_LC_200)
set_location U712_REG_SM.STATE_COUNTER_RNO_2[0] 9 14 0 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNTER_RNO_2[0]_LC_201)
set_location U712_REG_SM.STATE_COUNTER_RNO[8] 8 15 4 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNTER[8]_LC_202)
set_location U712_REG_SM.STATE_COUNTER[8] 8 15 4 # SB_DFFNSR (LogicCell: U712_REG_SM.STATE_COUNTER[8]_LC_202)
set_location U712_REG_SM.UDSn_RNO 8 14 2 # SB_LUT4 (LogicCell: U712_REG_SM.UDSn_LC_203)
set_location U712_REG_SM.UDSn 8 14 2 # SB_DFFNSS (LogicCell: U712_REG_SM.UDSn_LC_203)
set_location U712_REG_SM.UDSn_RNO_0 7 14 7 # SB_LUT4 (LogicCell: U712_REG_SM.UDSn_RNO_0_LC_204)
set_location U712_REG_SM.UDSn_RNO_1 7 15 2 # SB_LUT4 (LogicCell: U712_REG_SM.UDSn_RNO_1_LC_205)
set_location DBR_SYNC_0_THRU_LUT4_0 10 13 3 # SB_LUT4 (LogicCell: DBR_SYNC[0]_LC_206)
set_location DBR_SYNC[0] 10 13 3 # SB_DFFSS (LogicCell: DBR_SYNC[0]_LC_206)
set_location DBR_SYNC_1_THRU_LUT4_0 10 13 2 # SB_LUT4 (LogicCell: DBR_SYNC[1]_LC_207)
set_location DBR_SYNC[1] 10 13 2 # SB_DFFSS (LogicCell: DBR_SYNC[1]_LC_207)
set_location U712_CHIP_RAM.CAS_SYNC_1_THRU_LUT4_0 12 15 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CAS_SYNC[1]_LC_208)
set_location U712_CHIP_RAM.CAS_SYNC[1] 12 15 4 # SB_DFFSR (LogicCell: U712_CHIP_RAM.CAS_SYNC[1]_LC_208)
set_location U712_CHIP_RAM.CASn_THRU_LUT4_0 14 5 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CASn_LC_209)
set_location U712_CHIP_RAM.CASn 14 5 3 # SB_DFFSS (LogicCell: U712_CHIP_RAM.CASn_LC_209)
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNIH3Q74_U712_CHIP_RAM.CPU_CYCLE_esr_REP_LUT4_0 9 13 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_esr_LC_210)
set_location U712_CHIP_RAM.CPU_CYCLE_esr 9 13 0 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CPU_CYCLE_esr_LC_210)
set_location U712_CHIP_RAM.CRCSn_THRU_LUT4_0 14 4 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CRCSn_LC_211)
set_location U712_CHIP_RAM.CRCSn 14 4 4 # SB_DFFSS (LogicCell: U712_CHIP_RAM.CRCSn_LC_211)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_4_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_3_REP_LUT4_0 13 8 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[3]_LC_212)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[3] 13 8 0 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[3]_LC_212)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_5_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_4_REP_LUT4_0 13 8 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[4]_LC_213)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[4] 13 8 1 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[4]_LC_213)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_6_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_5_REP_LUT4_0 14 11 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[5]_LC_214)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[5] 14 11 0 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[5]_LC_214)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_7_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_6_REP_LUT4_0 15 9 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[6]_LC_215)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[6] 15 9 1 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[6]_LC_215)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_8_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_7_REP_LUT4_0 15 8 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[7]_LC_216)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[7] 15 8 7 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[7]_LC_216)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_0_U712_CHIP_RAM.DMA_A1_nesr_REP_LUT4_0 15 9 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_A1_nesr_LC_217)
set_location U712_CHIP_RAM.DMA_A1_nesr 15 9 5 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_A1_nesr_LC_217)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_1_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_0_REP_LUT4_0 15 10 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[0]_LC_218)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[0] 15 10 1 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[0]_LC_218)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_2_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_1_REP_LUT4_0 13 11 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[1]_LC_219)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[1] 13 11 5 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[1]_LC_219)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_3_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_2_REP_LUT4_0 13 10 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[2]_LC_220)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[2] 13 10 2 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[2]_LC_220)
set_location U712_CHIP_RAM.RASn_THRU_LUT4_0 14 4 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.RASn_LC_221)
set_location U712_CHIP_RAM.RASn 14 4 5 # SB_DFFSS (LogicCell: U712_CHIP_RAM.RASn_LC_221)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI3IG83_0_U712_CHIP_RAM.DMA_CYCLE_esr_REP_LUT4_0 8 11 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_esr_LC_222)
set_location U712_CHIP_RAM.DMA_CYCLE_esr 8 11 0 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_CYCLE_esr_LC_222)
set_location U712_CHIP_RAM.WEn_THRU_LUT4_0 14 5 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.WEn_LC_223)
set_location U712_CHIP_RAM.WEn 14 5 4 # SB_DFFSS (LogicCell: U712_CHIP_RAM.WEn_LC_223)
set_location U712_CYCLE_TERM.TACK_STATE_3_THRU_LUT4_0 8 13 7 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE[3]_LC_224)
set_location U712_CYCLE_TERM.TACK_STATE[3] 8 13 7 # SB_DFFSR (LogicCell: U712_CYCLE_TERM.TACK_STATE[3]_LC_224)
set_location U712_CYCLE_TERM.TACK_STATE_4_THRU_LUT4_0 8 13 4 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE[4]_LC_225)
set_location U712_CYCLE_TERM.TACK_STATE[4] 8 13 4 # SB_DFFSR (LogicCell: U712_CYCLE_TERM.TACK_STATE[4]_LC_225)
set_location U712_REG_SM.C1_SYNC_0_THRU_LUT4_0 8 16 1 # SB_LUT4 (LogicCell: U712_REG_SM.C1_SYNC[0]_LC_226)
set_location U712_REG_SM.C1_SYNC[0] 8 16 1 # SB_DFFNSR (LogicCell: U712_REG_SM.C1_SYNC[0]_LC_226)
set_location U712_REG_SM.C1_SYNC_1_THRU_LUT4_0 8 14 3 # SB_LUT4 (LogicCell: U712_REG_SM.C1_SYNC[1]_LC_227)
set_location U712_REG_SM.C1_SYNC[1] 8 14 3 # SB_DFFNSR (LogicCell: U712_REG_SM.C1_SYNC[1]_LC_227)
set_location U712_REG_SM.C3_SYNC_0_THRU_LUT4_0 8 16 0 # SB_LUT4 (LogicCell: U712_REG_SM.C3_SYNC[0]_LC_228)
set_location U712_REG_SM.C3_SYNC[0] 8 16 0 # SB_DFFNSR (LogicCell: U712_REG_SM.C3_SYNC[0]_LC_228)
set_location U712_REG_SM.C3_SYNC_1_THRU_LUT4_0 8 14 4 # SB_LUT4 (LogicCell: U712_REG_SM.C3_SYNC[1]_LC_229)
set_location U712_REG_SM.C3_SYNC[1] 8 14 4 # SB_DFFNSR (LogicCell: U712_REG_SM.C3_SYNC[1]_LC_229)
set_location U712_REG_SM.DBR_SYNC_0_THRU_LUT4_0 10 14 5 # SB_LUT4 (LogicCell: U712_REG_SM.DBR_SYNC[0]_LC_230)
set_location U712_REG_SM.DBR_SYNC[0] 10 14 5 # SB_DFFNSR (LogicCell: U712_REG_SM.DBR_SYNC[0]_LC_230)
set_location U712_REG_SM.DBR_SYNC_1_THRU_LUT4_0 10 14 3 # SB_LUT4 (LogicCell: U712_REG_SM.DBR_SYNC[1]_LC_231)
set_location U712_REG_SM.DBR_SYNC[1] 10 14 3 # SB_DFFNSR (LogicCell: U712_REG_SM.DBR_SYNC[1]_LC_231)
set_location U712_REG_SM.DBR_SYNC_RNIVIGC1_1_U712_REG_SM.STATE_COUNTER_3_REP_LUT4_0 9 14 4 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNTER[3]_LC_232)
set_location U712_REG_SM.STATE_COUNTER[3] 9 14 4 # SB_DFFNSR (LogicCell: U712_REG_SM.STATE_COUNTER[3]_LC_232)
set_location U712_REG_SM.REG_CYCLE_START_RNIQANC1_U712_REG_SM.STATE_COUNTER_1_REP_LUT4_0 7 15 3 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNTER[1]_LC_233)
set_location U712_REG_SM.STATE_COUNTER[1] 7 15 3 # SB_DFFNSR (LogicCell: U712_REG_SM.STATE_COUNTER[1]_LC_233)
set_location U712_REG_SM.STATE_COUNTER_4_THRU_LUT4_0 9 14 2 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNTER[4]_LC_234)
set_location U712_REG_SM.STATE_COUNTER[4] 9 14 2 # SB_DFFNSR (LogicCell: U712_REG_SM.STATE_COUNTER[4]_LC_234)
set_location U712_REG_SM.STATE_COUNTER_5_THRU_LUT4_0 9 14 1 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNTER[5]_LC_235)
set_location U712_REG_SM.STATE_COUNTER[5] 9 14 1 # SB_DFFNSR (LogicCell: U712_REG_SM.STATE_COUNTER[5]_LC_235)
set_location U712_REG_SM.STATE_COUNTER_6_THRU_LUT4_0 9 14 3 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNTER[6]_LC_236)
set_location U712_REG_SM.STATE_COUNTER[6] 9 14 3 # SB_DFFNSR (LogicCell: U712_REG_SM.STATE_COUNTER[6]_LC_236)
set_location U712_REG_SM.STATE_COUNTER_7_THRU_LUT4_0 8 15 5 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNTER[7]_LC_237)
set_location U712_REG_SM.STATE_COUNTER[7] 8 15 5 # SB_DFFNSR (LogicCell: U712_REG_SM.STATE_COUNTER[7]_LC_237)
set_location U712_REG_SM.STATE_COUNTER_RNIFMLV_8_U712_REG_SM.STATE_COUNTER_9_REP_LUT4_0 7 15 1 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNTER[9]_LC_238)
set_location U712_REG_SM.STATE_COUNTER[9] 7 15 1 # SB_DFFNSR (LogicCell: U712_REG_SM.STATE_COUNTER[9]_LC_238)
set_io AGNUS_REV_ibuf 23 21 0 # ICE_IO
set_io ASn_obuf 22 21 0 # ICE_IO
set_io AWEn_ibuf 7 21 0 # ICE_IO
set_io A_ibuf[0] 0 15 0 # ICE_IO
set_io A_ibuf[1] 0 17 0 # ICE_IO
set_io A_ibuf[10] 0 7 1 # ICE_IO
set_io A_ibuf[11] 0 7 0 # ICE_IO
set_io A_ibuf[12] 0 6 1 # ICE_IO
set_io A_ibuf[13] 0 6 0 # ICE_IO
set_io A_ibuf[14] 0 3 1 # ICE_IO
set_io A_ibuf[15] 0 3 0 # ICE_IO
set_io A_ibuf[16] 0 2 1 # ICE_IO
set_io A_ibuf[17] 0 2 0 # ICE_IO
set_io A_ibuf[18] 0 1 1 # ICE_IO
set_io A_ibuf[19] 0 1 0 # ICE_IO
set_io A_ibuf[2] 0 18 0 # ICE_IO
set_io A_ibuf[20] 0 15 1 # ICE_IO
set_io A_ibuf[3] 0 17 1 # ICE_IO
set_io A_ibuf[4] 0 13 1 # ICE_IO
set_io A_ibuf[5] 0 13 0 # ICE_IO
set_io A_ibuf[6] 0 12 1 # ICE_IO
set_io A_ibuf[7] 0 12 0 # ICE_IO
set_io A_ibuf[8] 0 11 1 # ICE_IO
set_io A_ibuf[9] 0 10 0 # ICE_IO
set_io BANK0_obuf 13 0 0 # ICE_IO
set_io BANK1_obuf 12 0 1 # ICE_IO
set_io C1_ibuf 3 21 1 # ICE_IO
set_io C1_ibuf_RNIPA2A 13 21 0 # ICE_GB
set_io C3_ibuf 3 21 0 # ICE_IO
set_io C3_ibuf_RNIRKME 25 10 1 # ICE_GB
set_io CASLn_ibuf 25 19 0 # ICE_IO
set_io CASUn_ibuf 25 18 1 # ICE_IO
set_io CASn_obuf 21 0 0 # ICE_IO
set_io CLK40B_OUT_obuf 24 21 0 # ICE_IO
set_io CLK40C_OUT_obuf 0 10 1 # ICE_IO
set_io CLK40D_OUT_obuf 22 21 1 # ICE_IO
set_io CLK40_IN_ibuf 0 11 0 # ICE_IO
set_io CLK40_PLL_derived_clock_RNIIOT 25 11 0 # ICE_GB
set_io CLKRAM_obuf 2 0 1 # ICE_IO
set_io CLK_EN_obuf 25 6 1 # ICE_IO
set_io CLLBEn_obuf 8 0 1 # ICE_IO
set_io CLMBEn_obuf 25 2 0 # ICE_IO
set_io CMA_obuf[0] 17 0 1 # ICE_IO
set_io CMA_obuf[1] 12 0 0 # ICE_IO
set_io CMA_obuf[10] 18 0 0 # ICE_IO
set_io CMA_obuf[2] 11 0 1 # ICE_IO
set_io CMA_obuf[3] 25 2 1 # ICE_IO
set_io CMA_obuf[4] 25 3 1 # ICE_IO
set_io CMA_obuf[5] 25 4 0 # ICE_IO
set_io CMA_obuf[6] 25 4 1 # ICE_IO
set_io CMA_obuf[7] 25 5 0 # ICE_IO
set_io CMA_obuf[8] 25 5 1 # ICE_IO
set_io CMA_obuf[9] 25 6 0 # ICE_IO
set_io CRCSn_obuf 18 0 1 # ICE_IO
set_io CUMBEn_obuf 25 1 1 # ICE_IO
set_io CUUBEn_obuf 25 7 1 # ICE_IO
set_io DBDIR_obuf 7 0 1 # ICE_IO
set_io DBENn_obuf 5 0 0 # ICE_IO
set_io DBRn_c_i_0_g_gb 0 11 0 # ICE_GB
set_io DBRn_ibuf 5 21 1 # ICE_IO
set_io DMA_LATCH_EN_obuf 7 21 1 # ICE_IO
set_io DRA_ibuf[0] 25 17 0 # ICE_IO
set_io DRA_ibuf[1] 25 16 1 # ICE_IO
set_io DRA_ibuf[2] 25 15 1 # ICE_IO
set_io DRA_ibuf[3] 25 14 1 # ICE_IO
set_io DRA_ibuf[4] 25 14 0 # ICE_IO
set_io DRA_ibuf[5] 25 13 1 # ICE_IO
set_io DRA_ibuf[6] 25 12 1 # ICE_IO
set_io DRA_ibuf[7] 25 10 0 # ICE_IO
set_io DRA_ibuf[8] 25 9 1 # ICE_IO
set_io DRA_ibuf[9] 25 19 1 # ICE_IO
set_io DRDDIR_obuf 25 20 0 # ICE_IO
set_io DRDENn_obuf 24 21 1 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io LATCH_CLK_obuf 6 21 0 # ICE_IO
set_io LDSn_obuf 21 21 1 # ICE_IO
set_io LLBEn_obuf 15 21 0 # ICE_IO
set_io LMBEn_obuf 15 21 1 # ICE_IO
set_io RAMSPACEn_ibuf 9 21 1 # ICE_IO
set_io RAS0n_ibuf 25 8 1 # ICE_IO
set_io RASn_obuf 19 0 0 # ICE_IO
set_io REGENn_obuf 4 21 0 # ICE_IO
set_io REGSPACEn_ibuf 4 0 1 # ICE_IO
set_io RESETn_ibuf 25 11 0 # ICE_IO
set_io RESETn_ibuf_RNIM9SF_0 12 21 1 # ICE_GB
set_io RnW_ibuf 2 21 1 # ICE_IO
set_io SIZ_ibuf[0] 0 20 0 # ICE_IO
set_io SIZ_ibuf[1] 0 20 1 # ICE_IO
set_io TACKn_obuft 0 18 1 # ICE_IO
set_io TSn_ibuf 6 21 1 # ICE_IO
set_io UDSn_obuf 20 21 0 # ICE_IO
set_io UMBEn_obuf 18 21 0 # ICE_IO
set_io UUBEn_obuf 14 21 1 # ICE_IO
set_io VBENn_obuf 8 0 0 # ICE_IO
set_io WEn_obuf 25 1 0 # ICE_IO
set_location pll 12 0 1 # SB_PLL40_2F_CORE
set_location INV_C1_c_g -1 -1 -1 # INV
set_location INV_CLK40_PLL_g -1 -1 -1 # INV
set_location CONSTANT_ONE_LUT4 12 1 3 # SB_LUT4 (LogicCell: LC_239)
