set_location CLK40C_obuf_RNO 3 8 0 # SB_LUT4 (LogicCell: CLK40C_obuf_RNO_LC_0)
set_location CLKRAM_obuf_RNO 2 1 7 # SB_LUT4 (LogicCell: CLKRAM_obuf_RNO_LC_1)
set_location RESETn_ibuf_RNIM9SF 12 14 5 # SB_LUT4 (LogicCell: RESETn_ibuf_RNIM9SF_LC_2)
set_location TACKn_obuft_RNO 10 10 0 # SB_LUT4 (LogicCell: TACKn_obuft_RNO_LC_3)
set_location U712_BUFFERS.DRDDIR_0_i 12 7 7 # SB_LUT4 (LogicCell: U712_BUFFERS.DRDDIR_0_i_LC_4)
set_location U712_BUFFERS.un1_DRDENn 12 9 7 # SB_LUT4 (LogicCell: U712_BUFFERS.un1_DRDENn_LC_5)
set_location U712_BUFFERS.un1_VBENn 8 4 3 # SB_LUT4 (LogicCell: U712_BUFFERS.un1_VBENn_LC_6)
set_location U712_BYTE_ENABLE.LLBE 7 11 7 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.LLBE_LC_7)
set_location U712_BYTE_ENABLE.LMBE 8 11 0 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.LMBE_LC_8)
set_location U712_BYTE_ENABLE.UMBE 8 12 7 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.UMBE_LC_9)
set_location U712_BYTE_ENABLE.UUBE 8 11 1 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.UUBE_LC_10)
set_location U712_BYTE_ENABLE.un1_CLLBEn 11 9 0 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.un1_CLLBEn_LC_11)
set_location U712_BYTE_ENABLE.un1_CLMBEn 12 7 6 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.un1_CLMBEn_LC_12)
set_location U712_BYTE_ENABLE.un1_CUMBEn 12 9 6 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.un1_CUMBEn_LC_13)
set_location U712_BYTE_ENABLE.un1_CUUBEn 14 9 7 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.un1_CUUBEn_LC_14)
set_location U712_BYTE_ENABLE.un3_CLLBEn_1 11 7 1 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.un3_CLLBEn_1_LC_15)
set_location U712_BYTE_ENABLE.un3_CUMBEn_0 12 9 5 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.un3_CUMBEn_0_LC_16)
set_location U712_CHIP_RAM.CAS_SYNC_RNIB8S01[1] 12 10 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CAS_SYNC_RNIB8S01[1]_LC_17)
set_location U712_CHIP_RAM.CAS_SYNC_RNO[0] 12 11 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CAS_SYNC[0]_LC_18)
set_location U712_CHIP_RAM.CAS_SYNC[0] 12 11 1 # SB_DFFSS (LogicCell: U712_CHIP_RAM.CAS_SYNC[0]_LC_18)
set_location U712_CHIP_RAM.CLK_EN_RNO 10 5 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CLK_EN_LC_19)
set_location U712_CHIP_RAM.CLK_EN 10 5 6 # SB_DFFSS (LogicCell: U712_CHIP_RAM.CLK_EN_LC_19)
set_location U712_CHIP_RAM.CLK_EN_RNO_0 9 6 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CLK_EN_RNO_0_LC_20)
set_location U712_CHIP_RAM.CMA_esr_RNO[0] 13 8 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[0]_LC_21)
set_location U712_CHIP_RAM.CMA_esr[0] 13 8 7 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[0]_LC_21)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[0] 12 8 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[0]_LC_22)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[1] 12 7 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[1]_LC_23)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[2] 12 4 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[2]_LC_24)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[3] 12 6 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[3]_LC_25)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[4] 12 4 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[4]_LC_26)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[5] 13 5 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[5]_LC_27)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[6] 12 4 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[6]_LC_28)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[7] 14 4 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[7]_LC_29)
set_location U712_CHIP_RAM.CMA_esr_RNO[1] 12 8 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[1]_LC_30)
set_location U712_CHIP_RAM.CMA_esr[1] 12 8 3 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[1]_LC_30)
set_location U712_CHIP_RAM.CMA_esr_RNO[10] 13 4 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[10]_LC_31)
set_location U712_CHIP_RAM.CMA_esr[10] 13 4 4 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[10]_LC_31)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[0] 12 8 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[0]_LC_32)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[1] 12 7 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[1]_LC_33)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[2] 12 4 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[2]_LC_34)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[3] 12 6 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[3]_LC_35)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[4] 13 5 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[4]_LC_36)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[5] 13 5 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[5]_LC_37)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[6] 12 5 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[6]_LC_38)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[7] 13 5 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[7]_LC_39)
set_location U712_CHIP_RAM.CMA_esr_RNO[2] 12 3 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[2]_LC_40)
set_location U712_CHIP_RAM.CMA_esr[2] 12 3 1 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[2]_LC_40)
set_location U712_CHIP_RAM.CMA_esr_RNO[3] 15 6 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[3]_LC_41)
set_location U712_CHIP_RAM.CMA_esr[3] 15 6 1 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[3]_LC_41)
set_location U712_CHIP_RAM.CMA_esr_RNO[4] 12 3 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[4]_LC_42)
set_location U712_CHIP_RAM.CMA_esr[4] 12 3 5 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[4]_LC_42)
set_location U712_CHIP_RAM.CMA_esr_RNO[5] 13 4 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[5]_LC_43)
set_location U712_CHIP_RAM.CMA_esr[5] 13 4 5 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[5]_LC_43)
set_location U712_CHIP_RAM.CMA_esr_RNO[6] 13 4 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[6]_LC_44)
set_location U712_CHIP_RAM.CMA_esr[6] 13 4 3 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[6]_LC_44)
set_location U712_CHIP_RAM.CMA_esr_RNO[7] 15 5 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[7]_LC_45)
set_location U712_CHIP_RAM.CMA_esr[7] 15 5 1 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[7]_LC_45)
set_location U712_CHIP_RAM.CMA_esr_RNO[8] 15 5 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[8]_LC_46)
set_location U712_CHIP_RAM.CMA_esr[8] 15 5 2 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[8]_LC_46)
set_location U712_CHIP_RAM.CMA_esr_RNO[9] 15 5 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[9]_LC_47)
set_location U712_CHIP_RAM.CMA_esr[9] 15 5 4 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[9]_LC_47)
set_location U712_CHIP_RAM.CPU_CYCLE_RNO 8 5 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_LC_48)
set_location U712_CHIP_RAM.CPU_CYCLE 8 5 4 # SB_DFFSR (LogicCell: U712_CHIP_RAM.CPU_CYCLE_LC_48)
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNO 8 5 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_START_LC_49)
set_location U712_CHIP_RAM.CPU_CYCLE_START 8 5 2 # SB_DFFSR (LogicCell: U712_CHIP_RAM.CPU_CYCLE_START_LC_49)
set_location U712_CHIP_RAM.CPU_TACK_RNO 8 6 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_TACK_LC_50)
set_location U712_CHIP_RAM.CPU_TACK 8 6 3 # SB_DFFSR (LogicCell: U712_CHIP_RAM.CPU_TACK_LC_50)
set_location U712_CHIP_RAM.CPU_TACK_RNO_0 8 6 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_TACK_RNO_0_LC_51)
set_location U712_CHIP_RAM.CPU_TACK_RNO_1 8 6 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_TACK_RNO_1_LC_52)
set_location U712_CHIP_RAM.DBDIR_RNO 8 5 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DBDIR_LC_53)
set_location U712_CHIP_RAM.DBDIR 8 5 3 # SB_DFFSS (LogicCell: U712_CHIP_RAM.DBDIR_LC_53)
set_location U712_CHIP_RAM.DBENn_RNO 9 4 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DBENn_LC_54)
set_location U712_CHIP_RAM.DBENn 9 4 7 # SB_DFFSS (LogicCell: U712_CHIP_RAM.DBENn_LC_54)
set_location U712_CHIP_RAM.DBENn_RNO_0 9 5 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DBENn_RNO_0_LC_55)
set_location U712_CHIP_RAM.DBR_SYNC_RNI17BM1[0] 10 7 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DBR_SYNC_RNI17BM1[0]_LC_56)
set_location U712_CHIP_RAM.DMA_CYCLE_RNO 8 5 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_LC_57)
set_location U712_CHIP_RAM.DMA_CYCLE 8 5 5 # SB_DFFSR (LogicCell: U712_CHIP_RAM.DMA_CYCLE_LC_57)
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNO 11 5 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_START_LC_58)
set_location U712_CHIP_RAM.DMA_CYCLE_START 11 5 7 # SB_DFFSR (LogicCell: U712_CHIP_RAM.DMA_CYCLE_START_LC_58)
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNO_0 10 3 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_START_RNO_0_LC_59)
set_location U712_CHIP_RAM.RAS_SYNC_RNI9LBR[1] 12 4 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.RAS_SYNC_RNI9LBR[1]_LC_60)
set_location U712_CHIP_RAM.RAS_SYNC_RNO[0] 13 3 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.RAS_SYNC[0]_LC_61)
set_location U712_CHIP_RAM.RAS_SYNC[0] 13 3 0 # SB_DFFSS (LogicCell: U712_CHIP_RAM.RAS_SYNC[0]_LC_61)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[0] 7 3 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[0]_LC_62)
set_location U712_CHIP_RAM.REFRESH_COUNTER[0] 7 3 0 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[0]_LC_62)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[0] 7 3 0 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[0]_LC_62)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[1] 7 3 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[1]_LC_63)
set_location U712_CHIP_RAM.REFRESH_COUNTER[1] 7 3 1 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[1]_LC_63)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[1] 7 3 1 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[1]_LC_63)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[2] 7 3 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[2]_LC_64)
set_location U712_CHIP_RAM.REFRESH_COUNTER[2] 7 3 2 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[2]_LC_64)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[2] 7 3 2 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[2]_LC_64)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[3] 7 3 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[3]_LC_65)
set_location U712_CHIP_RAM.REFRESH_COUNTER[3] 7 3 3 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[3]_LC_65)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[3] 7 3 3 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[3]_LC_65)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[4] 7 3 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[4]_LC_66)
set_location U712_CHIP_RAM.REFRESH_COUNTER[4] 7 3 4 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[4]_LC_66)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[4] 7 3 4 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[4]_LC_66)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[5] 7 3 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[5]_LC_67)
set_location U712_CHIP_RAM.REFRESH_COUNTER[5] 7 3 5 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[5]_LC_67)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[5] 7 3 5 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[5]_LC_67)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[6] 7 3 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[6]_LC_68)
set_location U712_CHIP_RAM.REFRESH_COUNTER[6] 7 3 6 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[6]_LC_68)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[6] 7 3 6 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[6]_LC_68)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[7] 7 3 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[7]_LC_69)
set_location U712_CHIP_RAM.REFRESH_COUNTER[7] 7 3 7 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[7]_LC_69)
set_location U712_CHIP_RAM.REFRESH_CYCLE_RNO 9 7 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_CYCLE_LC_70)
set_location U712_CHIP_RAM.REFRESH_CYCLE 9 7 4 # SB_DFFSR (LogicCell: U712_CHIP_RAM.REFRESH_CYCLE_LC_70)
set_location U712_CHIP_RAM.REFRESH_CYCLE_START_RNI0U9V 9 7 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_CYCLE_START_RNI0U9V_LC_71)
set_location U712_CHIP_RAM.REFRESH_CYCLE_START_RNI7MV4 9 7 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_CYCLE_START_RNI7MV4_LC_72)
set_location U712_CHIP_RAM.REFRESH_CYCLE_START_RNO 9 8 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_CYCLE_START_LC_73)
set_location U712_CHIP_RAM.REFRESH_CYCLE_START 9 8 6 # SB_DFFSR (LogicCell: U712_CHIP_RAM.REFRESH_CYCLE_START_LC_73)
set_location U712_CHIP_RAM.REFRESH_CYCLE_START_RNO_0 8 8 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_CYCLE_START_RNO_0_LC_74)
set_location U712_CHIP_RAM.REFRESH_RNO 8 3 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_LC_75)
set_location U712_CHIP_RAM.REFRESH 8 3 5 # SB_DFFSR (LogicCell: U712_CHIP_RAM.REFRESH_LC_75)
set_location U712_CHIP_RAM.REFRESH_RNO_0 10 3 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_RNO_0_LC_76)
set_location U712_CHIP_RAM.REF_SYNC_RNO[0] 14 3 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REF_SYNC[0]_LC_77)
set_location U712_CHIP_RAM.REF_SYNC[0] 14 3 1 # SB_DFFSR (LogicCell: U712_CHIP_RAM.REF_SYNC[0]_LC_77)
set_location U712_CHIP_RAM.SDRAM_CMD_RNI0AO81[3] 13 5 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNI0AO81[3]_LC_78)
set_location U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_0[3] 11 4 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_0[3]_LC_79)
set_location U712_CHIP_RAM.SDRAM_CMD_RNIA0SO[3] 12 6 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNIA0SO[3]_LC_80)
set_location U712_CHIP_RAM.SDRAM_CMD_RNIMUKI[0] 14 4 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNIMUKI[0]_LC_81)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[0] 11 6 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD[0]_LC_82)
set_location U712_CHIP_RAM.SDRAM_CMD[0] 11 6 3 # SB_DFF (LogicCell: U712_CHIP_RAM.SDRAM_CMD[0]_LC_82)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[0] 10 6 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_0[0]_LC_83)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[1] 11 6 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_0[1]_LC_84)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[2] 11 6 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_0[2]_LC_85)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[1] 11 6 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD[1]_LC_86)
set_location U712_CHIP_RAM.SDRAM_CMD[1] 11 6 7 # SB_DFF (LogicCell: U712_CHIP_RAM.SDRAM_CMD[1]_LC_86)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_1[0] 9 6 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_1[0]_LC_87)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_1[1] 11 7 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_1[1]_LC_88)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[2] 11 6 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD[2]_LC_89)
set_location U712_CHIP_RAM.SDRAM_CMD[2] 11 6 1 # SB_DFF (LogicCell: U712_CHIP_RAM.SDRAM_CMD[2]_LC_89)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[3] 11 6 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD[3]_LC_90)
set_location U712_CHIP_RAM.SDRAM_CMD[3] 11 6 4 # SB_DFF (LogicCell: U712_CHIP_RAM.SDRAM_CMD[3]_LC_90)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNI0U9V 9 7 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNI0U9V_LC_91)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNI0U9V_0 8 6 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNI0U9V_0_LC_92)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNI27CG 10 7 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNI27CG_LC_93)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNI3EN62 10 7 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNI3EN62_LC_94)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNI3EN62_0 10 7 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNI3EN62_0_LC_95)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNI4U4DE 10 6 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNI4U4DE_LC_96)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIL41I5 10 6 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNIL41I5_LC_97)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIMT791 11 6 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNIMT791_LC_98)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIP7AQ 8 6 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNIP7AQ_LC_99)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNISSMN4 10 5 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNISSMN4_LC_100)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNO 8 6 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_LC_101)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED 8 6 6 # SB_DFFSR (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_LC_101)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNO_0 9 5 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNO_0_LC_102)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI4CEN3_0[1] 10 5 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI4CEN3_0[1]_LC_103)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI4CEN3[1] 9 6 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI4CEN3[1]_LC_104)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI6JQ74[1] 11 7 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI6JQ74[1]_LC_105)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI6JQ74[2] 9 5 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI6JQ74[2]_LC_106)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI9VIP2[3] 9 6 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI9VIP2[3]_LC_107)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIA7LA2[3] 10 5 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIA7LA2[3]_LC_108)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIAENR1[7] 10 5 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIAENR1[7]_LC_109)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIDD06A[2] 9 5 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIDD06A[2]_LC_110)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIE2282[3] 10 6 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIE2282[3]_LC_111)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIGELS1[1] 11 6 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIGELS1[1]_LC_112)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIKJ6F7[0] 10 7 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIKJ6F7[0]_LC_113)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIL41I5[0] 10 6 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIL41I5[0]_LC_114)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIL6NI4[0] 10 6 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIL6NI4[0]_LC_115)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIN5LK4[3] 10 7 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIN5LK4[3]_LC_116)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIOMFN2[3] 9 6 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIOMFN2[3]_LC_117)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIQTMR1[3] 9 5 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIQTMR1[3]_LC_118)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIRCRT[1] 9 5 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIRCRT[1]_LC_119)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIRDCDD[0] 10 7 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIRDCDD[0]_LC_120)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNITIIP2[5] 9 5 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNITIIP2[5]_LC_121)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIV8F93[3] 10 6 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIV8F93[3]_LC_122)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[0] 10 6 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[0]_LC_123)
set_location U712_CHIP_RAM.SDRAM_COUNTER[0] 10 6 7 # SB_DFF (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[0]_LC_123)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[1] 9 6 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[1]_LC_124)
set_location U712_CHIP_RAM.SDRAM_COUNTER[1] 9 6 4 # SB_DFF (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[1]_LC_124)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[2] 9 6 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[2]_LC_125)
set_location U712_CHIP_RAM.SDRAM_COUNTER[2] 9 6 0 # SB_DFF (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[2]_LC_125)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[3] 9 6 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[3]_LC_126)
set_location U712_CHIP_RAM.SDRAM_COUNTER[3] 9 6 7 # SB_DFF (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[3]_LC_126)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[4] 10 4 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[4]_LC_127)
set_location U712_CHIP_RAM.SDRAM_COUNTER[4] 10 4 1 # SB_DFF (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[4]_LC_127)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[5] 9 5 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[5]_LC_128)
set_location U712_CHIP_RAM.SDRAM_COUNTER[5] 9 5 1 # SB_DFF (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[5]_LC_128)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[6] 10 4 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[6]_LC_129)
set_location U712_CHIP_RAM.SDRAM_COUNTER[6] 10 4 5 # SB_DFF (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[6]_LC_129)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[7] 10 4 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[7]_LC_130)
set_location U712_CHIP_RAM.SDRAM_COUNTER[7] 10 4 2 # SB_DFF (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[7]_LC_130)
set_location U712_CHIP_RAM.WRITE_CYCLE_RNO 8 5 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.WRITE_CYCLE_LC_131)
set_location U712_CHIP_RAM.WRITE_CYCLE 8 5 1 # SB_DFFSR (LogicCell: U712_CHIP_RAM.WRITE_CYCLE_LC_131)
set_location U712_CHIP_RAM.WRITE_CYCLE_RNO_0 8 7 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.WRITE_CYCLE_RNO_0_LC_132)
set_location U712_CYCLE_TERM.TACK_EN6 8 7 1 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_EN6_LC_133)
set_location U712_CYCLE_TERM.TACK_EN_i_ess_RNO 11 8 0 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_EN_i_ess_LC_134)
set_location U712_CYCLE_TERM.TACK_EN_i_ess 11 8 0 # SB_DFFESS (LogicCell: U712_CYCLE_TERM.TACK_EN_i_ess_LC_134)
set_location U712_CYCLE_TERM.TACK_EN_i_ess_RNO_0 11 7 5 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_EN_i_ess_RNO_0_LC_135)
set_location U712_CYCLE_TERM.TACK_EN_i_ess_RNO_1 11 7 4 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_EN_i_ess_RNO_1_LC_136)
set_location U712_CYCLE_TERM.TACK_OUTn_RNO 7 5 5 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_OUTn_LC_137)
set_location U712_CYCLE_TERM.TACK_OUTn 7 5 5 # SB_DFFSS (LogicCell: U712_CYCLE_TERM.TACK_OUTn_LC_137)
set_location U712_CYCLE_TERM.TACK_STATE_RNO[0] 7 5 0 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE[0]_LC_138)
set_location U712_CYCLE_TERM.TACK_STATE[0] 7 5 0 # SB_DFFSS (LogicCell: U712_CYCLE_TERM.TACK_STATE[0]_LC_138)
set_location U712_CYCLE_TERM.TACK_STATE_RNO_0[0] 6 5 4 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE_RNO_0[0]_LC_139)
set_location U712_CYCLE_TERM.TACK_STATE_RNO[1] 7 5 2 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE[1]_LC_140)
set_location U712_CYCLE_TERM.TACK_STATE[1] 7 5 2 # SB_DFFSR (LogicCell: U712_CYCLE_TERM.TACK_STATE[1]_LC_140)
set_location U712_CYCLE_TERM.TACK_STATE_RNO[2] 7 5 1 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE[2]_LC_141)
set_location U712_CYCLE_TERM.TACK_STATE[2] 7 5 1 # SB_DFFSR (LogicCell: U712_CYCLE_TERM.TACK_STATE[2]_LC_141)
set_location U712_REG_SM.C1_SYNC_RNI3UPL[1] 8 9 7 # SB_LUT4 (LogicCell: U712_REG_SM.C1_SYNC_RNI3UPL[1]_LC_142)
set_location U712_REG_SM.C1_SYNC_RNI6FIN[2] 8 9 4 # SB_LUT4 (LogicCell: U712_REG_SM.C1_SYNC_RNI6FIN[2]_LC_143)
set_location U712_REG_SM.C1_SYNC_RNI9DCD1[2] 8 8 0 # SB_LUT4 (LogicCell: U712_REG_SM.C1_SYNC_RNI9DCD1[2]_LC_144)
set_location U712_REG_SM.C1_SYNC_RNIIDN62[1] 8 10 3 # SB_LUT4 (LogicCell: U712_REG_SM.C1_SYNC_RNIIDN62[1]_LC_145)
set_location U712_REG_SM.C3_SYNC_RNI90BP[2] 8 9 0 # SB_LUT4 (LogicCell: U712_REG_SM.C3_SYNC_RNI90BP[2]_LC_146)
set_location U712_REG_SM.C3_SYNC_RNIIDN62_0[2] 8 8 1 # SB_LUT4 (LogicCell: U712_REG_SM.C3_SYNC_RNIIDN62_0[2]_LC_147)
set_location U712_REG_SM.C3_SYNC_RNIIDN62[2] 8 8 5 # SB_LUT4 (LogicCell: U712_REG_SM.C3_SYNC_RNIIDN62[2]_LC_148)
set_location U712_REG_SM.DBR_SYNC_RNI3QN13[1] 8 8 6 # SB_LUT4 (LogicCell: U712_REG_SM.DBR_SYNC_RNI3QN13[1]_LC_149)
set_location U712_REG_SM.DS_EN_RNO 6 9 0 # SB_LUT4 (LogicCell: U712_REG_SM.DS_EN_LC_150)
set_location U712_REG_SM.DS_EN 6 9 0 # SB_DFFSR (LogicCell: U712_REG_SM.DS_EN_LC_150)
set_location U712_REG_SM.DS_EN_RNO_0 8 9 5 # SB_LUT4 (LogicCell: U712_REG_SM.DS_EN_RNO_0_LC_151)
set_location U712_REG_SM.DS_EN_RNO_1 7 9 6 # SB_LUT4 (LogicCell: U712_REG_SM.DS_EN_RNO_1_LC_152)
set_location U712_REG_SM.LDS_OUT_RNIL31J 9 11 0 # SB_LUT4 (LogicCell: U712_REG_SM.LDS_OUT_RNIL31J_LC_153)
set_location U712_REG_SM.LDS_OUT_RNO 7 10 7 # SB_LUT4 (LogicCell: U712_REG_SM.LDS_OUT_LC_154)
set_location U712_REG_SM.LDS_OUT 7 10 7 # SB_DFFSR (LogicCell: U712_REG_SM.LDS_OUT_LC_154)
set_location U712_REG_SM.LDS_OUT_RNO_0 7 11 2 # SB_LUT4 (LogicCell: U712_REG_SM.LDS_OUT_RNO_0_LC_155)
set_location U712_REG_SM.REGENn_1_ess_RNO 8 9 3 # SB_LUT4 (LogicCell: U712_REG_SM.REGENn_1_ess_RNO_LC_156)
set_location U712_REG_SM.REG_CYCLE_GO_RNO 7 8 3 # SB_LUT4 (LogicCell: U712_REG_SM.REG_CYCLE_GO_LC_157)
set_location U712_REG_SM.REG_CYCLE_GO 7 8 3 # SB_DFFSR (LogicCell: U712_REG_SM.REG_CYCLE_GO_LC_157)
set_location U712_REG_SM.REG_CYCLE_RNO 9 8 3 # SB_LUT4 (LogicCell: U712_REG_SM.REG_CYCLE_LC_158)
set_location U712_REG_SM.REG_CYCLE 9 8 3 # SB_DFFSR (LogicCell: U712_REG_SM.REG_CYCLE_LC_158)
set_location U712_REG_SM.REG_CYCLE_START_RNO 7 8 5 # SB_LUT4 (LogicCell: U712_REG_SM.REG_CYCLE_START_LC_159)
set_location U712_REG_SM.REG_CYCLE_START 7 8 5 # SB_DFFSR (LogicCell: U712_REG_SM.REG_CYCLE_START_LC_159)
set_location U712_REG_SM.REG_TACK_RNO 8 6 7 # SB_LUT4 (LogicCell: U712_REG_SM.REG_TACK_LC_160)
set_location U712_REG_SM.REG_TACK 8 6 7 # SB_DFFSR (LogicCell: U712_REG_SM.REG_TACK_LC_160)
set_location U712_REG_SM.STATE_COUNT_RNIKD9V[1] 7 9 4 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT_RNIKD9V[1]_LC_161)
set_location U712_REG_SM.STATE_COUNT_RNIPBP14[1] 8 9 2 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT_RNIPBP14[1]_LC_162)
set_location U712_REG_SM.STATE_COUNT_RNISG3L1[6] 8 9 1 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT_RNISG3L1[6]_LC_163)
set_location U712_REG_SM.STATE_COUNT_RNITQLC2[1] 7 9 5 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT_RNITQLC2[1]_LC_164)
set_location U712_REG_SM.STATE_COUNT_RNO[0] 7 8 4 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT[0]_LC_165)
set_location U712_REG_SM.STATE_COUNT[0] 7 8 4 # SB_DFFSS (LogicCell: U712_REG_SM.STATE_COUNT[0]_LC_165)
set_location U712_REG_SM.STATE_COUNT_RNO_0[6] 8 10 0 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT_RNO_0[6]_LC_166)
set_location U712_REG_SM.STATE_COUNT_RNO[1] 7 8 2 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT[1]_LC_167)
set_location U712_REG_SM.STATE_COUNT[1] 7 8 2 # SB_DFFSR (LogicCell: U712_REG_SM.STATE_COUNT[1]_LC_167)
set_location U712_REG_SM.STATE_COUNT_RNO[2] 7 8 1 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT[2]_LC_168)
set_location U712_REG_SM.STATE_COUNT[2] 7 8 1 # SB_DFFSR (LogicCell: U712_REG_SM.STATE_COUNT[2]_LC_168)
set_location U712_REG_SM.STATE_COUNT_RNO[3] 9 8 7 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT[3]_LC_169)
set_location U712_REG_SM.STATE_COUNT[3] 9 8 7 # SB_DFFSR (LogicCell: U712_REG_SM.STATE_COUNT[3]_LC_169)
set_location U712_REG_SM.STATE_COUNT_RNO[4] 9 8 5 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT[4]_LC_170)
set_location U712_REG_SM.STATE_COUNT[4] 9 8 5 # SB_DFFSR (LogicCell: U712_REG_SM.STATE_COUNT[4]_LC_170)
set_location U712_REG_SM.STATE_COUNT_RNO[5] 9 8 4 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT[5]_LC_171)
set_location U712_REG_SM.STATE_COUNT[5] 9 8 4 # SB_DFFSR (LogicCell: U712_REG_SM.STATE_COUNT[5]_LC_171)
set_location U712_REG_SM.STATE_COUNT_RNO[6] 8 10 4 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT[6]_LC_172)
set_location U712_REG_SM.STATE_COUNT[6] 8 10 4 # SB_DFFSR (LogicCell: U712_REG_SM.STATE_COUNT[6]_LC_172)
set_location U712_REG_SM.UDS_OUT_RNIUP9B 10 10 5 # SB_LUT4 (LogicCell: U712_REG_SM.UDS_OUT_RNIUP9B_LC_173)
set_location U712_REG_SM.UDS_OUT_RNO 7 10 4 # SB_LUT4 (LogicCell: U712_REG_SM.UDS_OUT_LC_174)
set_location U712_REG_SM.UDS_OUT 7 10 4 # SB_DFFSR (LogicCell: U712_REG_SM.UDS_OUT_LC_174)
set_location U712_REG_SM.UDS_OUT_RNO_0 7 11 1 # SB_LUT4 (LogicCell: U712_REG_SM.UDS_OUT_RNO_0_LC_175)
set_location U712_CHIP_RAM.CAS_SYNC_1_THRU_LUT4_0 12 11 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CAS_SYNC[1]_LC_176)
set_location U712_CHIP_RAM.CAS_SYNC[1] 12 11 2 # SB_DFFSS (LogicCell: U712_CHIP_RAM.CAS_SYNC[1]_LC_176)
set_location U712_CHIP_RAM.CASn_THRU_LUT4_0 15 2 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CASn_LC_177)
set_location U712_CHIP_RAM.CASn 15 2 3 # SB_DFFSS (LogicCell: U712_CHIP_RAM.CASn_LC_177)
set_location U712_CHIP_RAM.CRCSn_THRU_LUT4_0 15 3 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CRCSn_LC_178)
set_location U712_CHIP_RAM.CRCSn 15 3 3 # SB_DFFSS (LogicCell: U712_CHIP_RAM.CRCSn_LC_178)
set_location U712_CHIP_RAM.DBR_SYNC_0_THRU_LUT4_0 10 8 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DBR_SYNC[0]_LC_179)
set_location U712_CHIP_RAM.DBR_SYNC[0] 10 8 7 # SB_DFFSS (LogicCell: U712_CHIP_RAM.DBR_SYNC[0]_LC_179)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_esr_0_THRU_LUT4_0 13 9 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_esr[0]_LC_180)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_esr[0] 13 9 3 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_esr[0]_LC_180)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_esr_1_THRU_LUT4_0 13 9 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_esr[1]_LC_181)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_esr[1] 13 9 5 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_esr[1]_LC_181)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_esr_2_THRU_LUT4_0 13 6 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_esr[2]_LC_182)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_esr[2] 13 6 6 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_esr[2]_LC_182)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_esr_3_THRU_LUT4_0 13 6 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_esr[3]_LC_183)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_esr[3] 13 6 0 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_esr[3]_LC_183)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_esr_4_THRU_LUT4_0 13 6 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_esr[4]_LC_184)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_esr[4] 13 6 7 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_esr[4]_LC_184)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_esr_5_THRU_LUT4_0 13 6 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_esr[5]_LC_185)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_esr[5] 13 6 1 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_esr[5]_LC_185)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_esr_6_THRU_LUT4_0 13 6 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_esr[6]_LC_186)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_esr[6] 13 6 3 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_esr[6]_LC_186)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_esr_7_THRU_LUT4_0 12 5 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_esr[7]_LC_187)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_esr[7] 12 5 7 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_esr[7]_LC_187)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_esr_8_THRU_LUT4_0 13 6 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_esr[8]_LC_188)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_esr[8] 13 6 2 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_esr[8]_LC_188)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_0_THRU_LUT4_0 13 7 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[0]_LC_189)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[0] 13 7 3 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[0]_LC_189)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_1_THRU_LUT4_0 14 6 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[1]_LC_190)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[1] 14 6 5 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[1]_LC_190)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_2_THRU_LUT4_0 14 5 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[2]_LC_191)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[2] 14 5 1 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[2]_LC_191)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_3_THRU_LUT4_0 14 6 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[3]_LC_192)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[3] 14 6 7 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[3]_LC_192)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_4_THRU_LUT4_0 14 5 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[4]_LC_193)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[4] 14 5 7 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[4]_LC_193)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_5_THRU_LUT4_0 14 5 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[5]_LC_194)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[5] 14 5 3 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[5]_LC_194)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_6_THRU_LUT4_0 13 7 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[6]_LC_195)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[6] 13 7 6 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[6]_LC_195)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_7_THRU_LUT4_0 13 7 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[7]_LC_196)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[7] 13 7 7 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[7]_LC_196)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_8_THRU_LUT4_0 15 7 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[8]_LC_197)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[8] 15 7 0 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[8]_LC_197)
set_location U712_CHIP_RAM.RAS_SYNC_1_THRU_LUT4_0 11 3 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.RAS_SYNC[1]_LC_198)
set_location U712_CHIP_RAM.RAS_SYNC[1] 11 3 3 # SB_DFFSS (LogicCell: U712_CHIP_RAM.RAS_SYNC[1]_LC_198)
set_location U712_CHIP_RAM.RASn_THRU_LUT4_0 15 3 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.RASn_LC_199)
set_location U712_CHIP_RAM.RASn 15 3 0 # SB_DFFSS (LogicCell: U712_CHIP_RAM.RASn_LC_199)
set_location U712_CHIP_RAM.REF_SYNC_1_THRU_LUT4_0 11 3 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REF_SYNC[1]_LC_200)
set_location U712_CHIP_RAM.REF_SYNC[1] 11 3 0 # SB_DFFSR (LogicCell: U712_CHIP_RAM.REF_SYNC[1]_LC_200)
set_location U712_CHIP_RAM.WEn_THRU_LUT4_0 15 2 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.WEn_LC_201)
set_location U712_CHIP_RAM.WEn 15 2 2 # SB_DFFSS (LogicCell: U712_CHIP_RAM.WEn_LC_201)
set_location U712_CYCLE_TERM.TACK_STATE_3_THRU_LUT4_0 7 5 3 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE[3]_LC_202)
set_location U712_CYCLE_TERM.TACK_STATE[3] 7 5 3 # SB_DFFSR (LogicCell: U712_CYCLE_TERM.TACK_STATE[3]_LC_202)
set_location U712_CYCLE_TERM.TACK_STATE_4_THRU_LUT4_0 7 5 4 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE[4]_LC_203)
set_location U712_CYCLE_TERM.TACK_STATE[4] 7 5 4 # SB_DFFSR (LogicCell: U712_CYCLE_TERM.TACK_STATE[4]_LC_203)
set_location U712_REG_SM.C1_SYNC_0_THRU_LUT4_0 9 9 5 # SB_LUT4 (LogicCell: U712_REG_SM.C1_SYNC[0]_LC_204)
set_location U712_REG_SM.C1_SYNC[0] 9 9 5 # SB_DFFSS (LogicCell: U712_REG_SM.C1_SYNC[0]_LC_204)
set_location U712_REG_SM.C1_SYNC_1_THRU_LUT4_0 9 9 4 # SB_LUT4 (LogicCell: U712_REG_SM.C1_SYNC[1]_LC_205)
set_location U712_REG_SM.C1_SYNC[1] 9 9 4 # SB_DFFSS (LogicCell: U712_REG_SM.C1_SYNC[1]_LC_205)
set_location U712_REG_SM.C1_SYNC_2_THRU_LUT4_0 9 8 1 # SB_LUT4 (LogicCell: U712_REG_SM.C1_SYNC[2]_LC_206)
set_location U712_REG_SM.C1_SYNC[2] 9 8 1 # SB_DFFSS (LogicCell: U712_REG_SM.C1_SYNC[2]_LC_206)
set_location U712_REG_SM.C3_SYNC_0_THRU_LUT4_0 9 8 2 # SB_LUT4 (LogicCell: U712_REG_SM.C3_SYNC[0]_LC_207)
set_location U712_REG_SM.C3_SYNC[0] 9 8 2 # SB_DFFSS (LogicCell: U712_REG_SM.C3_SYNC[0]_LC_207)
set_location U712_REG_SM.C3_SYNC_1_THRU_LUT4_0 7 8 0 # SB_LUT4 (LogicCell: U712_REG_SM.C3_SYNC[1]_LC_208)
set_location U712_REG_SM.C3_SYNC[1] 7 8 0 # SB_DFFSS (LogicCell: U712_REG_SM.C3_SYNC[1]_LC_208)
set_location U712_REG_SM.C3_SYNC_2_THRU_LUT4_0 7 8 6 # SB_LUT4 (LogicCell: U712_REG_SM.C3_SYNC[2]_LC_209)
set_location U712_REG_SM.C3_SYNC[2] 7 8 6 # SB_DFFSS (LogicCell: U712_REG_SM.C3_SYNC[2]_LC_209)
set_location U712_REG_SM.DBR_SYNC_1_THRU_LUT4_0 10 8 1 # SB_LUT4 (LogicCell: U712_REG_SM.DBR_SYNC[1]_LC_210)
set_location U712_REG_SM.DBR_SYNC[1] 10 8 1 # SB_DFFSS (LogicCell: U712_REG_SM.DBR_SYNC[1]_LC_210)
set_location U712_REG_SM.STATE_COUNT_RNISG3L1_6_U712_REG_SM.REGENn_1_ess_REP_LUT4_0 9 10 0 # SB_LUT4 (LogicCell: U712_REG_SM.REGENn_1_ess_LC_211)
set_location U712_REG_SM.REGENn_1_ess 9 10 0 # SB_DFFESS (LogicCell: U712_REG_SM.REGENn_1_ess_LC_211)
set_io ASn_obuf 22 21 0 # ICE_IO
set_io AWEn_ibuf 7 21 0 # ICE_IO
set_io A_ibuf[0] 0 15 0 # ICE_IO
set_io A_ibuf[1] 0 17 0 # ICE_IO
set_io A_ibuf[10] 0 7 1 # ICE_IO
set_io A_ibuf[11] 0 7 0 # ICE_IO
set_io A_ibuf[12] 0 6 1 # ICE_IO
set_io A_ibuf[13] 0 6 0 # ICE_IO
set_io A_ibuf[14] 0 3 1 # ICE_IO
set_io A_ibuf[15] 0 3 0 # ICE_IO
set_io A_ibuf[16] 0 2 1 # ICE_IO
set_io A_ibuf[17] 0 2 0 # ICE_IO
set_io A_ibuf[18] 0 1 1 # ICE_IO
set_io A_ibuf[19] 0 1 0 # ICE_IO
set_io A_ibuf[2] 0 18 0 # ICE_IO
set_io A_ibuf[3] 0 17 1 # ICE_IO
set_io A_ibuf[4] 0 13 1 # ICE_IO
set_io A_ibuf[5] 0 13 0 # ICE_IO
set_io A_ibuf[6] 0 12 1 # ICE_IO
set_io A_ibuf[7] 0 12 0 # ICE_IO
set_io A_ibuf[8] 0 11 1 # ICE_IO
set_io A_ibuf[9] 0 10 0 # ICE_IO
set_io BANK0_obuf 13 0 0 # ICE_IO
set_io BANK1_obuf 12 0 1 # ICE_IO
set_io C1_ibuf 3 21 1 # ICE_IO
set_io C1_ibuf_RNIPA2A 0 11 0 # ICE_GB
set_io C3_ibuf 3 21 0 # ICE_IO
set_io CASLn_ibuf 25 18 1 # ICE_IO
set_io CASUn_ibuf 25 19 0 # ICE_IO
set_io CASn_obuf 21 0 0 # ICE_IO
set_io CLK40C_obuf 0 10 1 # ICE_IO
set_io CLK40_IN_ibuf 0 11 0 # ICE_IO
set_io CLKRAM_obuf 2 0 1 # ICE_IO
set_io CLK_EN_obuf 25 6 1 # ICE_IO
set_io CLLBEn_obuf 8 0 1 # ICE_IO
set_io CLMBEn_obuf 25 2 0 # ICE_IO
set_io CMA_obuf[0] 17 0 1 # ICE_IO
set_io CMA_obuf[1] 12 0 0 # ICE_IO
set_io CMA_obuf[10] 18 0 0 # ICE_IO
set_io CMA_obuf[2] 11 0 1 # ICE_IO
set_io CMA_obuf[3] 25 2 1 # ICE_IO
set_io CMA_obuf[4] 25 3 1 # ICE_IO
set_io CMA_obuf[5] 25 4 0 # ICE_IO
set_io CMA_obuf[6] 25 4 1 # ICE_IO
set_io CMA_obuf[7] 25 5 0 # ICE_IO
set_io CMA_obuf[8] 25 5 1 # ICE_IO
set_io CMA_obuf[9] 25 6 0 # ICE_IO
set_io CRCSn_obuf 18 0 1 # ICE_IO
set_io CUMBEn_obuf 25 1 1 # ICE_IO
set_io CUUBEn_obuf 25 7 1 # ICE_IO
set_io DBDIR_obuf 7 0 1 # ICE_IO
set_io DBENn_obuf 5 0 0 # ICE_IO
set_io DBRn_ibuf 5 21 1 # ICE_IO
set_io DRA_ibuf[0] 25 17 0 # ICE_IO
set_io DRA_ibuf[1] 25 16 1 # ICE_IO
set_io DRA_ibuf[2] 25 15 1 # ICE_IO
set_io DRA_ibuf[3] 25 14 1 # ICE_IO
set_io DRA_ibuf[4] 25 14 0 # ICE_IO
set_io DRA_ibuf[5] 25 13 1 # ICE_IO
set_io DRA_ibuf[6] 25 12 1 # ICE_IO
set_io DRA_ibuf[7] 25 10 0 # ICE_IO
set_io DRA_ibuf[8] 25 9 1 # ICE_IO
set_io DRDDIR_obuf 25 20 0 # ICE_IO
set_io DRDENn_obuf 24 21 1 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io LDSn_obuf 21 21 1 # ICE_IO
set_io RAMENn_obuf 5 21 0 # ICE_IO
set_io RAMSPACEn_ibuf 9 21 1 # ICE_IO
set_io RAS0n_ibuf 25 9 0 # ICE_IO
set_io RAS1n_ibuf 25 8 1 # ICE_IO
set_io RASn_obuf 19 0 0 # ICE_IO
set_io REGENn_obuf 4 21 0 # ICE_IO
set_io REGSPACEn_ibuf 4 0 1 # ICE_IO
set_io RESETn_ibuf 25 11 0 # ICE_IO
set_io RESETn_ibuf_RNIM9SF_0 12 21 1 # ICE_GB
set_io RnW_ibuf 2 21 1 # ICE_IO
set_io SIZ_ibuf[0] 0 20 0 # ICE_IO
set_io SIZ_ibuf[1] 0 20 1 # ICE_IO
set_io TACKn_obuft 0 18 1 # ICE_IO
set_io TSn_ibuf 6 21 1 # ICE_IO
set_io UDSn_obuf 20 21 0 # ICE_IO
set_io VBENn_obuf 8 0 0 # ICE_IO
set_io WEn_obuf 25 1 0 # ICE_IO
set_location pll 12 0 1 # SB_PLL40_2F_CORE
set_location CONSTANT_ONE_LUT4 12 1 4 # SB_LUT4 (LogicCell: LC_212)
