set_location CLK40_OUT_obuf_RNO 1 10 2 # SB_LUT4 (LogicCell: CLK40_OUT_obuf_RNO_LC_0)
set_location CLKRAM_obuf_RNO 5 1 0 # SB_LUT4 (LogicCell: CLKRAM_obuf_RNO_LC_1)
set_location RESETn_ibuf_RNIM9SF 12 17 5 # SB_LUT4 (LogicCell: RESETn_ibuf_RNIM9SF_LC_2)
set_location TACKn_obuft_RNO 3 13 2 # SB_LUT4 (LogicCell: TACKn_obuft_RNO_LC_3)
set_location U712_BUFFERS.DRDDIR_i_m2 10 20 3 # SB_LUT4 (LogicCell: U712_BUFFERS.DRDDIR_i_m2_LC_4)
set_location U712_BUFFERS.un1_DRDENn_0_a3 8 14 5 # SB_LUT4 (LogicCell: U712_BUFFERS.un1_DRDENn_0_a3_LC_5)
set_location U712_BUFFERS.un1_VBENn_0_a3 8 5 7 # SB_LUT4 (LogicCell: U712_BUFFERS.un1_VBENn_0_a3_LC_6)
set_location U712_BYTE_ENABLE.N_184_i 10 14 7 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.N_184_i_LC_7)
set_location U712_BYTE_ENABLE.N_185_i 10 14 0 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.N_185_i_LC_8)
set_location U712_BYTE_ENABLE.N_186_i 10 14 3 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.N_186_i_LC_9)
set_location U712_BYTE_ENABLE.N_187_i 10 14 5 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.N_187_i_LC_10)
set_location U712_BYTE_ENABLE.un1_CLLBEn_i_a3 9 14 5 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.un1_CLLBEn_i_a3_LC_11)
set_location U712_BYTE_ENABLE.un1_CLLBEn_i_a3_0_0_0 10 13 2 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.un1_CLLBEn_i_a3_0_0_0_LC_12)
set_location U712_BYTE_ENABLE.un1_CLMBEn_i_a3 10 14 2 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.un1_CLMBEn_i_a3_LC_13)
set_location U712_BYTE_ENABLE.un1_CUMBEn_i_a3 9 14 3 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.un1_CUMBEn_i_a3_LC_14)
set_location U712_BYTE_ENABLE.un1_CUMBEn_i_a3_0_0 10 13 3 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.un1_CUMBEn_i_a3_0_0_LC_15)
set_location U712_BYTE_ENABLE.un1_CUUBEn_i_a3 9 14 1 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.un1_CUUBEn_i_a3_LC_16)
set_location U712_BYTE_ENABLE.un1_CUUBEn_i_a3_0 10 14 6 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.un1_CUUBEn_i_a3_0_LC_17)
set_location U712_BYTE_ENABLE.un1_LDSn_i_0 12 19 1 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.un1_LDSn_i_0_LC_18)
set_location U712_BYTE_ENABLE.un1_UDSn_i_0 12 19 4 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.un1_UDSn_i_0_LC_19)
set_location U712_CHIP_RAM.CAS_SYNC_RNO[0] 10 12 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CAS_SYNC[0]_LC_20)
set_location U712_CHIP_RAM.CAS_SYNC[0] 10 12 6 # SB_DFFSS (LogicCell: U712_CHIP_RAM.CAS_SYNC[0]_LC_20)
set_location U712_CHIP_RAM.CLK_EN_RNO 9 9 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CLK_EN_LC_21)
set_location U712_CHIP_RAM.CLK_EN 9 9 2 # SB_DFFSS (LogicCell: U712_CHIP_RAM.CLK_EN_LC_21)
set_location U712_CHIP_RAM.CLK_EN_RNO_0 9 9 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CLK_EN_RNO_0_LC_22)
set_location U712_CHIP_RAM.CLK_EN_RNO_1 9 9 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CLK_EN_RNO_1_LC_23)
set_location U712_CHIP_RAM.CMA_esr_RNO[0] 11 5 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[0]_LC_24)
set_location U712_CHIP_RAM.CMA_esr[0] 11 5 0 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[0]_LC_24)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[0] 10 6 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[0]_LC_25)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[1] 11 8 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[1]_LC_26)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[2] 12 6 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[2]_LC_27)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[3] 11 7 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[3]_LC_28)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[4] 11 6 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[4]_LC_29)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[5] 11 9 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[5]_LC_30)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[6] 10 6 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[6]_LC_31)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[7] 10 5 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[7]_LC_32)
set_location U712_CHIP_RAM.CMA_esr_RNO[1] 11 8 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[1]_LC_33)
set_location U712_CHIP_RAM.CMA_esr[1] 11 8 5 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[1]_LC_33)
set_location U712_CHIP_RAM.CMA_esr_RNO[10] 12 5 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[10]_LC_34)
set_location U712_CHIP_RAM.CMA_esr[10] 12 5 6 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[10]_LC_34)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[0] 9 6 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[0]_LC_35)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[1] 11 8 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[1]_LC_36)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[2] 9 6 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[2]_LC_37)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[3] 9 7 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[3]_LC_38)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[4] 10 6 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[4]_LC_39)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[5] 11 7 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[5]_LC_40)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[6] 10 6 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[6]_LC_41)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[7] 9 5 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[7]_LC_42)
set_location U712_CHIP_RAM.CMA_esr_RNO[2] 12 6 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[2]_LC_43)
set_location U712_CHIP_RAM.CMA_esr[2] 12 6 4 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[2]_LC_43)
set_location U712_CHIP_RAM.CMA_esr_RNO_2[1] 11 8 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_2[1]_LC_44)
set_location U712_CHIP_RAM.CMA_esr_RNO_2[5] 11 7 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_2[5]_LC_45)
set_location U712_CHIP_RAM.CMA_esr_RNO[3] 12 6 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[3]_LC_46)
set_location U712_CHIP_RAM.CMA_esr[3] 12 6 7 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[3]_LC_46)
set_location U712_CHIP_RAM.CMA_esr_RNO_3[1] 11 8 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_3[1]_LC_47)
set_location U712_CHIP_RAM.CMA_esr_RNO_3[5] 11 9 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_3[5]_LC_48)
set_location U712_CHIP_RAM.CMA_esr_RNO[4] 11 6 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[4]_LC_49)
set_location U712_CHIP_RAM.CMA_esr[4] 11 6 4 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[4]_LC_49)
set_location U712_CHIP_RAM.CMA_esr_RNO[5] 11 8 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[5]_LC_50)
set_location U712_CHIP_RAM.CMA_esr[5] 11 8 7 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[5]_LC_50)
set_location U712_CHIP_RAM.CMA_esr_RNO[6] 11 6 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[6]_LC_51)
set_location U712_CHIP_RAM.CMA_esr[6] 11 6 0 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[6]_LC_51)
set_location U712_CHIP_RAM.CMA_esr_RNO[7] 11 5 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[7]_LC_52)
set_location U712_CHIP_RAM.CMA_esr[7] 11 5 3 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[7]_LC_52)
set_location U712_CHIP_RAM.CMA_esr_RNO[8] 13 6 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[8]_LC_53)
set_location U712_CHIP_RAM.CMA_esr[8] 13 6 6 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[8]_LC_53)
set_location U712_CHIP_RAM.CMA_esr_RNO[9] 13 6 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[9]_LC_54)
set_location U712_CHIP_RAM.CMA_esr[9] 13 6 1 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[9]_LC_54)
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNI0N9G 9 11 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_START_RNI0N9G_LC_55)
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNO 8 11 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_START_LC_56)
set_location U712_CHIP_RAM.CPU_CYCLE_START 8 11 7 # SB_DFFSR (LogicCell: U712_CHIP_RAM.CPU_CYCLE_START_LC_56)
set_location U712_CHIP_RAM.CPU_CYCLE_esr_RNO 9 10 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_esr_RNO_LC_57)
set_location U712_CHIP_RAM.CPU_CYCLE_esr_RNO_0 9 10 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_esr_RNO_0_LC_58)
set_location U712_CHIP_RAM.CPU_TACK_RNO 10 11 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_TACK_LC_59)
set_location U712_CHIP_RAM.CPU_TACK 10 11 3 # SB_DFFSR (LogicCell: U712_CHIP_RAM.CPU_TACK_LC_59)
set_location U712_CHIP_RAM.CPU_TACK_RNO_0 10 11 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_TACK_RNO_0_LC_60)
set_location U712_CHIP_RAM.CPU_TACK_RNO_1 11 9 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_TACK_RNO_1_LC_61)
set_location U712_CHIP_RAM.CPU_TACK_RNO_2 11 11 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_TACK_RNO_2_LC_62)
set_location U712_CHIP_RAM.CPU_TACK_RNO_3 10 7 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_TACK_RNO_3_LC_63)
set_location U712_CHIP_RAM.CPU_TACK_RNO_4 10 11 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_TACK_RNO_4_LC_64)
set_location U712_CHIP_RAM.CPU_TACK_RNO_5 10 11 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_TACK_RNO_5_LC_65)
set_location U712_CHIP_RAM.CPU_TACK_RNO_6 10 11 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_TACK_RNO_6_LC_66)
set_location U712_CHIP_RAM.DBDIR_RNO 7 9 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DBDIR_LC_67)
set_location U712_CHIP_RAM.DBDIR 7 9 2 # SB_DFFSS (LogicCell: U712_CHIP_RAM.DBDIR_LC_67)
set_location U712_CHIP_RAM.DBENn_RNO 8 10 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DBENn_LC_68)
set_location U712_CHIP_RAM.DBENn 8 10 5 # SB_DFFSS (LogicCell: U712_CHIP_RAM.DBENn_LC_68)
set_location U712_CHIP_RAM.DBENn_RNO_0 9 10 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DBENn_RNO_0_LC_69)
set_location U712_CHIP_RAM.DMA_A1_nesr_ctle 13 12 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_A1_nesr_ctle_LC_70)
set_location U712_CHIP_RAM.DMA_CYCLE_RNO 8 9 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_LC_71)
set_location U712_CHIP_RAM.DMA_CYCLE 8 9 5 # SB_DFFSR (LogicCell: U712_CHIP_RAM.DMA_CYCLE_LC_71)
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNICLGI4 8 9 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_START_RNICLGI4_LC_72)
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNO 8 9 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_START_LC_73)
set_location U712_CHIP_RAM.DMA_CYCLE_START 8 9 3 # SB_DFFSR (LogicCell: U712_CHIP_RAM.DMA_CYCLE_START_LC_73)
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNO_0 8 12 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_START_RNO_0_LC_74)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle[9] 12 12 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle[9]_LC_75)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[0] 7 7 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[0]_LC_76)
set_location U712_CHIP_RAM.REFRESH_COUNTER[0] 7 7 0 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[0]_LC_76)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[0] 7 7 0 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[0]_LC_76)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[1] 7 7 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[1]_LC_77)
set_location U712_CHIP_RAM.REFRESH_COUNTER[1] 7 7 1 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[1]_LC_77)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[1] 7 7 1 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[1]_LC_77)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[2] 7 7 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[2]_LC_78)
set_location U712_CHIP_RAM.REFRESH_COUNTER[2] 7 7 2 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[2]_LC_78)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[2] 7 7 2 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[2]_LC_78)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[3] 7 7 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[3]_LC_79)
set_location U712_CHIP_RAM.REFRESH_COUNTER[3] 7 7 3 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[3]_LC_79)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[3] 7 7 3 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[3]_LC_79)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[4] 7 7 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[4]_LC_80)
set_location U712_CHIP_RAM.REFRESH_COUNTER[4] 7 7 4 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[4]_LC_80)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[4] 7 7 4 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[4]_LC_80)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[5] 7 7 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[5]_LC_81)
set_location U712_CHIP_RAM.REFRESH_COUNTER[5] 7 7 5 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[5]_LC_81)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[5] 7 7 5 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[5]_LC_81)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[6] 7 7 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[6]_LC_82)
set_location U712_CHIP_RAM.REFRESH_COUNTER[6] 7 7 6 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[6]_LC_82)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[6] 7 7 6 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[6]_LC_82)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[7] 7 7 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[7]_LC_83)
set_location U712_CHIP_RAM.REFRESH_COUNTER[7] 7 7 7 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[7]_LC_83)
set_location U712_CHIP_RAM.REFRESH_RNIGGM16 10 8 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_RNIGGM16_LC_84)
set_location U712_CHIP_RAM.REFRESH_RNIGNOI5 10 8 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_RNIGNOI5_LC_85)
set_location U712_CHIP_RAM.REFRESH_RNIVLD65 10 10 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_RNIVLD65_LC_86)
set_location U712_CHIP_RAM.REFRESH_RNIVLD65_0 9 9 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_RNIVLD65_0_LC_87)
set_location U712_CHIP_RAM.REFRESH_RNO 7 8 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_LC_88)
set_location U712_CHIP_RAM.REFRESH 7 8 3 # SB_DFFSR (LogicCell: U712_CHIP_RAM.REFRESH_LC_88)
set_location U712_CHIP_RAM.REFRESH_RNO_0 6 7 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_RNO_0_LC_89)
set_location U712_CHIP_RAM.REFRESH_RNO_1 6 7 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_RNO_1_LC_90)
set_location U712_CHIP_RAM.SDRAM_CMD_RNI0AO81[3] 11 7 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNI0AO81[3]_LC_91)
set_location U712_CHIP_RAM.SDRAM_CMD_RNI4VDC[2] 11 7 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNI4VDC[2]_LC_92)
set_location U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_0[3] 10 6 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_0[3]_LC_93)
set_location U712_CHIP_RAM.SDRAM_CMD_RNIA0SO[3] 11 7 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNIA0SO[3]_LC_94)
set_location U712_CHIP_RAM.SDRAM_CMD_RNIHMEA[1] 12 7 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNIHMEA[1]_LC_95)
set_location U712_CHIP_RAM.SDRAM_CMD_RNIMUKI[2] 10 6 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNIMUKI[2]_LC_96)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[0] 10 8 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD[0]_LC_97)
set_location U712_CHIP_RAM.SDRAM_CMD[0] 10 8 4 # SB_DFF (LogicCell: U712_CHIP_RAM.SDRAM_CMD[0]_LC_97)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[0] 10 8 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_0[0]_LC_98)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[1] 8 7 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_0[1]_LC_99)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[2] 9 7 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_0[2]_LC_100)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[3] 10 7 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_0[3]_LC_101)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[1] 9 7 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD[1]_LC_102)
set_location U712_CHIP_RAM.SDRAM_CMD[1] 9 7 7 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_CMD[1]_LC_102)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_1[0] 10 8 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_1[0]_LC_103)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_1[1] 8 8 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_1[1]_LC_104)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_1[2] 9 7 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_1[2]_LC_105)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_1[3] 10 7 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_1[3]_LC_106)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[2] 9 7 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD[2]_LC_107)
set_location U712_CHIP_RAM.SDRAM_CMD[2] 9 7 2 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_CMD[2]_LC_107)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_2[0] 10 8 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_2[0]_LC_108)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_2[2] 9 7 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_2[2]_LC_109)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_2[3] 10 7 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_2[3]_LC_110)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[3] 10 7 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD[3]_LC_111)
set_location U712_CHIP_RAM.SDRAM_CMD[3] 10 7 3 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_CMD[3]_LC_111)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_3[0] 9 8 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_3[0]_LC_112)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_4[0] 9 9 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_4[0]_LC_113)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIHHIB1 10 8 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNIHHIB1_LC_114)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIHQ8R 10 10 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNIHQ8R_LC_115)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIP7AQ 9 9 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNIP7AQ_LC_116)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNO 9 10 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_LC_117)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED 9 10 6 # SB_DFFSR (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_LC_117)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNO_0 8 9 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNO_0_LC_118)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI4CEN3[1] 9 9 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI4CEN3[1]_LC_119)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI4JG83[1] 11 9 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI4JG83[1]_LC_120)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI5RIP2[1] 11 10 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI5RIP2[1]_LC_121)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI74LA2[0] 10 9 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI74LA2[0]_LC_122)
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[0] 10 9 0 # SB_CARRY (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI74LA2[0]_LC_122)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIAENR1[7] 10 10 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIAENR1[7]_LC_123)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIHUFGC[0] 9 10 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIHUFGC[0]_LC_124)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIIGLS1[0] 10 6 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIIGLS1[0]_LC_125)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIOBA64[0] 9 10 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIOBA64[0]_LC_126)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIOGP34[3] 10 10 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIOGP34[3]_LC_127)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIOO5O1[3] 10 10 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIOO5O1[3]_LC_128)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIR9AQ[3] 9 10 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIR9AQ[3]_LC_129)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNITE99E[3] 10 8 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNITE99E[3]_LC_130)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNITERT[1] 10 10 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNITERT[1]_LC_131)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNITERT[3] 10 7 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNITERT[3]_LC_132)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIVGRT[3] 9 9 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIVGRT[3]_LC_133)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIVSQ24[0] 10 10 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIVSQ24[0]_LC_134)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[0] 9 8 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[0]_LC_135)
set_location U712_CHIP_RAM.SDRAM_COUNTER[0] 9 8 1 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[0]_LC_135)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[0] 8 8 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[0]_LC_136)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[2] 10 9 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[2]_LC_137)
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[2] 10 9 2 # SB_CARRY (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[2]_LC_137)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[1] 10 9 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[1]_LC_138)
set_location U712_CHIP_RAM.SDRAM_COUNTER[1] 10 9 1 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[1]_LC_138)
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[1] 10 9 1 # SB_CARRY (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[1]_LC_138)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO_1[0] 9 6 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNO_1[0]_LC_139)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[2] 10 10 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[2]_LC_140)
set_location U712_CHIP_RAM.SDRAM_COUNTER[2] 10 10 1 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[2]_LC_140)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[3] 10 9 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[3]_LC_141)
set_location U712_CHIP_RAM.SDRAM_COUNTER[3] 10 9 3 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[3]_LC_141)
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[3] 10 9 3 # SB_CARRY (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[3]_LC_141)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[4] 10 9 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[4]_LC_142)
set_location U712_CHIP_RAM.SDRAM_COUNTER[4] 10 9 4 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[4]_LC_142)
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[4] 10 9 4 # SB_CARRY (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[4]_LC_142)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[5] 10 9 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[5]_LC_143)
set_location U712_CHIP_RAM.SDRAM_COUNTER[5] 10 9 5 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[5]_LC_143)
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[5] 10 9 5 # SB_CARRY (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[5]_LC_143)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[6] 10 9 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[6]_LC_144)
set_location U712_CHIP_RAM.SDRAM_COUNTER[6] 10 9 6 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[6]_LC_144)
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[6] 10 9 6 # SB_CARRY (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[6]_LC_144)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[7] 10 9 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[7]_LC_145)
set_location U712_CHIP_RAM.SDRAM_COUNTER[7] 10 9 7 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[7]_LC_145)
set_location U712_CHIP_RAM.WRITE_CYCLE_RNIH7LR1 9 10 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.WRITE_CYCLE_RNIH7LR1_LC_146)
set_location U712_CHIP_RAM.WRITE_CYCLE_RNO 10 11 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.WRITE_CYCLE_LC_147)
set_location U712_CHIP_RAM.WRITE_CYCLE 10 11 6 # SB_DFFSR (LogicCell: U712_CHIP_RAM.WRITE_CYCLE_LC_147)
set_location U712_CHIP_RAM.WRITE_CYCLE_RNO_0 11 9 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.WRITE_CYCLE_RNO_0_LC_148)
set_location U712_CYCLE_TERM.TACK_EN6 11 11 3 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_EN6_LC_149)
set_location U712_CYCLE_TERM.TACK_EN_i_ess_RNO 7 11 4 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_EN_i_ess_LC_150)
set_location U712_CYCLE_TERM.TACK_EN_i_ess 7 11 4 # SB_DFFESS (LogicCell: U712_CYCLE_TERM.TACK_EN_i_ess_LC_150)
set_location U712_CYCLE_TERM.TACK_EN_i_ess_RNO_0 11 11 1 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_EN_i_ess_RNO_0_LC_151)
set_location U712_CYCLE_TERM.TACK_EN_i_ess_RNO_1 11 11 0 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_EN_i_ess_RNO_1_LC_152)
set_location U712_CYCLE_TERM.TACK_OUTn_RNO 6 11 6 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_OUTn_LC_153)
set_location U712_CYCLE_TERM.TACK_OUTn 6 11 6 # SB_DFFSS (LogicCell: U712_CYCLE_TERM.TACK_OUTn_LC_153)
set_location U712_CYCLE_TERM.TACK_STATE_RNO[0] 6 11 0 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE[0]_LC_154)
set_location U712_CYCLE_TERM.TACK_STATE[0] 6 11 0 # SB_DFFSS (LogicCell: U712_CYCLE_TERM.TACK_STATE[0]_LC_154)
set_location U712_CYCLE_TERM.TACK_STATE_RNO_0[0] 6 10 4 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE_RNO_0[0]_LC_155)
set_location U712_CYCLE_TERM.TACK_STATE_RNO[1] 6 11 5 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE[1]_LC_156)
set_location U712_CYCLE_TERM.TACK_STATE[1] 6 11 5 # SB_DFFSR (LogicCell: U712_CYCLE_TERM.TACK_STATE[1]_LC_156)
set_location U712_CYCLE_TERM.TACK_STATE_RNO[2] 6 11 7 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE[2]_LC_157)
set_location U712_CYCLE_TERM.TACK_STATE[2] 6 11 7 # SB_DFFSR (LogicCell: U712_CYCLE_TERM.TACK_STATE[2]_LC_157)
set_location U712_REG_SM.C1_SYNC_RNI9DCD1_0[2] 11 10 1 # SB_LUT4 (LogicCell: U712_REG_SM.C1_SYNC_RNI9DCD1_0[2]_LC_158)
set_location U712_REG_SM.C1_SYNC_RNI9DCD1[2] 11 10 6 # SB_LUT4 (LogicCell: U712_REG_SM.C1_SYNC_RNI9DCD1[2]_LC_159)
set_location U712_REG_SM.C1_SYNC_RNIFFTG1[2] 11 10 3 # SB_LUT4 (LogicCell: U712_REG_SM.C1_SYNC_RNIFFTG1[2]_LC_160)
set_location U712_REG_SM.C3_SYNC_RNIBM0G2[2] 11 11 7 # SB_LUT4 (LogicCell: U712_REG_SM.C3_SYNC_RNIBM0G2[2]_LC_161)
set_location U712_REG_SM.C3_SYNC_RNIIDN62_0[2] 11 10 7 # SB_LUT4 (LogicCell: U712_REG_SM.C3_SYNC_RNIIDN62_0[2]_LC_162)
set_location U712_REG_SM.C3_SYNC_RNIIDN62_1[2] 11 11 6 # SB_LUT4 (LogicCell: U712_REG_SM.C3_SYNC_RNIIDN62_1[2]_LC_163)
set_location U712_REG_SM.C3_SYNC_RNIIDN62[2] 11 10 2 # SB_LUT4 (LogicCell: U712_REG_SM.C3_SYNC_RNIIDN62[2]_LC_164)
set_location U712_REG_SM.DS_EN_RNO 12 11 6 # SB_LUT4 (LogicCell: U712_REG_SM.DS_EN_LC_165)
set_location U712_REG_SM.DS_EN 12 11 6 # SB_DFFSR (LogicCell: U712_REG_SM.DS_EN_LC_165)
set_location U712_REG_SM.REGENn_1_RNO 12 11 3 # SB_LUT4 (LogicCell: U712_REG_SM.REGENn_1_LC_166)
set_location U712_REG_SM.REGENn_1 12 11 3 # SB_DFFSS (LogicCell: U712_REG_SM.REGENn_1_LC_166)
set_location U712_REG_SM.REG_CYCLE_GO_RNO 12 11 0 # SB_LUT4 (LogicCell: U712_REG_SM.REG_CYCLE_GO_LC_167)
set_location U712_REG_SM.REG_CYCLE_GO 12 11 0 # SB_DFFSR (LogicCell: U712_REG_SM.REG_CYCLE_GO_LC_167)
set_location U712_REG_SM.REG_CYCLE_RNO 8 11 2 # SB_LUT4 (LogicCell: U712_REG_SM.REG_CYCLE_LC_168)
set_location U712_REG_SM.REG_CYCLE 8 11 2 # SB_DFFSR (LogicCell: U712_REG_SM.REG_CYCLE_LC_168)
set_location U712_REG_SM.REG_CYCLE_START_RNO 12 11 5 # SB_LUT4 (LogicCell: U712_REG_SM.REG_CYCLE_START_LC_169)
set_location U712_REG_SM.REG_CYCLE_START 12 11 5 # SB_DFFSR (LogicCell: U712_REG_SM.REG_CYCLE_START_LC_169)
set_location U712_REG_SM.REG_TACK_RNO 11 12 3 # SB_LUT4 (LogicCell: U712_REG_SM.REG_TACK_LC_170)
set_location U712_REG_SM.REG_TACK 11 12 3 # SB_DFFSR (LogicCell: U712_REG_SM.REG_TACK_LC_170)
set_location U712_REG_SM.STATE_COUNT_RNI20MC2[6] 11 10 4 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT_RNI20MC2[6]_LC_171)
set_location U712_REG_SM.STATE_COUNT_RNITQLC2[1] 11 11 4 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT_RNITQLC2[1]_LC_172)
set_location U712_REG_SM.STATE_COUNT_RNO[0] 12 11 2 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT[0]_LC_173)
set_location U712_REG_SM.STATE_COUNT[0] 12 11 2 # SB_DFFSS (LogicCell: U712_REG_SM.STATE_COUNT[0]_LC_173)
set_location U712_REG_SM.STATE_COUNT_RNO[1] 12 11 1 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT[1]_LC_174)
set_location U712_REG_SM.STATE_COUNT[1] 12 11 1 # SB_DFFSR (LogicCell: U712_REG_SM.STATE_COUNT[1]_LC_174)
set_location U712_REG_SM.STATE_COUNT_RNO[2] 12 11 4 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT[2]_LC_175)
set_location U712_REG_SM.STATE_COUNT[2] 12 11 4 # SB_DFFSR (LogicCell: U712_REG_SM.STATE_COUNT[2]_LC_175)
set_location U712_REG_SM.STATE_COUNT_RNO[3] 12 11 7 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT[3]_LC_176)
set_location U712_REG_SM.STATE_COUNT[3] 12 11 7 # SB_DFFSR (LogicCell: U712_REG_SM.STATE_COUNT[3]_LC_176)
set_location U712_REG_SM.STATE_COUNT_RNO[4] 11 12 1 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT[4]_LC_177)
set_location U712_REG_SM.STATE_COUNT[4] 11 12 1 # SB_DFFSR (LogicCell: U712_REG_SM.STATE_COUNT[4]_LC_177)
set_location U712_REG_SM.STATE_COUNT_RNO[5] 11 12 0 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT[5]_LC_178)
set_location U712_REG_SM.STATE_COUNT[5] 11 12 0 # SB_DFFSR (LogicCell: U712_REG_SM.STATE_COUNT[5]_LC_178)
set_location U712_REG_SM.STATE_COUNT_RNO[6] 8 10 3 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT[6]_LC_179)
set_location U712_REG_SM.STATE_COUNT[6] 8 10 3 # SB_DFFSR (LogicCell: U712_REG_SM.STATE_COUNT[6]_LC_179)
set_location DBR_SYNC_0_THRU_LUT4_0 11 12 5 # SB_LUT4 (LogicCell: DBR_SYNC[0]_LC_180)
set_location DBR_SYNC[0] 11 12 5 # SB_DFFSS (LogicCell: DBR_SYNC[0]_LC_180)
set_location DBR_SYNC_1_THRU_LUT4_0 10 12 0 # SB_LUT4 (LogicCell: DBR_SYNC[1]_LC_181)
set_location DBR_SYNC[1] 10 12 0 # SB_DFFSS (LogicCell: DBR_SYNC[1]_LC_181)
set_location U712_CHIP_RAM.CAS_SYNC_1_THRU_LUT4_0 9 12 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CAS_SYNC[1]_LC_182)
set_location U712_CHIP_RAM.CAS_SYNC[1] 9 12 1 # SB_DFFSS (LogicCell: U712_CHIP_RAM.CAS_SYNC[1]_LC_182)
set_location U712_CHIP_RAM.CAS_SYNC_2_THRU_LUT4_0 8 10 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CAS_SYNC[2]_LC_183)
set_location U712_CHIP_RAM.CAS_SYNC[2] 8 10 0 # SB_DFFSS (LogicCell: U712_CHIP_RAM.CAS_SYNC[2]_LC_183)
set_location U712_CHIP_RAM.CASn_THRU_LUT4_0 12 3 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CASn_LC_184)
set_location U712_CHIP_RAM.CASn 12 3 5 # SB_DFFSS (LogicCell: U712_CHIP_RAM.CASn_LC_184)
set_location U712_CHIP_RAM.CRCSn_THRU_LUT4_0 13 1 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CRCSn_LC_185)
set_location U712_CHIP_RAM.CRCSn 13 1 0 # SB_DFFSS (LogicCell: U712_CHIP_RAM.CRCSn_LC_185)
set_location U712_CHIP_RAM.DMA_A1_nesr_THRU_LUT4_0 13 11 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_A1_nesr_LC_186)
set_location U712_CHIP_RAM.DMA_A1_nesr 13 11 0 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_A1_nesr_LC_186)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_0_THRU_LUT4_0 13 9 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[0]_LC_187)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[0] 13 9 3 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[0]_LC_187)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_1_THRU_LUT4_0 14 8 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[1]_LC_188)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[1] 14 8 7 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[1]_LC_188)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_2_THRU_LUT4_0 14 7 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[2]_LC_189)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[2] 14 7 2 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[2]_LC_189)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_3_THRU_LUT4_0 13 8 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[3]_LC_190)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[3] 13 8 3 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[3]_LC_190)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_4_THRU_LUT4_0 14 7 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[4]_LC_191)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[4] 14 7 0 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[4]_LC_191)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_5_THRU_LUT4_0 13 9 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[5]_LC_192)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[5] 13 9 0 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[5]_LC_192)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_6_THRU_LUT4_0 14 8 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[6]_LC_193)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[6] 14 8 6 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[6]_LC_193)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_7_THRU_LUT4_0 14 10 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[7]_LC_194)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[7] 14 10 0 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[7]_LC_194)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_0_THRU_LUT4_0 13 10 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[0]_LC_195)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[0] 13 10 2 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[0]_LC_195)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_1_THRU_LUT4_0 14 9 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[1]_LC_196)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[1] 14 9 7 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[1]_LC_196)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_2_THRU_LUT4_0 15 8 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[2]_LC_197)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[2] 15 8 6 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[2]_LC_197)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_3_THRU_LUT4_0 13 7 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[3]_LC_198)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[3] 13 7 5 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[3]_LC_198)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_4_THRU_LUT4_0 12 8 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[4]_LC_199)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[4] 12 8 6 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[4]_LC_199)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_5_THRU_LUT4_0 13 7 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[5]_LC_200)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[5] 13 7 6 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[5]_LC_200)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_6_THRU_LUT4_0 12 8 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[6]_LC_201)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[6] 12 8 3 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[6]_LC_201)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_7_THRU_LUT4_0 15 9 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[7]_LC_202)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[7] 15 9 4 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[7]_LC_202)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_8_THRU_LUT4_0 14 9 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[8]_LC_203)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[8] 14 9 6 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[8]_LC_203)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_9_THRU_LUT4_0 15 7 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[9]_LC_204)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[9] 15 7 0 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[9]_LC_204)
set_location U712_CHIP_RAM.RASn_THRU_LUT4_0 13 5 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.RASn_LC_205)
set_location U712_CHIP_RAM.RASn 13 5 2 # SB_DFFSS (LogicCell: U712_CHIP_RAM.RASn_LC_205)
set_location U712_CHIP_RAM.REFRESH_RNIVLD65_0_U712_CHIP_RAM.CPU_CYCLE_esr_REP_LUT4_0 9 11 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_esr_LC_206)
set_location U712_CHIP_RAM.CPU_CYCLE_esr 9 11 2 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CPU_CYCLE_esr_LC_206)
set_location U712_CHIP_RAM.WEn_THRU_LUT4_0 13 4 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.WEn_LC_207)
set_location U712_CHIP_RAM.WEn 13 4 6 # SB_DFFSS (LogicCell: U712_CHIP_RAM.WEn_LC_207)
set_location U712_CYCLE_TERM.TACK_STATE_3_THRU_LUT4_0 6 11 4 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE[3]_LC_208)
set_location U712_CYCLE_TERM.TACK_STATE[3] 6 11 4 # SB_DFFSR (LogicCell: U712_CYCLE_TERM.TACK_STATE[3]_LC_208)
set_location U712_CYCLE_TERM.TACK_STATE_4_THRU_LUT4_0 6 11 2 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE[4]_LC_209)
set_location U712_CYCLE_TERM.TACK_STATE[4] 6 11 2 # SB_DFFSR (LogicCell: U712_CYCLE_TERM.TACK_STATE[4]_LC_209)
set_location U712_REG_SM.C1_SYNC_0_THRU_LUT4_0 12 10 3 # SB_LUT4 (LogicCell: U712_REG_SM.C1_SYNC[0]_LC_210)
set_location U712_REG_SM.C1_SYNC[0] 12 10 3 # SB_DFFSS (LogicCell: U712_REG_SM.C1_SYNC[0]_LC_210)
set_location U712_REG_SM.C1_SYNC_1_THRU_LUT4_0 12 10 7 # SB_LUT4 (LogicCell: U712_REG_SM.C1_SYNC[1]_LC_211)
set_location U712_REG_SM.C1_SYNC[1] 12 10 7 # SB_DFFSS (LogicCell: U712_REG_SM.C1_SYNC[1]_LC_211)
set_location U712_REG_SM.C1_SYNC_2_THRU_LUT4_0 12 10 2 # SB_LUT4 (LogicCell: U712_REG_SM.C1_SYNC[2]_LC_212)
set_location U712_REG_SM.C1_SYNC[2] 12 10 2 # SB_DFFSS (LogicCell: U712_REG_SM.C1_SYNC[2]_LC_212)
set_location U712_REG_SM.C3_SYNC_0_THRU_LUT4_0 12 9 4 # SB_LUT4 (LogicCell: U712_REG_SM.C3_SYNC[0]_LC_213)
set_location U712_REG_SM.C3_SYNC[0] 12 9 4 # SB_DFFSS (LogicCell: U712_REG_SM.C3_SYNC[0]_LC_213)
set_location U712_REG_SM.C3_SYNC_1_THRU_LUT4_0 12 10 5 # SB_LUT4 (LogicCell: U712_REG_SM.C3_SYNC[1]_LC_214)
set_location U712_REG_SM.C3_SYNC[1] 12 10 5 # SB_DFFSS (LogicCell: U712_REG_SM.C3_SYNC[1]_LC_214)
set_location U712_REG_SM.C3_SYNC_2_THRU_LUT4_0 12 10 6 # SB_LUT4 (LogicCell: U712_REG_SM.C3_SYNC[2]_LC_215)
set_location U712_REG_SM.C3_SYNC[2] 12 10 6 # SB_DFFSS (LogicCell: U712_REG_SM.C3_SYNC[2]_LC_215)
set_io ASn_obuf 22 21 0 # ICE_IO
set_io AWEn_ibuf 7 21 0 # ICE_IO
set_io A_ibuf[0] 0 15 0 # ICE_IO
set_io A_ibuf[1] 0 17 0 # ICE_IO
set_io A_ibuf[10] 0 7 1 # ICE_IO
set_io A_ibuf[11] 0 7 0 # ICE_IO
set_io A_ibuf[12] 0 6 1 # ICE_IO
set_io A_ibuf[13] 0 6 0 # ICE_IO
set_io A_ibuf[14] 0 3 1 # ICE_IO
set_io A_ibuf[15] 0 3 0 # ICE_IO
set_io A_ibuf[16] 0 2 1 # ICE_IO
set_io A_ibuf[17] 0 2 0 # ICE_IO
set_io A_ibuf[18] 0 1 1 # ICE_IO
set_io A_ibuf[19] 0 1 0 # ICE_IO
set_io A_ibuf[2] 0 18 0 # ICE_IO
set_io A_ibuf[3] 0 17 1 # ICE_IO
set_io A_ibuf[4] 0 13 1 # ICE_IO
set_io A_ibuf[5] 0 13 0 # ICE_IO
set_io A_ibuf[6] 0 12 1 # ICE_IO
set_io A_ibuf[7] 0 12 0 # ICE_IO
set_io A_ibuf[8] 0 11 1 # ICE_IO
set_io A_ibuf[9] 0 10 0 # ICE_IO
set_io BANK0_obuf 13 0 0 # ICE_IO
set_io BANK1_obuf 12 0 1 # ICE_IO
set_io C1_ibuf 3 21 1 # ICE_IO
set_io C1_ibuf_RNIPA2A 0 11 0 # ICE_GB
set_io C3_ibuf 3 21 0 # ICE_IO
set_io C3_ibuf_RNIRKME 13 21 0 # ICE_GB
set_io CASLn_ibuf 25 19 0 # ICE_IO
set_io CASUn_ibuf 25 18 1 # ICE_IO
set_io CASn_obuf 21 0 0 # ICE_IO
set_io CLK40_IN_ibuf 0 11 0 # ICE_IO
set_io CLK40_OUT_obuf 0 10 1 # ICE_IO
set_io CLKRAM_obuf 2 0 1 # ICE_IO
set_io CLK_EN_obuf 25 6 1 # ICE_IO
set_io CLLBEn_obuf 8 0 1 # ICE_IO
set_io CLMBEn_obuf 25 2 0 # ICE_IO
set_io CMA_obuf[0] 17 0 1 # ICE_IO
set_io CMA_obuf[1] 12 0 0 # ICE_IO
set_io CMA_obuf[10] 18 0 0 # ICE_IO
set_io CMA_obuf[2] 11 0 1 # ICE_IO
set_io CMA_obuf[3] 25 2 1 # ICE_IO
set_io CMA_obuf[4] 25 3 1 # ICE_IO
set_io CMA_obuf[5] 25 4 0 # ICE_IO
set_io CMA_obuf[6] 25 4 1 # ICE_IO
set_io CMA_obuf[7] 25 5 0 # ICE_IO
set_io CMA_obuf[8] 25 5 1 # ICE_IO
set_io CMA_obuf[9] 25 6 0 # ICE_IO
set_io CRCSn_obuf 18 0 1 # ICE_IO
set_io CUMBEn_obuf 25 1 1 # ICE_IO
set_io CUUBEn_obuf 25 7 1 # ICE_IO
set_io DBDIR_obuf 7 0 1 # ICE_IO
set_io DBENn_obuf 5 0 0 # ICE_IO
set_io DBRn_ibuf 5 21 1 # ICE_IO
set_io DRA_ibuf[1] 25 16 1 # ICE_IO
set_io DRA_ibuf[2] 25 15 1 # ICE_IO
set_io DRA_ibuf[3] 25 14 1 # ICE_IO
set_io DRA_ibuf[4] 25 14 0 # ICE_IO
set_io DRA_ibuf[5] 25 13 1 # ICE_IO
set_io DRA_ibuf[6] 25 12 1 # ICE_IO
set_io DRA_ibuf[7] 25 10 0 # ICE_IO
set_io DRA_ibuf[8] 25 9 1 # ICE_IO
set_io DRA_ibuf[9] 25 19 1 # ICE_IO
set_io DRDDIR_obuf 25 20 0 # ICE_IO
set_io DRDENn_obuf 24 21 1 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io LDSn_obuf 21 21 1 # ICE_IO
set_io RAMSPACEn_ibuf 9 21 1 # ICE_IO
set_io RAS0n_ibuf 25 8 1 # ICE_IO
set_io RASn_obuf 19 0 0 # ICE_IO
set_io REGENn_obuf 4 21 0 # ICE_IO
set_io REGSPACEn_ibuf 4 0 1 # ICE_IO
set_io RESETn_ibuf 25 11 0 # ICE_IO
set_io RESETn_ibuf_RNIM9SF_0 12 21 1 # ICE_GB
set_io RnW_ibuf 2 21 1 # ICE_IO
set_io SIZ_ibuf[0] 0 20 0 # ICE_IO
set_io SIZ_ibuf[1] 0 20 1 # ICE_IO
set_io TACKn_obuft 0 18 1 # ICE_IO
set_io TSn_ibuf 6 21 1 # ICE_IO
set_io UDSn_obuf 20 21 0 # ICE_IO
set_io VBENn_obuf 8 0 0 # ICE_IO
set_io WEn_obuf 25 1 0 # ICE_IO
set_location pll 12 0 1 # SB_PLL40_2F_CORE
set_location INV_C1_c_g -1 -1 -1 # INV
set_location CONSTANT_ONE_LUT4 10 4 3 # SB_LUT4 (LogicCell: LC_216)
