ble_pack U409_ADDRESS_DECODE.AUTOVECTOR_8_LC_1_17_4 { U409_ADDRESS_DECODE.AUTOVECTOR_8 }
clb_pack LT_1_17 { U409_ADDRESS_DECODE.AUTOVECTOR_8_LC_1_17_4 }
set_location LT_1_17 1 17
ble_pack U409_ADDRESS_DECODE.Z2_SPACE_0_a2_5_LC_1_18_1 { U409_ADDRESS_DECODE.Z2_SPACE_0_a2_5 }
ble_pack U409_ADDRESS_DECODE.Z2_SPACE_0_a2_LC_1_18_2 { U409_ADDRESS_DECODE.Z2_SPACE_0_a2 }
ble_pack U409_ADDRESS_DECODE.Z2_SPACE_0_a2_4_LC_1_18_5 { U409_ADDRESS_DECODE.Z2_SPACE_0_a2_4 }
ble_pack U409_ADDRESS_DECODE.AUTOVECTOR_7_LC_1_18_7 { U409_ADDRESS_DECODE.AUTOVECTOR_7 }
clb_pack LT_1_18 { U409_ADDRESS_DECODE.Z2_SPACE_0_a2_5_LC_1_18_1, U409_ADDRESS_DECODE.Z2_SPACE_0_a2_LC_1_18_2, U409_ADDRESS_DECODE.Z2_SPACE_0_a2_4_LC_1_18_5, U409_ADDRESS_DECODE.AUTOVECTOR_7_LC_1_18_7 }
set_location LT_1_18 1 18
ble_pack U409_ADDRESS_DECODE.un1_RTC_ENn_i_LC_5_7_3 { U409_ADDRESS_DECODE.un1_RTC_ENn_i }
clb_pack LT_5_7 { U409_ADDRESS_DECODE.un1_RTC_ENn_i_LC_5_7_3 }
set_location LT_5_7 5 7
ble_pack U409_ADDRESS_DECODE.un1_RTC_ENn_0_LC_5_8_4 { U409_ADDRESS_DECODE.un1_RTC_ENn_0 }
ble_pack U409_ADDRESS_DECODE.un1_RTC_ENn_LC_5_8_5 { U409_ADDRESS_DECODE.un1_RTC_ENn }
clb_pack LT_5_8 { U409_ADDRESS_DECODE.un1_RTC_ENn_0_LC_5_8_4, U409_ADDRESS_DECODE.un1_RTC_ENn_LC_5_8_5 }
set_location LT_5_8 5 8
ble_pack U409_ADDRESS_DECODE.HIROM_0_LC_5_9_5 { U409_ADDRESS_DECODE.HIROM_0 }
ble_pack U409_ADDRESS_DECODE.CIA_SPACE_LC_5_9_6 { U409_ADDRESS_DECODE.CIA_SPACE }
ble_pack U409_ADDRESS_DECODE.CIA_SPACE_4_LC_5_9_7 { U409_ADDRESS_DECODE.CIA_SPACE_4 }
clb_pack LT_5_9 { U409_ADDRESS_DECODE.HIROM_0_LC_5_9_5, U409_ADDRESS_DECODE.CIA_SPACE_LC_5_9_6, U409_ADDRESS_DECODE.CIA_SPACE_4_LC_5_9_7 }
set_location LT_5_9 5 9
ble_pack U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a3_0_0_LC_5_10_2 { U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a3_0[0] }
ble_pack U409_ADDRESS_DECODE.CIA_SPACE_5_LC_5_10_7 { U409_ADDRESS_DECODE.CIA_SPACE_5 }
clb_pack LT_5_10 { U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a3_0_0_LC_5_10_2, U409_ADDRESS_DECODE.CIA_SPACE_5_LC_5_10_7 }
set_location LT_5_10 5 10
ble_pack U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a3_0_0_0_LC_5_11_1 { U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a3_0_0[0] }
ble_pack U409_AUTOCONFIG.LIDE_OUT_RNO_2_0_LC_5_11_5 { U409_AUTOCONFIG.LIDE_OUT_RNO_2[0] }
clb_pack LT_5_11 { U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a3_0_0_0_LC_5_11_1, U409_AUTOCONFIG.LIDE_OUT_RNO_2_0_LC_5_11_5 }
set_location LT_5_11 5 11
ble_pack U409_AUTOCONFIG.LIDE_OUT_RNO_1_0_LC_5_12_3 { U409_AUTOCONFIG.LIDE_OUT_RNO_1[0] }
clb_pack LT_5_12 { U409_AUTOCONFIG.LIDE_OUT_RNO_1_0_LC_5_12_3 }
set_location LT_5_12 5 12
ble_pack U409_ADDRESS_DECODE.AUTOVECTOR_10_LC_5_20_7 { U409_ADDRESS_DECODE.AUTOVECTOR_10 }
clb_pack LT_5_20 { U409_ADDRESS_DECODE.AUTOVECTOR_10_LC_5_20_7 }
set_location LT_5_20 5 20
ble_pack U409_AUTOCONFIG.LIDE_BASE_3_LC_6_7_0 { U409_AUTOCONFIG.LIDE_BASE_RNO[3], U409_AUTOCONFIG.LIDE_BASE[3] }
ble_pack U409_AUTOCONFIG.LIDE_BASE_6_LC_6_7_4 { U409_AUTOCONFIG.LIDE_BASE_RNO[6], U409_AUTOCONFIG.LIDE_BASE[6] }
ble_pack U409_AUTOCONFIG.LIDE_BASE_4_LC_6_7_5 { U409_AUTOCONFIG.LIDE_BASE_RNO[4], U409_AUTOCONFIG.LIDE_BASE[4] }
clb_pack LT_6_7 { U409_AUTOCONFIG.LIDE_BASE_3_LC_6_7_0, U409_AUTOCONFIG.LIDE_BASE_6_LC_6_7_4, U409_AUTOCONFIG.LIDE_BASE_4_LC_6_7_5 }
set_location LT_6_7 6 7
ble_pack U409_ADDRESS_DECODE.ATA_SPACE_2_LC_6_8_0 { U409_ADDRESS_DECODE.ATA_SPACE_2 }
ble_pack U409_AUTOCONFIG.LIDE_BASE_RNO_0_5_LC_6_8_3 { U409_AUTOCONFIG.LIDE_BASE_RNO_0[5] }
ble_pack U409_AUTOCONFIG.LIDE_BASE_5_LC_6_8_4 { U409_AUTOCONFIG.LIDE_BASE_RNO[5], U409_AUTOCONFIG.LIDE_BASE[5] }
ble_pack U409_AUTOCONFIG.LIDE_BASE_RNO_0_4_LC_6_8_6 { U409_AUTOCONFIG.LIDE_BASE_RNO_0[4] }
clb_pack LT_6_8 { U409_ADDRESS_DECODE.ATA_SPACE_2_LC_6_8_0, U409_AUTOCONFIG.LIDE_BASE_RNO_0_5_LC_6_8_3, U409_AUTOCONFIG.LIDE_BASE_5_LC_6_8_4, U409_AUTOCONFIG.LIDE_BASE_RNO_0_4_LC_6_8_6 }
set_location LT_6_8 6 8
ble_pack U409_ADDRESS_DECODE.un1_RTC_ENn_2_LC_6_9_1 { U409_ADDRESS_DECODE.un1_RTC_ENn_2 }
ble_pack U409_ADDRESS_DECODE.un1_REGSPACEn_LC_6_9_2 { U409_ADDRESS_DECODE.un1_REGSPACEn }
ble_pack U409_ADDRESS_DECODE.un1_REGSPACEn_i_LC_6_9_5 { U409_ADDRESS_DECODE.un1_REGSPACEn_i }
ble_pack U409_ADDRESS_DECODE.PORTSIZE_1_LC_6_9_6 { U409_ADDRESS_DECODE.PORTSIZE_1 }
ble_pack U409_AUTOCONFIG.STATE_RNIU6QK1_1_LC_6_9_7 { U409_AUTOCONFIG.STATE_RNIU6QK1[1] }
clb_pack LT_6_9 { U409_ADDRESS_DECODE.un1_RTC_ENn_2_LC_6_9_1, U409_ADDRESS_DECODE.un1_REGSPACEn_LC_6_9_2, U409_ADDRESS_DECODE.un1_REGSPACEn_i_LC_6_9_5, U409_ADDRESS_DECODE.PORTSIZE_1_LC_6_9_6, U409_AUTOCONFIG.STATE_RNIU6QK1_1_LC_6_9_7 }
set_location LT_6_9 6 9
ble_pack U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_0_a2_LC_6_10_0 { U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_0_a2 }
ble_pack U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_0_a2_5_LC_6_10_3 { U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_0_a2_5 }
ble_pack U409_AUTOCONFIG.PR_OUT_cnst_i_i_a3_0_3_LC_6_10_4 { U409_AUTOCONFIG.PR_OUT_cnst_i_i_a3_0[3] }
ble_pack U409_AUTOCONFIG.PR_OUT_RNO_0_2_LC_6_10_5 { U409_AUTOCONFIG.PR_OUT_RNO_0[2] }
ble_pack U409_ADDRESS_DECODE.HIROM_LC_6_10_6 { U409_ADDRESS_DECODE.HIROM }
ble_pack U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_0_a2_0_LC_6_10_7 { U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_0_a2_0 }
clb_pack LT_6_10 { U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_0_a2_LC_6_10_0, U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_0_a2_5_LC_6_10_3, U409_AUTOCONFIG.PR_OUT_cnst_i_i_a3_0_3_LC_6_10_4, U409_AUTOCONFIG.PR_OUT_RNO_0_2_LC_6_10_5, U409_ADDRESS_DECODE.HIROM_LC_6_10_6, U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_0_a2_0_LC_6_10_7 }
set_location LT_6_10 6 10
ble_pack U409_AUTOCONFIG.LIDE_OUT_7_0_a3_3_LC_6_11_0 { U409_AUTOCONFIG.LIDE_OUT_7_0_a3[3] }
ble_pack U409_AUTOCONFIG.PR_OUT_cnst_i_i_a3_2_LC_6_11_3 { U409_AUTOCONFIG.PR_OUT_cnst_i_i_a3[2] }
ble_pack U409_AUTOCONFIG.un1_A_13_0_a2_LC_6_11_4 { U409_AUTOCONFIG.un1_A_13_0_a2 }
ble_pack U409_AUTOCONFIG.PR_OUT_cnst_i_i_a2_2_LC_6_11_5 { U409_AUTOCONFIG.PR_OUT_cnst_i_i_a2[2] }
ble_pack U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a2_3_LC_6_11_6 { U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a2[3] }
clb_pack LT_6_11 { U409_AUTOCONFIG.LIDE_OUT_7_0_a3_3_LC_6_11_0, U409_AUTOCONFIG.PR_OUT_cnst_i_i_a3_2_LC_6_11_3, U409_AUTOCONFIG.un1_A_13_0_a2_LC_6_11_4, U409_AUTOCONFIG.PR_OUT_cnst_i_i_a2_2_LC_6_11_5, U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a2_3_LC_6_11_6 }
set_location LT_6_11 6 11
ble_pack U409_AUTOCONFIG.PR_OUT_cnst_i_i_a2_0_3_LC_6_12_4 { U409_AUTOCONFIG.PR_OUT_cnst_i_i_a2_0[3] }
ble_pack U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a2_0_3_LC_6_12_7 { U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a2_0[3] }
clb_pack LT_6_12 { U409_AUTOCONFIG.PR_OUT_cnst_i_i_a2_0_3_LC_6_12_4, U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a2_0_3_LC_6_12_7 }
set_location LT_6_12 6 12
ble_pack U409_ADDRESS_DECODE.CS0_LC_7_2_5 { U409_ADDRESS_DECODE.CS0 }
clb_pack LT_7_2 { U409_ADDRESS_DECODE.CS0_LC_7_2_5 }
set_location LT_7_2 7 2
ble_pack U409_ADDRESS_DECODE.CS1_LC_7_3_2 { U409_ADDRESS_DECODE.CS1 }
clb_pack LT_7_3 { U409_ADDRESS_DECODE.CS1_LC_7_3_2 }
set_location LT_7_3 7 3
ble_pack U409_ADDRESS_DECODE.D_1_i_LC_7_6_1 { U409_ADDRESS_DECODE.D_1_i }
ble_pack U409_AUTOCONFIG.LIDE_BASE_RNO_0_3_LC_7_6_4 { U409_AUTOCONFIG.LIDE_BASE_RNO_0[3] }
clb_pack LT_7_6 { U409_ADDRESS_DECODE.D_1_i_LC_7_6_1, U409_AUTOCONFIG.LIDE_BASE_RNO_0_3_LC_7_6_4 }
set_location LT_7_6 7 6
ble_pack U409_ADDRESS_DECODE.ATA_SPACE_3_LC_7_7_0 { U409_ADDRESS_DECODE.ATA_SPACE_3 }
ble_pack U409_AUTOCONFIG.LIDE_BASE_1_LC_7_7_4 { U409_AUTOCONFIG.LIDE_BASE_RNO[1], U409_AUTOCONFIG.LIDE_BASE[1] }
ble_pack U409_AUTOCONFIG.LIDE_BASE_2_LC_7_7_6 { U409_AUTOCONFIG.LIDE_BASE_RNO[2], U409_AUTOCONFIG.LIDE_BASE[2] }
ble_pack U409_AUTOCONFIG.LIDE_BASE_RNO_0_7_LC_7_7_7 { U409_AUTOCONFIG.LIDE_BASE_RNO_0[7] }
clb_pack LT_7_7 { U409_ADDRESS_DECODE.ATA_SPACE_3_LC_7_7_0, U409_AUTOCONFIG.LIDE_BASE_1_LC_7_7_4, U409_AUTOCONFIG.LIDE_BASE_2_LC_7_7_6, U409_AUTOCONFIG.LIDE_BASE_RNO_0_7_LC_7_7_7 }
set_location LT_7_7 7 7
ble_pack U409_ADDRESS_DECODE.PORTSIZE_0_LC_7_8_1 { U409_ADDRESS_DECODE.PORTSIZE_0 }
ble_pack U409_ADDRESS_DECODE.ATA_EN_RNIOGLSO_LC_7_8_2 { U409_ADDRESS_DECODE.ATA_EN_RNIOGLSO }
ble_pack U409_ADDRESS_DECODE.LV_SPACE_LC_7_8_3 { U409_ADDRESS_DECODE.LV_SPACE }
ble_pack U409_ADDRESS_DECODE.ATA_EN_RNITH4D5_LC_7_8_4 { U409_ADDRESS_DECODE.ATA_EN_RNITH4D5 }
ble_pack U409_ADDRESS_DECODE.ATA_SPACE_1_LC_7_8_5 { U409_ADDRESS_DECODE.ATA_SPACE_1 }
ble_pack U409_ADDRESS_DECODE.ATA_SPACE_LC_7_8_6 { U409_ADDRESS_DECODE.ATA_SPACE }
ble_pack U409_ADDRESS_DECODE.ATA_EN_LC_7_8_7 { U409_ADDRESS_DECODE.ATA_EN_RNO, U409_ADDRESS_DECODE.ATA_EN }
clb_pack LT_7_8 { U409_ADDRESS_DECODE.PORTSIZE_0_LC_7_8_1, U409_ADDRESS_DECODE.ATA_EN_RNIOGLSO_LC_7_8_2, U409_ADDRESS_DECODE.LV_SPACE_LC_7_8_3, U409_ADDRESS_DECODE.ATA_EN_RNITH4D5_LC_7_8_4, U409_ADDRESS_DECODE.ATA_SPACE_1_LC_7_8_5, U409_ADDRESS_DECODE.ATA_SPACE_LC_7_8_6, U409_ADDRESS_DECODE.ATA_EN_LC_7_8_7 }
set_location LT_7_8 7 8
ble_pack U409_AUTOCONFIG.PR_OUT_2_LC_7_9_3 { U409_AUTOCONFIG.PR_OUT_RNO[2], U409_AUTOCONFIG.PR_OUT[2] }
clb_pack LT_7_9 { U409_AUTOCONFIG.PR_OUT_2_LC_7_9_3 }
set_location LT_7_9 7 9
ble_pack U409_ADDRESS_DECODE.un1_RAMSPACEn_1_LC_7_10_2 { U409_ADDRESS_DECODE.un1_RAMSPACEn_1 }
ble_pack U409_ADDRESS_DECODE.un1_RAMSPACEn_LC_7_10_3 { U409_ADDRESS_DECODE.un1_RAMSPACEn }
ble_pack U409_ADDRESS_DECODE.LOWROM_3_LC_7_10_4 { U409_ADDRESS_DECODE.LOWROM_3 }
ble_pack U409_ADDRESS_DECODE.AUTOVECTOR_4_0_LC_7_10_5 { U409_ADDRESS_DECODE.AUTOVECTOR_4_0 }
ble_pack U409_AUTOCONFIG.PR_OUT_cnst_i_i_a2_1_LC_7_10_7 { U409_AUTOCONFIG.PR_OUT_cnst_i_i_a2[1] }
clb_pack LT_7_10 { U409_ADDRESS_DECODE.un1_RAMSPACEn_1_LC_7_10_2, U409_ADDRESS_DECODE.un1_RAMSPACEn_LC_7_10_3, U409_ADDRESS_DECODE.LOWROM_3_LC_7_10_4, U409_ADDRESS_DECODE.AUTOVECTOR_4_0_LC_7_10_5, U409_AUTOCONFIG.PR_OUT_cnst_i_i_a2_1_LC_7_10_7 }
set_location LT_7_10 7 10
ble_pack U409_AUTOCONFIG.BRIDGE_OUT_3_LC_7_11_0 { U409_AUTOCONFIG.BRIDGE_OUT_RNO[3], U409_AUTOCONFIG.BRIDGE_OUT[3] }
ble_pack U409_AUTOCONFIG.LIDE_OUT_3_LC_7_11_1 { U409_AUTOCONFIG.LIDE_OUT_RNO[3], U409_AUTOCONFIG.LIDE_OUT[3] }
ble_pack U409_AUTOCONFIG.LIDE_OUT_RNIBHMP_3_LC_7_11_2 { U409_AUTOCONFIG.LIDE_OUT_RNIBHMP[3] }
clb_pack LT_7_11 { U409_AUTOCONFIG.BRIDGE_OUT_3_LC_7_11_0, U409_AUTOCONFIG.LIDE_OUT_3_LC_7_11_1, U409_AUTOCONFIG.LIDE_OUT_RNIBHMP_3_LC_7_11_2 }
set_location LT_7_11 7 11
ble_pack U409_AUTOCONFIG.PR_OUT_cnst_i_i_a2_3_LC_7_12_4 { U409_AUTOCONFIG.PR_OUT_cnst_i_i_a2[3] }
ble_pack U409_ADDRESS_DECODE.LOWROM_LC_7_12_7 { U409_ADDRESS_DECODE.LOWROM }
clb_pack LT_7_12 { U409_AUTOCONFIG.PR_OUT_cnst_i_i_a2_3_LC_7_12_4, U409_ADDRESS_DECODE.LOWROM_LC_7_12_7 }
set_location LT_7_12 7 12
ble_pack U409_AUTOCONFIG.PR_OUT_RNIVV912_2_LC_8_6_7 { U409_AUTOCONFIG.PR_OUT_RNIVV912[2] }
clb_pack LT_8_6 { U409_AUTOCONFIG.PR_OUT_RNIVV912_2_LC_8_6_7 }
set_location LT_8_6 8 6
ble_pack U409_AUTOCONFIG.LIDE_BASE_RNO_0_6_LC_8_7_0 { U409_AUTOCONFIG.LIDE_BASE_RNO_0[6] }
ble_pack U409_AUTOCONFIG.STATE_RNIF4QU_1_LC_8_7_2 { U409_AUTOCONFIG.STATE_RNIF4QU[1] }
ble_pack U409_AUTOCONFIG.LIDE_CONF_RNIUIPA2_LC_8_7_3 { U409_AUTOCONFIG.LIDE_CONF_RNIUIPA2 }
ble_pack U409_AUTOCONFIG.LIDE_BASE_RNO_0_2_LC_8_7_4 { U409_AUTOCONFIG.LIDE_BASE_RNO_0[2] }
ble_pack U409_AUTOCONFIG.LIDE_CONF_RNIH4AI_LC_8_7_5 { U409_AUTOCONFIG.LIDE_CONF_RNIH4AI }
ble_pack U409_AUTOCONFIG.LIDE_CONF_RNI0CVL_0_LC_8_7_6 { U409_AUTOCONFIG.LIDE_CONF_RNI0CVL_0 }
ble_pack U409_AUTOCONFIG.LIDE_BASE_RNO_0_1_LC_8_7_7 { U409_AUTOCONFIG.LIDE_BASE_RNO_0[1] }
clb_pack LT_8_7 { U409_AUTOCONFIG.LIDE_BASE_RNO_0_6_LC_8_7_0, U409_AUTOCONFIG.STATE_RNIF4QU_1_LC_8_7_2, U409_AUTOCONFIG.LIDE_CONF_RNIUIPA2_LC_8_7_3, U409_AUTOCONFIG.LIDE_BASE_RNO_0_2_LC_8_7_4, U409_AUTOCONFIG.LIDE_CONF_RNIH4AI_LC_8_7_5, U409_AUTOCONFIG.LIDE_CONF_RNI0CVL_0_LC_8_7_6, U409_AUTOCONFIG.LIDE_BASE_RNO_0_1_LC_8_7_7 }
set_location LT_8_7 8 7
ble_pack U409_AUTOCONFIG.LIDE_CONF_RNI0CVL_LC_8_8_0 { U409_AUTOCONFIG.LIDE_CONF_RNI0CVL }
ble_pack U409_AUTOCONFIG.LIDE_BASE_7_LC_8_8_1 { U409_AUTOCONFIG.LIDE_BASE_RNO[7], U409_AUTOCONFIG.LIDE_BASE[7] }
ble_pack U409_AUTOCONFIG.BRIDGE_CONF_LC_8_8_6 { U409_AUTOCONFIG.BRIDGE_CONF_RNO, U409_AUTOCONFIG.BRIDGE_CONF }
ble_pack U409_ADDRESS_DECODE.ATA_SPACE_4_LC_8_8_7 { U409_ADDRESS_DECODE.ATA_SPACE_4 }
clb_pack LT_8_8 { U409_AUTOCONFIG.LIDE_CONF_RNI0CVL_LC_8_8_0, U409_AUTOCONFIG.LIDE_BASE_7_LC_8_8_1, U409_AUTOCONFIG.BRIDGE_CONF_LC_8_8_6, U409_ADDRESS_DECODE.ATA_SPACE_4_LC_8_8_7 }
set_location LT_8_8 8 8
ble_pack U409_AUTOCONFIG.STATE_0_LC_8_9_2 { U409_AUTOCONFIG.STATE_ns_1_0_.m2, U409_AUTOCONFIG.STATE[0] }
ble_pack U409_AUTOCONFIG.STATE_1_LC_8_9_4 { U409_AUTOCONFIG.STATE_ns_1_0__m4_U409_AUTOCONFIG.STATE_1_REP_LUT4_0, U409_AUTOCONFIG.STATE[1] }
ble_pack U409_AUTOCONFIG.LIDE_CONF_LC_8_9_6 { U409_AUTOCONFIG.LIDE_CONF_RNO, U409_AUTOCONFIG.LIDE_CONF }
clb_pack LT_8_9 { U409_AUTOCONFIG.STATE_0_LC_8_9_2, U409_AUTOCONFIG.STATE_1_LC_8_9_4, U409_AUTOCONFIG.LIDE_CONF_LC_8_9_6 }
set_location LT_8_9 8 9
ble_pack U409_AUTOCONFIG.STATE_ns_1_0__m4_LC_8_10_0 { U409_AUTOCONFIG.STATE_ns_1_0_.m4 }
ble_pack U409_AUTOCONFIG.AC_TACK_nesr_RNO_LC_8_10_1 { U409_AUTOCONFIG.AC_TACK_nesr_RNO }
ble_pack U409_ADDRESS_DECODE.un1_RAMSPACEn_i_LC_8_10_2 { U409_ADDRESS_DECODE.un1_RAMSPACEn_i }
ble_pack U409_AUTOCONFIG.STATE_RNIBIND1_1_LC_8_10_3 { U409_AUTOCONFIG.STATE_RNIBIND1[1] }
ble_pack U409_AUTOCONFIG.AC_START_RNI10V92_LC_8_10_4 { U409_AUTOCONFIG.AC_START_RNI10V92 }
ble_pack U409_AUTOCONFIG.PR_OUT_RNO_0_1_LC_8_10_5 { U409_AUTOCONFIG.PR_OUT_RNO_0[1] }
ble_pack U409_AUTOCONFIG.LIDE_OUT_RNO_0_1_LC_8_10_6 { U409_AUTOCONFIG.LIDE_OUT_RNO_0[1] }
clb_pack LT_8_10 { U409_AUTOCONFIG.STATE_ns_1_0__m4_LC_8_10_0, U409_AUTOCONFIG.AC_TACK_nesr_RNO_LC_8_10_1, U409_ADDRESS_DECODE.un1_RAMSPACEn_i_LC_8_10_2, U409_AUTOCONFIG.STATE_RNIBIND1_1_LC_8_10_3, U409_AUTOCONFIG.AC_START_RNI10V92_LC_8_10_4, U409_AUTOCONFIG.PR_OUT_RNO_0_1_LC_8_10_5, U409_AUTOCONFIG.LIDE_OUT_RNO_0_1_LC_8_10_6 }
set_location LT_8_10 8 10
ble_pack U409_AUTOCONFIG.LIDE_OUT_RNO_0_2_LC_8_11_0 { U409_AUTOCONFIG.LIDE_OUT_RNO_0[2] }
ble_pack U409_AUTOCONFIG.LIDE_OUT_2_LC_8_11_1 { U409_AUTOCONFIG.LIDE_OUT_RNO[2], U409_AUTOCONFIG.LIDE_OUT[2] }
ble_pack U409_AUTOCONFIG.BRIDGE_OUT_2_LC_8_11_3 { U409_AUTOCONFIG.BRIDGE_OUT_RNO[2], U409_AUTOCONFIG.BRIDGE_OUT[2] }
ble_pack U409_AUTOCONFIG.LIDE_OUT_RNI9FMP_2_LC_8_11_4 { U409_AUTOCONFIG.LIDE_OUT_RNI9FMP[2] }
clb_pack LT_8_11 { U409_AUTOCONFIG.LIDE_OUT_RNO_0_2_LC_8_11_0, U409_AUTOCONFIG.LIDE_OUT_2_LC_8_11_1, U409_AUTOCONFIG.BRIDGE_OUT_2_LC_8_11_3, U409_AUTOCONFIG.LIDE_OUT_RNI9FMP_2_LC_8_11_4 }
set_location LT_8_11 8 11
ble_pack U409_AUTOCONFIG.PR_OUT_cnst_i_i_a2_0_LC_8_12_1 { U409_AUTOCONFIG.PR_OUT_cnst_i_i_a2[0] }
ble_pack U409_AUTOCONFIG.LIDE_OUT_7_0_a2_2_LC_8_12_2 { U409_AUTOCONFIG.LIDE_OUT_7_0_a2[2] }
ble_pack U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a2_1_LC_8_12_7 { U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a2[1] }
clb_pack LT_8_12 { U409_AUTOCONFIG.PR_OUT_cnst_i_i_a2_0_LC_8_12_1, U409_AUTOCONFIG.LIDE_OUT_7_0_a2_2_LC_8_12_2, U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a2_1_LC_8_12_7 }
set_location LT_8_12 8 12
ble_pack U409_AUTOCONFIG.PR_OUT_RNISS912_1_LC_9_6_1 { U409_AUTOCONFIG.PR_OUT_RNISS912[1] }
ble_pack U409_AUTOCONFIG.PR_OUT_RNI23A12_3_LC_9_6_2 { U409_AUTOCONFIG.PR_OUT_RNI23A12[3] }
clb_pack LT_9_6 { U409_AUTOCONFIG.PR_OUT_RNISS912_1_LC_9_6_1, U409_AUTOCONFIG.PR_OUT_RNI23A12_3_LC_9_6_2 }
set_location LT_9_6 9 6
ble_pack U409_AUTOCONFIG.CONFIGURED_LC_9_7_3 { U409_AUTOCONFIG.CONFIGURED_RNO, U409_AUTOCONFIG.CONFIGURED }
ble_pack U409_AUTOCONFIG.CONFIGENn_LC_9_7_6 { U409_AUTOCONFIG.CONFIGENn_RNO, U409_AUTOCONFIG.CONFIGENn }
clb_pack LT_9_7 { U409_AUTOCONFIG.CONFIGURED_LC_9_7_3, U409_AUTOCONFIG.CONFIGENn_LC_9_7_6 }
set_location LT_9_7 9 7
ble_pack U409_AUTOCONFIG.PR_OUT_RNIPP912_0_LC_9_8_0 { U409_AUTOCONFIG.PR_OUT_RNIPP912[0] }
ble_pack U409_AUTOCONFIG.LIDE_OUT_RNI7DMP_1_LC_9_8_6 { U409_AUTOCONFIG.LIDE_OUT_RNI7DMP[1] }
ble_pack U409_AUTOCONFIG.LIDE_OUT_RNI5BMP_0_LC_9_8_7 { U409_AUTOCONFIG.LIDE_OUT_RNI5BMP[0] }
clb_pack LT_9_8 { U409_AUTOCONFIG.PR_OUT_RNIPP912_0_LC_9_8_0, U409_AUTOCONFIG.LIDE_OUT_RNI7DMP_1_LC_9_8_6, U409_AUTOCONFIG.LIDE_OUT_RNI5BMP_0_LC_9_8_7 }
set_location LT_9_8 9 8
ble_pack U409_AUTOCONFIG.AC_START_LC_9_9_2 { U409_AUTOCONFIG.AC_START_RNO, U409_AUTOCONFIG.AC_START }
clb_pack LT_9_9 { U409_AUTOCONFIG.AC_START_LC_9_9_2 }
set_location LT_9_9 9 9
ble_pack U409_AUTOCONFIG.BRIDGE_OUT_0_LC_9_10_0 { U409_AUTOCONFIG.BRIDGE_OUT_RNO[0], U409_AUTOCONFIG.BRIDGE_OUT[0] }
ble_pack U409_AUTOCONFIG.LIDE_OUT_1_LC_9_10_1 { U409_AUTOCONFIG.LIDE_OUT_RNO[1], U409_AUTOCONFIG.LIDE_OUT[1] }
ble_pack U409_AUTOCONFIG.PR_OUT_3_LC_9_10_2 { U409_AUTOCONFIG.PR_OUT_RNO[3], U409_AUTOCONFIG.PR_OUT[3] }
ble_pack U409_AUTOCONFIG.PR_OUT_1_LC_9_10_5 { U409_AUTOCONFIG.PR_OUT_RNO[1], U409_AUTOCONFIG.PR_OUT[1] }
ble_pack U409_AUTOCONFIG.BRIDGE_OUT_1_LC_9_10_6 { U409_AUTOCONFIG.BRIDGE_OUT_RNO[1], U409_AUTOCONFIG.BRIDGE_OUT[1] }
ble_pack U409_AUTOCONFIG.PR_OUT_0_LC_9_10_7 { U409_AUTOCONFIG.PR_OUT_RNO[0], U409_AUTOCONFIG.PR_OUT[0] }
clb_pack LT_9_10 { U409_AUTOCONFIG.BRIDGE_OUT_0_LC_9_10_0, U409_AUTOCONFIG.LIDE_OUT_1_LC_9_10_1, U409_AUTOCONFIG.PR_OUT_3_LC_9_10_2, U409_AUTOCONFIG.PR_OUT_1_LC_9_10_5, U409_AUTOCONFIG.BRIDGE_OUT_1_LC_9_10_6, U409_AUTOCONFIG.PR_OUT_0_LC_9_10_7 }
set_location LT_9_10 9 10
ble_pack U409_AUTOCONFIG.LIDE_OUT_0_LC_9_11_5 { U409_AUTOCONFIG.LIDE_OUT_RNO[0], U409_AUTOCONFIG.LIDE_OUT[0] }
clb_pack LT_9_11 { U409_AUTOCONFIG.LIDE_OUT_0_LC_9_11_5 }
set_location LT_9_11 9 11
ble_pack U409_AUTOCONFIG.LIDE_OUT_RNO_0_0_LC_9_12_5 { U409_AUTOCONFIG.LIDE_OUT_RNO_0[0] }
clb_pack LT_9_12 { U409_AUTOCONFIG.LIDE_OUT_RNO_0_0_LC_9_12_5 }
set_location LT_9_12 9 12
ble_pack U409_TRANSFER_ACK.DELAYED_TACK_RST_0_i_LC_10_9_3 { U409_TRANSFER_ACK.DELAYED_TACK_RST_0_i }
clb_pack LT_10_9 { U409_TRANSFER_ACK.DELAYED_TACK_RST_0_i_LC_10_9_3 }
set_location LT_10_9 10 9
ble_pack U409_AUTOCONFIG.AC_TACK_nesr_LC_10_10_0 { U409_AUTOCONFIG.AC_TACK_nesr_THRU_LUT4_0, U409_AUTOCONFIG.AC_TACK_nesr }
clb_pack LT_10_10 { U409_AUTOCONFIG.AC_TACK_nesr_LC_10_10_0 }
set_location LT_10_10 10 10
ble_pack U409_CIA.CIA_CLK_COUNT_RNIQ2ND1_7_LC_11_6_0 { U409_CIA.CIA_CLK_COUNT_RNIQ2ND1[7] }
ble_pack U409_CIA.CIA_CLK_COUNT_0_LC_11_6_4 { U409_CIA.CIA_CLK_COUNT_RNO[0], U409_CIA.CIA_CLK_COUNT[0] }
ble_pack U409_CIA.CIA_CLK_COUNT_RNIIQMD1_2_LC_11_6_6 { U409_CIA.CIA_CLK_COUNT_RNIIQMD1[2] }
ble_pack U409_CIA.CIA_CLK_COUNT_5_LC_11_6_7 { U409_CIA.CIA_CLK_COUNT_RNO[5], U409_CIA.CIA_CLK_COUNT[5] }
clb_pack LT_11_6 { U409_CIA.CIA_CLK_COUNT_RNIQ2ND1_7_LC_11_6_0, U409_CIA.CIA_CLK_COUNT_0_LC_11_6_4, U409_CIA.CIA_CLK_COUNT_RNIIQMD1_2_LC_11_6_6, U409_CIA.CIA_CLK_COUNT_5_LC_11_6_7 }
set_location LT_11_6 11 6
ble_pack U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_5_LC_11_8_0 { U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[5], U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[5] }
ble_pack U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI11UH2_5_LC_11_8_1 { U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI11UH2[5] }
ble_pack U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_6_LC_11_8_2 { U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[6], U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[6] }
ble_pack U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_7_LC_11_8_3 { U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[7], U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[7] }
ble_pack U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO_0_3_LC_11_8_4 { U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO_0[3] }
ble_pack U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_3_LC_11_8_5 { U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[3], U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[3] }
ble_pack U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIQTP87_5_LC_11_8_6 { U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIQTP87[5] }
ble_pack U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_4_LC_11_8_7 { U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[4], U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[4] }
clb_pack LT_11_8 { U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_5_LC_11_8_0, U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI11UH2_5_LC_11_8_1, U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_6_LC_11_8_2, U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_7_LC_11_8_3, U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO_0_3_LC_11_8_4, U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_3_LC_11_8_5, U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIQTP87_5_LC_11_8_6, U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_4_LC_11_8_7 }
set_location LT_11_8 11 8
ble_pack U409_TRANSFER_ACK.TACK_OUT_RNO_0_LC_11_9_1 { U409_TRANSFER_ACK.TACK_OUT_RNO_0 }
ble_pack U409_TRANSFER_ACK.TACK_EN_RNO_0_LC_11_9_6 { U409_TRANSFER_ACK.TACK_EN_RNO_0 }
clb_pack LT_11_9 { U409_TRANSFER_ACK.TACK_OUT_RNO_0_LC_11_9_1, U409_TRANSFER_ACK.TACK_EN_RNO_0_LC_11_9_6 }
set_location LT_11_9 11 9
ble_pack U409_TRANSFER_ACK.TACK_OUT_LC_11_10_0 { U409_TRANSFER_ACK.TACK_OUT_RNO, U409_TRANSFER_ACK.TACK_OUT }
ble_pack U409_TRANSFER_ACK.TACK_EN_LC_11_10_1 { U409_TRANSFER_ACK.TACK_EN_RNO, U409_TRANSFER_ACK.TACK_EN }
ble_pack U409_TRANSFER_ACK.TACK_STATE_0_LC_11_10_2 { U409_TRANSFER_ACK.TACK_STATE_RNO[0], U409_TRANSFER_ACK.TACK_STATE[0] }
ble_pack U409_TRANSFER_ACK.TACK_STATE_1_LC_11_10_6 { U409_TRANSFER_ACK.TACK_STATE_1_THRU_LUT4_0, U409_TRANSFER_ACK.TACK_STATE[1] }
clb_pack LT_11_10 { U409_TRANSFER_ACK.TACK_OUT_LC_11_10_0, U409_TRANSFER_ACK.TACK_EN_LC_11_10_1, U409_TRANSFER_ACK.TACK_STATE_0_LC_11_10_2, U409_TRANSFER_ACK.TACK_STATE_1_LC_11_10_6 }
set_location LT_11_10 11 10
ble_pack U409_TRANSFER_ACK.ROM_TACK_STATE5_LC_11_11_5 { U409_TRANSFER_ACK.ROM_TACK_STATE5 }
clb_pack LT_11_11 { U409_TRANSFER_ACK.ROM_TACK_STATE5_LC_11_11_5 }
set_location LT_11_11 11 11
ble_pack U409_TRANSFER_ACK.TACK_OUT_RNIU3I06_LC_11_12_5 { U409_TRANSFER_ACK.TACK_OUT_RNIU3I06 }
clb_pack LT_11_12 { U409_TRANSFER_ACK.TACK_OUT_RNIU3I06_LC_11_12_5 }
set_location LT_11_12 11 12
ble_pack GB_BUFFER_CLK40_IN_c_g_THRU_LUT4_0_LC_12_1_2 { GB_BUFFER_CLK40_IN_c_g_THRU_LUT4_0 }
clb_pack LT_12_1 { GB_BUFFER_CLK40_IN_c_g_THRU_LUT4_0_LC_12_1_2 }
set_location LT_12_1 12 1
ble_pack U409_CIA.un2_CIA_CLK_COUNT_cry_1_c_LC_12_6_0 { U409_CIA.un2_CIA_CLK_COUNT_cry_1_c }
ble_pack U409_CIA.CIA_CLK_COUNT_2_LC_12_6_1 { U409_CIA.CIA_CLK_COUNT_RNO[2], U409_CIA.CIA_CLK_COUNT[2], U409_CIA.un2_CIA_CLK_COUNT_cry_2_c }
ble_pack U409_CIA.un2_CIA_CLK_COUNT_cry_2_THRU_LUT4_0_LC_12_6_2 { U409_CIA.un2_CIA_CLK_COUNT_cry_2_THRU_LUT4_0, U409_CIA.un2_CIA_CLK_COUNT_cry_3_c }
ble_pack U409_CIA.CIA_CLK_COUNT_4_LC_12_6_3 { U409_CIA.CIA_CLK_COUNT_RNO[4], U409_CIA.CIA_CLK_COUNT[4], U409_CIA.un2_CIA_CLK_COUNT_cry_4_c }
ble_pack U409_CIA.un2_CIA_CLK_COUNT_cry_4_THRU_LUT4_0_LC_12_6_4 { U409_CIA.un2_CIA_CLK_COUNT_cry_4_THRU_LUT4_0, U409_CIA.un2_CIA_CLK_COUNT_cry_5_c }
ble_pack U409_CIA.CIA_CLK_COUNT_6_LC_12_6_5 { U409_CIA.CIA_CLK_COUNT_RNO[6], U409_CIA.CIA_CLK_COUNT[6], U409_CIA.un2_CIA_CLK_COUNT_cry_6_c }
ble_pack U409_CIA.CIA_CLK_COUNT_7_LC_12_6_6 { U409_CIA.CIA_CLK_COUNT_RNO[7], U409_CIA.CIA_CLK_COUNT[7] }
ble_pack U409_CIA.CIA_CLK_COUNT_3_LC_12_6_7 { U409_CIA.CIA_CLK_COUNT_RNO[3], U409_CIA.CIA_CLK_COUNT[3] }
clb_pack LT_12_6 { U409_CIA.un2_CIA_CLK_COUNT_cry_1_c_LC_12_6_0, U409_CIA.CIA_CLK_COUNT_2_LC_12_6_1, U409_CIA.un2_CIA_CLK_COUNT_cry_2_THRU_LUT4_0_LC_12_6_2, U409_CIA.CIA_CLK_COUNT_4_LC_12_6_3, U409_CIA.un2_CIA_CLK_COUNT_cry_4_THRU_LUT4_0_LC_12_6_4, U409_CIA.CIA_CLK_COUNT_6_LC_12_6_5, U409_CIA.CIA_CLK_COUNT_7_LC_12_6_6, U409_CIA.CIA_CLK_COUNT_3_LC_12_6_7 }
set_location LT_12_6 12 6
ble_pack U409_CIA.VMA_RNO_1_LC_12_7_0 { U409_CIA.VMA_RNO_1 }
ble_pack U409_CIA.CIA_CLK_COUNT_1_LC_12_7_1 { U409_CIA.CIA_CLK_COUNT_RNO[1], U409_CIA.CIA_CLK_COUNT[1] }
ble_pack U409_CIA.VMA_RNO_2_LC_12_7_3 { U409_CIA.VMA_RNO_2 }
ble_pack U409_CIA.VMA_RNO_0_LC_12_7_4 { U409_CIA.VMA_RNO_0 }
ble_pack U409_CIA.VMA_LC_12_7_5 { U409_CIA.VMA_RNO, U409_CIA.VMA }
ble_pack U409_TRANSFER_ACK.CIA_STATE_RNO_0_1_LC_12_7_7 { U409_TRANSFER_ACK.CIA_STATE_RNO_0[1] }
clb_pack LT_12_7 { U409_CIA.VMA_RNO_1_LC_12_7_0, U409_CIA.CIA_CLK_COUNT_1_LC_12_7_1, U409_CIA.VMA_RNO_2_LC_12_7_3, U409_CIA.VMA_RNO_0_LC_12_7_4, U409_CIA.VMA_LC_12_7_5, U409_TRANSFER_ACK.CIA_STATE_RNO_0_1_LC_12_7_7 }
set_location LT_12_7 12 7
ble_pack U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIISJM1_2_LC_12_8_0 { U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIISJM1[2] }
ble_pack U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_2_LC_12_8_1 { U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[2], U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[2] }
ble_pack U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_1_LC_12_8_2 { U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[1], U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[1] }
ble_pack U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIS6KM1_7_LC_12_8_3 { U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIS6KM1[7] }
ble_pack U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIK98D3_5_LC_12_8_4 { U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIK98D3[5] }
ble_pack U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIV9KM1_7_LC_12_8_5 { U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIV9KM1[7] }
ble_pack U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIK98D3_6_LC_12_8_6 { U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIK98D3[6] }
ble_pack U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI9U9R_2_LC_12_8_7 { U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI9U9R[2] }
clb_pack LT_12_8 { U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIISJM1_2_LC_12_8_0, U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_2_LC_12_8_1, U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_1_LC_12_8_2, U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIS6KM1_7_LC_12_8_3, U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIK98D3_5_LC_12_8_4, U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIV9KM1_7_LC_12_8_5, U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIK98D3_6_LC_12_8_6, U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI9U9R_2_LC_12_8_7 }
set_location LT_12_8 12 8
ble_pack U409_TRANSFER_ACK.DELAYED_TACK_EN_LC_12_9_1 { U409_TRANSFER_ACK.DELAYED_TACK_EN_RNO, U409_TRANSFER_ACK.DELAYED_TACK_EN }
ble_pack U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_0_LC_12_9_3 { U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[0], U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[0] }
clb_pack LT_12_9 { U409_TRANSFER_ACK.DELAYED_TACK_EN_LC_12_9_1, U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_0_LC_12_9_3 }
set_location LT_12_9 12 9
ble_pack U409_TRANSFER_ACK.IRQ_TACK_COUNTERc_2_LC_12_10_0 { U409_TRANSFER_ACK.IRQ_TACK_COUNTERc_2 }
ble_pack U409_TRANSFER_ACK.IRQ_TACK_COUNTER_LC_12_10_1 { U409_TRANSFER_ACK.IRQ_TACK_COUNTER_RNO, U409_TRANSFER_ACK.IRQ_TACK_COUNTER }
ble_pack U409_ADDRESS_DECODE.AUTOVECTOR_11_LC_12_10_2 { U409_ADDRESS_DECODE.AUTOVECTOR_11 }
ble_pack U409_TRANSFER_ACK.IRQ_TACK_EN_RNO_0_LC_12_10_3 { U409_TRANSFER_ACK.IRQ_TACK_EN_RNO_0 }
ble_pack U409_TRANSFER_ACK.IRQ_TACK_EN_LC_12_10_4 { U409_TRANSFER_ACK.IRQ_TACK_EN_RNO, U409_TRANSFER_ACK.IRQ_TACK_EN }
clb_pack LT_12_10 { U409_TRANSFER_ACK.IRQ_TACK_COUNTERc_2_LC_12_10_0, U409_TRANSFER_ACK.IRQ_TACK_COUNTER_LC_12_10_1, U409_ADDRESS_DECODE.AUTOVECTOR_11_LC_12_10_2, U409_TRANSFER_ACK.IRQ_TACK_EN_RNO_0_LC_12_10_3, U409_TRANSFER_ACK.IRQ_TACK_EN_LC_12_10_4 }
set_location LT_12_10 12 10
ble_pack RESETn_ibuf_RNIM9SF_LC_12_19_3 { RESETn_ibuf_RNIM9SF }
clb_pack LT_12_19 { RESETn_ibuf_RNIM9SF_LC_12_19_3 }
set_location LT_12_19 12 19
ble_pack U409_ADDRESS_DECODE.un1_CIACS0n_i_LC_13_4_0 { U409_ADDRESS_DECODE.un1_CIACS0n_i }
ble_pack U409_CIA.VMA_RNI692L_0_LC_13_4_7 { U409_CIA.VMA_RNI692L_0 }
clb_pack LT_13_4 { U409_ADDRESS_DECODE.un1_CIACS0n_i_LC_13_4_0, U409_CIA.VMA_RNI692L_0_LC_13_4_7 }
set_location LT_13_4 13 4
ble_pack U409_ADDRESS_DECODE.un1_CIACS1n_i_LC_13_5_1 { U409_ADDRESS_DECODE.un1_CIACS1n_i }
clb_pack LT_13_5 { U409_ADDRESS_DECODE.un1_CIACS1n_i_LC_13_5_1 }
set_location LT_13_5 13 5
ble_pack U409_TRANSFER_ACK.CIA_STATE_1_LC_13_6_6 { U409_TRANSFER_ACK.CIA_STATE_RNO[1], U409_TRANSFER_ACK.CIA_STATE[1] }
clb_pack LT_13_6 { U409_TRANSFER_ACK.CIA_STATE_1_LC_13_6_6 }
set_location LT_13_6 13 6
ble_pack U409_TRANSFER_ACK.CIA_STATE_0_LC_13_7_3 { U409_TRANSFER_ACK.CIA_STATE_RNO[0], U409_TRANSFER_ACK.CIA_STATE[0] }
ble_pack U409_TRANSFER_ACK.CIA_TACK_EN_LC_13_7_4 { U409_TRANSFER_ACK.CIA_TACK_EN_RNO, U409_TRANSFER_ACK.CIA_TACK_EN }
ble_pack U409_TRANSFER_ACK.CIA_ENABLED_0_LC_13_7_5 { U409_CIA.VMA_RNI692L, U409_TRANSFER_ACK.CIA_ENABLED[0] }
ble_pack U409_TRANSFER_ACK.CIA_ENABLED_1_LC_13_7_6 { U409_TRANSFER_ACK.CIA_ENABLED_1_THRU_LUT4_0, U409_TRANSFER_ACK.CIA_ENABLED[1] }
clb_pack LT_13_7 { U409_TRANSFER_ACK.CIA_STATE_0_LC_13_7_3, U409_TRANSFER_ACK.CIA_TACK_EN_LC_13_7_4, U409_TRANSFER_ACK.CIA_ENABLED_0_LC_13_7_5, U409_TRANSFER_ACK.CIA_ENABLED_1_LC_13_7_6 }
set_location LT_13_7 13 7
ble_pack U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO_0_0_LC_13_8_0 { U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO_0[0], U409_TRANSFER_ACK.un1_ROM_TACK_COUNTER_1_cry_0_c }
ble_pack U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO_0_1_LC_13_8_1 { U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO_0[1], U409_TRANSFER_ACK.un1_ROM_TACK_COUNTER_1_cry_1_c }
ble_pack U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO_0_2_LC_13_8_2 { U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO_0[2], U409_TRANSFER_ACK.un1_ROM_TACK_COUNTER_1_cry_2_c }
ble_pack U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO_0_3_LC_13_8_3 { U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO_0[3] }
ble_pack U409_TRANSFER_ACK.ROM_TACK_COUNTER_2_LC_13_8_4 { U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[2], U409_TRANSFER_ACK.ROM_TACK_COUNTER[2] }
ble_pack U409_TRANSFER_ACK.ROM_TACK_COUNTER_1_LC_13_8_5 { U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[1], U409_TRANSFER_ACK.ROM_TACK_COUNTER[1] }
ble_pack U409_TRANSFER_ACK.TACK_START_RNO_1_LC_13_8_6 { U409_TRANSFER_ACK.TACK_START_RNO_1 }
ble_pack U409_TRANSFER_ACK.ROM_TACK_COUNTER_3_LC_13_8_7 { U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[3], U409_TRANSFER_ACK.ROM_TACK_COUNTER[3] }
clb_pack LT_13_8 { U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO_0_0_LC_13_8_0, U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO_0_1_LC_13_8_1, U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO_0_2_LC_13_8_2, U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO_0_3_LC_13_8_3, U409_TRANSFER_ACK.ROM_TACK_COUNTER_2_LC_13_8_4, U409_TRANSFER_ACK.ROM_TACK_COUNTER_1_LC_13_8_5, U409_TRANSFER_ACK.TACK_START_RNO_1_LC_13_8_6, U409_TRANSFER_ACK.ROM_TACK_COUNTER_3_LC_13_8_7 }
set_location LT_13_8 13 8
ble_pack U409_TRANSFER_ACK.TACK_START_LC_13_9_5 { U409_TRANSFER_ACK.TACK_START_RNO, U409_TRANSFER_ACK.TACK_START }
clb_pack LT_13_9 { U409_TRANSFER_ACK.TACK_START_LC_13_9_5 }
set_location LT_13_9 13 9
ble_pack U409_TRANSFER_ACK.ROM_TACK_COUNTER_0_LC_13_10_4 { U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[0], U409_TRANSFER_ACK.ROM_TACK_COUNTER[0] }
clb_pack LT_13_10 { U409_TRANSFER_ACK.ROM_TACK_COUNTER_0_LC_13_10_4 }
set_location LT_13_10 13 10
ble_pack U409_TRANSFER_ACK.TACK_START_RNO_0_LC_13_11_1 { U409_TRANSFER_ACK.TACK_START_RNO_0 }
clb_pack LT_13_11 { U409_TRANSFER_ACK.TACK_START_RNO_0_LC_13_11_1 }
set_location LT_13_11 13 11
ble_pack U409_CIA.CLK_CIA_RNO_0_LC_14_6_0 { U409_CIA.CLK_CIA_RNO_0 }
ble_pack U409_CIA.CLK_CIA_LC_14_6_1 { U409_CIA.CLK_CIA_RNO, U409_CIA.CLK_CIA }
ble_pack U409_TICK.COUNTER50_RNIUHF01_16_LC_14_6_5 { U409_TICK.COUNTER50_RNIUHF01[16] }
ble_pack U409_CIA.CLK_CIA_RNO_1_LC_14_6_7 { U409_CIA.CLK_CIA_RNO_1 }
clb_pack LT_14_6 { U409_CIA.CLK_CIA_RNO_0_LC_14_6_0, U409_CIA.CLK_CIA_LC_14_6_1, U409_TICK.COUNTER50_RNIUHF01_16_LC_14_6_5, U409_CIA.CLK_CIA_RNO_1_LC_14_6_7 }
set_location LT_14_6 14 6
ble_pack U409_TRANSFER_ACK.LASTCLK_RNI9HNJ_1_LC_14_7_0 { U409_TRANSFER_ACK.LASTCLK_RNI9HNJ[1] }
ble_pack U409_TRANSFER_ACK.CIA_STATE_RNO_0_0_LC_14_7_1 { U409_TRANSFER_ACK.CIA_STATE_RNO_0[0] }
ble_pack U409_TRANSFER_ACK.LASTCLK_RNIHJ5G_1_LC_14_7_2 { U409_TRANSFER_ACK.LASTCLK_RNIHJ5G[1] }
ble_pack U409_TRANSFER_ACK.CIA_STATE_RNO_1_0_LC_14_7_3 { U409_TRANSFER_ACK.CIA_STATE_RNO_1[0] }
ble_pack U409_TICK.COUNTER50_1_LC_14_7_5 { U409_TICK.COUNTER50_RNO[1], U409_TICK.COUNTER50[1] }
clb_pack LT_14_7 { U409_TRANSFER_ACK.LASTCLK_RNI9HNJ_1_LC_14_7_0, U409_TRANSFER_ACK.CIA_STATE_RNO_0_0_LC_14_7_1, U409_TRANSFER_ACK.LASTCLK_RNIHJ5G_1_LC_14_7_2, U409_TRANSFER_ACK.CIA_STATE_RNO_1_0_LC_14_7_3, U409_TICK.COUNTER50_1_LC_14_7_5 }
set_location LT_14_7 14 7
ble_pack U409_TRANSFER_ACK.LASTCLK_1_LC_14_8_0 { U409_TRANSFER_ACK.LASTCLK_1_THRU_LUT4_0, U409_TRANSFER_ACK.LASTCLK[1] }
clb_pack LT_14_8 { U409_TRANSFER_ACK.LASTCLK_1_LC_14_8_0 }
set_location LT_14_8 14 8
ble_pack U409_TRANSFER_ACK.ROM_TACK_STATE_ns_1_0__m6_LC_14_9_3 { U409_TRANSFER_ACK.ROM_TACK_STATE_ns_1_0_.m6 }
ble_pack U409_TRANSFER_ACK.ROM_TACK_STATE_ns_1_0__m10_LC_14_9_4 { U409_TRANSFER_ACK.ROM_TACK_STATE_ns_1_0_.m10 }
ble_pack U409_TRANSFER_ACK.ROM_TACK_STATE_ns_1_0__m8_LC_14_9_5 { U409_TRANSFER_ACK.ROM_TACK_STATE_ns_1_0_.m8 }
clb_pack LT_14_9 { U409_TRANSFER_ACK.ROM_TACK_STATE_ns_1_0__m6_LC_14_9_3, U409_TRANSFER_ACK.ROM_TACK_STATE_ns_1_0__m10_LC_14_9_4, U409_TRANSFER_ACK.ROM_TACK_STATE_ns_1_0__m8_LC_14_9_5 }
set_location LT_14_9 14 9
ble_pack U409_TRANSFER_ACK.ROM_TACK_STATE_0_LC_14_10_5 { U409_TRANSFER_ACK.ROM_TACK_STATE_ns_1_0_.m15, U409_TRANSFER_ACK.ROM_TACK_STATE[0] }
clb_pack LT_14_10 { U409_TRANSFER_ACK.ROM_TACK_STATE_0_LC_14_10_5 }
set_location LT_14_10 14 10
ble_pack U409_TICK.TICK60_LC_15_5_0 { U409_TICK.TICK60_RNO, U409_TICK.TICK60 }
ble_pack U409_TICK.COUNTER60_RNICDC71_14_LC_15_5_1 { U409_TICK.COUNTER60_RNICDC71[14] }
ble_pack U409_TICK.COUNTER60_6_LC_15_5_2 { U409_TICK.COUNTER60_RNO[6], U409_TICK.COUNTER60[6] }
ble_pack U409_TICK.TICK50_LC_15_5_3 { U409_TICK.TICK50_RNO, U409_TICK.TICK50 }
ble_pack U409_TICK.COUNTER60_RNIHJU51_4_LC_15_5_4 { U409_TICK.COUNTER60_RNIHJU51[4] }
ble_pack U409_TICK.COUNTER60_RNI335G2_11_LC_15_5_5 { U409_TICK.COUNTER60_RNI335G2[11] }
ble_pack U409_TICK.COUNTER60_4_LC_15_5_6 { U409_TICK.COUNTER60_RNO[4], U409_TICK.COUNTER60[4] }
ble_pack U409_TICK.COUNTER50_6_LC_15_5_7 { U409_TICK.COUNTER50_RNO[6], U409_TICK.COUNTER50[6] }
clb_pack LT_15_5 { U409_TICK.TICK60_LC_15_5_0, U409_TICK.COUNTER60_RNICDC71_14_LC_15_5_1, U409_TICK.COUNTER60_6_LC_15_5_2, U409_TICK.TICK50_LC_15_5_3, U409_TICK.COUNTER60_RNIHJU51_4_LC_15_5_4, U409_TICK.COUNTER60_RNI335G2_11_LC_15_5_5, U409_TICK.COUNTER60_4_LC_15_5_6, U409_TICK.COUNTER50_6_LC_15_5_7 }
set_location LT_15_5 15 5
ble_pack U409_TICK.un2_COUNTER50_1_cry_1_c_LC_15_6_0 { U409_TICK.un2_COUNTER50_1_cry_1_c }
ble_pack U409_TICK.COUNTER50_2_LC_15_6_1 { U409_TICK.COUNTER50_RNO[2], U409_TICK.COUNTER50[2], U409_TICK.un2_COUNTER50_1_cry_2_c }
ble_pack U409_TICK.COUNTER50_3_LC_15_6_2 { U409_TICK.COUNTER50_RNO[3], U409_TICK.COUNTER50[3], U409_TICK.un2_COUNTER50_1_cry_3_c }
ble_pack U409_TICK.COUNTER50_4_LC_15_6_3 { U409_TICK.COUNTER50_RNO[4], U409_TICK.COUNTER50[4], U409_TICK.un2_COUNTER50_1_cry_4_c }
ble_pack U409_TICK.COUNTER50_RNO_0_5_LC_15_6_4 { U409_TICK.COUNTER50_RNO_0[5], U409_TICK.un2_COUNTER50_1_cry_5_c }
ble_pack U409_TICK.COUNTER50_RNO_0_6_LC_15_6_5 { U409_TICK.COUNTER50_RNO_0[6], U409_TICK.un2_COUNTER50_1_cry_6_c }
ble_pack U409_TICK.COUNTER50_7_LC_15_6_6 { U409_TICK.COUNTER50_RNO[7], U409_TICK.COUNTER50[7], U409_TICK.un2_COUNTER50_1_cry_7_c }
ble_pack U409_TICK.COUNTER50_8_LC_15_6_7 { U409_TICK.COUNTER50_RNO[8], U409_TICK.COUNTER50[8], U409_TICK.un2_COUNTER50_1_cry_8_c }
clb_pack LT_15_6 { U409_TICK.un2_COUNTER50_1_cry_1_c_LC_15_6_0, U409_TICK.COUNTER50_2_LC_15_6_1, U409_TICK.COUNTER50_3_LC_15_6_2, U409_TICK.COUNTER50_4_LC_15_6_3, U409_TICK.COUNTER50_RNO_0_5_LC_15_6_4, U409_TICK.COUNTER50_RNO_0_6_LC_15_6_5, U409_TICK.COUNTER50_7_LC_15_6_6, U409_TICK.COUNTER50_8_LC_15_6_7 }
set_location LT_15_6 15 6
ble_pack U409_TICK.COUNTER50_RNO_0_9_LC_15_7_0 { U409_TICK.COUNTER50_RNO_0[9], U409_TICK.un2_COUNTER50_1_cry_9_c }
ble_pack U409_TICK.COUNTER50_10_LC_15_7_1 { U409_TICK.COUNTER50_RNO[10], U409_TICK.COUNTER50[10], U409_TICK.un2_COUNTER50_1_cry_10_c }
ble_pack U409_TICK.COUNTER50_RNO_0_11_LC_15_7_2 { U409_TICK.COUNTER50_RNO_0[11], U409_TICK.un2_COUNTER50_1_cry_11_c }
ble_pack U409_TICK.COUNTER50_12_LC_15_7_3 { U409_TICK.COUNTER50_RNO[12], U409_TICK.COUNTER50[12], U409_TICK.un2_COUNTER50_1_cry_12_c }
ble_pack U409_TICK.COUNTER50_RNO_0_13_LC_15_7_4 { U409_TICK.COUNTER50_RNO_0[13], U409_TICK.un2_COUNTER50_1_cry_13_c }
ble_pack U409_TICK.COUNTER50_RNO_0_14_LC_15_7_5 { U409_TICK.COUNTER50_RNO_0[14], U409_TICK.un2_COUNTER50_1_cry_14_c }
ble_pack U409_TICK.COUNTER50_RNO_0_15_LC_15_7_6 { U409_TICK.COUNTER50_RNO_0[15], U409_TICK.un2_COUNTER50_1_cry_15_c }
ble_pack U409_TICK.COUNTER50_16_LC_15_7_7 { U409_TICK.COUNTER50_RNO[16], U409_TICK.COUNTER50[16] }
clb_pack LT_15_7 { U409_TICK.COUNTER50_RNO_0_9_LC_15_7_0, U409_TICK.COUNTER50_10_LC_15_7_1, U409_TICK.COUNTER50_RNO_0_11_LC_15_7_2, U409_TICK.COUNTER50_12_LC_15_7_3, U409_TICK.COUNTER50_RNO_0_13_LC_15_7_4, U409_TICK.COUNTER50_RNO_0_14_LC_15_7_5, U409_TICK.COUNTER50_RNO_0_15_LC_15_7_6, U409_TICK.COUNTER50_16_LC_15_7_7 }
set_location LT_15_7 15 7
ble_pack U409_TRANSFER_ACK.LASTCLK_0_LC_15_8_4 { U409_TRANSFER_ACK.LASTCLK_0_THRU_LUT4_0, U409_TRANSFER_ACK.LASTCLK[0] }
clb_pack LT_15_8 { U409_TRANSFER_ACK.LASTCLK_0_LC_15_8_4 }
set_location LT_15_8 15 8
ble_pack U409_TRANSFER_ACK.ROM_TACK_STATE_1_LC_15_9_4 { U409_TRANSFER_ACK.ROM_TACK_STATE_ns_1_0_.m16, U409_TRANSFER_ACK.ROM_TACK_STATE[1] }
ble_pack U409_TRANSFER_ACK.ROM_TACK_EN_LC_15_9_6 { U409_TRANSFER_ACK.ROM_TACK_EN_RNO, U409_TRANSFER_ACK.ROM_TACK_EN }
clb_pack LT_15_9 { U409_TRANSFER_ACK.ROM_TACK_STATE_1_LC_15_9_4, U409_TRANSFER_ACK.ROM_TACK_EN_LC_15_9_6 }
set_location LT_15_9 15 9
ble_pack U409_TRANSFER_ACK.ROMENn_LC_15_10_6 { U409_TRANSFER_ACK.ROMENn_RNO, U409_TRANSFER_ACK.ROMENn }
clb_pack LT_15_10 { U409_TRANSFER_ACK.ROMENn_LC_15_10_6 }
set_location LT_15_10 15 10
ble_pack U409_TICK.COUNTER60_0_LC_16_5_0 { U409_TICK.COUNTER60_RNO[0], U409_TICK.COUNTER60[0] }
ble_pack U409_TICK.COUNTER60_15_LC_16_5_1 { U409_TICK.COUNTER60_RNO[15], U409_TICK.COUNTER60[15] }
ble_pack U409_TICK.COUNTER60_RNIDB4S_16_LC_16_5_2 { U409_TICK.COUNTER60_RNIDB4S[16] }
ble_pack U409_TICK.COUNTER60_8_LC_16_5_3 { U409_TICK.COUNTER60_RNO[8], U409_TICK.COUNTER60[8] }
ble_pack U409_TICK.COUNTER60_9_LC_16_5_4 { U409_TICK.COUNTER60_RNO[9], U409_TICK.COUNTER60[9] }
ble_pack U409_TICK.COUNTER60_1_LC_16_5_5 { U409_TICK.COUNTER60_RNO[1], U409_TICK.COUNTER60[1] }
ble_pack U409_TICK.COUNTER60_RNI2USG_10_LC_16_5_6 { U409_TICK.COUNTER60_RNI2USG[10] }
ble_pack U409_TICK.COUNTER60_14_LC_16_5_7 { U409_TICK.COUNTER60_RNO[14], U409_TICK.COUNTER60[14] }
clb_pack LT_16_5 { U409_TICK.COUNTER60_0_LC_16_5_0, U409_TICK.COUNTER60_15_LC_16_5_1, U409_TICK.COUNTER60_RNIDB4S_16_LC_16_5_2, U409_TICK.COUNTER60_8_LC_16_5_3, U409_TICK.COUNTER60_9_LC_16_5_4, U409_TICK.COUNTER60_1_LC_16_5_5, U409_TICK.COUNTER60_RNI2USG_10_LC_16_5_6, U409_TICK.COUNTER60_14_LC_16_5_7 }
set_location LT_16_5 16 5
ble_pack U409_TICK.COUNTER50_RNID6CP_3_LC_16_6_0 { U409_TICK.COUNTER50_RNID6CP[3] }
ble_pack U409_TICK.COUNTER50_RNITU182_10_LC_16_6_1 { U409_TICK.COUNTER50_RNITU182[10] }
ble_pack U409_TICK.COUNTER50_9_LC_16_6_2 { U409_TICK.COUNTER50_RNO[9], U409_TICK.COUNTER50[9] }
ble_pack U409_TICK.COUNTER50_0_LC_16_6_3 { U409_TICK.COUNTER50_RNO[0], U409_TICK.COUNTER50[0] }
ble_pack U409_TICK.COUNTER50_11_LC_16_6_4 { U409_TICK.COUNTER50_RNO[11], U409_TICK.COUNTER50[11] }
ble_pack U409_TICK.COUNTER50_RNIH14V_11_LC_16_6_5 { U409_TICK.COUNTER50_RNIH14V[11] }
ble_pack U409_TICK.COUNTER50_14_LC_16_6_6 { U409_TICK.COUNTER50_RNO[14], U409_TICK.COUNTER50[14] }
ble_pack U409_TICK.COUNTER50_5_LC_16_6_7 { U409_TICK.COUNTER50_RNO[5], U409_TICK.COUNTER50[5] }
clb_pack LT_16_6 { U409_TICK.COUNTER50_RNID6CP_3_LC_16_6_0, U409_TICK.COUNTER50_RNITU182_10_LC_16_6_1, U409_TICK.COUNTER50_9_LC_16_6_2, U409_TICK.COUNTER50_0_LC_16_6_3, U409_TICK.COUNTER50_11_LC_16_6_4, U409_TICK.COUNTER50_RNIH14V_11_LC_16_6_5, U409_TICK.COUNTER50_14_LC_16_6_6, U409_TICK.COUNTER50_5_LC_16_6_7 }
set_location LT_16_6 16 6
ble_pack U409_TICK.COUNTER50_RNII24V_14_LC_16_7_5 { U409_TICK.COUNTER50_RNII24V[14] }
ble_pack U409_TICK.COUNTER50_15_LC_16_7_6 { U409_TICK.COUNTER50_RNO[15], U409_TICK.COUNTER50[15] }
clb_pack LT_16_7 { U409_TICK.COUNTER50_RNII24V_14_LC_16_7_5, U409_TICK.COUNTER50_15_LC_16_7_6 }
set_location LT_16_7 16 7
ble_pack U409_TICK.un3_COUNTER60_1_cry_1_c_LC_17_5_0 { U409_TICK.un3_COUNTER60_1_cry_1_c }
ble_pack U409_TICK.COUNTER60_2_LC_17_5_1 { U409_TICK.COUNTER60_RNO[2], U409_TICK.COUNTER60[2], U409_TICK.un3_COUNTER60_1_cry_2_c }
ble_pack U409_TICK.COUNTER60_3_LC_17_5_2 { U409_TICK.COUNTER60_RNO[3], U409_TICK.COUNTER60[3], U409_TICK.un3_COUNTER60_1_cry_3_c }
ble_pack U409_TICK.COUNTER60_RNO_0_4_LC_17_5_3 { U409_TICK.COUNTER60_RNO_0[4], U409_TICK.un3_COUNTER60_1_cry_4_c }
ble_pack U409_TICK.COUNTER60_5_LC_17_5_4 { U409_TICK.COUNTER60_RNO[5], U409_TICK.COUNTER60[5], U409_TICK.un3_COUNTER60_1_cry_5_c }
ble_pack U409_TICK.COUNTER60_RNO_0_6_LC_17_5_5 { U409_TICK.COUNTER60_RNO_0[6], U409_TICK.un3_COUNTER60_1_cry_6_c }
ble_pack U409_TICK.COUNTER60_7_LC_17_5_6 { U409_TICK.COUNTER60_RNO[7], U409_TICK.COUNTER60[7], U409_TICK.un3_COUNTER60_1_cry_7_c }
ble_pack U409_TICK.COUNTER60_RNO_0_8_LC_17_5_7 { U409_TICK.COUNTER60_RNO_0[8], U409_TICK.un3_COUNTER60_1_cry_8_c }
clb_pack LT_17_5 { U409_TICK.un3_COUNTER60_1_cry_1_c_LC_17_5_0, U409_TICK.COUNTER60_2_LC_17_5_1, U409_TICK.COUNTER60_3_LC_17_5_2, U409_TICK.COUNTER60_RNO_0_4_LC_17_5_3, U409_TICK.COUNTER60_5_LC_17_5_4, U409_TICK.COUNTER60_RNO_0_6_LC_17_5_5, U409_TICK.COUNTER60_7_LC_17_5_6, U409_TICK.COUNTER60_RNO_0_8_LC_17_5_7 }
set_location LT_17_5 17 5
ble_pack U409_TICK.COUNTER60_RNO_0_9_LC_17_6_0 { U409_TICK.COUNTER60_RNO_0[9], U409_TICK.un3_COUNTER60_1_cry_9_c }
ble_pack U409_TICK.COUNTER60_10_LC_17_6_1 { U409_TICK.COUNTER60_RNO[10], U409_TICK.COUNTER60[10], U409_TICK.un3_COUNTER60_1_cry_10_c }
ble_pack U409_TICK.COUNTER60_11_LC_17_6_2 { U409_TICK.COUNTER60_RNO[11], U409_TICK.COUNTER60[11], U409_TICK.un3_COUNTER60_1_cry_11_c }
ble_pack U409_TICK.COUNTER60_12_LC_17_6_3 { U409_TICK.COUNTER60_RNO[12], U409_TICK.COUNTER60[12], U409_TICK.un3_COUNTER60_1_cry_12_c }
ble_pack U409_TICK.COUNTER60_13_LC_17_6_4 { U409_TICK.COUNTER60_RNO[13], U409_TICK.COUNTER60[13], U409_TICK.un3_COUNTER60_1_cry_13_c }
ble_pack U409_TICK.COUNTER60_RNO_0_14_LC_17_6_5 { U409_TICK.COUNTER60_RNO_0[14], U409_TICK.un3_COUNTER60_1_cry_14_c }
ble_pack U409_TICK.COUNTER60_RNO_0_15_LC_17_6_6 { U409_TICK.COUNTER60_RNO_0[15], U409_TICK.un3_COUNTER60_1_cry_15_c }
ble_pack U409_TICK.COUNTER60_16_LC_17_6_7 { U409_TICK.COUNTER60_RNO[16], U409_TICK.COUNTER60[16] }
clb_pack LT_17_6 { U409_TICK.COUNTER60_RNO_0_9_LC_17_6_0, U409_TICK.COUNTER60_10_LC_17_6_1, U409_TICK.COUNTER60_11_LC_17_6_2, U409_TICK.COUNTER60_12_LC_17_6_3, U409_TICK.COUNTER60_13_LC_17_6_4, U409_TICK.COUNTER60_RNO_0_14_LC_17_6_5, U409_TICK.COUNTER60_RNO_0_15_LC_17_6_6, U409_TICK.COUNTER60_16_LC_17_6_7 }
set_location LT_17_6 17 6
ble_pack U409_TICK.COUNTER50_13_LC_17_7_6 { U409_TICK.COUNTER50_RNO[13], U409_TICK.COUNTER50[13] }
clb_pack LT_17_7 { U409_TICK.COUNTER50_13_LC_17_7_6 }
set_location LT_17_7 17 7
ble_pack U409_ADDRESS_DECODE.PCS1_LC_20_2_4 { U409_ADDRESS_DECODE.PCS1 }
clb_pack LT_20_2 { U409_ADDRESS_DECODE.PCS1_LC_20_2_4 }
set_location LT_20_2 20 2
ble_pack U409_ADDRESS_DECODE.SCS0_LC_20_3_2 { U409_ADDRESS_DECODE.SCS0 }
clb_pack LT_20_3 { U409_ADDRESS_DECODE.SCS0_LC_20_3_2 }
set_location LT_20_3 20 3
ble_pack U409_ADDRESS_DECODE.PCS0_LC_22_2_0 { U409_ADDRESS_DECODE.PCS0 }
clb_pack LT_22_2 { U409_ADDRESS_DECODE.PCS0_LC_22_2_0 }
set_location LT_22_2 22 2
ble_pack U409_ADDRESS_DECODE.SCS1_LC_22_3_2 { U409_ADDRESS_DECODE.SCS1 }
clb_pack LT_22_3 { U409_ADDRESS_DECODE.SCS1_LC_22_3_2 }
set_location LT_22_3 22 3
ble_pack CONSTANT_ONE_LUT4_LC_22_10_3 { CONSTANT_ONE_LUT4 }
clb_pack LT_22_10 { CONSTANT_ONE_LUT4_LC_22_10_3 }
set_location LT_22_10 22 10
ble_pack AGNUS_CLK_obuf_RNO_LC_24_14_2 { AGNUS_CLK_obuf_RNO }
clb_pack LT_24_14 { AGNUS_CLK_obuf_RNO_LC_24_14_2 }
set_location LT_24_14 24 14
set_location RESETn_ibuf_RNIM9SF_0 12 21
set_io D[7] 47
set_io RESETn 62
set_io OVL 83
set_io CONFIGENn 56
set_io A[20] 17
set_io PPIO 87
set_io A[31] 10
set_io A[1] 144
set_io TT[1] 139
set_io PORTSIZE 135
set_io A[17] 33
set_io TICK60 63
set_io ROM_DELAY[0] 106
set_io PCS1 76
set_io CIACS0n 80
set_io A[25] 12
set_io SCS0 78
set_io CPUCONFn 130
set_io CLK6 52
set_io A[6] 20
set_io A[15] 31
set_io AGNUS_CLK 97
set_io CLK_CIA 122
set_io BUFENn 121
set_io A[23] 16
set_io A[12] 26
set_io AUTOBOOT 110
set_io RnW 142
set_io D[6] 45
set_io A[4] 18
set_io XCLK 93
set_io CIACS1n 81
set_io A[21] 15
set_io D[4] 43
set_io A[30] 9
set_io A[28] 2
set_io A[2] 143
set_io A[19] 37
set_io TT[0] 138
set_io PPIO_J 112
set_io A[16] 32
set_io TICK50 64
set_io TCIn 117
set_io TBIn 118
set_io RAMSPACEn 48
set_io A[26] 4
set_io A[7] 21
set_io A[14] 29
set_io ROM_DELAY[1] 107
set_io PCS0 75
set_io CLK40_IN 129
set_io CLK28_IN 94
set_io A[24] 8
set_io XCLK_ENn 102
set_io SCS1 79
set_io REGSPACEn 120
set_io F_ENn 95
set_io A[5] 19
set_io TSn 134
set_io SPIO_J 113
set_io SPIO 88
set_io RTC_ENn 82
set_io A[22] 3
set_io A[13] 28
set_io A[3] 1
set_io A[29] 7
set_io A[18] 34
set_io ATA_ENn 90
set_io TACKn 119
set_io D[5] 44
set_io A[27] 11
set_io ROMENn 124
