set_location CONSTANT_ONE_LUT4 9 18 3 #SB_LUT4
set_location GB_BUFFER_CLK40_THRU_LUT4_0 13 11 0 #SB_LUT4
set_location GB_BUFFER_CLK80_THRU_LUT4_0 13 11 2 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_7_THRU_LUT4_0 14 15 1 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_6_THRU_LUT4_0 15 15 7 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_5_THRU_LUT4_0 16 15 2 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_4_THRU_LUT4_0 15 15 6 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_3_THRU_LUT4_0 15 15 4 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_2_THRU_LUT4_0 14 15 0 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_1_THRU_LUT4_0 14 15 3 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_0_THRU_LUT4_0 16 15 3 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_7_THRU_LUT4_0 16 15 4 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_6_THRU_LUT4_0 15 13 4 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_5_THRU_LUT4_0 15 15 2 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_4_THRU_LUT4_0 16 15 1 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_3_THRU_LUT4_0 15 15 0 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_2_THRU_LUT4_0 15 13 6 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_1_THRU_LUT4_0 14 15 7 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_0_THRU_LUT4_0 15 13 1 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_START_RNO_0 13 13 7 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNI5LQV1 11 20 2 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr[5] 16 15 2 #SB_DFFNESR
set_location U111_CYCLE_SM.UM_LATCHED_nesr[5] 15 15 2 #SB_DFFNESR
set_location U111_CYCLE_SM.LW_CYCLE_RNI3JQV1 13 20 2 #SB_LUT4
set_location U111_CYCLE_SM.TS_EN_RNO 13 13 4 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIU1PB2 13 20 0 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE[0] 14 14 5 #SB_DFFN
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[1] 14 13 5 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr[2] 14 15 0 #SB_DFFNESR
set_location U111_CYCLE_SM.UM_LATCHED_nesr[2] 15 13 6 #SB_DFFNESR
set_location U111_CYCLE_SM.TA_EN_RNO_0 13 13 6 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIEN7L[0] 15 11 0 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNI7NQV1 12 20 0 #SB_LUT4
set_location U111_CYCLE_SM.TS_EN 13 13 4 #SB_DFFN
set_location U111_CYCLE_SM.A_OUT 13 13 2 #SB_DFFN
set_location U111_CYCLE_SM.LW_CYCLE_START 13 13 0 #SB_DFFN
set_location U111_CYCLE_SM.LW_CYCLE_RNI9PQV1 9 20 3 #SB_LUT4
set_location U111_CYCLE_SM.A_OUT_RNO_0 13 13 1 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNI6ON51[4] 15 16 6 #SB_LUT4
set_location U111_CYCLE_SM.TS_EN_RNO_0 13 13 3 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIGP7L[1] 14 16 5 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNIASN51[6] 15 18 2 #SB_LUT4
set_location U111_CYCLE_SM.LW_TRANS 13 16 0 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNISVOB2 12 19 3 #SB_LUT4
set_location BUFENn_obuf_RNO 11 18 1 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIS58L[7] 16 16 0 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNINHJF2 10 12 4 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNI26PB2 10 19 1 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNICUN51[7] 14 18 6 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr[7] 14 15 1 #SB_DFFNESR
set_location U111_CYCLE_SM.UM_LATCHED_nesr[7] 16 15 4 #SB_DFFNESR
set_location U111_CYCLE_SM.A_OUT_RNO 13 13 2 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIVPJF2 9 15 3 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIC8UI2 13 2 6 #SB_LUT4
set_location U111_CYCLE_SM.TA_EN_RNO 13 14 6 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNIUFN51[0] 16 16 2 #SB_LUT4
set_location U111_CYCLE_SM.TA_EN_RNIVCEG 14 16 4 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIPJJF2 10 12 2 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_0[0] 14 14 4 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIMIUI2 12 6 2 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIM3VM1 13 10 3 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr[0] 16 15 3 #SB_DFFNESR
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIKT7L[3] 15 18 7 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr[0] 15 13 1 #SB_DFFNESR
set_location U111_CYCLE_SM.CPU_READ_EN_i 14 13 2 #SB_LUT4
set_location U111_CYCLE_SM.TS_EN_RNO_2 14 18 1 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNO 14 14 1 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIIEUI2 12 3 7 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE 14 14 1 #SB_DFFN
set_location U111_CYCLE_SM.TSn_RNO 11 1 7 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNIGD9C1[0] 15 14 5 #SB_LUT4
set_location RnW_c_sbtinv 6 18 6 #SB_LUT4
set_location LBENn_c_sbtinv 11 1 1 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr[4] 15 15 6 #SB_DFFNESR
set_location U111_CYCLE_SM.UM_LATCHED_nesr[4] 16 15 1 #SB_DFFNESR
set_location U111_CYCLE_SM.LW_CYCLE_RNITNJF2 9 15 0 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNI04PB2 11 13 4 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNIULFD[0] 15 14 4 #SB_LUT4
set_location U111_CYCLE_SM.A_OUT_RNIK8GP 3 1 1 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNI0IN51[1] 14 16 0 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIJDJF2 12 7 0 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE[1] 14 13 5 #SB_DFFN
set_location GND -1 -1 -1 #GND
set_location U111_CYCLE_SM.LW_CYCLE_RNIN15M 3 1 7 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr[1] 14 15 3 #SB_DFFNESR
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIIR7L[2] 15 11 5 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr[1] 14 15 7 #SB_DFFNESR
set_location U111_CYCLE_SM.LW_CYCLE_START_RNO 13 13 0 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNO_1 14 14 7 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNILFJF2 13 10 4 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNI8QN51[5] 16 16 3 #SB_LUT4
set_location U111_CYCLE_SM.TSn 11 1 7 #SB_DFFN
set_location U111_CYCLE_SM.TA_EN_RNI4SHG 14 1 2 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIQ38L[6] 15 12 1 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNO_0 14 14 0 #SB_LUT4
set_location U111_CYCLE_SM.TA_EN 13 14 6 #SB_DFFNSS
set_location U111_CYCLE_SM.LW_CYCLE_RNIA6UI2 11 1 0 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNIE3PP1[0] 15 14 6 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNI2KN51[2] 14 18 7 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIVEQV1 11 18 3 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNITCQV1 9 20 4 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNI4MN51[3] 15 16 2 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIGCUI2 13 2 4 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr[6] 15 15 7 #SB_DFFNESR
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIO18L[5] 15 16 0 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr[6] 15 13 4 #SB_DFFNESR
set_location U111_CYCLE_SM.LW_CYCLE_RNIKGUI2 11 6 6 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIEAUI2 12 3 6 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[0] 14 14 5 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr[3] 15 15 4 #SB_DFFNESR
set_location U111_CYCLE_SM.UM_LATCHED_nesr[3] 15 15 0 #SB_DFFNESR
set_location U111_CYCLE_SM.LW_CYCLE_RNI1SJF2 13 16 4 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNI1HQV1 11 20 7 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIOKUI2 12 7 5 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIBRQV1 12 20 1 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIMPOB2 11 15 4 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIRLJF2 11 13 2 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIQTOB2 9 18 1 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIKNOB2 12 9 0 #SB_LUT4
set_location U111_CYCLE_SM.TS_EN_RNO_1 14 13 1 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIMV7L[4] 16 16 7 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIOROB2 9 10 7 #SB_LUT4
set_io D_UU_AMIGA[3] 144
set_io D_LL_AMIGA[4] 29
set_io D_LL_040[1] 75
set_io D_LM_AMIGA[6] 9
set_io A_040[1] 38
set_io TSn 45
set_io D_UM_AMIGA[0] 17
set_io D_UM_040[0] 88
set_io D_LM_040[4] 87
set_io D_UU_AMIGA[7] 143
set_io D_UU_040[7] 116
set_io D_LM_AMIGA[1] 22
set_io D_LL_AMIGA[0] 33
set_io D_LL_040[5] 79
set_io RESETn 34
set_io SIZ[0] 121
set_io D_LM_040[1] 83
set_io CLKRAMA 56
set_io PORTSIZE 42
set_io D_UM_AMIGA[4] 3
set_io D_LL_AMIGA[5] 25
set_io D_LL_040[0] 74
set_io TEA_CPUn 122
set_io LBENn 48
set_io D_UU_040[3] 112
set_io D_UM_AMIGA[3] 7
set_io D_UM_040[5] 114
set_io D_LM_AMIGA[5] 12
set_io D_LM_040[7] 99
set_io D_UU_AMIGA[2] 139
set_io D_UU_040[4] 119
set_io D_LL_AMIGA[7] 24
set_io D_LL_040[6] 80
set_io CLK40B 49
set_io A_040[0] 37
set_io TBI_CPUn 64
set_io TAn 124
set_io D_UM_AMIGA[1] 11
set_io D_UM_040[7] 105
set_io D_LM_AMIGA[7] 10
set_io D_LM_040[5] 90
set_io CPUBGn 102
set_io BUFENn 135
set_io RnW 97
set_io D_UU_AMIGA[0] 138
set_io D_UU_040[6] 115
set_io D_LM_AMIGA[0] 23
set_io D_LL_AMIGA[1] 28
set_io D_LL_040[4] 76
set_io CLK80_CPU 94
set_io BUFDIR 136
set_io A_AMIGA[1] 41
set_io TCI_CPUn 101
set_io D_UM_AMIGA[7] 4
set_io D_UM_040[1] 104
set_io TS_CPUn 125
set_io D_UU_AMIGA[6] 142
set_io D_UU_040[0] 117
set_io D_LM_AMIGA[2] 18
set_io D_LM_040[2] 84
set_io D_LL_AMIGA[3] 32
set_io CLKRAMB 52
set_io D_UM_AMIGA[5] 141
set_io D_UM_040[3] 106
set_io D_LL_040[3] 73
set_io CLK40A 93
set_io SIZ[1] 120
set_io D_UU_AMIGA[4] 137
set_io D_UU_040[2] 118
set_io D_UM_040[4] 110
set_io D_LM_AMIGA[4] 16
set_io D_LM_040[0] 82
set_io DMAn 134
set_io CLK40C 21
set_io D_UM_AMIGA[2] 15
set_io D_UM_040[6] 95
set_io D_LM_040[6] 98
set_io CLK40_IN 129
set_io D_UU_AMIGA[1] 8
set_io D_UU_040[5] 113
set_io D_LL_AMIGA[6] 26
set_io D_LL_040[7] 81
set_io D_LM_040[3] 85
set_io A_AMIGA[0] 39
set_io D_UM_AMIGA[6] 2
set_io D_UM_040[2] 91
set_io D_LL_040[2] 78
set_io TACKn 47
set_io D_UU_AMIGA[5] 1
set_io D_UU_040[1] 107
set_io D_LM_AMIGA[3] 19
set_io D_LL_AMIGA[2] 31
set_io BGn 96
