ble_pack U111_CYCLE_SM.A2_EN_RNIA87G_LC_3_1_2 { U111_CYCLE_SM.A2_EN_RNIA87G }
ble_pack U111_CYCLE_SM.A2_EN_RNIB97G_LC_3_1_7 { U111_CYCLE_SM.A2_EN_RNIB97G }
clb_pack LT_3_1 { U111_CYCLE_SM.A2_EN_RNIA87G_LC_3_1_2, U111_CYCLE_SM.A2_EN_RNIB97G_LC_3_1_7 }
set_location LT_3_1 3 1
ble_pack U111_CYCLE_SM.FLIP_WORD_RNIU8T71_LC_8_3_0 { U111_CYCLE_SM.FLIP_WORD_RNIU8T71 }
ble_pack U111_CYCLE_SM.FLIP_WORD_RNI0BT71_LC_8_3_3 { U111_CYCLE_SM.FLIP_WORD_RNI0BT71 }
ble_pack U111_CYCLE_SM.FLIP_WORD_RNI4FT71_LC_8_3_4 { U111_CYCLE_SM.FLIP_WORD_RNI4FT71 }
clb_pack LT_8_3 { U111_CYCLE_SM.FLIP_WORD_RNIU8T71_LC_8_3_0, U111_CYCLE_SM.FLIP_WORD_RNI0BT71_LC_8_3_3, U111_CYCLE_SM.FLIP_WORD_RNI4FT71_LC_8_3_4 }
set_location LT_8_3 8 3
ble_pack U111_CYCLE_SM.FLIP_WORD_RNIK6O01_LC_8_12_7 { U111_CYCLE_SM.FLIP_WORD_RNIK6O01 }
clb_pack LT_8_12 { U111_CYCLE_SM.FLIP_WORD_RNIK6O01_LC_8_12_7 }
set_location LT_8_12 8 12
ble_pack BUFENn_obuf_RNO_LC_8_13_3 { BUFENn_obuf_RNO }
ble_pack U111_CYCLE_SM.FLIP_WORD_RNIFOI41_LC_8_13_5 { U111_CYCLE_SM.FLIP_WORD_RNIFOI41 }
clb_pack LT_8_13 { BUFENn_obuf_RNO_LC_8_13_3, U111_CYCLE_SM.FLIP_WORD_RNIFOI41_LC_8_13_5 }
set_location LT_8_13 8 13
ble_pack U111_CYCLE_SM.FLIP_WORD_RNIHQI41_LC_8_15_0 { U111_CYCLE_SM.FLIP_WORD_RNIHQI41 }
ble_pack U111_CYCLE_SM.FLIP_WORD_RNILUI41_LC_8_15_2 { U111_CYCLE_SM.FLIP_WORD_RNILUI41 }
ble_pack U111_CYCLE_SM.FLIP_WORD_RNIJSI41_LC_8_15_5 { U111_CYCLE_SM.FLIP_WORD_RNIJSI41 }
clb_pack LT_8_15 { U111_CYCLE_SM.FLIP_WORD_RNIHQI41_LC_8_15_0, U111_CYCLE_SM.FLIP_WORD_RNILUI41_LC_8_15_2, U111_CYCLE_SM.FLIP_WORD_RNIJSI41_LC_8_15_5 }
set_location LT_8_15 8 15
ble_pack CONSTANT_ONE_LUT4_LC_8_20_1 { CONSTANT_ONE_LUT4 }
ble_pack U111_CYCLE_SM.FLIP_WORD_RNIVTPK_LC_8_20_3 { U111_CYCLE_SM.FLIP_WORD_RNIVTPK }
clb_pack LT_8_20 { CONSTANT_ONE_LUT4_LC_8_20_1, U111_CYCLE_SM.FLIP_WORD_RNIVTPK_LC_8_20_3 }
set_location LT_8_20 8 20
ble_pack U111_CYCLE_SM.FLIP_WORD_RNIDMI41_LC_9_11_1 { U111_CYCLE_SM.FLIP_WORD_RNIDMI41 }
ble_pack U111_CYCLE_SM.FLIP_WORD_RNI8QN01_LC_9_11_5 { U111_CYCLE_SM.FLIP_WORD_RNI8QN01 }
clb_pack LT_9_11 { U111_CYCLE_SM.FLIP_WORD_RNIDMI41_LC_9_11_1, U111_CYCLE_SM.FLIP_WORD_RNI8QN01_LC_9_11_5 }
set_location LT_9_11 9 11
ble_pack U111_CYCLE_SM.FLIP_WORD_RNIJHPK_LC_9_18_5 { U111_CYCLE_SM.FLIP_WORD_RNIJHPK }
clb_pack LT_9_18 { U111_CYCLE_SM.FLIP_WORD_RNIJHPK_LC_9_18_5 }
set_location LT_9_18 9 18
ble_pack U111_CYCLE_SM.FLIP_WORD_RNIPNPK_LC_9_20_0 { U111_CYCLE_SM.FLIP_WORD_RNIPNPK }
ble_pack U111_CYCLE_SM.FLIP_WORD_RNIHFPK_LC_9_20_6 { U111_CYCLE_SM.FLIP_WORD_RNIHFPK }
clb_pack LT_9_20 { U111_CYCLE_SM.FLIP_WORD_RNIPNPK_LC_9_20_0, U111_CYCLE_SM.FLIP_WORD_RNIHFPK_LC_9_20_6 }
set_location LT_9_20 9 20
ble_pack U111_CYCLE_SM.UM_LATCHED_esr_RNIC9FL_0_LC_10_10_5 { U111_CYCLE_SM.UM_LATCHED_esr_RNIC9FL[0] }
ble_pack U111_CYCLE_SM.FLIP_WORD_RNI9II41_LC_10_10_6 { U111_CYCLE_SM.FLIP_WORD_RNI9II41 }
clb_pack LT_10_10 { U111_CYCLE_SM.UM_LATCHED_esr_RNIC9FL_0_LC_10_10_5, U111_CYCLE_SM.FLIP_WORD_RNI9II41_LC_10_10_6 }
set_location LT_10_10 10 10
ble_pack U111_CYCLE_SM.TA_DIS_LC_10_11_4 { U111_CYCLE_SM.TA_DIS_RNO, U111_CYCLE_SM.TA_DIS }
clb_pack LT_10_11 { U111_CYCLE_SM.TA_DIS_LC_10_11_4 }
set_location LT_10_11 10 11
ble_pack U111_CYCLE_SM.UM_LATCHED_esr_0_LC_10_12_7 { U111_CYCLE_SM.UM_LATCHED_esr_0_THRU_LUT4_0, U111_CYCLE_SM.UM_LATCHED_esr[0] }
clb_pack LT_10_12 { U111_CYCLE_SM.UM_LATCHED_esr_0_LC_10_12_7 }
set_location LT_10_12 10 12
ble_pack U111_CYCLE_SM.UM_LATCHED_esr_RNIEBFL_1_LC_10_13_1 { U111_CYCLE_SM.UM_LATCHED_esr_RNIEBFL[1] }
ble_pack U111_CYCLE_SM.UM_LATCHED_esr_1_LC_10_13_2 { U111_CYCLE_SM.UM_LATCHED_esr_1_THRU_LUT4_0, U111_CYCLE_SM.UM_LATCHED_esr[1] }
clb_pack LT_10_13 { U111_CYCLE_SM.UM_LATCHED_esr_RNIEBFL_1_LC_10_13_1, U111_CYCLE_SM.UM_LATCHED_esr_1_LC_10_13_2 }
set_location LT_10_13 10 13
ble_pack U111_CYCLE_SM.UU_LATCHED_esr_RNIUR6Q_1_LC_10_14_6 { U111_CYCLE_SM.UU_LATCHED_esr_RNIUR6Q[1] }
ble_pack U111_CYCLE_SM.UU_LATCHED_esr_1_LC_10_14_7 { U111_CYCLE_SM.UU_LATCHED_esr_1_THRU_LUT4_0, U111_CYCLE_SM.UU_LATCHED_esr[1] }
clb_pack LT_10_14 { U111_CYCLE_SM.UU_LATCHED_esr_RNIUR6Q_1_LC_10_14_6, U111_CYCLE_SM.UU_LATCHED_esr_1_LC_10_14_7 }
set_location LT_10_14 10 14
ble_pack U111_CYCLE_SM.FLIP_WORD_RNILJPK_LC_10_20_1 { U111_CYCLE_SM.FLIP_WORD_RNILJPK }
ble_pack U111_CYCLE_SM.FLIP_WORD_RNII4O01_LC_10_20_6 { U111_CYCLE_SM.FLIP_WORD_RNII4O01 }
clb_pack LT_10_20 { U111_CYCLE_SM.FLIP_WORD_RNILJPK_LC_10_20_1, U111_CYCLE_SM.FLIP_WORD_RNII4O01_LC_10_20_6 }
set_location LT_10_20 10 20
ble_pack LBENn_c_sbtinv_LC_11_1_3 { LBENn_c_sbtinv }
clb_pack LT_11_1 { LBENn_c_sbtinv_LC_11_1_3 }
set_location LT_11_1 11 1
ble_pack U111_CYCLE_SM.FLIP_WORD_RNIALT71_LC_11_6_1 { U111_CYCLE_SM.FLIP_WORD_RNIALT71 }
ble_pack U111_CYCLE_SM.FLIP_WORD_RNI8JT71_LC_11_6_3 { U111_CYCLE_SM.FLIP_WORD_RNI8JT71 }
clb_pack LT_11_6 { U111_CYCLE_SM.FLIP_WORD_RNIALT71_LC_11_6_1, U111_CYCLE_SM.FLIP_WORD_RNI8JT71_LC_11_6_3 }
set_location LT_11_6 11 6
ble_pack U111_CYCLE_SM.FLIP_WORD_RNO_0_LC_11_7_0 { U111_CYCLE_SM.FLIP_WORD_RNO_0 }
ble_pack U111_CYCLE_SM.FLIP_WORD_RNICNT71_LC_11_7_3 { U111_CYCLE_SM.FLIP_WORD_RNICNT71 }
ble_pack U111_CYCLE_SM.FLIP_WORD_RNI7GI41_LC_11_7_7 { U111_CYCLE_SM.FLIP_WORD_RNI7GI41 }
clb_pack LT_11_7 { U111_CYCLE_SM.FLIP_WORD_RNO_0_LC_11_7_0, U111_CYCLE_SM.FLIP_WORD_RNICNT71_LC_11_7_3, U111_CYCLE_SM.FLIP_WORD_RNI7GI41_LC_11_7_7 }
set_location LT_11_7 11 7
ble_pack RESETn_ibuf_RNIM9SF_LC_11_9_1 { RESETn_ibuf_RNIM9SF }
ble_pack U111_CYCLE_SM.TSn_LC_11_9_5 { U111_CYCLE_SM.TSn_RNO, U111_CYCLE_SM.TSn }
ble_pack U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_RNIDDAN_LC_11_9_7 { U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_RNIDDAN }
clb_pack LT_11_9 { RESETn_ibuf_RNIM9SF_LC_11_9_1, U111_CYCLE_SM.TSn_LC_11_9_5, U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_RNIDDAN_LC_11_9_7 }
set_location LT_11_9 11 9
ble_pack U111_CYCLE_SM.LATCH_EN_LC_11_10_0 { U111_CYCLE_SM.LATCH_EN_RNO, U111_CYCLE_SM.LATCH_EN }
ble_pack U111_CYCLE_SM.TS_EN_LC_11_10_5 { U111_CYCLE_SM.TS_EN_RNO, U111_CYCLE_SM.TS_EN }
ble_pack U111_CYCLE_SM.FLIP_WORD_LC_11_10_7 { U111_CYCLE_SM.FLIP_WORD_RNO, U111_CYCLE_SM.FLIP_WORD }
clb_pack LT_11_10 { U111_CYCLE_SM.LATCH_EN_LC_11_10_0, U111_CYCLE_SM.TS_EN_LC_11_10_5, U111_CYCLE_SM.FLIP_WORD_LC_11_10_7 }
set_location LT_11_10 11 10
ble_pack U111_CYCLE_SM.FLIP_WORD_RNICUN01_LC_11_11_1 { U111_CYCLE_SM.FLIP_WORD_RNICUN01 }
ble_pack GB_BUFFER_CLK40_THRU_LUT4_0_LC_11_11_2 { GB_BUFFER_CLK40_THRU_LUT4_0 }
ble_pack U111_CYCLE_SM.TA_DIS_RNO_0_LC_11_11_3 { U111_CYCLE_SM.TA_DIS_RNO_0 }
ble_pack U111_CYCLE_SM.TS_EN_RNO_2_LC_11_11_4 { U111_CYCLE_SM.TS_EN_RNO_2 }
ble_pack U111_CYCLE_SM.TS_EN_RNO_0_LC_11_11_5 { U111_CYCLE_SM.TS_EN_RNO_0 }
ble_pack U111_CYCLE_SM.CYCLE_STATE_RNISO2G_3_LC_11_11_7 { U111_CYCLE_SM.CYCLE_STATE_RNISO2G[3] }
clb_pack LT_11_11 { U111_CYCLE_SM.FLIP_WORD_RNICUN01_LC_11_11_1, GB_BUFFER_CLK40_THRU_LUT4_0_LC_11_11_2, U111_CYCLE_SM.TA_DIS_RNO_0_LC_11_11_3, U111_CYCLE_SM.TS_EN_RNO_2_LC_11_11_4, U111_CYCLE_SM.TS_EN_RNO_0_LC_11_11_5, U111_CYCLE_SM.CYCLE_STATE_RNISO2G_3_LC_11_11_7 }
set_location LT_11_11 11 11
ble_pack U111_CYCLE_SM.READ_CYCLE_ACTIVE_LC_11_12_1 { U111_CYCLE_SM.READ_CYCLE_ACTIVE_RNO, U111_CYCLE_SM.READ_CYCLE_ACTIVE }
ble_pack U111_CYCLE_SM.READ_CYCLE_ACTIVE_RNIUBHI_LC_11_12_4 { U111_CYCLE_SM.READ_CYCLE_ACTIVE_RNIUBHI }
clb_pack LT_11_12 { U111_CYCLE_SM.READ_CYCLE_ACTIVE_LC_11_12_1, U111_CYCLE_SM.READ_CYCLE_ACTIVE_RNIUBHI_LC_11_12_4 }
set_location LT_11_12 11 12
ble_pack U111_CYCLE_SM.READ_CYCLE_ACTIVE_RNIGTO81_LC_11_13_0 { U111_CYCLE_SM.READ_CYCLE_ACTIVE_RNIGTO81 }
ble_pack U111_CYCLE_SM.CYCLE_STATE_RNI0BVS1_2_LC_11_13_1 { U111_CYCLE_SM.CYCLE_STATE_RNI0BVS1[2] }
clb_pack LT_11_13 { U111_CYCLE_SM.READ_CYCLE_ACTIVE_RNIGTO81_LC_11_13_0, U111_CYCLE_SM.CYCLE_STATE_RNI0BVS1_2_LC_11_13_1 }
set_location LT_11_13 11 13
ble_pack U111_CYCLE_SM.UM_LATCHED_esr_7_LC_11_14_0 { U111_CYCLE_SM.UM_LATCHED_esr_7_THRU_LUT4_0, U111_CYCLE_SM.UM_LATCHED_esr[7] }
ble_pack U111_CYCLE_SM.UU_LATCHED_esr_2_LC_11_14_1 { U111_CYCLE_SM.UU_LATCHED_esr_2_THRU_LUT4_0, U111_CYCLE_SM.UU_LATCHED_esr[2] }
ble_pack U111_CYCLE_SM.UM_LATCHED_esr_5_LC_11_14_2 { U111_CYCLE_SM.UM_LATCHED_esr_5_THRU_LUT4_0, U111_CYCLE_SM.UM_LATCHED_esr[5] }
ble_pack U111_CYCLE_SM.UU_LATCHED_esr_6_LC_11_14_4 { U111_CYCLE_SM.UU_LATCHED_esr_6_THRU_LUT4_0, U111_CYCLE_SM.UU_LATCHED_esr[6] }
ble_pack U111_CYCLE_SM.UU_LATCHED_esr_7_LC_11_14_5 { U111_CYCLE_SM.UU_LATCHED_esr_7_THRU_LUT4_0, U111_CYCLE_SM.UU_LATCHED_esr[7] }
ble_pack U111_CYCLE_SM.UU_LATCHED_esr_0_LC_11_14_7 { U111_CYCLE_SM.UU_LATCHED_esr_0_THRU_LUT4_0, U111_CYCLE_SM.UU_LATCHED_esr[0] }
clb_pack LT_11_14 { U111_CYCLE_SM.UM_LATCHED_esr_7_LC_11_14_0, U111_CYCLE_SM.UU_LATCHED_esr_2_LC_11_14_1, U111_CYCLE_SM.UM_LATCHED_esr_5_LC_11_14_2, U111_CYCLE_SM.UU_LATCHED_esr_6_LC_11_14_4, U111_CYCLE_SM.UU_LATCHED_esr_7_LC_11_14_5, U111_CYCLE_SM.UU_LATCHED_esr_0_LC_11_14_7 }
set_location LT_11_14 11 14
ble_pack U111_CYCLE_SM.UU_LATCHED_esr_RNI867Q_6_LC_11_16_3 { U111_CYCLE_SM.UU_LATCHED_esr_RNI867Q[6] }
ble_pack U111_CYCLE_SM.UU_LATCHED_esr_RNISP6Q_0_LC_11_16_4 { U111_CYCLE_SM.UU_LATCHED_esr_RNISP6Q[0] }
clb_pack LT_11_16 { U111_CYCLE_SM.UU_LATCHED_esr_RNI867Q_6_LC_11_16_3, U111_CYCLE_SM.UU_LATCHED_esr_RNISP6Q_0_LC_11_16_4 }
set_location LT_11_16 11 16
ble_pack U111_CYCLE_SM.UU_LATCHED_esr_RNI0U6Q_2_LC_11_20_1 { U111_CYCLE_SM.UU_LATCHED_esr_RNI0U6Q[2] }
ble_pack U111_CYCLE_SM.UM_LATCHED_esr_RNIMJFL_5_LC_11_20_3 { U111_CYCLE_SM.UM_LATCHED_esr_RNIMJFL[5] }
ble_pack U111_CYCLE_SM.UU_LATCHED_esr_RNIA87Q_7_LC_11_20_7 { U111_CYCLE_SM.UU_LATCHED_esr_RNIA87Q[7] }
clb_pack LT_11_20 { U111_CYCLE_SM.UU_LATCHED_esr_RNI0U6Q_2_LC_11_20_1, U111_CYCLE_SM.UM_LATCHED_esr_RNIMJFL_5_LC_11_20_3, U111_CYCLE_SM.UU_LATCHED_esr_RNIA87Q_7_LC_11_20_7 }
set_location LT_11_20 11 20
ble_pack U111_CYCLE_SM.FLIP_WORD_RNI2DT71_LC_12_3_0 { U111_CYCLE_SM.FLIP_WORD_RNI2DT71 }
ble_pack U111_CYCLE_SM.FLIP_WORD_RNI6HT71_LC_12_3_7 { U111_CYCLE_SM.FLIP_WORD_RNI6HT71 }
clb_pack LT_12_3 { U111_CYCLE_SM.FLIP_WORD_RNI2DT71_LC_12_3_0, U111_CYCLE_SM.FLIP_WORD_RNI6HT71_LC_12_3_7 }
set_location LT_12_3 12 3
ble_pack U111_CYCLE_SM.A2_EN_LC_12_9_7 { U111_CYCLE_SM.A2_EN_RNO, U111_CYCLE_SM.A2_EN }
clb_pack LT_12_9 { U111_CYCLE_SM.A2_EN_LC_12_9_7 }
set_location LT_12_9 12 9
ble_pack U111_CYCLE_SM.CYCLE_STATE_RNIJG6K_5_LC_12_10_0 { U111_CYCLE_SM.CYCLE_STATE_RNIJG6K[5] }
ble_pack U111_CYCLE_SM.CYCLE_STATE_1_LC_12_10_1 { U111_CYCLE_SM.CYCLE_STATE_RNO[1], U111_CYCLE_SM.CYCLE_STATE[1] }
ble_pack U111_CYCLE_SM.TS_EN_RNO_1_LC_12_10_2 { U111_CYCLE_SM.TS_EN_RNO_1 }
ble_pack U111_CYCLE_SM.CYCLE_STATE_4_LC_12_10_3 { U111_CYCLE_SM.CYCLE_STATE_RNO[4], U111_CYCLE_SM.CYCLE_STATE[4] }
ble_pack U111_CYCLE_SM.CYCLE_STATE_RNO_0_5_LC_12_10_5 { U111_CYCLE_SM.CYCLE_STATE_RNO_0[5] }
ble_pack U111_CYCLE_SM.CYCLE_STATE_5_LC_12_10_6 { U111_CYCLE_SM.CYCLE_STATE_RNO[5], U111_CYCLE_SM.CYCLE_STATE[5] }
clb_pack LT_12_10 { U111_CYCLE_SM.CYCLE_STATE_RNIJG6K_5_LC_12_10_0, U111_CYCLE_SM.CYCLE_STATE_1_LC_12_10_1, U111_CYCLE_SM.TS_EN_RNO_1_LC_12_10_2, U111_CYCLE_SM.CYCLE_STATE_4_LC_12_10_3, U111_CYCLE_SM.CYCLE_STATE_RNO_0_5_LC_12_10_5, U111_CYCLE_SM.CYCLE_STATE_5_LC_12_10_6 }
set_location LT_12_10 12 10
ble_pack U111_CYCLE_SM.CYCLE_STATE_RNITIC9_0_LC_12_11_0 { U111_CYCLE_SM.CYCLE_STATE_RNITIC9[0] }
ble_pack U111_CYCLE_SM.CYCLE_STATE_RNO_1_0_LC_12_11_1 { U111_CYCLE_SM.CYCLE_STATE_RNO_1[0] }
ble_pack U111_CYCLE_SM.TA_DIS_RNICJKJ_LC_12_11_2 { U111_CYCLE_SM.TA_DIS_RNICJKJ }
ble_pack U111_CYCLE_SM.CYCLE_STATE_RNO_3_0_LC_12_11_3 { U111_CYCLE_SM.CYCLE_STATE_RNO_3[0] }
ble_pack U111_CYCLE_SM.CYCLE_STATE_RNO_0_0_LC_12_11_4 { U111_CYCLE_SM.CYCLE_STATE_RNO_0[0] }
ble_pack U111_CYCLE_SM.CYCLE_STATE_0_LC_12_11_5 { U111_CYCLE_SM.CYCLE_STATE_RNO[0], U111_CYCLE_SM.CYCLE_STATE[0] }
ble_pack U111_CYCLE_SM.CYCLE_STATE_3_LC_12_11_7 { U111_CYCLE_SM.CYCLE_STATE_RNO[3], U111_CYCLE_SM.CYCLE_STATE[3] }
clb_pack LT_12_11 { U111_CYCLE_SM.CYCLE_STATE_RNITIC9_0_LC_12_11_0, U111_CYCLE_SM.CYCLE_STATE_RNO_1_0_LC_12_11_1, U111_CYCLE_SM.TA_DIS_RNICJKJ_LC_12_11_2, U111_CYCLE_SM.CYCLE_STATE_RNO_3_0_LC_12_11_3, U111_CYCLE_SM.CYCLE_STATE_RNO_0_0_LC_12_11_4, U111_CYCLE_SM.CYCLE_STATE_0_LC_12_11_5, U111_CYCLE_SM.CYCLE_STATE_3_LC_12_11_7 }
set_location LT_12_11 12 11
ble_pack U111_CYCLE_SM.CYCLE_STATE_RNIGD6K_2_LC_12_12_0 { U111_CYCLE_SM.CYCLE_STATE_RNIGD6K[2] }
ble_pack U111_CYCLE_SM.CYCLE_STATE_RNO_0_2_LC_12_12_3 { U111_CYCLE_SM.CYCLE_STATE_RNO_0[2] }
ble_pack U111_CYCLE_SM.CYCLE_STATE_2_LC_12_12_4 { U111_CYCLE_SM.CYCLE_STATE_RNO[2], U111_CYCLE_SM.CYCLE_STATE[2] }
ble_pack GB_BUFFER_CLK80_THRU_LUT4_0_LC_12_12_5 { GB_BUFFER_CLK80_THRU_LUT4_0 }
ble_pack U111_CYCLE_SM.FLIP_WORD_RNIBKI41_LC_12_12_7 { U111_CYCLE_SM.FLIP_WORD_RNIBKI41 }
clb_pack LT_12_12 { U111_CYCLE_SM.CYCLE_STATE_RNIGD6K_2_LC_12_12_0, U111_CYCLE_SM.CYCLE_STATE_RNO_0_2_LC_12_12_3, U111_CYCLE_SM.CYCLE_STATE_2_LC_12_12_4, GB_BUFFER_CLK80_THRU_LUT4_0_LC_12_12_5, U111_CYCLE_SM.FLIP_WORD_RNIBKI41_LC_12_12_7 }
set_location LT_12_12 12 12
ble_pack U111_CYCLE_SM.UM_LATCHED_esr_2_LC_12_13_6 { U111_CYCLE_SM.UM_LATCHED_esr_2_THRU_LUT4_0, U111_CYCLE_SM.UM_LATCHED_esr[2] }
clb_pack LT_12_13 { U111_CYCLE_SM.UM_LATCHED_esr_2_LC_12_13_6 }
set_location LT_12_13 12 13
ble_pack U111_CYCLE_SM.UM_LATCHED_esr_6_LC_12_14_0 { U111_CYCLE_SM.UM_LATCHED_esr_6_THRU_LUT4_0, U111_CYCLE_SM.UM_LATCHED_esr[6] }
ble_pack U111_CYCLE_SM.UU_LATCHED_esr_4_LC_12_14_1 { U111_CYCLE_SM.UU_LATCHED_esr_4_THRU_LUT4_0, U111_CYCLE_SM.UU_LATCHED_esr[4] }
ble_pack U111_CYCLE_SM.UU_LATCHED_esr_5_LC_12_14_2 { U111_CYCLE_SM.UU_LATCHED_esr_5_THRU_LUT4_0, U111_CYCLE_SM.UU_LATCHED_esr[5] }
ble_pack U111_CYCLE_SM.UM_LATCHED_esr_3_LC_12_14_4 { U111_CYCLE_SM.UM_LATCHED_esr_3_THRU_LUT4_0, U111_CYCLE_SM.UM_LATCHED_esr[3] }
ble_pack U111_CYCLE_SM.UU_LATCHED_esr_3_LC_12_14_5 { U111_CYCLE_SM.UU_LATCHED_esr_3_THRU_LUT4_0, U111_CYCLE_SM.UU_LATCHED_esr[3] }
ble_pack U111_CYCLE_SM.UM_LATCHED_esr_4_LC_12_14_6 { U111_CYCLE_SM.UM_LATCHED_esr_4_THRU_LUT4_0, U111_CYCLE_SM.UM_LATCHED_esr[4] }
clb_pack LT_12_14 { U111_CYCLE_SM.UM_LATCHED_esr_6_LC_12_14_0, U111_CYCLE_SM.UU_LATCHED_esr_4_LC_12_14_1, U111_CYCLE_SM.UU_LATCHED_esr_5_LC_12_14_2, U111_CYCLE_SM.UM_LATCHED_esr_3_LC_12_14_4, U111_CYCLE_SM.UU_LATCHED_esr_3_LC_12_14_5, U111_CYCLE_SM.UM_LATCHED_esr_4_LC_12_14_6 }
set_location LT_12_14 12 14
ble_pack U111_CYCLE_SM.UM_LATCHED_esr_RNIKHFL_4_LC_12_17_3 { U111_CYCLE_SM.UM_LATCHED_esr_RNIKHFL[4] }
ble_pack U111_CYCLE_SM.UU_LATCHED_esr_RNI207Q_3_LC_12_17_5 { U111_CYCLE_SM.UU_LATCHED_esr_RNI207Q[3] }
clb_pack LT_12_17 { U111_CYCLE_SM.UM_LATCHED_esr_RNIKHFL_4_LC_12_17_3, U111_CYCLE_SM.UU_LATCHED_esr_RNI207Q_3_LC_12_17_5 }
set_location LT_12_17 12 17
ble_pack U111_CYCLE_SM.UM_LATCHED_esr_RNIIFFL_3_LC_12_18_0 { U111_CYCLE_SM.UM_LATCHED_esr_RNIIFFL[3] }
ble_pack U111_CYCLE_SM.FLIP_WORD_RNIE0O01_LC_12_18_7 { U111_CYCLE_SM.FLIP_WORD_RNIE0O01 }
clb_pack LT_12_18 { U111_CYCLE_SM.UM_LATCHED_esr_RNIIFFL_3_LC_12_18_0, U111_CYCLE_SM.FLIP_WORD_RNIE0O01_LC_12_18_7 }
set_location LT_12_18 12 18
ble_pack U111_CYCLE_SM.UM_LATCHED_esr_RNIQNFL_7_LC_12_19_1 { U111_CYCLE_SM.UM_LATCHED_esr_RNIQNFL[7] }
ble_pack U111_CYCLE_SM.FLIP_WORD_RNIG2O01_LC_12_19_2 { U111_CYCLE_SM.FLIP_WORD_RNIG2O01 }
ble_pack U111_CYCLE_SM.FLIP_WORD_RNIM8O01_LC_12_19_3 { U111_CYCLE_SM.FLIP_WORD_RNIM8O01 }
clb_pack LT_12_19 { U111_CYCLE_SM.UM_LATCHED_esr_RNIQNFL_7_LC_12_19_1, U111_CYCLE_SM.FLIP_WORD_RNIG2O01_LC_12_19_2, U111_CYCLE_SM.FLIP_WORD_RNIM8O01_LC_12_19_3 }
set_location LT_12_19 12 19
ble_pack U111_CYCLE_SM.UU_LATCHED_esr_RNI647Q_5_LC_12_20_1 { U111_CYCLE_SM.UU_LATCHED_esr_RNI647Q[5] }
ble_pack U111_CYCLE_SM.FLIP_WORD_RNINLPK_LC_12_20_4 { U111_CYCLE_SM.FLIP_WORD_RNINLPK }
ble_pack U111_CYCLE_SM.UU_LATCHED_esr_RNI427Q_4_LC_12_20_7 { U111_CYCLE_SM.UU_LATCHED_esr_RNI427Q[4] }
clb_pack LT_12_20 { U111_CYCLE_SM.UU_LATCHED_esr_RNI647Q_5_LC_12_20_1, U111_CYCLE_SM.FLIP_WORD_RNINLPK_LC_12_20_4, U111_CYCLE_SM.UU_LATCHED_esr_RNI427Q_4_LC_12_20_7 }
set_location LT_12_20 12 20
ble_pack U111_CYCLE_SM.BURST_COUNT_1_LC_13_11_0 { U111_CYCLE_SM.BURST_COUNT_RNO[1], U111_CYCLE_SM.BURST_COUNT[1] }
ble_pack U111_CYCLE_SM.LW_TRANS_LC_13_11_1 { U111_CYCLE_SM.LW_TRANS_RNO, U111_CYCLE_SM.LW_TRANS }
ble_pack U111_CYCLE_SM.PORT_MISMATCH_LC_13_11_2 { U111_CYCLE_SM.PORT_MISMATCH_RNO, U111_CYCLE_SM.PORT_MISMATCH }
ble_pack U111_CYCLE_SM.BURST_LC_13_11_3 { U111_CYCLE_SM.BURST_RNO, U111_CYCLE_SM.BURST }
ble_pack U111_CYCLE_SM.BURST_COUNT_0_LC_13_11_4 { U111_CYCLE_SM.BURST_COUNT_RNO[0], U111_CYCLE_SM.BURST_COUNT[0] }
ble_pack U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_LC_13_11_6 { U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_RNO, U111_CYCLE_SM.WRITE_CYCLE_ACTIVE }
clb_pack LT_13_11 { U111_CYCLE_SM.BURST_COUNT_1_LC_13_11_0, U111_CYCLE_SM.LW_TRANS_LC_13_11_1, U111_CYCLE_SM.PORT_MISMATCH_LC_13_11_2, U111_CYCLE_SM.BURST_LC_13_11_3, U111_CYCLE_SM.BURST_COUNT_0_LC_13_11_4, U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_LC_13_11_6 }
set_location LT_13_11 13 11
ble_pack U111_CYCLE_SM.BURST_COUNT_RNIFDQV_1_LC_13_12_6 { U111_CYCLE_SM.BURST_COUNT_RNIFDQV[1] }
ble_pack U111_CYCLE_SM.CYCLE_STATE_RNO_2_0_LC_13_12_7 { U111_CYCLE_SM.CYCLE_STATE_RNO_2[0] }
clb_pack LT_13_12 { U111_CYCLE_SM.BURST_COUNT_RNIFDQV_1_LC_13_12_6, U111_CYCLE_SM.CYCLE_STATE_RNO_2_0_LC_13_12_7 }
set_location LT_13_12 13 12
ble_pack U111_CYCLE_SM.UM_LATCHED_esr_RNIGDFL_2_LC_13_13_5 { U111_CYCLE_SM.UM_LATCHED_esr_RNIGDFL[2] }
clb_pack LT_13_13 { U111_CYCLE_SM.UM_LATCHED_esr_RNIGDFL_2_LC_13_13_5 }
set_location LT_13_13 13 13
ble_pack U111_CYCLE_SM.FLIP_WORD_RNIASN01_LC_13_14_0 { U111_CYCLE_SM.FLIP_WORD_RNIASN01 }
ble_pack U111_CYCLE_SM.UM_LATCHED_esr_RNIOLFL_6_LC_13_14_1 { U111_CYCLE_SM.UM_LATCHED_esr_RNIOLFL[6] }
clb_pack LT_13_14 { U111_CYCLE_SM.FLIP_WORD_RNIASN01_LC_13_14_0, U111_CYCLE_SM.UM_LATCHED_esr_RNIOLFL_6_LC_13_14_1 }
set_location LT_13_14 13 14
ble_pack U111_CYCLE_SM.FLIP_WORD_RNITRPK_LC_13_20_1 { U111_CYCLE_SM.FLIP_WORD_RNITRPK }
ble_pack U111_CYCLE_SM.FLIP_WORD_RNIRPPK_LC_13_20_3 { U111_CYCLE_SM.FLIP_WORD_RNIRPPK }
clb_pack LT_13_20 { U111_CYCLE_SM.FLIP_WORD_RNITRPK_LC_13_20_1, U111_CYCLE_SM.FLIP_WORD_RNIRPPK_LC_13_20_3 }
set_location LT_13_20 13 20
set_io D_UU_AMIGA[3] 144
set_io D_LL_AMIGA[4] 29
set_io D_LL_040[1] 75
set_io D_LM_AMIGA[6] 9
set_io TEAn 43
set_io A_040[1] 38
set_io TSn 45
set_io D_UM_AMIGA[0] 17
set_io D_UM_040[0] 88
set_io D_LM_040[4] 87
set_io D_UU_AMIGA[7] 143
set_io D_UU_040[7] 116
set_io D_LM_AMIGA[1] 22
set_io D_LL_AMIGA[0] 33
set_io D_LL_040[5] 79
set_io RESETn 34
set_io SIZ[0] 121
set_io D_LM_040[1] 83
set_io CLKRAMA 56
set_io PORTSIZE 42
set_io D_UM_AMIGA[4] 3
set_io D_LL_AMIGA[5] 25
set_io D_LL_040[0] 74
set_io TEA_CPUn 122
set_io LBENn 48
set_io D_UU_040[3] 112
set_io D_UM_AMIGA[3] 7
set_io D_UM_040[5] 114
set_io D_LM_AMIGA[5] 12
set_io D_LM_040[7] 99
set_io D_UU_AMIGA[2] 139
set_io D_UU_040[4] 119
set_io D_LL_AMIGA[7] 24
set_io D_LL_040[6] 80
set_io CLK40B 49
set_io A_040[0] 37
set_io TBI_CPUn 64
set_io TAn 124
set_io D_UM_AMIGA[1] 11
set_io D_UM_040[7] 105
set_io D_LM_AMIGA[7] 10
set_io D_LM_040[5] 90
set_io CPUBGn 102
set_io BUFENn 135
set_io RnW 97
set_io D_UU_AMIGA[0] 138
set_io D_UU_040[6] 115
set_io D_LM_AMIGA[0] 23
set_io D_LL_AMIGA[1] 28
set_io D_LL_040[4] 76
set_io CLK80_CPU 94
set_io BUFDIR 136
set_io A_AMIGA[1] 41
set_io TCI_CPUn 101
set_io D_UM_AMIGA[7] 4
set_io D_UM_040[1] 104
set_io TS_CPUn 125
set_io D_UU_AMIGA[6] 142
set_io D_UU_040[0] 117
set_io D_LM_AMIGA[2] 18
set_io D_LM_040[2] 84
set_io D_LL_AMIGA[3] 32
set_io CLKRAMB 52
set_io D_UM_AMIGA[5] 141
set_io D_UM_040[3] 106
set_io D_LL_040[3] 73
set_io CLK40A 93
set_io TCIn 44
set_io TBIn 55
set_io SIZ[1] 120
set_io D_UU_AMIGA[4] 137
set_io D_UU_040[2] 118
set_io D_UM_040[4] 110
set_io D_LM_AMIGA[4] 16
set_io D_LM_040[0] 82
set_io DMAn 134
set_io CLK40C 21
set_io D_UM_AMIGA[2] 15
set_io D_UM_040[6] 95
set_io D_LM_040[6] 98
set_io CLK40_IN 129
set_io D_UU_AMIGA[1] 8
set_io D_UU_040[5] 113
set_io D_LL_AMIGA[6] 26
set_io D_LL_040[7] 81
set_io D_LM_040[3] 85
set_io A_AMIGA[0] 39
set_io D_UM_AMIGA[6] 2
set_io D_UM_040[2] 91
set_io D_LL_040[2] 78
set_io TACKn 47
set_io D_UU_AMIGA[5] 1
set_io D_UU_040[1] 107
set_io D_LM_AMIGA[3] 19
set_io D_LL_AMIGA[2] 31
