ble_pack U111_CYCLE_SM.LW_CYCLE_RNIN15M_LC_3_1_3 { U111_CYCLE_SM.LW_CYCLE_RNIN15M }
ble_pack U111_CYCLE_SM.A_OUT_RNIK8GP_LC_3_1_7 { U111_CYCLE_SM.A_OUT_RNIK8GP }
clb_pack LT_3_1 { U111_CYCLE_SM.LW_CYCLE_RNIN15M_LC_3_1_3, U111_CYCLE_SM.A_OUT_RNIK8GP_LC_3_1_7 }
set_location LT_3_1 3 1
ble_pack RnW_c_sbtinv_LC_6_14_4 { RnW_c_sbtinv }
clb_pack LT_6_14 { RnW_c_sbtinv_LC_6_14_4 }
set_location LT_6_14 6 14
ble_pack U111_CYCLE_SM.LW_CYCLE_RNIMIUI2_LC_10_6_4 { U111_CYCLE_SM.LW_CYCLE_RNIMIUI2 }
ble_pack U111_CYCLE_SM.LW_CYCLE_RNIKGUI2_LC_10_6_7 { U111_CYCLE_SM.LW_CYCLE_RNIKGUI2 }
clb_pack LT_10_6 { U111_CYCLE_SM.LW_CYCLE_RNIMIUI2_LC_10_6_4, U111_CYCLE_SM.LW_CYCLE_RNIKGUI2_LC_10_6_7 }
set_location LT_10_6 10 6
ble_pack U111_CYCLE_SM.LW_CYCLE_RNIM3VM1_LC_10_9_1 { U111_CYCLE_SM.LW_CYCLE_RNIM3VM1 }
ble_pack U111_CYCLE_SM.LW_CYCLE_RNIKNOB2_LC_10_9_2 { U111_CYCLE_SM.LW_CYCLE_RNIKNOB2 }
clb_pack LT_10_9 { U111_CYCLE_SM.LW_CYCLE_RNIM3VM1_LC_10_9_1, U111_CYCLE_SM.LW_CYCLE_RNIKNOB2_LC_10_9_2 }
set_location LT_10_9 10 9
ble_pack U111_CYCLE_SM.LW_CYCLE_RNIMPOB2_LC_10_15_0 { U111_CYCLE_SM.LW_CYCLE_RNIMPOB2 }
ble_pack U111_CYCLE_SM.LW_CYCLE_RNITNJF2_LC_10_15_4 { U111_CYCLE_SM.LW_CYCLE_RNITNJF2 }
clb_pack LT_10_15 { U111_CYCLE_SM.LW_CYCLE_RNIMPOB2_LC_10_15_0, U111_CYCLE_SM.LW_CYCLE_RNITNJF2_LC_10_15_4 }
set_location LT_10_15 10 15
ble_pack U111_CYCLE_SM.LW_CYCLE_RNIVPJF2_LC_10_17_0 { U111_CYCLE_SM.LW_CYCLE_RNIVPJF2 }
ble_pack BUFENn_obuf_RNO_LC_10_17_4 { BUFENn_obuf_RNO }
clb_pack LT_10_17 { U111_CYCLE_SM.LW_CYCLE_RNIVPJF2_LC_10_17_0, BUFENn_obuf_RNO_LC_10_17_4 }
set_location LT_10_17 10 17
ble_pack U111_CYCLE_SM.LW_CYCLE_RNIA6UI2_LC_11_1_4 { U111_CYCLE_SM.LW_CYCLE_RNIA6UI2 }
ble_pack LBENn_c_sbtinv_LC_11_1_5 { LBENn_c_sbtinv }
ble_pack U111_CYCLE_SM.TSn_LC_11_1_6 { U111_CYCLE_SM.TSn_RNO, U111_CYCLE_SM.TSn }
ble_pack U111_CYCLE_SM.LW_CYCLE_RNIGCUI2_LC_11_1_7 { U111_CYCLE_SM.LW_CYCLE_RNIGCUI2 }
clb_pack LT_11_1 { U111_CYCLE_SM.LW_CYCLE_RNIA6UI2_LC_11_1_4, LBENn_c_sbtinv_LC_11_1_5, U111_CYCLE_SM.TSn_LC_11_1_6, U111_CYCLE_SM.LW_CYCLE_RNIGCUI2_LC_11_1_7 }
set_location LT_11_1 11 1
ble_pack U111_CYCLE_SM.LW_CYCLE_RNIEAUI2_LC_12_3_0 { U111_CYCLE_SM.LW_CYCLE_RNIEAUI2 }
ble_pack U111_CYCLE_SM.LW_CYCLE_RNIC8UI2_LC_12_3_5 { U111_CYCLE_SM.LW_CYCLE_RNIC8UI2 }
ble_pack U111_CYCLE_SM.LW_CYCLE_RNIIEUI2_LC_12_3_7 { U111_CYCLE_SM.LW_CYCLE_RNIIEUI2 }
clb_pack LT_12_3 { U111_CYCLE_SM.LW_CYCLE_RNIEAUI2_LC_12_3_0, U111_CYCLE_SM.LW_CYCLE_RNIC8UI2_LC_12_3_5, U111_CYCLE_SM.LW_CYCLE_RNIIEUI2_LC_12_3_7 }
set_location LT_12_3 12 3
ble_pack GB_BUFFER_CLK40_THRU_LUT4_0_LC_12_11_5 { GB_BUFFER_CLK40_THRU_LUT4_0 }
ble_pack U111_CYCLE_SM.LW_CYCLE_RNIPJJF2_LC_12_11_6 { U111_CYCLE_SM.LW_CYCLE_RNIPJJF2 }
clb_pack LT_12_11 { GB_BUFFER_CLK40_THRU_LUT4_0_LC_12_11_5, U111_CYCLE_SM.LW_CYCLE_RNIPJJF2_LC_12_11_6 }
set_location LT_12_11 12 11
ble_pack U111_CYCLE_SM.LW_CYCLE_RNI1HQV1_LC_12_20_3 { U111_CYCLE_SM.LW_CYCLE_RNI1HQV1 }
ble_pack U111_CYCLE_SM.LW_CYCLE_RNIBRQV1_LC_12_20_6 { U111_CYCLE_SM.LW_CYCLE_RNIBRQV1 }
ble_pack CONSTANT_ONE_LUT4_LC_12_20_7 { CONSTANT_ONE_LUT4 }
clb_pack LT_12_20 { U111_CYCLE_SM.LW_CYCLE_RNI1HQV1_LC_12_20_3, U111_CYCLE_SM.LW_CYCLE_RNIBRQV1_LC_12_20_6, CONSTANT_ONE_LUT4_LC_12_20_7 }
set_location LT_12_20 12 20
ble_pack U111_CYCLE_SM.LW_CYCLE_RNIRLJF2_LC_13_13_5 { U111_CYCLE_SM.LW_CYCLE_RNIRLJF2 }
clb_pack LT_13_13 { U111_CYCLE_SM.LW_CYCLE_RNIRLJF2_LC_13_13_5 }
set_location LT_13_13 13 13
ble_pack U111_CYCLE_SM.TA_EN_RNO_0_LC_13_14_1 { U111_CYCLE_SM.TA_EN_RNO_0 }
ble_pack GB_BUFFER_CLK80_THRU_LUT4_0_LC_13_14_5 { GB_BUFFER_CLK80_THRU_LUT4_0 }
clb_pack LT_13_14 { U111_CYCLE_SM.TA_EN_RNO_0_LC_13_14_1, GB_BUFFER_CLK80_THRU_LUT4_0_LC_13_14_5 }
set_location LT_13_14 13 14
ble_pack U111_CYCLE_SM.LW_CYCLE_RNI26PB2_LC_13_19_0 { U111_CYCLE_SM.LW_CYCLE_RNI26PB2 }
clb_pack LT_13_19 { U111_CYCLE_SM.LW_CYCLE_RNI26PB2_LC_13_19_0 }
set_location LT_13_19 13 19
ble_pack U111_CYCLE_SM.LW_CYCLE_RNIU1PB2_LC_13_20_6 { U111_CYCLE_SM.LW_CYCLE_RNIU1PB2 }
ble_pack U111_CYCLE_SM.LW_CYCLE_RNI7NQV1_LC_13_20_7 { U111_CYCLE_SM.LW_CYCLE_RNI7NQV1 }
clb_pack LT_13_20 { U111_CYCLE_SM.LW_CYCLE_RNIU1PB2_LC_13_20_6, U111_CYCLE_SM.LW_CYCLE_RNI7NQV1_LC_13_20_7 }
set_location LT_13_20 13 20
ble_pack U111_CYCLE_SM.LW_CYCLE_RNILFJF2_LC_14_10_4 { U111_CYCLE_SM.LW_CYCLE_RNILFJF2 }
clb_pack LT_14_10 { U111_CYCLE_SM.LW_CYCLE_RNILFJF2_LC_14_10_4 }
set_location LT_14_10 14 10
ble_pack U111_CYCLE_SM.UM_LATCHED_nesr_RNIQ38L_6_LC_14_12_0 { U111_CYCLE_SM.UM_LATCHED_nesr_RNIQ38L[6] }
ble_pack U111_CYCLE_SM.LW_CYCLE_RNINHJF2_LC_14_12_4 { U111_CYCLE_SM.LW_CYCLE_RNINHJF2 }
clb_pack LT_14_12 { U111_CYCLE_SM.UM_LATCHED_nesr_RNIQ38L_6_LC_14_12_0, U111_CYCLE_SM.LW_CYCLE_RNINHJF2_LC_14_12_4 }
set_location LT_14_12 14 12
ble_pack U111_CYCLE_SM.LW_CYCLE_RNO_1_LC_14_13_0 { U111_CYCLE_SM.LW_CYCLE_RNO_1 }
ble_pack U111_CYCLE_SM.LW_CYCLE_START_RNO_0_LC_14_13_1 { U111_CYCLE_SM.LW_CYCLE_START_RNO_0 }
ble_pack U111_CYCLE_SM.LW_CYCLE_START_LC_14_13_2 { U111_CYCLE_SM.LW_CYCLE_START_RNO, U111_CYCLE_SM.LW_CYCLE_START }
ble_pack U111_CYCLE_SM.LW_CYCLE_RNO_0_LC_14_13_3 { U111_CYCLE_SM.LW_CYCLE_RNO_0 }
ble_pack U111_CYCLE_SM.LW_CYCLE_LC_14_13_4 { U111_CYCLE_SM.LW_CYCLE_RNO, U111_CYCLE_SM.LW_CYCLE }
ble_pack U111_CYCLE_SM.CYCLE_STATE_RNO_0_0_LC_14_13_6 { U111_CYCLE_SM.CYCLE_STATE_RNO_0[0] }
ble_pack U111_CYCLE_SM.CYCLE_STATE_0_LC_14_13_7 { U111_CYCLE_SM.CYCLE_STATE_RNO[0], U111_CYCLE_SM.CYCLE_STATE[0] }
clb_pack LT_14_13 { U111_CYCLE_SM.LW_CYCLE_RNO_1_LC_14_13_0, U111_CYCLE_SM.LW_CYCLE_START_RNO_0_LC_14_13_1, U111_CYCLE_SM.LW_CYCLE_START_LC_14_13_2, U111_CYCLE_SM.LW_CYCLE_RNO_0_LC_14_13_3, U111_CYCLE_SM.LW_CYCLE_LC_14_13_4, U111_CYCLE_SM.CYCLE_STATE_RNO_0_0_LC_14_13_6, U111_CYCLE_SM.CYCLE_STATE_0_LC_14_13_7 }
set_location LT_14_13 14 13
ble_pack U111_CYCLE_SM.UU_LATCHED_nesr_1_LC_14_14_1 { U111_CYCLE_SM.UU_LATCHED_nesr_1_THRU_LUT4_0, U111_CYCLE_SM.UU_LATCHED_nesr[1] }
ble_pack U111_CYCLE_SM.UM_LATCHED_nesr_4_LC_14_14_2 { U111_CYCLE_SM.UM_LATCHED_nesr_4_THRU_LUT4_0, U111_CYCLE_SM.UM_LATCHED_nesr[4] }
ble_pack U111_CYCLE_SM.UM_LATCHED_nesr_6_LC_14_14_5 { U111_CYCLE_SM.UM_LATCHED_nesr_6_THRU_LUT4_0, U111_CYCLE_SM.UM_LATCHED_nesr[6] }
clb_pack LT_14_14 { U111_CYCLE_SM.UU_LATCHED_nesr_1_LC_14_14_1, U111_CYCLE_SM.UM_LATCHED_nesr_4_LC_14_14_2, U111_CYCLE_SM.UM_LATCHED_nesr_6_LC_14_14_5 }
set_location LT_14_14 14 14
ble_pack U111_CYCLE_SM.TA_EN_LC_14_15_4 { U111_CYCLE_SM.TA_EN_RNO, U111_CYCLE_SM.TA_EN }
clb_pack LT_14_15 { U111_CYCLE_SM.TA_EN_LC_14_15_4 }
set_location LT_14_15 14 15
ble_pack U111_CYCLE_SM.UM_LATCHED_nesr_RNIMV7L_4_LC_14_16_3 { U111_CYCLE_SM.UM_LATCHED_nesr_RNIMV7L[4] }
ble_pack U111_CYCLE_SM.TA_EN_RNIVCEG_LC_14_16_4 { U111_CYCLE_SM.TA_EN_RNIVCEG }
clb_pack LT_14_16 { U111_CYCLE_SM.UM_LATCHED_nesr_RNIMV7L_4_LC_14_16_3, U111_CYCLE_SM.TA_EN_RNIVCEG_LC_14_16_4 }
set_location LT_14_16 14 16
ble_pack U111_CYCLE_SM.UU_LATCHED_nesr_RNI0IN51_1_LC_14_18_2 { U111_CYCLE_SM.UU_LATCHED_nesr_RNI0IN51[1] }
clb_pack LT_14_18 { U111_CYCLE_SM.UU_LATCHED_nesr_RNI0IN51_1_LC_14_18_2 }
set_location LT_14_18 14 18
ble_pack U111_CYCLE_SM.LW_CYCLE_RNI9PQV1_LC_14_20_0 { U111_CYCLE_SM.LW_CYCLE_RNI9PQV1 }
ble_pack U111_CYCLE_SM.LW_CYCLE_RNI3JQV1_LC_14_20_1 { U111_CYCLE_SM.LW_CYCLE_RNI3JQV1 }
ble_pack U111_CYCLE_SM.LW_CYCLE_RNI5LQV1_LC_14_20_5 { U111_CYCLE_SM.LW_CYCLE_RNI5LQV1 }
clb_pack LT_14_20 { U111_CYCLE_SM.LW_CYCLE_RNI9PQV1_LC_14_20_0, U111_CYCLE_SM.LW_CYCLE_RNI3JQV1_LC_14_20_1, U111_CYCLE_SM.LW_CYCLE_RNI5LQV1_LC_14_20_5 }
set_location LT_14_20 14 20
ble_pack U111_CYCLE_SM.LW_CYCLE_RNIJDJF2_LC_15_7_0 { U111_CYCLE_SM.LW_CYCLE_RNIJDJF2 }
ble_pack U111_CYCLE_SM.LW_CYCLE_RNIOKUI2_LC_15_7_4 { U111_CYCLE_SM.LW_CYCLE_RNIOKUI2 }
clb_pack LT_15_7 { U111_CYCLE_SM.LW_CYCLE_RNIJDJF2_LC_15_7_0, U111_CYCLE_SM.LW_CYCLE_RNIOKUI2_LC_15_7_4 }
set_location LT_15_7 15 7
ble_pack U111_CYCLE_SM.LW_CYCLE_RNI04PB2_LC_15_12_0 { U111_CYCLE_SM.LW_CYCLE_RNI04PB2 }
clb_pack LT_15_12 { U111_CYCLE_SM.LW_CYCLE_RNI04PB2_LC_15_12_0 }
set_location LT_15_12 15 12
ble_pack U111_CYCLE_SM.CYCLE_STATE_1_LC_15_13_0 { U111_CYCLE_SM.CYCLE_STATE_RNO[1], U111_CYCLE_SM.CYCLE_STATE[1] }
ble_pack U111_CYCLE_SM.TS_EN_RNO_0_LC_15_13_1 { U111_CYCLE_SM.TS_EN_RNO_0 }
ble_pack U111_CYCLE_SM.TS_EN_LC_15_13_2 { U111_CYCLE_SM.TS_EN_RNO, U111_CYCLE_SM.TS_EN }
ble_pack U111_CYCLE_SM.TS_EN_RNO_1_LC_15_13_4 { U111_CYCLE_SM.TS_EN_RNO_1 }
ble_pack U111_CYCLE_SM.CYCLE_STATE_RNIULFD_0_LC_15_13_6 { U111_CYCLE_SM.CYCLE_STATE_RNIULFD[0] }
ble_pack U111_CYCLE_SM.CYCLE_STATE_RNIGD9C1_0_LC_15_13_7 { U111_CYCLE_SM.CYCLE_STATE_RNIGD9C1[0] }
clb_pack LT_15_13 { U111_CYCLE_SM.CYCLE_STATE_1_LC_15_13_0, U111_CYCLE_SM.TS_EN_RNO_0_LC_15_13_1, U111_CYCLE_SM.TS_EN_LC_15_13_2, U111_CYCLE_SM.TS_EN_RNO_1_LC_15_13_4, U111_CYCLE_SM.CYCLE_STATE_RNIULFD_0_LC_15_13_6, U111_CYCLE_SM.CYCLE_STATE_RNIGD9C1_0_LC_15_13_7 }
set_location LT_15_13 15 13
ble_pack U111_CYCLE_SM.CYCLE_STATE_RNIE3PP1_0_LC_15_14_1 { U111_CYCLE_SM.CYCLE_STATE_RNIE3PP1[0] }
ble_pack U111_CYCLE_SM.A_OUT_RNO_0_LC_15_14_4 { U111_CYCLE_SM.A_OUT_RNO_0 }
ble_pack U111_CYCLE_SM.A_OUT_LC_15_14_5 { U111_CYCLE_SM.A_OUT_RNO, U111_CYCLE_SM.A_OUT }
clb_pack LT_15_14 { U111_CYCLE_SM.CYCLE_STATE_RNIE3PP1_0_LC_15_14_1, U111_CYCLE_SM.A_OUT_RNO_0_LC_15_14_4, U111_CYCLE_SM.A_OUT_LC_15_14_5 }
set_location LT_15_14 15 14
ble_pack U111_CYCLE_SM.UU_LATCHED_nesr_6_LC_15_15_0 { U111_CYCLE_SM.UU_LATCHED_nesr_6_THRU_LUT4_0, U111_CYCLE_SM.UU_LATCHED_nesr[6] }
ble_pack U111_CYCLE_SM.UU_LATCHED_nesr_0_LC_15_15_6 { U111_CYCLE_SM.UU_LATCHED_nesr_0_THRU_LUT4_0, U111_CYCLE_SM.UU_LATCHED_nesr[0] }
ble_pack U111_CYCLE_SM.UU_LATCHED_nesr_5_LC_15_15_7 { U111_CYCLE_SM.UU_LATCHED_nesr_5_THRU_LUT4_0, U111_CYCLE_SM.UU_LATCHED_nesr[5] }
clb_pack LT_15_15 { U111_CYCLE_SM.UU_LATCHED_nesr_6_LC_15_15_0, U111_CYCLE_SM.UU_LATCHED_nesr_0_LC_15_15_6, U111_CYCLE_SM.UU_LATCHED_nesr_5_LC_15_15_7 }
set_location LT_15_15 15 15
ble_pack U111_CYCLE_SM.TS_EN_RNO_2_LC_15_16_2 { U111_CYCLE_SM.TS_EN_RNO_2 }
ble_pack U111_CYCLE_SM.LW_TRANS_LC_15_16_6 { U111_CYCLE_SM.LW_TRANS }
clb_pack LT_15_16 { U111_CYCLE_SM.TS_EN_RNO_2_LC_15_16_2, U111_CYCLE_SM.LW_TRANS_LC_15_16_6 }
set_location LT_15_16 15 16
ble_pack U111_CYCLE_SM.LW_CYCLE_RNITCQV1_LC_15_20_0 { U111_CYCLE_SM.LW_CYCLE_RNITCQV1 }
ble_pack U111_CYCLE_SM.UU_LATCHED_nesr_RNI8QN51_5_LC_15_20_1 { U111_CYCLE_SM.UU_LATCHED_nesr_RNI8QN51[5] }
ble_pack U111_CYCLE_SM.UU_LATCHED_nesr_RNIUFN51_0_LC_15_20_2 { U111_CYCLE_SM.UU_LATCHED_nesr_RNIUFN51[0] }
ble_pack U111_CYCLE_SM.UU_LATCHED_nesr_RNIASN51_6_LC_15_20_6 { U111_CYCLE_SM.UU_LATCHED_nesr_RNIASN51[6] }
clb_pack LT_15_20 { U111_CYCLE_SM.LW_CYCLE_RNITCQV1_LC_15_20_0, U111_CYCLE_SM.UU_LATCHED_nesr_RNI8QN51_5_LC_15_20_1, U111_CYCLE_SM.UU_LATCHED_nesr_RNIUFN51_0_LC_15_20_2, U111_CYCLE_SM.UU_LATCHED_nesr_RNIASN51_6_LC_15_20_6 }
set_location LT_15_20 15 20
ble_pack U111_CYCLE_SM.LW_CYCLE_RNIOROB2_LC_16_10_6 { U111_CYCLE_SM.LW_CYCLE_RNIOROB2 }
clb_pack LT_16_10 { U111_CYCLE_SM.LW_CYCLE_RNIOROB2_LC_16_10_6 }
set_location LT_16_10 16 10
ble_pack U111_CYCLE_SM.UM_LATCHED_nesr_RNIIR7L_2_LC_16_12_5 { U111_CYCLE_SM.UM_LATCHED_nesr_RNIIR7L[2] }
ble_pack U111_CYCLE_SM.UM_LATCHED_nesr_RNIEN7L_0_LC_16_12_6 { U111_CYCLE_SM.UM_LATCHED_nesr_RNIEN7L[0] }
clb_pack LT_16_12 { U111_CYCLE_SM.UM_LATCHED_nesr_RNIIR7L_2_LC_16_12_5, U111_CYCLE_SM.UM_LATCHED_nesr_RNIEN7L_0_LC_16_12_6 }
set_location LT_16_12 16 12
ble_pack U111_CYCLE_SM.UM_LATCHED_nesr_0_LC_16_13_2 { U111_CYCLE_SM.UM_LATCHED_nesr_0_THRU_LUT4_0, U111_CYCLE_SM.UM_LATCHED_nesr[0] }
ble_pack U111_CYCLE_SM.UM_LATCHED_nesr_2_LC_16_13_4 { U111_CYCLE_SM.UM_LATCHED_nesr_2_THRU_LUT4_0, U111_CYCLE_SM.UM_LATCHED_nesr[2] }
ble_pack U111_CYCLE_SM.UU_LATCHED_nesr_4_LC_16_13_5 { U111_CYCLE_SM.UU_LATCHED_nesr_4_THRU_LUT4_0, U111_CYCLE_SM.UU_LATCHED_nesr[4] }
clb_pack LT_16_13 { U111_CYCLE_SM.UM_LATCHED_nesr_0_LC_16_13_2, U111_CYCLE_SM.UM_LATCHED_nesr_2_LC_16_13_4, U111_CYCLE_SM.UU_LATCHED_nesr_4_LC_16_13_5 }
set_location LT_16_13 16 13
ble_pack U111_CYCLE_SM.UU_LATCHED_nesr_3_LC_16_14_0 { U111_CYCLE_SM.UU_LATCHED_nesr_3_THRU_LUT4_0, U111_CYCLE_SM.UU_LATCHED_nesr[3] }
ble_pack U111_CYCLE_SM.UU_LATCHED_nesr_7_LC_16_14_1 { U111_CYCLE_SM.UU_LATCHED_nesr_7_THRU_LUT4_0, U111_CYCLE_SM.UU_LATCHED_nesr[7] }
ble_pack U111_CYCLE_SM.UU_LATCHED_nesr_2_LC_16_14_2 { U111_CYCLE_SM.UU_LATCHED_nesr_2_THRU_LUT4_0, U111_CYCLE_SM.UU_LATCHED_nesr[2] }
ble_pack U111_CYCLE_SM.UM_LATCHED_nesr_7_LC_16_14_3 { U111_CYCLE_SM.UM_LATCHED_nesr_7_THRU_LUT4_0, U111_CYCLE_SM.UM_LATCHED_nesr[7] }
ble_pack U111_CYCLE_SM.UM_LATCHED_nesr_5_LC_16_14_5 { U111_CYCLE_SM.UM_LATCHED_nesr_5_THRU_LUT4_0, U111_CYCLE_SM.UM_LATCHED_nesr[5] }
ble_pack U111_CYCLE_SM.UM_LATCHED_nesr_3_LC_16_14_6 { U111_CYCLE_SM.UM_LATCHED_nesr_3_THRU_LUT4_0, U111_CYCLE_SM.UM_LATCHED_nesr[3] }
ble_pack U111_CYCLE_SM.UM_LATCHED_nesr_1_LC_16_14_7 { U111_CYCLE_SM.UM_LATCHED_nesr_1_THRU_LUT4_0, U111_CYCLE_SM.UM_LATCHED_nesr[1] }
clb_pack LT_16_14 { U111_CYCLE_SM.UU_LATCHED_nesr_3_LC_16_14_0, U111_CYCLE_SM.UU_LATCHED_nesr_7_LC_16_14_1, U111_CYCLE_SM.UU_LATCHED_nesr_2_LC_16_14_2, U111_CYCLE_SM.UM_LATCHED_nesr_7_LC_16_14_3, U111_CYCLE_SM.UM_LATCHED_nesr_5_LC_16_14_5, U111_CYCLE_SM.UM_LATCHED_nesr_3_LC_16_14_6, U111_CYCLE_SM.UM_LATCHED_nesr_1_LC_16_14_7 }
set_location LT_16_14 16 14
ble_pack U111_CYCLE_SM.UM_LATCHED_nesr_RNIGP7L_1_LC_16_15_0 { U111_CYCLE_SM.UM_LATCHED_nesr_RNIGP7L[1] }
ble_pack U111_CYCLE_SM.UU_LATCHED_nesr_RNICUN51_7_LC_16_15_4 { U111_CYCLE_SM.UU_LATCHED_nesr_RNICUN51[7] }
clb_pack LT_16_15 { U111_CYCLE_SM.UM_LATCHED_nesr_RNIGP7L_1_LC_16_15_0, U111_CYCLE_SM.UU_LATCHED_nesr_RNICUN51_7_LC_16_15_4 }
set_location LT_16_15 16 15
ble_pack U111_CYCLE_SM.LW_CYCLE_RNI1SJF2_LC_16_16_3 { U111_CYCLE_SM.LW_CYCLE_RNI1SJF2 }
ble_pack U111_CYCLE_SM.UM_LATCHED_nesr_RNIS58L_7_LC_16_16_7 { U111_CYCLE_SM.UM_LATCHED_nesr_RNIS58L[7] }
clb_pack LT_16_16 { U111_CYCLE_SM.LW_CYCLE_RNI1SJF2_LC_16_16_3, U111_CYCLE_SM.UM_LATCHED_nesr_RNIS58L_7_LC_16_16_7 }
set_location LT_16_16 16 16
ble_pack U111_CYCLE_SM.LW_CYCLE_RNIVEQV1_LC_16_18_5 { U111_CYCLE_SM.LW_CYCLE_RNIVEQV1 }
ble_pack U111_CYCLE_SM.LW_CYCLE_RNIQTOB2_LC_16_18_6 { U111_CYCLE_SM.LW_CYCLE_RNIQTOB2 }
clb_pack LT_16_18 { U111_CYCLE_SM.LW_CYCLE_RNIVEQV1_LC_16_18_5, U111_CYCLE_SM.LW_CYCLE_RNIQTOB2_LC_16_18_6 }
set_location LT_16_18 16 18
ble_pack U111_CYCLE_SM.UU_LATCHED_nesr_RNI6ON51_4_LC_16_19_1 { U111_CYCLE_SM.UU_LATCHED_nesr_RNI6ON51[4] }
ble_pack U111_CYCLE_SM.LW_CYCLE_RNISVOB2_LC_16_19_4 { U111_CYCLE_SM.LW_CYCLE_RNISVOB2 }
ble_pack U111_CYCLE_SM.UM_LATCHED_nesr_RNIKT7L_3_LC_16_19_7 { U111_CYCLE_SM.UM_LATCHED_nesr_RNIKT7L[3] }
clb_pack LT_16_19 { U111_CYCLE_SM.UU_LATCHED_nesr_RNI6ON51_4_LC_16_19_1, U111_CYCLE_SM.LW_CYCLE_RNISVOB2_LC_16_19_4, U111_CYCLE_SM.UM_LATCHED_nesr_RNIKT7L_3_LC_16_19_7 }
set_location LT_16_19 16 19
ble_pack U111_CYCLE_SM.UM_LATCHED_nesr_RNIO18L_5_LC_16_20_1 { U111_CYCLE_SM.UM_LATCHED_nesr_RNIO18L[5] }
ble_pack U111_CYCLE_SM.UU_LATCHED_nesr_RNI2KN51_2_LC_16_20_3 { U111_CYCLE_SM.UU_LATCHED_nesr_RNI2KN51[2] }
ble_pack U111_CYCLE_SM.UU_LATCHED_nesr_RNI4MN51_3_LC_16_20_4 { U111_CYCLE_SM.UU_LATCHED_nesr_RNI4MN51[3] }
clb_pack LT_16_20 { U111_CYCLE_SM.UM_LATCHED_nesr_RNIO18L_5_LC_16_20_1, U111_CYCLE_SM.UU_LATCHED_nesr_RNI2KN51_2_LC_16_20_3, U111_CYCLE_SM.UU_LATCHED_nesr_RNI4MN51_3_LC_16_20_4 }
set_location LT_16_20 16 20
ble_pack U111_CYCLE_SM.CPU_READ_EN_i_LC_17_13_6 { U111_CYCLE_SM.CPU_READ_EN_i }
clb_pack LT_17_13 { U111_CYCLE_SM.CPU_READ_EN_i_LC_17_13_6 }
set_location LT_17_13 17 13
set_io D_UU_AMIGA[3] 144
set_io D_LL_AMIGA[4] 29
set_io D_LL_040[1] 75
set_io D_LM_AMIGA[6] 9
set_io TEAn 43
set_io A_040[1] 38
set_io TSn 45
set_io D_UM_AMIGA[0] 17
set_io D_UM_040[0] 88
set_io D_LM_040[4] 87
set_io D_UU_AMIGA[7] 143
set_io D_UU_040[7] 116
set_io D_LM_AMIGA[1] 22
set_io D_LL_AMIGA[0] 33
set_io D_LL_040[5] 79
set_io RESETn 34
set_io SIZ[0] 121
set_io D_LM_040[1] 83
set_io CLKRAMA 56
set_io PORTSIZE 42
set_io D_UM_AMIGA[4] 3
set_io D_LL_AMIGA[5] 25
set_io D_LL_040[0] 74
set_io TEA_CPUn 122
set_io LBENn 48
set_io D_UU_040[3] 112
set_io D_UM_AMIGA[3] 7
set_io D_UM_040[5] 114
set_io D_LM_AMIGA[5] 12
set_io D_LM_040[7] 99
set_io D_UU_AMIGA[2] 139
set_io D_UU_040[4] 119
set_io D_LL_AMIGA[7] 24
set_io D_LL_040[6] 80
set_io CLK40B 49
set_io A_040[0] 37
set_io TBI_CPUn 64
set_io TAn 124
set_io D_UM_AMIGA[1] 11
set_io D_UM_040[7] 105
set_io D_LM_AMIGA[7] 10
set_io D_LM_040[5] 90
set_io CPUBGn 102
set_io BUFENn 135
set_io RnW 97
set_io D_UU_AMIGA[0] 138
set_io D_UU_040[6] 115
set_io D_LM_AMIGA[0] 23
set_io D_LL_AMIGA[1] 28
set_io D_LL_040[4] 76
set_io CLK80_CPU 94
set_io BUFDIR 136
set_io A_AMIGA[1] 41
set_io TCI_CPUn 101
set_io D_UM_AMIGA[7] 4
set_io D_UM_040[1] 104
set_io TS_CPUn 125
set_io D_UU_AMIGA[6] 142
set_io D_UU_040[0] 117
set_io D_LM_AMIGA[2] 18
set_io D_LM_040[2] 84
set_io D_LL_AMIGA[3] 32
set_io CLKRAMB 52
set_io D_UM_AMIGA[5] 141
set_io D_UM_040[3] 106
set_io D_LL_040[3] 73
set_io CLK40A 93
set_io TCIn 44
set_io TBIn 55
set_io SIZ[1] 120
set_io D_UU_AMIGA[4] 137
set_io D_UU_040[2] 118
set_io D_UM_040[4] 110
set_io D_LM_AMIGA[4] 16
set_io D_LM_040[0] 82
set_io DMAn 134
set_io CLK40C 21
set_io D_UM_AMIGA[2] 15
set_io D_UM_040[6] 95
set_io D_LM_040[6] 98
set_io CLK40_IN 129
set_io D_UU_AMIGA[1] 8
set_io D_UU_040[5] 113
set_io D_LL_AMIGA[6] 26
set_io D_LL_040[7] 81
set_io D_LM_040[3] 85
set_io A_AMIGA[0] 39
set_io D_UM_AMIGA[6] 2
set_io D_UM_040[2] 91
set_io D_LL_040[2] 78
set_io TACKn 47
set_io D_UU_AMIGA[5] 1
set_io D_UU_040[1] 107
set_io D_LM_AMIGA[3] 19
set_io D_LL_AMIGA[2] 31
set_io BGn 96
