set_location CONSTANT_ONE_LUT4 7 20 7 #SB_LUT4
set_location GB_BUFFER_CLK40_THRU_LUT4_0 23 8 4 #SB_LUT4
set_location GB_BUFFER_CLK80_THRU_LUT4_0 12 13 6 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep8_i_ess_REP_LUT4_0 2 12 5 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep7_i_ess_REP_LUT4_0 3 17 7 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep6_i_ess_REP_LUT4_0 5 20 6 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep5_i_ess_REP_LUT4_0 2 17 1 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep4_i_ess_REP_LUT4_0 5 20 3 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep3_i_ess_REP_LUT4_0 3 19 1 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep30_i_ess_REP_LUT4_0 2 6 5 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep2_i_ess_REP_LUT4_0 7 19 3 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep29_i_ess_REP_LUT4_0 1 8 7 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep28_i_ess_REP_LUT4_0 3 3 7 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep27_i_ess_REP_LUT4_0 3 4 5 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep26_i_ess_REP_LUT4_0 1 3 5 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep25_i_ess_REP_LUT4_0 2 4 1 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep24_i_ess_REP_LUT4_0 1 5 4 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep23_i_ess_REP_LUT4_0 3 16 2 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep22_i_ess_REP_LUT4_0 2 17 5 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep21_i_ess_REP_LUT4_0 3 15 3 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep20_i_ess_REP_LUT4_0 2 13 4 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep1_i_ess_REP_LUT4_0 2 18 4 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep19_i_ess_REP_LUT4_0 3 11 5 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep18_i_ess_REP_LUT4_0 3 13 1 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep17_i_ess_REP_LUT4_0 1 8 6 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep16_i_ess_REP_LUT4_0 2 8 5 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep15_i_ess_REP_LUT4_0 1 20 4 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep14_i_ess_REP_LUT4_0 2 18 1 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep13_i_ess_REP_LUT4_0 6 19 6 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep12_i_ess_REP_LUT4_0 2 19 1 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep11_i_ess_REP_LUT4_0 2 16 6 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep10_i_ess_REP_LUT4_0 1 14 4 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep0_i_ess_REP_LUT4_0 5 18 7 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_i_ess_REP_LUT4_0 2 7 1 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_esr_7_THRU_LUT4_0 12 11 3 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_esr_6_THRU_LUT4_0 12 10 5 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_esr_5_THRU_LUT4_0 11 11 0 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_esr_4_THRU_LUT4_0 12 11 6 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_esr_3_THRU_LUT4_0 12 11 0 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_esr_2_THRU_LUT4_0 12 12 1 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_esr_1_THRU_LUT4_0 10 9 0 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_esr_0_THRU_LUT4_0 11 11 7 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_7_THRU_LUT4_0 12 10 3 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_6_THRU_LUT4_0 12 11 2 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_5_THRU_LUT4_0 12 11 7 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_4_THRU_LUT4_0 12 11 1 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_3_THRU_LUT4_0 12 11 4 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_2_THRU_LUT4_0 12 10 6 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_1_THRU_LUT4_0 11 11 5 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_0_THRU_LUT4_0 12 9 6 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep8_i_ess_REP_LUT4_0 24 8 7 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep7_i_ess_REP_LUT4_0 22 19 0 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep6_i_ess_REP_LUT4_0 23 19 2 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep5_i_ess_REP_LUT4_0 23 19 0 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep4_i_ess_REP_LUT4_0 19 19 0 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep3_i_ess_REP_LUT4_0 24 18 7 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep31_i_ess_REP_LUT4_0 24 5 3 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep30_i_ess_REP_LUT4_0 24 5 0 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep2_i_ess_REP_LUT4_0 20 19 0 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep29_i_ess_REP_LUT4_0 24 11 6 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep28_i_ess_REP_LUT4_0 23 3 4 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep27_i_ess_REP_LUT4_0 24 3 7 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep26_i_ess_REP_LUT4_0 23 4 5 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep25_i_ess_REP_LUT4_0 24 3 2 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep24_i_ess_REP_LUT4_0 24 3 5 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep23_i_ess_REP_LUT4_0 24 13 1 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep22_i_ess_REP_LUT4_0 24 13 0 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep21_i_ess_REP_LUT4_0 23 10 4 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep20_i_ess_REP_LUT4_0 24 8 6 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep1_i_ess_REP_LUT4_0 24 18 2 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep19_i_ess_REP_LUT4_0 24 8 1 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep18_i_ess_REP_LUT4_0 23 6 1 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep17_i_ess_REP_LUT4_0 23 6 2 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep16_i_ess_REP_LUT4_0 24 8 4 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep15_i_ess_REP_LUT4_0 23 19 4 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep14_i_ess_REP_LUT4_0 24 13 6 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep13_i_ess_REP_LUT4_0 24 20 0 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep12_i_ess_REP_LUT4_0 24 20 4 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep11_i_ess_REP_LUT4_0 24 18 1 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep10_i_ess_REP_LUT4_0 24 11 4 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i_U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep0_i_ess_REP_LUT4_0 22 17 5 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIGDFL[2] 13 10 7 #SB_LUT4
set_location D_LM_AMIGA_iobuf_RNO[1] 1 9 6 #SB_LUT4
set_location D_LL_AMIGA_iobuf_RNO[6] 1 6 5 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep4_i_ess 19 19 0 #SB_DFFESS
set_location U111_CYCLE_SM.LATCH_EN 9 9 4 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD_RNII4O01 8 20 1 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE[1] 10 10 0 #SB_DFF
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_2[0] 10 10 2 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[2] 10 10 6 #SB_LUT4
set_location D_UU_AMIGA_iobuf_RNO[5] 2 20 7 #SB_LUT4
set_location D_UM_040_iobuf_RNO[2] 24 10 6 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep29_i_ess 1 8 7 #SB_DFFESS
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep20_i_ess 24 8 6 #SB_DFFESS
set_location U111_CYCLE_SM.TSn 8 9 3 #SB_DFFN
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep7_i_ess 22 19 0 #SB_DFFESS
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep4_i_ess 5 20 3 #SB_DFFESS
set_location U111_CYCLE_SM.FLIP_WORD_RNIG2O01 13 19 1 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIALT71 10 6 0 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_esr[5] 11 11 0 #SB_DFFESR
set_location D_UM_AMIGA_iobuf_RNO[5] 5 19 4 #SB_LUT4
set_location D_LL_040_iobuf_RNO[0] 24 2 0 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_esr_RNO 11 9 0 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep21_i_ess 3 15 3 #SB_DFFESS
set_location U111_CYCLE_SM.FLIP_WORD_RNIBKI41 5 12 5 #SB_LUT4
set_location D_LM_AMIGA_iobuf_RNO[4] 1 13 3 #SB_LUT4
set_location D_LL_AMIGA_iobuf_RNO[3] 1 2 3 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep6_i_ess 5 20 6 #SB_DFFESS
set_location U111_CYCLE_SM.UU_LATCHED_esr_RNI0U6Q[2] 12 14 0 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIKHFL[4] 12 16 4 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep26_i_ess 1 3 5 #SB_DFFESS
set_location U111_CYCLE_SM.FLIP_WORD_RNIJHPK 8 18 7 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr[4] 12 11 1 #SB_DFFESR
set_location U111_CYCLE_SM.CYCLE_STATE[4] 9 10 2 #SB_DFF
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[5] 11 12 7 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep13_i_ess 24 20 0 #SB_DFFESS
set_location D_UU_040_iobuf_RNO[6] 23 20 4 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIVTPK 14 20 4 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_esr[6] 12 10 5 #SB_DFFESR
set_location D_LL_040_iobuf_RNO[7] 24 6 7 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep7_i_ess 3 17 7 #SB_DFFESS
set_location U111_CYCLE_SM.CYCLE_STATE_RNIJG6K[5] 10 12 4 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNI8JT71 12 6 7 #SB_LUT4
set_location D_LM_AMIGA_iobuf_RNO[7] 1 17 3 #SB_LUT4
set_location U111_CYCLE_SM.BURST_COUNT_RNO[1] 9 11 1 #SB_LUT4
set_location U111_CYCLE_SM.TS_EN_RNO_1 9 10 5 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNI8QN01 7 9 1 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr[1] 11 11 5 #SB_DFFESR
set_location D_LM_040_iobuf_RNO[2] 24 6 6 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep1_i_ess 2 18 4 #SB_DFFESS
set_location U111_CYCLE_SM.FLIP_WORD_RNICUN01 5 10 6 #SB_LUT4
set_location D_UU_040_iobuf_RNO[1] 24 19 6 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_esr_RNIA87Q[7] 12 14 1 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNILJPK 12 20 2 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIIFFL[3] 12 16 1 #SB_LUT4
set_location U111_CYCLE_SM.PORT_MISMATCH_RNO 9 11 7 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[3] 10 10 7 #SB_LUT4
set_location D_UU_AMIGA_iobuf_RNO[4] 6 20 2 #SB_LUT4
set_location D_UM_040_iobuf_RNO[3] 24 19 1 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep16_i_ess 2 8 5 #SB_DFFESS
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_i_ess 2 7 1 #SB_DFFESS
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIOLFL[6] 13 11 4 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIK6O01 5 12 2 #SB_LUT4
set_location D_UU_040_iobuf_RNO[4] 19 20 3 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_esr[3] 12 11 0 #SB_DFFESR
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep6_i_ess 23 19 2 #SB_DFFESS
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep17_i_ess 1 8 6 #SB_DFFESS
set_location U111_CYCLE_SM.UU_LATCHED_esr_RNISP6Q[0] 11 17 2 #SB_LUT4
set_location U111_CYCLE_SM.TSn_RNO 8 9 3 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep30_i_ess 24 5 0 #SB_DFFESS
set_location LBENn_c_sbtinv 11 1 0 #SB_LUT4
set_location D_UU_AMIGA_iobuf_RNO[1] 1 18 7 #SB_LUT4
set_location D_UM_040_iobuf_RNO[6] 24 12 2 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_esr_RNI647Q[5] 11 15 3 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep22_i_ess 24 13 0 #SB_DFFESS
set_location U111_CYCLE_SM.FLIP_WORD_RNIJSI41 8 17 5 #SB_LUT4
set_location U111_CYCLE_SM.A2_EN_RNIA87G 3 1 0 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_esr[4] 12 11 6 #SB_DFFESR
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIQNFL[7] 12 19 5 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep17_i_ess 23 6 2 #SB_DFFESS
set_location U111_CYCLE_SM.FLIP_WORD_RNIRPPK 12 20 3 #SB_LUT4
set_location D_UM_AMIGA_iobuf_RNO[4] 1 19 4 #SB_LUT4
set_location D_LL_040_iobuf_RNO[1] 24 2 1 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep0_i_ess 5 18 7 #SB_DFFESS
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep31_i_ess 24 5 3 #SB_DFFESS
set_location U111_CYCLE_SM.BURST_COUNT_RNIFDQV[1] 10 10 4 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep22_i_ess 2 17 5 #SB_DFFESS
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep20_i_ess 2 13 4 #SB_DFFESS
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep19_i_ess 3 11 5 #SB_DFFESS
set_location U111_CYCLE_SM.UM_LATCHED_esr[2] 12 10 6 #SB_DFFESR
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep3_i_ess 24 18 7 #SB_DFFESS
set_location D_LM_AMIGA_iobuf_RNO[5] 1 15 1 #SB_LUT4
set_location D_LL_AMIGA_iobuf_RNO[2] 1 2 7 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNIDUAQ[0] 9 10 0 #SB_LUT4
set_location D_UM_AMIGA_iobuf_RNO[1] 1 15 3 #SB_LUT4
set_location D_LM_040_iobuf_RNO[7] 24 15 3 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep28_i_ess 3 3 7 #SB_DFFESS
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep5_i_ess 23 19 0 #SB_DFFESS
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep27_i_ess 24 3 7 #SB_DFFESS
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep16_i_ess 24 8 4 #SB_DFFESS
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep12_i_ess 24 20 4 #SB_DFFESS
set_location U111_CYCLE_SM.FLIP_WORD 9 11 5 #SB_DFFSR
set_location RESETn_ibuf_RNIM9SF 1 10 2 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep12_i_ess 2 19 1 #SB_DFFESS
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep11_i_ess 2 16 6 #SB_DFFESS
set_location U111_CYCLE_SM.UU_LATCHED_esr_RNI207Q[3] 12 20 4 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr[7] 12 10 3 #SB_DFFESR
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep10_i_ess 24 11 4 #SB_DFFESS
set_location U111_CYCLE_SM.CYCLE_STATE[5] 11 12 7 #SB_DFF
set_location U111_CYCLE_SM.BURST_COUNT[0] 10 11 2 #SB_DFFSR
set_location D_LM_AMIGA_iobuf_RNO[0] 1 7 3 #SB_LUT4
set_location D_LL_AMIGA_iobuf_RNO[7] 1 7 7 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep2_i_ess 7 19 3 #SB_DFFESS
set_location U111_CYCLE_SM.UU_LATCHED_esr_RNI427Q[4] 12 14 2 #SB_LUT4
set_location U111_CYCLE_SM.TA_DIS_RNO 9 11 3 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep26_i_ess 23 4 5 #SB_DFFESS
set_location U111_CYCLE_SM.A2_EN 9 12 5 #SB_DFFSR
set_location D_UU_040_iobuf_RNO[7] 22 20 7 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIC9FL[0] 14 9 2 #SB_LUT4
set_location U111_CYCLE_SM.TS_EN_RNO 8 10 6 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE[0] 10 10 3 #SB_DFF
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[1] 10 10 0 #SB_LUT4
set_location D_UU_AMIGA_iobuf_RNO[6] 3 20 5 #SB_LUT4
set_location D_UM_040_iobuf_RNO[1] 24 17 1 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep18_i_ess 3 13 1 #SB_DFFESS
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep9_i_ess 1 14 7 #SB_DFFESS
set_location U111_CYCLE_SM.UU_LATCHED_esr[1] 10 9 0 #SB_DFFESR
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep25_i_ess 24 3 2 #SB_DFFESS
set_location U111_CYCLE_SM.FLIP_WORD_RNI4FT71 9 2 5 #SB_LUT4
set_location D_LL_040_iobuf_RNO[4] 23 2 1 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep25_i_ess 2 4 1 #SB_DFFESS
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_0[2] 10 10 5 #SB_LUT4
set_location D_UU_AMIGA_iobuf_RNO[3] 2 20 3 #SB_LUT4
set_location D_UM_040_iobuf_RNO[4] 23 20 6 #SB_LUT4
set_location U111_CYCLE_SM.TS_EN 8 10 6 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD_RNO 9 11 5 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIHFPK 9 20 3 #SB_LUT4
set_location D_UM_AMIGA_iobuf_RNO[6] 1 18 6 #SB_LUT4
set_location D_LM_040_iobuf_RNO[4] 24 9 2 #SB_LUT4
set_location D_LL_040_iobuf_RNO[3] 24 2 6 #SB_LUT4
set_location U111_CYCLE_SM.TS_EN_RNO_0 11 10 2 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIHQI41 9 15 2 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNI6HT71 7 3 1 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNIICIM[0] 1 10 4 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep5_i_ess 2 17 1 #SB_DFFESS
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep3_i_ess 3 19 1 #SB_DFFESS
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_5_i 1 14 7 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr[0] 12 9 6 #SB_DFFESR
set_location U111_CYCLE_SM.FLIP_WORD_RNIASN01 8 15 0 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNI0BT71 6 3 1 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_4[0] 10 12 2 #SB_LUT4
set_location D_LM_AMIGA_iobuf_RNO[3] 2 11 7 #SB_LUT4
set_location D_LL_AMIGA_iobuf_RNO[0] 1 2 6 #SB_LUT4
set_location U111_CYCLE_SM.TA_DIS_RNICJKJ 11 13 0 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep24_i_ess 24 3 5 #SB_DFFESS
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep18_i_ess 23 6 1 #SB_DFFESS
set_location U111_CYCLE_SM.LW_TRANS 9 11 2 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD_RNIE0O01 10 18 7 #SB_LUT4
set_location D_UM_AMIGA_iobuf_RNO[3] 1 17 7 #SB_LUT4
set_location D_LM_040_iobuf_RNO[1] 24 6 5 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep27_i_ess 3 4 5 #SB_DFFESS
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep15_i_ess 1 20 4 #SB_DFFESS
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep23_i_ess 24 13 1 #SB_DFFESS
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep14_i_ess 24 13 6 #SB_DFFESS
set_location U111_CYCLE_SM.FLIP_WORD_RNI7GI41 8 7 6 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNIC4111[3] 9 10 1 #SB_LUT4
set_location D_UU_040_iobuf_RNO[2] 20 20 0 #SB_LUT4
set_location BUFENn_obuf_RNO 7 20 0 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr[5] 12 11 7 #SB_DFFESR
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep11_i_ess 24 18 1 #SB_DFFESS
set_location U111_CYCLE_SM.BURST_RNO 9 11 0 #SB_LUT4
set_location D_LL_AMIGA_iobuf_RNO[5] 1 6 4 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep21_i_ess 23 10 4 #SB_DFFESS
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[4] 9 10 2 #SB_LUT4
set_location U111_CYCLE_SM.TA_DIS_RNO_0 9 12 4 #SB_LUT4
set_location D_UU_040_iobuf_RNO[5] 23 20 3 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_esr_RNIUR6Q[1] 10 18 5 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_esr[2] 12 12 1 #SB_DFFESR
set_location U111_CYCLE_SM.CYCLE_STATE[2] 10 10 6 #SB_DFF
set_location D_UU_AMIGA_iobuf_RNO[0] 5 19 3 #SB_LUT4
set_location D_UM_040_iobuf_RNO[7] 24 19 5 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_1[0] 10 10 1 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_esr[7] 12 11 3 #SB_DFFESR
set_location U111_CYCLE_SM.CYCLE_STATE_RNIGD6K[2] 11 10 3 #SB_LUT4
set_location D_LL_040_iobuf_RNO[6] 24 4 0 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep19_i_ess 24 8 1 #SB_DFFESS
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep0_i_ess 22 17 5 #SB_DFFESS
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_0[0] 10 11 7 #SB_LUT4
set_location U111_CYCLE_SM.BURST 9 11 0 #SB_DFFSR
set_location D_LM_AMIGA_iobuf_RNO[6] 1 17 5 #SB_LUT4
set_location U111_CYCLE_SM.TA_DIS 9 11 3 #SB_DFFSR
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep9_i_ess 24 16 1 #SB_DFFESS
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep8_i_ess 24 8 7 #SB_DFFESS
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_esr 11 9 0 #SB_DFFESR
set_location U111_CYCLE_SM.FLIP_WORD_RNINLPK 10 20 7 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNICNT71 11 7 3 #SB_LUT4
set_location U111_CYCLE_SM.BURST_COUNT_RNO[0] 10 11 2 #SB_LUT4
set_location D_UM_AMIGA_iobuf_RNO[0] 1 12 6 #SB_LUT4
set_location D_LM_040_iobuf_RNO[6] 24 14 6 #SB_LUT4
set_location U111_CYCLE_SM.TS_EN_RNO_2 11 8 0 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep2_i_ess 20 19 0 #SB_DFFESS
set_location U111_CYCLE_SM.PORT_MISMATCH 9 11 7 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD_RNIU8T71 5 1 6 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIPNPK 13 20 3 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_0[5] 11 12 6 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep14_i_ess 2 18 1 #SB_DFFESS
set_location U111_CYCLE_SM.UM_LATCHED_esr[6] 12 11 2 #SB_DFFESR
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep29_i_ess 24 11 6 #SB_DFFESS
set_location U111_CYCLE_SM.BURST_COUNT[1] 9 11 1 #SB_DFFSR
set_location U111_CYCLE_SM.UU_LATCHED_esr_RNI867Q[6] 12 20 6 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNILUI41 12 17 7 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIDMI41 7 11 2 #SB_LUT4
set_location D_LM_040_iobuf_RNO[3] 24 7 7 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_5_i 24 16 1 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_3[0] 10 11 6 #SB_LUT4
set_location D_UU_040_iobuf_RNO[0] 22 18 7 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep24_i_ess 1 5 4 #SB_DFFESS
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep28_i_ess 23 3 4 #SB_DFFESS
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep15_i_ess 23 19 4 #SB_DFFESS
set_location GND -1 -1 -1 #GND
set_location U111_CYCLE_SM.FLIP_WORD_RNIM8O01 14 19 3 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_esr[0] 11 11 7 #SB_DFFESR
set_location U111_CYCLE_SM.FLIP_WORD_RNI2DT71 8 3 2 #SB_LUT4
set_location U111_CYCLE_SM.A2_EN_RNO 9 12 5 #SB_LUT4
set_location D_LL_040_iobuf_RNO[5] 24 10 3 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_rep1_i_ess 24 18 2 #SB_DFFESS
set_location D_UU_AMIGA_iobuf_RNO[2] 7 20 6 #SB_LUT4
set_location D_UM_040_iobuf_RNO[5] 23 20 7 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNI9Q9V1[2] 11 10 5 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr[3] 12 11 4 #SB_DFFESR
set_location U111_CYCLE_SM.LATCH_EN_RNO 9 9 4 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep23_i_ess 3 16 2 #SB_DFFESS
set_location D_UM_AMIGA_iobuf_RNO[2] 1 13 1 #SB_LUT4
set_location D_LM_040_iobuf_RNO[0] 24 7 3 #SB_LUT4
set_location D_UU_040_iobuf_RNO[3] 24 19 4 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep8_i_ess 2 12 5 #SB_DFFESS
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep10_i_ess 1 14 4 #SB_DFFESS
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIMJFL[5] 12 20 0 #SB_LUT4
set_location D_LL_AMIGA_iobuf_RNO[4] 2 3 5 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep30_i_ess 2 6 5 #SB_DFFESS
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_rep13_i_ess 6 19 6 #SB_DFFESS
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIEBFL[1] 11 15 6 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE[3] 10 10 7 #SB_DFF
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[0] 10 10 3 #SB_LUT4
set_location D_UU_AMIGA_iobuf_RNO[7] 3 18 1 #SB_LUT4
set_location D_UM_040_iobuf_RNO[0] 24 9 4 #SB_LUT4
set_location U111_CYCLE_SM.LW_TRANS_RNO 9 11 2 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNO_0 6 6 4 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_esr_RNIPC3B1 11 10 4 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIFOI41 11 13 2 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNI9II41 5 10 4 #SB_LUT4
set_location D_UM_AMIGA_iobuf_RNO[7] 1 19 1 #SB_LUT4
set_location D_LM_040_iobuf_RNO[5] 24 10 0 #SB_LUT4
set_location D_LL_040_iobuf_RNO[2] 24 4 6 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNITRPK 8 20 5 #SB_LUT4
set_location U111_CYCLE_SM.A2_EN_RNIB97G 3 1 3 #SB_LUT4
set_location D_LM_AMIGA_iobuf_RNO[2] 3 12 3 #SB_LUT4
set_location D_LL_AMIGA_iobuf_RNO[1] 1 4 1 #SB_LUT4
set_io D_UU_AMIGA[3] 144
set_io D_LL_AMIGA[4] 29
set_io D_LL_040[1] 75
set_io D_LM_AMIGA[6] 9
set_io TEAn 43
set_io A_040[1] 38
set_io TSn 45
set_io D_UM_AMIGA[0] 17
set_io D_UM_040[0] 88
set_io D_LM_040[4] 87
set_io D_UU_AMIGA[7] 143
set_io D_UU_040[7] 116
set_io D_LM_AMIGA[1] 22
set_io D_LL_AMIGA[0] 33
set_io D_LL_040[5] 79
set_io RESETn 34
set_io SIZ[0] 121
set_io D_LM_040[1] 83
set_io CLKRAMA 56
set_io PORTSIZE 42
set_io D_UM_AMIGA[4] 3
set_io D_LL_AMIGA[5] 25
set_io D_LL_040[0] 74
set_io TEA_CPUn 122
set_io LBENn 48
set_io D_UU_040[3] 112
set_io D_UM_AMIGA[3] 7
set_io D_UM_040[5] 114
set_io D_LM_AMIGA[5] 12
set_io D_LM_040[7] 99
set_io D_UU_AMIGA[2] 139
set_io D_UU_040[4] 119
set_io D_LL_AMIGA[7] 24
set_io D_LL_040[6] 80
set_io CLK40B 49
set_io A_040[0] 37
set_io TBI_CPUn 64
set_io TAn 124
set_io D_UM_AMIGA[1] 11
set_io D_UM_040[7] 105
set_io D_LM_AMIGA[7] 10
set_io D_LM_040[5] 90
set_io CPUBGn 102
set_io BUFENn 135
set_io RnW 97
set_io D_UU_AMIGA[0] 138
set_io D_UU_040[6] 115
set_io D_LM_AMIGA[0] 23
set_io D_LL_AMIGA[1] 28
set_io D_LL_040[4] 76
set_io CLK80_CPU 94
set_io BUFDIR 136
set_io A_AMIGA[1] 41
set_io TCI_CPUn 101
set_io D_UM_AMIGA[7] 4
set_io D_UM_040[1] 104
set_io TS_CPUn 125
set_io D_UU_AMIGA[6] 142
set_io D_UU_040[0] 117
set_io D_LM_AMIGA[2] 18
set_io D_LM_040[2] 84
set_io D_LL_AMIGA[3] 32
set_io CLKRAMB 52
set_io D_UM_AMIGA[5] 141
set_io D_UM_040[3] 106
set_io D_LL_040[3] 73
set_io CLK40A 93
set_io TCIn 44
set_io TBIn 55
set_io SIZ[1] 120
set_io D_UU_AMIGA[4] 137
set_io D_UU_040[2] 118
set_io D_UM_040[4] 110
set_io D_LM_AMIGA[4] 16
set_io D_LM_040[0] 82
set_io DMAn 134
set_io CLK40C 21
set_io D_UM_AMIGA[2] 15
set_io D_UM_040[6] 95
set_io D_LM_040[6] 98
set_io CLK40_IN 129
set_io D_UU_AMIGA[1] 8
set_io D_UU_040[5] 113
set_io D_LL_AMIGA[6] 26
set_io D_LL_040[7] 81
set_io D_LM_040[3] 85
set_io A_AMIGA[0] 39
set_io D_UM_AMIGA[6] 2
set_io D_UM_040[2] 91
set_io D_LL_040[2] 78
set_io TACKn 47
set_io D_UU_AMIGA[5] 1
set_io D_UU_040[1] 107
set_io D_LM_AMIGA[3] 19
set_io D_LL_AMIGA[2] 31
set_io BGn 96
