set_location CONSTANT_ONE_LUT4 7 20 2 #SB_LUT4
set_location GB_BUFFER_CLK40_THRU_LUT4_0 12 12 6 #SB_LUT4
set_location GB_BUFFER_CLK80_THRU_LUT4_0 12 12 3 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_7_THRU_LUT4_0 14 17 7 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_6_THRU_LUT4_0 12 17 7 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_5_THRU_LUT4_0 12 17 2 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_4_THRU_LUT4_0 12 17 3 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_3_THRU_LUT4_0 14 17 6 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_2_THRU_LUT4_0 12 17 0 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_1_THRU_LUT4_0 14 17 3 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_0_THRU_LUT4_0 14 17 2 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_7_THRU_LUT4_0 12 17 1 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_6_THRU_LUT4_0 14 15 1 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_5_THRU_LUT4_0 12 17 5 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_4_THRU_LUT4_0 12 17 4 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_3_THRU_LUT4_0 14 17 5 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_2_THRU_LUT4_0 14 15 3 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_1_THRU_LUT4_0 12 17 6 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_0_THRU_LUT4_0 14 15 4 #SB_LUT4
set_location U111_CYCLE_SM.TA_EN_ness_THRU_LUT4_0 13 15 3 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[1] 13 16 2 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr[2] 12 17 0 #SB_DFFNESR
set_location U111_CYCLE_SM.UM_LATCHED_nesr[2] 14 15 3 #SB_DFFNESR
set_location U111_CYCLE_SM.LW_CYCLE_RNII4L62 9 12 7 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIEN7L[0] 14 12 4 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIFAQ22 15 9 2 #SB_LUT4
set_location U111_CYCLE_SM.TS_EN 12 15 3 #SB_DFFN
set_location U111_CYCLE_SM.A_OUT 12 15 0 #SB_DFFN
set_location U111_CYCLE_SM.LW_CYCLE_START 12 14 6 #SB_DFFN
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNI6ON51[4] 12 18 1 #SB_LUT4
set_location U111_CYCLE_SM.TS_EN_RNO_0 12 15 2 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIGP7L[1] 13 17 0 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIRMQ22 10 12 7 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIOVRM1 7 20 4 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIH50A2 14 6 5 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNIASN51[6] 12 20 7 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIS58L[7] 12 18 2 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNICUN51[7] 14 19 6 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNILGQ22 9 18 2 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNIGG4C2[0] 13 16 1 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr[7] 14 17 7 #SB_DFFNESR
set_location U111_CYCLE_SM.UM_LATCHED_nesr[7] 12 17 1 #SB_DFFNESR
set_location U111_CYCLE_SM.LW_CYCLE_RNIG2L62 14 10 5 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNI7RV92 8 3 3 #SB_LUT4
set_location U111_CYCLE_SM.TA_EN_ness_RNIPNOD 13 14 5 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIJEQ22 12 10 6 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIF30A2 8 6 3 #SB_LUT4
set_location U111_CYCLE_SM.A_OUT_RNO 12 15 0 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIK6L62 13 11 2 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNIUFN51[0] 14 20 3 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNI4CSM1 8 20 5 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNI08SM1 10 20 7 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr[0] 14 17 2 #SB_DFFNESR
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIKT7L[3] 14 18 3 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr[0] 14 15 4 #SB_DFFNESR
set_location U111_CYCLE_SM.LW_CYCLE_RNIS3SM1 11 20 2 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNI14FL1[0] 13 16 7 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_START_RNIIU7U 12 15 5 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNO 12 15 7 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE 12 15 7 #SB_DFFN
set_location U111_CYCLE_SM.TSn_RNO 12 13 3 #SB_LUT4
set_location RnW_c_sbtinv 6 10 7 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIQ1SM1 16 18 1 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIOAL62 11 15 2 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNI2ASM1 13 20 7 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr[4] 12 17 3 #SB_DFFNESR
set_location U111_CYCLE_SM.UM_LATCHED_nesr[4] 12 17 4 #SB_DFFNESR
set_location U111_CYCLE_SM.A_OUT_RNIK8GP 3 1 0 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNI0IN51[1] 14 18 4 #SB_LUT4
set_location U111_CYCLE_SM.TA_EN_ness_RNO 12 15 6 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNI6ESM1 9 20 3 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE[1] 13 16 2 #SB_DFFN
set_location GND -1 -1 -1 #GND
set_location U111_CYCLE_SM.LW_CYCLE_RNINIQ22 9 19 4 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIN15M 3 1 1 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr[1] 14 17 3 #SB_DFFNESR
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIIR7L[2] 14 14 4 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr[1] 12 17 6 #SB_DFFNESR
set_location U111_CYCLE_SM.LW_CYCLE_START_RNO 12 14 6 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNI9TV92 12 3 5 #SB_LUT4
set_location RESETn_ibuf_RNIM9SF 13 15 1 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNI8QN51[5] 12 19 6 #SB_LUT4
set_location U111_CYCLE_SM.TSn 12 13 3 #SB_DFFN
set_location U111_CYCLE_SM.LW_CYCLE_START_RNO_0 15 16 5 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr[5] 12 17 2 #SB_DFFNESR
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIQ38L[6] 14 13 1 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr[5] 12 17 5 #SB_DFFNESR
set_location U111_CYCLE_SM.LW_CYCLE_RNIHM0E1 14 16 0 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNIFCLM[0] 13 16 6 #SB_LUT4
set_location U111_CYCLE_SM.TS_EN_RNO 12 15 3 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIE0L62 10 7 1 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE[0] 13 16 4 #SB_DFFN
set_location U111_CYCLE_SM.LW_CYCLE_RNIPKQ22 16 20 1 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNO_0 12 15 1 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNI2KN51[2] 12 19 0 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNI4MN51[3] 14 19 7 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr[6] 12 17 7 #SB_DFFNESR
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIO18L[5] 12 19 4 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr[6] 14 15 1 #SB_DFFNESR
set_location U111_CYCLE_SM.TA_EN_ness 13 15 3 #SB_DFFNESS
set_location U111_CYCLE_SM.LW_CYCLE_RNIJ70A2 7 7 0 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[0] 13 16 4 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_nesr[3] 14 17 6 #SB_DFFNESR
set_location U111_CYCLE_SM.UM_LATCHED_nesr[3] 14 17 5 #SB_DFFNESR
set_location U111_CYCLE_SM.LW_CYCLE_RNISEL62 11 17 0 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNID10A2 9 3 1 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIM8L62 8 13 1 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIBVV92 7 2 2 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIU5SM1 15 20 6 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNITOQ22 10 19 5 #SB_LUT4
set_location U111_CYCLE_SM.TS_EN_RNO_1 12 16 4 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNI5PV92 12 2 5 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIMV7L[4] 12 19 7 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIQCL62 9 17 2 #SB_LUT4
set_location U111_CYCLE_SM.LW_CYCLE_RNIHCQ22 16 15 6 #SB_LUT4
set_io D_LM_AMIGA[6] 9
set_io A_040[1] 38
set_io TSn 45
set_io D_UM_AMIGA[0] 17
set_io D_UM_040[0] 88
set_io D_LM_040[4] 87
set_io D_UU_AMIGA[7] 143
set_io D_UU_040[7] 116
set_io D_LM_AMIGA[1] 22
set_io D_LL_AMIGA[0] 33
set_io D_LL_040[5] 79
set_io RESETn 34
set_io SIZ[0] 121
set_io D_LM_040[1] 83
set_io CLKRAMA 56
set_io PORTSIZE 42
set_io D_UM_AMIGA[4] 3
set_io D_LL_AMIGA[5] 25
set_io D_LL_040[0] 74
set_io D_UU_040[3] 112
set_io D_UM_AMIGA[3] 7
set_io D_UM_040[5] 114
set_io D_LM_AMIGA[5] 12
set_io D_LM_040[7] 99
set_io D_UU_AMIGA[2] 139
set_io D_UU_040[4] 119
set_io D_LL_AMIGA[7] 24
set_io D_LL_040[6] 80
set_io CLK40B 49
set_io A_040[0] 37
set_io TAn 124
set_io D_UM_AMIGA[1] 11
set_io D_UM_040[7] 105
set_io D_LM_AMIGA[7] 10
set_io D_LM_040[5] 90
set_io CPUBGn 102
set_io BUFENn 135
set_io RnW 97
set_io D_UU_AMIGA[0] 138
set_io D_UU_040[6] 115
set_io D_LM_AMIGA[0] 23
set_io D_LL_AMIGA[1] 28
set_io D_LL_040[4] 76
set_io CLK80_CPU 94
set_io BUFDIR 136
set_io A_AMIGA[1] 41
set_io D_UM_AMIGA[7] 4
set_io D_UM_040[1] 104
set_io TS_CPUn 125
set_io D_UU_AMIGA[6] 142
set_io D_UU_040[0] 117
set_io D_LM_AMIGA[2] 18
set_io D_LM_040[2] 84
set_io D_LL_AMIGA[3] 32
set_io CLKRAMB 52
set_io D_UM_AMIGA[5] 141
set_io D_UM_040[3] 106
set_io D_LL_040[3] 73
set_io CLK40A 93
set_io TBIn 55
set_io SIZ[1] 120
set_io D_UU_AMIGA[4] 137
set_io D_UU_040[2] 118
set_io D_UM_040[4] 110
set_io D_LM_AMIGA[4] 16
set_io D_LM_040[0] 82
set_io D_UU_AMIGA[3] 144
set_io D_LL_AMIGA[4] 29
set_io D_LL_040[1] 75
set_io DMAn 134
set_io CLK40C 21
set_io D_UM_AMIGA[2] 15
set_io D_UM_040[6] 95
set_io D_LM_040[6] 98
set_io CLK40_IN 129
set_io D_UU_AMIGA[1] 8
set_io D_UU_040[5] 113
set_io D_LL_AMIGA[6] 26
set_io D_LL_040[7] 81
set_io D_LM_040[3] 85
set_io A_AMIGA[0] 39
set_io D_UM_AMIGA[6] 2
set_io D_UM_040[2] 91
set_io D_LL_040[2] 78
set_io TACKn 47
set_io D_UU_AMIGA[5] 1
set_io D_UU_040[1] 107
set_io D_LM_AMIGA[3] 19
set_io D_LL_AMIGA[2] 31
