ble_pack RnW_c_sbtinv_LC_6_14_7 { RnW_c_sbtinv }
clb_pack LT_6_14 { RnW_c_sbtinv_LC_6_14_7 }
set_location LT_6_14 6 14
ble_pack U111_CYCLE_SM.TSn_LC_12_3_0 { U111_CYCLE_SM.TSn_RNO, U111_CYCLE_SM.TSn }
clb_pack LT_12_3 { U111_CYCLE_SM.TSn_LC_12_3_0 }
set_location LT_12_3 12 3
ble_pack U111_CYCLE_SM.TS_EN_LC_12_9_2 { U111_CYCLE_SM.TS_EN_RNO, U111_CYCLE_SM.TS_EN }
ble_pack D_UM_AMIGA_iobuf_RNO_0_LC_12_9_3 { D_UM_AMIGA_iobuf_RNO[0] }
ble_pack GB_BUFFER_CLK40_THRU_LUT4_0_LC_12_9_4 { GB_BUFFER_CLK40_THRU_LUT4_0 }
clb_pack LT_12_9 { U111_CYCLE_SM.TS_EN_LC_12_9_2, D_UM_AMIGA_iobuf_RNO_0_LC_12_9_3, GB_BUFFER_CLK40_THRU_LUT4_0_LC_12_9_4 }
set_location LT_12_9 12 9
ble_pack CONSTANT_ONE_LUT4_LC_12_20_0 { CONSTANT_ONE_LUT4 }
ble_pack D_UU_AMIGA_iobuf_RNO_0_LC_12_20_4 { D_UU_AMIGA_iobuf_RNO[0] }
ble_pack D_UU_AMIGA_iobuf_RNO_5_LC_12_20_5 { D_UU_AMIGA_iobuf_RNO[5] }
ble_pack D_UM_AMIGA_iobuf_RNO_5_LC_12_20_7 { D_UM_AMIGA_iobuf_RNO[5] }
clb_pack LT_12_20 { CONSTANT_ONE_LUT4_LC_12_20_0, D_UU_AMIGA_iobuf_RNO_0_LC_12_20_4, D_UU_AMIGA_iobuf_RNO_5_LC_12_20_5, D_UM_AMIGA_iobuf_RNO_5_LC_12_20_7 }
set_location LT_12_20 12 20
ble_pack D_LL_040_iobuf_RNO_2_LC_13_3_1 { D_LL_040_iobuf_RNO[2] }
ble_pack D_LL_040_iobuf_RNO_1_LC_13_3_2 { D_LL_040_iobuf_RNO[1] }
ble_pack D_LL_040_iobuf_RNO_4_LC_13_3_5 { D_LL_040_iobuf_RNO[4] }
clb_pack LT_13_3 { D_LL_040_iobuf_RNO_2_LC_13_3_1, D_LL_040_iobuf_RNO_1_LC_13_3_2, D_LL_040_iobuf_RNO_4_LC_13_3_5 }
set_location LT_13_3 13 3
ble_pack D_LM_040_iobuf_RNO_1_LC_13_10_0 { D_LM_040_iobuf_RNO[1] }
ble_pack D_UM_AMIGA_iobuf_RNO_2_LC_13_10_2 { D_UM_AMIGA_iobuf_RNO[2] }
clb_pack LT_13_10 { D_LM_040_iobuf_RNO_1_LC_13_10_0, D_UM_AMIGA_iobuf_RNO_2_LC_13_10_2 }
set_location LT_13_10 13 10
ble_pack GB_BUFFER_CLK80_THRU_LUT4_0_LC_13_20_0 { GB_BUFFER_CLK80_THRU_LUT4_0 }
ble_pack D_UU_AMIGA_iobuf_RNO_3_LC_13_20_2 { D_UU_AMIGA_iobuf_RNO[3] }
ble_pack D_UU_AMIGA_iobuf_RNO_4_LC_13_20_4 { D_UU_AMIGA_iobuf_RNO[4] }
clb_pack LT_13_20 { GB_BUFFER_CLK80_THRU_LUT4_0_LC_13_20_0, D_UU_AMIGA_iobuf_RNO_3_LC_13_20_2, D_UU_AMIGA_iobuf_RNO_4_LC_13_20_4 }
set_location LT_13_20 13 20
ble_pack D_LL_040_iobuf_RNO_3_LC_14_2_1 { D_LL_040_iobuf_RNO[3] }
ble_pack D_LL_040_iobuf_RNO_0_LC_14_2_2 { D_LL_040_iobuf_RNO[0] }
clb_pack LT_14_2 { D_LL_040_iobuf_RNO_3_LC_14_2_1, D_LL_040_iobuf_RNO_0_LC_14_2_2 }
set_location LT_14_2 14 2
ble_pack D_LL_040_iobuf_RNO_5_LC_14_6_3 { D_LL_040_iobuf_RNO[5] }
ble_pack D_LL_040_iobuf_RNO_6_LC_14_6_5 { D_LL_040_iobuf_RNO[6] }
clb_pack LT_14_6 { D_LL_040_iobuf_RNO_5_LC_14_6_3, D_LL_040_iobuf_RNO_6_LC_14_6_5 }
set_location LT_14_6 14 6
ble_pack D_LM_040_iobuf_RNO_4_LC_15_15_2 { D_LM_040_iobuf_RNO[4] }
ble_pack D_LM_040_iobuf_RNO_5_LC_15_15_4 { D_LM_040_iobuf_RNO[5] }
ble_pack D_UM_AMIGA_iobuf_RNO_1_LC_15_15_6 { D_UM_AMIGA_iobuf_RNO[1] }
clb_pack LT_15_15 { D_LM_040_iobuf_RNO_4_LC_15_15_2, D_LM_040_iobuf_RNO_5_LC_15_15_4, D_UM_AMIGA_iobuf_RNO_1_LC_15_15_6 }
set_location LT_15_15 15 15
ble_pack D_UM_AMIGA_iobuf_RNO_4_LC_15_19_0 { D_UM_AMIGA_iobuf_RNO[4] }
ble_pack D_UM_AMIGA_iobuf_RNO_7_LC_15_19_1 { D_UM_AMIGA_iobuf_RNO[7] }
clb_pack LT_15_19 { D_UM_AMIGA_iobuf_RNO_4_LC_15_19_0, D_UM_AMIGA_iobuf_RNO_7_LC_15_19_1 }
set_location LT_15_19 15 19
ble_pack D_UU_AMIGA_iobuf_RNO_1_LC_17_18_0 { D_UU_AMIGA_iobuf_RNO[1] }
ble_pack D_UM_AMIGA_iobuf_RNO_3_LC_17_18_7 { D_UM_AMIGA_iobuf_RNO[3] }
clb_pack LT_17_18 { D_UU_AMIGA_iobuf_RNO_1_LC_17_18_0, D_UM_AMIGA_iobuf_RNO_3_LC_17_18_7 }
set_location LT_17_18 17 18
ble_pack D_LM_040_iobuf_RNO_0_LC_18_7_1 { D_LM_040_iobuf_RNO[0] }
ble_pack D_LL_040_iobuf_RNO_7_LC_18_7_4 { D_LL_040_iobuf_RNO[7] }
clb_pack LT_18_7 { D_LM_040_iobuf_RNO_0_LC_18_7_1, D_LL_040_iobuf_RNO_7_LC_18_7_4 }
set_location LT_18_7 18 7
ble_pack D_UM_AMIGA_iobuf_RNO_6_LC_18_12_0 { D_UM_AMIGA_iobuf_RNO[6] }
ble_pack D_LM_040_iobuf_RNO_3_LC_18_12_2 { D_LM_040_iobuf_RNO[3] }
ble_pack D_LM_040_iobuf_RNO_2_LC_18_12_4 { D_LM_040_iobuf_RNO[2] }
clb_pack LT_18_12 { D_UM_AMIGA_iobuf_RNO_6_LC_18_12_0, D_LM_040_iobuf_RNO_3_LC_18_12_2, D_LM_040_iobuf_RNO_2_LC_18_12_4 }
set_location LT_18_12 18 12
ble_pack D_LM_040_iobuf_RNO_7_LC_18_17_2 { D_LM_040_iobuf_RNO[7] }
ble_pack D_LM_040_iobuf_RNO_6_LC_18_17_6 { D_LM_040_iobuf_RNO[6] }
clb_pack LT_18_17 { D_LM_040_iobuf_RNO_7_LC_18_17_2, D_LM_040_iobuf_RNO_6_LC_18_17_6 }
set_location LT_18_17 18 17
ble_pack SIZ_ibuf_RNI93PP_0_LC_18_20_0 { SIZ_ibuf_RNI93PP[0] }
ble_pack D_UU_AMIGA_iobuf_RNO_2_LC_18_20_1 { D_UU_AMIGA_iobuf_RNO[2] }
ble_pack D_UU_AMIGA_iobuf_RNO_6_LC_18_20_3 { D_UU_AMIGA_iobuf_RNO[6] }
ble_pack D_UU_AMIGA_iobuf_RNO_7_LC_18_20_6 { D_UU_AMIGA_iobuf_RNO[7] }
clb_pack LT_18_20 { SIZ_ibuf_RNI93PP_0_LC_18_20_0, D_UU_AMIGA_iobuf_RNO_2_LC_18_20_1, D_UU_AMIGA_iobuf_RNO_6_LC_18_20_3, D_UU_AMIGA_iobuf_RNO_7_LC_18_20_6 }
set_location LT_18_20 18 20
set_io D_LM_AMIGA[6] 9
set_io A_040[1] 38
set_io TSn 45
set_io D_UM_AMIGA[0] 17
set_io D_UM_040[0] 88
set_io D_LM_040[4] 87
set_io D_UU_AMIGA[7] 143
set_io D_UU_040[7] 116
set_io D_LM_AMIGA[1] 22
set_io D_LL_AMIGA[0] 33
set_io D_LL_040[5] 79
set_io RESETn 34
set_io SIZ[0] 121
set_io D_LM_040[1] 83
set_io CLKRAMA 56
set_io D_UM_AMIGA[4] 3
set_io D_LL_AMIGA[5] 25
set_io D_LL_040[0] 74
set_io D_UU_040[3] 112
set_io D_UM_AMIGA[3] 7
set_io D_UM_040[5] 114
set_io D_LM_AMIGA[5] 12
set_io D_LM_040[7] 99
set_io D_UU_AMIGA[2] 139
set_io D_UU_040[4] 119
set_io D_LL_AMIGA[7] 24
set_io D_LL_040[6] 80
set_io CLK40B 49
set_io A_040[0] 37
set_io TAn 124
set_io D_UM_AMIGA[1] 11
set_io D_UM_040[7] 105
set_io D_LM_AMIGA[7] 10
set_io D_LM_040[5] 90
set_io CPUBGn 102
set_io BUFENn 135
set_io RnW 97
set_io D_UU_AMIGA[0] 138
set_io D_UU_040[6] 115
set_io D_LM_AMIGA[0] 23
set_io D_LL_AMIGA[1] 28
set_io D_LL_040[4] 76
set_io CLK80_CPU 94
set_io BUFDIR 136
set_io A_AMIGA[1] 41
set_io D_UM_AMIGA[7] 4
set_io D_UM_040[1] 104
set_io TS_CPUn 125
set_io D_UU_AMIGA[6] 142
set_io D_UU_040[0] 117
set_io D_LM_AMIGA[2] 18
set_io D_LM_040[2] 84
set_io D_LL_AMIGA[3] 32
set_io CLKRAMB 52
set_io D_UM_AMIGA[5] 141
set_io D_UM_040[3] 106
set_io D_LL_040[3] 73
set_io CLK40A 93
set_io SIZ[1] 120
set_io D_UU_AMIGA[4] 137
set_io D_UU_040[2] 118
set_io D_UM_040[4] 110
set_io D_LM_AMIGA[4] 16
set_io D_LM_040[0] 82
set_io D_UU_AMIGA[3] 144
set_io D_LL_AMIGA[4] 29
set_io D_LL_040[1] 75
set_io DMAn 134
set_io CLK40C 21
set_io D_UM_AMIGA[2] 15
set_io D_UM_040[6] 95
set_io D_LM_040[6] 98
set_io CLK40_IN 129
set_io D_UU_AMIGA[1] 8
set_io D_UU_040[5] 113
set_io D_LL_AMIGA[6] 26
set_io D_LL_040[7] 81
set_io D_LM_040[3] 85
set_io A_AMIGA[0] 39
set_io D_UM_AMIGA[6] 2
set_io D_UM_040[2] 91
set_io D_LL_040[2] 78
set_io TACKn 47
set_io D_UU_AMIGA[5] 1
set_io D_UU_040[1] 107
set_io D_LM_AMIGA[3] 19
set_io D_LL_AMIGA[2] 31
