set_location IN_MUX_bfv_18_5_0_ 18 5 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 17 12 6 #SB_LUT4
set_location U110_ATA.un1_CYCLE_COUNT_15_cry_1_THRU_LUT4_0 18 5 2 #SB_LUT4
set_location U110_ATA.un1_CYCLE_COUNT_15_cry_0_THRU_LUT4_0 18 5 1 #SB_LUT4
set_location U110_ATA.CYCLE_COUNT[4] 18 5 4 #SB_DFF
set_location U110_ATA.ATA_TACK_RNO 18 6 1 #SB_LUT4
set_location U110_ATA.un1_CS1_PRIn_i 16 10 2 #SB_LUT4
set_location U110_ATA.un1_CS0_PRIn_i 18 9 2 #SB_LUT4
set_location U110_ATA.CYCLE_COUNT_RNI1UBQ2[7] 18 6 3 #SB_LUT4
set_location U110_ATA.ATA_CYCLE 17 6 7 #SB_DFF
set_location U110_ATA.un1_CYCLE_COUNT_15_cry_6_c 18 5 6 #SB_CARRY
set_location U110_ATA.un1_CS0_SECn_i 18 7 6 #SB_LUT4
set_location U110_ATA.CYCLE_COUNT_RNO[7] 18 5 7 #SB_LUT4
set_location U110_ATA.RW_EN_RNIJJJD1_0 17 7 1 #SB_LUT4
set_location U110_ATA.CYCLE_COUNT[0] 17 5 2 #SB_DFF
set_location U110_ATA.ATA_TACK_RNO_1 18 6 0 #SB_LUT4
set_location U110_CYCLE_TERMINATION.TACK_OUT_RNO 18 7 3 #SB_LUT4
set_location U110_CYCLE_TERMINATION.TACK_COUNT[0] 18 7 0 #SB_DFFN
set_location U110_ATA.CYCLE_COUNT_RNO[2] 17 5 0 #SB_LUT4
set_location U110_ATA.CYCLE_COUNT_RNIUNKJ1[7] 18 6 6 #SB_LUT4
set_location U110_ATA.un1_CYCLE_COUNT_15_cry_4_c 18 5 4 #SB_CARRY
set_location U110_ATA.ATA_TACK 18 6 1 #SB_DFF
set_location U110_ATA.ATA_START 17 6 2 #SB_DFF
set_location U110_CYCLE_TERMINATION.TACK_OUT 18 7 3 #SB_DFFN
set_location U110_ATA.RW_EN_RNIJJJD1 19 7 2 #SB_LUT4
set_location TACKn_obuft_RNO 24 6 6 #SB_LUT4
set_location RESETn_ibuf_RNIM9SF 19 5 2 #SB_LUT4
set_location U110_CYCLE_TERMINATION.TACK_COUNT_RNO[1] 18 7 4 #SB_LUT4
set_location U110_ATA.ATA_START_RNI20BK 17 6 0 #SB_LUT4
set_location U110_ATA.un1_CYCLE_COUNT_15_cry_3_c 18 5 3 #SB_CARRY
set_location U110_ATA.RW_EN_RNIP3TI1_0 17 7 5 #SB_LUT4
set_location U110_ATA.CYCLE_COUNT_RNO[6] 18 5 6 #SB_LUT4
set_location U110_ATA.CYCLE_COUNT_RNICV873[3] 17 5 5 #SB_LUT4
set_location U110_CYCLE_TERMINATION.TACK_OUT_EN_i_ness_RNO 19 6 0 #SB_LUT4
set_location U110_ATA.CYCLE_COUNT_RNIL1QP[1] 17 6 4 #SB_LUT4
set_location U110_ATA.CYCLE_COUNT[7] 18 5 7 #SB_DFF
set_location U110_ATA.ATA_TACK_RNO_0 17 6 3 #SB_LUT4
set_location U110_ATA.ATA_CYCLE_RNO_0 17 6 6 #SB_LUT4
set_location U110_CYCLE_TERMINATION.TACK_OUT_RNO_0 18 7 2 #SB_LUT4
set_location U110_ATA.CYCLE_COUNT_RNO[4] 18 5 4 #SB_LUT4
set_location U110_ATA.CYCLE_COUNT_RNIE7KJ1[1] 17 5 3 #SB_LUT4
set_location U110_CYCLE_TERMINATION.TACK_COUNT_RNI1PFJ[1] 18 7 1 #SB_LUT4
set_location U110_ATA.RW_EN_RNIP3TI1 19 7 7 #SB_LUT4
set_location U110_ATA.CYCLE_COUNT[1] 17 5 7 #SB_DFF
set_location U110_CYCLE_TERMINATION.TACK_EN_RNO 19 7 5 #SB_LUT4
set_location U110_CYCLE_TERMINATION.TACK_EN 19 7 5 #SB_DFFN
set_location U110_ATA.un1_CYCLE_COUNT_15_cry_1_c 18 5 1 #SB_CARRY
set_location U110_ATA.CYCLE_COUNT_RNO_0[0] 18 5 0 #SB_LUT4
set_location U110_ATA.ATA_CYCLE_RNO 17 6 7 #SB_LUT4
set_location IDEDIR_obuf_RNO 24 6 2 #SB_LUT4
set_location U110_CYCLE_TERMINATION.TACK_OUT_EN_i_ness_RNO_1 18 6 4 #SB_LUT4
set_location U110_CYCLE_TERMINATION.TACK_OUT_EN_i_ness 19 6 0 #SB_DFFNESS
set_location U110_CYCLE_TERMINATION.TACK_COUNT[1] 18 7 4 #SB_DFFN
set_location U110_ATA.un2_DIOR_SECn 18 7 7 #SB_LUT4
set_location U110_ATA.CYCLE_COUNT_RNO[3] 18 5 3 #SB_LUT4
set_location U110_ATA.CYCLE_COUNT[3] 18 5 3 #SB_DFF
set_location U110_CYCLE_TERMINATION.TACK_COUNT_RNO[0] 18 7 0 #SB_LUT4
set_location U110_BUFFERS.un1_IDEHRENn_i 18 7 5 #SB_LUT4
set_location U110_ATA.CYCLE_COUNT_RNIOHKJ1[5] 18 6 2 #SB_LUT4
set_location U110_ATA.un1_CYCLE_COUNT_15_cry_0_c 18 5 0 #SB_CARRY
set_location U110_ATA.CYCLE_COUNT_RNO[1] 17 5 7 #SB_LUT4
set_location U110_ATA.ATA_START_RNIEVJR3 17 6 1 #SB_LUT4
set_location U110_ATA.un1_CS1_SECn_i 18 11 5 #SB_LUT4
set_location U110_ATA.CYCLE_COUNT[6] 18 5 6 #SB_DFF
set_location U110_ATA.CYCLE_COUNT_RNIQUS27[3] 17 5 6 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location U110_ATA.RW_EN 17 7 3 #SB_DFF
set_location U110_ATA.CYCLE_COUNT_RNO[5] 18 5 5 #SB_LUT4
set_location U110_BUFFERS.un1_IDEHWENn_i 19 7 4 #SB_LUT4
set_location U110_ATA.CYCLE_COUNT[2] 17 5 0 #SB_DFF
set_location U110_ATA.un2_DIOR_PRIn 16 7 0 #SB_LUT4
set_location U110_ATA.un1_CYCLE_COUNT_15_cry_5_c 18 5 5 #SB_CARRY
set_location U110_CYCLE_TERMINATION.TACK_OUT_EN_i_ness_RNO_0 18 6 5 #SB_LUT4
set_location U110_ATA.CYCLE_COUNT_RNO[0] 17 5 2 #SB_LUT4
set_location U110_ATA.CYCLE_COUNT_RNICV873[1] 17 5 4 #SB_LUT4
set_location U110_ATA.CYCLE_COUNT_RNICV873_0[3] 17 6 5 #SB_LUT4
set_location U110_ATA.CYCLE_COUNT[5] 18 5 5 #SB_DFF
set_location U110_ATA.ATA_TACK_RNO_2 18 6 7 #SB_LUT4
set_location U110_ATA.ATA_START_RNO 17 6 2 #SB_LUT4
set_location U110_ATA.un1_CYCLE_COUNT_15_cry_2_c 18 5 2 #SB_CARRY
set_location U110_ATA.RW_EN_RNO 17 7 3 #SB_LUT4
set_io SCS0 23
set_io PCS0 25
set_io INT2n 121
set_io TEAn 10
set_io SCS1 22
set_io IDEDIR 83
set_io CS1_SECn 101
set_io CLK40 52
set_io TSn 47
set_io RnW 79
set_io DIOR_SECn 99
set_io ATA_LATCH 85
set_io PCS1 24
set_io DIOW_SECn 98
set_io ATA_ENn 12
set_io RESETn 49
set_io IDEHRENn 88
set_io CS0_PRIn 91
set_io TACKn 75
set_io IDELENn 87
set_io IDEHWENn 97
set_io DIOR_PRIn 96
set_io BGn 76
set_io DIOW_PRIn 94
set_io CS1_PRIn 95
set_io CS0_SECn 84
