set_io -pullup yes DA3[0] 74
set_io -pullup yes DA3[1] 75
set_io -pullup yes DA3[2] 78
set_io -pullup yes DA3[3] 73
set_io -pullup yes DA3[4] 76
set_io -pullup yes DA3[5] 79
set_io -pullup yes DA3[6] 80
set_io -pullup yes DA3[7] 81
set_io -pullup yes DA2[0] 82
set_io -pullup yes DA2[1] 83
set_io -pullup yes DA2[2] 84
set_io -pullup yes DA2[3] 85
set_io -pullup yes DA2[4] 87
set_io -pullup yes DA2[5] 90
set_io -pullup yes DA2[6] 98
set_io -pullup yes DA2[7] 99
set_io -pullup yes DA1[0] 88
set_io -pullup yes DA1[1] 104
set_io -pullup yes DA1[2] 91
set_io -pullup yes DA1[3] 106
set_io -pullup yes DA1[4] 110
set_io -pullup yes DA1[5] 114
set_io -pullup yes DA1[6] 95
set_io -pullup yes DA1[7] 105
set_io -pullup yes DA0[0] 117
set_io -pullup yes DA0[1] 107
set_io -pullup yes DA0[2] 118
set_io -pullup yes DA0[3] 112
set_io -pullup yes DA0[4] 119
set_io -pullup yes DA0[5] 113
set_io -pullup yes DA0[6] 115
set_io -pullup yes DA0[7] 116

set_io -pullup yes DB3[0] 33
set_io -pullup yes DB3[1] 28
set_io -pullup yes DB3[2] 31
set_io -pullup yes DB3[3] 32
set_io -pullup yes DB3[4] 29
set_io -pullup yes DB3[5] 25
set_io -pullup yes DB3[6] 26
set_io -pullup yes DB3[7] 24
set_io -pullup yes DB2[0] 23
set_io -pullup yes DB2[1] 22
set_io -pullup yes DB2[2] 18
set_io -pullup yes DB2[3] 19
set_io -pullup yes DB2[4] 16
set_io -pullup yes DB2[5] 12
set_io -pullup yes DB2[6] 9
set_io -pullup yes DB2[7] 10
set_io -pullup yes DB1[0] 17
set_io -pullup yes DB1[1] 11
set_io -pullup yes DB1[2] 15
set_io -pullup yes DB1[3] 7
set_io -pullup yes DB1[4] 3
set_io -pullup yes DB1[5] 141
set_io -pullup yes DB1[6] 2
set_io -pullup yes DB1[7] 4
set_io -pullup yes DB0[0] 138
set_io -pullup yes DB0[1] 8
set_io -pullup yes DB0[2] 139
set_io -pullup yes DB0[3] 144
set_io -pullup yes DB0[4] 137
set_io -pullup yes DB0[5] 1
set_io -pullup yes DB0[6] 142
set_io -pullup yes DB0[7] 143

set_io CLK80C 20
set_io CLK80B 52
set_io CLK80A 94
set_io CLK40C 21
set_io CLK40B 49
set_io CLK40A 93
set_io CLK40 128
set_io RAMCLK 56

set_io nRESET 34
set_io nBB 37
set_io A[0] 38
set_io A[1] 39
set_io nTEA 41
set_io -pullup yes nTS 42
set_io nTCI 43
set_io DSACK[1] 45
#set_io nLBEN 47
set_io nTBI 48
#set_io nLLBE 60
#set_io nUUBE 61
#set_io lbenout 61
#set_io nLMBE 62
#set_io nUMBE 63
set_io nTBI_CPU 64
set_io nBG 96
set_io RnW 97
set_io nTCI_CPU 101
set_io nCPUBG 102
set_io SIZ[1] 120
set_io SIZ[0] 121
set_io nTEA_CPU 122
set_io nTA 124
set_io nTS_CPU 125
set_io DSACK[0] 129
#set_io TT[0] 130
#set_io TT[1] 134
set_io nBUFEN 135
set_io BUFDIR 136