#CLOCKS
set_io CLK40  52
set_io CLK33 129

#AD BUS
set_io AD[0]    2
set_io AD[1]    1
set_io AD[2]  144
set_io AD[3]  143
set_io AD[4]  142
set_io AD[5]  139
set_io AD[6]  141
set_io AD[7]  138
set_io AD[8]    3
set_io AD[9]  137
set_io AD[10] 136
set_io AD[11] 135
set_io AD[12] 134
set_io AD[13] 130
set_io AD[14] 125
set_io AD[15] 124
set_io AD[16] 122
set_io AD[17] 121
set_io AD[18] 120
set_io AD[19] 119
set_io AD[20] 118
set_io AD[21] 117
set_io AD[22] 116
set_io AD[23] 115
set_io AD[24] 114
set_io AD[25] 113
set_io AD[26] 112
set_io AD[27] 110
set_io AD[28]   4
set_io AD[29]   7
set_io AD[30]   9
set_io AD[31]   8

#D BUS
set_io D[0]   62
set_io D[1]   63
set_io D[2]   64
set_io D[3]   73
set_io D[4]   74
set_io D[5]   75
set_io D[6]   76
set_io D[7]   78
set_io D[8]   79
set_io D[9]   80
set_io D[10]  81
set_io D[11]  82
set_io D[12]  83
set_io D[13]  84
set_io D[14]  85
set_io D[15]  87
set_io D[16]  88
set_io D[17]  90
set_io D[18]  91
set_io D[19]  93
set_io D[20]  94
set_io D[21]  95
set_io D[22]  96
set_io D[23]  97
set_io D[24]  98
set_io D[25]  99
set_io D[26] 101 
set_io D[27] 102
set_io D[28] 104
set_io D[29] 105
set_io D[30] 106
set_io D[31] 109

#DATA TRANSFER SIGNALS
set_io RESETn 49
set_io TSn    29
set_io BGn    28
set_io TACKn  23
set_io WEn    18

#PCI CYCLE SIGNALS
set_io PCICYCLEn  19
set_io BURSTn     17
set_io PHASEA_D   16
set_io PAR_DA     15
set_io TRDYn      12
set_io IRDYn      11
set_io STOPn      10
set_io IDSEL0     48
set_io IDSEL1     61
set_io IDSEL2     55
set_io IDSEL3     60
set_io IDSEL4     56
set_io BREGn      41
set_io ADLATCH    39
set_io PCI_DIR    38
set_io ALATCH     37
set_io BENn      128

set_io CONFIENn 24