set_location IN_MUX_bfv_14_6_0_ 14 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_7_0_ 14 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_17_5_0_ 17 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_17_6_0_ 17 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_12_0_ 8 12 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 17 3 5 #SB_LUT4
set_location GB_BUFFER_CLK40_IN_c_g_THRU_LUT4_0 12 1 3 #SB_LUT4
set_location U409_TRANSFER_ACK.LASTCLK_1_THRU_LUT4_0 15 9 0 #SB_LUT4
set_location U409_TRANSFER_ACK.LASTCLK_0_THRU_LUT4_0 15 9 7 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_EN_ner_THRU_LUT4_0 11 8 0 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_ENABLED_1_THRU_LUT4_0 14 8 4 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO_0[14] 14 7 5 #SB_LUT4
set_location U409_AUTOCONFIG.un1_A_13_1 2 10 7 #SB_LUT4
set_location U409_AUTOCONFIG.CONFIGURED 9 7 7 #SB_DFFNSR
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[7] 10 9 6 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_13_c 14 7 4 #SB_CARRY
set_location U409_TICK.COUNTER50[12] 17 6 3 #SB_DFF
set_location U409_AUTOCONFIG.STATE[1] 11 9 1 #SB_DFFN
set_location U409_AUTOCONFIG.PR_OUT_RNISS912[1] 7 8 3 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_12_c 17 6 3 #SB_CARRY
set_location U409_ADDRESS_DECODE.m38 10 9 1 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_6_c 14 6 5 #SB_CARRY
set_location U409_TICK.COUNTER60[8] 15 6 1 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[0] 17 4 5 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_BASE_RNO[5] 10 8 0 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_BPRO_ENn_i 5 7 5 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO_0[9] 14 7 0 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNO[3] 8 8 1 #SB_LUT4
set_location U409_AUTOCONFIG.AC_START 8 10 3 #SB_DFF
set_location U409_TRANSFER_ACK.ROM_TACK_EN_RNO_3 14 10 2 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[10] 14 7 1 #SB_LUT4
set_location U409_AUTOCONFIG.un1_A_13 5 9 0 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[4] 10 10 1 #SB_DFFNR
set_location U409_TICK.un3_COUNTER60_1_cry_7_c 14 6 6 #SB_CARRY
set_location U409_AUTOCONFIG.LIDE_OUT_RNI7DMP[1] 7 10 3 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_RAMSPACEn 11 9 0 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_CIACS0n_i 12 5 6 #SB_LUT4
set_location U409_CIA.CLK_CIA_RNO 8 11 3 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_0[2] 8 9 3 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_7_i_a2_0[0] 7 11 7 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER 13 8 1 #SB_DFFNSR
set_location U409_TICK.COUNTER60[6] 15 6 7 #SB_DFF
set_location U409_TRANSFER_ACK.DELAYED_TACK_EN_ner 11 8 0 #SB_DFFNER
set_location U409_TICK.COUNTER50_RNII24V[14] 16 5 5 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNI5BMP[0] 8 8 5 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_CONF 6 8 1 #SB_DFFNSR
set_location U409_TRANSFER_ACK.CIA_STATE_RNO_0[0] 15 8 0 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[12] 17 6 3 #SB_LUT4
set_location U409_TICK.COUNTER50_RNID6CP[3] 17 4 0 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_CONF_RNO 10 8 2 #SB_LUT4
set_location U409_ADDRESS_DECODE.m41 5 17 7 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_EN_ner_RNIKDE9 12 8 4 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE[0] 15 8 1 #SB_DFFN
set_location U409_CIA.CIA_CLK_COUNT[1] 9 12 5 #SB_DFF
set_location U409_TICK.COUNTER50_RNIUHF01[16] 17 4 1 #SB_LUT4
set_location U409_AUTOCONFIG.un1_A_14_2_0_a2 6 10 3 #SB_LUT4
set_location U409_AUTOCONFIG.PR_OUT_RNO[3] 7 10 4 #SB_LUT4
set_location U409_AUTOCONFIG.PR_OUT_RNO_1[1] 6 9 0 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_BASE_RNO[6] 9 9 7 #SB_LUT4
set_location U409_ADDRESS_DECODE.m27_3 10 9 4 #SB_LUT4
set_location U409_TICK.COUNTER60_RNICDC71[14] 15 6 6 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNO[0] 7 8 0 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO_0[0] 14 9 1 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_EN_RNO 13 8 6 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_EN 13 8 6 #SB_DFFNSR
set_location U409_TICK.COUNTER60_RNO[15] 15 7 7 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO_0[6] 17 5 5 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_OUTn_RNO_0 12 8 6 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[1] 10 9 2 #SB_DFFNR
set_location U409_AUTOCONFIG.BRIDGE_BASE[5] 10 8 0 #SB_DFFNSR
set_location U409_TICK.un3_COUNTER60_1_cry_9_c 14 7 0 #SB_CARRY
set_location U409_TICK.COUNTER50[4] 17 5 3 #SB_DFF
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_0[1] 7 10 1 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_7_0_a2[3] 8 10 2 #SB_LUT4
set_location U409_ADDRESS_DECODE.m33 10 9 0 #SB_LUT4
set_location U409_TICK.COUNTER60[1] 15 6 3 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[7] 17 5 6 #SB_LUT4
set_location U409_CIA.CLK_CIA_RNO_0 8 12 7 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_4 5 6 0 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_RTC_ENn_i 9 6 7 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[11] 18 5 3 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO_0[13] 17 6 4 #SB_LUT4
set_location U409_AUTOCONFIG.PRO_BASE[1] 6 8 7 #SB_DFFNSR
set_location U409_TRANSFER_ACK.CIA_TACK_EN 14 8 0 #SB_DFFNSR
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_2_c 8 12 1 #SB_CARRY
set_location U409_CIA.CIA_CLK_COUNT_RNO[7] 8 12 6 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[4] 8 12 3 #SB_DFF
set_location U409_AUTOCONFIG.AC_START_RNI04BC 8 9 4 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[0] 15 10 7 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_ENABLED[1] 14 8 4 #SB_DFFNSR
set_location U409_TRANSFER_ACK.TACK_EN 12 9 7 #SB_DFFNSR
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_5_c 8 12 4 #SB_CARRY
set_location U409_ADDRESS_DECODE.un1_BREG_ENn_2 8 7 6 #SB_LUT4
set_location U409_TICK.COUNTER60[16] 14 7 7 #SB_DFF
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[3] 10 10 6 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE_RNO[0] 15 8 1 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[16] 14 7 7 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO_0[5] 17 5 4 #SB_LUT4
set_location U409_TICK.COUNTER50[16] 17 6 7 #SB_DFF
set_location U409_AUTOCONFIG.LIDE_BASE_RNO[5] 9 7 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.ROMEN_0_a3_0 12 10 3 #SB_LUT4
set_location U409_ADDRESS_DECODE.N_22_0_i 10 6 6 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOVECTOR_7 5 12 2 #SB_LUT4
set_location U409_ADDRESS_DECODE.ATA_SPACE_2 10 7 7 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[0] 15 7 1 #SB_LUT4
set_location U409_AUTOCONFIG.un1_STATE_6_1 7 11 1 #SB_LUT4
set_location U409_AUTOCONFIG.STATE_RNI10V92[1] 8 9 5 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_BASE[2] 9 7 3 #SB_DFFNSR
set_location U409_TRANSFER_ACK.un1_AUTOVECTOR 6 11 7 #SB_LUT4
set_location U409_TICK.COUNTER50[1] 16 6 5 #SB_DFF
set_location U409_CIA.VMA_RNI692L 14 8 5 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_CONF_RNIH4AI 8 8 2 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_BASE[4] 10 8 7 #SB_DFFNSR
set_location U409_AUTOCONFIG.BRIDGE_OUT[0] 8 9 7 #SB_DFFNE
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[1] 13 9 6 #SB_DFFNSR
set_location U409_TRANSFER_ACK.LASTCLK[0] 15 9 7 #SB_DFFNSR
set_location U409_TICK.un2_COUNTER50_1_cry_10_c 17 6 1 #SB_CARRY
set_location U409_TICK.COUNTER50_RNO[4] 17 5 3 #SB_LUT4
set_location U409_AUTOCONFIG.PR_OUT[2] 7 10 6 #SB_DFFNE
set_location U409_AUTOCONFIG.LIDE_OUT[3] 8 8 1 #SB_DFFNE
set_location U409_AUTOCONFIG.BRIDGE_BASE_RNO[1] 10 8 4 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_3 5 5 0 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_TACK_EN_RNIFT8M 12 8 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.ATA_EN 10 7 4 #SB_DFF
set_location U409_TRANSFER_ACK.ROM_TACK_EN 13 9 4 #SB_DFFNSR
set_location U409_TICK.COUNTER50_RNO[14] 16 5 6 #SB_LUT4
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_6_c 8 12 5 #SB_CARRY
set_location U409_CIA.VMA_RNO_1 9 12 1 #SB_LUT4
set_location U409_AUTOCONFIG.PR_OUT_cnst_i_i_a2_1[3] 5 10 7 #SB_LUT4
set_location U409_ADDRESS_DECODE.m33_3 10 9 3 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOVECTOR_8 3 11 4 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_15_c 14 7 6 #SB_CARRY
set_location U409_TICK.COUNTER60_RNI2USG[10] 15 7 0 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNO[2] 8 12 1 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[7] 8 12 6 #SB_DFF
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_1[0] 6 9 1 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a4_0[0] 5 10 0 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_EN_RNO_0 13 8 5 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO[1] 7 10 0 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_RTC_ENn_0 8 7 3 #SB_LUT4
set_location U409_ADDRESS_DECODE.ATA_SPACE 10 7 3 #SB_LUT4
set_location U409_ADDRESS_DECODE.ATA_EN_RNITH4D5 11 7 6 #SB_LUT4
set_location U409_ADDRESS_DECODE.ATA_EN_RNIO8F0F 10 7 0 #SB_LUT4
set_location U409_TRANSFER_ACK.ROMENn_RNO_0 12 10 2 #SB_LUT4
set_location U409_TICK.COUNTER60[13] 14 7 4 #SB_DFF
set_location U409_AUTOCONFIG.LIDE_CONF_RNIUIPA2_1 9 8 7 #SB_LUT4
set_location U409_ADDRESS_DECODE.m27 10 9 5 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_COUNTER[0] 12 8 2 #SB_DFFN
set_location U409_TRANSFER_ACK.ROM_TACK_EN_RNO 13 9 4 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[4] 10 10 1 #SB_LUT4
set_location U409_TICK.COUNTER50[11] 18 5 3 #SB_DFF
set_location U409_ADDRESS_DECODE.m45 13 15 3 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[7] 14 6 6 #SB_LUT4
set_location U409_TICK.COUNTER50[2] 17 5 1 #SB_DFF
set_location U409_AUTOCONFIG.PR_OUT_RNIVV912[2] 7 8 2 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_BASE[3] 10 8 1 #SB_DFFNSR
set_location U409_TICK.COUNTER50_RNO[1] 16 6 5 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_BASE_RNO[2] 9 7 3 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_TACK_EN_RNO 14 8 0 #SB_LUT4
set_location U409_TICK.TICK60 16 6 4 #SB_DFF
set_location U409_TRANSFER_ACK.ROM_TACK_EN_RNO_2 12 10 6 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNIRHPR5[0] 12 10 1 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNI87LI[2] 13 10 1 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[11] 14 7 2 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNO[1] 9 12 5 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[5] 10 10 3 #SB_DFFNR
set_location U409_TICK.COUNTER60_RNO[9] 15 6 0 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_CONF 10 8 2 #SB_DFFNSR
set_location U409_AUTOCONFIG.AC_START_RNO 8 10 3 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_OUTn_RNO 12 8 7 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_5_c 14 6 4 #SB_CARRY
set_location U409_AUTOCONFIG.LIDE_OUT_7_i_o4[0] 7 9 4 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_REGSPACEn_i 9 11 7 #SB_LUT4
set_location U409_TICK.COUNTER60[5] 14 6 4 #SB_DFF
set_location U409_AUTOCONFIG.un1_A_13_3 3 10 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.D_1_i 6 6 0 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_EN_sbtinv 11 9 3 #SB_LUT4
set_location U409_TICK.COUNTER60[10] 14 7 1 #SB_DFF
set_location U409_AUTOCONFIG.PR_OUT_cnst_i_i_a2_0[3] 7 11 4 #SB_LUT4
set_location U409_AUTOCONFIG.AC_TACK_RNO 11 10 0 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_BASE_RNO[3] 10 8 1 #SB_LUT4
set_location U409_ADDRESS_DECODE.CS0 12 3 1 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE[1] 15 8 7 #SB_DFFN
set_location U409_TICK.un2_COUNTER50_1_cry_2_c 17 5 1 #SB_CARRY
set_location U409_CIA.CIA_CLK_COUNT[0] 9 12 4 #SB_DFF
set_location U409_AUTOCONFIG.PR_OUT_RNO[0] 7 8 4 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_CONF_RNID7FU1_0 9 9 6 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_BASE_RNO[7] 9 9 4 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNO[1] 7 10 2 #SB_LUT4
set_location U409_AUTOCONFIG.AC_TACK 11 10 0 #SB_DFFNSR
set_location U409_ADDRESS_DECODE.SCS1 19 3 2 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[12] 14 7 3 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNI9FMP[2] 7 8 1 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[2] 9 10 0 #SB_DFFNR
set_location U409_AUTOCONFIG.PRO_BASE_RNO[0] 6 8 6 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_BASE[6] 9 9 7 #SB_DFFNSR
set_location U409_ADDRESS_DECODE.m12 2 15 2 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOCONFIG_SPACE 5 6 1 #SB_LUT4
set_location AGNUS_CLK_obuf_RNO 24 14 7 #SB_LUT4
set_location U409_TICK.COUNTER50[5] 17 4 7 #SB_DFF
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_0[0] 6 9 7 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a2[3] 6 11 4 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_CONF_RNID7FU1 9 8 1 #SB_LUT4
set_location U409_TICK.COUNTER60[0] 15 7 1 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[8] 17 5 7 #SB_LUT4
set_location U409_AUTOCONFIG.PR_OUT_cnst_i_i_o4[2] 6 10 4 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a4_0_0[0] 5 10 3 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_3_c 14 6 2 #SB_CARRY
set_location U409_ADDRESS_DECODE.m1 3 9 7 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[10] 17 6 1 #SB_LUT4
set_location U409_AUTOCONFIG.PRO_BASE[2] 6 8 3 #SB_DFFNSR
set_location U409_ADDRESS_DECODE.m43 13 14 4 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_EN_RNO 12 9 7 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNO[6] 8 12 5 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[3] 8 12 2 #SB_DFF
set_location U409_ADDRESS_DECODE.PCS0 19 2 5 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[1] 13 9 6 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_4_c 14 6 3 #SB_CARRY
set_location U409_TICK.COUNTER50[8] 17 5 7 #SB_DFF
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_3[0] 5 11 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_BREG_ENn_3 9 6 4 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_5_c 17 5 4 #SB_CARRY
set_location U409_TRANSFER_ACK.TACK_OUTn 12 8 7 #SB_DFFN
set_location U409_TRANSFER_ACK.LASTCLK_RNIHJ5G[1] 15 8 4 #SB_LUT4
set_location U409_AUTOCONFIG.PR_OUT_RNIPP912[0] 8 8 6 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE_RNO[1] 15 8 7 #SB_LUT4
set_location U409_TICK.COUNTER50[15] 16 5 1 #SB_DFF
set_location U409_AUTOCONFIG.STATE_RNIDEFO1[0] 6 9 4 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_BASE_RNO[4] 10 8 7 #SB_LUT4
set_location U409_ADDRESS_DECODE.ROMEN_0_a3_1_0 12 10 7 #SB_LUT4
set_location U409_ADDRESS_DECODE.ROMEN_0_a3_1 11 12 3 #SB_LUT4
set_location U409_ADDRESS_DECODE.ROMEN_0_a2 12 10 0 #SB_LUT4
set_location U409_ADDRESS_DECODE.ATA_SPACE_3 10 7 6 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[3] 14 6 2 #SB_LUT4
set_location U409_TICK.COUNTER60_RNI335G2[11] 15 7 3 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_BASE[3] 10 8 6 #SB_DFFNSR
set_location U409_TICK.COUNTER50[6] 17 4 3 #SB_DFF
set_location U409_CIA.VMA_RNO 9 11 4 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_BASE[7] 10 8 5 #SB_DFFNSR
set_location U409_AUTOCONFIG.BRIDGE_OUT[3] 8 8 0 #SB_DFFNE
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[2] 12 9 0 #SB_DFFNSR
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER21_0_i_0_x3_0[0] 14 11 1 #SB_LUT4
set_location U409_TICK.COUNTER60[3] 14 6 2 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[5] 17 4 7 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNICTDR2[3] 9 12 3 #SB_LUT4
set_location U409_AUTOCONFIG.PR_OUT_cnst_i_i_a2_2[3] 6 11 3 #SB_LUT4
set_location U409_AUTOCONFIG.PR_OUT[3] 7 10 4 #SB_DFFNE
set_location U409_AUTOCONFIG.LIDE_OUT[0] 7 8 0 #SB_DFFNE
set_location U409_TICK.COUNTER60_RNO_0[6] 14 6 5 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO_0[9] 17 6 0 #SB_LUT4
set_location U409_CIA.VMA_RNO_0 9 11 3 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNO[5] 8 12 4 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[6] 8 12 5 #SB_DFF
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[2] 12 9 0 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO[0] 8 9 7 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_BREG_ENn_0 9 9 2 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_2_c 14 6 1 #SB_CARRY
set_location U409_TICK.COUNTER60_RNIDB4S[16] 15 7 2 #SB_LUT4
set_location U409_AUTOCONFIG.STATE_RNIF4QU[0] 11 9 7 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_COUNTER_RNO[1] 12 8 3 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE_RNO_1[0] 15 8 5 #SB_LUT4
set_location U409_TICK.COUNTER60[14] 15 7 4 #SB_DFF
set_location U409_AUTOCONFIG.STATE_RNO[0] 11 9 2 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_CONF_RNO 6 8 1 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_CONF_RNIUIPA2_0 8 8 7 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[5] 10 10 3 #SB_LUT4
set_location U409_TICK.COUNTER50[10] 17 6 1 #SB_DFF
set_location U409_AUTOCONFIG.LIDE_BASE_RNO[7] 10 8 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.ATA_SPACE_0 10 7 2 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[6] 15 6 7 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_BASE[0] 9 8 0 #SB_DFFNSR
set_location RESETn_ibuf_RNIM9SF 12 19 2 #SB_LUT4
set_location U409_TICK.COUNTER50[3] 17 5 2 #SB_DFF
set_location U409_AUTOCONFIG.LIDE_BASE[2] 9 7 4 #SB_DFFNSR
set_location U409_TICK.COUNTER50_RNO[2] 17 5 1 #SB_LUT4
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_1_c 8 12 0 #SB_CARRY
set_location U409_AUTOCONFIG.PR_OUT[0] 7 8 4 #SB_DFFNE
set_location U409_AUTOCONFIG.BRIDGE_BASE_RNO[3] 10 8 6 #SB_LUT4
set_location U409_AUTOCONFIG.STATE_RNIU6QK1[0] 9 9 5 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_EN_RNO_1 14 10 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.m33_1 10 10 2 #SB_LUT4
set_location U409_TRANSFER_ACK.ROMENn 13 10 3 #SB_DFFNSS
set_location U409_CIA.CIA_CLK_COUNT_RNO[0] 9 12 4 #SB_LUT4
set_location U409_TRANSFER_ACK.ROMENn_RNO 13 10 3 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[6] 10 9 7 #SB_DFFNR
set_location U409_TICK.COUNTER60_RNO[8] 15 6 1 #SB_LUT4
set_location U409_TRANSFER_ACK.LASTCLK_RNI9HNJ[1] 15 8 3 #SB_LUT4
set_location U409_AUTOCONFIG.PR_OUT_RNO_0[2] 7 10 5 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO[3] 8 8 0 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO_0[15] 14 7 6 #SB_LUT4
set_location U409_TICK.COUNTER60[4] 15 6 5 #SB_DFF
set_location U409_TICK.un2_COUNTER50_1_cry_13_c 17 6 4 #SB_CARRY
set_location U409_TICK.COUNTER60[11] 14 7 2 #SB_DFF
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[6] 10 9 7 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER16 10 11 1 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO_0[14] 17 6 5 #SB_LUT4
set_location U409_TICK.COUNTER50[13] 16 5 2 #SB_DFF
set_location U409_AUTOCONFIG.LIDE_BASE_RNO[2] 9 7 4 #SB_LUT4
set_location U409_ADDRESS_DECODE.m47 5 8 0 #SB_LUT4
set_location U409_ADDRESS_DECODE.m12_5 1 15 4 #SB_LUT4
set_location U409_ADDRESS_DECODE.CS1 12 3 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOVECTOR_10_0 5 11 3 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[5] 14 6 4 #SB_LUT4
set_location U409_TICK.COUNTER50_RNITU182[10] 17 4 2 #SB_LUT4
set_location U409_AUTOCONFIG.STATE[0] 11 9 2 #SB_DFFN
set_location U409_TICK.un3_COUNTER60_1_cry_10_c 14 7 1 #SB_CARRY
set_location U409_AUTOCONFIG.PR_OUT_RNO[1] 7 9 3 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_BASE[1] 9 7 1 #SB_DFFNSR
set_location U409_TICK.COUNTER60[9] 15 6 0 #SB_DFF
set_location U409_AUTOCONFIG.LIDE_OUT_RNIBHMP[3] 8 8 4 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_BASE_RNO[4] 9 9 3 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO_0[8] 14 6 7 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNO[2] 8 9 0 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOVECTOR_10 3 7 6 #SB_LUT4
set_location U409_ADDRESS_DECODE.SCS0 20 3 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.ATA_EN_RNO 10 7 4 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[13] 14 7 4 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[3] 10 10 6 #SB_DFFNR
set_location U409_AUTOCONFIG.PRO_BASE_RNO[1] 6 8 7 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_BASE[7] 9 9 4 #SB_DFFNSR
set_location U409_ADDRESS_DECODE.m13 5 7 0 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNISRU81[2] 10 10 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.LV_SPACE 11 7 5 #SB_LUT4
set_location U409_TICK.COUNTER60[7] 14 6 6 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[9] 16 5 4 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_REGSPACEn 10 11 2 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_3_c 17 5 2 #SB_CARRY
set_location U409_ADDRESS_DECODE.m20 10 6 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.CIA_SPACE 5 11 6 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE_RNO_0[1] 15 8 6 #SB_LUT4
set_location U409_TICK.COUNTER60_RNIHJU51[4] 15 6 4 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[13] 16 5 2 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO_0[11] 17 6 2 #SB_LUT4
set_location U409_CIA.VMA_RNI692L_0 12 5 5 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_2[0] 7 12 3 #SB_LUT4
set_location U409_ADDRESS_DECODE.m12_0 2 15 1 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER_RNO 13 8 1 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_4_c 17 5 3 #SB_CARRY
set_location U409_TICK.TICK60_RNO 16 6 4 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[2] 8 12 1 #SB_DFF
set_location U409_ADDRESS_DECODE.un1_CIACS1n_i 12 5 1 #SB_LUT4
set_location U409_ADDRESS_DECODE.PCS1 20 2 2 #SB_LUT4
set_location U409_TICK.COUNTER50[9] 16 5 4 #SB_DFF
set_location U409_AUTOCONFIG.PR_OUT_RNO[2] 7 10 6 #SB_LUT4
set_location U409_AUTOCONFIG.CONFIGENn 6 7 1 #SB_DFFNSS
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNIGEA51[3] 13 10 2 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_7_0_o2[2] 7 9 1 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_BREG_ENn_4 8 6 7 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_14_c 17 6 5 #SB_CARRY
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_3_c 8 12 2 #SB_CARRY
set_location U409_ADDRESS_DECODE.un1_RAMSPACEn_i 12 7 3 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_6_c 17 5 5 #SB_CARRY
set_location U409_CIA.VMA 9 11 4 #SB_DFF
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[1] 10 9 2 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_11_c 17 6 2 #SB_CARRY
set_location U409_TICK.TICK50_RNO 17 4 4 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[14] 15 7 4 #SB_LUT4
set_location U409_TICK.COUNTER50[14] 16 5 6 #SB_DFF
set_location U409_ADDRESS_DECODE.un1_BREG_ENn_i 9 8 3 #SB_LUT4
set_location U409_ADDRESS_DECODE.ROMEN_0_a3_2 12 11 5 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[0] 10 10 7 #SB_DFFNR
set_location U409_TICK.COUNTER60_RNO[2] 14 6 1 #SB_LUT4
set_location U409_AUTOCONFIG.PR_OUT_RNI23A12[3] 8 8 3 #SB_LUT4
set_location U409_AUTOCONFIG.PRO_BASE_RNO[2] 6 8 3 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_BASE[4] 9 9 3 #SB_DFFNSR
set_location U409_TICK.un3_COUNTER60_1_cry_11_c 14 7 2 #SB_CARRY
set_location U409_TICK.COUNTER50[7] 17 5 6 #SB_DFF
set_location U409_AUTOCONFIG.LIDE_BASE[6] 9 7 6 #SB_DFFNSR
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a2[1] 7 11 5 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT[2] 7 9 5 #SB_DFFNE
set_location U409_ADDRESS_DECODE.un1_AUTOCONFIG_SPACE 8 7 7 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[3] 13 9 5 #SB_DFFNSR
set_location U409_TICK.un2_COUNTER50_1_cry_7_c 17 5 6 #SB_CARRY
set_location U409_TICK.COUNTER60[2] 14 6 1 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[6] 17 4 3 #SB_LUT4
set_location U409_CIA.CLK_CIA_RNO_1 8 11 2 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT[1] 7 10 2 #SB_DFFNE
set_location U409_AUTOCONFIG.LIDE_CONF_RNIUIPA2 6 9 5 #SB_LUT4
set_location U409_AUTOCONFIG.CONFIGURED_RNO 9 7 7 #SB_LUT4
set_location U409_ADDRESS_DECODE.m3 5 12 1 #SB_LUT4
set_location U409_ADDRESS_DECODE.ATA_SPACE_1_0 11 7 4 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[16] 17 6 7 #SB_LUT4
set_location U409_AUTOCONFIG.PRO_BASE[0] 6 8 6 #SB_DFFNSR
set_location U409_ADDRESS_DECODE.un1_RTC_ENn 8 7 4 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_12_c 14 7 3 #SB_CARRY
set_location U409_CIA.CIA_CLK_COUNT_RNO[4] 8 12 3 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[5] 8 12 4 #SB_DFF
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[3] 13 9 5 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_ENABLED[0] 14 8 5 #SB_DFFNSR
set_location U409_AUTOCONFIG.CONFIGENn_RNO 6 7 1 #SB_LUT4
set_location U409_ADDRESS_DECODE.m54_1 5 8 1 #SB_LUT4
set_location U409_TICK.TICK50 17 4 4 #SB_DFF
set_location U409_ADDRESS_DECODE.un1_BREG_ENn_1 9 8 2 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_15_c 17 6 6 #SB_CARRY
set_location U409_ADDRESS_DECODE.N_77_mux_i 12 6 0 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_COUNTER_RNO[0] 12 8 2 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_RST_0_i 11 11 4 #SB_LUT4
set_location U409_TICK.COUNTER60[15] 15 7 7 #SB_DFF
set_location U409_AUTOCONFIG.STATE_RNO[1] 11 9 1 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_0[0] 8 9 6 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNIJBK9[0] 14 9 6 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[2] 9 10 0 #SB_LUT4
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_4_c 8 12 3 #SB_CARRY
set_location U409_CIA.CIA_CLK_COUNT_RNIGOMD1[2] 9 12 2 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_BASE_RNO[6] 9 7 6 #SB_LUT4
set_location U409_ADDRESS_DECODE.ATA_EN_RNIOGLSO 7 11 0 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_8_c 14 6 7 #SB_CARRY
set_location U409_TICK.COUNTER60_RNO[1] 15 6 3 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_BASE[1] 10 8 4 #SB_DFFNSR
set_location U409_TICK.un2_COUNTER50_1_cry_8_c 17 5 7 #SB_CARRY
set_location U409_TICK.COUNTER50[0] 17 4 5 #SB_DFF
set_location U409_CIA.CLK_CIA 8 11 3 #SB_DFF
set_location U409_AUTOCONFIG.LIDE_BASE[5] 9 7 5 #SB_DFFNSR
set_location U409_AUTOCONFIG.BRIDGE_OUT[1] 7 10 0 #SB_DFFNE
set_location U409_ADDRESS_DECODE.m37 10 10 7 #SB_LUT4
set_location U409_ADDRESS_DECODE.ROMEN_0_a3_0_0_0 9 11 6 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNIV1RD[3] 12 10 5 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[0] 15 10 7 #SB_DFFNSR
set_location U409_TRANSFER_ACK.LASTCLK[1] 15 9 0 #SB_DFFNSR
set_location U409_TICK.un3_COUNTER60_1_cry_1_c 14 6 0 #SB_CARRY
set_location U409_TICK.COUNTER50_RNO[3] 17 5 2 #SB_LUT4
set_location U409_AUTOCONFIG.PR_OUT[1] 7 9 3 #SB_DFFNE
set_location U409_AUTOCONFIG.LIDE_OUT[2] 8 9 0 #SB_DFFNE
set_location U409_AUTOCONFIG.BRIDGE_BASE_RNO[0] 9 8 0 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_1_c 17 5 0 #SB_CARRY
set_location U409_TICK.COUNTER60_RNO_0[4] 14 6 3 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_EN_RNO_0 13 10 7 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_9_c 17 6 0 #SB_CARRY
set_location U409_TICK.COUNTER50_RNO[15] 16 5 1 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOVECTOR_9 1 15 6 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI11UH2[5] 10 10 0 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNO[3] 8 12 2 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI7S9R[1] 10 10 4 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[7] 10 9 6 #SB_DFFNR
set_location U409_TICK.COUNTER50_RNIH14V[11] 17 4 6 #SB_LUT4
set_location U409_AUTOCONFIG.STATE_RNIJFAU[0] 8 10 6 #SB_LUT4
set_location U409_AUTOCONFIG.PR_OUT_RNO_0[1] 7 9 2 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO[2] 7 9 5 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_EN_RNIPUKQ5 12 13 1 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_14_c 14 7 5 #SB_CARRY
set_location U409_TICK.COUNTER60[12] 14 7 3 #SB_DFF
set_location U409_TRANSFER_ACK.TACK_COUNTER[1] 12 8 3 #SB_DFFN
set_location U409_TICK.COUNTER50_RNO_0[15] 17 6 6 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_BASE_RNO[1] 9 7 1 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[4] 15 6 5 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNIHLRM[7] 9 12 7 #SB_LUT4
set_io TM[1] 137
set_io ROM_DELAY[1] 106
set_io PCS0 75
set_io A[24] 8
set_io F_ENn 95
set_io A[5] 19
set_io TSn 134
set_io SPIO_J 113
set_io SPIO 88
set_io RTC_ENn 82
set_io A[13] 28
set_io D[7] 47
set_io RESETn 62
set_io OVL 83
set_io CONFIGENn 56
set_io A[20] 17
set_io PPIO 87
set_io A[31] 10
set_io A[1] 144
set_io TT[1] 139
set_io PORTSIZE 135
set_io F_RSTn 61
set_io F_BANK[0] 85
set_io A[17] 33
set_io TICK60 63
set_io ROM_DELAY[0] 107
set_io PCS1 76
set_io CIACS0n 80
set_io A[25] 12
set_io SCS0 78
set_io CPUCONFn 130
set_io CLK6 52
set_io A[6] 20
set_io A[15] 31
set_io AGNUS_CLK 97
set_io TM[0] 136
set_io CLK_CIA 122
set_io BUFENn 119
set_io A[23] 16
set_io A[12] 26
set_io AUTOBOOT 110
set_io RnW 142
set_io D[6] 45
set_io A[4] 18
set_io XCLK 93
set_io TM[2] 141
set_io F_WRITEn 60
set_io F_READn 96
set_io CIACS1n 81
set_io A[21] 15
set_io D[4] 43
set_io A[30] 9
set_io A[28] 2
set_io A[2] 143
set_io A[19] 37
set_io TT[0] 138
set_io PPIO_J 112
set_io PCIAT[1] 73
set_io F_BANK[1] 84
set_io A[16] 32
set_io TICK50 64
set_io TCIn 115
set_io TBIn 116
set_io RAMSPACEn 48
set_io BPRO_ENn 55
set_io A[26] 4
set_io A[7] 21
set_io A[14] 29
set_io CLK40_IN 129
set_io CLK28_IN 94
set_io XCLK_ENn 102
set_io SCS1 79
set_io REGSPACEn 118
set_io A[22] 3
set_io F_WPn 99
set_io A[3] 1
set_io A[29] 7
set_io A[18] 34
set_io ATA_ENn 90
set_io TACKn 117
set_io D[5] 44
set_io BREG_ENn 91
set_io A[27] 11
set_io ROMENn 124
set_io PCIAT[0] 74
