set_location IN_MUX_bfv_5_7_0_ 5 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_5_4_0_ 5 4 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 1 14 0 #SB_LUT4
set_location U400_SDRAM.WEn_THRU_LUT4_0 4 9 3 #SB_LUT4
set_location U400_SDRAM.RASn_THRU_LUT4_0 2 10 1 #SB_LUT4
set_location U400_SDRAM.CASn_THRU_LUT4_0 4 9 5 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER[7] 5 4 7 #SB_DFFNE
set_location U400_SDRAM.MA_nesr_RNO[1] 9 15 4 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNIQQB91[2] 4 5 0 #SB_LUT4
set_location U400_SDRAM.TA_EN_i_ess_RNO_0 1 5 1 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNO[5] 5 7 4 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER[0] 5 6 6 #SB_DFFNSR
set_location U400_SDRAM.CS0n 4 9 0 #SB_DFFNSS
set_location U400_SDRAM.CS1_EN_RNO 4 6 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO_4[1] 7 7 5 #SB_LUT4
set_location U400_SDRAM.MA_nesr[4] 9 15 0 #SB_DFFNESR
set_location U400_SDRAM.SDRAM_CONFIGURED_RNI8O963 6 4 7 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO[4] 5 4 4 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNO[8] 5 7 7 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_cry_c[2] 5 4 2 #SB_CARRY
set_location U400_SDRAM.SDRAM_CONFIGURED_RNI2J773 4 6 2 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO_0[3] 5 4 3 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO_0[1] 6 7 4 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO[1] 7 5 7 #SB_LUT4
set_location U400_SDRAM.SDRAM_CONFIGURED 7 6 4 #SB_DFFNSR
set_location U400_SDRAM.REFRESH_COUNTER[8] 5 7 7 #SB_DFFNSR
set_location U400_SDRAM.MA_nesr[9] 5 14 2 #SB_DFFNESR
set_location U400_SDRAM.TA_COUNTER_RNO[2] 1 5 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNIFGBJ4[1] 6 5 0 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER_RNIJ78O[1] 1 5 4 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER[1] 1 5 2 #SB_DFF
set_location U400_SDRAM.SDRAM_COUNTER[5] 5 4 5 #SB_DFFNE
set_location U400_SDRAM.SDRAM_CMD_RNO_2[1] 6 7 3 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO_1[1] 7 7 6 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNO[6] 5 7 5 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER[5] 5 7 4 #SB_DFFNSR
set_location U400_SDRAM.RAM_CYCLE_START_RNIFGBJ4 4 5 4 #SB_LUT4
set_location U400_SDRAM.TA_OUT_RNO_1 2 4 3 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO[7] 4 12 6 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO_0[1] 8 14 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNI5LLK[3] 4 5 5 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNIJU602[8] 4 7 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNI2OIR[7] 5 5 6 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER[2] 5 7 1 #SB_DFFNSR
set_location U400_SDRAM.MA_nesr[3] 9 13 2 #SB_DFFNESR
set_location U400_SDRAM.CS1_EN_RNO_0 4 6 5 #SB_LUT4
set_location U400_BYTE_ENABLE.un2_UMBEn_0 8 4 4 #SB_LUT4
set_location U400_SDRAM.TACK_RNO_1 6 6 7 #SB_LUT4
set_location U400_SDRAM.SDRAM_CONFIGURED_RNIOLQ51 6 5 4 #SB_LUT4
set_location U400_SDRAM.CS0_EN_RNO_0 4 6 3 #SB_LUT4
set_location U400_SDRAM.CS0_EN 4 6 4 #SB_DFFNSR
set_location U400_BYTE_ENABLE.un2_LLBEn_0 7 3 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_cry_c[1] 5 4 1 #SB_CARRY
set_location U400_SDRAM.SDRAM_COUNTER_RNII7IR[2] 6 6 1 #SB_LUT4
set_location U400_SDRAM.MA_nesr[6] 4 14 0 #SB_DFFNESR
set_location U400_SDRAM.BURST_RNO 2 5 3 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNI8CGL1[3] 4 7 5 #SB_LUT4
set_location RESETn_ibuf_RNIM9SF 1 8 3 #SB_LUT4
set_location U400_SDRAM.WRITE_CYCLE_RNIPAEV 6 6 4 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO[6] 5 4 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO_5[1] 7 7 2 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNI06O9[0] 8 12 0 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER_RNIAJGG1[3] 2 4 0 #SB_LUT4
set_location U400_SDRAM.un3_REFRESH_COUNTER_cry_1_c 5 7 0 #SB_CARRY
set_location U400_SDRAM.SDRAM_COUNTER_RNO[3] 7 5 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER[6] 5 4 6 #SB_DFFNE
set_location U400_SDRAM.REFRESH_COUNTER_RNO[3] 5 7 2 #SB_LUT4
set_location U400_SDRAM.TA_OUT_RNO_2 2 4 2 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO_4[0] 6 7 1 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO[2] 9 15 6 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO[10] 6 13 4 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER_RNO[0] 2 4 7 #SB_LUT4
set_location U400_SDRAM.TA_EN_i_ess_RNO_1 2 5 1 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER[3] 1 5 3 #SB_DFF
set_location U400_SDRAM.SDRAM_COUNTER[3] 7 5 6 #SB_DFFNE
set_location U400_SDRAM.REFRESH_COUNTER_RNO[4] 5 7 3 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNIJ1DL[6] 4 7 4 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER[7] 5 7 6 #SB_DFFNSR
set_location U400_SDRAM.CASn 4 9 5 #SB_DFFNSS
set_location U400_SDRAM.TACK_RNO_4 6 6 5 #SB_LUT4
set_location U400_SDRAM.RAM_CYCLE_RNO_0 5 5 1 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO[5] 8 15 4 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO_3[1] 6 7 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_cry_c[4] 5 4 4 #SB_CARRY
set_location U400_SDRAM.MA_nesr[5] 8 15 4 #SB_DFFNESR
set_location U400_SDRAM.CS0n_RNO 4 9 0 #SB_LUT4
set_location U400_BYTE_ENABLE.un1_LMBEn_i 8 3 4 #SB_LUT4
set_location U400_SDRAM.TACK_RNO_3 5 6 3 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO[1] 7 7 7 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO[8] 5 12 7 #SB_LUT4
set_location U400_BYTE_ENABLE.un1_LLBEn_i 7 3 7 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER_RNO_0[0] 2 4 6 #SB_LUT4
set_location U400_SDRAM.TACK_RNO 2 6 1 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNIG9NQ3[1] 4 7 7 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD[1] 7 7 7 #SB_DFFN
set_location U400_SDRAM.BANK0 2 7 5 #SB_DFFNSR
set_location U400_SDRAM.SDRAM_COUNTER_cry_c[3] 5 4 3 #SB_CARRY
set_location U400_SDRAM.SDRAM_COUNTER_RNO_0[0] 6 4 0 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO[0] 7 5 1 #SB_LUT4
set_location U400_SDRAM.MA_nesr[11] 7 13 6 #SB_DFFNESR
set_location U400_SDRAM.un3_REFRESH_COUNTER_cry_7_c 5 7 6 #SB_CARRY
set_location U400_SDRAM.SDRAM_COUNTER_RNIN1PD[0] 6 6 0 #SB_LUT4
set_location U400_SDRAM.RAM_CYCLE 6 5 1 #SB_DFFNSR
set_location U400_SDRAM.TA_COUNTER_RNIAJGG1_0[3] 2 4 5 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNITM402[3] 4 5 6 #SB_LUT4
set_location U400_SDRAM.CS0_EN_RNO 4 6 4 #SB_LUT4
set_location U400_SDRAM.BURST_RNISKH51 2 5 0 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER[0] 2 4 7 #SB_DFF
set_location U400_SDRAM.TACK_RNI0LUG4 1 5 5 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNIPKQB2[3] 6 6 2 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER[4] 5 4 4 #SB_DFFNE
set_location U400_SDRAM.SDRAM_CMD_RNO_2[2] 4 4 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO_1[0] 6 5 6 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNO[1] 5 6 7 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER[4] 5 7 3 #SB_DFFNSR
set_location U400_SDRAM.un3_REFRESH_COUNTER_cry_6_c 5 7 5 #SB_CARRY
set_location U400_SDRAM.TA_OUT_RNO_0 2 4 4 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO[12] 6 12 7 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO[0] 9 15 1 #SB_LUT4
set_location U400_SDRAM.CS1n_RNO 4 10 2 #SB_LUT4
set_location U400_SDRAM.SDRAM_CONFIGURED_RNI0TRC3 4 5 7 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO_3[2] 7 4 0 #SB_LUT4
set_location U400_SDRAM.TA_OUT 6 4 3 #SB_DFFSS
set_location U400_SDRAM.SDRAM_COUNTER_RNO_3[0] 6 7 2 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER[1] 7 5 7 #SB_DFFNE
set_location U400_SDRAM.SDRAM_CONFIGURED_RNIE01O 7 4 2 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER[1] 5 6 7 #SB_DFFNSR
set_location U400_SDRAM.MA_nesr[0] 9 15 1 #SB_DFFNESR
set_location U400_SDRAM.un3_REFRESH_COUNTER_cry_4_c 5 7 3 #SB_CARRY
set_location U400_SDRAM.WRITE_CYCLE_RNICOHO 7 4 7 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNIMFKP[0] 5 13 0 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD[2] 4 4 2 #SB_DFFN
set_location U400_SDRAM.RAM_CYCLE_RNO 6 5 1 #SB_LUT4
set_location U400_SDRAM.BURST8 8 5 6 #SB_LUT4
set_location U400_SDRAM.WEn 4 9 3 #SB_DFFNSS
set_location U400_SDRAM.SDRAM_COUNTER_cry_c[6] 5 4 6 #SB_CARRY
set_location U400_SDRAM.SDRAM_COUNTER_RNIQ4PD[3] 6 5 2 #SB_LUT4
set_location U400_SDRAM.MA_nesr[7] 4 12 6 #SB_DFFNESR
set_location U400_BYTE_ENABLE.un1_UMBEn_i 8 3 3 #SB_LUT4
set_location U400_SDRAM.un3_REFRESH_COUNTER_cry_3_c 5 7 2 #SB_CARRY
set_location U400_SDRAM.SDRAM_COUNTER_RNO[5] 5 4 5 #SB_LUT4
set_location U400_SDRAM.RAM_CYCLE_START_RNO 5 5 5 #SB_LUT4
set_location U400_SDRAM.MA_nesr[12] 6 12 7 #SB_DFFNESR
set_location U400_SDRAM.un3_REFRESH_COUNTER_cry_2_c 5 7 1 #SB_CARRY
set_location U400_SDRAM.SDRAM_CMD_RNO_6[2] 5 5 2 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO_0[0] 4 5 1 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO[2] 5 4 2 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO_1[0] 7 6 7 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNO[2] 5 7 1 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNIDLIS3[8] 5 5 3 #SB_LUT4
set_location U400_SDRAM.MA_nesr[8] 5 12 7 #SB_DFFNESR
set_location GND -1 -1 -1 #GND
set_location U400_SDRAM.TA_EN_i_ess 1 6 3 #SB_DFFESS
set_location U400_SDRAM.SDRAM_CONFIGURED_RNITAGQ1 7 6 6 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO[3] 9 13 2 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO_0[5] 8 14 1 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER_RNO[3] 1 5 3 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO_2[0] 5 4 0 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNITAGQ1[1] 4 5 3 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER[2] 1 5 6 #SB_DFF
set_location U400_SDRAM.SDRAM_COUNTER[2] 5 4 2 #SB_DFFNE
set_location U400_SDRAM.SDRAM_CMD_RNO_2[0] 6 5 5 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO_1[2] 4 4 7 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNO[7] 5 7 6 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER[6] 5 7 5 #SB_DFFNSR
set_location U400_SDRAM.WRITE_CYCLE_RNO 6 3 5 #SB_LUT4
set_location U400_SDRAM.TA_OUT_RNO 6 4 3 #SB_LUT4
set_location U400_SDRAM.SDRAM_CONFIGURED_RNIGMQQ1 7 4 3 #SB_LUT4
set_location U400_SDRAM.SDRAM_CONFIGURED_RNIG9NQ3 4 7 3 #SB_LUT4
set_location U400_SDRAM.RAM_CYCLE_RNO_1 6 5 7 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO[6] 4 14 0 #SB_LUT4
set_location U400_SDRAM.BANK1_RNO 2 7 2 #SB_LUT4
set_location U400_SDRAM.TA_EN_i_ess_RNO 1 6 3 #SB_LUT4
set_location U400_SDRAM.TACK 2 6 1 #SB_DFFNSR
set_location U400_SDRAM.CS1n 4 10 2 #SB_DFFNSS
set_location U400_SDRAM.SDRAM_COUNTER_cry_c[5] 5 4 5 #SB_CARRY
set_location U400_SDRAM.SDRAM_COUNTER_RNI24955[1] 5 6 2 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER[3] 5 7 2 #SB_DFFNSR
set_location U400_SDRAM.MA_nesr[2] 9 15 6 #SB_DFFNESR
set_location U400_SDRAM.BANK0_RNO 2 7 5 #SB_LUT4
set_location TAn_obuft_RNO 11 6 6 #SB_LUT4
set_location U400_SDRAM.TACK_RNO_0 6 6 3 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNIFAF21[2] 4 6 0 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO[0] 4 5 2 #SB_LUT4
set_location U400_SDRAM.RAM_CYCLE_START 5 5 5 #SB_DFF
set_location U400_SDRAM.MA_nesr_RNO[9] 5 14 2 #SB_LUT4
set_location U400_BYTE_ENABLE.un1_UUBEn_i 8 3 5 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNI8E8G1[3] 4 7 2 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD[0] 4 5 2 #SB_DFFN
set_location U400_SDRAM.BANK1 2 7 2 #SB_DFFNSR
set_location U400_SDRAM.SDRAM_COUNTER_cry_c[0] 5 4 0 #SB_CARRY
set_location U400_SDRAM.SDRAM_CONFIGURED_RNO 7 6 4 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO_4[2] 4 4 3 #SB_LUT4
set_location U400_SDRAM.RASn 2 10 1 #SB_DFFNSS
set_location U400_SDRAM.un3_REFRESH_COUNTER_cry_5_c 5 7 4 #SB_CARRY
set_location U400_SDRAM.SDRAM_COUNTER_RNO_0[1] 5 4 1 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO[7] 5 4 7 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO_5[2] 4 4 5 #SB_LUT4
set_location U400_SDRAM.MA_nesr[10] 6 13 4 #SB_DFFNESR
set_location U400_BYTE_ENABLE.LW_TRANS 8 4 5 #SB_LUT4
set_location U400_SDRAM.BURST 2 5 3 #SB_DFFNSR
set_location U400_SDRAM.SDRAM_CMD_RNO_0[2] 4 4 1 #SB_LUT4
set_location U400_ADDRESS_DECODE.RAM_SPACEm_i 8 4 7 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNO[0] 5 6 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNIKV4N1[2] 5 5 7 #SB_LUT4
set_location U400_SDRAM.SDRAM_CONFIGURED_RNIVK7J 7 7 3 #SB_LUT4
set_location U400_SDRAM.SDRAM_CONFIGURED_RNIHPJJ1 4 6 1 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO[11] 7 13 6 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER_RNO[1] 1 5 2 #SB_LUT4
set_location U400_ADDRESS_DECODE.RAM_SPACE 7 3 2 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNIJKCA2[1] 5 6 5 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER[0] 7 5 1 #SB_DFFNE
set_location U400_SDRAM.REFRESH_COUNTER_RNISRU82[8] 5 5 0 #SB_LUT4
set_location U400_SDRAM.MA_nesr[1] 9 15 4 #SB_DFFNESR
set_location U400_SDRAM.SDRAM_COUNTER_RNIP3PD[3] 6 7 0 #SB_LUT4
set_location U400_SDRAM.RAM_CYCLE_START_RNO_0 5 5 4 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO[4] 9 15 0 #SB_LUT4
set_location U400_SDRAM.CS1_EN 4 6 6 #SB_DFFNSR
set_location U400_SDRAM.TACK_RNO_2 6 6 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO[2] 4 4 2 #SB_LUT4
set_location U400_ADDRESS_DECODE.RAM_SPACE_3 2 2 2 #SB_LUT4
set_location U400_SDRAM.WRITE_CYCLE 6 3 5 #SB_DFFNSR
set_io A[17] 16
set_io MA[5] 97
set_io LBENn 54
set_io CS0n 9
set_io A[25] 34
set_io UUBEn 37
set_io A[6] 69
set_io A[15] 81
set_io TAn 56
set_io MA[3] 100
set_io CLK40 53
set_io A[23] 36
set_io A[12] 82
set_io RnW 51
set_io MA[8] 94
set_io A[4] 65
set_io MA[1] 85
set_io BANK1 7
set_io A[21] 21
set_io A[10] 73
set_io UMBEn 40
set_io MA[6] 96
set_io A[30] 33
set_io A[28] 30
set_io A[2] 78
set_io A[19] 18
set_io MA[10] 87
set_io A[9] 66
set_io A[16] 15
set_io SIZ[1] 59
set_io MA[4] 99
set_io A[26] 29
set_io A[0] 3
set_io WEn 13
set_io MA[12] 91
set_io LLBEn 42
set_io A[7] 71
set_io A[14] 80
set_io MA[2] 83
set_io A[24] 24
set_io A[5] 68
set_io TSn 57
set_io MA[0] 86
set_io LMBEn 41
set_io A[22] 28
set_io A[13] 64
set_io RASn 10
set_io MA[9] 93
set_io CS1n 90
set_io A[3] 79
set_io A[29] 26
set_io A[18] 19
set_io RESETn 63
set_io MA[11] 89
set_io CLK_EN 1
set_io CASn 12
set_io BANK0 8
set_io A[20] 20
set_io A[11] 74
set_io SIZ[0] 60
set_io MA[7] 95
set_io A[31] 27
set_io A[27] 25
set_io A[1] 4
set_io A[8] 72
