ble_pack CONSTANT_ONE_LUT4_LC_1_3_2 { CONSTANT_ONE_LUT4 }
clb_pack LT_1_3 { CONSTANT_ONE_LUT4_LC_1_3_2 }
set_location LT_1_3 1 3
ble_pack U400_SDRAM.REFRESH_COUNTER_1_LC_1_4_0 { U400_SDRAM.REFRESH_COUNTER_RNO[1], U400_SDRAM.REFRESH_COUNTER[1] }
ble_pack U400_SDRAM.REFRESH_COUNTER_0_LC_1_4_1 { U400_SDRAM.REFRESH_COUNTER_RNO[0], U400_SDRAM.REFRESH_COUNTER[0] }
clb_pack LT_1_4 { U400_SDRAM.REFRESH_COUNTER_1_LC_1_4_0, U400_SDRAM.REFRESH_COUNTER_0_LC_1_4_1 }
set_location LT_1_4 1 4
ble_pack U400_SDRAM.BANK0_LC_1_5_0 { U400_SDRAM.BANK0_RNO, U400_SDRAM.BANK0 }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNO_2_0_LC_1_5_2 { U400_SDRAM.SDRAM_COUNTER_RNO_2[0] }
ble_pack U400_SDRAM.BANK1_LC_1_5_5 { U400_SDRAM.BANK1_RNO, U400_SDRAM.BANK1 }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNIV59H2_1_LC_1_5_7 { U400_SDRAM.SDRAM_COUNTER_RNIV59H2[1] }
clb_pack LT_1_5 { U400_SDRAM.BANK0_LC_1_5_0, U400_SDRAM.SDRAM_COUNTER_RNO_2_0_LC_1_5_2, U400_SDRAM.BANK1_LC_1_5_5, U400_SDRAM.SDRAM_COUNTER_RNIV59H2_1_LC_1_5_7 }
set_location LT_1_5 1 5
ble_pack U400_SDRAM.CS1_EN_LC_1_6_1 { U400_SDRAM.CS1_EN_RNO, U400_SDRAM.CS1_EN }
ble_pack U400_SDRAM.RAM_CYCLE_RNO_0_LC_1_6_3 { U400_SDRAM.RAM_CYCLE_RNO_0 }
ble_pack U400_SDRAM.WRITE_CYCLE_RNIF1VQ5_LC_1_6_7 { U400_SDRAM.WRITE_CYCLE_RNIF1VQ5 }
clb_pack LT_1_6 { U400_SDRAM.CS1_EN_LC_1_6_1, U400_SDRAM.RAM_CYCLE_RNO_0_LC_1_6_3, U400_SDRAM.WRITE_CYCLE_RNIF1VQ5_LC_1_6_7 }
set_location LT_1_6 1 6
ble_pack U400_SDRAM.RAM_CYCLE_LC_1_7_2 { U400_SDRAM.RAM_CYCLE_RNO, U400_SDRAM.RAM_CYCLE }
clb_pack LT_1_7 { U400_SDRAM.RAM_CYCLE_LC_1_7_2 }
set_location LT_1_7 1 7
ble_pack RESETn_ibuf_RNIM9SF_LC_1_8_3 { RESETn_ibuf_RNIM9SF }
clb_pack LT_1_8 { RESETn_ibuf_RNIM9SF_LC_1_8_3 }
set_location LT_1_8 1 8
ble_pack U400_SDRAM.un3_REFRESH_COUNTER_cry_1_c_LC_2_4_0 { U400_SDRAM.un3_REFRESH_COUNTER_cry_1_c }
ble_pack U400_SDRAM.REFRESH_COUNTER_2_LC_2_4_1 { U400_SDRAM.REFRESH_COUNTER_RNO[2], U400_SDRAM.REFRESH_COUNTER[2], U400_SDRAM.un3_REFRESH_COUNTER_cry_2_c }
ble_pack U400_SDRAM.REFRESH_COUNTER_3_LC_2_4_2 { U400_SDRAM.REFRESH_COUNTER_RNO[3], U400_SDRAM.REFRESH_COUNTER[3], U400_SDRAM.un3_REFRESH_COUNTER_cry_3_c }
ble_pack U400_SDRAM.REFRESH_COUNTER_4_LC_2_4_3 { U400_SDRAM.REFRESH_COUNTER_RNO[4], U400_SDRAM.REFRESH_COUNTER[4], U400_SDRAM.un3_REFRESH_COUNTER_cry_4_c }
ble_pack U400_SDRAM.REFRESH_COUNTER_5_LC_2_4_4 { U400_SDRAM.REFRESH_COUNTER_RNO[5], U400_SDRAM.REFRESH_COUNTER[5], U400_SDRAM.un3_REFRESH_COUNTER_cry_5_c }
ble_pack U400_SDRAM.REFRESH_COUNTER_6_LC_2_4_5 { U400_SDRAM.REFRESH_COUNTER_RNO[6], U400_SDRAM.REFRESH_COUNTER[6], U400_SDRAM.un3_REFRESH_COUNTER_cry_6_c }
ble_pack U400_SDRAM.REFRESH_COUNTER_7_LC_2_4_6 { U400_SDRAM.REFRESH_COUNTER_RNO[7], U400_SDRAM.REFRESH_COUNTER[7], U400_SDRAM.un3_REFRESH_COUNTER_cry_7_c }
ble_pack U400_SDRAM.REFRESH_COUNTER_8_LC_2_4_7 { U400_SDRAM.REFRESH_COUNTER_RNO[8], U400_SDRAM.REFRESH_COUNTER[8] }
clb_pack LT_2_4 { U400_SDRAM.un3_REFRESH_COUNTER_cry_1_c_LC_2_4_0, U400_SDRAM.REFRESH_COUNTER_2_LC_2_4_1, U400_SDRAM.REFRESH_COUNTER_3_LC_2_4_2, U400_SDRAM.REFRESH_COUNTER_4_LC_2_4_3, U400_SDRAM.REFRESH_COUNTER_5_LC_2_4_4, U400_SDRAM.REFRESH_COUNTER_6_LC_2_4_5, U400_SDRAM.REFRESH_COUNTER_7_LC_2_4_6, U400_SDRAM.REFRESH_COUNTER_8_LC_2_4_7 }
set_location LT_2_4 2 4
ble_pack U400_SDRAM.CS0_EN_LC_2_5_1 { U400_SDRAM.CS0_EN_RNO, U400_SDRAM.CS0_EN }
ble_pack U400_SDRAM.REFRESH_COUNTER_RNILA301_3_LC_2_5_2 { U400_SDRAM.REFRESH_COUNTER_RNILA301[3] }
ble_pack U400_SDRAM.REFRESH_COUNTER_RNIJU602_8_LC_2_5_3 { U400_SDRAM.REFRESH_COUNTER_RNIJU602[8] }
ble_pack U400_SDRAM.SDRAM_CONFIGURED_RNIS9I32_LC_2_5_4 { U400_SDRAM.SDRAM_CONFIGURED_RNIS9I32 }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNI6JJA4_1_LC_2_5_5 { U400_SDRAM.SDRAM_COUNTER_RNI6JJA4[1] }
clb_pack LT_2_5 { U400_SDRAM.CS0_EN_LC_2_5_1, U400_SDRAM.REFRESH_COUNTER_RNILA301_3_LC_2_5_2, U400_SDRAM.REFRESH_COUNTER_RNIJU602_8_LC_2_5_3, U400_SDRAM.SDRAM_CONFIGURED_RNIS9I32_LC_2_5_4, U400_SDRAM.SDRAM_COUNTER_RNI6JJA4_1_LC_2_5_5 }
set_location LT_2_5 2 5
ble_pack U400_SDRAM.CS1_EN_RNO_0_LC_2_6_0 { U400_SDRAM.CS1_EN_RNO_0 }
ble_pack U400_SDRAM.RAM_CYCLE_START_RNIP6F34_LC_2_6_1 { U400_SDRAM.RAM_CYCLE_START_RNIP6F34 }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNO_0_0_LC_2_6_2 { U400_SDRAM.SDRAM_COUNTER_RNO_0[0] }
ble_pack U400_SDRAM.RAM_CYCLE_START_RNI8DRF2_LC_2_6_3 { U400_SDRAM.RAM_CYCLE_START_RNI8DRF2 }
ble_pack U400_SDRAM.SDRAM_CONFIGURED_RNI9NVF9_LC_2_6_4 { U400_SDRAM.SDRAM_CONFIGURED_RNI9NVF9 }
ble_pack U400_SDRAM.CS0_EN_RNO_0_LC_2_6_5 { U400_SDRAM.CS0_EN_RNO_0 }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNIA9172_1_LC_2_6_6 { U400_SDRAM.SDRAM_COUNTER_RNIA9172[1] }
ble_pack U400_SDRAM.RAM_CYCLE_START_RNIFGBJ4_LC_2_6_7 { U400_SDRAM.RAM_CYCLE_START_RNIFGBJ4 }
clb_pack LT_2_6 { U400_SDRAM.CS1_EN_RNO_0_LC_2_6_0, U400_SDRAM.RAM_CYCLE_START_RNIP6F34_LC_2_6_1, U400_SDRAM.SDRAM_COUNTER_RNO_0_0_LC_2_6_2, U400_SDRAM.RAM_CYCLE_START_RNI8DRF2_LC_2_6_3, U400_SDRAM.SDRAM_CONFIGURED_RNI9NVF9_LC_2_6_4, U400_SDRAM.CS0_EN_RNO_0_LC_2_6_5, U400_SDRAM.SDRAM_COUNTER_RNIA9172_1_LC_2_6_6, U400_SDRAM.RAM_CYCLE_START_RNIFGBJ4_LC_2_6_7 }
set_location LT_2_6 2 6
ble_pack U400_SDRAM.RAM_CYCLE_START_LC_2_7_6 { U400_SDRAM.RAM_CYCLE_START_RNO, U400_SDRAM.RAM_CYCLE_START }
clb_pack LT_2_7 { U400_SDRAM.RAM_CYCLE_START_LC_2_7_6 }
set_location LT_2_7 2 7
ble_pack U400_SDRAM.CS1n_LC_2_9_0 { U400_SDRAM.CS1n_RNO, U400_SDRAM.CS1n }
ble_pack U400_SDRAM.CASn_LC_2_9_4 { U400_SDRAM.CASn_THRU_LUT4_0, U400_SDRAM.CASn }
ble_pack U400_SDRAM.WEn_LC_2_9_5 { U400_SDRAM.WEn_THRU_LUT4_0, U400_SDRAM.WEn }
clb_pack LT_2_9 { U400_SDRAM.CS1n_LC_2_9_0, U400_SDRAM.CASn_LC_2_9_4, U400_SDRAM.WEn_LC_2_9_5 }
set_location LT_2_9 2 9
ble_pack U400_SDRAM.RASn_LC_2_10_1 { U400_SDRAM.RASn_THRU_LUT4_0, U400_SDRAM.RASn }
ble_pack U400_SDRAM.CS0n_LC_2_10_5 { U400_SDRAM.CS0n_RNO, U400_SDRAM.CS0n }
clb_pack LT_2_10 { U400_SDRAM.RASn_LC_2_10_1, U400_SDRAM.CS0n_LC_2_10_5 }
set_location LT_2_10 2 10
ble_pack U400_ADDRESS_DECODE.RAM_SPACE_i_o3_2_LC_4_1_0 { U400_ADDRESS_DECODE.RAM_SPACE_i_o3_2 }
ble_pack U400_ADDRESS_DECODE.RAM_SPACE_i_o3_1_LC_4_1_2 { U400_ADDRESS_DECODE.RAM_SPACE_i_o3_1 }
clb_pack LT_4_1 { U400_ADDRESS_DECODE.RAM_SPACE_i_o3_2_LC_4_1_0, U400_ADDRESS_DECODE.RAM_SPACE_i_o3_1_LC_4_1_2 }
set_location LT_4_1 4 1
ble_pack U400_SDRAM.RAM_CYCLE_START_RNO_0_LC_4_3_4 { U400_SDRAM.RAM_CYCLE_START_RNO_0 }
ble_pack U400_ADDRESS_DECODE.RAM_SPACE_i_o3dup_LC_4_3_7 { U400_ADDRESS_DECODE.RAM_SPACE_i_o3dup }
clb_pack LT_4_3 { U400_SDRAM.RAM_CYCLE_START_RNO_0_LC_4_3_4, U400_ADDRESS_DECODE.RAM_SPACE_i_o3dup_LC_4_3_7 }
set_location LT_4_3 4 3
ble_pack U400_SDRAM.SDRAM_COUNTER_1_LC_4_4_7 { U400_SDRAM.SDRAM_COUNTER_RNO[1], U400_SDRAM.SDRAM_COUNTER[1] }
clb_pack LT_4_4 { U400_SDRAM.SDRAM_COUNTER_1_LC_4_4_7 }
set_location LT_4_4 4 4
ble_pack U400_SDRAM.SDRAM_CONFIGURED_LC_4_5_5 { U400_SDRAM.SDRAM_CONFIGURED_RNO, U400_SDRAM.SDRAM_CONFIGURED }
clb_pack LT_4_5 { U400_SDRAM.SDRAM_CONFIGURED_LC_4_5_5 }
set_location LT_4_5 4 5
ble_pack U400_SDRAM.SDRAM_COUNTER_RNIQQB91_0_LC_4_6_0 { U400_SDRAM.SDRAM_COUNTER_RNIQQB91[0] }
ble_pack U400_SDRAM.WRITE_CYCLE_RNIMQFN1_LC_4_6_1 { U400_SDRAM.WRITE_CYCLE_RNIMQFN1 }
ble_pack U400_SDRAM.SDRAM_CONFIGURED_RNIGGGC5_LC_4_6_2 { U400_SDRAM.SDRAM_CONFIGURED_RNIGGGC5 }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNO_3_0_LC_4_6_3 { U400_SDRAM.SDRAM_COUNTER_RNO_3[0] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNINU7A_3_LC_4_6_6 { U400_SDRAM.SDRAM_COUNTER_RNINU7A[3] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNI6C8G1_1_LC_4_6_7 { U400_SDRAM.SDRAM_COUNTER_RNI6C8G1[1] }
clb_pack LT_4_6 { U400_SDRAM.SDRAM_COUNTER_RNIQQB91_0_LC_4_6_0, U400_SDRAM.WRITE_CYCLE_RNIMQFN1_LC_4_6_1, U400_SDRAM.SDRAM_CONFIGURED_RNIGGGC5_LC_4_6_2, U400_SDRAM.SDRAM_COUNTER_RNO_3_0_LC_4_6_3, U400_SDRAM.SDRAM_COUNTER_RNINU7A_3_LC_4_6_6, U400_SDRAM.SDRAM_COUNTER_RNI6C8G1_1_LC_4_6_7 }
set_location LT_4_6 4 6
ble_pack U400_SDRAM.SDRAM_CMD_RNO_5_2_LC_4_7_1 { U400_SDRAM.SDRAM_CMD_RNO_5[2] }
ble_pack U400_SDRAM.SDRAM_CMD_RNO_2_1_LC_4_7_3 { U400_SDRAM.SDRAM_CMD_RNO_2[1] }
ble_pack U400_SDRAM.SDRAM_CMD_RNO_0_1_LC_4_7_4 { U400_SDRAM.SDRAM_CMD_RNO_0[1] }
ble_pack U400_SDRAM.RAM_CYCLE_START_RNI2IKT2_LC_4_7_5 { U400_SDRAM.RAM_CYCLE_START_RNI2IKT2 }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNI4LJ09_1_LC_4_7_6 { U400_SDRAM.SDRAM_COUNTER_RNI4LJ09[1] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNO_0_3_LC_4_7_7 { U400_SDRAM.SDRAM_COUNTER_RNO_0[3] }
clb_pack LT_4_7 { U400_SDRAM.SDRAM_CMD_RNO_5_2_LC_4_7_1, U400_SDRAM.SDRAM_CMD_RNO_2_1_LC_4_7_3, U400_SDRAM.SDRAM_CMD_RNO_0_1_LC_4_7_4, U400_SDRAM.RAM_CYCLE_START_RNI2IKT2_LC_4_7_5, U400_SDRAM.SDRAM_COUNTER_RNI4LJ09_1_LC_4_7_6, U400_SDRAM.SDRAM_COUNTER_RNO_0_3_LC_4_7_7 }
set_location LT_4_7 4 7
ble_pack U400_SDRAM.SDRAM_CMD_RNO_4_1_LC_4_8_2 { U400_SDRAM.SDRAM_CMD_RNO_4[1] }
ble_pack U400_SDRAM.SDRAM_CMD_RNO_3_1_LC_4_8_5 { U400_SDRAM.SDRAM_CMD_RNO_3[1] }
ble_pack U400_SDRAM.SDRAM_CMD_RNO_1_1_LC_4_8_6 { U400_SDRAM.SDRAM_CMD_RNO_1[1] }
ble_pack U400_SDRAM.SDRAM_CMD_1_LC_4_8_7 { U400_SDRAM.SDRAM_CMD_RNO[1], U400_SDRAM.SDRAM_CMD[1] }
clb_pack LT_4_8 { U400_SDRAM.SDRAM_CMD_RNO_4_1_LC_4_8_2, U400_SDRAM.SDRAM_CMD_RNO_3_1_LC_4_8_5, U400_SDRAM.SDRAM_CMD_RNO_1_1_LC_4_8_6, U400_SDRAM.SDRAM_CMD_1_LC_4_8_7 }
set_location LT_4_8 4 8
ble_pack U400_SDRAM.MA_nesr_6_LC_4_13_0 { U400_SDRAM.MA_nesr_RNO[6], U400_SDRAM.MA_nesr[6] }
ble_pack U400_SDRAM.MA_nesr_4_LC_4_13_4 { U400_SDRAM.MA_nesr_RNO[4], U400_SDRAM.MA_nesr[4] }
ble_pack U400_SDRAM.MA_nesr_7_LC_4_13_7 { U400_SDRAM.MA_nesr_RNO[7], U400_SDRAM.MA_nesr[7] }
clb_pack LT_4_13 { U400_SDRAM.MA_nesr_6_LC_4_13_0, U400_SDRAM.MA_nesr_4_LC_4_13_4, U400_SDRAM.MA_nesr_7_LC_4_13_7 }
set_location LT_4_13 4 13
ble_pack U400_SDRAM.SDRAM_COUNTER_RNO_0_1_LC_5_3_1 { U400_SDRAM.SDRAM_COUNTER_RNO_0[1] }
clb_pack LT_5_3 { U400_SDRAM.SDRAM_COUNTER_RNO_0_1_LC_5_3_1 }
set_location LT_5_3 5 3
ble_pack U400_SDRAM.TACK_LC_5_4_4 { U400_SDRAM.TACK_RNO, U400_SDRAM.TACK }
ble_pack U400_SDRAM.WRITE_CYCLE_RNIJKOA_LC_5_4_6 { U400_SDRAM.WRITE_CYCLE_RNIJKOA }
ble_pack U400_SDRAM.WRITE_CYCLE_LC_5_4_7 { U400_SDRAM.WRITE_CYCLE_RNO, U400_SDRAM.WRITE_CYCLE }
clb_pack LT_5_4 { U400_SDRAM.TACK_LC_5_4_4, U400_SDRAM.WRITE_CYCLE_RNIJKOA_LC_5_4_6, U400_SDRAM.WRITE_CYCLE_LC_5_4_7 }
set_location LT_5_4 5 4
ble_pack U400_SDRAM.RAM_CYCLE_RNO_2_LC_5_5_0 { U400_SDRAM.RAM_CYCLE_RNO_2 }
ble_pack U400_SDRAM.TACK_RNO_1_LC_5_5_1 { U400_SDRAM.TACK_RNO_1 }
ble_pack U400_SDRAM.SDRAM_CONFIGURED_RNILS7A_LC_5_5_2 { U400_SDRAM.SDRAM_CONFIGURED_RNILS7A }
ble_pack U400_SDRAM.SDRAM_CONFIGURED_RNITAGQ1_LC_5_5_3 { U400_SDRAM.SDRAM_CONFIGURED_RNITAGQ1 }
ble_pack U400_SDRAM.WRITE_CYCLE_RNI6QCS5_LC_5_5_4 { U400_SDRAM.WRITE_CYCLE_RNI6QCS5 }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNI2OIR_7_LC_5_5_5 { U400_SDRAM.SDRAM_COUNTER_RNI2OIR[7] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNI8E8G1_0_LC_5_5_6 { U400_SDRAM.SDRAM_COUNTER_RNI8E8G1[0] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNIKV4N1_1_LC_5_5_7 { U400_SDRAM.SDRAM_COUNTER_RNIKV4N1[1] }
clb_pack LT_5_5 { U400_SDRAM.RAM_CYCLE_RNO_2_LC_5_5_0, U400_SDRAM.TACK_RNO_1_LC_5_5_1, U400_SDRAM.SDRAM_CONFIGURED_RNILS7A_LC_5_5_2, U400_SDRAM.SDRAM_CONFIGURED_RNITAGQ1_LC_5_5_3, U400_SDRAM.WRITE_CYCLE_RNI6QCS5_LC_5_5_4, U400_SDRAM.SDRAM_COUNTER_RNI2OIR_7_LC_5_5_5, U400_SDRAM.SDRAM_COUNTER_RNI8E8G1_0_LC_5_5_6, U400_SDRAM.SDRAM_COUNTER_RNIKV4N1_1_LC_5_5_7 }
set_location LT_5_5 5 5
ble_pack U400_SDRAM.SDRAM_COUNTER_RNO_1_0_LC_5_6_1 { U400_SDRAM.SDRAM_COUNTER_RNO_1[0] }
ble_pack U400_SDRAM.SDRAM_COUNTER_0_LC_5_6_2 { U400_SDRAM.SDRAM_COUNTER_RNO[0], U400_SDRAM.SDRAM_COUNTER[0] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNITAGQ1_3_LC_5_6_4 { U400_SDRAM.SDRAM_COUNTER_RNITAGQ1[3] }
ble_pack U400_SDRAM.SDRAM_COUNTER_3_LC_5_6_7 { U400_SDRAM.SDRAM_COUNTER_RNO[3], U400_SDRAM.SDRAM_COUNTER[3] }
clb_pack LT_5_6 { U400_SDRAM.SDRAM_COUNTER_RNO_1_0_LC_5_6_1, U400_SDRAM.SDRAM_COUNTER_0_LC_5_6_2, U400_SDRAM.SDRAM_COUNTER_RNITAGQ1_3_LC_5_6_4, U400_SDRAM.SDRAM_COUNTER_3_LC_5_6_7 }
set_location LT_5_6 5 6
ble_pack U400_SDRAM.SDRAM_COUNTER_RNIR5PD_3_LC_5_7_0 { U400_SDRAM.SDRAM_COUNTER_RNIR5PD[3] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNII7IR_0_LC_5_7_1 { U400_SDRAM.SDRAM_COUNTER_RNII7IR[0] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNI189H2_0_LC_5_7_2 { U400_SDRAM.SDRAM_COUNTER_RNI189H2[0] }
ble_pack U400_SDRAM.SDRAM_CONFIGURED_RNIKPF05_LC_5_7_3 { U400_SDRAM.SDRAM_CONFIGURED_RNIKPF05 }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNIO2PD_0_LC_5_7_5 { U400_SDRAM.SDRAM_COUNTER_RNIO2PD[0] }
ble_pack U400_SDRAM.SDRAM_CMD_RNO_4_2_LC_5_7_6 { U400_SDRAM.SDRAM_CMD_RNO_4[2] }
ble_pack U400_SDRAM.SDRAM_CMD_RNO_3_2_LC_5_7_7 { U400_SDRAM.SDRAM_CMD_RNO_3[2] }
clb_pack LT_5_7 { U400_SDRAM.SDRAM_COUNTER_RNIR5PD_3_LC_5_7_0, U400_SDRAM.SDRAM_COUNTER_RNII7IR_0_LC_5_7_1, U400_SDRAM.SDRAM_COUNTER_RNI189H2_0_LC_5_7_2, U400_SDRAM.SDRAM_CONFIGURED_RNIKPF05_LC_5_7_3, U400_SDRAM.SDRAM_COUNTER_RNIO2PD_0_LC_5_7_5, U400_SDRAM.SDRAM_CMD_RNO_4_2_LC_5_7_6, U400_SDRAM.SDRAM_CMD_RNO_3_2_LC_5_7_7 }
set_location LT_5_7 5 7
ble_pack U400_SDRAM.SDRAM_CMD_RNO_1_0_LC_5_8_1 { U400_SDRAM.SDRAM_CMD_RNO_1[0] }
ble_pack U400_SDRAM.SDRAM_CMD_0_LC_5_8_2 { U400_SDRAM.SDRAM_CMD_RNO[0], U400_SDRAM.SDRAM_CMD[0] }
ble_pack U400_SDRAM.MA_nesr_RNO_0_5_LC_5_8_3 { U400_SDRAM.MA_nesr_RNO_0[5] }
ble_pack U400_SDRAM.SDRAM_CMD_RNO_1_2_LC_5_8_4 { U400_SDRAM.SDRAM_CMD_RNO_1[2] }
ble_pack U400_SDRAM.SDRAM_CMD_2_LC_5_8_5 { U400_SDRAM.SDRAM_CMD_RNO[2], U400_SDRAM.SDRAM_CMD[2] }
ble_pack U400_SDRAM.SDRAM_CMD_RNO_2_2_LC_5_8_6 { U400_SDRAM.SDRAM_CMD_RNO_2[2] }
ble_pack U400_SDRAM.SDRAM_CMD_RNO_0_2_LC_5_8_7 { U400_SDRAM.SDRAM_CMD_RNO_0[2] }
clb_pack LT_5_8 { U400_SDRAM.SDRAM_CMD_RNO_1_0_LC_5_8_1, U400_SDRAM.SDRAM_CMD_0_LC_5_8_2, U400_SDRAM.MA_nesr_RNO_0_5_LC_5_8_3, U400_SDRAM.SDRAM_CMD_RNO_1_2_LC_5_8_4, U400_SDRAM.SDRAM_CMD_2_LC_5_8_5, U400_SDRAM.SDRAM_CMD_RNO_2_2_LC_5_8_6, U400_SDRAM.SDRAM_CMD_RNO_0_2_LC_5_8_7 }
set_location LT_5_8 5 8
ble_pack U400_SDRAM.MA_nesr_3_LC_5_13_0 { U400_SDRAM.MA_nesr_RNO[3], U400_SDRAM.MA_nesr[3] }
ble_pack U400_SDRAM.MA_nesr_12_LC_5_13_6 { U400_SDRAM.MA_nesr_RNO[12], U400_SDRAM.MA_nesr[12] }
ble_pack U400_SDRAM.MA_nesr_5_LC_5_13_7 { U400_SDRAM.MA_nesr_RNO[5], U400_SDRAM.MA_nesr[5] }
clb_pack LT_5_13 { U400_SDRAM.MA_nesr_3_LC_5_13_0, U400_SDRAM.MA_nesr_12_LC_5_13_6, U400_SDRAM.MA_nesr_5_LC_5_13_7 }
set_location LT_5_13 5 13
ble_pack U400_SDRAM.SDRAM_CMD_RNIMFKP_0_LC_5_14_1 { U400_SDRAM.SDRAM_CMD_RNIMFKP[0] }
ble_pack U400_SDRAM.SDRAM_CMD_RNI06O9_0_LC_5_14_3 { U400_SDRAM.SDRAM_CMD_RNI06O9[0] }
clb_pack LT_5_14 { U400_SDRAM.SDRAM_CMD_RNIMFKP_0_LC_5_14_1, U400_SDRAM.SDRAM_CMD_RNI06O9_0_LC_5_14_3 }
set_location LT_5_14 5 14
ble_pack U400_SDRAM.TACK_RNO_6_LC_6_5_0 { U400_SDRAM.TACK_RNO_6 }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNI5LLK_0_LC_6_5_1 { U400_SDRAM.SDRAM_COUNTER_RNI5LLK[0] }
ble_pack U400_SDRAM.TACK_RNO_4_LC_6_5_2 { U400_SDRAM.TACK_RNO_4 }
ble_pack U400_SDRAM.TA_COUNTER_RNIPSFM_0_LC_6_5_3 { U400_SDRAM.TA_COUNTER_RNIPSFM[0] }
ble_pack U400_SDRAM.TACK_RNO_3_LC_6_5_4 { U400_SDRAM.TACK_RNO_3 }
ble_pack U400_SDRAM.TACK_RNO_0_LC_6_5_5 { U400_SDRAM.TACK_RNO_0 }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNO_4_0_LC_6_5_6 { U400_SDRAM.SDRAM_COUNTER_RNO_4[0] }
ble_pack U400_SDRAM.TACK_RNO_5_LC_6_5_7 { U400_SDRAM.TACK_RNO_5 }
clb_pack LT_6_5 { U400_SDRAM.TACK_RNO_6_LC_6_5_0, U400_SDRAM.SDRAM_COUNTER_RNI5LLK_0_LC_6_5_1, U400_SDRAM.TACK_RNO_4_LC_6_5_2, U400_SDRAM.TA_COUNTER_RNIPSFM_0_LC_6_5_3, U400_SDRAM.TACK_RNO_3_LC_6_5_4, U400_SDRAM.TACK_RNO_0_LC_6_5_5, U400_SDRAM.SDRAM_COUNTER_RNO_4_0_LC_6_5_6, U400_SDRAM.TACK_RNO_5_LC_6_5_7 }
set_location LT_6_5 6 5
ble_pack U400_SDRAM.SDRAM_COUNTER_RNID8F21_0_LC_6_6_0 { U400_SDRAM.SDRAM_COUNTER_RNID8F21[0], U400_SDRAM.SDRAM_COUNTER_cry_c[0] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNO_1_1_LC_6_6_1 { U400_SDRAM.SDRAM_COUNTER_RNO_1[1], U400_SDRAM.SDRAM_COUNTER_cry_c[1] }
ble_pack U400_SDRAM.SDRAM_COUNTER_2_LC_6_6_2 { U400_SDRAM.SDRAM_COUNTER_RNO[2], U400_SDRAM.SDRAM_COUNTER[2], U400_SDRAM.SDRAM_COUNTER_cry_c[2] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNO_1_3_LC_6_6_3 { U400_SDRAM.SDRAM_COUNTER_RNO_1[3], U400_SDRAM.SDRAM_COUNTER_cry_c[3] }
ble_pack U400_SDRAM.SDRAM_COUNTER_4_LC_6_6_4 { U400_SDRAM.SDRAM_COUNTER_RNO[4], U400_SDRAM.SDRAM_COUNTER[4], U400_SDRAM.SDRAM_COUNTER_cry_c[4] }
ble_pack U400_SDRAM.SDRAM_COUNTER_5_LC_6_6_5 { U400_SDRAM.SDRAM_COUNTER_RNO[5], U400_SDRAM.SDRAM_COUNTER[5], U400_SDRAM.SDRAM_COUNTER_cry_c[5] }
ble_pack U400_SDRAM.SDRAM_COUNTER_6_LC_6_6_6 { U400_SDRAM.SDRAM_COUNTER_RNO[6], U400_SDRAM.SDRAM_COUNTER[6], U400_SDRAM.SDRAM_COUNTER_cry_c[6] }
ble_pack U400_SDRAM.SDRAM_COUNTER_7_LC_6_6_7 { U400_SDRAM.SDRAM_COUNTER_RNO[7], U400_SDRAM.SDRAM_COUNTER[7] }
clb_pack LT_6_6 { U400_SDRAM.SDRAM_COUNTER_RNID8F21_0_LC_6_6_0, U400_SDRAM.SDRAM_COUNTER_RNO_1_1_LC_6_6_1, U400_SDRAM.SDRAM_COUNTER_2_LC_6_6_2, U400_SDRAM.SDRAM_COUNTER_RNO_1_3_LC_6_6_3, U400_SDRAM.SDRAM_COUNTER_4_LC_6_6_4, U400_SDRAM.SDRAM_COUNTER_5_LC_6_6_5, U400_SDRAM.SDRAM_COUNTER_6_LC_6_6_6, U400_SDRAM.SDRAM_COUNTER_7_LC_6_6_7 }
set_location LT_6_6 6 6
ble_pack U400_SDRAM.TACK_RNO_7_LC_6_7_0 { U400_SDRAM.TACK_RNO_7 }
ble_pack U400_SDRAM.TACK_RNO_2_LC_6_7_1 { U400_SDRAM.TACK_RNO_2 }
ble_pack U400_SDRAM.SDRAM_CMD_RNO_0_0_LC_6_7_3 { U400_SDRAM.SDRAM_CMD_RNO_0[0] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNITTB91_3_LC_6_7_4 { U400_SDRAM.SDRAM_COUNTER_RNITTB91[3] }
ble_pack U400_SDRAM.WRITE_CYCLE_RNIT04E_LC_6_7_6 { U400_SDRAM.WRITE_CYCLE_RNIT04E }
ble_pack U400_SDRAM.RAM_CYCLE_RNO_1_LC_6_7_7 { U400_SDRAM.RAM_CYCLE_RNO_1 }
clb_pack LT_6_7 { U400_SDRAM.TACK_RNO_7_LC_6_7_0, U400_SDRAM.TACK_RNO_2_LC_6_7_1, U400_SDRAM.SDRAM_CMD_RNO_0_0_LC_6_7_3, U400_SDRAM.SDRAM_COUNTER_RNITTB91_3_LC_6_7_4, U400_SDRAM.WRITE_CYCLE_RNIT04E_LC_6_7_6, U400_SDRAM.RAM_CYCLE_RNO_1_LC_6_7_7 }
set_location LT_6_7 6 7
ble_pack U400_SDRAM.SDRAM_CMD_RNO_4_0_LC_6_8_3 { U400_SDRAM.SDRAM_CMD_RNO_4[0] }
ble_pack U400_SDRAM.SDRAM_CMD_RNO_2_0_LC_6_8_4 { U400_SDRAM.SDRAM_CMD_RNO_2[0] }
ble_pack U400_SDRAM.SDRAM_CMD_RNO_3_0_LC_6_8_6 { U400_SDRAM.SDRAM_CMD_RNO_3[0] }
clb_pack LT_6_8 { U400_SDRAM.SDRAM_CMD_RNO_4_0_LC_6_8_3, U400_SDRAM.SDRAM_CMD_RNO_2_0_LC_6_8_4, U400_SDRAM.SDRAM_CMD_RNO_3_0_LC_6_8_6 }
set_location LT_6_8 6 8
ble_pack U400_SDRAM.TA_COUNTER_0_LC_7_4_0 { U400_SDRAM.TA_COUNTER_RNO[0], U400_SDRAM.TA_COUNTER[0] }
ble_pack U400_SDRAM.TA_EN_i_LC_7_4_2 { U400_SDRAM.TA_EN_i_RNO, U400_SDRAM.TA_EN_i }
ble_pack U400_SDRAM.TA_COUNTER_2_LC_7_4_3 { U400_SDRAM.TA_COUNTER_2_THRU_LUT4_0, U400_SDRAM.TA_COUNTER[2] }
ble_pack U400_SDRAM.TA_COUNTER_1_LC_7_4_4 { U400_SDRAM.TA_COUNTER_RNIPSFM_0_U400_SDRAM.TA_COUNTER_1_REP_LUT4_0, U400_SDRAM.TA_COUNTER[1] }
clb_pack LT_7_4 { U400_SDRAM.TA_COUNTER_0_LC_7_4_0, U400_SDRAM.TA_EN_i_LC_7_4_2, U400_SDRAM.TA_COUNTER_2_LC_7_4_3, U400_SDRAM.TA_COUNTER_1_LC_7_4_4 }
set_location LT_7_4 7 4
ble_pack U400_SDRAM.TA_COUNTER_RNO_0_0_LC_7_5_0 { U400_SDRAM.TA_COUNTER_RNO_0[0] }
ble_pack U400_SDRAM.TA_COUNTER_RNINB8O_1_LC_7_5_2 { U400_SDRAM.TA_COUNTER_RNINB8O[1] }
ble_pack U400_SDRAM.TA_COUNTER_RNIMKDP_5_LC_7_5_3 { U400_SDRAM.TA_COUNTER_RNIMKDP[5] }
ble_pack U400_SDRAM.TA_EN_i_RNO_0_LC_7_5_4 { U400_SDRAM.TA_EN_i_RNO_0 }
clb_pack LT_7_5 { U400_SDRAM.TA_COUNTER_RNO_0_0_LC_7_5_0, U400_SDRAM.TA_COUNTER_RNINB8O_1_LC_7_5_2, U400_SDRAM.TA_COUNTER_RNIMKDP_5_LC_7_5_3, U400_SDRAM.TA_EN_i_RNO_0_LC_7_5_4 }
set_location LT_7_5 7 5
ble_pack U400_SDRAM.TA_OUT_LC_7_6_7 { U400_SDRAM.TA_OUT_RNO, U400_SDRAM.TA_OUT }
clb_pack LT_7_6 { U400_SDRAM.TA_OUT_LC_7_6_7 }
set_location LT_7_6 7 6
ble_pack U400_BYTE_ENABLE.un1_UUBEn_i_0_LC_7_7_2 { U400_BYTE_ENABLE.un1_UUBEn_i_0 }
ble_pack U400_SDRAM.TA_OUT_RNO_0_LC_7_7_6 { U400_SDRAM.TA_OUT_RNO_0 }
clb_pack LT_7_7 { U400_BYTE_ENABLE.un1_UUBEn_i_0_LC_7_7_2, U400_SDRAM.TA_OUT_RNO_0_LC_7_7_6 }
set_location LT_7_7 7 7
ble_pack U400_SDRAM.MA_nesr_11_LC_7_15_2 { U400_SDRAM.MA_nesr_RNO[11], U400_SDRAM.MA_nesr[11] }
ble_pack U400_SDRAM.MA_nesr_9_LC_7_15_6 { U400_SDRAM.MA_nesr_RNO[9], U400_SDRAM.MA_nesr[9] }
ble_pack U400_SDRAM.MA_nesr_8_LC_7_15_7 { U400_SDRAM.MA_nesr_RNO[8], U400_SDRAM.MA_nesr[8] }
clb_pack LT_7_15 { U400_SDRAM.MA_nesr_11_LC_7_15_2, U400_SDRAM.MA_nesr_9_LC_7_15_6, U400_SDRAM.MA_nesr_8_LC_7_15_7 }
set_location LT_7_15 7 15
ble_pack U400_SDRAM.TA_COUNTER_4_LC_8_5_0 { U400_SDRAM.TA_COUNTER_4_THRU_LUT4_0, U400_SDRAM.TA_COUNTER[4] }
ble_pack U400_SDRAM.TA_COUNTER_5_LC_8_5_2 { U400_SDRAM.TA_COUNTER_5_THRU_LUT4_0, U400_SDRAM.TA_COUNTER[5] }
ble_pack U400_SDRAM.TA_COUNTER_3_LC_8_5_6 { U400_SDRAM.TA_COUNTER_RNO[3], U400_SDRAM.TA_COUNTER[3] }
clb_pack LT_8_5 { U400_SDRAM.TA_COUNTER_4_LC_8_5_0, U400_SDRAM.TA_COUNTER_5_LC_8_5_2, U400_SDRAM.TA_COUNTER_3_LC_8_5_6 }
set_location LT_8_5 8 5
ble_pack U400_SDRAM.BURST_LC_8_6_7 { U400_SDRAM.BURST_RNO, U400_SDRAM.BURST }
clb_pack LT_8_6 { U400_SDRAM.BURST_LC_8_6_7 }
set_location LT_8_6 8 6
ble_pack U400_SDRAM.MA_nesr_10_LC_8_16_2 { U400_SDRAM.MA_nesr_RNO[10], U400_SDRAM.MA_nesr[10] }
ble_pack U400_SDRAM.MA_nesr_0_LC_8_16_5 { U400_SDRAM.MA_nesr_RNO[0], U400_SDRAM.MA_nesr[0] }
clb_pack LT_8_16 { U400_SDRAM.MA_nesr_10_LC_8_16_2, U400_SDRAM.MA_nesr_0_LC_8_16_5 }
set_location LT_8_16 8 16
ble_pack U400_BYTE_ENABLE.un1_UMBEn_i_0_LC_9_3_1 { U400_BYTE_ENABLE.un1_UMBEn_i_0 }
ble_pack U400_BYTE_ENABLE.un1_LLBEn_i_0_LC_9_3_3 { U400_BYTE_ENABLE.un1_LLBEn_i_0 }
clb_pack LT_9_3 { U400_BYTE_ENABLE.un1_UMBEn_i_0_LC_9_3_1, U400_BYTE_ENABLE.un1_LLBEn_i_0_LC_9_3_3 }
set_location LT_9_3 9 3
ble_pack TAn_obuft_RNO_LC_9_4_3 { TAn_obuft_RNO }
ble_pack U400_BYTE_ENABLE.un1_LLBEn_i_o3_LC_9_4_5 { U400_BYTE_ENABLE.un1_LLBEn_i_o3 }
clb_pack LT_9_4 { TAn_obuft_RNO_LC_9_4_3, U400_BYTE_ENABLE.un1_LLBEn_i_o3_LC_9_4_5 }
set_location LT_9_4 9 4
ble_pack U400_BYTE_ENABLE.un1_LLBEn_i_x2_LC_9_8_6 { U400_BYTE_ENABLE.un1_LLBEn_i_x2 }
ble_pack U400_BYTE_ENABLE.un1_LMBEn_i_0_LC_9_8_7 { U400_BYTE_ENABLE.un1_LMBEn_i_0 }
clb_pack LT_9_8 { U400_BYTE_ENABLE.un1_LLBEn_i_x2_LC_9_8_6, U400_BYTE_ENABLE.un1_LMBEn_i_0_LC_9_8_7 }
set_location LT_9_8 9 8
ble_pack U400_SDRAM.MA_nesr_RNO_0_1_LC_9_15_5 { U400_SDRAM.MA_nesr_RNO_0[1] }
clb_pack LT_9_15 { U400_SDRAM.MA_nesr_RNO_0_1_LC_9_15_5 }
set_location LT_9_15 9 15
ble_pack U400_SDRAM.MA_nesr_1_LC_9_16_4 { U400_SDRAM.MA_nesr_RNO[1], U400_SDRAM.MA_nesr[1] }
ble_pack U400_SDRAM.MA_nesr_2_LC_9_16_6 { U400_SDRAM.MA_nesr_RNO[2], U400_SDRAM.MA_nesr[2] }
clb_pack LT_9_16 { U400_SDRAM.MA_nesr_1_LC_9_16_4, U400_SDRAM.MA_nesr_2_LC_9_16_6 }
set_location LT_9_16 9 16
set_location CLK40_ibuf_gb_io_gb 0 9
set_location RESETn_ibuf_RNIM9SF_0 0 8
set_io A[17] 16
set_io MA[5] 97
set_io LBENn 54
set_io CS0n 9
set_io A[25] 34
set_io UUBEn 37
set_io A[6] 69
set_io A[15] 81
set_io TAn 56
set_io MA[3] 100
set_io CLK40 53
set_io A[23] 36
set_io A[12] 82
set_io RnW 51
set_io MA[8] 94
set_io A[4] 65
set_io MA[1] 85
set_io BANK1 7
set_io A[21] 21
set_io A[10] 73
set_io UMBEn 40
set_io MA[6] 96
set_io A[30] 33
set_io A[28] 30
set_io A[2] 78
set_io A[19] 18
set_io MA[10] 87
set_io A[9] 66
set_io A[16] 15
set_io SIZ[1] 59
set_io MA[4] 99
set_io A[26] 29
set_io A[0] 3
set_io WEn 13
set_io MA[12] 91
set_io LLBEn 42
set_io A[7] 71
set_io A[14] 80
set_io MA[2] 83
set_io A[24] 24
set_io A[5] 68
set_io TSn 57
set_io MA[0] 86
set_io LMBEn 41
set_io A[22] 28
set_io A[13] 64
set_io RASn 10
set_io MA[9] 93
set_io CS1n 90
set_io A[3] 79
set_io A[29] 26
set_io A[18] 19
set_io RESETn 63
set_io MA[11] 89
set_io CLK_EN 1
set_io CASn 12
set_io BANK0 8
set_io A[20] 20
set_io A[11] 74
set_io SIZ[0] 60
set_io MA[7] 95
set_io A[31] 27
set_io A[27] 25
set_io A[1] 4
set_io A[8] 72
