set_location IN_MUX_bfv_4_5_0_ 4 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_6_0_ 4 6 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 1 14 0 #SB_LUT4
set_location U400_SDRAM.WEn_THRU_LUT4_0 4 9 6 #SB_LUT4
set_location U400_SDRAM.RASn_THRU_LUT4_0 4 10 0 #SB_LUT4
set_location U400_SDRAM.CASn_THRU_LUT4_0 4 9 3 #SB_LUT4
set_location U400_ADDRESS_DECODE.RAM_SPACE_i_o3_0_o2_1 6 1 0 #SB_LUT4
set_location U400_SDRAM.TA_EN_i_ess_RNO_0 5 4 2 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNIRRB91[0] 5 8 1 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_ne_RNIIMNC[0] 8 12 1 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNO[5] 4 5 4 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER[0] 5 6 6 #SB_DFFNSR
set_location U400_SDRAM.CS0n 4 8 0 #SB_DFFNSS
set_location U400_SDRAM.un2_REFRESH_COUNTER_cry_4_c 4 5 3 #SB_CARRY
set_location U400_SDRAM.RAM_CYCLE_RNO_3 6 6 3 #SB_LUT4
set_location U400_SDRAM.CS1_EN_RNO 5 7 4 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_ne_RNO[0] 7 8 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO_4[1] 6 8 7 #SB_LUT4
set_location U400_SDRAM.MA_nesr[4] 9 15 4 #SB_DFFNESR
set_location U400_SDRAM.WRITE_CYCLE_RNI18LH 5 5 4 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO[4] 4 6 4 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNO[8] 4 5 7 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_cry_c[2] 4 6 2 #SB_CARRY
set_location U400_SDRAM.SDRAM_COUNTER_RNO_0[3] 4 6 3 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_ne_RNO_2[0] 7 8 4 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO_0[1] 5 8 4 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO[1] 6 7 1 #SB_LUT4
set_location U400_SDRAM.SDRAM_CONFIGURED 4 4 1 #SB_DFFNSR
set_location U400_SDRAM.REFRESH_COUNTER[8] 4 5 7 #SB_DFFNSR
set_location U400_SDRAM.MA_nesr[9] 5 12 6 #SB_DFFNESR
set_location U400_SDRAM.TA_COUNTER_RNO[2] 7 5 2 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER_RNIJ78O[1] 7 5 5 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER[1] 7 5 0 #SB_DFF
set_location U400_SDRAM.SDRAM_COUNTER[5] 4 6 5 #SB_DFFNE
set_location U400_SDRAM.SDRAM_CMD_RNO_2[1] 6 8 2 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO_1[1] 6 8 0 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNO[6] 4 5 5 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER[5] 4 5 4 #SB_DFFNSR
set_location U400_SDRAM.RAM_CYCLE_START_RNI58I35 6 6 5 #SB_LUT4
set_location U400_SDRAM.TA_OUT_RNO_1 7 4 7 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO[7] 4 12 4 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO_0[1] 8 14 7 #SB_LUT4
set_location U400_SDRAM.un2_REFRESH_COUNTER_cry_2_c 4 5 1 #SB_CARRY
set_location U400_SDRAM.SDRAM_COUNTER_RNISAQQ4[1] 5 6 1 #SB_LUT4
set_location U400_SDRAM.SDRAM_CONFIGURED_RNI5POA3_0 5 8 5 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNI2OIR[7] 4 7 2 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER[2] 4 5 1 #SB_DFFNSR
set_location U400_SDRAM.MA_nesr[3] 9 13 7 #SB_DFFNESR
set_location U400_SDRAM.CS1_EN_RNO_0 5 7 3 #SB_LUT4
set_location U400_SDRAM.TACK_RNO_1 5 5 3 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_ne_RNO_0[0] 6 8 6 #SB_LUT4
set_location U400_SDRAM.CS0_EN_RNO_0 5 7 1 #SB_LUT4
set_location U400_SDRAM.CS0_EN 5 7 2 #SB_DFFNSR
set_location U400_SDRAM.un2_REFRESH_COUNTER_cry_3_c 4 5 2 #SB_CARRY
set_location U400_SDRAM.SDRAM_COUNTER_cry_c[1] 4 6 1 #SB_CARRY
set_location U400_SDRAM.SDRAM_CMD_ne_RNO_1[0] 7 8 5 #SB_LUT4
set_location U400_SDRAM.MA_nesr[6] 4 14 3 #SB_DFFNESR
set_location U400_SDRAM.BURST_RNO 6 5 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNI4ECU1[2] 5 8 0 #SB_LUT4
set_location U400_SDRAM.RAM_CYCLE_START_RNIUFE78 6 6 7 #SB_LUT4
set_location RESETn_ibuf_RNIM9SF 1 8 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO[6] 4 6 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO_5[1] 7 7 6 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNIMIPA1[1] 5 6 3 #SB_LUT4
set_location U400_SDRAM.un2_REFRESH_COUNTER_cry_1_c 4 5 0 #SB_CARRY
set_location U400_SDRAM.TA_COUNTER_RNIAJGG1[3] 7 4 1 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO_6[1] 7 7 5 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNIUQPA1[5] 5 6 5 #SB_LUT4
set_location U400_SDRAM.un2_REFRESH_COUNTER_cry_6_c 4 5 5 #SB_CARRY
set_location U400_SDRAM.SDRAM_COUNTER_RNO[3] 6 7 4 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER[6] 4 6 6 #SB_DFFNE
set_location U400_SDRAM.REFRESH_COUNTER_RNO[3] 4 5 2 #SB_LUT4
set_location U400_SDRAM.TA_OUT_RNO_2 7 4 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO_4[0] 4 7 0 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNI8BL33[8] 6 6 4 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO[2] 9 15 0 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO[10] 8 13 3 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER_RNO[0] 7 5 7 #SB_LUT4
set_location U400_ADDRESS_DECODE.RAM_SPACE_i_o3_0_o2_2 4 2 5 #SB_LUT4
set_location U400_SDRAM.TA_EN_i_ess_RNO_1 6 4 1 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER[3] 7 5 4 #SB_DFF
set_location U400_SDRAM.SDRAM_COUNTER_RNO_5[0] 4 4 4 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER[3] 6 7 4 #SB_DFFNE
set_location U400_SDRAM.SDRAM_CONFIGURED_RNI5POA3 5 7 6 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNO[4] 4 5 3 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER[7] 4 5 6 #SB_DFFNSR
set_location U400_SDRAM.CASn 4 9 3 #SB_DFFNSS
set_location U400_SDRAM.TACK_RNO_4 5 5 2 #SB_LUT4
set_location U400_SDRAM.RAM_CYCLE_RNO_0 7 6 7 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO[5] 7 15 7 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNIE9F21[1] 4 7 7 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO_3[1] 7 7 7 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_cry_c[4] 4 6 4 #SB_CARRY
set_location U400_SDRAM.MA_nesr[5] 7 15 7 #SB_DFFNESR
set_location U400_SDRAM.CS0n_RNO 4 8 0 #SB_LUT4
set_location U400_SDRAM.un2_REFRESH_COUNTER_cry_5_c 4 5 4 #SB_CARRY
set_location U400_SDRAM.TACK_RNO_3 5 4 0 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO[1] 6 8 1 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO[8] 4 12 2 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER_RNO_0[0] 7 5 6 #SB_LUT4
set_location U400_SDRAM.TACK_RNO 6 5 5 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNI8E8G1[2] 5 7 5 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD[1] 6 8 1 #SB_DFFN
set_location U400_SDRAM.BANK0 6 5 0 #SB_DFFNSR
set_location U400_SDRAM.SDRAM_COUNTER_cry_c[3] 4 6 3 #SB_CARRY
set_location U400_SDRAM.SDRAM_COUNTER_RNO_0[0] 6 6 1 #SB_LUT4
set_location U400_SDRAM.RAM_CYCLE_START_RNIRHEJ5 5 6 2 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO[0] 5 5 0 #SB_LUT4
set_location U400_SDRAM.MA_nesr[11] 7 12 5 #SB_DFFNESR
set_location U400_SDRAM.RAM_CYCLE 6 5 2 #SB_DFFNSR
set_location U400_BYTE_ENABLE.un1_LLBEn_i_0_0 9 4 7 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER_RNIAJGG1_0[3] 7 4 3 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_ne_RNI80KS[0] 8 12 3 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_ne[0] 7 8 6 #SB_DFFNE
set_location U400_SDRAM.CS0_EN_RNO 5 7 2 #SB_LUT4
set_location U400_SDRAM.BURST_RNISKH51 6 4 0 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER[0] 7 5 7 #SB_DFF
set_location U400_SDRAM.TACK_RNI0LUG4 7 5 1 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER[4] 4 6 4 #SB_DFFNE
set_location U400_SDRAM.SDRAM_CMD_RNO_2[2] 6 8 3 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNO[1] 5 6 4 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER[4] 4 5 3 #SB_DFFNSR
set_location U400_SDRAM.TA_OUT_RNO_0 7 4 4 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO[12] 6 12 2 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO[0] 9 15 3 #SB_LUT4
set_location U400_SDRAM.CS1n_RNO 6 9 2 #SB_LUT4
set_location U400_BYTE_ENABLE.un1_UMBEn_i_0_0 9 4 0 #SB_LUT4
set_location U400_SDRAM.TA_OUT 7 3 3 #SB_DFFSS
set_location U400_SDRAM.SDRAM_COUNTER_RNO_3[0] 4 4 5 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER[1] 6 7 1 #SB_DFFNE
set_location U400_SDRAM.REFRESH_COUNTER[1] 5 6 4 #SB_DFFNSR
set_location U400_SDRAM.MA_nesr[0] 9 15 3 #SB_DFFNESR
set_location U400_SDRAM.TACK_RNO_6 5 4 3 #SB_LUT4
set_location U400_SDRAM.RAM_CYCLE_RNO_2 7 6 0 #SB_LUT4
set_location U400_SDRAM.WRITE_CYCLE_RNICOHO 6 7 2 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD[2] 6 8 5 #SB_DFFN
set_location U400_SDRAM.RAM_CYCLE_RNO 6 5 2 #SB_LUT4
set_location U400_SDRAM.WEn 4 9 6 #SB_DFFNSS
set_location U400_SDRAM.SDRAM_COUNTER_cry_c[6] 4 6 6 #SB_CARRY
set_location U400_SDRAM.RAM_CYCLE_START_RNIRHEJ5_0 6 6 6 #SB_LUT4
set_location U400_SDRAM.MA_nesr[7] 4 12 4 #SB_DFFNESR
set_location U400_SDRAM.SDRAM_COUNTER_RNO[5] 4 6 5 #SB_LUT4
set_location U400_SDRAM.RAM_CYCLE_START_RNO 6 6 2 #SB_LUT4
set_location U400_SDRAM.MA_nesr[12] 6 12 2 #SB_DFFNESR
set_location U400_SDRAM.SDRAM_COUNTER_RNO[2] 4 6 2 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO_1[0] 4 7 1 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNO[2] 4 5 1 #SB_LUT4
set_location U400_SDRAM.MA_nesr[8] 4 12 2 #SB_DFFNESR
set_location GND -1 -1 -1 #GND
set_location U400_SDRAM.TA_EN_i_ess 6 4 4 #SB_DFFESS
set_location U400_SDRAM.SDRAM_CONFIGURED_RNITAGQ1 4 7 4 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO[3] 9 13 7 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO_0[5] 7 14 7 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER_RNO[3] 7 5 4 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO_2[0] 4 6 0 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER[2] 7 5 2 #SB_DFF
set_location U400_SDRAM.SDRAM_COUNTER[2] 4 6 2 #SB_DFFNE
set_location U400_SDRAM.SDRAM_CMD_RNO_1[2] 6 8 4 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNO[7] 4 5 6 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER[6] 4 5 5 #SB_DFFNSR
set_location U400_SDRAM.WRITE_CYCLE_RNO 6 5 3 #SB_LUT4
set_location U400_SDRAM.TA_OUT_RNO 7 3 3 #SB_LUT4
set_location U400_SDRAM.TACK_RNO_5 5 5 1 #SB_LUT4
set_location U400_SDRAM.RAM_CYCLE_RNO_1 7 6 6 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO[6] 4 14 3 #SB_LUT4
set_location U400_SDRAM.BANK1_RNO 6 5 1 #SB_LUT4
set_location U400_SDRAM.TA_EN_i_ess_RNO 6 4 4 #SB_LUT4
set_location U400_SDRAM.TACK 6 5 5 #SB_DFFNSR
set_location U400_SDRAM.CS1n 6 9 2 #SB_DFFNSS
set_location U400_SDRAM.SDRAM_COUNTER_cry_c[5] 4 6 5 #SB_CARRY
set_location U400_SDRAM.SDRAM_COUNTER_RNIVG1P5[2] 5 7 7 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNI8E8G1_0[2] 4 7 3 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER[3] 4 5 2 #SB_DFFNSR
set_location U400_SDRAM.MA_nesr[2] 9 15 0 #SB_DFFNESR
set_location U400_SDRAM.BANK0_RNO 6 5 0 #SB_LUT4
set_location U400_ADDRESS_DECODE.RAM_SPACE_i_o3_0_o2dup 7 6 1 #SB_LUT4
set_location TAn_obuft_RNO 9 6 1 #SB_LUT4
set_location U400_SDRAM.TACK_RNO_0 5 5 5 #SB_LUT4
set_location U400_SDRAM.SDRAM_CONFIGURED_RNIJKCA2 4 7 5 #SB_LUT4
set_location U400_SDRAM.RAM_CYCLE_START 6 6 2 #SB_DFF
set_location U400_SDRAM.MA_nesr_RNO[9] 5 12 6 #SB_LUT4
set_location U400_SDRAM.BANK1 6 5 1 #SB_DFFNSR
set_location U400_SDRAM.SDRAM_COUNTER_cry_c[0] 4 6 0 #SB_CARRY
set_location U400_SDRAM.SDRAM_CONFIGURED_RNO 4 4 1 #SB_LUT4
set_location U400_SDRAM.RASn 4 10 0 #SB_DFFNSS
set_location U400_SDRAM.WRITE_CYCLE_RNI07LH 5 4 7 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO_0[1] 4 6 1 #SB_LUT4
set_location U400_BYTE_ENABLE.un1_UMBEn_i_0_0_o2 8 5 0 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO[7] 4 6 7 #SB_LUT4
set_location U400_SDRAM.MA_nesr[10] 8 13 3 #SB_DFFNESR
set_location U400_SDRAM.BURST 6 5 6 #SB_DFFNSR
set_location U400_SDRAM.SDRAM_CMD_RNO_0[2] 7 7 4 #SB_LUT4
set_location U400_BYTE_ENABLE.un1_UUBEn_i_0_0 7 4 2 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER[7] 4 6 7 #SB_DFFNE
set_location U400_SDRAM.REFRESH_COUNTER_RNO[0] 5 6 6 #SB_LUT4
set_location U400_BYTE_ENABLE.un1_UUBEn_i_0_0_x2 8 4 4 #SB_LUT4
set_location U400_BYTE_ENABLE.un1_LMBEn_i_0_0 8 4 5 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO[11] 7 12 5 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO[1] 9 15 5 #SB_LUT4
set_location U400_SDRAM.BURST8_i_0_i_i_o2 6 6 0 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER_RNO[1] 7 5 0 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNI2LE84[2] 5 8 7 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER[0] 5 5 0 #SB_DFFNE
set_location U400_SDRAM.MA_nesr[1] 9 15 5 #SB_DFFNESR
set_location U400_SDRAM.SDRAM_COUNTER_RNI7D8G1[0] 5 8 3 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNI36NC1[2] 5 8 6 #SB_LUT4
set_location U400_SDRAM.RAM_CYCLE_START_RNO_0 7 7 3 #SB_LUT4
set_location U400_SDRAM.MA_nesr_RNO[4] 9 15 4 #SB_LUT4
set_location U400_SDRAM.CS1_EN 5 7 4 #SB_DFFNSR
set_location U400_SDRAM.TACK_RNO_2 4 7 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO[2] 6 8 5 #SB_LUT4
set_location U400_SDRAM.un2_REFRESH_COUNTER_cry_7_c 4 5 6 #SB_CARRY
set_location U400_SDRAM.WRITE_CYCLE 6 5 3 #SB_DFFNSR
set_io A[17] 16
set_io MA[5] 97
set_io LBENn 54
set_io CS0n 9
set_io A[25] 34
set_io UUBEn 37
set_io A[6] 69
set_io A[15] 81
set_io TAn 56
set_io MA[3] 100
set_io CLK40 53
set_io A[23] 36
set_io A[12] 82
set_io RnW 51
set_io MA[8] 94
set_io A[4] 65
set_io MA[1] 85
set_io BANK1 7
set_io A[21] 21
set_io A[10] 73
set_io UMBEn 40
set_io MA[6] 96
set_io A[30] 33
set_io A[28] 30
set_io A[2] 78
set_io A[19] 18
set_io MA[10] 87
set_io A[9] 66
set_io A[16] 15
set_io SIZ[1] 59
set_io MA[4] 99
set_io A[26] 29
set_io A[0] 3
set_io WEn 13
set_io MA[12] 91
set_io LLBEn 42
set_io A[7] 71
set_io A[14] 80
set_io MA[2] 83
set_io A[24] 24
set_io A[5] 68
set_io TSn 57
set_io MA[0] 86
set_io LMBEn 41
set_io A[22] 28
set_io A[13] 64
set_io RASn 10
set_io MA[9] 93
set_io CS1n 90
set_io A[3] 79
set_io A[29] 26
set_io A[18] 19
set_io RESETn 63
set_io MA[11] 89
set_io CLK_EN 1
set_io CASn 12
set_io BANK0 8
set_io A[20] 20
set_io A[11] 74
set_io SIZ[0] 60
set_io MA[7] 95
set_io A[31] 27
set_io A[27] 25
set_io A[1] 4
set_io A[8] 72
