ble_pack CONSTANT_ONE_LUT4_LC_4_9_7 { CONSTANT_ONE_LUT4 }
clb_pack LT_4_9 { CONSTANT_ONE_LUT4_LC_4_9_7 }
set_location LT_4_9 4 9
ble_pack U400_BYTE_ENABLE.LLBEn_0_i_LC_9_5_0 { U400_BYTE_ENABLE.LLBEn_0_i }
ble_pack U400_BYTE_ENABLE.LMBEn_0_i_LC_9_5_1 { U400_BYTE_ENABLE.LMBEn_0_i }
ble_pack U400_BYTE_ENABLE.UMBEn_0_i_LC_9_5_2 { U400_BYTE_ENABLE.UMBEn_0_i }
ble_pack U400_BYTE_ENABLE.UUBEn_0_i_LC_9_5_3 { U400_BYTE_ENABLE.UUBEn_0_i }
clb_pack LT_9_5 { U400_BYTE_ENABLE.LLBEn_0_i_LC_9_5_0, U400_BYTE_ENABLE.LMBEn_0_i_LC_9_5_1, U400_BYTE_ENABLE.UMBEn_0_i_LC_9_5_2, U400_BYTE_ENABLE.UUBEn_0_i_LC_9_5_3 }
set_location LT_9_5 9 5
set_io WEn 13
set_io RASn 10
set_io LLBEn 42
set_io CS1n 90
set_io CS0n 9
set_io UUBEn 37
set_io UMBEn 40
set_io CASn 12
set_io SIZ[0] 60
set_io CLKEN 1
set_io A[1] 4
set_io SIZ[1] 59
set_io LMBEn 41
set_io A[0] 3
