# Written by Synplify Pro version maplat, Build 1612R. Synopsys Run ID: sid1757720469 
# Top Level Design Parameters 

# Clocks 

# Virtual Clocks 

# Generated Clocks 

# Paths Between Clocks 

# Multicycle Constraints 

# Point-to-point Delay Constraints 

# False Path Constraints 

# Output Load Constraints 

# Driving Cell Constraints 

# Input Delay Constraints 

# Output Delay Constraints 

# Wire Loads 

# Other Constraints 

# syn_hier Attributes 

# set_case Attributes 

# Clock Delay Constraints 

# syn_mode Attributes 

# Cells 

# Port DRC Rules 

# Input Transition Constraints 

# Unused constraints (intentionally commented out) 
# create_clock -period 25.0000 [get_ports CLK40_IN]
# create_clock -period 166.6667 [get_ports CLK6]
# create_clock -period 34.9162 [get_ports CLK28_IN]

# Non-forward-annotatable constraints (intentionally commented out) 

# Block Path constraints 

