set_location IN_MUX_bfv_9_7_0_ 9 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_15_0_ 9 15 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 12 1 2 #SB_LUT4
set_location U712_REG_SM.C3_SYNC_1_THRU_LUT4_0 7 14 5 #SB_LUT4
set_location U712_REG_SM.C3_SYNC_0_THRU_LUT4_0 6 14 7 #SB_LUT4
set_location U712_REG_SM.C1_SYNC_1_THRU_LUT4_0 7 14 4 #SB_LUT4
set_location U712_REG_SM.C1_SYNC_0_THRU_LUT4_0 7 14 1 #SB_LUT4
set_location U712_REG_SM.ASn_ess_THRU_LUT4_0 12 15 2 #SB_LUT4
set_location U712_CHIP_RAM.WEn_THRU_LUT4_0 13 5 5 #SB_LUT4
set_location U712_CHIP_RAM.RASn_THRU_LUT4_0 11 5 6 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_8_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_7_REP_LUT4_0 15 10 2 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_7_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_6_REP_LUT4_0 15 10 1 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_6_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_5_REP_LUT4_0 16 10 6 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_5_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_4_REP_LUT4_0 13 11 6 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_4_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_3_REP_LUT4_0 14 9 0 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_3_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_2_REP_LUT4_0 15 9 0 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_2_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_1_REP_LUT4_0 14 9 5 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_1_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_0_REP_LUT4_0 13 11 1 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_0_U712_CHIP_RAM.DMA_A1_nesr_REP_LUT4_0 14 11 2 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNIBRI34_U712_CHIP_RAM.DMA_CYCLE_esr_REP_LUT4_0 13 8 0 #SB_LUT4
set_location U712_CHIP_RAM.CRCSn_THRU_LUT4_0 13 3 1 #SB_LUT4
set_location U712_CHIP_RAM.CASn_THRU_LUT4_0 12 4 5 #SB_LUT4
set_location DBR_SYNC_1_THRU_LUT4_0 8 11 7 #SB_LUT4
set_location DBR_SYNC_0_THRU_LUT4_0 8 11 1 #SB_LUT4
set_location U712_REG_SM.C3_SYNC[0] 6 14 7 #SB_DFFSS
set_location U712_CHIP_RAM.CLK_EN_RNO_1 9 6 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIGCGV5[4] 9 9 2 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[6] 9 15 6 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIJSRL5[0] 9 6 5 #SB_LUT4
set_location U712_CHIP_RAM.CRCSn 13 3 1 #SB_DFFSS
set_location U712_CYCLE_TERM.TACK_STATE_RNO_0[0] 9 11 7 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[8] 11 6 2 #SB_DFFESR
set_location U712_CHIP_RAM.BANK0_RNO_0 11 7 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI5O1M2[4] 10 8 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CONFIGURED 10 8 2 #SB_DFF
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNO_0 9 16 6 #SB_LUT4
set_location pll_RNI8MQ3 12 12 7 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT_RNO[3] 9 12 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[2] 9 7 2 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_2[1] 8 9 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD[1] 8 8 5 #SB_DFF
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[9] 17 8 5 #SB_DFFESR
set_location U712_CHIP_RAM.CPU_TACK_esr_RNO 10 6 4 #SB_LUT4
set_location U712_REG_SM.UDSn 10 15 0 #SB_DFFSS
set_location U712_CYCLE_TERM.TACK_STATE_RNO[3] 7 11 6 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[4] 9 15 4 #SB_DFFR
set_location U712_CHIP_RAM.CLK_EN_RNO 8 6 4 #SB_LUT4
set_location U712_BYTE_ENABLE.un1_CLMBEn_i_a2 12 12 2 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT[1] 8 14 7 #SB_DFF
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIAENR1[4] 9 8 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIE24B8 8 8 2 #SB_LUT4
set_location U712_REG_SM.REG_CYCLE_START 7 13 1 #SB_DFF
set_location U712_CHIP_RAM.LATCH_CLK_RNO 11 9 6 #SB_LUT4
set_location U712_REG_SM.LDSn_6_i_o2 12 14 1 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNO_0 9 13 0 #SB_LUT4
set_location U712_CHIP_RAM.BANK0_RNO 11 7 0 #SB_LUT4
set_location U712_REG_SM.C3_SYNC_RNIH4AH[1] 10 12 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[3] 8 9 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[0] 9 7 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNO 10 8 2 #SB_LUT4
set_location U712_CHIP_RAM.CPU_TACK_esr_RNO_1 10 6 3 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[1] 12 9 4 #SB_LUT4
set_location U712_CHIP_RAM.WRITE_CYCLE 10 9 2 #SB_DFF
set_location U712_REG_SM.WRITE_CYCLE 7 14 7 #SB_DFFSR
set_location U712_REG_SM.REG_CYCLE_START_RNO_0 6 13 6 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[5] 9 15 5 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_esr_RNI8HNG 10 8 7 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNIR9VE1 9 10 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[1] 9 7 1 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI4TF5A[4] 9 8 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD[2] 8 8 7 #SB_DFF
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[4] 14 8 1 #SB_DFFESR
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2[6] 13 10 6 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[3] 12 9 2 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT[4] 9 14 5 #SB_DFF
set_location DBR_SYNC[0] 8 11 1 #SB_DFFSS
set_location U712_REG_SM.WRITE_CYCLE_RNO 7 14 7 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[10] 12 8 6 #SB_DFFESR
set_location CLKRAM_obuf_RNO 6 1 1 #SB_LUT4
set_location U712_REG_SM.ASn_ess 12 15 2 #SB_DFFESS
set_location U712_CYCLE_TERM.TACK_STATE[0] 8 11 2 #SB_DFFSS
set_location U712_CHIP_RAM.CMA_esr[3] 12 10 7 #SB_DFFESR
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIQTMR1[3] 9 6 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIQTMR1_0[2] 10 6 6 #SB_LUT4
set_location U712_CHIP_RAM.CAS_SYNC_RNO[0] 11 13 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER[0] 10 7 2 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIU2TJ3 10 9 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[0] 9 9 4 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[3] 9 15 3 #SB_DFFR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[6] 15 10 1 #SB_DFFNESR
set_location U712_CHIP_RAM.CASn 12 4 5 #SB_DFFSS
set_location U712_REG_SM.REG_TACK 10 13 6 #SB_DFFSR
set_location U712_CHIP_RAM.CMA_esr_RNO_1[6] 8 9 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[2] 10 7 7 #SB_LUT4
set_location U712_CHIP_RAM.BANK0 11 7 0 #SB_DFFSR
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[6] 9 15 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[4] 9 7 4 #SB_CARRY
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[3] 14 10 7 #SB_DFFESR
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2[1] 14 10 3 #SB_LUT4
set_location U712_CHIP_RAM.DMA_A20_RNO 13 9 7 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[1] 12 8 4 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[6] 12 9 0 #SB_LUT4
set_location U712_BYTE_ENABLE.N_353_i 12 19 5 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT_RNO_0[3] 9 12 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNISAAQ[4] 9 8 4 #SB_LUT4
set_location U712_CHIP_RAM.DBDIR 8 6 0 #SB_DFFSS
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_1[1] 9 8 1 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[2] 9 15 2 #SB_CARRY
set_location U712_BUFFERS.un1_VBENn_0_a2 10 5 1 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[4] 12 8 2 #SB_DFFESR
set_location U712_CHIP_RAM.BANK0_RNO_4 11 7 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER[5] 9 7 5 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[2] 8 8 6 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[0] 9 15 0 #SB_DFFR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[1] 14 9 5 #SB_DFFNESR
set_location U712_REG_SM.REG_TACK_RNO_0 10 14 2 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT_RNIKVGT_0[4] 9 14 4 #SB_LUT4
set_location U712_REG_SM.LDSn_RNO 11 15 1 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_OUTn 8 11 4 #SB_DFFSS
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[7] 9 7 7 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNITERT[2] 10 6 1 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[3] 9 15 3 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNO 9 11 6 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[6] 12 8 7 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[5] 10 10 0 #SB_LUT4
set_location U712_REG_SM.LDSn_RNO_0 11 16 2 #SB_LUT4
set_location U712_REG_SM.C3_SYNC[1] 7 14 5 #SB_DFFSS
set_location U712_CHIP_RAM.DMA_A1_nesr 14 11 2 #SB_DFFNESR
set_location U712_REG_SM.STATE_COUNT_RNI3OIA1[0] 7 13 3 #SB_LUT4
set_location U712_REG_SM.REG_CYCLE 11 13 1 #SB_DFF
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[5] 9 15 5 #SB_CARRY
set_location U712_CHIP_RAM.CPU_CYCLE_RNI8NM9 11 9 7 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_RNO[9] 17 8 5 #SB_LUT4
set_location U712_CHIP_RAM.CPU_TACK_esr_RNO_5 11 8 5 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE_RNO_0[1] 9 11 0 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[9] 11 6 0 #SB_DFFESR
set_location U712_CHIP_RAM.BANK0_RNO_1 11 7 2 #SB_LUT4
set_location U712_BUFFERS.un1_DRDENn_0_a2 24 19 1 #SB_LUT4
set_location U712_BUFFERS.DRDDIR_i_m2_i_m2 24 19 0 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNIURFN4 10 7 5 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT_RNO[2] 10 12 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_2[0] 9 9 5 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_RNIPCS25 10 9 1 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[8] 13 7 7 #SB_DFFESR
set_location U712_REG_SM.REG_CYCLE_RNO 11 13 1 #SB_LUT4
set_location U712_REG_SM.ASn_ess_RNO 11 14 4 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE_RNO[2] 7 11 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER[6] 9 7 6 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[1] 8 7 2 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[5] 9 15 5 #SB_DFFR
set_location U712_REG_SM.STATE_COUNT_RNIKVGT[4] 10 14 1 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT[0] 8 13 2 #SB_DFFSS
set_location U712_CHIP_RAM.WRITE_CYCLE_RNIJJ8G1 10 8 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIR5PC1[3] 9 9 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNIMUKI[0] 11 6 1 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_RNO_0 9 16 7 #SB_LUT4
set_location U712_REG_SM.LDSn 11 15 1 #SB_DFFSS
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[4] 9 7 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIMEP34[1] 9 8 7 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI5V372[4] 11 7 5 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH 9 11 2 #SB_DFF
set_location U712_CHIP_RAM.DMA_CYCLE_esr_RNO 11 8 2 #SB_LUT4
set_location U712_CHIP_RAM.CPU_TACK_esr 10 6 4 #SB_DFFESR
set_location U712_CHIP_RAM.CAS_SYNC_RNO[1] 9 13 1 #SB_LUT4
set_location U712_REG_SM.C1_SYNC[0] 7 14 1 #SB_DFFSS
set_location U712_CHIP_RAM.SDRAM_COUNTER[3] 9 7 3 #SB_DFFE
set_location U712_CHIP_RAM.REFRESH_COUNTER[2] 9 15 2 #SB_DFFR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[7] 15 10 2 #SB_DFFNESR
set_location U712_BUFFERS.DMA_LATCH_EN_i_i_a2 11 19 5 #SB_LUT4
set_location DBRn_ibuf_RNIBAB 6 11 3 #SB_LUT4
set_location U712_REG_SM.REG_CYCLE_START_RNO 7 13 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIU95J5[4] 9 6 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIHBUSE[4] 9 6 6 #SB_LUT4
set_location U712_CHIP_RAM.LATCH_CLK_RNO_0 11 9 3 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[5] 11 10 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[1] 9 7 1 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT_RNIVCF31[4] 10 14 0 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[1] 9 15 1 #SB_LUT4
set_location U712_CHIP_RAM.CAS_SYNC[1] 9 13 1 #SB_DFF
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[5] 9 7 5 #SB_CARRY
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle[9] 2 11 3 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[0] 13 10 0 #SB_DFFESR
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2[2] 14 10 2 #SB_LUT4
set_location U712_CHIP_RAM.CPU_TACK_esr_RNO_0 11 8 7 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[2] 8 9 4 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[7] 8 10 6 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[0] 12 10 2 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT_RNO_0[2] 10 12 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIR5PC1_0[3] 10 8 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_1[0] 9 9 6 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[3] 9 15 3 #SB_CARRY
set_location U712_CHIP_RAM.DBENn_RNO_0 10 7 4 #SB_LUT4
set_location U712_CHIP_RAM.DBDIR_RNO 8 6 0 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_EN 8 11 3 #SB_DFFSR
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[0] 9 7 0 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_CMD[3] 8 9 0 #SB_DFF
set_location U712_CHIP_RAM.REFRESH_RNIHJRU1 8 10 2 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[7] 14 10 1 #SB_DFFESR
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2[5] 13 10 5 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[2] 12 9 7 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE[4] 7 11 7 #SB_DFF
set_location U712_CHIP_RAM.CMA_esr[7] 11 10 6 #SB_DFFESR
set_location U712_CHIP_RAM.BANK0_RNO_3 11 12 3 #SB_LUT4
set_location U712_CHIP_RAM.WRITE_CYCLE_RNO 10 9 2 #SB_LUT4
set_location U712_BYTE_ENABLE.un1_CLLBEn_i_a2 12 12 4 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT_RNO[0] 8 13 2 #SB_LUT4
set_location U712_REG_SM.REGENn_RNO 7 12 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIALFTC[2] 11 8 1 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2[8] 13 7 7 #SB_LUT4
set_location RESETn_ibuf_RNIM9SF 12 19 0 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE_RNO[0] 8 11 2 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE[3] 7 11 6 #SB_DFF
set_location U712_CHIP_RAM.SDRAM_COUNTER[4] 9 7 4 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[3] 8 8 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNI4VDC[0] 10 10 4 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[7] 9 15 7 #SB_DFFR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[2] 15 9 0 #SB_DFFNESR
set_location U712_CHIP_RAM.CMA_esr[0] 12 10 2 #SB_DFFESR
set_location U712_BYTE_ENABLE.un1_CUMBEn_i_0_a2 11 12 1 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT[2] 10 12 6 #SB_DFF
set_location U712_CHIP_RAM.CMA_esr_RNO[8] 11 6 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[6] 9 7 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIQTMR1[2] 9 8 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIPRCO3[2] 9 8 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER[1] 9 7 1 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[1] 8 8 5 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[2] 9 15 2 #SB_LUT4
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[5] 16 10 6 #SB_DFFNESR
set_location U712_CHIP_RAM.CMA_esr_RNO_2[5] 11 10 0 #SB_LUT4
set_location U712_BYTE_ENABLE.un1_CUUBEn_i_0_a2 10 12 7 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI8MK44[1] 11 8 0 #SB_LUT4
set_location U712_CHIP_RAM.CPU_TACK_esr_RNO_3 12 6 7 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE 10 9 4 #SB_DFF
set_location U712_CHIP_RAM.CMA_esr_RNO[5] 11 10 4 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[7] 8 10 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[3] 9 7 3 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_START 9 11 4 #SB_DFF
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[7] 9 15 7 #SB_LUT4
set_location U712_CHIP_RAM.DMA_A20 13 9 7 #SB_DFFNSR
set_location U712_BYTE_ENABLE.LLBE_i_x2 11 14 0 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[2] 14 10 2 #SB_DFFESR
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2[0] 13 10 0 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[2] 12 10 6 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[1] 12 9 6 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT_RNO_0[0] 9 13 7 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNIBRI34 11 8 3 #SB_LUT4
set_location U712_BYTE_ENABLE.N_355_i 12 20 5 #SB_LUT4
set_location U712_BYTE_ENABLE.N_200_i 12 12 3 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[1] 9 15 1 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI9KPC1[7] 10 8 3 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[5] 11 10 4 #SB_DFFESR
set_location U712_BYTE_ENABLE.N_84_i 12 20 4 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_RNO_1 9 16 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIQGOH4 9 9 1 #SB_LUT4
set_location U712_REG_SM.REGENn_RNO_0 8 12 2 #SB_LUT4
set_location U712_REG_SM.REGENn 7 12 1 #SB_DFFSS
set_location U712_CHIP_RAM.SDRAM_COUNTER[2] 10 7 7 #SB_DFFE
set_location U712_CHIP_RAM.REFRESH_COUNTER[1] 9 15 1 #SB_DFFR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[0] 13 11 1 #SB_DFFNESR
set_location U712_REG_SM.REG_TACK_RNO_1 10 14 5 #SB_LUT4
set_location U712_CHIP_RAM.LATCH_CLK_RNO_1 11 9 5 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[4] 8 8 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[0] 10 7 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNILH2MF[1] 9 9 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIBOVM2 9 8 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNIPBDR1[3] 9 10 5 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[0] 9 15 0 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_RNO_0 10 9 3 #SB_LUT4
set_location U712_BYTE_ENABLE.N_32_i 11 12 2 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[1] 14 10 3 #SB_DFFESR
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2[3] 14 10 7 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_RNO 10 9 4 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[7] 11 10 6 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[4] 12 8 1 #SB_LUT4
set_location U712_REG_SM.REG_CYCLE_RNO_0 11 13 0 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[4] 9 15 4 #SB_CARRY
set_location U712_CHIP_RAM.CPU_TACK_esr_RNO_4 11 7 6 #SB_LUT4
set_location U712_CHIP_RAM.LATCH_CLK 11 9 6 #SB_DFF
set_location U712_CHIP_RAM.CMA_esr[6] 12 8 7 #SB_DFFESR
set_location U712_CHIP_RAM.BANK0_RNO_2 11 7 3 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT_RNO[1] 8 14 7 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_RNO 9 11 2 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_3[5] 9 10 6 #SB_LUT4
set_location U712_REG_SM.REG_TACK_RNO 10 13 6 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE_RNO[1] 9 11 1 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_EN_RNO 8 11 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER[7] 9 7 7 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[0] 10 9 6 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[6] 9 15 6 #SB_DFFR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[3] 14 9 0 #SB_DFFNESR
set_location U712_REG_SM.STATE_COUNT[3] 9 12 2 #SB_DFF
set_location U712_CYCLE_TERM.TACK_OUTn_RNO 8 11 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[5] 9 7 5 #SB_LUT4
set_location U712_REG_SM.C1_SYNC[1] 7 14 4 #SB_DFFSS
set_location U712_CHIP_RAM.SDRAM_CMD_RNI32HB1[3] 9 10 4 #SB_LUT4
set_location U712_BYTE_ENABLE.N_354_i 12 20 0 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location U712_CHIP_RAM.CMA_esr_RNO[4] 12 8 2 #SB_LUT4
set_location U712_REG_SM.START_RST 8 13 4 #SB_DFFSR
set_location U712_CHIP_RAM.SDRAM_CMD_RNIA0SO[0] 9 10 3 #SB_LUT4
set_location U712_CHIP_RAM.CLK_EN_RNO_0 8 7 0 #SB_LUT4
set_location U712_CHIP_RAM.WEn 13 5 5 #SB_DFFSS
set_location U712_CHIP_RAM.CAS_SYNC[0] 11 13 6 #SB_DFF
set_location U712_REG_SM.STATE_COUNT_RNINRSB[2] 9 13 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[2] 9 7 2 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[3] 8 9 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_3[0] 10 9 7 #SB_LUT4
set_location U712_REG_SM.UDSn_RNO_0 10 16 0 #SB_LUT4
set_location U712_CHIP_RAM.WRITE_CYCLE_RNO_0 10 10 6 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT_RNO[4] 9 14 5 #SB_LUT4
set_location U712_CHIP_RAM.WRITE_CYCLE_RNIJJ8G1_0 10 8 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[3] 9 7 3 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_CMD[0] 9 9 4 #SB_DFF
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[6] 13 10 6 #SB_DFFESR
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2[4] 14 8 1 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE_RNO[4] 7 11 7 #SB_LUT4
set_location U712_CHIP_RAM.RASn 11 5 6 #SB_DFFSS
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNO 9 11 4 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE_RNO_1[0] 7 11 1 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_START 9 11 6 #SB_DFF
set_location U712_CYCLE_TERM.TACK_STATE[2] 7 11 0 #SB_DFF
set_location U712_CHIP_RAM.CMA_esr[1] 12 8 4 #SB_DFFESR
set_location U712_CYCLE_TERM.TACK_EN_RNO_0 10 11 2 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[9] 11 6 0 #SB_LUT4
set_location U712_CHIP_RAM.DBENn_RNO 12 7 7 #SB_LUT4
set_location U712_BYTE_ENABLE.N_202_i 12 12 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIN38L4[2] 10 8 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[2] 8 8 7 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_esr 13 8 0 #SB_DFFESR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[4] 13 11 6 #SB_DFFNESR
set_location U712_CHIP_RAM.CPU_TACK_esr_RNO_2 11 8 6 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[0] 9 10 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIR80N2[4] 8 7 1 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[4] 9 15 4 #SB_LUT4
set_location U712_CHIP_RAM.CLK_EN 8 6 4 #SB_DFFSS
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[6] 9 7 6 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNITIV55[0] 9 6 4 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[5] 13 10 5 #SB_DFFESR
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2[7] 14 10 1 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[3] 12 10 7 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[0] 12 10 1 #SB_LUT4
set_location U712_REG_SM.UDSn_RNO 10 15 0 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT_RNO_0[1] 8 14 6 #SB_LUT4
set_location U712_CHIP_RAM.DBENn 12 7 7 #SB_DFFSS
set_location U712_BYTE_ENABLE.N_34_i 12 12 1 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[0] 9 15 0 #SB_CARRY
set_location DBR_SYNC[1] 8 11 7 #SB_DFFSS
set_location U712_REG_SM.START_RST_RNO 8 13 4 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNI0N9G 9 10 7 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[10] 12 8 6 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE[1] 9 11 1 #SB_DFF
set_location U712_CHIP_RAM.CMA_esr[2] 12 10 6 #SB_DFFESR
set_io DRA[9] 106
set_io DBRn 138
set_io A[14] 28
set_io RAMENn 139
set_io CMA[4] 78
set_io A[5] 16
set_io TSn 136
set_io LMBEn 122
set_io DRA[2] 99
set_io DMA_LATCH_EN 134
set_io A[13] 26
set_io CLMBEn 75
set_io AWEn 135
set_io RESETn 94
set_io CMA[1] 48
set_io CLK_EN 84
set_io CASn 62
set_io BANK0 52
set_io A[20] 11
set_io SIZ[0] 2
set_io DRA[7] 91
set_io CMA[8] 82
set_io A[1] 10
set_io CLK40B_OUT 112
set_io A[17] 32
set_io VBENn 44
set_io DRA[1] 101
set_io DA[2] 120
set_io CUMBEn 74
set_io CLKRAM 38
set_io CLK40D_OUT 115
set_io C3 143
set_io ASn 116
set_io UUBEn 125
set_io LDSn 117
set_io LATCH_CLK 137
set_io DRA[8] 90
set_io CMA[5] 79
set_io CASUn 104
set_io A[6] 17
set_io A[15] 29
set_io DRDDIR 107
set_io DRA[3] 98
set_io DBDIR 43
set_io A[12] 25
set_io UDSn 118
set_io RnW 144
set_io DRDENn 110
set_io A[4] 15
set_io DBENn 42
set_io CMA[2] 47
set_io CMA[10] 56
set_io BANK1 49
set_io A[10] 23
set_io UMBEn 121
set_io RAS0n 87
set_io DRA[4] 97
set_io DA[1] 128
set_io CMA[9] 83
set_io A[2] 8
set_io A[19] 34
set_io CUUBEn 85
set_io CRCSn 60
set_io CMA[0] 55
set_io CLLBEn 45
set_io CLK40C_OUT 21
set_io CASLn 105
set_io A[9] 22
set_io A[16] 31
set_io TCIn 64
set_io TBIn 39
set_io SIZ[1] 1
set_io RAMSPACEn 130
set_io DRA[6] 95
set_io A[0] 12
set_io WEn 73
set_io REGENn 141
set_io LLBEn 124
set_io CMA[6] 80
set_io A[7] 18
set_io DRA[0] 102
set_io CLK40_IN 20
set_io REGSPACEn 41
set_io CMA[3] 76
set_io RASn 61
set_io DRA[5] 96
set_io A[3] 9
set_io A[18] 33
set_io AGNUS_REV 114
set_io A[11] 24
set_io TACKn 7
set_io DA[0] 129
set_io C1 142
set_io CMA[7] 81
set_io A[8] 19
