ble_pack CLKRAM_obuf_RNO_LC_2_1_0 { CLKRAM_obuf_RNO }
clb_pack LT_2_1 { CLKRAM_obuf_RNO_LC_2_1_0 }
set_location LT_2_1 2 1
ble_pack TACKn_obuft_RNO_LC_5_15_5 { TACKn_obuft_RNO }
clb_pack LT_5_15 { TACKn_obuft_RNO_LC_5_15_5 }
set_location LT_5_15 5 15
ble_pack U712_CYCLE_TERM.TACK_STATE_RNO_0_0_LC_7_12_5 { U712_CYCLE_TERM.TACK_STATE_RNO_0[0] }
clb_pack LT_7_12 { U712_CYCLE_TERM.TACK_STATE_RNO_0_0_LC_7_12_5 }
set_location LT_7_12 7 12
ble_pack U712_REG_SM.REG_CYCLE_START_RNIQANC1_LC_7_13_4 { U712_REG_SM.REG_CYCLE_START_RNIQANC1 }
ble_pack U712_REG_SM.STATE_COUNTER_RNI7KTS1_9_LC_7_13_5 { U712_REG_SM.STATE_COUNTER_RNI7KTS1[9] }
clb_pack LT_7_13 { U712_REG_SM.REG_CYCLE_START_RNIQANC1_LC_7_13_4, U712_REG_SM.STATE_COUNTER_RNI7KTS1_9_LC_7_13_5 }
set_location LT_7_13 7 13
ble_pack U712_CYCLE_TERM.TACK_EN_i_ess_LC_7_14_0 { U712_CYCLE_TERM.TACK_EN_i_ess_RNO, U712_CYCLE_TERM.TACK_EN_i_ess }
ble_pack U712_REG_SM.C1_SYNC_RNI6FIN_1_LC_7_14_6 { U712_REG_SM.C1_SYNC_RNI6FIN[1] }
ble_pack U712_REG_SM.UDSn_RNO_0_LC_7_14_7 { U712_REG_SM.UDSn_RNO_0 }
clb_pack LT_7_14 { U712_CYCLE_TERM.TACK_EN_i_ess_LC_7_14_0, U712_REG_SM.C1_SYNC_RNI6FIN_1_LC_7_14_6, U712_REG_SM.UDSn_RNO_0_LC_7_14_7 }
set_location LT_7_14 7 14
ble_pack U712_REG_SM.STATE_COUNTER_RNO_0_0_LC_7_15_0 { U712_REG_SM.STATE_COUNTER_RNO_0[0] }
ble_pack U712_REG_SM.STATE_COUNTER_9_LC_7_15_1 { U712_REG_SM.STATE_COUNTER_RNIFMLV_8_U712_REG_SM.STATE_COUNTER_9_REP_LUT4_0, U712_REG_SM.STATE_COUNTER[9] }
ble_pack U712_REG_SM.UDSn_RNO_1_LC_7_15_2 { U712_REG_SM.UDSn_RNO_1 }
ble_pack U712_REG_SM.STATE_COUNTER_1_LC_7_15_3 { U712_REG_SM.REG_CYCLE_START_RNIQANC1_U712_REG_SM.STATE_COUNTER_1_REP_LUT4_0, U712_REG_SM.STATE_COUNTER[1] }
ble_pack U712_REG_SM.ASn_LC_7_15_6 { U712_REG_SM.ASn_RNO, U712_REG_SM.ASn }
ble_pack U712_REG_SM.CYCLE_RUN_LC_7_15_7 { U712_REG_SM.CYCLE_RUN_RNO, U712_REG_SM.CYCLE_RUN }
clb_pack LT_7_15 { U712_REG_SM.STATE_COUNTER_RNO_0_0_LC_7_15_0, U712_REG_SM.STATE_COUNTER_9_LC_7_15_1, U712_REG_SM.UDSn_RNO_1_LC_7_15_2, U712_REG_SM.STATE_COUNTER_1_LC_7_15_3, U712_REG_SM.ASn_LC_7_15_6, U712_REG_SM.CYCLE_RUN_LC_7_15_7 }
set_location LT_7_15 7 15
ble_pack U712_REG_SM.REGENn_LC_7_16_6 { U712_REG_SM.REGENn_RNO, U712_REG_SM.REGENn }
clb_pack LT_7_16 { U712_REG_SM.REGENn_LC_7_16_6 }
set_location LT_7_16 7 16
ble_pack U712_BUFFERS.un1_VBENn_LC_8_9_5 { U712_BUFFERS.un1_VBENn }
ble_pack U712_BYTE_ENABLE.LLBE_0_i_o3_LC_8_9_6 { U712_BYTE_ENABLE.LLBE_0_i_o3 }
clb_pack LT_8_9 { U712_BUFFERS.un1_VBENn_LC_8_9_5, U712_BYTE_ENABLE.LLBE_0_i_o3_LC_8_9_6 }
set_location LT_8_9 8 9
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_0_LC_8_10_0 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[0], U712_CHIP_RAM.REFRESH_COUNTER[0], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[0] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_1_LC_8_10_1 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[1], U712_CHIP_RAM.REFRESH_COUNTER[1], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[1] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_2_LC_8_10_2 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[2], U712_CHIP_RAM.REFRESH_COUNTER[2], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[2] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_3_LC_8_10_3 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[3], U712_CHIP_RAM.REFRESH_COUNTER[3], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[3] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_4_LC_8_10_4 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[4], U712_CHIP_RAM.REFRESH_COUNTER[4], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[4] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_5_LC_8_10_5 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[5], U712_CHIP_RAM.REFRESH_COUNTER[5], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[5] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_6_LC_8_10_6 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[6], U712_CHIP_RAM.REFRESH_COUNTER[6], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[6] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_7_LC_8_10_7 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[7], U712_CHIP_RAM.REFRESH_COUNTER[7] }
clb_pack LT_8_10 { U712_CHIP_RAM.REFRESH_COUNTER_0_LC_8_10_0, U712_CHIP_RAM.REFRESH_COUNTER_1_LC_8_10_1, U712_CHIP_RAM.REFRESH_COUNTER_2_LC_8_10_2, U712_CHIP_RAM.REFRESH_COUNTER_3_LC_8_10_3, U712_CHIP_RAM.REFRESH_COUNTER_4_LC_8_10_4, U712_CHIP_RAM.REFRESH_COUNTER_5_LC_8_10_5, U712_CHIP_RAM.REFRESH_COUNTER_6_LC_8_10_6, U712_CHIP_RAM.REFRESH_COUNTER_7_LC_8_10_7 }
set_location LT_8_10 8 10
ble_pack U712_CHIP_RAM.DMA_CYCLE_esr_LC_8_11_0 { U712_CHIP_RAM.SDRAM_COUNTER_RNI3IG83_0_U712_CHIP_RAM.DMA_CYCLE_esr_REP_LUT4_0, U712_CHIP_RAM.DMA_CYCLE_esr }
clb_pack LT_8_11 { U712_CHIP_RAM.DMA_CYCLE_esr_LC_8_11_0 }
set_location LT_8_11 8 11
ble_pack U712_REG_SM.LDSn_RNO_0_LC_8_12_6 { U712_REG_SM.LDSn_RNO_0 }
ble_pack U712_REG_SM.LDSn_LC_8_12_7 { U712_REG_SM.LDSn_RNO, U712_REG_SM.LDSn }
clb_pack LT_8_12 { U712_REG_SM.LDSn_RNO_0_LC_8_12_6, U712_REG_SM.LDSn_LC_8_12_7 }
set_location LT_8_12 8 12
ble_pack U712_CYCLE_TERM.TACK_STATE_0_LC_8_13_0 { U712_CYCLE_TERM.TACK_STATE_RNO[0], U712_CYCLE_TERM.TACK_STATE[0] }
ble_pack U712_CYCLE_TERM.TACK_OUTn_LC_8_13_3 { U712_CYCLE_TERM.TACK_OUTn_RNO, U712_CYCLE_TERM.TACK_OUTn }
ble_pack U712_CYCLE_TERM.TACK_STATE_4_LC_8_13_4 { U712_CYCLE_TERM.TACK_STATE_4_THRU_LUT4_0, U712_CYCLE_TERM.TACK_STATE[4] }
ble_pack U712_REG_SM.LDSn_RNO_3_LC_8_13_5 { U712_REG_SM.LDSn_RNO_3 }
ble_pack U712_REG_SM.LDSn_RNO_1_LC_8_13_6 { U712_REG_SM.LDSn_RNO_1 }
ble_pack U712_CYCLE_TERM.TACK_STATE_3_LC_8_13_7 { U712_CYCLE_TERM.TACK_STATE_3_THRU_LUT4_0, U712_CYCLE_TERM.TACK_STATE[3] }
clb_pack LT_8_13 { U712_CYCLE_TERM.TACK_STATE_0_LC_8_13_0, U712_CYCLE_TERM.TACK_OUTn_LC_8_13_3, U712_CYCLE_TERM.TACK_STATE_4_LC_8_13_4, U712_REG_SM.LDSn_RNO_3_LC_8_13_5, U712_REG_SM.LDSn_RNO_1_LC_8_13_6, U712_CYCLE_TERM.TACK_STATE_3_LC_8_13_7 }
set_location LT_8_13 8 13
ble_pack U712_REG_SM.UDSn_LC_8_14_2 { U712_REG_SM.UDSn_RNO, U712_REG_SM.UDSn }
ble_pack U712_REG_SM.C1_SYNC_1_LC_8_14_3 { U712_REG_SM.C1_SYNC_1_THRU_LUT4_0, U712_REG_SM.C1_SYNC[1] }
ble_pack U712_REG_SM.C3_SYNC_1_LC_8_14_4 { U712_REG_SM.C3_SYNC_1_THRU_LUT4_0, U712_REG_SM.C3_SYNC[1] }
ble_pack U712_REG_SM.STATE_COUNTER_RNO_1_0_LC_8_14_5 { U712_REG_SM.STATE_COUNTER_RNO_1[0] }
ble_pack U712_REG_SM.STATE_COUNTER_0_LC_8_14_6 { U712_REG_SM.STATE_COUNTER_RNO[0], U712_REG_SM.STATE_COUNTER[0] }
ble_pack U712_REG_SM.REG_CYCLE_START_LC_8_14_7 { U712_REG_SM.REG_CYCLE_START_RNO, U712_REG_SM.REG_CYCLE_START }
clb_pack LT_8_14 { U712_REG_SM.UDSn_LC_8_14_2, U712_REG_SM.C1_SYNC_1_LC_8_14_3, U712_REG_SM.C3_SYNC_1_LC_8_14_4, U712_REG_SM.STATE_COUNTER_RNO_1_0_LC_8_14_5, U712_REG_SM.STATE_COUNTER_0_LC_8_14_6, U712_REG_SM.REG_CYCLE_START_LC_8_14_7 }
set_location LT_8_14 8 14
ble_pack U712_REG_SM.LATCH_REG_LC_8_15_0 { U712_REG_SM.LATCH_REG_RNO, U712_REG_SM.LATCH_REG }
ble_pack U712_REG_SM.REG_WRITE_CYCLE_LC_8_15_1 { U712_REG_SM.REG_WRITE_CYCLE_RNO, U712_REG_SM.REG_WRITE_CYCLE }
ble_pack U712_REG_SM.REG_CPU_CYCLE_LC_8_15_2 { U712_REG_SM.REG_CPU_CYCLE_RNO, U712_REG_SM.REG_CPU_CYCLE }
ble_pack U712_REG_SM.REG_CYCLE_LC_8_15_3 { U712_REG_SM.REG_CYCLE_RNO, U712_REG_SM.REG_CYCLE }
ble_pack U712_REG_SM.STATE_COUNTER_8_LC_8_15_4 { U712_REG_SM.STATE_COUNTER_RNO[8], U712_REG_SM.STATE_COUNTER[8] }
ble_pack U712_REG_SM.STATE_COUNTER_7_LC_8_15_5 { U712_REG_SM.STATE_COUNTER_7_THRU_LUT4_0, U712_REG_SM.STATE_COUNTER[7] }
clb_pack LT_8_15 { U712_REG_SM.LATCH_REG_LC_8_15_0, U712_REG_SM.REG_WRITE_CYCLE_LC_8_15_1, U712_REG_SM.REG_CPU_CYCLE_LC_8_15_2, U712_REG_SM.REG_CYCLE_LC_8_15_3, U712_REG_SM.STATE_COUNTER_8_LC_8_15_4, U712_REG_SM.STATE_COUNTER_7_LC_8_15_5 }
set_location LT_8_15 8 15
ble_pack U712_REG_SM.C3_SYNC_0_LC_8_16_0 { U712_REG_SM.C3_SYNC_0_THRU_LUT4_0, U712_REG_SM.C3_SYNC[0] }
ble_pack U712_REG_SM.C1_SYNC_0_LC_8_16_1 { U712_REG_SM.C1_SYNC_0_THRU_LUT4_0, U712_REG_SM.C1_SYNC[0] }
clb_pack LT_8_16 { U712_REG_SM.C3_SYNC_0_LC_8_16_0, U712_REG_SM.C1_SYNC_0_LC_8_16_1 }
set_location LT_8_16 8 16
ble_pack U712_CHIP_RAM.CMA_esr_RNO_3_1_LC_9_8_2 { U712_CHIP_RAM.CMA_esr_RNO_3[1] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_1_LC_9_8_3 { U712_CHIP_RAM.CMA_esr_RNO_0[1] }
clb_pack LT_9_8 { U712_CHIP_RAM.CMA_esr_RNO_3_1_LC_9_8_2, U712_CHIP_RAM.CMA_esr_RNO_0_1_LC_9_8_3 }
set_location LT_9_8 9 8
ble_pack U712_BYTE_ENABLE.LMBE_0_a3_i_o3_LC_9_9_1 { U712_BYTE_ENABLE.LMBE_0_a3_i_o3 }
ble_pack U712_BYTE_ENABLE.un1_CLLBEn_i_0_a3_0_0_LC_9_9_2 { U712_BYTE_ENABLE.un1_CLLBEn_i_0_a3_0_0 }
ble_pack U712_BYTE_ENABLE.N_47_i_LC_9_9_3 { U712_BYTE_ENABLE.N_47_i }
clb_pack LT_9_9 { U712_BYTE_ENABLE.LMBE_0_a3_i_o3_LC_9_9_1, U712_BYTE_ENABLE.un1_CLLBEn_i_0_a3_0_0_LC_9_9_2, U712_BYTE_ENABLE.N_47_i_LC_9_9_3 }
set_location LT_9_9 9 9
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_3_LC_9_10_0 { U712_CHIP_RAM.SDRAM_CMD_RNIA0SO[3] }
ble_pack U712_CHIP_RAM.REFRESH_RNO_0_LC_9_10_3 { U712_CHIP_RAM.REFRESH_RNO_0 }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_0_3_LC_9_10_6 { U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_0[3] }
clb_pack LT_9_10 { U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_3_LC_9_10_0, U712_CHIP_RAM.REFRESH_RNO_0_LC_9_10_3, U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_0_3_LC_9_10_6 }
set_location LT_9_10 9 10
ble_pack U712_CHIP_RAM.CMA_esr_RNO_3_5_LC_9_11_0 { U712_CHIP_RAM.CMA_esr_RNO_3[5] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_5_LC_9_11_1 { U712_CHIP_RAM.CMA_esr_RNO_0[5] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_0_0_LC_9_11_4 { U712_CHIP_RAM.SDRAM_CMD_RNO_0[0] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNO_0_0_LC_9_11_5 { U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[0] }
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle_9_LC_9_11_7 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle[9] }
clb_pack LT_9_11 { U712_CHIP_RAM.CMA_esr_RNO_3_5_LC_9_11_0, U712_CHIP_RAM.CMA_esr_RNO_0_5_LC_9_11_1, U712_CHIP_RAM.SDRAM_CMD_RNO_0_0_LC_9_11_4, U712_CHIP_RAM.SDRAM_COUNTER_RNO_0_0_LC_9_11_5, U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle_9_LC_9_11_7 }
set_location LT_9_11 9 11
ble_pack U712_CHIP_RAM.BANK0_esr_RNO_1_LC_9_12_1 { U712_CHIP_RAM.BANK0_esr_RNO_1 }
ble_pack U712_CHIP_RAM.BANK0_esr_LC_9_12_2 { U712_CHIP_RAM.BANK0_esr_RNO, U712_CHIP_RAM.BANK0_esr }
ble_pack U712_CHIP_RAM.CPU_CYCLE_START_RNIH3Q74_LC_9_12_4 { U712_CHIP_RAM.CPU_CYCLE_START_RNIH3Q74 }
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_RNO_0_LC_9_12_5 { U712_CHIP_RAM.CPU_CYCLE_esr_RNO_0 }
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_RNO_LC_9_12_6 { U712_CHIP_RAM.CPU_CYCLE_esr_RNO }
clb_pack LT_9_12 { U712_CHIP_RAM.BANK0_esr_RNO_1_LC_9_12_1, U712_CHIP_RAM.BANK0_esr_LC_9_12_2, U712_CHIP_RAM.CPU_CYCLE_START_RNIH3Q74_LC_9_12_4, U712_CHIP_RAM.CPU_CYCLE_esr_RNO_0_LC_9_12_5, U712_CHIP_RAM.CPU_CYCLE_esr_RNO_LC_9_12_6 }
set_location LT_9_12 9 12
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_LC_9_13_0 { U712_CHIP_RAM.CPU_CYCLE_START_RNIH3Q74_U712_CHIP_RAM.CPU_CYCLE_esr_REP_LUT4_0, U712_CHIP_RAM.CPU_CYCLE_esr }
ble_pack U712_CHIP_RAM.LATCH_RAM_RNO_0_LC_9_13_2 { U712_CHIP_RAM.LATCH_RAM_RNO_0 }
ble_pack U712_REG_SM.LDSn_RNO_2_LC_9_13_3 { U712_REG_SM.LDSn_RNO_2 }
clb_pack LT_9_13 { U712_CHIP_RAM.CPU_CYCLE_esr_LC_9_13_0, U712_CHIP_RAM.LATCH_RAM_RNO_0_LC_9_13_2, U712_REG_SM.LDSn_RNO_2_LC_9_13_3 }
set_location LT_9_13 9 13
ble_pack U712_REG_SM.STATE_COUNTER_RNO_2_0_LC_9_14_0 { U712_REG_SM.STATE_COUNTER_RNO_2[0] }
ble_pack U712_REG_SM.STATE_COUNTER_5_LC_9_14_1 { U712_REG_SM.STATE_COUNTER_5_THRU_LUT4_0, U712_REG_SM.STATE_COUNTER[5] }
ble_pack U712_REG_SM.STATE_COUNTER_4_LC_9_14_2 { U712_REG_SM.STATE_COUNTER_4_THRU_LUT4_0, U712_REG_SM.STATE_COUNTER[4] }
ble_pack U712_REG_SM.STATE_COUNTER_6_LC_9_14_3 { U712_REG_SM.STATE_COUNTER_6_THRU_LUT4_0, U712_REG_SM.STATE_COUNTER[6] }
ble_pack U712_REG_SM.STATE_COUNTER_3_LC_9_14_4 { U712_REG_SM.DBR_SYNC_RNIVIGC1_1_U712_REG_SM.STATE_COUNTER_3_REP_LUT4_0, U712_REG_SM.STATE_COUNTER[3] }
ble_pack U712_REG_SM.REG_TACK_RNO_1_LC_9_14_6 { U712_REG_SM.REG_TACK_RNO_1 }
ble_pack U712_REG_SM.REG_TACK_LC_9_14_7 { U712_REG_SM.REG_TACK_RNO, U712_REG_SM.REG_TACK }
clb_pack LT_9_14 { U712_REG_SM.STATE_COUNTER_RNO_2_0_LC_9_14_0, U712_REG_SM.STATE_COUNTER_5_LC_9_14_1, U712_REG_SM.STATE_COUNTER_4_LC_9_14_2, U712_REG_SM.STATE_COUNTER_6_LC_9_14_3, U712_REG_SM.STATE_COUNTER_3_LC_9_14_4, U712_REG_SM.REG_TACK_RNO_1_LC_9_14_6, U712_REG_SM.REG_TACK_LC_9_14_7 }
set_location LT_9_14 9 14
ble_pack U712_REG_SM.STATE_COUNTER_RNIFMLV_8_LC_9_15_0 { U712_REG_SM.STATE_COUNTER_RNIFMLV[8] }
ble_pack U712_REG_SM.REG_CPU_CYCLE_RNO_0_LC_9_15_1 { U712_REG_SM.REG_CPU_CYCLE_RNO_0 }
ble_pack U712_REG_SM.REG_CYCLE_RNO_0_LC_9_15_2 { U712_REG_SM.REG_CYCLE_RNO_0 }
ble_pack U712_REG_SM.DBR_SYNC_RNIVIGC1_1_LC_9_15_3 { U712_REG_SM.DBR_SYNC_RNIVIGC1[1] }
ble_pack U712_REG_SM.REG_TACK_RNO_0_LC_9_15_5 { U712_REG_SM.REG_TACK_RNO_0 }
ble_pack U712_BUFFERS.LATCH_CLK_0_i_LC_9_15_7 { U712_BUFFERS.LATCH_CLK_0_i }
clb_pack LT_9_15 { U712_REG_SM.STATE_COUNTER_RNIFMLV_8_LC_9_15_0, U712_REG_SM.REG_CPU_CYCLE_RNO_0_LC_9_15_1, U712_REG_SM.REG_CYCLE_RNO_0_LC_9_15_2, U712_REG_SM.DBR_SYNC_RNIVIGC1_1_LC_9_15_3, U712_REG_SM.REG_TACK_RNO_0_LC_9_15_5, U712_BUFFERS.LATCH_CLK_0_i_LC_9_15_7 }
set_location LT_9_15 9 15
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_6_LC_10_7_1 { U712_CHIP_RAM.CMA_esr_RNO_1[6] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_6_LC_10_7_2 { U712_CHIP_RAM.CMA_esr_RNO_0[6] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_4_LC_10_7_3 { U712_CHIP_RAM.CMA_esr_RNO_1[4] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_7_LC_10_7_6 { U712_CHIP_RAM.CMA_esr_RNO_1[7] }
clb_pack LT_10_7 { U712_CHIP_RAM.CMA_esr_RNO_1_6_LC_10_7_1, U712_CHIP_RAM.CMA_esr_RNO_0_6_LC_10_7_2, U712_CHIP_RAM.CMA_esr_RNO_1_4_LC_10_7_3, U712_CHIP_RAM.CMA_esr_RNO_1_7_LC_10_7_6 }
set_location LT_10_7 10 7
ble_pack U712_CHIP_RAM.CMA_esr_RNO_2_5_LC_10_8_4 { U712_CHIP_RAM.CMA_esr_RNO_2[5] }
ble_pack U712_CHIP_RAM.CMA_esr_5_LC_10_8_5 { U712_CHIP_RAM.CMA_esr_RNO[5], U712_CHIP_RAM.CMA_esr[5] }
ble_pack U712_CHIP_RAM.CMA_esr_1_LC_10_8_7 { U712_CHIP_RAM.CMA_esr_RNO[1], U712_CHIP_RAM.CMA_esr[1] }
clb_pack LT_10_8 { U712_CHIP_RAM.CMA_esr_RNO_2_5_LC_10_8_4, U712_CHIP_RAM.CMA_esr_5_LC_10_8_5, U712_CHIP_RAM.CMA_esr_1_LC_10_8_7 }
set_location LT_10_8 10 8
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNI0AO81_3_LC_10_9_0 { U712_CHIP_RAM.SDRAM_CMD_RNI0AO81[3] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_2_LC_10_9_3 { U712_CHIP_RAM.CMA_esr_RNO_1[2] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNI4VDC_0_LC_10_9_4 { U712_CHIP_RAM.SDRAM_CMD_RNI4VDC[0] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_5_LC_10_9_5 { U712_CHIP_RAM.CMA_esr_RNO_1[5] }
clb_pack LT_10_9 { U712_CHIP_RAM.SDRAM_CMD_RNI0AO81_3_LC_10_9_0, U712_CHIP_RAM.CMA_esr_RNO_1_2_LC_10_9_3, U712_CHIP_RAM.SDRAM_CMD_RNI4VDC_0_LC_10_9_4, U712_CHIP_RAM.CMA_esr_RNO_1_5_LC_10_9_5 }
set_location LT_10_9 10 9
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_1_0_LC_10_10_0 { U712_CHIP_RAM.SDRAM_CMD_RNO_1[0] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_2_LC_10_10_1 { U712_CHIP_RAM.SDRAM_CMD_RNO[2], U712_CHIP_RAM.SDRAM_CMD[2] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_0_1_LC_10_10_3 { U712_CHIP_RAM.SDRAM_CMD_RNO_0[1] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_1_LC_10_10_4 { U712_CHIP_RAM.SDRAM_CMD_RNO[1], U712_CHIP_RAM.SDRAM_CMD[1] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_0_LC_10_10_5 { U712_CHIP_RAM.SDRAM_CMD_RNO[0], U712_CHIP_RAM.SDRAM_CMD[0] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIVGRT_3_LC_10_10_6 { U712_CHIP_RAM.SDRAM_COUNTER_RNIVGRT[3] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_2_0_LC_10_10_7 { U712_CHIP_RAM.SDRAM_CMD_RNO_2[0] }
clb_pack LT_10_10 { U712_CHIP_RAM.SDRAM_CMD_RNO_1_0_LC_10_10_0, U712_CHIP_RAM.SDRAM_CMD_2_LC_10_10_1, U712_CHIP_RAM.SDRAM_CMD_RNO_0_1_LC_10_10_3, U712_CHIP_RAM.SDRAM_CMD_1_LC_10_10_4, U712_CHIP_RAM.SDRAM_CMD_0_LC_10_10_5, U712_CHIP_RAM.SDRAM_COUNTER_RNIVGRT_3_LC_10_10_6, U712_CHIP_RAM.SDRAM_CMD_RNO_2_0_LC_10_10_7 }
set_location LT_10_10 10 10
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_0_3_LC_10_11_0 { U712_CHIP_RAM.SDRAM_CMD_RNO_0[3] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_3_LC_10_11_1 { U712_CHIP_RAM.SDRAM_CMD_RNO[3], U712_CHIP_RAM.SDRAM_CMD[3] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI3IG83_0_LC_10_11_2 { U712_CHIP_RAM.SDRAM_COUNTER_RNI3IG83[0] }
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_RNI15FJ4_LC_10_11_3 { U712_CHIP_RAM.DMA_CYCLE_START_RNI15FJ4 }
ble_pack U712_CHIP_RAM.CPU_CYCLE_START_RNIFMOI5_LC_10_11_4 { U712_CHIP_RAM.CPU_CYCLE_START_RNIFMOI5 }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNIFMOI5_LC_10_11_5 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNIFMOI5 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNILDP34_4_LC_10_11_6 { U712_CHIP_RAM.SDRAM_COUNTER_RNILDP34[4] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIVIFVC_4_LC_10_11_7 { U712_CHIP_RAM.SDRAM_COUNTER_RNIVIFVC[4] }
clb_pack LT_10_11 { U712_CHIP_RAM.SDRAM_CMD_RNO_0_3_LC_10_11_0, U712_CHIP_RAM.SDRAM_CMD_3_LC_10_11_1, U712_CHIP_RAM.SDRAM_COUNTER_RNI3IG83_0_LC_10_11_2, U712_CHIP_RAM.DMA_CYCLE_START_RNI15FJ4_LC_10_11_3, U712_CHIP_RAM.CPU_CYCLE_START_RNIFMOI5_LC_10_11_4, U712_CHIP_RAM.SDRAM_CONFIGURED_RNIFMOI5_LC_10_11_5, U712_CHIP_RAM.SDRAM_COUNTER_RNILDP34_4_LC_10_11_6, U712_CHIP_RAM.SDRAM_COUNTER_RNIVIFVC_4_LC_10_11_7 }
set_location LT_10_11 10 11
ble_pack U712_CHIP_RAM.CPU_CYCLE_START_RNIR9VE1_LC_10_12_1 { U712_CHIP_RAM.CPU_CYCLE_START_RNIR9VE1 }
ble_pack U712_CHIP_RAM.CPU_CYCLE_START_RNIURFN4_LC_10_12_2 { U712_CHIP_RAM.CPU_CYCLE_START_RNIURFN4 }
ble_pack U712_CHIP_RAM.BANK0_esr_RNO_2_LC_10_12_3 { U712_CHIP_RAM.BANK0_esr_RNO_2 }
ble_pack U712_CHIP_RAM.BANK0_esr_RNO_0_LC_10_12_4 { U712_CHIP_RAM.BANK0_esr_RNO_0 }
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_LC_10_12_5 { U712_CHIP_RAM.DMA_CYCLE_START_RNO, U712_CHIP_RAM.DMA_CYCLE_START }
ble_pack DBRn_ibuf_RNIBAB_LC_10_12_6 { DBRn_ibuf_RNIBAB }
ble_pack U712_CHIP_RAM.WRITE_CYCLE_RNO_0_LC_10_12_7 { U712_CHIP_RAM.WRITE_CYCLE_RNO_0 }
clb_pack LT_10_12 { U712_CHIP_RAM.CPU_CYCLE_START_RNIR9VE1_LC_10_12_1, U712_CHIP_RAM.CPU_CYCLE_START_RNIURFN4_LC_10_12_2, U712_CHIP_RAM.BANK0_esr_RNO_2_LC_10_12_3, U712_CHIP_RAM.BANK0_esr_RNO_0_LC_10_12_4, U712_CHIP_RAM.DMA_CYCLE_START_LC_10_12_5, DBRn_ibuf_RNIBAB_LC_10_12_6, U712_CHIP_RAM.WRITE_CYCLE_RNO_0_LC_10_12_7 }
set_location LT_10_12 10 12
ble_pack U712_CHIP_RAM.CLK_EN_LC_10_13_0 { U712_CHIP_RAM.CLK_EN_RNO, U712_CHIP_RAM.CLK_EN }
ble_pack U712_CHIP_RAM.CPU_CYCLE_START_LC_10_13_1 { U712_CHIP_RAM.CPU_CYCLE_START_RNO, U712_CHIP_RAM.CPU_CYCLE_START }
ble_pack DBR_SYNC_1_LC_10_13_2 { DBR_SYNC_1_THRU_LUT4_0, DBR_SYNC[1] }
ble_pack DBR_SYNC_0_LC_10_13_3 { DBR_SYNC_0_THRU_LUT4_0, DBR_SYNC[0] }
ble_pack U712_CHIP_RAM.LATCH_RAM_LC_10_13_4 { U712_CHIP_RAM.LATCH_RAM_RNO, U712_CHIP_RAM.LATCH_RAM }
clb_pack LT_10_13 { U712_CHIP_RAM.CLK_EN_LC_10_13_0, U712_CHIP_RAM.CPU_CYCLE_START_LC_10_13_1, DBR_SYNC_1_LC_10_13_2, DBR_SYNC_0_LC_10_13_3, U712_CHIP_RAM.LATCH_RAM_LC_10_13_4 }
set_location LT_10_13 10 13
ble_pack U712_REG_SM.STATE_COUNTER_2_LC_10_14_2 { U712_REG_SM.STATE_COUNTER_RNO[2], U712_REG_SM.STATE_COUNTER[2] }
ble_pack U712_REG_SM.DBR_SYNC_1_LC_10_14_3 { U712_REG_SM.DBR_SYNC_1_THRU_LUT4_0, U712_REG_SM.DBR_SYNC[1] }
ble_pack U712_REG_SM.DBR_SYNC_0_LC_10_14_5 { U712_REG_SM.DBR_SYNC_0_THRU_LUT4_0, U712_REG_SM.DBR_SYNC[0] }
clb_pack LT_10_14 { U712_REG_SM.STATE_COUNTER_2_LC_10_14_2, U712_REG_SM.DBR_SYNC_1_LC_10_14_3, U712_REG_SM.DBR_SYNC_0_LC_10_14_5 }
set_location LT_10_14 10 14
ble_pack U712_BUFFERS.DMA_LATCH_EN_1_i_m2_i_m2_LC_10_16_6 { U712_BUFFERS.DMA_LATCH_EN_1_i_m2_i_m2 }
clb_pack LT_10_16 { U712_BUFFERS.DMA_LATCH_EN_1_i_m2_i_m2_LC_10_16_6 }
set_location LT_10_16 10 16
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_3_LC_11_7_0 { U712_CHIP_RAM.CMA_esr_RNO_1[3] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_3_LC_11_7_1 { U712_CHIP_RAM.CMA_esr_RNO_0[3] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_4_LC_11_7_4 { U712_CHIP_RAM.CMA_esr_RNO_0[4] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_7_LC_11_7_7 { U712_CHIP_RAM.CMA_esr_RNO_0[7] }
clb_pack LT_11_7 { U712_CHIP_RAM.CMA_esr_RNO_1_3_LC_11_7_0, U712_CHIP_RAM.CMA_esr_RNO_0_3_LC_11_7_1, U712_CHIP_RAM.CMA_esr_RNO_0_4_LC_11_7_4, U712_CHIP_RAM.CMA_esr_RNO_0_7_LC_11_7_7 }
set_location LT_11_7 11 7
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNIMUKI_0_LC_11_8_1 { U712_CHIP_RAM.SDRAM_CMD_RNIMUKI[0] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_1_LC_11_8_2 { U712_CHIP_RAM.CMA_esr_RNO_1[1] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_2_LC_11_8_6 { U712_CHIP_RAM.CMA_esr_RNO_0[2] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_2_1_LC_11_8_7 { U712_CHIP_RAM.CMA_esr_RNO_2[1] }
clb_pack LT_11_8 { U712_CHIP_RAM.SDRAM_CMD_RNIMUKI_0_LC_11_8_1, U712_CHIP_RAM.CMA_esr_RNO_1_1_LC_11_8_2, U712_CHIP_RAM.CMA_esr_RNO_0_2_LC_11_8_6, U712_CHIP_RAM.CMA_esr_RNO_2_1_LC_11_8_7 }
set_location LT_11_8 11 8
ble_pack U712_CHIP_RAM.DBENn_LC_11_9_0 { U712_CHIP_RAM.DBENn_RNO, U712_CHIP_RAM.DBENn }
ble_pack U712_CHIP_RAM.DBDIR_LC_11_9_1 { U712_CHIP_RAM.DBDIR_RNO, U712_CHIP_RAM.DBDIR }
clb_pack LT_11_9 { U712_CHIP_RAM.DBENn_LC_11_9_0, U712_CHIP_RAM.DBDIR_LC_11_9_1 }
set_location LT_11_9 11 9
ble_pack U712_CHIP_RAM.REFRESH_LC_11_10_0 { U712_CHIP_RAM.REFRESH_RNO, U712_CHIP_RAM.REFRESH }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNIKCP34_LC_11_10_2 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNIKCP34 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI4TF5A_4_LC_11_10_3 { U712_CHIP_RAM.SDRAM_COUNTER_RNI4TF5A[4] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI8SVVB_3_LC_11_10_6 { U712_CHIP_RAM.SDRAM_COUNTER_RNI8SVVB[3] }
clb_pack LT_11_10 { U712_CHIP_RAM.REFRESH_LC_11_10_0, U712_CHIP_RAM.SDRAM_CONFIGURED_RNIKCP34_LC_11_10_2, U712_CHIP_RAM.SDRAM_COUNTER_RNI4TF5A_4_LC_11_10_3, U712_CHIP_RAM.SDRAM_COUNTER_RNI8SVVB_3_LC_11_10_6 }
set_location LT_11_10 11 10
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNO_1_0_LC_11_11_0 { U712_CHIP_RAM.SDRAM_COUNTER_RNO_1[0], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[0] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_1_LC_11_11_1 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[1], U712_CHIP_RAM.SDRAM_COUNTER[1], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[1] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_2_LC_11_11_2 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[2], U712_CHIP_RAM.SDRAM_COUNTER[2], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[2] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_3_LC_11_11_3 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[3], U712_CHIP_RAM.SDRAM_COUNTER[3], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[3] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_4_LC_11_11_4 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[4], U712_CHIP_RAM.SDRAM_COUNTER[4], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[4] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_5_LC_11_11_5 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[5], U712_CHIP_RAM.SDRAM_COUNTER[5], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[5] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_6_LC_11_11_6 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[6], U712_CHIP_RAM.SDRAM_COUNTER[6], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[6] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_7_LC_11_11_7 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[7], U712_CHIP_RAM.SDRAM_COUNTER[7] }
clb_pack LT_11_11 { U712_CHIP_RAM.SDRAM_COUNTER_RNO_1_0_LC_11_11_0, U712_CHIP_RAM.SDRAM_COUNTER_1_LC_11_11_1, U712_CHIP_RAM.SDRAM_COUNTER_2_LC_11_11_2, U712_CHIP_RAM.SDRAM_COUNTER_3_LC_11_11_3, U712_CHIP_RAM.SDRAM_COUNTER_4_LC_11_11_4, U712_CHIP_RAM.SDRAM_COUNTER_5_LC_11_11_5, U712_CHIP_RAM.SDRAM_COUNTER_6_LC_11_11_6, U712_CHIP_RAM.SDRAM_COUNTER_7_LC_11_11_7 }
set_location LT_11_11 11 11
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI41LA2_0_0_LC_11_12_0 { U712_CHIP_RAM.SDRAM_COUNTER_RNI41LA2_0[0] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_1_1_LC_11_12_1 { U712_CHIP_RAM.SDRAM_CMD_RNO_1[1] }
ble_pack U712_CHIP_RAM.CPU_TACK_RNO_1_LC_11_12_2 { U712_CHIP_RAM.CPU_TACK_RNO_1 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI9KPC1_7_LC_11_12_3 { U712_CHIP_RAM.SDRAM_COUNTER_RNI9KPC1[7] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI3PIP2_0_LC_11_12_4 { U712_CHIP_RAM.SDRAM_COUNTER_RNI3PIP2[0] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI41LA2_0_LC_11_12_5 { U712_CHIP_RAM.SDRAM_COUNTER_RNI41LA2[0] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI6B326_2_LC_11_12_6 { U712_CHIP_RAM.SDRAM_COUNTER_RNI6B326[2] }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNI5T4O8_LC_11_12_7 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNI5T4O8 }
clb_pack LT_11_12 { U712_CHIP_RAM.SDRAM_COUNTER_RNI41LA2_0_0_LC_11_12_0, U712_CHIP_RAM.SDRAM_CMD_RNO_1_1_LC_11_12_1, U712_CHIP_RAM.CPU_TACK_RNO_1_LC_11_12_2, U712_CHIP_RAM.SDRAM_COUNTER_RNI9KPC1_7_LC_11_12_3, U712_CHIP_RAM.SDRAM_COUNTER_RNI3PIP2_0_LC_11_12_4, U712_CHIP_RAM.SDRAM_COUNTER_RNI41LA2_0_LC_11_12_5, U712_CHIP_RAM.SDRAM_COUNTER_RNI6B326_2_LC_11_12_6, U712_CHIP_RAM.SDRAM_CONFIGURED_RNI5T4O8_LC_11_12_7 }
set_location LT_11_12 11 12
ble_pack U712_CHIP_RAM.BANK0_esr_RNO_3_LC_11_13_0 { U712_CHIP_RAM.BANK0_esr_RNO_3 }
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_RNI892R_LC_11_13_1 { U712_CHIP_RAM.DMA_CYCLE_START_RNI892R }
ble_pack U712_CHIP_RAM.DMA_CYCLE_esr_RNI4LVP1_LC_11_13_2 { U712_CHIP_RAM.DMA_CYCLE_esr_RNI4LVP1 }
ble_pack U712_CHIP_RAM.DMA_CYCLE_esr_RNIFGIT5_LC_11_13_3 { U712_CHIP_RAM.DMA_CYCLE_esr_RNIFGIT5 }
ble_pack U712_CHIP_RAM.WRITE_CYCLE_RNI7SS3A_LC_11_13_4 { U712_CHIP_RAM.WRITE_CYCLE_RNI7SS3A }
ble_pack U712_CHIP_RAM.DMA_CYCLE_esr_RNO_LC_11_13_5 { U712_CHIP_RAM.DMA_CYCLE_esr_RNO }
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_RNISH5V3_LC_11_13_6 { U712_CHIP_RAM.CPU_CYCLE_esr_RNISH5V3 }
ble_pack U712_CHIP_RAM.CPU_TACK_RNO_0_LC_11_13_7 { U712_CHIP_RAM.CPU_TACK_RNO_0 }
clb_pack LT_11_13 { U712_CHIP_RAM.BANK0_esr_RNO_3_LC_11_13_0, U712_CHIP_RAM.DMA_CYCLE_START_RNI892R_LC_11_13_1, U712_CHIP_RAM.DMA_CYCLE_esr_RNI4LVP1_LC_11_13_2, U712_CHIP_RAM.DMA_CYCLE_esr_RNIFGIT5_LC_11_13_3, U712_CHIP_RAM.WRITE_CYCLE_RNI7SS3A_LC_11_13_4, U712_CHIP_RAM.DMA_CYCLE_esr_RNO_LC_11_13_5, U712_CHIP_RAM.CPU_CYCLE_esr_RNISH5V3_LC_11_13_6, U712_CHIP_RAM.CPU_TACK_RNO_0_LC_11_13_7 }
set_location LT_11_13 11 13
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_RNO_0_LC_11_15_4 { U712_CHIP_RAM.DMA_CYCLE_START_RNO_0 }
clb_pack LT_11_15 { U712_CHIP_RAM.DMA_CYCLE_START_RNO_0_LC_11_15_4 }
set_location LT_11_15 11 15
ble_pack CONSTANT_ONE_LUT4_LC_12_1_3 { CONSTANT_ONE_LUT4 }
clb_pack LT_12_1 { CONSTANT_ONE_LUT4_LC_12_1_3 }
set_location LT_12_1 12 1
ble_pack U712_CHIP_RAM.CMA_esr_7_LC_12_7_0 { U712_CHIP_RAM.CMA_esr_RNO[7], U712_CHIP_RAM.CMA_esr[7] }
ble_pack U712_CHIP_RAM.CMA_esr_4_LC_12_7_1 { U712_CHIP_RAM.CMA_esr_RNO[4], U712_CHIP_RAM.CMA_esr[4] }
ble_pack U712_CHIP_RAM.CMA_esr_3_LC_12_7_3 { U712_CHIP_RAM.CMA_esr_RNO[3], U712_CHIP_RAM.CMA_esr[3] }
ble_pack U712_CHIP_RAM.CMA_esr_6_LC_12_7_4 { U712_CHIP_RAM.CMA_esr_RNO[6], U712_CHIP_RAM.CMA_esr[6] }
ble_pack U712_CHIP_RAM.CMA_esr_9_LC_12_7_5 { U712_CHIP_RAM.CMA_esr_RNO[9], U712_CHIP_RAM.CMA_esr[9] }
clb_pack LT_12_7 { U712_CHIP_RAM.CMA_esr_7_LC_12_7_0, U712_CHIP_RAM.CMA_esr_4_LC_12_7_1, U712_CHIP_RAM.CMA_esr_3_LC_12_7_3, U712_CHIP_RAM.CMA_esr_6_LC_12_7_4, U712_CHIP_RAM.CMA_esr_9_LC_12_7_5 }
set_location LT_12_7 12 7
ble_pack U712_CHIP_RAM.CMA_esr_2_LC_12_8_2 { U712_CHIP_RAM.CMA_esr_RNO[2], U712_CHIP_RAM.CMA_esr[2] }
clb_pack LT_12_8 { U712_CHIP_RAM.CMA_esr_2_LC_12_8_2 }
set_location LT_12_8 12 8
ble_pack U712_BYTE_ENABLE.N_46_i_LC_12_9_0 { U712_BYTE_ENABLE.N_46_i }
ble_pack U712_BYTE_ENABLE.UUBE_0_a2_0_a2_LC_12_9_1 { U712_BYTE_ENABLE.UUBE_0_a2_0_a2 }
ble_pack U712_BYTE_ENABLE.N_48_i_LC_12_9_2 { U712_BYTE_ENABLE.N_48_i }
ble_pack U712_BYTE_ENABLE.N_49_i_LC_12_9_3 { U712_BYTE_ENABLE.N_49_i }
ble_pack U712_BYTE_ENABLE.UMBE_0_i_o3_LC_12_9_4 { U712_BYTE_ENABLE.UMBE_0_i_o3 }
ble_pack U712_BYTE_ENABLE.un1_CUMBEn_i_0_a3_0_0_LC_12_9_7 { U712_BYTE_ENABLE.un1_CUMBEn_i_0_a3_0_0 }
clb_pack LT_12_9 { U712_BYTE_ENABLE.N_46_i_LC_12_9_0, U712_BYTE_ENABLE.UUBE_0_a2_0_a2_LC_12_9_1, U712_BYTE_ENABLE.N_48_i_LC_12_9_2, U712_BYTE_ENABLE.N_49_i_LC_12_9_3, U712_BYTE_ENABLE.UMBE_0_i_o3_LC_12_9_4, U712_BYTE_ENABLE.un1_CUMBEn_i_0_a3_0_0_LC_12_9_7 }
set_location LT_12_9 12 9
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIHC4P1_2_LC_12_10_0 { U712_CHIP_RAM.SDRAM_COUNTER_RNIHC4P1[2] }
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_RNIHMEA_LC_12_10_2 { U712_CHIP_RAM.CPU_CYCLE_esr_RNIHMEA }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIPORK3_1_LC_12_10_6 { U712_CHIP_RAM.SDRAM_COUNTER_RNIPORK3[1] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIE6LO7_1_LC_12_10_7 { U712_CHIP_RAM.SDRAM_COUNTER_RNIE6LO7[1] }
clb_pack LT_12_10 { U712_CHIP_RAM.SDRAM_COUNTER_RNIHC4P1_2_LC_12_10_0, U712_CHIP_RAM.CPU_CYCLE_esr_RNIHMEA_LC_12_10_2, U712_CHIP_RAM.SDRAM_COUNTER_RNIPORK3_1_LC_12_10_6, U712_CHIP_RAM.SDRAM_COUNTER_RNIE6LO7_1_LC_12_10_7 }
set_location LT_12_10 12 10
ble_pack U712_CHIP_RAM.WRITE_CYCLE_LC_12_11_1 { U712_CHIP_RAM.WRITE_CYCLE_RNO, U712_CHIP_RAM.WRITE_CYCLE }
ble_pack U712_CHIP_RAM.DMA_CYCLE_esr_RNI8ALV_LC_12_11_2 { U712_CHIP_RAM.DMA_CYCLE_esr_RNI8ALV }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI8MK44_4_LC_12_11_3 { U712_CHIP_RAM.SDRAM_COUNTER_RNI8MK44[4] }
ble_pack U712_CHIP_RAM.WRITE_CYCLE_RNIUHSBF_LC_12_11_4 { U712_CHIP_RAM.WRITE_CYCLE_RNIUHSBF }
ble_pack U712_CHIP_RAM.WRITE_CYCLE_RNITVQE7_LC_12_11_5 { U712_CHIP_RAM.WRITE_CYCLE_RNITVQE7 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI1JRT_3_LC_12_11_6 { U712_CHIP_RAM.SDRAM_COUNTER_RNI1JRT[3] }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_LC_12_11_7 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNO, U712_CHIP_RAM.SDRAM_CONFIGURED }
clb_pack LT_12_11 { U712_CHIP_RAM.WRITE_CYCLE_LC_12_11_1, U712_CHIP_RAM.DMA_CYCLE_esr_RNI8ALV_LC_12_11_2, U712_CHIP_RAM.SDRAM_COUNTER_RNI8MK44_4_LC_12_11_3, U712_CHIP_RAM.WRITE_CYCLE_RNIUHSBF_LC_12_11_4, U712_CHIP_RAM.WRITE_CYCLE_RNITVQE7_LC_12_11_5, U712_CHIP_RAM.SDRAM_COUNTER_RNI1JRT_3_LC_12_11_6, U712_CHIP_RAM.SDRAM_CONFIGURED_LC_12_11_7 }
set_location LT_12_11 12 11
ble_pack U712_CHIP_RAM.WRITE_CYCLE_RNIO6DI_LC_12_12_0 { U712_CHIP_RAM.WRITE_CYCLE_RNIO6DI }
ble_pack U712_CHIP_RAM.CPU_TACK_RNO_3_LC_12_12_1 { U712_CHIP_RAM.CPU_TACK_RNO_3 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIS3891_3_LC_12_12_3 { U712_CHIP_RAM.SDRAM_COUNTER_RNIS3891[3] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI05TJ3_0_LC_12_12_4 { U712_CHIP_RAM.SDRAM_COUNTER_RNI05TJ3[0] }
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_RNO_1_LC_12_12_5 { U712_CHIP_RAM.CPU_CYCLE_esr_RNO_1 }
ble_pack U712_CHIP_RAM.CPU_TACK_RNO_2_LC_12_12_6 { U712_CHIP_RAM.CPU_TACK_RNO_2 }
ble_pack U712_CHIP_RAM.CPU_TACK_LC_12_12_7 { U712_CHIP_RAM.CPU_TACK_RNO, U712_CHIP_RAM.CPU_TACK }
clb_pack LT_12_12 { U712_CHIP_RAM.WRITE_CYCLE_RNIO6DI_LC_12_12_0, U712_CHIP_RAM.CPU_TACK_RNO_3_LC_12_12_1, U712_CHIP_RAM.SDRAM_COUNTER_RNIS3891_3_LC_12_12_3, U712_CHIP_RAM.SDRAM_COUNTER_RNI05TJ3_0_LC_12_12_4, U712_CHIP_RAM.CPU_CYCLE_esr_RNO_1_LC_12_12_5, U712_CHIP_RAM.CPU_TACK_RNO_2_LC_12_12_6, U712_CHIP_RAM.CPU_TACK_LC_12_12_7 }
set_location LT_12_12 12 12
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIQTMR1_3_LC_12_13_0 { U712_CHIP_RAM.SDRAM_COUNTER_RNIQTMR1[3] }
ble_pack U712_CYCLE_TERM.TACK_EN_i_ess_RNO_2_LC_12_13_1 { U712_CYCLE_TERM.TACK_EN_i_ess_RNO_2 }
ble_pack U712_CYCLE_TERM.TACK_EN_i_ess_RNO_1_LC_12_13_2 { U712_CYCLE_TERM.TACK_EN_i_ess_RNO_1 }
ble_pack U712_CYCLE_TERM.TACK_EN_i_ess_RNO_0_LC_12_13_3 { U712_CYCLE_TERM.TACK_EN_i_ess_RNO_0 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_0_LC_12_13_4 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[0], U712_CHIP_RAM.SDRAM_COUNTER[0] }
ble_pack RESETn_ibuf_RNIM9SF_LC_12_13_5 { RESETn_ibuf_RNIM9SF }
ble_pack U712_CYCLE_TERM.TACK_STATE_RNO_0_1_LC_12_13_6 { U712_CYCLE_TERM.TACK_STATE_RNO_0[1] }
clb_pack LT_12_13 { U712_CHIP_RAM.SDRAM_COUNTER_RNIQTMR1_3_LC_12_13_0, U712_CYCLE_TERM.TACK_EN_i_ess_RNO_2_LC_12_13_1, U712_CYCLE_TERM.TACK_EN_i_ess_RNO_1_LC_12_13_2, U712_CYCLE_TERM.TACK_EN_i_ess_RNO_0_LC_12_13_3, U712_CHIP_RAM.SDRAM_COUNTER_0_LC_12_13_4, RESETn_ibuf_RNIM9SF_LC_12_13_5, U712_CYCLE_TERM.TACK_STATE_RNO_0_1_LC_12_13_6 }
set_location LT_12_13 12 13
ble_pack U712_CYCLE_TERM.TACK_STATE_2_LC_12_14_1 { U712_CYCLE_TERM.TACK_STATE_RNO[2], U712_CYCLE_TERM.TACK_STATE[2] }
ble_pack U712_CYCLE_TERM.TACK_STATE_1_LC_12_14_5 { U712_CYCLE_TERM.TACK_STATE_RNO[1], U712_CYCLE_TERM.TACK_STATE[1] }
clb_pack LT_12_14 { U712_CYCLE_TERM.TACK_STATE_2_LC_12_14_1, U712_CYCLE_TERM.TACK_STATE_1_LC_12_14_5 }
set_location LT_12_14 12 14
ble_pack U712_CHIP_RAM.CAS_SYNC_1_LC_12_15_4 { U712_CHIP_RAM.CAS_SYNC_1_THRU_LUT4_0, U712_CHIP_RAM.CAS_SYNC[1] }
ble_pack U712_CHIP_RAM.CAS_SYNC_0_LC_12_15_7 { U712_CHIP_RAM.CAS_SYNC_RNO[0], U712_CHIP_RAM.CAS_SYNC[0] }
clb_pack LT_12_15 { U712_CHIP_RAM.CAS_SYNC_1_LC_12_15_4, U712_CHIP_RAM.CAS_SYNC_0_LC_12_15_7 }
set_location LT_12_15 12 15
ble_pack U712_BUFFERS.un1_DRDENn_0_a2_0_a3_LC_12_16_1 { U712_BUFFERS.un1_DRDENn_0_a2_0_a3 }
clb_pack LT_12_16 { U712_BUFFERS.un1_DRDENn_0_a2_0_a3_LC_12_16_1 }
set_location LT_12_16 12 16
ble_pack CLK40_PLL_derived_clock_RNIIOT_0_LC_12_20_2 { CLK40_PLL_derived_clock_RNIIOT_0 }
ble_pack U712_BYTE_ENABLE.UUBE_i_LC_12_20_7 { U712_BYTE_ENABLE.UUBE_i }
clb_pack LT_12_20 { CLK40_PLL_derived_clock_RNIIOT_0_LC_12_20_2, U712_BYTE_ENABLE.UUBE_i_LC_12_20_7 }
set_location LT_12_20 12 20
ble_pack U712_CHIP_RAM.CMA_esr_8_LC_13_6_5 { U712_CHIP_RAM.CMA_esr_RNO[8], U712_CHIP_RAM.CMA_esr[8] }
clb_pack LT_13_6 { U712_CHIP_RAM.CMA_esr_8_LC_13_6_5 }
set_location LT_13_6 13 6
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_4_LC_13_7_2 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2[4], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[4] }
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_3_LC_13_7_7 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[3], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[3] }
clb_pack LT_13_7 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_4_LC_13_7_2, U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_3_LC_13_7_7 }
set_location LT_13_7 13 7
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_3_LC_13_8_0 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_4_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_3_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[3] }
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_4_LC_13_8_1 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_5_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_4_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[4] }
clb_pack LT_13_8 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_3_LC_13_8_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_4_LC_13_8_1 }
set_location LT_13_8 13 8
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_2_LC_13_9_4 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[2], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[2] }
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_6_LC_13_9_7 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2[6], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[6] }
clb_pack LT_13_9 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_2_LC_13_9_4, U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_6_LC_13_9_7 }
set_location LT_13_9 13 9
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_2_LC_13_10_2 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_3_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_2_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[2] }
clb_pack LT_13_10 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_2_LC_13_10_2 }
set_location LT_13_10 13 10
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_1_LC_13_11_5 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_2_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_1_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[1] }
clb_pack LT_13_11 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_1_LC_13_11_5 }
set_location LT_13_11 13 11
ble_pack U712_BYTE_ENABLE.N_276_i_LC_13_20_1 { U712_BYTE_ENABLE.N_276_i }
ble_pack U712_BYTE_ENABLE.N_278_i_LC_13_20_2 { U712_BYTE_ENABLE.N_278_i }
ble_pack U712_BYTE_ENABLE.N_277_i_LC_13_20_5 { U712_BYTE_ENABLE.N_277_i }
clb_pack LT_13_20 { U712_BYTE_ENABLE.N_276_i_LC_13_20_1, U712_BYTE_ENABLE.N_278_i_LC_13_20_2, U712_BYTE_ENABLE.N_277_i_LC_13_20_5 }
set_location LT_13_20 13 20
ble_pack U712_CHIP_RAM.CRCSn_LC_14_4_4 { U712_CHIP_RAM.CRCSn_THRU_LUT4_0, U712_CHIP_RAM.CRCSn }
ble_pack U712_CHIP_RAM.RASn_LC_14_4_5 { U712_CHIP_RAM.RASn_THRU_LUT4_0, U712_CHIP_RAM.RASn }
clb_pack LT_14_4 { U712_CHIP_RAM.CRCSn_LC_14_4_4, U712_CHIP_RAM.RASn_LC_14_4_5 }
set_location LT_14_4 14 4
ble_pack U712_CHIP_RAM.CASn_LC_14_5_3 { U712_CHIP_RAM.CASn_THRU_LUT4_0, U712_CHIP_RAM.CASn }
ble_pack U712_CHIP_RAM.WEn_LC_14_5_4 { U712_CHIP_RAM.WEn_THRU_LUT4_0, U712_CHIP_RAM.WEn }
clb_pack LT_14_5 { U712_CHIP_RAM.CASn_LC_14_5_3, U712_CHIP_RAM.WEn_LC_14_5_4 }
set_location LT_14_5 14 5
ble_pack U712_CHIP_RAM.CMA_esr_10_LC_14_7_1 { U712_CHIP_RAM.CMA_esr_RNO[10], U712_CHIP_RAM.CMA_esr[10] }
clb_pack LT_14_7 { U712_CHIP_RAM.CMA_esr_10_LC_14_7_1 }
set_location LT_14_7 14 7
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_7_LC_14_8_1 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2[7], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[7] }
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_5_LC_14_8_3 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2[5], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[5] }
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_9_LC_14_8_7 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_RNO[9], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[9] }
clb_pack LT_14_8 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_7_LC_14_8_1, U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_5_LC_14_8_3, U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_9_LC_14_8_7 }
set_location LT_14_8 14 8
ble_pack U712_CHIP_RAM.CMA_esr_0_LC_14_9_5 { U712_CHIP_RAM.CMA_esr_RNO[0], U712_CHIP_RAM.CMA_esr[0] }
clb_pack LT_14_9 { U712_CHIP_RAM.CMA_esr_0_LC_14_9_5 }
set_location LT_14_9 14 9
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_0_LC_14_10_0 { U712_CHIP_RAM.CMA_esr_RNO_1[0] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_0_LC_14_10_1 { U712_CHIP_RAM.CMA_esr_RNO_0[0] }
clb_pack LT_14_10 { U712_CHIP_RAM.CMA_esr_RNO_1_0_LC_14_10_0, U712_CHIP_RAM.CMA_esr_RNO_0_0_LC_14_10_1 }
set_location LT_14_10 14 10
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_5_LC_14_11_0 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_6_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_5_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[5] }
clb_pack LT_14_11 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_5_LC_14_11_0 }
set_location LT_14_11 14 11
ble_pack U712_CHIP_RAM.DMA_A20_LC_14_12_2 { U712_CHIP_RAM.DMA_A20_RNO, U712_CHIP_RAM.DMA_A20 }
clb_pack LT_14_12 { U712_CHIP_RAM.DMA_A20_LC_14_12_2 }
set_location LT_14_12 14 12
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_8_LC_15_7_3 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2[8], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[8] }
clb_pack LT_15_7 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_8_LC_15_7_3 }
set_location LT_15_7 15 7
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_7_LC_15_8_7 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_8_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_7_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[7] }
clb_pack LT_15_8 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_7_LC_15_8_7 }
set_location LT_15_8 15 8
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_6_LC_15_9_1 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_7_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_6_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[6] }
ble_pack U712_CHIP_RAM.DMA_A1_nesr_LC_15_9_5 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_0_U712_CHIP_RAM.DMA_A1_nesr_REP_LUT4_0, U712_CHIP_RAM.DMA_A1_nesr }
clb_pack LT_15_9 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_6_LC_15_9_1, U712_CHIP_RAM.DMA_A1_nesr_LC_15_9_5 }
set_location LT_15_9 15 9
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_0_LC_15_10_1 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_1_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_0_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[0] }
clb_pack LT_15_10 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_0_LC_15_10_1 }
set_location LT_15_10 15 10
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_1_LC_15_11_1 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[1], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[1] }
clb_pack LT_15_11 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_1_LC_15_11_1 }
set_location LT_15_11 15 11
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_0_LC_16_9_1 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[0], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[0] }
clb_pack LT_16_9 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_0_LC_16_9_1 }
set_location LT_16_9 16 9
set_location CLK40_PLL_derived_clock_RNIIOT 25 11
set_location RESETn_ibuf_RNIM9SF_0 12 21
set_location C1_ibuf_RNIPA2A 13 21
set_location DBRn_c_i_0_g_gb 0 11
set_location C3_ibuf_RNIRKME 25 10
set_io CMA[4] 78
set_io A[5] 16
set_io TSn 136
set_io LMBEn 122
set_io DRA[2] 99
set_io DMA_LATCH_EN 134
set_io A[13] 26
set_io CLMBEn 75
set_io AWEn 135
set_io RESETn 94
set_io CMA[1] 48
set_io CLK_EN 84
set_io CASn 62
set_io BANK0 52
set_io A[20] 11
set_io SIZ[0] 2
set_io DRA[7] 91
set_io CMA[8] 82
set_io A[1] 10
set_io CLK40B_OUT 112
set_io A[17] 32
set_io VBENn 44
set_io DRA[1] 101
set_io CUMBEn 74
set_io CLKRAM 38
set_io CLK40D_OUT 115
set_io C3 143
set_io ASn 116
set_io UUBEn 125
set_io LDSn 117
set_io LATCH_CLK 137
set_io DRA[8] 90
set_io CMA[5] 79
set_io CASUn 104
set_io A[6] 17
set_io A[15] 29
set_io DRDDIR 107
set_io DRA[3] 98
set_io DBDIR 43
set_io A[12] 25
set_io UDSn 118
set_io RnW 144
set_io DRDENn 110
set_io A[4] 15
set_io DBENn 42
set_io CMA[2] 47
set_io CMA[10] 56
set_io BANK1 49
set_io A[10] 23
set_io UMBEn 121
set_io RAS0n 87
set_io DRA[4] 97
set_io CMA[9] 83
set_io A[2] 8
set_io A[19] 34
set_io CUUBEn 85
set_io CRCSn 60
set_io CMA[0] 55
set_io CLLBEn 45
set_io CLK40C_OUT 21
set_io CASLn 105
set_io A[9] 22
set_io A[16] 31
set_io SIZ[1] 1
set_io RAMSPACEn 130
set_io DRA[6] 95
set_io A[0] 12
set_io WEn 73
set_io REGENn 141
set_io LLBEn 124
set_io DRA[9] 106
set_io DBRn 138
set_io CMA[6] 80
set_io A[7] 18
set_io A[14] 28
set_io DRA[0] 102
set_io CLK40_IN 20
set_io REGSPACEn 41
set_io CMA[3] 76
set_io RASn 61
set_io DRA[5] 96
set_io A[3] 9
set_io A[18] 33
set_io AGNUS_REV 114
set_io A[11] 24
set_io TACKn 7
set_io C1 142
set_io CMA[7] 81
set_io A[8] 19
