set_location IN_MUX_bfv_9_4_0_ 9 4 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_6_0_ 9 6 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 11 3 6 #SB_LUT4
set_location U712_REG_SM.STATE_COUNTER_6_THRU_LUT4_0 9 8 7 #SB_LUT4
set_location U712_REG_SM.STATE_COUNTER_5_THRU_LUT4_0 9 8 2 #SB_LUT4
set_location U712_REG_SM.STATE_COUNTER_4_THRU_LUT4_0 9 8 6 #SB_LUT4
set_location U712_REG_SM.DBR_SYNC_RNIVIGC1_1_U712_REG_SM.STATE_COUNTER_3_REP_LUT4_0 7 9 5 #SB_LUT4
set_location U712_REG_SM.DBR_SYNC_1_THRU_LUT4_0 7 10 4 #SB_LUT4
set_location U712_REG_SM.DBR_SYNC_0_THRU_LUT4_0 6 10 6 #SB_LUT4
set_location U712_REG_SM.C3_SYNC_1_THRU_LUT4_0 7 10 0 #SB_LUT4
set_location U712_REG_SM.C3_SYNC_0_THRU_LUT4_0 6 10 2 #SB_LUT4
set_location U712_REG_SM.C1_SYNC_1_THRU_LUT4_0 7 9 2 #SB_LUT4
set_location U712_REG_SM.C1_SYNC_0_THRU_LUT4_0 7 11 3 #SB_LUT4
set_location U712_CHIP_RAM.WEn_THRU_LUT4_0 15 3 2 #SB_LUT4
set_location U712_CHIP_RAM.RASn_THRU_LUT4_0 15 2 2 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_8_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_7_REP_LUT4_0 13 8 3 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_7_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_6_REP_LUT4_0 14 7 7 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_6_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_5_REP_LUT4_0 15 7 3 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_5_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_4_REP_LUT4_0 14 7 5 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_4_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_3_REP_LUT4_0 14 7 4 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_3_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_2_REP_LUT4_0 14 8 1 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_2_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_1_REP_LUT4_0 14 7 2 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_1_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_0_REP_LUT4_0 14 7 1 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_0_U712_CHIP_RAM.DMA_A1_nesr_REP_LUT4_0 14 9 2 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNIBRI34_U712_CHIP_RAM.DMA_CYCLE_esr_REP_LUT4_0 9 7 1 #SB_LUT4
set_location U712_CHIP_RAM.CRCSn_THRU_LUT4_0 15 1 4 #SB_LUT4
set_location U712_CHIP_RAM.CASn_THRU_LUT4_0 15 3 1 #SB_LUT4
set_location DBR_SYNC_1_THRU_LUT4_0 8 7 1 #SB_LUT4
set_location DBR_SYNC_0_THRU_LUT4_0 7 8 7 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[2] 9 4 2 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_2[5] 12 6 0 #SB_LUT4
set_location U712_CHIP_RAM.CPU_TACK 10 6 6 #SB_DFF
set_location U712_CHIP_RAM.CPU_CYCLE 7 5 7 #SB_DFFSR
set_location U712_CHIP_RAM.CMA_esr_RNO[5] 12 5 7 #SB_LUT4
set_location U712_REG_SM.LDSn_RNO_1 8 9 6 #SB_LUT4
set_location U712_REG_SM.C3_SYNC[0] 6 10 2 #SB_DFFNSR
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[6] 9 4 6 #SB_CARRY
set_location U712_REG_SM.STATE_COUNTER_RNO[1] 7 10 1 #SB_LUT4
set_location U712_REG_SM.STATE_COUNTER[4] 9 8 6 #SB_DFFNSR
set_location U712_CYCLE_TERM.TACK_EN_i_ess_RNO_0 11 10 6 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[5] 17 6 3 #SB_LUT4
set_location U712_CHIP_RAM.CRCSn 15 1 4 #SB_DFFSS
set_location U712_CYCLE_TERM.TACK_STATE_RNO_0[0] 11 9 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_3[1] 11 8 1 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[8] 15 6 0 #SB_DFFESR
set_location U712_REG_SM.UDSn_RNO_1 8 9 4 #SB_LUT4
set_location U712_CHIP_RAM.WRITE_CYCLE_RNO_1 7 6 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CONFIGURED 9 5 6 #SB_DFF
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNO_0 7 13 7 #SB_LUT4
set_location U712_BYTE_ENABLE.un1_CLMBEn_i_a3_0_0 12 9 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[2] 9 6 2 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_2[1] 9 7 7 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD[1] 11 7 6 #SB_DFFSS
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[9] 16 8 6 #SB_DFFESR
set_location U712_REG_SM.UDSn 9 9 1 #SB_DFFNSS
set_location U712_CYCLE_TERM.TACK_STATE_RNO[3] 11 8 5 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[4] 9 4 4 #SB_DFFR
set_location U712_CHIP_RAM.CLK_EN_RNO 10 10 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIJIDU3[4] 10 6 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_ess_RNO_0[3] 11 8 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_ess_RNIK9021[3] 11 8 6 #SB_LUT4
set_location U712_REG_SM.REG_CYCLE_START 7 10 7 #SB_DFFNSR
set_location U712_BYTE_ENABLE.N_222_i 12 6 5 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNO_0 11 10 4 #SB_LUT4
set_location U712_BUFFERS.DMA_LATCH_EN_1_i_m2 8 11 7 #SB_LUT4
set_location U712_REG_SM.STATE_COUNTER_RNO[2] 7 10 2 #SB_LUT4
set_location U712_REG_SM.STATE_COUNTER[1] 7 10 1 #SB_DFFNSR
set_location U712_REG_SM.REG_WRITE_CYCLE_RNO 9 9 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[0] 8 5 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNO 9 5 6 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[8] 15 8 3 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[1] 12 5 3 #SB_LUT4
set_location U712_REG_SM.DBR_SYNC[0] 6 10 6 #SB_DFFNSR
set_location U712_CHIP_RAM.WRITE_CYCLE 7 6 5 #SB_DFF
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIGGM16[4] 8 7 6 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[5] 9 4 5 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNIR9VE1 8 7 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[1] 9 6 1 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_CMD[2] 10 7 4 #SB_DFFSS
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[4] 14 6 4 #SB_DFFESR
set_location U712_CHIP_RAM.CMA_esr_RNO_0[3] 12 7 5 #SB_LUT4
set_location U712_CHIP_RAM.BANK0_esr_RNO_1 7 5 0 #SB_LUT4
set_location DBR_SYNC[0] 7 8 7 #SB_DFFSS
set_location U712_CHIP_RAM.CMA_esr[10] 15 4 4 #SB_DFFESR
set_location U712_BYTE_ENABLE.N_258_i 14 20 3 #SB_LUT4
set_location CLKRAM_obuf_RNO 5 1 2 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE[0] 8 8 0 #SB_DFFSS
set_location U712_CHIP_RAM.WRITE_CYCLE_RNIQG71D 8 6 7 #SB_LUT4
set_location U712_CHIP_RAM.CPU_TACK_RNO_3 10 6 0 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[3] 12 4 7 #SB_DFFESR
set_location U712_CHIP_RAM.CPU_TACK_RNO 10 6 6 #SB_LUT4
set_location U712_REG_SM.REG_CPU_CYCLE 9 9 2 #SB_DFFNSR
set_location U712_CHIP_RAM.CAS_SYNC_RNO[0] 12 10 7 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER[0] 8 9 0 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[0] 10 9 1 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[3] 9 4 3 #SB_DFFR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[6] 14 7 7 #SB_DFFNESR
set_location U712_CHIP_RAM.CASn 15 3 1 #SB_DFFSS
set_location U712_REG_SM.STATE_COUNTER_RNO[7] 9 9 5 #SB_LUT4
set_location U712_REG_SM.REG_TACK 9 9 4 #SB_DFFNSR
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIN91M2 11 7 4 #SB_LUT4
set_location U712_CHIP_RAM.LATCH_RAM_RNO 7 6 7 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[6] 12 7 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[2] 9 6 2 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[6] 9 4 6 #SB_LUT4
set_location TACKn_obuft_RNO 3 17 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[4] 9 6 4 #SB_CARRY
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[3] 14 6 3 #SB_DFFESR
set_location U712_CHIP_RAM.DMA_A20_RNO 13 9 3 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[1] 12 4 5 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[6] 13 7 4 #SB_LUT4
set_location U712_CHIP_RAM.BANK0_esr_RNO 8 6 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNISAAQ[4] 8 5 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI0BPC1[4] 10 7 5 #SB_LUT4
set_location U712_CHIP_RAM.DBDIR 7 7 4 #SB_DFFSS
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_1[1] 11 8 2 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[2] 9 4 2 #SB_CARRY
set_location U712_CHIP_RAM.BANK0_esr_RNO_4 7 5 3 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[1] 14 6 5 #SB_LUT4
set_location U712_CHIP_RAM.CPU_TACK_RNO_0 10 5 4 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[4] 13 6 2 #SB_DFFESR
set_location U712_CHIP_RAM.SDRAM_COUNTER[5] 9 6 5 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[2] 10 7 3 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[0] 9 4 0 #SB_DFFR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[1] 14 7 2 #SB_DFFNESR
set_location U712_REG_SM.REG_TACK_RNO_0 9 10 0 #SB_LUT4
set_location U712_REG_SM.STATE_COUNTER_RNI5J3V[7] 8 9 3 #SB_LUT4
set_location U712_REG_SM.LDSn_RNO 9 9 0 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_OUTn 8 8 1 #SB_DFFSS
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[7] 9 6 7 #SB_LUT4
set_location U712_BYTE_ENABLE.UMBE_i_o3 11 11 2 #SB_LUT4
set_location U712_REG_SM.REG_CYCLE_START_RNIPBK41 8 10 1 #SB_LUT4
set_location U712_REG_SM.REG_CPU_CYCLE_RNO_0 9 10 1 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[3] 9 4 3 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNO 7 6 0 #SB_LUT4
set_location U712_CHIP_RAM.WRITE_CYCLE_RNIBKQ41 10 6 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIJHLS1[1] 8 5 5 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[6] 13 6 7 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[5] 11 5 4 #SB_LUT4
set_location U712_REG_SM.LDSn_RNO_0 8 10 4 #SB_LUT4
set_location U712_REG_SM.CYCLE_RUN 7 10 3 #SB_DFFNSR
set_location U712_REG_SM.C3_SYNC[1] 7 10 0 #SB_DFFNSR
set_location U712_CHIP_RAM.DMA_A1_nesr 14 9 2 #SB_DFFNESR
set_location U712_CHIP_RAM.BANK0_esr 8 6 2 #SB_DFFESR
set_location U712_BUFFERS.LATCH_CLK_0_i 6 9 5 #SB_LUT4
set_location U712_REG_SM.REG_CYCLE 7 9 3 #SB_DFFNSR
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[5] 9 4 5 #SB_CARRY
set_location U712_CHIP_RAM.CPU_CYCLE_RNI8NM9 13 5 0 #SB_LUT4
set_location U712_REG_SM.STATE_COUNTER[5] 9 8 2 #SB_DFFNSR
set_location U712_CHIP_RAM.SDRAM_CMD_ess[3] 11 9 0 #SB_DFFESS
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_RNO[9] 16 8 6 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[4] 14 6 4 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE_RNO_0[1] 10 8 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI4CEN3[4] 9 5 5 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[9] 15 6 2 #SB_DFFESR
set_location U712_REG_SM.UDSn_RNO_2 8 10 7 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNIURFN4 8 6 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_2[0] 9 7 2 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[8] 15 8 3 #SB_DFFESR
set_location U712_REG_SM.REG_CYCLE_RNO 7 9 3 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE_RNO[2] 11 8 7 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER[6] 9 6 6 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[1] 10 7 1 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[5] 9 4 5 #SB_DFFR
set_location U712_BYTE_ENABLE.N_207_i 11 5 7 #SB_LUT4
set_location U712_BYTE_ENABLE.LLBE_i_o3 11 11 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNIMUKI[0] 11 6 6 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_RNO_0 8 4 1 #SB_LUT4
set_location U712_REG_SM.LDSn 9 9 0 #SB_DFFNSS
set_location U712_CYCLE_TERM.TACK_EN_i_ess_RNO 10 11 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[4] 9 6 4 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH 8 5 4 #SB_DFF
set_location U712_CHIP_RAM.DMA_CYCLE_esr_RNO 7 7 2 #SB_LUT4
set_location U712_CHIP_RAM.CAS_SYNC_RNO[1] 11 10 3 #SB_LUT4
set_location U712_REG_SM.C1_SYNC[0] 7 11 3 #SB_DFFNSR
set_location U712_CHIP_RAM.SDRAM_COUNTER[3] 9 6 3 #SB_DFFE
set_location U712_CHIP_RAM.REFRESH_COUNTER[2] 9 4 2 #SB_DFFR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[7] 13 8 3 #SB_DFFNESR
set_location U712_BUFFERS.un1_VBENn 8 4 3 #SB_LUT4
set_location DBRn_ibuf_RNIBAB 5 9 3 #SB_LUT4
set_location U712_REG_SM.REG_CYCLE_START_RNO 7 10 7 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_ess_RNIAJSH1[3] 12 7 6 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[5] 12 6 7 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[1] 9 6 1 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_RNIRILU 9 5 2 #SB_LUT4
set_location U712_BYTE_ENABLE.N_260_i 13 20 0 #SB_LUT4
set_location U712_REG_SM.REG_CPU_CYCLE_RNO 9 9 2 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[1] 9 4 1 #SB_LUT4
set_location U712_CHIP_RAM.LATCH_RAM_RNO_0 9 6 0 #SB_LUT4
set_location U712_CHIP_RAM.CAS_SYNC[1] 11 10 3 #SB_DFF
set_location U712_BYTE_ENABLE.N_259_i 13 20 3 #SB_LUT4
set_location U712_REG_SM.STATE_COUNTER[2] 7 10 2 #SB_DFFNSR
set_location U712_CYCLE_TERM.TACK_EN_i_ess_RNO_2 11 9 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[5] 9 6 5 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNISDRT[0] 10 6 7 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle[9] 2 10 7 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[0] 15 10 7 #SB_DFFESR
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[7] 14 6 7 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[2] 12 7 7 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[7] 13 6 3 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[0] 14 5 3 #SB_LUT4
set_location U712_REG_SM.LATCH_REG 7 9 6 #SB_DFFNSR
set_location U712_REG_SM.DBR_SYNC[1] 7 10 4 #SB_DFFNSR
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI05TJ3[0] 8 6 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_1[0] 10 6 1 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[3] 9 4 3 #SB_CARRY
set_location U712_CHIP_RAM.DBENn_RNO_0 7 7 5 #SB_LUT4
set_location U712_CHIP_RAM.DBDIR_RNO 7 7 4 #SB_LUT4
set_location U712_CHIP_RAM.BANK0_esr_RNO_5 7 5 2 #SB_LUT4
set_location U712_REG_SM.STATE_COUNTER[7] 9 9 5 #SB_DFFNSR
set_location U712_REG_SM.REG_CYCLE_START_RNIGHT91 8 10 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[0] 9 6 0 #SB_CARRY
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[7] 14 6 7 #SB_DFFESR
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[2] 14 6 2 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_3[1] 11 6 4 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[2] 13 7 7 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE[4] 11 8 3 #SB_DFF
set_location U712_CHIP_RAM.SDRAM_CMD_ess_RNO_1[3] 10 8 0 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[7] 13 6 4 #SB_DFFESR
set_location U712_REG_SM.REG_WRITE_CYCLE 9 9 6 #SB_DFFNSS
set_location U712_CHIP_RAM.WRITE_CYCLE_RNO 7 6 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNINIA74[1] 8 5 6 #SB_LUT4
set_location U712_CHIP_RAM.BANK0_esr_RNO_0 7 5 1 #SB_LUT4
set_location U712_REG_SM.REGENn_RNO 7 10 5 #SB_LUT4
set_location U712_BYTE_ENABLE.N_257_i 14 20 1 #SB_LUT4
set_location RESETn_ibuf_RNIM9SF 12 12 5 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE_RNO[0] 8 8 0 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE[3] 11 8 5 #SB_DFF
set_location U712_CHIP_RAM.SDRAM_COUNTER[4] 9 6 4 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CMD_RNI4VDC[0] 12 5 2 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[7] 9 4 7 #SB_DFFR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[2] 14 8 1 #SB_DFFNESR
set_location U712_CHIP_RAM.CMA_esr[0] 14 5 3 #SB_DFFESR
set_location U712_BYTE_ENABLE.N_205_i 11 6 3 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[8] 15 6 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[6] 9 6 6 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNIR9VE1_1 8 7 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER[1] 9 6 1 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[1] 11 7 6 #SB_LUT4
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[5] 15 7 3 #SB_DFFNESR
set_location U712_BYTE_ENABLE.UUBE_i_o3 12 11 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI52LA2[0] 10 7 2 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[7] 10 5 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[3] 9 6 3 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_START 8 5 7 #SB_DFF
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[7] 9 4 7 #SB_LUT4
set_location U712_CHIP_RAM.DMA_A20 13 9 3 #SB_DFFNSR
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[2] 14 6 2 #SB_DFFESR
set_location U712_CHIP_RAM.CMA_esr_RNO[2] 13 4 0 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[1] 11 5 1 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNIBRI34 7 7 3 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[1] 9 4 1 #SB_CARRY
set_location U712_CHIP_RAM.BANK0_esr_RNO_3 7 6 3 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_EN_i_ess 10 11 1 #SB_DFFESS
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[0] 15 10 7 #SB_LUT4
set_location U712_REG_SM.DBR_SYNC_RNIVIGC1[1] 8 10 2 #SB_LUT4
set_location U712_REG_SM.C1_SYNC_RNI5ITS1[1] 8 10 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI9KPC1[7] 9 5 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_ess_RNO[3] 11 9 0 #SB_LUT4
set_location U712_CHIP_RAM.CPU_TACK_RNO_1 10 6 5 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[5] 12 5 7 #SB_DFFESR
set_location U712_CHIP_RAM.REFRESH_RNO_1 8 4 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIQTMR1[1] 9 7 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIPRCO3[1] 8 7 5 #SB_LUT4
set_location U712_REG_SM.REGENn 7 10 5 #SB_DFFNSS
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIGRU43[1] 9 7 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER[2] 9 6 2 #SB_DFFE
set_location U712_CHIP_RAM.REFRESH_COUNTER[1] 9 4 1 #SB_DFFR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[0] 14 7 1 #SB_DFFNESR
set_location U712_REG_SM.REG_TACK_RNO_1 8 8 6 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNIC9HD1 7 6 6 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[4] 11 6 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[0] 8 9 0 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[0] 9 4 0 #SB_LUT4
set_location U712_CHIP_RAM.LATCH_RAM_RNO_1 7 7 7 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[1] 14 6 5 #SB_DFFESR
set_location U712_CHIP_RAM.DMA_CYCLE_esr_RNITGCI5 8 6 4 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_RNO 7 5 7 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[7] 13 6 4 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[4] 12 6 6 #SB_LUT4
set_location U712_REG_SM.ASn 7 10 6 #SB_DFFNSS
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIFMOI5 8 7 4 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[4] 9 4 4 #SB_CARRY
set_location U712_REG_SM.STATE_COUNTER[6] 9 8 7 #SB_DFFNSR
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[3] 14 6 3 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[6] 13 6 7 #SB_DFFESR
set_location U712_BUFFERS.un1_DRDENn_0_a3 24 19 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIKV5I5 7 7 0 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_RNO 8 5 4 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_3[5] 11 5 3 #SB_LUT4
set_location U712_REG_SM.REG_TACK_RNO 9 9 4 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE_RNO[1] 10 8 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER[7] 9 6 7 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[0] 10 8 7 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[6] 9 4 6 #SB_DFFR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[3] 14 7 4 #SB_DFFNESR
set_location U712_CYCLE_TERM.TACK_OUTn_RNO 8 8 1 #SB_LUT4
set_location U712_CHIP_RAM.WRITE_CYCLE_RNICBGO9 7 7 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_ess_RNIK9021_0[3] 10 4 2 #SB_LUT4
set_location U712_CHIP_RAM.WRITE_CYCLE_RNIOBA64 7 6 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[5] 9 6 5 #SB_LUT4
set_location U712_CHIP_RAM.LATCH_RAM 7 6 7 #SB_DFF
set_location U712_REG_SM.C1_SYNC[1] 7 9 2 #SB_DFFNSR
set_location GND -1 -1 -1 #GND
set_location U712_REG_SM.ASn_RNO 7 10 6 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[4] 13 6 2 #SB_LUT4
set_location U712_REG_SM.LDSn_RNO_2 8 10 3 #SB_LUT4
set_location U712_CHIP_RAM.CLK_EN_RNO_0 9 10 3 #SB_LUT4
set_location U712_REG_SM.C3_SYNC_RNI6FIN[1] 8 9 5 #SB_LUT4
set_location U712_CHIP_RAM.WEn 15 3 2 #SB_DFFSS
set_location U712_CHIP_RAM.CAS_SYNC[0] 12 10 7 #SB_DFF
set_location U712_BYTE_ENABLE.LMBE_i_o3 11 11 3 #SB_LUT4
set_location U712_REG_SM.STATE_COUNTER_RNO[0] 7 9 4 #SB_LUT4
set_location U712_REG_SM.STATE_COUNTER[3] 7 9 5 #SB_DFFNSR
set_location U712_CYCLE_TERM.TACK_EN_i_ess_RNO_1 11 9 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNI8N6A9 11 7 5 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[6] 16 6 5 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[3] 12 7 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_3[0] 9 5 4 #SB_LUT4
set_location U712_REG_SM.UDSn_RNO_0 8 10 0 #SB_LUT4
set_location U712_CHIP_RAM.WRITE_CYCLE_RNO_0 8 8 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI41LA2[1] 8 6 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[3] 9 6 3 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_CMD[0] 10 9 1 #SB_DFFSS
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[6] 16 6 5 #SB_DFFESR
set_location U712_CYCLE_TERM.TACK_STATE_RNO[4] 11 8 3 #SB_LUT4
set_location U712_CHIP_RAM.RASn 15 2 2 #SB_DFFSS
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNO 8 5 7 #SB_LUT4
set_location U712_REG_SM.LATCH_REG_RNO 7 9 6 #SB_LUT4
set_location U712_REG_SM.CYCLE_RUN_RNO 7 10 3 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_START 7 6 0 #SB_DFF
set_location U712_BYTE_ENABLE.un1_CLLBEn_i_a3_0_0 12 7 0 #SB_LUT4
set_location CLK40_PLL_derived_clock_RNIIOT_0 1 14 6 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE[2] 11 8 7 #SB_DFF
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIVGRT[3] 8 5 3 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_2[1] 13 5 4 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[1] 12 4 5 #SB_DFFESR
set_location U712_CHIP_RAM.CMA_esr_RNO[9] 15 6 2 #SB_LUT4
set_location U712_BYTE_ENABLE.N_203_i 12 9 7 #SB_LUT4
set_location U712_CHIP_RAM.DBENn_RNO 7 7 6 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNIR9VE1_0 7 6 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[2] 10 7 4 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_esr 9 7 1 #SB_DFFESR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[4] 14 7 5 #SB_DFFNESR
set_location U712_REG_SM.STATE_COUNTER[0] 7 9 4 #SB_DFFNSS
set_location U712_CHIP_RAM.CMA_esr_RNO_1[0] 12 7 3 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_esr_RNI94JE1 9 7 0 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[4] 9 4 4 #SB_LUT4
set_location U712_CHIP_RAM.CLK_EN 10 10 0 #SB_DFFSS
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[6] 9 6 6 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO_1[0] 10 9 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI74LA2[1] 8 6 5 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[5] 17 6 3 #SB_DFFESR
set_location U712_CHIP_RAM.CMA_esr_RNO[3] 12 4 7 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[0] 13 5 3 #SB_LUT4
set_location U712_REG_SM.UDSn_RNO 9 9 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIFCQ24[4] 10 8 4 #SB_LUT4
set_location U712_CHIP_RAM.DBENn 7 7 6 #SB_DFFSS
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[0] 9 4 0 #SB_CARRY
set_location U712_CHIP_RAM.DMA_CYCLE_esr_RNI4LVP1 8 5 2 #SB_LUT4
set_location U712_CHIP_RAM.BANK0_esr_RNO_2 8 6 1 #SB_LUT4
set_location DBR_SYNC[1] 8 7 1 #SB_DFFSS
set_location U712_CHIP_RAM.CMA_esr_RNO[10] 15 4 4 #SB_LUT4
set_location U712_REG_SM.STATE_COUNTER_RNIELLV[7] 8 9 7 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE[1] 10 8 2 #SB_DFF
set_location U712_CHIP_RAM.CPU_TACK_RNO_2 10 5 3 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[2] 13 4 0 #SB_DFFESR
set_io CMA[4] 78
set_io A[5] 16
set_io TSn 136
set_io LMBEn 122
set_io DRA[2] 99
set_io DMA_LATCH_EN 134
set_io A[13] 26
set_io CLMBEn 75
set_io AWEn 135
set_io RESETn 94
set_io CMA[1] 48
set_io CLK_EN 84
set_io CASn 62
set_io BANK0 52
set_io A[20] 11
set_io SIZ[0] 2
set_io DRA[7] 91
set_io CMA[8] 82
set_io A[1] 10
set_io CLK40B_OUT 112
set_io A[17] 32
set_io VBENn 44
set_io DRA[1] 101
set_io CUMBEn 74
set_io CLKRAM 38
set_io CLK40D_OUT 115
set_io C3 143
set_io ASn 116
set_io UUBEn 125
set_io LDSn 117
set_io LATCH_CLK 137
set_io DRA[8] 90
set_io CMA[5] 79
set_io CASUn 104
set_io A[6] 17
set_io A[15] 29
set_io DRDDIR 107
set_io DRA[3] 98
set_io DBDIR 43
set_io A[12] 25
set_io UDSn 118
set_io RnW 144
set_io DRDENn 110
set_io A[4] 15
set_io DBENn 42
set_io CMA[2] 47
set_io CMA[10] 56
set_io BANK1 49
set_io A[10] 23
set_io UMBEn 121
set_io RAS0n 87
set_io DRA[4] 97
set_io CMA[9] 83
set_io A[2] 8
set_io A[19] 34
set_io CUUBEn 85
set_io CRCSn 60
set_io CMA[0] 55
set_io CLLBEn 45
set_io CLK40C_OUT 21
set_io CASLn 105
set_io A[9] 22
set_io A[16] 31
set_io SIZ[1] 1
set_io RAMSPACEn 130
set_io DRA[6] 95
set_io A[0] 12
set_io WEn 73
set_io REGENn 141
set_io LLBEn 124
set_io DRA[9] 106
set_io DBRn 138
set_io CMA[6] 80
set_io A[7] 18
set_io A[14] 28
set_io DRA[0] 102
set_io CLK40_IN 20
set_io REGSPACEn 41
set_io CMA[3] 76
set_io RASn 61
set_io DRA[5] 96
set_io A[3] 9
set_io A[18] 33
set_io AGNUS_REV 114
set_io A[11] 24
set_io TACKn 7
set_io C1 142
set_io CMA[7] 81
set_io A[8] 19
