ble_pack CLKRAM_obuf_RNO_LC_3_1_6 { CLKRAM_obuf_RNO }
clb_pack LT_3_1 { CLKRAM_obuf_RNO_LC_3_1_6 }
set_location LT_3_1 3 1
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle_9_LC_3_10_2 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle[9] }
clb_pack LT_3_10 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle_9_LC_3_10_2 }
set_location LT_3_10 3 10
ble_pack DBRn_ibuf_RNIBAB_LC_5_9_6 { DBRn_ibuf_RNIBAB }
clb_pack LT_5_9 { DBRn_ibuf_RNIBAB_LC_5_9_6 }
set_location LT_5_9 5 9
ble_pack DBR_SYNC_1_LC_6_7_4 { DBR_SYNC_1_THRU_LUT4_0, DBR_SYNC[1] }
clb_pack LT_6_7 { DBR_SYNC_1_LC_6_7_4 }
set_location LT_6_7 6 7
ble_pack DBR_SYNC_0_LC_6_8_7 { DBR_SYNC_0_THRU_LUT4_0, DBR_SYNC[0] }
clb_pack LT_6_8 { DBR_SYNC_0_LC_6_8_7 }
set_location LT_6_8 6 8
ble_pack U712_CHIP_RAM.CPU_CYCLE_START_LC_7_5_0 { U712_CHIP_RAM.CPU_CYCLE_START_RNO, U712_CHIP_RAM.CPU_CYCLE_START }
ble_pack U712_CHIP_RAM.DBENn_LC_7_5_1 { U712_CHIP_RAM.DBENn_RNO, U712_CHIP_RAM.DBENn }
clb_pack LT_7_5 { U712_CHIP_RAM.CPU_CYCLE_START_LC_7_5_0, U712_CHIP_RAM.DBENn_LC_7_5_1 }
set_location LT_7_5 7 5
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_LC_7_6_0 { U712_CHIP_RAM.CPU_CYCLE_START_RNIVLD65_U712_CHIP_RAM.CPU_CYCLE_esr_REP_LUT4_0, U712_CHIP_RAM.CPU_CYCLE_esr }
ble_pack U712_CHIP_RAM.CPU_CYCLE_START_RNI0N9G_LC_7_6_2 { U712_CHIP_RAM.CPU_CYCLE_START_RNI0N9G }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_7_LC_7_6_3 { U712_CHIP_RAM.CMA_esr_RNO_1[7] }
clb_pack LT_7_6 { U712_CHIP_RAM.CPU_CYCLE_esr_LC_7_6_0, U712_CHIP_RAM.CPU_CYCLE_START_RNI0N9G_LC_7_6_2, U712_CHIP_RAM.CMA_esr_RNO_1_7_LC_7_6_3 }
set_location LT_7_6 7 6
ble_pack U712_CHIP_RAM.WRITE_CYCLE_esr_LC_7_7_0 { U712_CHIP_RAM.WRITE_CYCLE_esr_RNO, U712_CHIP_RAM.WRITE_CYCLE_esr }
clb_pack LT_7_7 { U712_CHIP_RAM.WRITE_CYCLE_esr_LC_7_7_0 }
set_location LT_7_7 7 7
ble_pack U712_CHIP_RAM.CAS_SYNC_1_LC_7_9_3 { U712_CHIP_RAM.CAS_SYNC_1_THRU_LUT4_0, U712_CHIP_RAM.CAS_SYNC[1] }
clb_pack LT_7_9 { U712_CHIP_RAM.CAS_SYNC_1_LC_7_9_3 }
set_location LT_7_9 7 9
ble_pack U712_CHIP_RAM.CAS_SYNC_0_LC_7_10_2 { U712_BUFFERS.DMA_CYCLE_0_i_i_o2_i_o2, U712_CHIP_RAM.CAS_SYNC[0] }
clb_pack LT_7_10 { U712_CHIP_RAM.CAS_SYNC_0_LC_7_10_2 }
set_location LT_7_10 7 10
ble_pack TACKn_obuft_RNO_LC_7_11_6 { TACKn_obuft_RNO }
clb_pack LT_7_11 { TACKn_obuft_RNO_LC_7_11_6 }
set_location LT_7_11 7 11
ble_pack U712_BUFFERS.DMA_LATCH_EN_i_i_a2_LC_7_18_7 { U712_BUFFERS.DMA_LATCH_EN_i_i_a2 }
clb_pack LT_7_18 { U712_BUFFERS.DMA_LATCH_EN_i_i_a2_LC_7_18_7 }
set_location LT_7_18 7 18
ble_pack U712_BUFFERS.un1_VBENn_0_a2_LC_8_4_6 { U712_BUFFERS.un1_VBENn_0_a2 }
clb_pack LT_8_4 { U712_BUFFERS.un1_VBENn_0_a2_LC_8_4_6 }
set_location LT_8_4 8 4
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNO_0_LC_8_5_4 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNO_0 }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_LC_8_5_5 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNO, U712_CHIP_RAM.SDRAM_CONFIGURED }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI4HBB7_2_LC_8_5_7 { U712_CHIP_RAM.SDRAM_COUNTER_RNI4HBB7[2] }
clb_pack LT_8_5 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNO_0_LC_8_5_4, U712_CHIP_RAM.SDRAM_CONFIGURED_LC_8_5_5, U712_CHIP_RAM.SDRAM_COUNTER_RNI4HBB7_2_LC_8_5_7 }
set_location LT_8_5 8 5
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_RNO_0_LC_8_6_0 { U712_CHIP_RAM.CPU_CYCLE_esr_RNO_0 }
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_RNO_LC_8_6_1 { U712_CHIP_RAM.CPU_CYCLE_esr_RNO }
ble_pack U712_CHIP_RAM.CPU_CYCLE_START_RNIGGM16_LC_8_6_2 { U712_CHIP_RAM.CPU_CYCLE_START_RNIGGM16 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIVSQ24_2_LC_8_6_3 { U712_CHIP_RAM.SDRAM_COUNTER_RNIVSQ24[2] }
ble_pack U712_CHIP_RAM.REFRESH_RNIQ6QH5_LC_8_6_4 { U712_CHIP_RAM.REFRESH_RNIQ6QH5 }
ble_pack U712_CHIP_RAM.WRITE_CYCLE_esr_RNO_0_LC_8_6_5 { U712_CHIP_RAM.WRITE_CYCLE_esr_RNO_0 }
ble_pack U712_CHIP_RAM.CPU_CYCLE_esr_RNO_1_LC_8_6_6 { U712_CHIP_RAM.CPU_CYCLE_esr_RNO_1 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_2_LC_8_6_7 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[2], U712_CHIP_RAM.SDRAM_COUNTER[2] }
clb_pack LT_8_6 { U712_CHIP_RAM.CPU_CYCLE_esr_RNO_0_LC_8_6_0, U712_CHIP_RAM.CPU_CYCLE_esr_RNO_LC_8_6_1, U712_CHIP_RAM.CPU_CYCLE_START_RNIGGM16_LC_8_6_2, U712_CHIP_RAM.SDRAM_COUNTER_RNIVSQ24_2_LC_8_6_3, U712_CHIP_RAM.REFRESH_RNIQ6QH5_LC_8_6_4, U712_CHIP_RAM.WRITE_CYCLE_esr_RNO_0_LC_8_6_5, U712_CHIP_RAM.CPU_CYCLE_esr_RNO_1_LC_8_6_6, U712_CHIP_RAM.SDRAM_COUNTER_2_LC_8_6_7 }
set_location LT_8_6 8 6
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_0_1_LC_8_7_2 { U712_CHIP_RAM.SDRAM_CMD_RNO_0[1] }
ble_pack U712_CHIP_RAM.DBDIR_LC_8_7_4 { U712_CHIP_RAM.DBDIR_RNO, U712_CHIP_RAM.DBDIR }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNO_1_0_LC_8_7_6 { U712_CHIP_RAM.SDRAM_COUNTER_RNO_1[0] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNO_0_0_LC_8_7_7 { U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[0] }
clb_pack LT_8_7 { U712_CHIP_RAM.SDRAM_CMD_RNO_0_1_LC_8_7_2, U712_CHIP_RAM.DBDIR_LC_8_7_4, U712_CHIP_RAM.SDRAM_COUNTER_RNO_1_0_LC_8_7_6, U712_CHIP_RAM.SDRAM_COUNTER_RNO_0_0_LC_8_7_7 }
set_location LT_8_7 8 7
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_2_1_LC_8_8_0 { U712_CHIP_RAM.SDRAM_CMD_RNO_2[1] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_1_1_LC_8_8_1 { U712_CHIP_RAM.SDRAM_CMD_RNO_1[1] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_1_LC_8_8_2 { U712_CHIP_RAM.SDRAM_CMD_RNO[1], U712_CHIP_RAM.SDRAM_CMD[1] }
ble_pack U712_CHIP_RAM.CPU_CYCLE_START_RNIHOOI5_LC_8_8_3 { U712_CHIP_RAM.CPU_CYCLE_START_RNIHOOI5 }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNI77IM9_LC_8_8_4 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNI77IM9 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI12QHH_2_LC_8_8_5 { U712_CHIP_RAM.SDRAM_COUNTER_RNI12QHH[2] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_3_LC_8_8_7 { U712_CHIP_RAM.CMA_esr_RNO_1[3] }
clb_pack LT_8_8 { U712_CHIP_RAM.SDRAM_CMD_RNO_2_1_LC_8_8_0, U712_CHIP_RAM.SDRAM_CMD_RNO_1_1_LC_8_8_1, U712_CHIP_RAM.SDRAM_CMD_1_LC_8_8_2, U712_CHIP_RAM.CPU_CYCLE_START_RNIHOOI5_LC_8_8_3, U712_CHIP_RAM.SDRAM_CONFIGURED_RNI77IM9_LC_8_8_4, U712_CHIP_RAM.SDRAM_COUNTER_RNI12QHH_2_LC_8_8_5, U712_CHIP_RAM.CMA_esr_RNO_1_3_LC_8_8_7 }
set_location LT_8_8 8 8
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_RNO_0_LC_8_9_4 { U712_CHIP_RAM.DMA_CYCLE_START_RNO_0 }
clb_pack LT_8_9 { U712_CHIP_RAM.DMA_CYCLE_START_RNO_0_LC_8_9_4 }
set_location LT_8_9 8 9
ble_pack U712_CYCLE_TERM.TACK_EN_i_ess_LC_8_10_0 { U712_CYCLE_TERM.TACK_EN_i_ess_RNO, U712_CYCLE_TERM.TACK_EN_i_ess }
clb_pack LT_8_10 { U712_CYCLE_TERM.TACK_EN_i_ess_LC_8_10_0 }
set_location LT_8_10 8 10
ble_pack U712_REG_SM.STATE_COUNT_RNO_0_2_LC_8_11_1 { U712_REG_SM.STATE_COUNT_RNO_0[2] }
ble_pack U712_REG_SM.REG_CYCLE_RNO_0_LC_8_11_4 { U712_REG_SM.REG_CYCLE_RNO_0 }
ble_pack U712_REG_SM.REG_CYCLE_LC_8_11_5 { U712_REG_SM.REG_CYCLE_RNO, U712_REG_SM.REG_CYCLE }
clb_pack LT_8_11 { U712_REG_SM.STATE_COUNT_RNO_0_2_LC_8_11_1, U712_REG_SM.REG_CYCLE_RNO_0_LC_8_11_4, U712_REG_SM.REG_CYCLE_LC_8_11_5 }
set_location LT_8_11 8 11
ble_pack U712_REG_SM.STATE_COUNT_0_LC_8_12_1 { U712_REG_SM.STATE_COUNT_RNO[0], U712_REG_SM.STATE_COUNT[0] }
ble_pack U712_REG_SM.REG_CYCLE_START_LC_8_12_4 { U712_REG_SM.REG_CYCLE_START_RNO, U712_REG_SM.REG_CYCLE_START }
clb_pack LT_8_12 { U712_REG_SM.STATE_COUNT_0_LC_8_12_1, U712_REG_SM.REG_CYCLE_START_LC_8_12_4 }
set_location LT_8_12 8 12
ble_pack U712_REG_SM.STATE_COUNT_1_LC_8_13_7 { U712_REG_SM.STATE_COUNT_RNO[1], U712_REG_SM.STATE_COUNT[1] }
clb_pack LT_8_13 { U712_REG_SM.STATE_COUNT_1_LC_8_13_7 }
set_location LT_8_13 8 13
ble_pack U712_BUFFERS.un1_DRDENn_0_a2_LC_8_14_1 { U712_BUFFERS.un1_DRDENn_0_a2 }
clb_pack LT_8_14 { U712_BUFFERS.un1_DRDENn_0_a2_LC_8_14_1 }
set_location LT_8_14 8 14
ble_pack U712_CHIP_RAM.BANK0_RNO_0_LC_9_5_0 { U712_CHIP_RAM.BANK0_RNO_0 }
ble_pack U712_CHIP_RAM.LATCH_CLK_RNO_1_LC_9_5_1 { U712_CHIP_RAM.LATCH_CLK_RNO_1 }
ble_pack U712_CHIP_RAM.LATCH_CLK_RNO_0_LC_9_5_2 { U712_CHIP_RAM.LATCH_CLK_RNO_0 }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNI3FV43_LC_9_5_3 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNI3FV43 }
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_RNI7MCB2_LC_9_5_4 { U712_CHIP_RAM.DMA_CYCLE_START_RNI7MCB2 }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNIGK316_LC_9_5_5 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNIGK316 }
ble_pack U712_CHIP_RAM.WRITE_CYCLE_esr_RNIHBKDA_LC_9_5_6 { U712_CHIP_RAM.WRITE_CYCLE_esr_RNIHBKDA }
clb_pack LT_9_5 { U712_CHIP_RAM.BANK0_RNO_0_LC_9_5_0, U712_CHIP_RAM.LATCH_CLK_RNO_1_LC_9_5_1, U712_CHIP_RAM.LATCH_CLK_RNO_0_LC_9_5_2, U712_CHIP_RAM.SDRAM_CONFIGURED_RNI3FV43_LC_9_5_3, U712_CHIP_RAM.DMA_CYCLE_START_RNI7MCB2_LC_9_5_4, U712_CHIP_RAM.SDRAM_CONFIGURED_RNIGK316_LC_9_5_5, U712_CHIP_RAM.WRITE_CYCLE_esr_RNIHBKDA_LC_9_5_6 }
set_location LT_9_5 9 5
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIR5PC1_3_LC_9_6_0 { U712_CHIP_RAM.SDRAM_COUNTER_RNIR5PC1[3] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI4CEN3_2_LC_9_6_1 { U712_CHIP_RAM.SDRAM_COUNTER_RNI4CEN3[2] }
ble_pack U712_CHIP_RAM.CPU_CYCLE_START_RNIVLD65_LC_9_6_2 { U712_CHIP_RAM.CPU_CYCLE_START_RNIVLD65 }
ble_pack U712_CHIP_RAM.BANK0_RNO_2_LC_9_6_3 { U712_CHIP_RAM.BANK0_RNO_2 }
ble_pack U712_CHIP_RAM.BANK0_RNO_1_LC_9_6_4 { U712_CHIP_RAM.BANK0_RNO_1 }
ble_pack U712_CHIP_RAM.BANK0_LC_9_6_5 { U712_CHIP_RAM.BANK0_RNO, U712_CHIP_RAM.BANK0 }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNI05TJ3_LC_9_6_6 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNI05TJ3 }
clb_pack LT_9_6 { U712_CHIP_RAM.SDRAM_COUNTER_RNIR5PC1_3_LC_9_6_0, U712_CHIP_RAM.SDRAM_COUNTER_RNI4CEN3_2_LC_9_6_1, U712_CHIP_RAM.CPU_CYCLE_START_RNIVLD65_LC_9_6_2, U712_CHIP_RAM.BANK0_RNO_2_LC_9_6_3, U712_CHIP_RAM.BANK0_RNO_1_LC_9_6_4, U712_CHIP_RAM.BANK0_LC_9_6_5, U712_CHIP_RAM.SDRAM_CONFIGURED_RNI05TJ3_LC_9_6_6 }
set_location LT_9_6 9 6
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNI5OHEF_LC_9_7_0 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNI5OHEF }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_0_LC_9_7_1 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[0], U712_CHIP_RAM.SDRAM_COUNTER[0] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_3_1_LC_9_7_2 { U712_CHIP_RAM.SDRAM_CMD_RNO_3[1] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNISDRT_2_LC_9_7_3 { U712_CHIP_RAM.SDRAM_COUNTER_RNISDRT[2] }
ble_pack U712_CHIP_RAM.WRITE_CYCLE_esr_RNI1IJO_LC_9_7_6 { U712_CHIP_RAM.WRITE_CYCLE_esr_RNI1IJO }
clb_pack LT_9_7 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNI5OHEF_LC_9_7_0, U712_CHIP_RAM.SDRAM_COUNTER_0_LC_9_7_1, U712_CHIP_RAM.SDRAM_CMD_RNO_3_1_LC_9_7_2, U712_CHIP_RAM.SDRAM_COUNTER_RNISDRT_2_LC_9_7_3, U712_CHIP_RAM.WRITE_CYCLE_esr_RNI1IJO_LC_9_7_6 }
set_location LT_9_7 9 7
ble_pack U712_CHIP_RAM.SDRAM_CMD_0_LC_9_8_0 { U712_CHIP_RAM.SDRAM_CMD_RNO[0], U712_CHIP_RAM.SDRAM_CMD[0] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_3_LC_9_8_1 { U712_CHIP_RAM.SDRAM_CMD_RNO[3], U712_CHIP_RAM.SDRAM_CMD[3] }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNI1DV43_LC_9_8_2 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNI1DV43 }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_6_LC_9_8_3 { U712_CHIP_RAM.CMA_esr_RNO_1[6] }
ble_pack U712_CHIP_RAM.DMA_CYCLE_esr_RNI71B91_LC_9_8_4 { U712_CHIP_RAM.DMA_CYCLE_esr_RNI71B91 }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNIDDEL6_LC_9_8_5 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNIDDEL6 }
ble_pack U712_CHIP_RAM.SDRAM_CMD_2_LC_9_8_6 { U712_CHIP_RAM.SDRAM_CMD_RNO[2], U712_CHIP_RAM.SDRAM_CMD[2] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI5PDS6_0_LC_9_8_7 { U712_CHIP_RAM.SDRAM_COUNTER_RNI5PDS6[0] }
clb_pack LT_9_8 { U712_CHIP_RAM.SDRAM_CMD_0_LC_9_8_0, U712_CHIP_RAM.SDRAM_CMD_3_LC_9_8_1, U712_CHIP_RAM.SDRAM_CONFIGURED_RNI1DV43_LC_9_8_2, U712_CHIP_RAM.CMA_esr_RNO_1_6_LC_9_8_3, U712_CHIP_RAM.DMA_CYCLE_esr_RNI71B91_LC_9_8_4, U712_CHIP_RAM.SDRAM_CONFIGURED_RNIDDEL6_LC_9_8_5, U712_CHIP_RAM.SDRAM_CMD_2_LC_9_8_6, U712_CHIP_RAM.SDRAM_COUNTER_RNI5PDS6_0_LC_9_8_7 }
set_location LT_9_8 9 8
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIQTMR1_3_LC_9_9_5 { U712_CHIP_RAM.SDRAM_COUNTER_RNIQTMR1[3] }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNIFJSJ3_LC_9_9_6 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNIFJSJ3 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI997R7_2_LC_9_9_7 { U712_CHIP_RAM.SDRAM_COUNTER_RNI997R7[2] }
clb_pack LT_9_9 { U712_CHIP_RAM.SDRAM_COUNTER_RNIQTMR1_3_LC_9_9_5, U712_CHIP_RAM.SDRAM_CONFIGURED_RNIFJSJ3_LC_9_9_6, U712_CHIP_RAM.SDRAM_COUNTER_RNI997R7_2_LC_9_9_7 }
set_location LT_9_9 9 9
ble_pack U712_CYCLE_TERM.TACK_EN_i_ess_RNO_1_LC_9_10_1 { U712_CYCLE_TERM.TACK_EN_i_ess_RNO_1 }
ble_pack U712_CYCLE_TERM.TACK_EN_i_ess_RNO_0_LC_9_10_2 { U712_CYCLE_TERM.TACK_EN_i_ess_RNO_0 }
ble_pack U712_REG_SM.STATE_COUNT_RNITI8N_2_LC_9_10_4 { U712_REG_SM.STATE_COUNT_RNITI8N[2] }
clb_pack LT_9_10 { U712_CYCLE_TERM.TACK_EN_i_ess_RNO_1_LC_9_10_1, U712_CYCLE_TERM.TACK_EN_i_ess_RNO_0_LC_9_10_2, U712_REG_SM.STATE_COUNT_RNITI8N_2_LC_9_10_4 }
set_location LT_9_10 9 10
ble_pack U712_REG_SM.C3_SYNC_1_LC_9_11_1 { U712_REG_SM.C3_SYNC_1_THRU_LUT4_0, U712_REG_SM.C3_SYNC[1] }
ble_pack U712_REG_SM.STATE_COUNT_2_LC_9_11_2 { U712_REG_SM.STATE_COUNT_RNO[2], U712_REG_SM.STATE_COUNT[2] }
ble_pack U712_REG_SM.STATE_COUNT_3_LC_9_11_5 { U712_REG_SM.STATE_COUNT_RNO[3], U712_REG_SM.STATE_COUNT[3] }
ble_pack U712_REG_SM.C3_SYNC_0_LC_9_11_6 { U712_REG_SM.C3_SYNC_0_THRU_LUT4_0, U712_REG_SM.C3_SYNC[0] }
clb_pack LT_9_11 { U712_REG_SM.C3_SYNC_1_LC_9_11_1, U712_REG_SM.STATE_COUNT_2_LC_9_11_2, U712_REG_SM.STATE_COUNT_3_LC_9_11_5, U712_REG_SM.C3_SYNC_0_LC_9_11_6 }
set_location LT_9_11 9 11
ble_pack U712_REG_SM.STATE_COUNT_RNIVCF31_1_LC_9_12_0 { U712_REG_SM.STATE_COUNT_RNIVCF31[1] }
ble_pack U712_REG_SM.DS_EN_RNO_0_LC_9_12_1 { U712_REG_SM.DS_EN_RNO_0 }
ble_pack U712_REG_SM.STATE_COUNT_RNO_0_0_LC_9_12_2 { U712_REG_SM.STATE_COUNT_RNO_0[0] }
ble_pack U712_REG_SM.STATE_COUNT_RNINRSB_1_LC_9_12_4 { U712_REG_SM.STATE_COUNT_RNINRSB[1] }
ble_pack U712_REG_SM.STATE_COUNT_RNO_0_1_LC_9_12_5 { U712_REG_SM.STATE_COUNT_RNO_0[1] }
ble_pack U712_REG_SM.STATE_COUNT_RNIKVGT_0_4_LC_9_12_6 { U712_REG_SM.STATE_COUNT_RNIKVGT_0[4] }
clb_pack LT_9_12 { U712_REG_SM.STATE_COUNT_RNIVCF31_1_LC_9_12_0, U712_REG_SM.DS_EN_RNO_0_LC_9_12_1, U712_REG_SM.STATE_COUNT_RNO_0_0_LC_9_12_2, U712_REG_SM.STATE_COUNT_RNINRSB_1_LC_9_12_4, U712_REG_SM.STATE_COUNT_RNO_0_1_LC_9_12_5, U712_REG_SM.STATE_COUNT_RNIKVGT_0_4_LC_9_12_6 }
set_location LT_9_12 9 12
ble_pack U712_REG_SM.DS_EN_LC_9_13_3 { U712_REG_SM.DS_EN_RNO, U712_REG_SM.DS_EN }
clb_pack LT_9_13 { U712_REG_SM.DS_EN_LC_9_13_3 }
set_location LT_9_13 9 13
ble_pack U712_CHIP_RAM.LATCH_CLK_LC_10_4_5 { U712_CHIP_RAM.LATCH_CLK_RNO, U712_CHIP_RAM.LATCH_CLK }
clb_pack LT_10_4 { U712_CHIP_RAM.LATCH_CLK_LC_10_4_5 }
set_location LT_10_4 10 4
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIUFRT_3_LC_10_5_1 { U712_CHIP_RAM.SDRAM_COUNTER_RNIUFRT[3] }
ble_pack U712_CHIP_RAM.DMA_CYCLE_esr_RNI4VIE1_LC_10_5_2 { U712_CHIP_RAM.DMA_CYCLE_esr_RNI4VIE1 }
ble_pack U712_CHIP_RAM.CLK_EN_RNO_1_LC_10_5_3 { U712_CHIP_RAM.CLK_EN_RNO_1 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI1NGC4_0_LC_10_5_4 { U712_CHIP_RAM.SDRAM_COUNTER_RNI1NGC4[0] }
ble_pack U712_CHIP_RAM.DMA_CYCLE_esr_RNO_LC_10_5_6 { U712_CHIP_RAM.DMA_CYCLE_esr_RNO }
clb_pack LT_10_5 { U712_CHIP_RAM.SDRAM_COUNTER_RNIUFRT_3_LC_10_5_1, U712_CHIP_RAM.DMA_CYCLE_esr_RNI4VIE1_LC_10_5_2, U712_CHIP_RAM.CLK_EN_RNO_1_LC_10_5_3, U712_CHIP_RAM.SDRAM_COUNTER_RNI1NGC4_0_LC_10_5_4, U712_CHIP_RAM.DMA_CYCLE_esr_RNO_LC_10_5_6 }
set_location LT_10_5 10 5
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_0_2_LC_10_6_0 { U712_CHIP_RAM.SDRAM_CMD_RNO_0[2], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[0] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_1_LC_10_6_1 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[1], U712_CHIP_RAM.SDRAM_COUNTER[1], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[1] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNO_0_2_LC_10_6_2 { U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[2], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[2] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_3_LC_10_6_3 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[3], U712_CHIP_RAM.SDRAM_COUNTER[3], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[3] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_4_LC_10_6_4 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[4], U712_CHIP_RAM.SDRAM_COUNTER[4], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[4] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_5_LC_10_6_5 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[5], U712_CHIP_RAM.SDRAM_COUNTER[5], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[5] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_6_LC_10_6_6 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[6], U712_CHIP_RAM.SDRAM_COUNTER[6], U712_CHIP_RAM.SDRAM_COUNTER_cry_c[6] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_7_LC_10_6_7 { U712_CHIP_RAM.SDRAM_COUNTER_RNO[7], U712_CHIP_RAM.SDRAM_COUNTER[7] }
clb_pack LT_10_6 { U712_CHIP_RAM.SDRAM_CMD_RNO_0_2_LC_10_6_0, U712_CHIP_RAM.SDRAM_COUNTER_1_LC_10_6_1, U712_CHIP_RAM.SDRAM_COUNTER_RNO_0_2_LC_10_6_2, U712_CHIP_RAM.SDRAM_COUNTER_3_LC_10_6_3, U712_CHIP_RAM.SDRAM_COUNTER_4_LC_10_6_4, U712_CHIP_RAM.SDRAM_COUNTER_5_LC_10_6_5, U712_CHIP_RAM.SDRAM_COUNTER_6_LC_10_6_6, U712_CHIP_RAM.SDRAM_COUNTER_7_LC_10_6_7 }
set_location LT_10_6 10 6
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIAENR1_7_LC_10_7_0 { U712_CHIP_RAM.SDRAM_COUNTER_RNIAENR1[7] }
ble_pack U712_CHIP_RAM.SDRAM_CONFIGURED_RNI3M1M2_LC_10_7_1 { U712_CHIP_RAM.SDRAM_CONFIGURED_RNI3M1M2 }
ble_pack U712_CHIP_RAM.CPU_TACK_RNO_2_LC_10_7_2 { U712_CHIP_RAM.CPU_TACK_RNO_2 }
ble_pack U712_CHIP_RAM.CPU_TACK_RNO_0_LC_10_7_3 { U712_CHIP_RAM.CPU_TACK_RNO_0 }
ble_pack U712_CHIP_RAM.DMA_CYCLE_START_LC_10_7_4 { U712_CHIP_RAM.DMA_CYCLE_START_RNO, U712_CHIP_RAM.DMA_CYCLE_START }
ble_pack U712_CHIP_RAM.CPU_TACK_RNO_4_LC_10_7_5 { U712_CHIP_RAM.CPU_TACK_RNO_4 }
ble_pack U712_CHIP_RAM.CLK_EN_RNO_0_LC_10_7_6 { U712_CHIP_RAM.CLK_EN_RNO_0 }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIHFLS1_3_LC_10_7_7 { U712_CHIP_RAM.SDRAM_COUNTER_RNIHFLS1[3] }
clb_pack LT_10_7 { U712_CHIP_RAM.SDRAM_COUNTER_RNIAENR1_7_LC_10_7_0, U712_CHIP_RAM.SDRAM_CONFIGURED_RNI3M1M2_LC_10_7_1, U712_CHIP_RAM.CPU_TACK_RNO_2_LC_10_7_2, U712_CHIP_RAM.CPU_TACK_RNO_0_LC_10_7_3, U712_CHIP_RAM.DMA_CYCLE_START_LC_10_7_4, U712_CHIP_RAM.CPU_TACK_RNO_4_LC_10_7_5, U712_CHIP_RAM.CLK_EN_RNO_0_LC_10_7_6, U712_CHIP_RAM.SDRAM_COUNTER_RNIHFLS1_3_LC_10_7_7 }
set_location LT_10_7 10 7
ble_pack U712_CHIP_RAM.REFRESH_RNIRILU_LC_10_8_0 { U712_CHIP_RAM.REFRESH_RNIRILU }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_0_0_LC_10_8_2 { U712_CHIP_RAM.SDRAM_CMD_RNO_0[0] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI0OJB2_7_LC_10_8_3 { U712_CHIP_RAM.SDRAM_COUNTER_RNI0OJB2[7] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNO_1_0_LC_10_8_4 { U712_CHIP_RAM.SDRAM_CMD_RNO_1[0] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIVGRT_3_LC_10_8_5 { U712_CHIP_RAM.SDRAM_COUNTER_RNIVGRT[3] }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNI3FV43_3_LC_10_8_6 { U712_CHIP_RAM.SDRAM_COUNTER_RNI3FV43[3] }
clb_pack LT_10_8 { U712_CHIP_RAM.REFRESH_RNIRILU_LC_10_8_0, U712_CHIP_RAM.SDRAM_CMD_RNO_0_0_LC_10_8_2, U712_CHIP_RAM.SDRAM_COUNTER_RNI0OJB2_7_LC_10_8_3, U712_CHIP_RAM.SDRAM_CMD_RNO_1_0_LC_10_8_4, U712_CHIP_RAM.SDRAM_COUNTER_RNIVGRT_3_LC_10_8_5, U712_CHIP_RAM.SDRAM_COUNTER_RNI3FV43_3_LC_10_8_6 }
set_location LT_10_8 10 8
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_0_3_LC_10_9_5 { U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_0[3] }
ble_pack U712_CYCLE_TERM.TACK_EN6_LC_10_9_7 { U712_CYCLE_TERM.TACK_EN6 }
clb_pack LT_10_9 { U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_0_3_LC_10_9_5, U712_CYCLE_TERM.TACK_EN6_LC_10_9_7 }
set_location LT_10_9 10 9
ble_pack U712_REG_SM.REG_TACK_LC_10_10_3 { U712_REG_SM.REG_TACK_RNO, U712_REG_SM.REG_TACK }
clb_pack LT_10_10 { U712_REG_SM.REG_TACK_LC_10_10_3 }
set_location LT_10_10 10 10
ble_pack U712_REG_SM.REG_TACK_RNO_1_LC_10_11_1 { U712_REG_SM.REG_TACK_RNO_1 }
ble_pack U712_REG_SM.STATE_COUNT_RNIKVGT_4_LC_10_11_6 { U712_REG_SM.STATE_COUNT_RNIKVGT[4] }
ble_pack U712_REG_SM.REG_TACK_RNO_0_LC_10_11_7 { U712_REG_SM.REG_TACK_RNO_0 }
clb_pack LT_10_11 { U712_REG_SM.REG_TACK_RNO_1_LC_10_11_1, U712_REG_SM.STATE_COUNT_RNIKVGT_4_LC_10_11_6, U712_REG_SM.REG_TACK_RNO_0_LC_10_11_7 }
set_location LT_10_11 10 11
ble_pack U712_REG_SM.C1_SYNC_1_LC_10_12_2 { U712_REG_SM.C1_SYNC_1_THRU_LUT4_0, U712_REG_SM.C1_SYNC[1] }
ble_pack U712_REG_SM.C1_SYNC_0_LC_10_12_3 { U712_REG_SM.C1_SYNC_0_THRU_LUT4_0, U712_REG_SM.C1_SYNC[0] }
ble_pack U712_REG_SM.STATE_COUNT_4_LC_10_12_4 { U712_REG_SM.STATE_COUNT_RNO[4], U712_REG_SM.STATE_COUNT[4] }
clb_pack LT_10_12 { U712_REG_SM.C1_SYNC_1_LC_10_12_2, U712_REG_SM.C1_SYNC_0_LC_10_12_3, U712_REG_SM.STATE_COUNT_4_LC_10_12_4 }
set_location LT_10_12 10 12
ble_pack U712_REG_SM.ASn_ess_RNO_LC_10_13_2 { U712_REG_SM.ASn_ess_RNO }
clb_pack LT_10_13 { U712_REG_SM.ASn_ess_RNO_LC_10_13_2 }
set_location LT_10_13 10 13
ble_pack U712_REG_SM.ASn_ess_LC_10_14_2 { U712_REG_SM.ASn_ess_THRU_LUT4_0, U712_REG_SM.ASn_ess }
clb_pack LT_10_14 { U712_REG_SM.ASn_ess_LC_10_14_2 }
set_location LT_10_14 10 14
ble_pack U712_BUFFERS.DRDDIR_i_m2_i_m2_LC_10_18_6 { U712_BUFFERS.DRDDIR_i_m2_i_m2 }
clb_pack LT_10_18 { U712_BUFFERS.DRDDIR_i_m2_i_m2_LC_10_18_6 }
set_location LT_10_18 10 18
ble_pack U712_CHIP_RAM.DMA_CYCLE_esr_LC_11_6_0 { U712_CHIP_RAM.SDRAM_COUNTER_RNIVSQ24_2_U712_CHIP_RAM.DMA_CYCLE_esr_REP_LUT4_0, U712_CHIP_RAM.DMA_CYCLE_esr }
clb_pack LT_11_6 { U712_CHIP_RAM.DMA_CYCLE_esr_LC_11_6_0 }
set_location LT_11_6 11 6
ble_pack U712_CHIP_RAM.CLK_EN_LC_11_7_1 { U712_CHIP_RAM.CLK_EN_RNO, U712_CHIP_RAM.CLK_EN }
ble_pack U712_CHIP_RAM.CPU_TACK_RNO_3_LC_11_7_2 { U712_CHIP_RAM.CPU_TACK_RNO_3 }
ble_pack U712_CHIP_RAM.CPU_TACK_RNO_1_LC_11_7_3 { U712_CHIP_RAM.CPU_TACK_RNO_1 }
ble_pack U712_CHIP_RAM.CPU_TACK_LC_11_7_4 { U712_CHIP_RAM.CPU_TACK_RNO, U712_CHIP_RAM.CPU_TACK }
ble_pack U712_CHIP_RAM.SDRAM_COUNTER_RNIONRK3_2_LC_11_7_7 { U712_CHIP_RAM.SDRAM_COUNTER_RNIONRK3[2] }
clb_pack LT_11_7 { U712_CHIP_RAM.CLK_EN_LC_11_7_1, U712_CHIP_RAM.CPU_TACK_RNO_3_LC_11_7_2, U712_CHIP_RAM.CPU_TACK_RNO_1_LC_11_7_3, U712_CHIP_RAM.CPU_TACK_LC_11_7_4, U712_CHIP_RAM.SDRAM_COUNTER_RNIONRK3_2_LC_11_7_7 }
set_location LT_11_7 11 7
ble_pack U712_CYCLE_TERM.TACK_STATE_1_LC_11_8_4 { U712_CYCLE_TERM.TACK_STATE_RNO[1], U712_CYCLE_TERM.TACK_STATE[1] }
ble_pack U712_CYCLE_TERM.TACK_STATE_2_LC_11_8_5 { U712_CYCLE_TERM.TACK_STATE_RNO[2], U712_CYCLE_TERM.TACK_STATE[2] }
ble_pack U712_CYCLE_TERM.TACK_STATE_0_LC_11_8_6 { U712_CYCLE_TERM.TACK_STATE_RNO[0], U712_CYCLE_TERM.TACK_STATE[0] }
ble_pack U712_CYCLE_TERM.TACK_STATE_3_LC_11_8_7 { U712_CYCLE_TERM.TACK_STATE_3_THRU_LUT4_0, U712_CYCLE_TERM.TACK_STATE[3] }
clb_pack LT_11_8 { U712_CYCLE_TERM.TACK_STATE_1_LC_11_8_4, U712_CYCLE_TERM.TACK_STATE_2_LC_11_8_5, U712_CYCLE_TERM.TACK_STATE_0_LC_11_8_6, U712_CYCLE_TERM.TACK_STATE_3_LC_11_8_7 }
set_location LT_11_8 11 8
ble_pack U712_CYCLE_TERM.TACK_OUTn_LC_11_9_2 { U712_CYCLE_TERM.TACK_OUTn_RNO, U712_CYCLE_TERM.TACK_OUTn }
ble_pack U712_CHIP_RAM.REFRESH_LC_11_9_4 { U712_CHIP_RAM.REFRESH_RNO, U712_CHIP_RAM.REFRESH }
ble_pack U712_CYCLE_TERM.TACK_STATE_4_LC_11_9_5 { U712_CYCLE_TERM.TACK_STATE_4_THRU_LUT4_0, U712_CYCLE_TERM.TACK_STATE[4] }
clb_pack LT_11_9 { U712_CYCLE_TERM.TACK_OUTn_LC_11_9_2, U712_CHIP_RAM.REFRESH_LC_11_9_4, U712_CYCLE_TERM.TACK_STATE_4_LC_11_9_5 }
set_location LT_11_9 11 9
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_0_LC_11_10_0 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[0], U712_CHIP_RAM.REFRESH_COUNTER[0], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[0] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_1_LC_11_10_1 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[1], U712_CHIP_RAM.REFRESH_COUNTER[1], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[1] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_2_LC_11_10_2 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[2], U712_CHIP_RAM.REFRESH_COUNTER[2], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[2] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_3_LC_11_10_3 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[3], U712_CHIP_RAM.REFRESH_COUNTER[3], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[3] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_4_LC_11_10_4 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[4], U712_CHIP_RAM.REFRESH_COUNTER[4], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[4] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_5_LC_11_10_5 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[5], U712_CHIP_RAM.REFRESH_COUNTER[5], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[5] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_6_LC_11_10_6 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[6], U712_CHIP_RAM.REFRESH_COUNTER[6], U712_CHIP_RAM.REFRESH_COUNTER_cry_c[6] }
ble_pack U712_CHIP_RAM.REFRESH_COUNTER_7_LC_11_10_7 { U712_CHIP_RAM.REFRESH_COUNTER_RNO[7], U712_CHIP_RAM.REFRESH_COUNTER[7] }
clb_pack LT_11_10 { U712_CHIP_RAM.REFRESH_COUNTER_0_LC_11_10_0, U712_CHIP_RAM.REFRESH_COUNTER_1_LC_11_10_1, U712_CHIP_RAM.REFRESH_COUNTER_2_LC_11_10_2, U712_CHIP_RAM.REFRESH_COUNTER_3_LC_11_10_3, U712_CHIP_RAM.REFRESH_COUNTER_4_LC_11_10_4, U712_CHIP_RAM.REFRESH_COUNTER_5_LC_11_10_5, U712_CHIP_RAM.REFRESH_COUNTER_6_LC_11_10_6, U712_CHIP_RAM.REFRESH_COUNTER_7_LC_11_10_7 }
set_location LT_11_10 11 10
ble_pack U712_CHIP_RAM.REFRESH_RNO_0_LC_11_11_1 { U712_CHIP_RAM.REFRESH_RNO_0 }
clb_pack LT_11_11 { U712_CHIP_RAM.REFRESH_RNO_0_LC_11_11_1 }
set_location LT_11_11 11 11
ble_pack CONSTANT_ONE_LUT4_LC_12_5_3 { CONSTANT_ONE_LUT4 }
clb_pack LT_12_5 { CONSTANT_ONE_LUT4_LC_12_5_3 }
set_location LT_12_5 12 5
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNIHMEA_1_LC_12_6_4 { U712_CHIP_RAM.SDRAM_CMD_RNIHMEA[1] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_3_5_LC_12_6_5 { U712_CHIP_RAM.CMA_esr_RNO_3[5] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_5_LC_12_6_6 { U712_CHIP_RAM.CMA_esr_RNO_0[5] }
clb_pack LT_12_6 { U712_CHIP_RAM.SDRAM_CMD_RNIHMEA_1_LC_12_6_4, U712_CHIP_RAM.CMA_esr_RNO_3_5_LC_12_6_5, U712_CHIP_RAM.CMA_esr_RNO_0_5_LC_12_6_6 }
set_location LT_12_6 12 6
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_5_LC_12_7_0 { U712_CHIP_RAM.CMA_esr_RNO_1[5] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_2_5_LC_12_7_7 { U712_CHIP_RAM.CMA_esr_RNO_2[5] }
clb_pack LT_12_7 { U712_CHIP_RAM.CMA_esr_RNO_1_5_LC_12_7_0, U712_CHIP_RAM.CMA_esr_RNO_2_5_LC_12_7_7 }
set_location LT_12_7 12 7
ble_pack pll_RNI8MQ3_LC_12_8_1 { pll_RNI8MQ3 }
ble_pack U712_CYCLE_TERM.TACK_STATE_RNO_0_0_LC_12_8_2 { U712_CYCLE_TERM.TACK_STATE_RNO_0[0] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_3_LC_12_8_3 { U712_CHIP_RAM.CMA_esr_RNO_0[3] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNIMUKI_0_LC_12_8_6 { U712_CHIP_RAM.SDRAM_CMD_RNIMUKI[0] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_3_1_LC_12_8_7 { U712_CHIP_RAM.CMA_esr_RNO_3[1] }
clb_pack LT_12_8 { pll_RNI8MQ3_LC_12_8_1, U712_CYCLE_TERM.TACK_STATE_RNO_0_0_LC_12_8_2, U712_CHIP_RAM.CMA_esr_RNO_0_3_LC_12_8_3, U712_CHIP_RAM.SDRAM_CMD_RNIMUKI_0_LC_12_8_6, U712_CHIP_RAM.CMA_esr_RNO_3_1_LC_12_8_7 }
set_location LT_12_8 12 8
ble_pack U712_BYTE_ENABLE.N_180_i_LC_12_9_5 { U712_BYTE_ENABLE.N_180_i }
clb_pack LT_12_9 { U712_BYTE_ENABLE.N_180_i_LC_12_9_5 }
set_location LT_12_9 12 9
ble_pack RESETn_ibuf_RNIM9SF_LC_12_17_1 { RESETn_ibuf_RNIM9SF }
clb_pack LT_12_17 { RESETn_ibuf_RNIM9SF_LC_12_17_1 }
set_location LT_12_17 12 17
ble_pack U712_CHIP_RAM.CMA_esr_3_LC_13_6_5 { U712_CHIP_RAM.CMA_esr_RNO[3], U712_CHIP_RAM.CMA_esr[3] }
clb_pack LT_13_6 { U712_CHIP_RAM.CMA_esr_3_LC_13_6_5 }
set_location LT_13_6 13 6
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_1_LC_13_7_1 { U712_CHIP_RAM.CMA_esr_RNO_1[1] }
ble_pack U712_CHIP_RAM.CMA_esr_1_LC_13_7_2 { U712_CHIP_RAM.CMA_esr_RNO[1], U712_CHIP_RAM.CMA_esr[1] }
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNI4VDC_0_LC_13_7_3 { U712_CHIP_RAM.SDRAM_CMD_RNI4VDC[0] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_2_1_LC_13_7_4 { U712_CHIP_RAM.CMA_esr_RNO_2[1] }
ble_pack U712_CHIP_RAM.CMA_esr_5_LC_13_7_7 { U712_CHIP_RAM.CMA_esr_RNO[5], U712_CHIP_RAM.CMA_esr[5] }
clb_pack LT_13_7 { U712_CHIP_RAM.CMA_esr_RNO_1_1_LC_13_7_1, U712_CHIP_RAM.CMA_esr_1_LC_13_7_2, U712_CHIP_RAM.SDRAM_CMD_RNI4VDC_0_LC_13_7_3, U712_CHIP_RAM.CMA_esr_RNO_2_1_LC_13_7_4, U712_CHIP_RAM.CMA_esr_5_LC_13_7_7 }
set_location LT_13_7 13 7
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_3_LC_13_8_0 { U712_CHIP_RAM.SDRAM_CMD_RNIA0SO[3] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_1_LC_13_8_2 { U712_CHIP_RAM.CMA_esr_RNO_0[1] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_0_LC_13_8_3 { U712_CHIP_RAM.CMA_esr_RNO_1[0] }
clb_pack LT_13_8 { U712_CHIP_RAM.SDRAM_CMD_RNIA0SO_3_LC_13_8_0, U712_CHIP_RAM.CMA_esr_RNO_0_1_LC_13_8_2, U712_CHIP_RAM.CMA_esr_RNO_1_0_LC_13_8_3 }
set_location LT_13_8 13 8
ble_pack U712_BYTE_ENABLE.un1_CLLBEn_i_0_a2_0_LC_13_9_3 { U712_BYTE_ENABLE.un1_CLLBEn_i_0_a2_0 }
ble_pack U712_BYTE_ENABLE.un1_CUMBEn_i_a2_1_LC_13_9_7 { U712_BYTE_ENABLE.un1_CUMBEn_i_a2_1 }
clb_pack LT_13_9 { U712_BYTE_ENABLE.un1_CLLBEn_i_0_a2_0_LC_13_9_3, U712_BYTE_ENABLE.un1_CUMBEn_i_a2_1_LC_13_9_7 }
set_location LT_13_9 13 9
ble_pack U712_BYTE_ENABLE.un1_CLLBEn_i_0_a2_LC_13_10_4 { U712_BYTE_ENABLE.un1_CLLBEn_i_0_a2 }
ble_pack U712_BYTE_ENABLE.N_55_i_LC_13_10_5 { U712_BYTE_ENABLE.N_55_i }
ble_pack U712_BYTE_ENABLE.un1_CUMBEn_i_a2_LC_13_10_6 { U712_BYTE_ENABLE.un1_CUMBEn_i_a2 }
ble_pack U712_BYTE_ENABLE.N_105_i_LC_13_10_7 { U712_BYTE_ENABLE.N_105_i }
clb_pack LT_13_10 { U712_BYTE_ENABLE.un1_CLLBEn_i_0_a2_LC_13_10_4, U712_BYTE_ENABLE.N_55_i_LC_13_10_5, U712_BYTE_ENABLE.un1_CUMBEn_i_a2_LC_13_10_6, U712_BYTE_ENABLE.N_105_i_LC_13_10_7 }
set_location LT_13_10 13 10
ble_pack U712_BYTE_ENABLE.un1_CUMBEn_i_x2_LC_13_18_1 { U712_BYTE_ENABLE.un1_CUMBEn_i_x2 }
clb_pack LT_13_18 { U712_BYTE_ENABLE.un1_CUMBEn_i_x2_LC_13_18_1 }
set_location LT_13_18 13 18
ble_pack U712_CHIP_RAM.CMA_esr_2_LC_14_6_3 { U712_CHIP_RAM.CMA_esr_RNO[2], U712_CHIP_RAM.CMA_esr[2] }
clb_pack LT_14_6 { U712_CHIP_RAM.CMA_esr_2_LC_14_6_3 }
set_location LT_14_6 14 6
ble_pack U712_CHIP_RAM.SDRAM_CMD_RNI0AO81_3_LC_14_7_6 { U712_CHIP_RAM.SDRAM_CMD_RNI0AO81[3] }
clb_pack LT_14_7 { U712_CHIP_RAM.SDRAM_CMD_RNI0AO81_3_LC_14_7_6 }
set_location LT_14_7 14 7
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_2_LC_14_8_4 { U712_CHIP_RAM.CMA_esr_RNO_1[2] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_2_LC_14_8_5 { U712_CHIP_RAM.CMA_esr_RNO_0[2] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_0_LC_14_8_7 { U712_CHIP_RAM.CMA_esr_RNO_0[0] }
clb_pack LT_14_8 { U712_CHIP_RAM.CMA_esr_RNO_1_2_LC_14_8_4, U712_CHIP_RAM.CMA_esr_RNO_0_2_LC_14_8_5, U712_CHIP_RAM.CMA_esr_RNO_0_0_LC_14_8_7 }
set_location LT_14_8 14 8
ble_pack U712_BYTE_ENABLE.N_57_i_LC_14_9_0 { U712_BYTE_ENABLE.N_57_i }
clb_pack LT_14_9 { U712_BYTE_ENABLE.N_57_i_LC_14_9_0 }
set_location LT_14_9 14 9
ble_pack U712_BYTE_ENABLE.un1_CLMBEn_i_0_a2_LC_14_10_0 { U712_BYTE_ENABLE.un1_CLMBEn_i_0_a2 }
ble_pack U712_BYTE_ENABLE.un1_CUUBEn_i_a2_LC_14_10_4 { U712_BYTE_ENABLE.un1_CUUBEn_i_a2 }
clb_pack LT_14_10 { U712_BYTE_ENABLE.un1_CLMBEn_i_0_a2_LC_14_10_0, U712_BYTE_ENABLE.un1_CUUBEn_i_a2_LC_14_10_4 }
set_location LT_14_10 14 10
ble_pack U712_BYTE_ENABLE.N_277_i_LC_14_20_3 { U712_BYTE_ENABLE.N_277_i }
ble_pack U712_BYTE_ENABLE.LLBE_i_o2_i_LC_14_20_4 { U712_BYTE_ENABLE.LLBE_i_o2_i }
clb_pack LT_14_20 { U712_BYTE_ENABLE.N_277_i_LC_14_20_3, U712_BYTE_ENABLE.LLBE_i_o2_i_LC_14_20_4 }
set_location LT_14_20 14 20
ble_pack U712_CHIP_RAM.WEn_LC_15_4_2 { U712_CHIP_RAM.WEn_THRU_LUT4_0, U712_CHIP_RAM.WEn }
clb_pack LT_15_4 { U712_CHIP_RAM.WEn_LC_15_4_2 }
set_location LT_15_4 15 4
ble_pack U712_CHIP_RAM.CMA_esr_8_LC_15_6_6 { U712_CHIP_RAM.CMA_esr_RNO[8], U712_CHIP_RAM.CMA_esr[8] }
ble_pack U712_CHIP_RAM.CMA_esr_9_LC_15_6_7 { U712_CHIP_RAM.CMA_esr_RNO[9], U712_CHIP_RAM.CMA_esr[9] }
clb_pack LT_15_6 { U712_CHIP_RAM.CMA_esr_8_LC_15_6_6, U712_CHIP_RAM.CMA_esr_9_LC_15_6_7 }
set_location LT_15_6 15 6
ble_pack U712_CHIP_RAM.CMA_esr_10_LC_15_7_5 { U712_CHIP_RAM.CMA_esr_RNO[10], U712_CHIP_RAM.CMA_esr[10] }
ble_pack U712_CHIP_RAM.CMA_esr_0_LC_15_7_6 { U712_CHIP_RAM.CMA_esr_RNO[0], U712_CHIP_RAM.CMA_esr[0] }
clb_pack LT_15_7 { U712_CHIP_RAM.CMA_esr_10_LC_15_7_5, U712_CHIP_RAM.CMA_esr_0_LC_15_7_6 }
set_location LT_15_7 15 7
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_6_LC_15_8_3 { U712_CHIP_RAM.CMA_esr_RNO_0[6] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_1_4_LC_15_8_5 { U712_CHIP_RAM.CMA_esr_RNO_1[4] }
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_4_LC_15_8_6 { U712_CHIP_RAM.CMA_esr_RNO_0[4] }
clb_pack LT_15_8 { U712_CHIP_RAM.CMA_esr_RNO_0_6_LC_15_8_3, U712_CHIP_RAM.CMA_esr_RNO_1_4_LC_15_8_5, U712_CHIP_RAM.CMA_esr_RNO_0_4_LC_15_8_6 }
set_location LT_15_8 15 8
ble_pack U712_CHIP_RAM.DMA_A20_LC_15_9_1 { U712_CHIP_RAM.DMA_A20_RNO, U712_CHIP_RAM.DMA_A20 }
clb_pack LT_15_9 { U712_CHIP_RAM.DMA_A20_LC_15_9_1 }
set_location LT_15_9 15 9
ble_pack U712_BYTE_ENABLE.UMBE_0_LC_15_19_2 { U712_BYTE_ENABLE.UMBE_0 }
clb_pack LT_15_19 { U712_BYTE_ENABLE.UMBE_0_LC_15_19_2 }
set_location LT_15_19 15 19
ble_pack U712_BYTE_ENABLE.N_276_i_LC_15_20_4 { U712_BYTE_ENABLE.N_276_i }
clb_pack LT_15_20 { U712_BYTE_ENABLE.N_276_i_LC_15_20_4 }
set_location LT_15_20 15 20
ble_pack U712_CHIP_RAM.RASn_LC_16_4_2 { U712_CHIP_RAM.RASn_THRU_LUT4_0, U712_CHIP_RAM.RASn }
ble_pack U712_CHIP_RAM.CRCSn_LC_16_4_6 { U712_CHIP_RAM.CRCSn_THRU_LUT4_0, U712_CHIP_RAM.CRCSn }
clb_pack LT_16_4 { U712_CHIP_RAM.RASn_LC_16_4_2, U712_CHIP_RAM.CRCSn_LC_16_4_6 }
set_location LT_16_4 16 4
ble_pack U712_CHIP_RAM.CASn_LC_16_5_1 { U712_CHIP_RAM.CASn_THRU_LUT4_0, U712_CHIP_RAM.CASn }
clb_pack LT_16_5 { U712_CHIP_RAM.CASn_LC_16_5_1 }
set_location LT_16_5 16 5
ble_pack U712_CHIP_RAM.CMA_esr_RNO_0_7_LC_16_6_6 { U712_CHIP_RAM.CMA_esr_RNO_0[7] }
clb_pack LT_16_6 { U712_CHIP_RAM.CMA_esr_RNO_0_7_LC_16_6_6 }
set_location LT_16_6 16 6
ble_pack U712_CHIP_RAM.CMA_esr_4_LC_16_7_2 { U712_CHIP_RAM.CMA_esr_RNO[4], U712_CHIP_RAM.CMA_esr[4] }
ble_pack U712_CHIP_RAM.CMA_esr_7_LC_16_7_6 { U712_CHIP_RAM.CMA_esr_RNO[7], U712_CHIP_RAM.CMA_esr[7] }
ble_pack U712_CHIP_RAM.CMA_esr_6_LC_16_7_7 { U712_CHIP_RAM.CMA_esr_RNO[6], U712_CHIP_RAM.CMA_esr[6] }
clb_pack LT_16_7 { U712_CHIP_RAM.CMA_esr_4_LC_16_7_2, U712_CHIP_RAM.CMA_esr_7_LC_16_7_6, U712_CHIP_RAM.CMA_esr_6_LC_16_7_7 }
set_location LT_16_7 16 7
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_9_LC_16_8_0 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_RNO[9], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[9] }
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_1_LC_16_8_1 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[1], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[1] }
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_6_LC_16_8_3 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[6], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[6] }
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_0_LC_16_8_4 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[0], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[0] }
clb_pack LT_16_8 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_9_LC_16_8_0, U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_1_LC_16_8_1, U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_6_LC_16_8_3, U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_0_LC_16_8_4 }
set_location LT_16_8 16 8
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_0_LC_16_9_3 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_1_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_0_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[0] }
clb_pack LT_16_9 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_0_LC_16_9_3 }
set_location LT_16_9 16 9
ble_pack U712_BYTE_ENABLE.un1_LDSn_i_0_LC_16_19_3 { U712_BYTE_ENABLE.un1_LDSn_i_0 }
clb_pack LT_16_19 { U712_BYTE_ENABLE.un1_LDSn_i_0_LC_16_19_3 }
set_location LT_16_19 16 19
ble_pack U712_BYTE_ENABLE.un1_UDSn_i_0_LC_16_20_2 { U712_BYTE_ENABLE.un1_UDSn_i_0 }
clb_pack LT_16_20 { U712_BYTE_ENABLE.un1_UDSn_i_0_LC_16_20_2 }
set_location LT_16_20 16 20
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_8_LC_17_6_0 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[8], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[8] }
clb_pack LT_17_6 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_8_LC_17_6_0 }
set_location LT_17_6 17 6
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_2_LC_17_7_2 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[2], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[2] }
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_3_LC_17_7_3 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[3], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[3] }
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_7_LC_17_7_7 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[7], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[7] }
clb_pack LT_17_7 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_2_LC_17_7_2, U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_3_LC_17_7_3, U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_7_LC_17_7_7 }
set_location LT_17_7 17 7
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_1_LC_17_8_2 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_2_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_1_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[1] }
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_3_LC_17_8_3 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_4_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_3_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[3] }
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_2_LC_17_8_4 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_3_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_2_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[2] }
ble_pack U712_CHIP_RAM.DMA_A1_nesr_LC_17_8_5 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_0_U712_CHIP_RAM.DMA_A1_nesr_REP_LUT4_0, U712_CHIP_RAM.DMA_A1_nesr }
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_5_LC_17_8_6 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_6_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_5_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[5] }
clb_pack LT_17_8 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_1_LC_17_8_2, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_3_LC_17_8_3, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_2_LC_17_8_4, U712_CHIP_RAM.DMA_A1_nesr_LC_17_8_5, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_5_LC_17_8_6 }
set_location LT_17_8 17 8
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_4_LC_17_9_0 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_5_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_4_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[4] }
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_6_LC_17_9_3 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_7_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_6_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[6] }
clb_pack LT_17_9 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_4_LC_17_9_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_6_LC_17_9_3 }
set_location LT_17_9 17 9
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_4_LC_18_8_1 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[4], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[4] }
ble_pack U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_5_LC_18_8_2 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[5], U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[5] }
clb_pack LT_18_8 { U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_4_LC_18_8_1, U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_5_LC_18_8_2 }
set_location LT_18_8 18 8
ble_pack U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_7_LC_18_9_0 { U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_8_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_7_REP_LUT4_0, U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[7] }
clb_pack LT_18_9 { U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_7_LC_18_9_0 }
set_location LT_18_9 18 9
set_location RESETn_ibuf_RNIM9SF_0 12 21
set_location C1_ibuf_RNIPA2A 13 21
set_location DBRn_c_i_0_g_gb 0 11
set_location C3_ibuf_RNIRKME 25 10
set_io RAMENn 139
set_io CMA[4] 78
set_io A[5] 16
set_io TSn 136
set_io LMBEn 122
set_io DRA[2] 99
set_io DMA_LATCH_EN 134
set_io A[13] 26
set_io CLMBEn 75
set_io AWEn 135
set_io RESETn 94
set_io CMA[1] 48
set_io CLK_EN 84
set_io CASn 62
set_io BANK0 52
set_io A[20] 11
set_io SIZ[0] 2
set_io DRA[7] 91
set_io CMA[8] 82
set_io A[1] 10
set_io CLK40B_OUT 112
set_io A[17] 32
set_io VBENn 44
set_io DRA[1] 101
set_io CUMBEn 74
set_io CLKRAM 38
set_io CLK40D_OUT 115
set_io C3 143
set_io ASn 116
set_io UUBEn 125
set_io LDSn 117
set_io LATCH_CLK 137
set_io DRA[8] 90
set_io CMA[5] 79
set_io CASUn 104
set_io A[6] 17
set_io A[15] 29
set_io DRDDIR 107
set_io DRA[3] 98
set_io DBDIR 43
set_io A[12] 25
set_io UDSn 118
set_io RnW 144
set_io DRDENn 110
set_io A[4] 15
set_io DBENn 42
set_io CMA[2] 47
set_io CMA[10] 56
set_io BANK1 49
set_io A[10] 23
set_io UMBEn 121
set_io RAS0n 87
set_io DRA[4] 97
set_io CMA[9] 83
set_io A[2] 8
set_io A[19] 34
set_io CUUBEn 85
set_io CRCSn 60
set_io CMA[0] 55
set_io CLLBEn 45
set_io CLK40C_OUT 21
set_io CASLn 105
set_io A[9] 22
set_io A[16] 31
set_io SIZ[1] 1
set_io RAMSPACEn 130
set_io DRA[6] 95
set_io A[0] 12
set_io WEn 73
set_io REGENn 141
set_io LLBEn 124
set_io DRA[9] 106
set_io DBRn 138
set_io CMA[6] 80
set_io A[7] 18
set_io A[14] 28
set_io DRA[0] 102
set_io CLK40_IN 20
set_io REGSPACEn 41
set_io CMA[3] 76
set_io RASn 61
set_io DRA[5] 96
set_io A[3] 9
set_io A[18] 33
set_io AGNUS_REV 114
set_io A[11] 24
set_io TACKn 7
set_io C1 142
set_io CMA[7] 81
set_io A[8] 19
