set_location IN_MUX_bfv_8_7_0_ 8 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_5_0_ 11 5 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 12 11 5 #SB_LUT4
set_location U712_REG_SM.C3_SYNC_1_THRU_LUT4_0 9 11 4 #SB_LUT4
set_location U712_REG_SM.C3_SYNC_0_THRU_LUT4_0 9 11 2 #SB_LUT4
set_location U712_REG_SM.C1_SYNC_1_THRU_LUT4_0 9 11 7 #SB_LUT4
set_location U712_REG_SM.C1_SYNC_0_THRU_LUT4_0 9 13 6 #SB_LUT4
set_location U712_CHIP_RAM.WEn_THRU_LUT4_0 13 2 4 #SB_LUT4
set_location U712_CHIP_RAM.RASn_THRU_LUT4_0 14 4 2 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_8_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_7_REP_LUT4_0 13 7 2 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_7_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_6_REP_LUT4_0 13 7 4 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_6_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_5_REP_LUT4_0 15 5 2 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_5_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_4_REP_LUT4_0 15 6 0 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_4_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_3_REP_LUT4_0 14 8 6 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_3_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_2_REP_LUT4_0 13 7 1 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_2_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_1_REP_LUT4_0 14 7 7 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_1_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_0_REP_LUT4_0 14 7 4 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2_0_U712_CHIP_RAM.DMA_A1_nesr_REP_LUT4_0 15 9 5 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNIURFN4_U712_CHIP_RAM.CPU_CYCLE_esr_REP_LUT4_0 9 5 0 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNIBRI34_U712_CHIP_RAM.DMA_CYCLE_esr_REP_LUT4_0 11 7 0 #SB_LUT4
set_location U712_CHIP_RAM.CRCSn_THRU_LUT4_0 13 2 6 #SB_LUT4
set_location U712_CHIP_RAM.CASn_THRU_LUT4_0 14 2 1 #SB_LUT4
set_location DBR_SYNC_1_THRU_LUT4_0 6 7 7 #SB_LUT4
set_location DBR_SYNC_0_THRU_LUT4_0 6 9 5 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[5] 13 5 0 #SB_LUT4
set_location U712_BYTE_ENABLE.N_59_i 15 12 7 #SB_LUT4
set_location U712_REG_SM.DS_EN_RNO_1 10 10 4 #SB_LUT4
set_location U712_REG_SM.C3_SYNC[0] 9 11 2 #SB_DFFSS
set_location U712_CHIP_RAM.CLK_EN_RNO_1 10 6 6 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[6] 11 5 6 #SB_CARRY
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[5] 15 7 2 #SB_LUT4
set_location U712_CHIP_RAM.CRCSn 13 2 6 #SB_DFFSS
set_location U712_CHIP_RAM.CPU_CYCLE_esr_RNIHMEA 12 5 7 #SB_LUT4
set_location U712_BYTE_ENABLE.un1_CLLBEn_i_0_a2 12 13 3 #SB_LUT4
set_location U712_REG_SM.DS_EN 10 11 2 #SB_DFFSR
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_3[1] 7 6 3 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[8] 13 5 3 #SB_DFFESR
set_location U712_CHIP_RAM.BANK0_RNO_0 8 8 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CONFIGURED 8 6 4 #SB_DFF
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNO_0 10 5 5 #SB_LUT4
set_location U712_BYTE_ENABLE.N_130_i 15 20 0 #SB_LUT4
set_location pll_RNI8MQ3 12 8 0 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT_RNO[3] 10 7 7 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[2] 8 7 2 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_2[1] 8 6 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD[1] 7 6 2 #SB_DFF
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[9] 18 8 5 #SB_DFFESR
set_location U712_CHIP_RAM.CPU_TACK_esr_RNO 7 7 0 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE_RNO[3] 11 9 5 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[4] 11 5 4 #SB_DFFR
set_location U712_CHIP_RAM.CLK_EN_RNO 6 6 6 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT[1] 10 6 3 #SB_DFF
set_location U712_CYCLE_TERM.RAM_CYCLE 12 8 2 #SB_DFF
set_location U712_REG_SM.REG_CYCLE_START 9 9 2 #SB_DFF
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI85LA2[4] 7 7 4 #SB_LUT4
set_location U712_CHIP_RAM.LATCH_CLK_RNO 10 7 4 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNO_0 9 12 1 #SB_LUT4
set_location U712_CHIP_RAM.BANK0_RNO 8 8 1 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNIPCS25 9 9 7 #SB_LUT4
set_location U712_BYTE_ENABLE.N_58_i 13 12 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[3] 9 7 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[0] 7 8 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNO 8 6 4 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[8] 16 6 1 #SB_LUT4
set_location U712_CHIP_RAM.CPU_TACK_esr_RNO_1 8 9 0 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[1] 12 5 5 #SB_LUT4
set_location U712_CHIP_RAM.WRITE_CYCLE 8 9 3 #SB_DFF
set_location U712_CHIP_RAM.CPU_CYCLE_esr_RNO_0 10 8 6 #SB_LUT4
set_location U712_REG_SM.REG_CYCLE_START_RNO_0 9 9 1 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[5] 11 5 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[1] 8 7 1 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNITIV55[3] 8 8 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI4TF5A[4] 9 6 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD[2] 8 6 5 #SB_DFF
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[4] 14 6 0 #SB_DFFESR
set_location U712_CHIP_RAM.CMA_esr_RNO_0[3] 12 8 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNI5V372 8 6 1 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT[4] 11 10 2 #SB_DFF
set_location DBR_SYNC[0] 6 9 5 #SB_DFFSS
set_location U712_CHIP_RAM.CMA_esr[10] 12 3 0 #SB_DFFESR
set_location CLKRAM_obuf_RNO 5 1 2 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE[0] 11 8 5 #SB_DFFSS
set_location U712_CHIP_RAM.CMA_esr[3] 13 6 6 #SB_DFFESR
set_location U712_REG_SM.ASn_RNO_0 10 10 2 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_esr_RNI57LV 9 8 1 #SB_LUT4
set_location U712_CHIP_RAM.CAS_SYNC_RNO[0] 10 12 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIVVPHH[1] 8 8 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER[0] 9 8 0 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIU2TJ3 9 7 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[0] 10 8 4 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[3] 11 5 3 #SB_DFFR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[6] 13 7 4 #SB_DFFNESR
set_location U712_CHIP_RAM.CASn 14 2 1 #SB_DFFSS
set_location U712_REG_SM.REG_TACK 11 8 7 #SB_DFFSR
set_location U712_CHIP_RAM.CMA_esr_RNO_1[6] 8 5 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[2] 9 8 2 #SB_LUT4
set_location U712_CHIP_RAM.BANK0 8 8 1 #SB_DFFSR
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[6] 11 5 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[4] 8 7 4 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIHQ8R 9 6 0 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[3] 14 6 3 #SB_DFFESR
set_location U712_CHIP_RAM.DMA_A20_RNO 13 9 5 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[1] 12 4 0 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[6] 12 5 6 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT_RNO_0[3] 10 7 6 #SB_LUT4
set_location U712_CHIP_RAM.DBDIR 10 9 1 #SB_DFFSS
set_location U712_BYTE_ENABLE.un1_LDSn_i_0_0_o2 12 15 7 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIFS4TD[2] 10 8 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_1[1] 7 6 0 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[2] 11 5 2 #SB_CARRY
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[1] 15 8 6 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_esr_RNO 10 8 7 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[4] 14 5 2 #SB_DFFESR
set_location U712_CYCLE_TERM.TACK_STATE_srsts_0_i_0_a2_1[0] 11 8 4 #SB_LUT4
set_location U712_BYTE_ENABLE.un1_CLMBEn_i_0_a2 15 13 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI5PDS6[3] 7 7 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER[5] 8 7 5 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[2] 8 7 0 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[0] 11 5 0 #SB_DFFR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[1] 14 7 7 #SB_DFFNESR
set_location U712_REG_SM.REG_TACK_RNO_0 11 9 3 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT_RNIKVGT_0[4] 10 10 0 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_OUTn 10 9 0 #SB_DFFSS
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[7] 8 7 7 #SB_LUT4
set_location U712_BUFFERS.un1_VBENn_0_a3_0_a2 8 5 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIG9KPG[2] 8 8 4 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[3] 11 5 3 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNO 10 8 0 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[6] 13 5 2 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[5] 10 5 6 #SB_LUT4
set_location U712_BYTE_ENABLE.N_128_i 15 20 5 #SB_LUT4
set_location U712_REG_SM.DS_EN_RNO_0 10 10 1 #SB_LUT4
set_location U712_REG_SM.C3_SYNC[1] 9 11 4 #SB_DFFSS
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIONRK3[1] 9 6 3 #SB_LUT4
set_location U712_CHIP_RAM.DMA_A1_nesr 15 9 5 #SB_DFFNESR
set_location U712_CHIP_RAM.CLK_EN_RNO_2 7 6 5 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT_RNI3OIA1[0] 10 10 6 #SB_LUT4
set_location U712_REG_SM.REG_CYCLE 9 10 4 #SB_DFF
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[5] 11 5 5 #SB_CARRY
set_location U712_BYTE_ENABLE.N_56_i 12 13 4 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_RNO[9] 18 8 5 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[4] 14 6 0 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE_RNO_0[1] 11 9 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIM81M2 7 8 2 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[9] 13 6 4 #SB_DFFESR
set_location U712_CHIP_RAM.BANK0_RNO_1 8 9 7 #SB_LUT4
set_location U712_BUFFERS.un1_DRDENn_0_a2 24 19 5 #SB_LUT4
set_location U712_BUFFERS.DRDDIR_i_m2_i_m2 11 19 1 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT_RNO[2] 10 6 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_2[0] 9 6 1 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[8] 16 6 1 #SB_DFFESR
set_location U712_BYTE_ENABLE.un1_LDSn_i_0_0 14 20 6 #SB_LUT4
set_location U712_REG_SM.REG_CYCLE_RNO 9 10 4 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE_RNO[2] 11 9 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER[6] 8 7 6 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[1] 7 6 1 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[5] 11 5 5 #SB_DFFR
set_location U712_REG_SM.STATE_COUNT_RNIKVGT[4] 10 10 7 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT[0] 10 9 4 #SB_DFFSS
set_location U712_CYCLE_TERM.RAM_CYCLE_RNILITE 12 9 3 #SB_LUT4
set_location U712_CHIP_RAM.WRITE_CYCLE_RNIJJ8G1 7 8 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNIMUKI[0] 13 4 0 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_RNO_0 10 5 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[4] 8 7 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIQTMR1_0[1] 9 7 7 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIMEP34[1] 8 6 7 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH 10 5 2 #SB_DFF
set_location U712_CHIP_RAM.DMA_CYCLE_esr_RNO 10 8 3 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNIURFN4 8 9 6 #SB_LUT4
set_location U712_CHIP_RAM.CPU_TACK_esr 7 7 0 #SB_DFFESR
set_location U712_CHIP_RAM.CAS_SYNC_RNO[1] 9 12 4 #SB_LUT4
set_location U712_REG_SM.C1_SYNC[0] 9 13 6 #SB_DFFSS
set_location U712_CHIP_RAM.SDRAM_COUNTER[3] 8 7 3 #SB_DFFE
set_location U712_CHIP_RAM.REFRESH_COUNTER[2] 11 5 2 #SB_DFFR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[7] 13 7 2 #SB_DFFNESR
set_location U712_BUFFERS.DMA_LATCH_EN_i_i_a2 10 19 0 #SB_LUT4
set_location DBRn_ibuf_RNIBAB 5 9 4 #SB_LUT4
set_location U712_REG_SM.REG_CYCLE_START_RNO 9 9 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI3FV43[1] 9 7 4 #SB_LUT4
set_location U712_CHIP_RAM.LATCH_CLK_RNO_0 12 8 6 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[5] 12 5 4 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE_RNIDG0M2[4] 12 8 1 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_OUTn_RNI3QLB 3 8 7 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[1] 8 7 1 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[1] 11 5 1 #SB_LUT4
set_location U712_CHIP_RAM.CAS_SYNC[1] 9 12 4 #SB_DFF
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[5] 8 7 5 #SB_CARRY
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle[9] 5 10 7 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[0] 15 10 5 #SB_DFFESR
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[7] 14 6 7 #SB_LUT4
set_location U712_CHIP_RAM.CPU_TACK_esr_RNO_0 9 7 1 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[2] 12 7 2 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[7] 13 4 5 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[0] 12 6 2 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT_RNO_0[2] 10 6 4 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_esr_RNO_1 10 8 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIM2QU[3] 8 6 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_1[0] 10 6 7 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[3] 11 5 3 #SB_CARRY
set_location U712_CHIP_RAM.DBENn_RNO_0 9 9 5 #SB_LUT4
set_location U712_CHIP_RAM.DBDIR_RNO 10 9 1 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_EN 11 8 3 #SB_DFFSR
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[0] 8 7 0 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_CMD[3] 9 7 5 #SB_DFF
set_location U712_CHIP_RAM.REFRESH_RNIHJRU1 9 6 5 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[7] 14 6 7 #SB_DFFESR
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[2] 13 8 5 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[2] 12 7 3 #SB_LUT4
set_location U712_BYTE_ENABLE.LLBE_i_o2_0_x2 15 16 1 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE[4] 11 9 2 #SB_DFF
set_location U712_CHIP_RAM.CMA_esr[7] 13 5 6 #SB_DFFESR
set_location U712_CHIP_RAM.BANK0_RNO_3 8 9 1 #SB_LUT4
set_location U712_CHIP_RAM.WRITE_CYCLE_RNO 8 9 3 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT_RNO[0] 10 9 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIQQ7R7[2] 8 8 5 #SB_LUT4
set_location U712_BYTE_ENABLE.N_129_i 13 20 2 #SB_LUT4
set_location RESETn_ibuf_RNIM9SF 10 15 0 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE_RNO[0] 11 8 5 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE[3] 11 9 5 #SB_DFF
set_location U712_CHIP_RAM.SDRAM_COUNTER[4] 8 7 4 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CMD_RNI4VDC[0] 12 5 3 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[7] 11 5 7 #SB_DFFR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[2] 13 7 1 #SB_DFFNESR
set_location U712_CHIP_RAM.CMA_esr[0] 12 6 2 #SB_DFFESR
set_location U712_BYTE_ENABLE.un1_CUMBEn_i_0_a2 13 13 1 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT[2] 10 6 5 #SB_DFF
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI05TJ3_0[1] 7 7 2 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[8] 13 5 3 #SB_LUT4
set_location U712_BYTE_ENABLE.N_57_i 15 11 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[6] 8 7 6 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER[1] 8 7 1 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[1] 7 6 2 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[2] 11 5 2 #SB_LUT4
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[5] 15 5 2 #SB_DFFNESR
set_location U712_CHIP_RAM.CMA_esr_RNO_2[5] 12 5 1 #SB_LUT4
set_location U712_BYTE_ENABLE.un1_CUUBEn_i_0_a2 15 13 0 #SB_LUT4
set_location U712_CHIP_RAM.CPU_TACK_esr_RNO_3 9 9 4 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[7] 7 4 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[3] 8 7 3 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_START 9 10 6 #SB_DFF
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[7] 11 5 7 #SB_LUT4
set_location U712_CHIP_RAM.DMA_A20 13 9 5 #SB_DFFNSR
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[2] 13 8 5 #SB_DFFESR
set_location U712_CHIP_RAM.CMA_esr_RNO[2] 12 6 6 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[1] 12 8 7 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT_RNO_0[0] 10 10 3 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNIBRI34 10 8 1 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[1] 11 5 1 #SB_CARRY
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[0] 15 10 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI9KPC1[7] 8 6 0 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNIEH9V 9 7 3 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr[5] 13 5 0 #SB_DFFESR
set_location U712_CHIP_RAM.REFRESH_RNO_1 10 5 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIQTMR1[1] 7 8 1 #SB_LUT4
set_location U712_BYTE_ENABLE.un1_UDSn_i_0_0 14 20 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER[2] 9 8 2 #SB_DFFE
set_location U712_CHIP_RAM.REFRESH_COUNTER[1] 11 5 1 #SB_DFFR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[0] 14 7 4 #SB_DFFNESR
set_location U712_REG_SM.REG_TACK_RNO_1 10 6 0 #SB_LUT4
set_location U712_REG_SM.DS_EN_RNO 10 11 2 #SB_LUT4
set_location U712_CHIP_RAM.LATCH_CLK_RNO_1 10 7 3 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[4] 7 5 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[0] 9 8 0 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNIPBDR1[3] 12 5 0 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[0] 11 5 0 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[1] 15 8 6 #SB_DFFESR
set_location U712_CHIP_RAM.CMA_esr_RNO[7] 13 5 6 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[4] 14 5 1 #SB_LUT4
set_location U712_REG_SM.REG_CYCLE_RNO_0 9 10 3 #SB_LUT4
set_location U712_REG_SM.ASn 10 11 7 #SB_DFFSS
set_location U712_CHIP_RAM.CLK_EN_RNO_3 7 5 6 #SB_LUT4
set_location U712_CYCLE_TERM.RAM_CYCLE_RNO 12 8 2 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[4] 11 5 4 #SB_CARRY
set_location U712_REG_SM.STATE_COUNT_RNINRSB[1] 10 6 1 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[3] 14 6 3 #SB_LUT4
set_location U712_CHIP_RAM.CPU_TACK_esr_RNO_4 9 6 7 #SB_LUT4
set_location U712_CYCLE_TERM.RAM_CYCLE_RNO_0 11 8 1 #SB_LUT4
set_location U712_CHIP_RAM.LATCH_CLK 10 7 4 #SB_DFF
set_location U712_CHIP_RAM.CMA_esr[6] 13 5 2 #SB_DFFESR
set_location U712_CHIP_RAM.BANK0_RNO_2 8 12 5 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT_RNO[1] 10 6 3 #SB_LUT4
set_location U712_REG_SM.C3_SYNC_RNI347S[1] 9 10 2 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_RNO 10 5 2 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_3[5] 7 5 7 #SB_LUT4
set_location U712_REG_SM.REG_TACK_RNO 11 8 7 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE_RNO[1] 11 9 1 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_EN_RNO 11 8 3 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER[7] 8 7 7 #SB_DFFE
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[0] 9 6 4 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER[6] 11 5 6 #SB_DFFR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[3] 14 8 6 #SB_DFFNESR
set_location U712_REG_SM.STATE_COUNT[3] 10 7 7 #SB_DFF
set_location U712_CYCLE_TERM.TACK_OUTn_RNO 10 9 0 #SB_LUT4
set_location U712_CHIP_RAM.WRITE_CYCLE_RNIOBA64 10 7 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[5] 8 7 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIKCP34 9 6 2 #SB_LUT4
set_location U712_REG_SM.C1_SYNC[1] 9 11 7 #SB_DFFSS
set_location U712_CHIP_RAM.SDRAM_CMD_RNI32HB1[3] 11 6 4 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location U712_REG_SM.ASn_RNO 10 11 7 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[4] 14 5 2 #SB_LUT4
set_location U712_REG_SM.START_RST 10 9 3 #SB_DFFSR
set_location U712_REG_SM.DS_EN_RNO_2 10 10 5 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNIA0SO[0] 11 6 3 #SB_LUT4
set_location U712_CHIP_RAM.CLK_EN_RNO_0 7 6 6 #SB_LUT4
set_location U712_CHIP_RAM.WEn 13 2 4 #SB_DFFSS
set_location U712_CHIP_RAM.CAS_SYNC[0] 10 12 6 #SB_DFF
set_location U712_BYTE_ENABLE.N_127_i 15 20 1 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[2] 8 7 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIJSRL5[3] 8 8 3 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_i_m2_i_m2[6] 16 5 2 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_esr 9 5 0 #SB_DFFESR
set_location U712_CHIP_RAM.CMA_esr_RNO_1[3] 7 8 4 #SB_LUT4
set_location U712_CHIP_RAM.WRITE_CYCLE_RNO_0 8 9 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI05TJ3[1] 9 7 6 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT_RNO[4] 11 10 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[3] 8 7 3 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_CMD[0] 10 8 4 #SB_DFF
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[6] 16 5 2 #SB_DFFESR
set_location U712_CYCLE_TERM.TACK_STATE_RNO[4] 11 9 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIF4EE6 7 9 1 #SB_LUT4
set_location U712_CHIP_RAM.RASn 14 4 2 #SB_DFFSS
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNO 9 10 6 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_START 10 8 0 #SB_DFF
set_location U712_CYCLE_TERM.TACK_STATE[2] 11 9 4 #SB_DFF
set_location U712_CHIP_RAM.CMA_esr[1] 12 4 0 #SB_DFFESR
set_location U712_CYCLE_TERM.TACK_EN_RNO_0 11 8 2 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[9] 13 6 4 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNO_0 8 6 3 #SB_LUT4
set_location U712_CHIP_RAM.DBENn_RNO 10 9 2 #SB_LUT4
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[2] 8 6 5 #SB_LUT4
set_location U712_CHIP_RAM.DMA_CYCLE_esr 11 7 0 #SB_DFFESR
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[4] 15 6 0 #SB_DFFNESR
set_location U712_CHIP_RAM.CPU_TACK_esr_RNO_2 9 7 0 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_1[0] 11 6 2 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE_RNI05SV[3] 11 9 6 #SB_LUT4
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[4] 11 5 4 #SB_LUT4
set_location U712_CHIP_RAM.CLK_EN 6 6 6 #SB_DFFSS
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[6] 8 7 6 #SB_CARRY
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO_1[0] 8 11 7 #SB_LUT4
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[5] 15 7 2 #SB_DFFESR
set_location U712_CHIP_RAM.CMA_esr_RNO[3] 13 6 6 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO_0[0] 12 6 1 #SB_LUT4
set_location U712_REG_SM.STATE_COUNT_RNO_0[1] 10 6 2 #SB_LUT4
set_location U712_CHIP_RAM.DBENn 10 9 2 #SB_DFFSS
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[0] 11 5 0 #SB_CARRY
set_location U712_CHIP_RAM.DMA_CYCLE_esr_RNI8MK44 10 7 2 #SB_LUT4
set_location DBR_SYNC[1] 6 7 7 #SB_DFFSS
set_location U712_REG_SM.START_RST_RNO 10 9 3 #SB_LUT4
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNI0N9G 10 7 1 #SB_LUT4
set_location U712_CHIP_RAM.CMA_esr_RNO[10] 12 3 0 #SB_LUT4
set_location U712_CYCLE_TERM.TACK_STATE[1] 11 9 1 #SB_DFF
set_location U712_CHIP_RAM.CMA_esr[2] 12 6 6 #SB_DFFESR
set_io DRA[9] 106
set_io DBRn 138
set_io A[14] 28
set_io RAMENn 139
set_io CMA[4] 78
set_io A[5] 16
set_io TSn 136
set_io LMBEn 122
set_io DRA[2] 99
set_io DMA_LATCH_EN 134
set_io A[13] 26
set_io CLMBEn 75
set_io AWEn 135
set_io RESETn 94
set_io CMA[1] 48
set_io CLK_EN 84
set_io CASn 62
set_io BANK0 52
set_io A[20] 11
set_io SIZ[0] 2
set_io DRA[7] 91
set_io CMA[8] 82
set_io A[1] 10
set_io CLK40B_OUT 112
set_io A[17] 32
set_io VBENn 44
set_io DRA[1] 101
set_io DA[2] 120
set_io CUMBEn 74
set_io CLKRAM 38
set_io CLK40D_OUT 115
set_io C3 143
set_io ASn 116
set_io UUBEn 125
set_io LDSn 117
set_io LATCH_CLK 137
set_io DRA[8] 90
set_io CMA[5] 79
set_io CASUn 104
set_io A[6] 17
set_io A[15] 29
set_io DRDDIR 107
set_io DRA[3] 98
set_io DBDIR 43
set_io A[12] 25
set_io UDSn 118
set_io RnW 144
set_io DRDENn 110
set_io A[4] 15
set_io DBENn 42
set_io CMA[2] 47
set_io CMA[10] 56
set_io BANK1 49
set_io A[10] 23
set_io UMBEn 121
set_io RAS0n 87
set_io DRA[4] 97
set_io DA[1] 128
set_io CMA[9] 83
set_io A[2] 8
set_io A[19] 34
set_io CUUBEn 85
set_io CRCSn 60
set_io CMA[0] 55
set_io CLLBEn 45
set_io CLK40C_OUT 21
set_io CASLn 105
set_io A[9] 22
set_io A[16] 31
set_io TCIn 64
set_io TBIn 39
set_io SIZ[1] 1
set_io RAMSPACEn 130
set_io DRA[6] 95
set_io A[0] 12
set_io WEn 73
set_io REGENn 141
set_io LLBEn 124
set_io CMA[6] 80
set_io A[7] 18
set_io DRA[0] 102
set_io CLK40_IN 20
set_io REGSPACEn 41
set_io CMA[3] 76
set_io RASn 61
set_io DRA[5] 96
set_io A[3] 9
set_io A[18] 33
set_io AGNUS_REV 114
set_io A[11] 24
set_io TACKn 7
set_io DA[0] 129
set_io C1 142
set_io CMA[7] 81
set_io A[8] 19
