set_location AGNUS_CLK_obuf_RNO 24 14 6 # SB_LUT4 (LogicCell: AGNUS_CLK_obuf_RNO_LC_0)
set_location RESETn_ibuf_RNIM9SF 12 19 5 # SB_LUT4 (LogicCell: RESETn_ibuf_RNIM9SF_LC_1)
set_location U409_ADDRESS_DECODE.ATA_EN_RNITH4D5 6 8 5 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.ATA_EN_RNITH4D5_LC_2)
set_location U409_ADDRESS_DECODE.ATA_EN_RNITH4D5_0 23 9 2 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.ATA_EN_RNITH4D5_0_LC_3)
set_location U409_ADDRESS_DECODE.ATA_EN_RNO 6 7 6 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.ATA_EN_LC_4)
set_location U409_ADDRESS_DECODE.ATA_EN 6 7 6 # SB_DFF (LogicCell: U409_ADDRESS_DECODE.ATA_EN_LC_4)
set_location U409_ADDRESS_DECODE.ATA_SPACE 6 7 5 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.ATA_SPACE_LC_5)
set_location U409_ADDRESS_DECODE.ATA_SPACE_1 6 6 1 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.ATA_SPACE_1_LC_6)
set_location U409_ADDRESS_DECODE.ATA_SPACE_2 6 7 4 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.ATA_SPACE_2_LC_7)
set_location U409_ADDRESS_DECODE.ATA_SPACE_3 7 7 0 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.ATA_SPACE_3_LC_8)
set_location U409_ADDRESS_DECODE.ATA_SPACE_4 6 7 1 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.ATA_SPACE_4_LC_9)
set_location U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_0_a2 6 4 6 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_0_a2_LC_10)
set_location U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_0_a2_1 6 4 5 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_0_a2_1_LC_11)
set_location U409_ADDRESS_DECODE.CIA_SPACE 6 10 7 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.CIA_SPACE_LC_12)
set_location U409_ADDRESS_DECODE.CIA_SPACE_4_0_a3 6 12 6 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.CIA_SPACE_4_0_a3_LC_13)
set_location U409_ADDRESS_DECODE.CIA_SPACE_5_0_a3 5 11 0 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.CIA_SPACE_5_0_a3_LC_14)
set_location U409_ADDRESS_DECODE.CS0 6 3 2 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.CS0_LC_15)
set_location U409_ADDRESS_DECODE.CS1 6 3 3 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.CS1_LC_16)
set_location U409_ADDRESS_DECODE.D_1_i 7 4 0 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.D_1_i_LC_17)
set_location U409_ADDRESS_DECODE.N_61_i 5 5 6 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.N_61_i_LC_18)
set_location U409_ADDRESS_DECODE.PCS0 24 3 1 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.PCS0_LC_19)
set_location U409_ADDRESS_DECODE.PCS1 24 2 3 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.PCS1_LC_20)
set_location U409_ADDRESS_DECODE.ROMEN_0_a2 6 9 6 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.ROMEN_0_a2_LC_21)
set_location U409_ADDRESS_DECODE.ROMEN_0_a3_0 6 9 3 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.ROMEN_0_a3_0_LC_22)
set_location U409_ADDRESS_DECODE.ROMEN_0_a3_0_1 5 10 2 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.ROMEN_0_a3_0_1_LC_23)
set_location U409_ADDRESS_DECODE.ROMEN_0_a3_2 6 8 3 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.ROMEN_0_a3_2_LC_24)
set_location U409_ADDRESS_DECODE.ROMEN_0_a3_3 6 9 2 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.ROMEN_0_a3_3_LC_25)
set_location U409_ADDRESS_DECODE.SCS0 24 3 5 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.SCS0_LC_26)
set_location U409_ADDRESS_DECODE.SCS1 24 3 7 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.SCS1_LC_27)
set_location U409_ADDRESS_DECODE.Z2_SPACE_0_a2 1 15 3 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.Z2_SPACE_0_a2_LC_28)
set_location U409_ADDRESS_DECODE.Z2_SPACE_0_a2_3 1 15 2 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.Z2_SPACE_0_a2_3_LC_29)
set_location U409_ADDRESS_DECODE.Z2_SPACE_0_a2_4 1 16 0 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.Z2_SPACE_0_a2_4_LC_30)
set_location U409_ADDRESS_DECODE.Z2_SPACE_0_a3 6 9 5 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.Z2_SPACE_0_a3_LC_31)
set_location U409_ADDRESS_DECODE.un1_CIACS0n_i 14 5 2 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_CIACS0n_i_LC_32)
set_location U409_ADDRESS_DECODE.un1_CIACS1n_i 14 5 4 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_CIACS1n_i_LC_33)
set_location U409_ADDRESS_DECODE.un1_RAMSPACEn 6 8 1 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_RAMSPACEn_LC_34)
set_location U409_ADDRESS_DECODE.un1_RAMSPACEn_1 6 9 1 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_RAMSPACEn_1_LC_35)
set_location U409_ADDRESS_DECODE.un1_RAMSPACEn_i 6 5 4 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_RAMSPACEn_i_LC_36)
set_location U409_ADDRESS_DECODE.un1_REGSPACEn 6 12 4 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_REGSPACEn_LC_37)
set_location U409_ADDRESS_DECODE.un1_REGSPACEn_1 6 12 3 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_REGSPACEn_1_LC_38)
set_location U409_ADDRESS_DECODE.un1_REGSPACEn_i 6 12 7 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_REGSPACEn_i_LC_39)
set_location U409_ADDRESS_DECODE.un1_RTC_ENn_i_i_a2 5 11 5 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_RTC_ENn_i_i_a2_LC_40)
set_location U409_ADDRESS_DECODE.un1_RTC_ENn_i_i_a2_0 2 11 0 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_RTC_ENn_i_i_a2_0_LC_41)
set_location U409_AUTOCONFIG.AC_START_RNI04BC 9 9 3 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.AC_START_RNI04BC_LC_42)
set_location U409_AUTOCONFIG.AC_START_RNO 9 9 1 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.AC_START_LC_43)
set_location U409_AUTOCONFIG.AC_START 9 9 1 # SB_DFF (LogicCell: U409_AUTOCONFIG.AC_START_LC_43)
set_location U409_AUTOCONFIG.AC_TACK_RNO 9 10 1 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.AC_TACK_LC_44)
set_location U409_AUTOCONFIG.AC_TACK 9 10 1 # SB_DFFNSR (LogicCell: U409_AUTOCONFIG.AC_TACK_LC_44)
set_location U409_AUTOCONFIG.BRIDGE_CONF_RNO 9 6 6 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_CONF_LC_45)
set_location U409_AUTOCONFIG.BRIDGE_CONF 9 6 6 # SB_DFFNSR (LogicCell: U409_AUTOCONFIG.BRIDGE_CONF_LC_45)
set_location U409_AUTOCONFIG.BRIDGE_OUT_0_sqmuxa_1 7 10 3 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT_0_sqmuxa_1_LC_46)
set_location U409_AUTOCONFIG.BRIDGE_OUT_0_sqmuxa_1_3 7 10 2 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT_0_sqmuxa_1_3_LC_47)
set_location U409_AUTOCONFIG.BRIDGE_OUT_0_sqmuxa_1_4 6 10 4 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT_0_sqmuxa_1_4_LC_48)
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO[0] 8 8 5 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT[0]_LC_49)
set_location U409_AUTOCONFIG.BRIDGE_OUT[0] 8 8 5 # SB_DFFNE (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT[0]_LC_49)
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO[1] 8 8 6 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT[1]_LC_50)
set_location U409_AUTOCONFIG.BRIDGE_OUT[1] 8 8 6 # SB_DFFNE (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT[1]_LC_50)
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO[2] 8 8 4 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT[2]_LC_51)
set_location U409_AUTOCONFIG.BRIDGE_OUT[2] 8 8 4 # SB_DFFNE (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT[2]_LC_51)
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO[3] 7 9 5 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT[3]_LC_52)
set_location U409_AUTOCONFIG.BRIDGE_OUT[3] 7 9 5 # SB_DFFNE (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT[3]_LC_52)
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_a3_0[0] 5 9 0 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_a3_0[0]_LC_53)
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_a3[1] 8 11 3 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_a3[1]_LC_54)
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_a3_1_0[2] 6 10 0 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_a3_1_0[2]_LC_55)
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_a3[2] 8 10 5 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_a3[2]_LC_56)
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_a3[3] 7 10 1 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_a3[3]_LC_57)
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_o3[2] 6 10 1 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_o3[2]_LC_58)
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_x3[0] 8 9 5 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_x3[0]_LC_59)
set_location U409_AUTOCONFIG.CONFIGENn_RNO 9 6 0 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.CONFIGENn_LC_60)
set_location U409_AUTOCONFIG.CONFIGENn 9 6 0 # SB_DFFNSS (LogicCell: U409_AUTOCONFIG.CONFIGENn_LC_60)
set_location U409_AUTOCONFIG.CONFIGURED_RNO 7 6 7 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.CONFIGURED_LC_61)
set_location U409_AUTOCONFIG.CONFIGURED 7 6 7 # SB_DFFNSR (LogicCell: U409_AUTOCONFIG.CONFIGURED_LC_61)
set_location U409_AUTOCONFIG.LIDE_BASE_RNO_0[1] 7 5 6 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_BASE_RNO_0[1]_LC_62)
set_location U409_AUTOCONFIG.LIDE_BASE_RNO_0[2] 7 5 3 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_BASE_RNO_0[2]_LC_63)
set_location U409_AUTOCONFIG.LIDE_BASE_RNO_0[3] 8 6 4 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_BASE_RNO_0[3]_LC_64)
set_location U409_AUTOCONFIG.LIDE_BASE_RNO_0[4] 7 5 0 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_BASE_RNO_0[4]_LC_65)
set_location U409_AUTOCONFIG.LIDE_BASE_RNO_0[5] 7 5 4 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_BASE_RNO_0[5]_LC_66)
set_location U409_AUTOCONFIG.LIDE_BASE_RNO_0[6] 7 5 1 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_BASE_RNO_0[6]_LC_67)
set_location U409_AUTOCONFIG.LIDE_BASE_RNO_0[7] 8 5 1 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_BASE_RNO_0[7]_LC_68)
set_location U409_AUTOCONFIG.LIDE_BASE_RNO[1] 6 6 2 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_BASE[1]_LC_69)
set_location U409_AUTOCONFIG.LIDE_BASE[1] 6 6 2 # SB_DFFNSR (LogicCell: U409_AUTOCONFIG.LIDE_BASE[1]_LC_69)
set_location U409_AUTOCONFIG.LIDE_BASE_RNO[2] 7 6 1 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_BASE[2]_LC_70)
set_location U409_AUTOCONFIG.LIDE_BASE[2] 7 6 1 # SB_DFFNSR (LogicCell: U409_AUTOCONFIG.LIDE_BASE[2]_LC_70)
set_location U409_AUTOCONFIG.LIDE_BASE_RNO[3] 6 6 5 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_BASE[3]_LC_71)
set_location U409_AUTOCONFIG.LIDE_BASE[3] 6 6 5 # SB_DFFNSR (LogicCell: U409_AUTOCONFIG.LIDE_BASE[3]_LC_71)
set_location U409_AUTOCONFIG.LIDE_BASE_RNO[4] 6 6 6 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_BASE[4]_LC_72)
set_location U409_AUTOCONFIG.LIDE_BASE[4] 6 6 6 # SB_DFFNSR (LogicCell: U409_AUTOCONFIG.LIDE_BASE[4]_LC_72)
set_location U409_AUTOCONFIG.LIDE_BASE_RNO[5] 7 6 3 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_BASE[5]_LC_73)
set_location U409_AUTOCONFIG.LIDE_BASE[5] 7 6 3 # SB_DFFNSR (LogicCell: U409_AUTOCONFIG.LIDE_BASE[5]_LC_73)
set_location U409_AUTOCONFIG.LIDE_BASE_RNO[6] 7 7 2 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_BASE[6]_LC_74)
set_location U409_AUTOCONFIG.LIDE_BASE[6] 7 7 2 # SB_DFFNSR (LogicCell: U409_AUTOCONFIG.LIDE_BASE[6]_LC_74)
set_location U409_AUTOCONFIG.LIDE_BASE_RNO[7] 7 6 2 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_BASE[7]_LC_75)
set_location U409_AUTOCONFIG.LIDE_BASE[7] 7 6 2 # SB_DFFNSR (LogicCell: U409_AUTOCONFIG.LIDE_BASE[7]_LC_75)
set_location U409_AUTOCONFIG.LIDE_CONF_RNI0CVL 8 6 3 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_CONF_RNI0CVL_LC_76)
set_location U409_AUTOCONFIG.LIDE_CONF_RNI0CVL_0 8 6 5 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_CONF_RNI0CVL_0_LC_77)
set_location U409_AUTOCONFIG.LIDE_CONF_RNIH4AI 8 5 6 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_CONF_RNIH4AI_LC_78)
set_location U409_AUTOCONFIG.LIDE_CONF_RNO 9 6 5 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_CONF_LC_79)
set_location U409_AUTOCONFIG.LIDE_CONF 9 6 5 # SB_DFFNSR (LogicCell: U409_AUTOCONFIG.LIDE_CONF_LC_79)
set_location U409_AUTOCONFIG.LIDE_OUT_RNI9FMP[2] 8 6 0 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_RNI9FMP[2]_LC_80)
set_location U409_AUTOCONFIG.LIDE_OUT_RNIBHMP[3] 7 9 4 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_RNIBHMP[3]_LC_81)
set_location U409_AUTOCONFIG.LIDE_OUT_RNIMM061[0] 8 7 6 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_RNIMM061[0]_LC_82)
set_location U409_AUTOCONFIG.LIDE_OUT_RNIOO061[1] 8 6 6 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_RNIOO061[1]_LC_83)
set_location U409_AUTOCONFIG.LIDE_OUT_RNO[0] 8 8 2 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT[0]_LC_84)
set_location U409_AUTOCONFIG.LIDE_OUT[0] 8 8 2 # SB_DFFNE (LogicCell: U409_AUTOCONFIG.LIDE_OUT[0]_LC_84)
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_0[0] 8 9 2 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_RNO_0[0]_LC_85)
set_location U409_AUTOCONFIG.LIDE_OUT_RNO[1] 8 8 0 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT[1]_LC_86)
set_location U409_AUTOCONFIG.LIDE_OUT[1] 8 8 0 # SB_DFFNE (LogicCell: U409_AUTOCONFIG.LIDE_OUT[1]_LC_86)
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_1[0] 8 11 1 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_RNO_1[0]_LC_87)
set_location U409_AUTOCONFIG.LIDE_OUT_RNO[2] 8 8 1 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT[2]_LC_88)
set_location U409_AUTOCONFIG.LIDE_OUT[2] 8 8 1 # SB_DFFNE (LogicCell: U409_AUTOCONFIG.LIDE_OUT[2]_LC_88)
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_2[0] 7 11 0 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_RNO_2[0]_LC_89)
set_location U409_AUTOCONFIG.LIDE_OUT_RNO[3] 7 9 3 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT[3]_LC_90)
set_location U409_AUTOCONFIG.LIDE_OUT[3] 7 9 3 # SB_DFFNE (LogicCell: U409_AUTOCONFIG.LIDE_OUT[3]_LC_90)
set_location U409_AUTOCONFIG.LIDE_OUT_cnst_i_a2[1] 6 10 6 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_cnst_i_a2[1]_LC_91)
set_location U409_AUTOCONFIG.LIDE_OUT_cnst_i_a3_0[1] 6 9 0 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_cnst_i_a3_0[1]_LC_92)
set_location U409_AUTOCONFIG.LIDE_OUT_cnst_i_a3[2] 6 10 5 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_cnst_i_a3[2]_LC_93)
set_location U409_AUTOCONFIG.LIDE_OUT_cnst_i_o3[3] 8 10 3 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_cnst_i_o3[3]_LC_94)
set_location U409_AUTOCONFIG.LV_SPACE 8 11 7 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LV_SPACE_LC_95)
set_location U409_AUTOCONFIG.PORTSIZE_0_i 6 11 5 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.PORTSIZE_0_i_LC_96)
set_location U409_AUTOCONFIG.PORTSIZE_1 6 11 4 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.PORTSIZE_1_LC_97)
set_location U409_AUTOCONFIG.PR_OUT_RNI23A12[3] 7 5 7 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.PR_OUT_RNI23A12[3]_LC_98)
set_location U409_AUTOCONFIG.PR_OUT_RNIA5KD2[0] 8 7 7 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.PR_OUT_RNIA5KD2[0]_LC_99)
set_location U409_AUTOCONFIG.PR_OUT_RNID8KD2[1] 8 6 7 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.PR_OUT_RNID8KD2[1]_LC_100)
set_location U409_AUTOCONFIG.PR_OUT_RNIVV912[2] 8 6 1 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.PR_OUT_RNIVV912[2]_LC_101)
set_location U409_AUTOCONFIG.PR_OUT_RNO[0] 8 8 3 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.PR_OUT[0]_LC_102)
set_location U409_AUTOCONFIG.PR_OUT[0] 8 8 3 # SB_DFFNE (LogicCell: U409_AUTOCONFIG.PR_OUT[0]_LC_102)
set_location U409_AUTOCONFIG.PR_OUT_RNO_0[2] 5 8 3 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.PR_OUT_RNO_0[2]_LC_103)
set_location U409_AUTOCONFIG.PR_OUT_RNO_0[3] 7 10 4 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.PR_OUT_RNO_0[3]_LC_104)
set_location U409_AUTOCONFIG.PR_OUT_RNO[1] 8 8 7 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.PR_OUT[1]_LC_105)
set_location U409_AUTOCONFIG.PR_OUT[1] 8 8 7 # SB_DFFNE (LogicCell: U409_AUTOCONFIG.PR_OUT[1]_LC_105)
set_location U409_AUTOCONFIG.PR_OUT_RNO[2] 7 8 7 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.PR_OUT[2]_LC_106)
set_location U409_AUTOCONFIG.PR_OUT[2] 7 8 7 # SB_DFFNE (LogicCell: U409_AUTOCONFIG.PR_OUT[2]_LC_106)
set_location U409_AUTOCONFIG.PR_OUT_RNO[3] 7 8 4 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.PR_OUT[3]_LC_107)
set_location U409_AUTOCONFIG.PR_OUT[3] 7 8 4 # SB_DFFNE (LogicCell: U409_AUTOCONFIG.PR_OUT[3]_LC_107)
set_location U409_AUTOCONFIG.PR_OUT_cnst_i_a2[0] 8 9 4 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.PR_OUT_cnst_i_a2[0]_LC_108)
set_location U409_AUTOCONFIG.PR_OUT_cnst_i_a4[0] 6 10 2 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.PR_OUT_cnst_i_a4[0]_LC_109)
set_location U409_AUTOCONFIG.PR_OUT_cnst_i_a4_0[0] 6 11 3 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.PR_OUT_cnst_i_a4_0[0]_LC_110)
set_location U409_AUTOCONFIG.STATE_RNI10V92[1] 8 9 1 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.STATE_RNI10V92[1]_LC_111)
set_location U409_AUTOCONFIG.STATE_RNIDEFO1[0] 9 7 7 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.STATE_RNIDEFO1[0]_LC_112)
set_location U409_AUTOCONFIG.STATE_RNIF4QU[0] 9 7 4 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.STATE_RNIF4QU[0]_LC_113)
set_location U409_AUTOCONFIG.STATE_RNIJFAU[0] 9 9 7 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.STATE_RNIJFAU[0]_LC_114)
set_location U409_AUTOCONFIG.STATE_RNIU6QK1[0] 6 7 2 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.STATE_RNIU6QK1[0]_LC_115)
set_location U409_AUTOCONFIG.STATE_RNO[0] 9 8 0 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.STATE[0]_LC_116)
set_location U409_AUTOCONFIG.STATE[0] 9 8 0 # SB_DFFN (LogicCell: U409_AUTOCONFIG.STATE[0]_LC_116)
set_location U409_AUTOCONFIG.STATE_RNO[1] 9 8 2 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.STATE[1]_LC_117)
set_location U409_AUTOCONFIG.STATE[1] 9 8 2 # SB_DFFN (LogicCell: U409_AUTOCONFIG.STATE[1]_LC_117)
set_location U409_AUTOCONFIG.un1_A_13 7 11 6 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.un1_A_13_LC_118)
set_location U409_AUTOCONFIG.un1_A_13_0 7 11 5 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.un1_A_13_0_LC_119)
set_location U409_AUTOCONFIG.un1_A_13_3 6 11 7 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.un1_A_13_3_LC_120)
set_location U409_AUTOCONFIG.un1_A_14_2 6 9 4 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.un1_A_14_2_LC_121)
set_location U409_AUTOCONFIG.un1_STATE_6_0 6 11 6 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.un1_STATE_6_0_LC_122)
set_location U409_CIA.CIA_CLK_COUNT_RNI9DRM[2] 13 10 5 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT_RNI9DRM[2]_LC_123)
set_location U409_CIA.CIA_CLK_COUNT_RNIIQMD1[2] 13 9 6 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT_RNIIQMD1[2]_LC_124)
set_location U409_CIA.CIA_CLK_COUNT_RNIMUMD1[7] 13 9 2 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT_RNIMUMD1[7]_LC_125)
set_location U409_CIA.CIA_CLK_COUNT_RNIQ2ND1[7] 13 10 4 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT_RNIQ2ND1[7]_LC_126)
set_location U409_CIA.CIA_CLK_COUNT_RNO[0] 14 10 0 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT[0]_LC_127)
set_location U409_CIA.CIA_CLK_COUNT[0] 14 10 0 # SB_DFF (LogicCell: U409_CIA.CIA_CLK_COUNT[0]_LC_127)
set_location U409_CIA.CIA_CLK_COUNT_RNO[1] 14 9 7 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT[1]_LC_128)
set_location U409_CIA.CIA_CLK_COUNT[1] 14 9 7 # SB_DFF (LogicCell: U409_CIA.CIA_CLK_COUNT[1]_LC_128)
set_location U409_CIA.CIA_CLK_COUNT_RNO[2] 14 9 1 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT[2]_LC_129)
set_location U409_CIA.CIA_CLK_COUNT[2] 14 9 1 # SB_DFF (LogicCell: U409_CIA.CIA_CLK_COUNT[2]_LC_129)
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_2_c 14 9 1 # SB_CARRY (LogicCell: U409_CIA.CIA_CLK_COUNT[2]_LC_129)
set_location U409_CIA.CIA_CLK_COUNT_RNO[3] 13 9 0 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT[3]_LC_130)
set_location U409_CIA.CIA_CLK_COUNT[3] 13 9 0 # SB_DFF (LogicCell: U409_CIA.CIA_CLK_COUNT[3]_LC_130)
set_location U409_CIA.CIA_CLK_COUNT_RNO[4] 14 9 3 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT[4]_LC_131)
set_location U409_CIA.CIA_CLK_COUNT[4] 14 9 3 # SB_DFF (LogicCell: U409_CIA.CIA_CLK_COUNT[4]_LC_131)
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_4_c 14 9 3 # SB_CARRY (LogicCell: U409_CIA.CIA_CLK_COUNT[4]_LC_131)
set_location U409_CIA.CIA_CLK_COUNT_RNO[5] 13 9 7 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT[5]_LC_132)
set_location U409_CIA.CIA_CLK_COUNT[5] 13 9 7 # SB_DFF (LogicCell: U409_CIA.CIA_CLK_COUNT[5]_LC_132)
set_location U409_CIA.CIA_CLK_COUNT_RNO[6] 14 9 5 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT[6]_LC_133)
set_location U409_CIA.CIA_CLK_COUNT[6] 14 9 5 # SB_DFF (LogicCell: U409_CIA.CIA_CLK_COUNT[6]_LC_133)
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_6_c 14 9 5 # SB_CARRY (LogicCell: U409_CIA.CIA_CLK_COUNT[6]_LC_133)
set_location U409_CIA.CIA_CLK_COUNT_RNO[7] 14 9 6 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT[7]_LC_134)
set_location U409_CIA.CIA_CLK_COUNT[7] 14 9 6 # SB_DFF (LogicCell: U409_CIA.CIA_CLK_COUNT[7]_LC_134)
set_location U409_CIA.CLK_CIA_RNO 13 10 7 # SB_LUT4 (LogicCell: U409_CIA.CLK_CIA_LC_135)
set_location U409_CIA.CLK_CIA 13 10 7 # SB_DFF (LogicCell: U409_CIA.CLK_CIA_LC_135)
set_location U409_CIA.CLK_CIA_RNO_0 13 10 6 # SB_LUT4 (LogicCell: U409_CIA.CLK_CIA_RNO_0_LC_136)
set_location U409_CIA.CLK_CIA_RNO_1 13 9 3 # SB_LUT4 (LogicCell: U409_CIA.CLK_CIA_RNO_1_LC_137)
set_location U409_CIA.CLK_CIA_RNO_2 13 9 4 # SB_LUT4 (LogicCell: U409_CIA.CLK_CIA_RNO_2_LC_138)
set_location U409_CIA.VMA_RNI692L 16 10 7 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.CIA_ENABLED[0]_LC_139)
set_location U409_TRANSFER_ACK.CIA_ENABLED[0] 16 10 7 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.CIA_ENABLED[0]_LC_139)
set_location U409_CIA.VMA_RNI692L_0 14 5 1 # SB_LUT4 (LogicCell: U409_CIA.VMA_RNI692L_0_LC_140)
set_location U409_CIA.VMA_RNO 14 10 7 # SB_LUT4 (LogicCell: U409_CIA.VMA_LC_141)
set_location U409_CIA.VMA 14 10 7 # SB_DFF (LogicCell: U409_CIA.VMA_LC_141)
set_location U409_CIA.VMA_RNO_0 14 10 6 # SB_LUT4 (LogicCell: U409_CIA.VMA_RNO_0_LC_142)
set_location U409_CIA.VMA_RNO_1 14 10 5 # SB_LUT4 (LogicCell: U409_CIA.VMA_RNO_1_LC_143)
set_location U409_TICK.COUNTER50_RNID6CP[3] 16 6 6 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNID6CP[3]_LC_144)
set_location U409_TICK.COUNTER50_RNIH14V[11] 16 7 6 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNIH14V[11]_LC_145)
set_location U409_TICK.COUNTER50_RNII24V[14] 16 7 0 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNII24V[14]_LC_146)
set_location U409_TICK.COUNTER50_RNITU182[10] 16 6 7 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNITU182[10]_LC_147)
set_location U409_TICK.COUNTER50_RNIUHF01[16] 16 6 5 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNIUHF01[16]_LC_148)
set_location U409_TICK.COUNTER50_RNO[0] 16 6 2 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[0]_LC_149)
set_location U409_TICK.COUNTER50[0] 16 6 2 # SB_DFF (LogicCell: U409_TICK.COUNTER50[0]_LC_149)
set_location U409_TICK.COUNTER50_RNO_0[11] 17 7 2 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNO_0[11]_LC_150)
set_location U409_TICK.un2_COUNTER50_1_cry_11_c 17 7 2 # SB_CARRY (LogicCell: U409_TICK.COUNTER50_RNO_0[11]_LC_150)
set_location U409_TICK.COUNTER50_RNO_0[13] 17 7 4 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNO_0[13]_LC_151)
set_location U409_TICK.un2_COUNTER50_1_cry_13_c 17 7 4 # SB_CARRY (LogicCell: U409_TICK.COUNTER50_RNO_0[13]_LC_151)
set_location U409_TICK.COUNTER50_RNO_0[14] 17 7 5 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNO_0[14]_LC_152)
set_location U409_TICK.un2_COUNTER50_1_cry_14_c 17 7 5 # SB_CARRY (LogicCell: U409_TICK.COUNTER50_RNO_0[14]_LC_152)
set_location U409_TICK.COUNTER50_RNO_0[15] 17 7 6 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNO_0[15]_LC_153)
set_location U409_TICK.un2_COUNTER50_1_cry_15_c 17 7 6 # SB_CARRY (LogicCell: U409_TICK.COUNTER50_RNO_0[15]_LC_153)
set_location U409_TICK.COUNTER50_RNO_0[5] 17 6 4 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNO_0[5]_LC_154)
set_location U409_TICK.un2_COUNTER50_1_cry_5_c 17 6 4 # SB_CARRY (LogicCell: U409_TICK.COUNTER50_RNO_0[5]_LC_154)
set_location U409_TICK.COUNTER50_RNO_0[6] 17 6 5 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNO_0[6]_LC_155)
set_location U409_TICK.un2_COUNTER50_1_cry_6_c 17 6 5 # SB_CARRY (LogicCell: U409_TICK.COUNTER50_RNO_0[6]_LC_155)
set_location U409_TICK.COUNTER50_RNO_0[9] 17 7 0 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNO_0[9]_LC_156)
set_location U409_TICK.un2_COUNTER50_1_cry_9_c 17 7 0 # SB_CARRY (LogicCell: U409_TICK.COUNTER50_RNO_0[9]_LC_156)
set_location U409_TICK.COUNTER50_RNO[1] 16 6 1 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[1]_LC_157)
set_location U409_TICK.COUNTER50[1] 16 6 1 # SB_DFF (LogicCell: U409_TICK.COUNTER50[1]_LC_157)
set_location U409_TICK.COUNTER50_RNO[10] 17 7 1 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[10]_LC_158)
set_location U409_TICK.COUNTER50[10] 17 7 1 # SB_DFF (LogicCell: U409_TICK.COUNTER50[10]_LC_158)
set_location U409_TICK.un2_COUNTER50_1_cry_10_c 17 7 1 # SB_CARRY (LogicCell: U409_TICK.COUNTER50[10]_LC_158)
set_location U409_TICK.COUNTER50_RNO[11] 16 7 1 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[11]_LC_159)
set_location U409_TICK.COUNTER50[11] 16 7 1 # SB_DFF (LogicCell: U409_TICK.COUNTER50[11]_LC_159)
set_location U409_TICK.COUNTER50_RNO[12] 17 7 3 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[12]_LC_160)
set_location U409_TICK.COUNTER50[12] 17 7 3 # SB_DFF (LogicCell: U409_TICK.COUNTER50[12]_LC_160)
set_location U409_TICK.un2_COUNTER50_1_cry_12_c 17 7 3 # SB_CARRY (LogicCell: U409_TICK.COUNTER50[12]_LC_160)
set_location U409_TICK.COUNTER50_RNO[13] 16 7 7 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[13]_LC_161)
set_location U409_TICK.COUNTER50[13] 16 7 7 # SB_DFF (LogicCell: U409_TICK.COUNTER50[13]_LC_161)
set_location U409_TICK.COUNTER50_RNO[14] 16 7 2 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[14]_LC_162)
set_location U409_TICK.COUNTER50[14] 16 7 2 # SB_DFF (LogicCell: U409_TICK.COUNTER50[14]_LC_162)
set_location U409_TICK.COUNTER50_RNO[15] 16 7 3 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[15]_LC_163)
set_location U409_TICK.COUNTER50[15] 16 7 3 # SB_DFF (LogicCell: U409_TICK.COUNTER50[15]_LC_163)
set_location U409_TICK.COUNTER50_RNO[16] 17 7 7 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[16]_LC_164)
set_location U409_TICK.COUNTER50[16] 17 7 7 # SB_DFF (LogicCell: U409_TICK.COUNTER50[16]_LC_164)
set_location U409_TICK.COUNTER50_RNO[2] 17 6 1 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[2]_LC_165)
set_location U409_TICK.COUNTER50[2] 17 6 1 # SB_DFF (LogicCell: U409_TICK.COUNTER50[2]_LC_165)
set_location U409_TICK.un2_COUNTER50_1_cry_2_c 17 6 1 # SB_CARRY (LogicCell: U409_TICK.COUNTER50[2]_LC_165)
set_location U409_TICK.COUNTER50_RNO[3] 17 6 2 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[3]_LC_166)
set_location U409_TICK.COUNTER50[3] 17 6 2 # SB_DFF (LogicCell: U409_TICK.COUNTER50[3]_LC_166)
set_location U409_TICK.un2_COUNTER50_1_cry_3_c 17 6 2 # SB_CARRY (LogicCell: U409_TICK.COUNTER50[3]_LC_166)
set_location U409_TICK.COUNTER50_RNO[4] 17 6 3 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[4]_LC_167)
set_location U409_TICK.COUNTER50[4] 17 6 3 # SB_DFF (LogicCell: U409_TICK.COUNTER50[4]_LC_167)
set_location U409_TICK.un2_COUNTER50_1_cry_4_c 17 6 3 # SB_CARRY (LogicCell: U409_TICK.COUNTER50[4]_LC_167)
set_location U409_TICK.COUNTER50_RNO[5] 16 6 4 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[5]_LC_168)
set_location U409_TICK.COUNTER50[5] 16 6 4 # SB_DFF (LogicCell: U409_TICK.COUNTER50[5]_LC_168)
set_location U409_TICK.COUNTER50_RNO[6] 16 6 0 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[6]_LC_169)
set_location U409_TICK.COUNTER50[6] 16 6 0 # SB_DFF (LogicCell: U409_TICK.COUNTER50[6]_LC_169)
set_location U409_TICK.COUNTER50_RNO[7] 17 6 6 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[7]_LC_170)
set_location U409_TICK.COUNTER50[7] 17 6 6 # SB_DFF (LogicCell: U409_TICK.COUNTER50[7]_LC_170)
set_location U409_TICK.un2_COUNTER50_1_cry_7_c 17 6 6 # SB_CARRY (LogicCell: U409_TICK.COUNTER50[7]_LC_170)
set_location U409_TICK.COUNTER50_RNO[8] 17 6 7 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[8]_LC_171)
set_location U409_TICK.COUNTER50[8] 17 6 7 # SB_DFF (LogicCell: U409_TICK.COUNTER50[8]_LC_171)
set_location U409_TICK.un2_COUNTER50_1_cry_8_c 17 6 7 # SB_CARRY (LogicCell: U409_TICK.COUNTER50[8]_LC_171)
set_location U409_TICK.COUNTER50_RNO[9] 16 7 5 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[9]_LC_172)
set_location U409_TICK.COUNTER50[9] 16 7 5 # SB_DFF (LogicCell: U409_TICK.COUNTER50[9]_LC_172)
set_location U409_TICK.COUNTER60_RNI2USG[10] 15 9 2 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60_RNI2USG[10]_LC_173)
set_location U409_TICK.COUNTER60_RNI335G2[11] 16 8 2 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60_RNI335G2[11]_LC_174)
set_location U409_TICK.COUNTER60_RNICDC71[14] 15 9 3 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60_RNICDC71[14]_LC_175)
set_location U409_TICK.COUNTER60_RNIDB4S[16] 16 8 5 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60_RNIDB4S[16]_LC_176)
set_location U409_TICK.COUNTER60_RNIHJU51[4] 16 8 1 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60_RNIHJU51[4]_LC_177)
set_location U409_TICK.COUNTER60_RNO[0] 16 8 3 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[0]_LC_178)
set_location U409_TICK.COUNTER60[0] 16 8 3 # SB_DFF (LogicCell: U409_TICK.COUNTER60[0]_LC_178)
set_location U409_TICK.COUNTER60_RNO_0[14] 15 8 5 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60_RNO_0[14]_LC_179)
set_location U409_TICK.un3_COUNTER60_1_cry_14_c 15 8 5 # SB_CARRY (LogicCell: U409_TICK.COUNTER60_RNO_0[14]_LC_179)
set_location U409_TICK.COUNTER60_RNO_0[15] 15 8 6 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60_RNO_0[15]_LC_180)
set_location U409_TICK.un3_COUNTER60_1_cry_15_c 15 8 6 # SB_CARRY (LogicCell: U409_TICK.COUNTER60_RNO_0[15]_LC_180)
set_location U409_TICK.COUNTER60_RNO_0[4] 15 7 3 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60_RNO_0[4]_LC_181)
set_location U409_TICK.un3_COUNTER60_1_cry_4_c 15 7 3 # SB_CARRY (LogicCell: U409_TICK.COUNTER60_RNO_0[4]_LC_181)
set_location U409_TICK.COUNTER60_RNO_0[6] 15 7 5 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60_RNO_0[6]_LC_182)
set_location U409_TICK.un3_COUNTER60_1_cry_6_c 15 7 5 # SB_CARRY (LogicCell: U409_TICK.COUNTER60_RNO_0[6]_LC_182)
set_location U409_TICK.COUNTER60_RNO_0[8] 15 7 7 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60_RNO_0[8]_LC_183)
set_location U409_TICK.un3_COUNTER60_1_cry_8_c 15 7 7 # SB_CARRY (LogicCell: U409_TICK.COUNTER60_RNO_0[8]_LC_183)
set_location U409_TICK.COUNTER60_RNO_0[9] 15 8 0 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60_RNO_0[9]_LC_184)
set_location U409_TICK.un3_COUNTER60_1_cry_9_c 15 8 0 # SB_CARRY (LogicCell: U409_TICK.COUNTER60_RNO_0[9]_LC_184)
set_location U409_TICK.COUNTER60_RNO[1] 16 7 4 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[1]_LC_185)
set_location U409_TICK.COUNTER60[1] 16 7 4 # SB_DFF (LogicCell: U409_TICK.COUNTER60[1]_LC_185)
set_location U409_TICK.COUNTER60_RNO[10] 15 8 1 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[10]_LC_186)
set_location U409_TICK.COUNTER60[10] 15 8 1 # SB_DFF (LogicCell: U409_TICK.COUNTER60[10]_LC_186)
set_location U409_TICK.un3_COUNTER60_1_cry_10_c 15 8 1 # SB_CARRY (LogicCell: U409_TICK.COUNTER60[10]_LC_186)
set_location U409_TICK.COUNTER60_RNO[11] 15 8 2 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[11]_LC_187)
set_location U409_TICK.COUNTER60[11] 15 8 2 # SB_DFF (LogicCell: U409_TICK.COUNTER60[11]_LC_187)
set_location U409_TICK.un3_COUNTER60_1_cry_11_c 15 8 2 # SB_CARRY (LogicCell: U409_TICK.COUNTER60[11]_LC_187)
set_location U409_TICK.COUNTER60_RNO[12] 15 8 3 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[12]_LC_188)
set_location U409_TICK.COUNTER60[12] 15 8 3 # SB_DFF (LogicCell: U409_TICK.COUNTER60[12]_LC_188)
set_location U409_TICK.un3_COUNTER60_1_cry_12_c 15 8 3 # SB_CARRY (LogicCell: U409_TICK.COUNTER60[12]_LC_188)
set_location U409_TICK.COUNTER60_RNO[13] 15 8 4 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[13]_LC_189)
set_location U409_TICK.COUNTER60[13] 15 8 4 # SB_DFF (LogicCell: U409_TICK.COUNTER60[13]_LC_189)
set_location U409_TICK.un3_COUNTER60_1_cry_13_c 15 8 4 # SB_CARRY (LogicCell: U409_TICK.COUNTER60[13]_LC_189)
set_location U409_TICK.COUNTER60_RNO[14] 16 9 0 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[14]_LC_190)
set_location U409_TICK.COUNTER60[14] 16 9 0 # SB_DFF (LogicCell: U409_TICK.COUNTER60[14]_LC_190)
set_location U409_TICK.COUNTER60_RNO[15] 16 9 5 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[15]_LC_191)
set_location U409_TICK.COUNTER60[15] 16 9 5 # SB_DFF (LogicCell: U409_TICK.COUNTER60[15]_LC_191)
set_location U409_TICK.COUNTER60_RNO[16] 15 8 7 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[16]_LC_192)
set_location U409_TICK.COUNTER60[16] 15 8 7 # SB_DFF (LogicCell: U409_TICK.COUNTER60[16]_LC_192)
set_location U409_TICK.COUNTER60_RNO[2] 15 7 1 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[2]_LC_193)
set_location U409_TICK.COUNTER60[2] 15 7 1 # SB_DFF (LogicCell: U409_TICK.COUNTER60[2]_LC_193)
set_location U409_TICK.un3_COUNTER60_1_cry_2_c 15 7 1 # SB_CARRY (LogicCell: U409_TICK.COUNTER60[2]_LC_193)
set_location U409_TICK.COUNTER60_RNO[3] 15 7 2 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[3]_LC_194)
set_location U409_TICK.COUNTER60[3] 15 7 2 # SB_DFF (LogicCell: U409_TICK.COUNTER60[3]_LC_194)
set_location U409_TICK.un3_COUNTER60_1_cry_3_c 15 7 2 # SB_CARRY (LogicCell: U409_TICK.COUNTER60[3]_LC_194)
set_location U409_TICK.COUNTER60_RNO[4] 16 8 6 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[4]_LC_195)
set_location U409_TICK.COUNTER60[4] 16 8 6 # SB_DFF (LogicCell: U409_TICK.COUNTER60[4]_LC_195)
set_location U409_TICK.COUNTER60_RNO[5] 15 7 4 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[5]_LC_196)
set_location U409_TICK.COUNTER60[5] 15 7 4 # SB_DFF (LogicCell: U409_TICK.COUNTER60[5]_LC_196)
set_location U409_TICK.un3_COUNTER60_1_cry_5_c 15 7 4 # SB_CARRY (LogicCell: U409_TICK.COUNTER60[5]_LC_196)
set_location U409_TICK.COUNTER60_RNO[6] 16 8 4 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[6]_LC_197)
set_location U409_TICK.COUNTER60[6] 16 8 4 # SB_DFF (LogicCell: U409_TICK.COUNTER60[6]_LC_197)
set_location U409_TICK.COUNTER60_RNO[7] 15 7 6 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[7]_LC_198)
set_location U409_TICK.COUNTER60[7] 15 7 6 # SB_DFF (LogicCell: U409_TICK.COUNTER60[7]_LC_198)
set_location U409_TICK.un3_COUNTER60_1_cry_7_c 15 7 6 # SB_CARRY (LogicCell: U409_TICK.COUNTER60[7]_LC_198)
set_location U409_TICK.COUNTER60_RNO[8] 16 8 7 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[8]_LC_199)
set_location U409_TICK.COUNTER60[8] 16 8 7 # SB_DFF (LogicCell: U409_TICK.COUNTER60[8]_LC_199)
set_location U409_TICK.COUNTER60_RNO[9] 16 9 6 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[9]_LC_200)
set_location U409_TICK.COUNTER60[9] 16 9 6 # SB_DFF (LogicCell: U409_TICK.COUNTER60[9]_LC_200)
set_location U409_TICK.TICK50_RNO 16 6 3 # SB_LUT4 (LogicCell: U409_TICK.TICK50_LC_201)
set_location U409_TICK.TICK50 16 6 3 # SB_DFF (LogicCell: U409_TICK.TICK50_LC_201)
set_location U409_TICK.TICK60_RNO 16 8 0 # SB_LUT4 (LogicCell: U409_TICK.TICK60_LC_202)
set_location U409_TICK.TICK60 16 8 0 # SB_DFF (LogicCell: U409_TICK.TICK60_LC_202)
set_location U409_TRANSFER_ACK.CIA_STATE_RNO[0] 15 9 0 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.CIA_STATE[0]_LC_203)
set_location U409_TRANSFER_ACK.CIA_STATE[0] 15 9 0 # SB_DFFN (LogicCell: U409_TRANSFER_ACK.CIA_STATE[0]_LC_203)
set_location U409_TRANSFER_ACK.CIA_STATE_RNO_0[0] 16 9 2 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.CIA_STATE_RNO_0[0]_LC_204)
set_location U409_TRANSFER_ACK.CIA_STATE_RNO_0[1] 16 9 4 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.CIA_STATE_RNO_0[1]_LC_205)
set_location U409_TRANSFER_ACK.CIA_STATE_RNO[1] 15 9 7 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.CIA_STATE[1]_LC_206)
set_location U409_TRANSFER_ACK.CIA_STATE[1] 15 9 7 # SB_DFFN (LogicCell: U409_TRANSFER_ACK.CIA_STATE[1]_LC_206)
set_location U409_TRANSFER_ACK.CIA_STATE_RNO_1[0] 16 9 7 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.CIA_STATE_RNO_1[0]_LC_207)
set_location U409_TRANSFER_ACK.CIA_TACK_EN_RNIBQIN 11 10 7 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.CIA_TACK_EN_RNIBQIN_LC_208)
set_location U409_TRANSFER_ACK.CIA_TACK_EN_RNO 15 10 1 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.CIA_TACK_EN_LC_209)
set_location U409_TRANSFER_ACK.CIA_TACK_EN 15 10 1 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.CIA_TACK_EN_LC_209)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI11UH2[1] 12 12 0 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI11UH2[1]_LC_210)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI2DKM1_0[7] 11 11 5 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI2DKM1_0[7]_LC_211)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI2DKM1[7] 11 12 3 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI2DKM1[7]_LC_212)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI9U9R[2] 11 11 6 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI9U9R[2]_LC_213)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIK98D3_0[3] 11 11 7 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIK98D3_0[3]_LC_214)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIK98D3[3] 10 11 5 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIK98D3[3]_LC_215)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIQ4KM1[2] 11 12 5 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIQ4KM1[2]_LC_216)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIQTP87[3] 10 11 6 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIQTP87[3]_LC_217)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNISRU81[2] 11 11 2 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNISRU81[2]_LC_218)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[0] 12 11 6 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[0]_LC_219)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[0] 12 11 6 # SB_DFFNR (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[0]_LC_219)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO_0[5] 9 12 4 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO_0[5]_LC_220)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[1] 10 12 1 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[1]_LC_221)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[1] 10 12 1 # SB_DFFNR (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[1]_LC_221)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[2] 12 11 1 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[2]_LC_222)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[2] 12 11 1 # SB_DFFNR (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[2]_LC_222)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[3] 10 12 5 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[3]_LC_223)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[3] 10 12 5 # SB_DFFNR (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[3]_LC_223)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[4] 10 11 7 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[4]_LC_224)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[4] 10 11 7 # SB_DFFNR (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[4]_LC_224)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[5] 11 12 4 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[5]_LC_225)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[5] 11 12 4 # SB_DFFNR (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[5]_LC_225)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[6] 11 12 2 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[6]_LC_226)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[6] 11 12 2 # SB_DFFNR (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[6]_LC_226)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[7] 11 12 6 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[7]_LC_227)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[7] 11 12 6 # SB_DFFNR (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[7]_LC_227)
set_location U409_TRANSFER_ACK.DELAYED_TACK_EN_RNIGAOA 11 10 6 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_EN_RNIGAOA_LC_228)
set_location U409_TRANSFER_ACK.DELAYED_TACK_EN_RNO 10 11 2 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_EN_LC_229)
set_location U409_TRANSFER_ACK.DELAYED_TACK_EN 10 11 2 # SB_DFFNR (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_EN_LC_229)
set_location U409_TRANSFER_ACK.DELAYED_TACK_RST_0_i 9 12 0 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_RST_0_i_LC_230)
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER_0_sqmuxa_0_a2 5 11 4 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.IRQ_TACK_COUNTER_0_sqmuxa_0_a2_LC_231)
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER_0_sqmuxa_0_a3_0_14_10 1 16 3 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.IRQ_TACK_COUNTER_0_sqmuxa_0_a3_0_14_10_LC_232)
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER_0_sqmuxa_0_a3_0_14_11 2 14 1 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.IRQ_TACK_COUNTER_0_sqmuxa_0_a3_0_14_11_LC_233)
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER_0_sqmuxa_0_a3_0_14_8 5 14 1 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.IRQ_TACK_COUNTER_0_sqmuxa_0_a3_0_14_8_LC_234)
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER_0_sqmuxa_0_a3_0_14_9 1 15 1 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.IRQ_TACK_COUNTER_0_sqmuxa_0_a3_0_14_9_LC_235)
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER_0_sqmuxa_0_a3_1 5 11 6 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.IRQ_TACK_COUNTER_0_sqmuxa_0_a3_1_LC_236)
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER_0_sqmuxa_0_tz_tz 2 14 2 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.IRQ_TACK_COUNTER_0_sqmuxa_0_tz_tz_LC_237)
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER_RNO 12 9 7 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.IRQ_TACK_COUNTER_LC_238)
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER 12 9 7 # SB_DFFN (LogicCell: U409_TRANSFER_ACK.IRQ_TACK_COUNTER_LC_238)
set_location U409_TRANSFER_ACK.IRQ_TACK_EN_RNO 12 10 4 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.IRQ_TACK_EN_LC_239)
set_location U409_TRANSFER_ACK.IRQ_TACK_EN 12 10 4 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.IRQ_TACK_EN_LC_239)
set_location U409_TRANSFER_ACK.LASTCLK_RNI9HNJ[1] 16 9 1 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.LASTCLK_RNI9HNJ[1]_LC_240)
set_location U409_TRANSFER_ACK.LASTCLK_RNIHJ5G[1] 16 9 3 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.LASTCLK_RNIHJ5G[1]_LC_241)
set_location U409_TRANSFER_ACK.ROMENn_RNO 14 12 3 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROMENn_LC_242)
set_location U409_TRANSFER_ACK.ROMENn 14 12 3 # SB_DFFNSS (LogicCell: U409_TRANSFER_ACK.ROMENn_LC_242)
set_location U409_TRANSFER_ACK.ROMENn_RNO_0 14 11 7 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROMENn_RNO_0_LC_243)
set_location U409_TRANSFER_ACK.ROMENn_RNO_1 14 11 5 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROMENn_RNO_1_LC_244)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNI1MEE[1] 14 11 6 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNI1MEE[1]_LC_245)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[0] 15 10 2 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER[0]_LC_246)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[0] 15 10 2 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER[0]_LC_246)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[1] 15 11 2 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER[1]_LC_247)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[1] 15 11 2 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER[1]_LC_247)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[2] 15 11 7 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER[2]_LC_248)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[2] 15 11 7 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER[2]_LC_248)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[3] 15 11 3 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER[3]_LC_249)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[3] 15 11 3 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER[3]_LC_249)
set_location U409_TRANSFER_ACK.ROM_TACK_EN_RNO 13 11 6 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROM_TACK_EN_LC_250)
set_location U409_TRANSFER_ACK.ROM_TACK_EN 13 11 6 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.ROM_TACK_EN_LC_250)
set_location U409_TRANSFER_ACK.ROM_TACK_EN_RNO_0 14 11 2 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROM_TACK_EN_RNO_0_LC_251)
set_location U409_TRANSFER_ACK.TACK_COUNTER_RNO[0] 11 10 3 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.TACK_COUNTER[0]_LC_252)
set_location U409_TRANSFER_ACK.TACK_COUNTER[0] 11 10 3 # SB_DFFN (LogicCell: U409_TRANSFER_ACK.TACK_COUNTER[0]_LC_252)
set_location U409_TRANSFER_ACK.TACK_COUNTER_RNO[1] 11 10 5 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.TACK_COUNTER[1]_LC_253)
set_location U409_TRANSFER_ACK.TACK_COUNTER[1] 11 10 5 # SB_DFFN (LogicCell: U409_TRANSFER_ACK.TACK_COUNTER[1]_LC_253)
set_location U409_TRANSFER_ACK.TACK_EN_RNIPUKQ5 15 16 4 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.TACK_EN_RNIPUKQ5_LC_254)
set_location U409_TRANSFER_ACK.TACK_EN_RNO 12 10 2 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.TACK_EN_LC_255)
set_location U409_TRANSFER_ACK.TACK_EN 12 10 2 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.TACK_EN_LC_255)
set_location U409_TRANSFER_ACK.TACK_OUT_RNO 12 10 5 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.TACK_OUT_LC_256)
set_location U409_TRANSFER_ACK.TACK_OUT 12 10 5 # SB_DFFNSS (LogicCell: U409_TRANSFER_ACK.TACK_OUT_LC_256)
set_location U409_TRANSFER_ACK.un1_ROM_TACK_COUNTER20_3_0_a4_1 13 12 3 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.un1_ROM_TACK_COUNTER20_3_0_a4_1_LC_257)
set_location U409_TRANSFER_ACK.CIA_ENABLED_1_THRU_LUT4_0 16 10 2 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.CIA_ENABLED[1]_LC_258)
set_location U409_TRANSFER_ACK.CIA_ENABLED[1] 16 10 2 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.CIA_ENABLED[1]_LC_258)
set_location U409_TRANSFER_ACK.LASTCLK_0_THRU_LUT4_0 15 10 6 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.LASTCLK[0]_LC_259)
set_location U409_TRANSFER_ACK.LASTCLK[0] 15 10 6 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.LASTCLK[0]_LC_259)
set_location U409_TRANSFER_ACK.LASTCLK_1_THRU_LUT4_0 16 10 0 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.LASTCLK[1]_LC_260)
set_location U409_TRANSFER_ACK.LASTCLK[1] 16 10 0 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.LASTCLK[1]_LC_260)
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_2_THRU_LUT4_0 14 9 2 # SB_LUT4 (LogicCell: U409_CIA.un2_CIA_CLK_COUNT_cry_2_THRU_LUT4_0_LC_261)
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_3_c 14 9 2 # SB_CARRY (LogicCell: U409_CIA.un2_CIA_CLK_COUNT_cry_2_THRU_LUT4_0_LC_261)
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_4_THRU_LUT4_0 14 9 4 # SB_LUT4 (LogicCell: U409_CIA.un2_CIA_CLK_COUNT_cry_4_THRU_LUT4_0_LC_262)
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_5_c 14 9 4 # SB_CARRY (LogicCell: U409_CIA.un2_CIA_CLK_COUNT_cry_4_THRU_LUT4_0_LC_262)
set_location GB_BUFFER_CLK40_IN_c_g_THRU_LUT4_0 12 1 6 # SB_LUT4 (LogicCell: GB_BUFFER_CLK40_IN_c_g_THRU_LUT4_0_LC_263)
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_1_c 14 9 0 # SB_CARRY (LogicCell: U409_CIA.un2_CIA_CLK_COUNT_cry_1_c_LC_264)
set_location U409_TICK.un2_COUNTER50_1_cry_1_c 17 6 0 # SB_CARRY (LogicCell: U409_TICK.un2_COUNTER50_1_cry_1_c_LC_265)
set_location U409_TICK.un3_COUNTER60_1_cry_1_c 15 7 0 # SB_CARRY (LogicCell: U409_TICK.un3_COUNTER60_1_cry_1_c_LC_266)
set_io AGNUS_CLK_obuf 25 14 0 # ICE_IO
set_io ATA_ENn_obuf 25 9 1 # ICE_IO
set_io AUTOBOOT_ibuf 24 21 1 # ICE_IO
set_io A_ibuf[1] 2 21 1 # ICE_IO
set_io A_ibuf[12] 0 6 0 # ICE_IO
set_io A_ibuf[13] 0 3 1 # ICE_IO
set_io A_ibuf[14] 0 3 0 # ICE_IO
set_io A_ibuf[15] 0 2 1 # ICE_IO
set_io A_ibuf[16] 0 2 0 # ICE_IO
set_io A_ibuf[17] 0 1 1 # ICE_IO
set_io A_ibuf[18] 0 1 0 # ICE_IO
set_io A_ibuf[19] 2 0 0 # ICE_IO
set_io A_ibuf[2] 3 21 0 # ICE_IO
set_io A_ibuf[20] 0 12 1 # ICE_IO
set_io A_ibuf[21] 0 13 1 # ICE_IO
set_io A_ibuf[22] 0 19 1 # ICE_IO
set_io A_ibuf[23] 0 13 0 # ICE_IO
set_io A_ibuf[24] 0 18 0 # ICE_IO
set_io A_ibuf[25] 0 15 0 # ICE_IO
set_io A_ibuf[26] 0 19 0 # ICE_IO
set_io A_ibuf[27] 0 15 1 # ICE_IO
set_io A_ibuf[28] 0 20 0 # ICE_IO
set_io A_ibuf[29] 0 18 1 # ICE_IO
set_io A_ibuf[3] 0 20 1 # ICE_IO
set_io A_ibuf[30] 0 17 1 # ICE_IO
set_io A_ibuf[31] 0 17 0 # ICE_IO
set_io A_ibuf[4] 0 12 0 # ICE_IO
set_io A_ibuf[5] 0 11 1 # ICE_IO
set_io A_ibuf[6] 0 11 0 # ICE_IO
set_io A_ibuf[7] 0 10 1 # ICE_IO
set_io BUFENn_obuf 18 21 0 # ICE_IO
set_io CIACS0n_obuf 25 4 1 # ICE_IO
set_io CIACS1n_obuf 25 5 0 # ICE_IO
set_io CLK28_IN_ibuf_gb_io 25 11 0 # ICE_GB_IO
set_io CLK40_IN_ibuf_gb_io 12 21 1 # ICE_GB_IO
set_io CLK6_ibuf_gb_io 13 0 0 # ICE_GB_IO
set_io CLK_CIA_obuf 15 21 1 # ICE_IO
set_io CONFIGENn_obuf 18 0 0 # ICE_IO
set_io CPUCONFn_ibuf 9 21 1 # ICE_IO
set_io D_iobuf[4] 7 0 1 # ICE_IO
set_io D_iobuf[5] 8 0 0 # ICE_IO
set_io D_iobuf[6] 8 0 1 # ICE_IO
set_io D_iobuf[7] 11 0 1 # ICE_IO
set_io F_ENn_obuf 25 12 1 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io OVL_ibuf 25 6 0 # ICE_IO
set_io PCS0_obuf 25 2 0 # ICE_IO
set_io PCS1_obuf 25 2 1 # ICE_IO
set_io PORTSIZE_obuf 7 21 0 # ICE_IO
set_io PPIO_J_ibuf 24 21 0 # ICE_IO
set_io PPIO_obuf 25 8 1 # ICE_IO
set_io RAMSPACEn_obuf 12 0 0 # ICE_IO
set_io REGSPACEn_obuf 19 21 0 # ICE_IO
set_io RESETn_ibuf 21 0 0 # ICE_IO
set_io RESETn_ibuf_RNIM9SF_0 12 21 1 # ICE_GB
set_io ROMENn_obuf 15 21 0 # ICE_IO
set_io RTC_ENn_obuf 25 5 1 # ICE_IO
set_io RnW_ibuf 3 21 1 # ICE_IO
set_io SCS0_obuf 25 3 1 # ICE_IO
set_io SCS1_obuf 25 4 0 # ICE_IO
set_io SPIO_J_ibuf 23 21 1 # ICE_IO
set_io SPIO_obuf 25 9 0 # ICE_IO
set_io TACKn_iobuf 19 21 1 # ICE_IO
set_io TBIn_obuft 20 21 0 # ICE_IO
set_io TCIn_obuft 21 21 1 # ICE_IO
set_io TICK50_obuf 22 0 1 # ICE_IO
set_io TICK60_obuf 22 0 0 # ICE_IO
set_io TSn_ibuf 7 21 1 # ICE_IO
set_io TT_ibuf[0] 5 21 1 # ICE_IO
set_io TT_ibuf[1] 5 21 0 # ICE_IO
set_io XCLK_ENn_ibuf 25 17 0 # ICE_IO
set_io XCLK_ibuf 25 10 1 # ICE_IO
set_location pll 12 0 1 # SB_PLL40_CORE
set_location INV_CLK40_IN_c_g -1 -1 -1 # INV
set_location INV_CLK80_OUT -1 -1 -1 # INV
set_location CONSTANT_ONE_LUT4 18 12 4 # SB_LUT4 (LogicCell: LC_267)
