set_location RESETn_ibuf_RNIM9SF 13 15 1 # SB_LUT4 (LogicCell: RESETn_ibuf_RNIM9SF_LC_0)
set_location RnW_c_sbtinv 6 10 7 # SB_LUT4 (LogicCell: RnW_c_sbtinv_LC_1)
set_location U111_CYCLE_SM.A_OUT_RNIK8GP 3 1 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.A_OUT_RNIK8GP_LC_2)
set_location U111_CYCLE_SM.A_OUT_RNO 12 15 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.A_OUT_LC_3)
set_location U111_CYCLE_SM.A_OUT 12 15 0 # SB_DFFN (LogicCell: U111_CYCLE_SM.A_OUT_LC_3)
set_location U111_CYCLE_SM.CYCLE_STATE_RNI14FL1[0] 13 16 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE_RNI14FL1[0]_LC_4)
set_location U111_CYCLE_SM.CYCLE_STATE_RNIFCLM[0] 13 16 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE_RNIFCLM[0]_LC_5)
set_location U111_CYCLE_SM.CYCLE_STATE_RNIGG4C2[0] 13 16 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE_RNIGG4C2[0]_LC_6)
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[0] 13 16 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE[0]_LC_7)
set_location U111_CYCLE_SM.CYCLE_STATE[0] 13 16 4 # SB_DFFN (LogicCell: U111_CYCLE_SM.CYCLE_STATE[0]_LC_7)
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[1] 13 16 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.CYCLE_STATE[1]_LC_8)
set_location U111_CYCLE_SM.CYCLE_STATE[1] 13 16 2 # SB_DFFN (LogicCell: U111_CYCLE_SM.CYCLE_STATE[1]_LC_8)
set_location U111_CYCLE_SM.LW_CYCLE_RNI08SM1 10 20 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNI08SM1_LC_9)
set_location U111_CYCLE_SM.LW_CYCLE_RNI2ASM1 13 20 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNI2ASM1_LC_10)
set_location U111_CYCLE_SM.LW_CYCLE_RNI4CSM1 8 20 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNI4CSM1_LC_11)
set_location U111_CYCLE_SM.LW_CYCLE_RNI5PV92 12 2 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNI5PV92_LC_12)
set_location U111_CYCLE_SM.LW_CYCLE_RNI6ESM1 9 20 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNI6ESM1_LC_13)
set_location U111_CYCLE_SM.LW_CYCLE_RNI7RV92 8 3 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNI7RV92_LC_14)
set_location U111_CYCLE_SM.LW_CYCLE_RNI9TV92 12 3 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNI9TV92_LC_15)
set_location U111_CYCLE_SM.LW_CYCLE_RNIBVV92 7 2 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNIBVV92_LC_16)
set_location U111_CYCLE_SM.LW_CYCLE_RNID10A2 9 3 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNID10A2_LC_17)
set_location U111_CYCLE_SM.LW_CYCLE_RNIE0L62 10 7 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNIE0L62_LC_18)
set_location U111_CYCLE_SM.LW_CYCLE_RNIF30A2 8 6 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNIF30A2_LC_19)
set_location U111_CYCLE_SM.LW_CYCLE_RNIFAQ22 15 9 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNIFAQ22_LC_20)
set_location U111_CYCLE_SM.LW_CYCLE_RNIG2L62 14 10 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNIG2L62_LC_21)
set_location U111_CYCLE_SM.LW_CYCLE_RNIH50A2 14 6 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNIH50A2_LC_22)
set_location U111_CYCLE_SM.LW_CYCLE_RNIHCQ22 16 15 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNIHCQ22_LC_23)
set_location U111_CYCLE_SM.LW_CYCLE_RNIHM0E1 14 16 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNIHM0E1_LC_24)
set_location U111_CYCLE_SM.LW_CYCLE_RNII4L62 9 12 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNII4L62_LC_25)
set_location U111_CYCLE_SM.LW_CYCLE_RNIJ70A2 7 7 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNIJ70A2_LC_26)
set_location U111_CYCLE_SM.LW_CYCLE_RNIJEQ22 12 10 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNIJEQ22_LC_27)
set_location U111_CYCLE_SM.LW_CYCLE_RNIK6L62 13 11 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNIK6L62_LC_28)
set_location U111_CYCLE_SM.LW_CYCLE_RNILGQ22 9 18 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNILGQ22_LC_29)
set_location U111_CYCLE_SM.LW_CYCLE_RNIM8L62 8 13 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNIM8L62_LC_30)
set_location U111_CYCLE_SM.LW_CYCLE_RNIN15M 3 1 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNIN15M_LC_31)
set_location U111_CYCLE_SM.LW_CYCLE_RNINIQ22 9 19 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNINIQ22_LC_32)
set_location U111_CYCLE_SM.LW_CYCLE_RNIOAL62 11 15 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNIOAL62_LC_33)
set_location U111_CYCLE_SM.LW_CYCLE_RNIOVRM1 7 20 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNIOVRM1_LC_34)
set_location U111_CYCLE_SM.LW_CYCLE_RNIPKQ22 16 20 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNIPKQ22_LC_35)
set_location U111_CYCLE_SM.LW_CYCLE_RNIQ1SM1 16 18 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNIQ1SM1_LC_36)
set_location U111_CYCLE_SM.LW_CYCLE_RNIQCL62 9 17 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNIQCL62_LC_37)
set_location U111_CYCLE_SM.LW_CYCLE_RNIRMQ22 10 12 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNIRMQ22_LC_38)
set_location U111_CYCLE_SM.LW_CYCLE_RNIS3SM1 11 20 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNIS3SM1_LC_39)
set_location U111_CYCLE_SM.LW_CYCLE_RNISEL62 11 17 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNISEL62_LC_40)
set_location U111_CYCLE_SM.LW_CYCLE_RNITOQ22 10 19 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNITOQ22_LC_41)
set_location U111_CYCLE_SM.LW_CYCLE_RNIU5SM1 15 20 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNIU5SM1_LC_42)
set_location U111_CYCLE_SM.LW_CYCLE_RNO 12 15 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_LC_43)
set_location U111_CYCLE_SM.LW_CYCLE 12 15 7 # SB_DFFN (LogicCell: U111_CYCLE_SM.LW_CYCLE_LC_43)
set_location U111_CYCLE_SM.LW_CYCLE_RNO_0 12 15 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_RNO_0_LC_44)
set_location U111_CYCLE_SM.LW_CYCLE_START_RNIIU7U 12 15 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_START_RNIIU7U_LC_45)
set_location U111_CYCLE_SM.LW_CYCLE_START_RNO 12 14 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_START_LC_46)
set_location U111_CYCLE_SM.LW_CYCLE_START 12 14 6 # SB_DFFN (LogicCell: U111_CYCLE_SM.LW_CYCLE_START_LC_46)
set_location U111_CYCLE_SM.LW_CYCLE_START_RNO_0 15 16 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.LW_CYCLE_START_RNO_0_LC_47)
set_location U111_CYCLE_SM.TA_EN_ness_RNIPNOD 13 14 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.TA_EN_ness_RNIPNOD_LC_48)
set_location U111_CYCLE_SM.TA_EN_ness_RNO 12 15 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.TA_EN_ness_RNO_LC_49)
set_location U111_CYCLE_SM.TS_EN_RNO 12 15 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.TS_EN_LC_50)
set_location U111_CYCLE_SM.TS_EN 12 15 3 # SB_DFFN (LogicCell: U111_CYCLE_SM.TS_EN_LC_50)
set_location U111_CYCLE_SM.TS_EN_RNO_0 12 15 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.TS_EN_RNO_0_LC_51)
set_location U111_CYCLE_SM.TS_EN_RNO_1 12 16 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.TS_EN_RNO_1_LC_52)
set_location U111_CYCLE_SM.TSn_RNO 12 13 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.TSn_LC_53)
set_location U111_CYCLE_SM.TSn 12 13 3 # SB_DFFN (LogicCell: U111_CYCLE_SM.TSn_LC_53)
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIEN7L[0] 14 12 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr_RNIEN7L[0]_LC_54)
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIGP7L[1] 13 17 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr_RNIGP7L[1]_LC_55)
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIIR7L[2] 14 14 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr_RNIIR7L[2]_LC_56)
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIKT7L[3] 14 18 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr_RNIKT7L[3]_LC_57)
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIMV7L[4] 12 19 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr_RNIMV7L[4]_LC_58)
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIO18L[5] 12 19 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr_RNIO18L[5]_LC_59)
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIQ38L[6] 14 13 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr_RNIQ38L[6]_LC_60)
set_location U111_CYCLE_SM.UM_LATCHED_nesr_RNIS58L[7] 12 18 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr_RNIS58L[7]_LC_61)
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNI0IN51[1] 14 18 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr_RNI0IN51[1]_LC_62)
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNI2KN51[2] 12 19 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr_RNI2KN51[2]_LC_63)
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNI4MN51[3] 14 19 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr_RNI4MN51[3]_LC_64)
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNI6ON51[4] 12 18 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr_RNI6ON51[4]_LC_65)
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNI8QN51[5] 12 19 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr_RNI8QN51[5]_LC_66)
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNIASN51[6] 12 20 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr_RNIASN51[6]_LC_67)
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNICUN51[7] 14 19 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr_RNICUN51[7]_LC_68)
set_location U111_CYCLE_SM.UU_LATCHED_nesr_RNIUFN51[0] 14 20 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr_RNIUFN51[0]_LC_69)
set_location U111_CYCLE_SM.TA_EN_ness_THRU_LUT4_0 13 15 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.TA_EN_ness_LC_70)
set_location U111_CYCLE_SM.TA_EN_ness 13 15 3 # SB_DFFNESS (LogicCell: U111_CYCLE_SM.TA_EN_ness_LC_70)
set_location U111_CYCLE_SM.UM_LATCHED_nesr_0_THRU_LUT4_0 14 15 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr[0]_LC_71)
set_location U111_CYCLE_SM.UM_LATCHED_nesr[0] 14 15 4 # SB_DFFNESR (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr[0]_LC_71)
set_location U111_CYCLE_SM.UM_LATCHED_nesr_1_THRU_LUT4_0 12 17 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr[1]_LC_72)
set_location U111_CYCLE_SM.UM_LATCHED_nesr[1] 12 17 6 # SB_DFFNESR (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr[1]_LC_72)
set_location U111_CYCLE_SM.UM_LATCHED_nesr_2_THRU_LUT4_0 14 15 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr[2]_LC_73)
set_location U111_CYCLE_SM.UM_LATCHED_nesr[2] 14 15 3 # SB_DFFNESR (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr[2]_LC_73)
set_location U111_CYCLE_SM.UM_LATCHED_nesr_3_THRU_LUT4_0 14 17 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr[3]_LC_74)
set_location U111_CYCLE_SM.UM_LATCHED_nesr[3] 14 17 5 # SB_DFFNESR (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr[3]_LC_74)
set_location U111_CYCLE_SM.UM_LATCHED_nesr_4_THRU_LUT4_0 12 17 4 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr[4]_LC_75)
set_location U111_CYCLE_SM.UM_LATCHED_nesr[4] 12 17 4 # SB_DFFNESR (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr[4]_LC_75)
set_location U111_CYCLE_SM.UM_LATCHED_nesr_5_THRU_LUT4_0 12 17 5 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr[5]_LC_76)
set_location U111_CYCLE_SM.UM_LATCHED_nesr[5] 12 17 5 # SB_DFFNESR (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr[5]_LC_76)
set_location U111_CYCLE_SM.UM_LATCHED_nesr_6_THRU_LUT4_0 14 15 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr[6]_LC_77)
set_location U111_CYCLE_SM.UM_LATCHED_nesr[6] 14 15 1 # SB_DFFNESR (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr[6]_LC_77)
set_location U111_CYCLE_SM.UM_LATCHED_nesr_7_THRU_LUT4_0 12 17 1 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr[7]_LC_78)
set_location U111_CYCLE_SM.UM_LATCHED_nesr[7] 12 17 1 # SB_DFFNESR (LogicCell: U111_CYCLE_SM.UM_LATCHED_nesr[7]_LC_78)
set_location U111_CYCLE_SM.UU_LATCHED_nesr_0_THRU_LUT4_0 14 17 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr[0]_LC_79)
set_location U111_CYCLE_SM.UU_LATCHED_nesr[0] 14 17 2 # SB_DFFNESR (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr[0]_LC_79)
set_location U111_CYCLE_SM.UU_LATCHED_nesr_1_THRU_LUT4_0 14 17 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr[1]_LC_80)
set_location U111_CYCLE_SM.UU_LATCHED_nesr[1] 14 17 3 # SB_DFFNESR (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr[1]_LC_80)
set_location U111_CYCLE_SM.UU_LATCHED_nesr_2_THRU_LUT4_0 12 17 0 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr[2]_LC_81)
set_location U111_CYCLE_SM.UU_LATCHED_nesr[2] 12 17 0 # SB_DFFNESR (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr[2]_LC_81)
set_location U111_CYCLE_SM.UU_LATCHED_nesr_3_THRU_LUT4_0 14 17 6 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr[3]_LC_82)
set_location U111_CYCLE_SM.UU_LATCHED_nesr[3] 14 17 6 # SB_DFFNESR (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr[3]_LC_82)
set_location U111_CYCLE_SM.UU_LATCHED_nesr_4_THRU_LUT4_0 12 17 3 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr[4]_LC_83)
set_location U111_CYCLE_SM.UU_LATCHED_nesr[4] 12 17 3 # SB_DFFNESR (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr[4]_LC_83)
set_location U111_CYCLE_SM.UU_LATCHED_nesr_5_THRU_LUT4_0 12 17 2 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr[5]_LC_84)
set_location U111_CYCLE_SM.UU_LATCHED_nesr[5] 12 17 2 # SB_DFFNESR (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr[5]_LC_84)
set_location U111_CYCLE_SM.UU_LATCHED_nesr_6_THRU_LUT4_0 12 17 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr[6]_LC_85)
set_location U111_CYCLE_SM.UU_LATCHED_nesr[6] 12 17 7 # SB_DFFNESR (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr[6]_LC_85)
set_location U111_CYCLE_SM.UU_LATCHED_nesr_7_THRU_LUT4_0 14 17 7 # SB_LUT4 (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr[7]_LC_86)
set_location U111_CYCLE_SM.UU_LATCHED_nesr[7] 14 17 7 # SB_DFFNESR (LogicCell: U111_CYCLE_SM.UU_LATCHED_nesr[7]_LC_86)
set_location GB_BUFFER_CLK80_THRU_LUT4_0 12 12 3 # SB_LUT4 (LogicCell: GB_BUFFER_CLK80_THRU_LUT4_0_LC_87)
set_location GB_BUFFER_CLK40_THRU_LUT4_0 12 12 6 # SB_LUT4 (LogicCell: GB_BUFFER_CLK40_THRU_LUT4_0_LC_88)
set_io A_040_ibuf[0] 2 0 0 # ICE_IO
set_io A_040_ibuf[1] 2 0 1 # ICE_IO
set_io A_AMIGA_obuf[0] 3 0 1 # ICE_IO
set_io A_AMIGA_obuf[1] 4 0 1 # ICE_IO
set_io BUFDIR_obuf 6 21 1 # ICE_IO
set_io BUFENn_obuf 7 21 0 # ICE_IO
set_io CLK40A_obuf 25 10 1 # ICE_IO
set_io CLK40B_obuf 12 0 1 # ICE_IO
set_io CLK40C_obuf 0 10 1 # ICE_IO
set_io CLK80_CPU_obuf 25 11 0 # ICE_IO
set_io CLKRAMA_obuf 18 0 0 # ICE_IO
set_io CLKRAMB_obuf 13 0 0 # ICE_IO
set_io CPUBGn_obuf 25 17 0 # ICE_IO
set_io DMAn_obuf 7 21 1 # ICE_IO
set_io D_LL_040_iobuf[0] 25 1 1 # ICE_IO
set_io D_LL_040_iobuf[1] 25 2 0 # ICE_IO
set_io D_LL_040_iobuf[2] 25 3 1 # ICE_IO
set_io D_LL_040_iobuf[3] 25 1 0 # ICE_IO
set_io D_LL_040_iobuf[4] 25 2 1 # ICE_IO
set_io D_LL_040_iobuf[5] 25 4 0 # ICE_IO
set_io D_LL_040_iobuf[6] 25 4 1 # ICE_IO
set_io D_LL_040_iobuf[7] 25 5 0 # ICE_IO
set_io D_LL_AMIGA_iobuf[0] 0 1 1 # ICE_IO
set_io D_LL_AMIGA_iobuf[1] 0 3 1 # ICE_IO
set_io D_LL_AMIGA_iobuf[2] 0 2 1 # ICE_IO
set_io D_LL_AMIGA_iobuf[3] 0 2 0 # ICE_IO
set_io D_LL_AMIGA_iobuf[4] 0 3 0 # ICE_IO
set_io D_LL_AMIGA_iobuf[5] 0 6 1 # ICE_IO
set_io D_LL_AMIGA_iobuf[6] 0 6 0 # ICE_IO
set_io D_LL_AMIGA_iobuf[7] 0 7 0 # ICE_IO
set_io D_LM_040_iobuf[0] 25 5 1 # ICE_IO
set_io D_LM_040_iobuf[1] 25 6 0 # ICE_IO
set_io D_LM_040_iobuf[2] 25 6 1 # ICE_IO
set_io D_LM_040_iobuf[3] 25 7 1 # ICE_IO
set_io D_LM_040_iobuf[4] 25 8 1 # ICE_IO
set_io D_LM_040_iobuf[5] 25 9 1 # ICE_IO
set_io D_LM_040_iobuf[6] 25 14 1 # ICE_IO
set_io D_LM_040_iobuf[7] 25 15 1 # ICE_IO
set_io D_LM_AMIGA_iobuf[0] 0 7 1 # ICE_IO
set_io D_LM_AMIGA_iobuf[1] 0 10 0 # ICE_IO
set_io D_LM_AMIGA_iobuf[2] 0 12 0 # ICE_IO
set_io D_LM_AMIGA_iobuf[3] 0 11 1 # ICE_IO
set_io D_LM_AMIGA_iobuf[4] 0 13 0 # ICE_IO
set_io D_LM_AMIGA_iobuf[5] 0 15 0 # ICE_IO
set_io D_LM_AMIGA_iobuf[6] 0 17 1 # ICE_IO
set_io D_LM_AMIGA_iobuf[7] 0 17 0 # ICE_IO
set_io D_UM_040_iobuf[0] 25 9 0 # ICE_IO
set_io D_UM_040_iobuf[1] 25 18 1 # ICE_IO
set_io D_UM_040_iobuf[2] 25 10 0 # ICE_IO
set_io D_UM_040_iobuf[3] 25 19 1 # ICE_IO
set_io D_UM_040_iobuf[4] 24 21 1 # ICE_IO
set_io D_UM_040_iobuf[5] 23 21 0 # ICE_IO
set_io D_UM_040_iobuf[6] 25 12 1 # ICE_IO
set_io D_UM_040_iobuf[7] 25 19 0 # ICE_IO
set_io D_UM_AMIGA_iobuf[0] 0 12 1 # ICE_IO
set_io D_UM_AMIGA_iobuf[1] 0 15 1 # ICE_IO
set_io D_UM_AMIGA_iobuf[2] 0 13 1 # ICE_IO
set_io D_UM_AMIGA_iobuf[3] 0 18 1 # ICE_IO
set_io D_UM_AMIGA_iobuf[4] 0 19 1 # ICE_IO
set_io D_UM_AMIGA_iobuf[5] 4 21 0 # ICE_IO
set_io D_UM_AMIGA_iobuf[6] 0 20 0 # ICE_IO
set_io D_UM_AMIGA_iobuf[7] 0 19 0 # ICE_IO
set_io D_UU_040_iobuf[0] 21 21 1 # ICE_IO
set_io D_UU_040_iobuf[1] 25 20 0 # ICE_IO
set_io D_UU_040_iobuf[2] 20 21 0 # ICE_IO
set_io D_UU_040_iobuf[3] 24 21 0 # ICE_IO
set_io D_UU_040_iobuf[4] 19 21 1 # ICE_IO
set_io D_UU_040_iobuf[5] 23 21 1 # ICE_IO
set_io D_UU_040_iobuf[6] 22 21 1 # ICE_IO
set_io D_UU_040_iobuf[7] 22 21 0 # ICE_IO
set_io D_UU_AMIGA_iobuf[0] 5 21 1 # ICE_IO
set_io D_UU_AMIGA_iobuf[1] 0 18 0 # ICE_IO
set_io D_UU_AMIGA_iobuf[2] 5 21 0 # ICE_IO
set_io D_UU_AMIGA_iobuf[3] 2 21 1 # ICE_IO
set_io D_UU_AMIGA_iobuf[4] 6 21 0 # ICE_IO
set_io D_UU_AMIGA_iobuf[5] 0 20 1 # ICE_IO
set_io D_UU_AMIGA_iobuf[6] 3 21 1 # ICE_IO
set_io D_UU_AMIGA_iobuf[7] 3 21 0 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io PORTSIZE_ibuf 5 0 0 # ICE_IO
set_io RESETn_ibuf 0 1 0 # ICE_IO
set_io RnW_ibuf 25 14 0 # ICE_IO
set_io SIZ_ibuf[0] 18 21 0 # ICE_IO
set_io SIZ_ibuf[1] 19 21 0 # ICE_IO
set_io TACKn_ibuf 11 0 1 # ICE_IO
set_io TAn_obuf 15 21 0 # ICE_IO
set_io TBIn_obuf 17 0 1 # ICE_IO
set_io TS_CPUn_ibuf 14 21 1 # ICE_IO
set_io TSn_obuf 8 0 1 # ICE_IO
set_location pll 12 21 1 # SB_PLL40_2F_PAD
set_location INV_CLK80 -1 -1 -1 # INV
set_location INV_CLK40 -1 -1 -1 # INV
set_location CONSTANT_ONE_LUT4 7 20 2 # SB_LUT4 (LogicCell: LC_89)
