NET "DRA<0>"	LOC = "P1" ;
NET "DRA<1>"	LOC = "P2" ;
NET "DRA<2>"	LOC = "P4" ;
NET "DRA<3>"	LOC = "P5" ;
NET "DRA<4>"	LOC = "P6" ;
NET "DRA<5>"	LOC = "P7" ;
NET "DRA<6>"	LOC = "P8" ;
NET "DRA<7>"	LOC = "P9" ;
NET "DRA<8>"	LOC = "P10" ;
NET "DRA<9>"	LOC = "P11" ;

NET "nDBR"		LOC = "P12" ;
NET "nDBEN"		LOC = "P13" ;
//NET "C3"			LOC = "P15" ;
//NET "C3"			BUFG = CLK ;
NET "C1"			LOC = "P16" ;
NET "C1"			BUFG = CLK ;
NET "BCLK"		LOC = "P17" ;
NET "RnW"		LOC = "P18" ;
NET "DRDDIR"	LOC = "P19" ;
NET "nDRDEN"	LOC = "P20" ;
NET "DBDIR"		LOC = "P23" ;
NET "nRAS0"		LOC = "P22" ;
NET "nRAS1"		LOC = "P24" ;
NET "nCASL"		LOC = "P25" ;
NET "nCASU"		LOC = "P27" ;
NET "nAWE"		LOC = "P31" ;
NET "nCLLBE"	LOC = "P32" ;
NET "nCLMBE"	LOC = "P33" ;
NET "nCUMBE"	LOC = "P34" ;
NET "nCUUBE"	LOC = "P35" ;
NET "nCLCS"		LOC = "P36" ;
NET "nCUCS"		LOC = "P38" ;
NET "nUMBE"		LOC = "P39" ;
NET "nUUBE"		LOC = "P40" ;
NET "nLMBE"		LOC = "P42" ;
NET "nLLBE"		LOC = "P43" ;
NET "nCRAS"		LOC = "P44" ;
NET "nCCAS"		LOC = "P45" ;
NET "nCWE"		LOC = "P46" ;
NET "CCLKE"		LOC = "P47" ;
NET "nRAMEN"	LOC = "P48" ;
NET "nREGEN"	LOC = "P49" ;

NET "CMA<0>"	LOC = "P50" ;
NET "CMA<1>"	LOC = "P51" ;
NET "CMA<2>"	LOC = "P52" ;
NET "CMA<3>"	LOC = "P56" ;
NET "CMA<4>"	LOC = "P57" ;
NET "CMA<5>"	LOC = "P58" ;
NET "CMA<6>"	LOC = "P59" ;
NET "CMA<7>"	LOC = "P60" ;
NET "CMA<8>"	LOC = "P61" ;
NET "CMA<9>"	LOC = "P62" ;
NET "CMA<10>"	LOC = "P63" ;
NET "nRESET"	LOC = "P64" ;