set_location IN_MUX_bfv_5_3_0_ 5 3 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_8_0_ 8 8 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 6 12 3 #SB_LUT4
set_location U400_SDRAM.WEn_THRU_LUT4_0 4 9 7 #SB_LUT4
set_location U400_SDRAM.RASn_THRU_LUT4_0 4 9 2 #SB_LUT4
set_location U400_SDRAM.CASn_THRU_LUT4_0 4 9 6 #SB_LUT4
set_location U400_SDRAM.TA_EN_i_ess_RNO_0 6 5 4 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNO[5] 5 3 4 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER[0] 6 3 1 #SB_DFFNSR
set_location U400_SDRAM.CS0n 5 8 1 #SB_DFFNSS
set_location U400_SDRAM.un2_REFRESH_COUNTER_cry_4_c 5 3 3 #SB_CARRY
set_location U400_SDRAM.TACK_RNO_7 4 7 3 #SB_LUT4
set_location U400_SDRAM.MA_RNO[11] 7 10 4 #SB_LUT4
set_location U400_SDRAM.CS1_EN_RNO 5 8 7 #SB_LUT4
set_location U400_SDRAM.WRITE_CYCLE_RNI18LH 5 6 5 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNIVV903[8] 6 5 5 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO[4] 8 8 4 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNO[8] 5 3 7 #SB_LUT4
set_location U400_SDRAM.MA[7] 4 12 7 #SB_DFFNSR
set_location U400_SDRAM.SDRAM_COUNTER_cry_c[2] 8 8 2 #SB_CARRY
set_location U400_SDRAM.SDRAM_COUNTER_RNO_0[3] 8 8 3 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO_0[1] 6 5 0 #SB_LUT4
set_location U400_SDRAM.MA_RNO[0] 8 16 1 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO[1] 8 7 5 #SB_LUT4
set_location U400_SDRAM.SDRAM_CONFIGURED 7 10 5 #SB_DFFNSR
set_location U400_SDRAM.REFRESH_COUNTER[8] 5 3 7 #SB_DFFNSR
set_location U400_SDRAM.SDRAM_COUNTER_RNI6MLK[2] 8 6 3 #SB_LUT4
set_location U400_BYTE_ENABLE.un1_UMBEn_0 9 3 0 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER_RNO[2] 4 5 5 #SB_LUT4
set_location U400_SDRAM.MA_RNO[5] 7 16 4 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER_RNIJ78O[1] 4 5 6 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER[1] 4 5 2 #SB_DFF
set_location U400_SDRAM.SDRAM_COUNTER[5] 8 8 5 #SB_DFFNE
set_location U400_SDRAM.SDRAM_CMD_RNO_2[1] 7 7 7 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO_1[1] 7 6 4 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNO[6] 5 3 5 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER[5] 5 3 4 #SB_DFFNSR
set_location U400_SDRAM.RAM_CYCLE_START_RNI58I35 5 6 4 #SB_LUT4
set_location U400_SDRAM.MA[12] 6 10 6 #SB_DFFNSR
set_location U400_SDRAM.TA_OUT_RNO_1 4 4 7 #SB_LUT4
set_location U400_SDRAM.un2_REFRESH_COUNTER_cry_2_c 5 3 1 #SB_CARRY
set_location U400_SDRAM.SDRAM_COUNTER_RNI2OIR[7] 7 8 1 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER[2] 5 3 1 #SB_DFFNSR
set_location U400_SDRAM.CS1_EN_RNO_0 6 8 2 #SB_LUT4
set_location U400_SDRAM.TACK_RNO_1 4 7 1 #SB_LUT4
set_location U400_SDRAM.SDRAM_CONFIGURED_RNIHALH3 6 8 4 #SB_LUT4
set_location U400_SDRAM.CS0_EN_RNO_0 6 8 6 #SB_LUT4
set_location U400_SDRAM.CS0_EN 5 8 0 #SB_DFFNSR
set_location U400_SDRAM.un2_REFRESH_COUNTER_cry_3_c 5 3 2 #SB_CARRY
set_location U400_SDRAM.SDRAM_COUNTER_RNI8E8G1[0] 7 8 5 #SB_LUT4
set_location U400_SDRAM.SDRAM_CONFIGURED_RNIA54Q 7 6 7 #SB_LUT4
set_location U400_SDRAM.MA[0] 8 16 1 #SB_DFFNSR
set_location U400_SDRAM.SDRAM_COUNTER_cry_c[1] 8 8 1 #SB_CARRY
set_location U400_SDRAM.BURST_RNO 5 5 3 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNI4ECU1[2] 8 9 1 #SB_LUT4
set_location RESETn_ibuf_RNIM9SF 2 8 5 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO[6] 8 8 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNI06O9[0] 6 12 2 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNIMIPA1[1] 6 4 1 #SB_LUT4
set_location U400_SDRAM.MA[5] 7 16 4 #SB_DFFNSR
set_location U400_SDRAM.un2_REFRESH_COUNTER_cry_1_c 5 3 0 #SB_CARRY
set_location U400_SDRAM.TA_COUNTER_RNIAJGG1[3] 4 5 0 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNIUQPA1[5] 6 4 4 #SB_LUT4
set_location U400_SDRAM.MA_RNO[2] 9 16 2 #SB_LUT4
set_location U400_SDRAM.un2_REFRESH_COUNTER_cry_6_c 5 3 5 #SB_CARRY
set_location U400_SDRAM.SDRAM_COUNTER_RNO[3] 7 7 2 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER[6] 8 8 6 #SB_DFFNE
set_location U400_SDRAM.REFRESH_COUNTER_RNO[3] 5 3 2 #SB_LUT4
set_location U400_SDRAM.TA_OUT_RNO_2 4 4 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO_4[0] 6 9 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNIVPE21[2] 8 6 4 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER_RNO[0] 4 4 2 #SB_LUT4
set_location U400_SDRAM.MA_RNO[7] 4 12 7 #SB_LUT4
set_location U400_SDRAM.MA[8] 4 12 3 #SB_DFFNSR
set_location U400_BYTE_ENABLE.un1_LMBEn_0_a3 9 3 4 #SB_LUT4
set_location U400_SDRAM.TA_EN_i_ess_RNO_1 5 5 1 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER[3] 4 5 7 #SB_DFF
set_location U400_SDRAM.SDRAM_COUNTER_RNO_5[0] 7 8 4 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER[3] 7 7 2 #SB_DFFNE
set_location U400_SDRAM.SDRAM_CONFIGURED_RNI5POA3 7 8 6 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNO[4] 5 3 3 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER[7] 5 3 6 #SB_DFFNSR
set_location U400_SDRAM.MA[10] 8 16 2 #SB_DFFNSR
set_location U400_SDRAM.CASn 4 9 6 #SB_DFFNSS
set_location U400_SDRAM.TACK_RNO_4 5 6 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNIP3PD[0] 6 7 0 #SB_LUT4
set_location U400_SDRAM.RAM_CYCLE_RNO_0 5 6 1 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_cry_c[4] 8 8 4 #SB_CARRY
set_location U400_SDRAM.CS0n_RNO 5 8 1 #SB_LUT4
set_location U400_BYTE_ENABLE.un1_LLBEn_0 9 3 1 #SB_LUT4
set_location U400_SDRAM.un2_REFRESH_COUNTER_cry_5_c 5 3 4 #SB_CARRY
set_location U400_SDRAM.TACK_RNO_3 6 6 1 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO[1] 6 5 1 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER_RNO_0[0] 4 4 1 #SB_LUT4
set_location U400_SDRAM.TACK_RNO 4 6 2 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD[1] 6 5 1 #SB_DFFN
set_location U400_SDRAM.MA[6] 4 14 0 #SB_DFFNSR
set_location U400_SDRAM.BANK0 4 6 0 #SB_DFFNSR
set_location U400_SDRAM.SDRAM_COUNTER_cry_c[3] 8 8 3 #SB_CARRY
set_location U400_SDRAM.SDRAM_COUNTER_RNO_0[0] 7 9 6 #SB_LUT4
set_location U400_SDRAM.RAM_CYCLE_START_RNIRHEJ5 7 7 0 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO[0] 7 9 7 #SB_LUT4
set_location U400_SDRAM.MA_RNO_0[5] 8 15 7 #SB_LUT4
set_location U400_SDRAM.SDRAM_CONFIGURED_RNISAQQ4 5 6 2 #SB_LUT4
set_location U400_SDRAM.RAM_CYCLE 5 7 1 #SB_DFFNSR
set_location U400_SDRAM.TA_COUNTER_RNIAJGG1_0[3] 4 5 3 #SB_LUT4
set_location U400_SDRAM.MA_RNO[4] 7 16 3 #SB_LUT4
set_location U400_SDRAM.CS0_EN_RNO 5 8 0 #SB_LUT4
set_location U400_SDRAM.BURST_RNISKH51 5 5 0 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER[0] 4 4 2 #SB_DFF
set_location U400_SDRAM.TACK_RNI0LUG4 4 5 4 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER[4] 8 8 4 #SB_DFFNE
set_location U400_SDRAM.SDRAM_CMD_RNO_2[2] 7 6 1 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO_1[0] 6 6 5 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNO[1] 6 3 2 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER[4] 5 3 3 #SB_DFFNSR
set_location U400_SDRAM.TA_OUT_RNO_0 6 4 3 #SB_LUT4
set_location U400_SDRAM.CS1n_RNO 6 10 2 #SB_LUT4
set_location U400_SDRAM.MA_RNO[9] 5 8 2 #SB_LUT4
set_location U400_SDRAM.TA_OUT 5 4 2 #SB_DFFSS
set_location U400_SDRAM.SDRAM_COUNTER_RNO_3[0] 8 9 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNIJKCA2[0] 7 8 0 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER[1] 8 7 5 #SB_DFFNE
set_location U400_SDRAM.REFRESH_COUNTER[1] 6 3 2 #SB_DFFNSR
set_location U400_SDRAM.TACK_RNO_6 4 7 0 #SB_LUT4
set_location U400_SDRAM.MA_RNO[10] 8 16 2 #SB_LUT4
set_location U400_SDRAM.WRITE_CYCLE_RNICOHO 8 9 0 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNI079H2[2] 8 6 5 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD[2] 7 6 3 #SB_DFFN
set_location U400_SDRAM.RAM_CYCLE_RNO 5 7 1 #SB_LUT4
set_location U400_SDRAM.MA[3] 9 13 4 #SB_DFFNSR
set_location U400_SDRAM.WEn 4 9 7 #SB_DFFNSS
set_location U400_SDRAM.SDRAM_COUNTER_cry_c[6] 8 8 6 #SB_CARRY
set_location U400_SDRAM.RAM_CYCLE_START_RNIRHEJ5_0 7 7 1 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO[5] 8 8 5 #SB_LUT4
set_location U400_SDRAM.RAM_CYCLE_START_RNO 6 7 6 #SB_LUT4
set_location U400_SDRAM.MA[4] 7 16 3 #SB_DFFNSR
set_location U400_SDRAM.BURST8_0_a2 9 6 2 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO_0[0] 6 7 5 #SB_LUT4
set_location U400_SDRAM.MA_RNO[1] 9 16 4 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO[2] 8 8 2 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO_1[0] 6 9 7 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNO[2] 5 3 1 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location U400_SDRAM.TA_EN_i_ess 7 5 5 #SB_DFFESS
set_location U400_SDRAM.SDRAM_COUNTER_RNIKV4N1[0] 6 7 4 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER_RNO[3] 4 5 7 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO_2[0] 6 9 1 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNITTB91[2] 8 9 2 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNIQQB91[0] 8 8 0 #SB_LUT4
set_location U400_SDRAM.MA_RNO[6] 4 14 0 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER[2] 4 5 5 #SB_DFF
set_location U400_SDRAM.SDRAM_COUNTER[2] 8 8 2 #SB_DFFNE
set_location U400_SDRAM.SDRAM_CMD_RNO_2[0] 6 6 4 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO_1[2] 7 6 2 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER_RNO[7] 5 3 6 #SB_LUT4
set_location U400_SDRAM.REFRESH_COUNTER[6] 5 3 5 #SB_DFFNSR
set_location U400_SDRAM.MA[11] 7 10 4 #SB_DFFNSR
set_location U400_SDRAM.WRITE_CYCLE_RNO 5 7 2 #SB_LUT4
set_location U400_SDRAM.TA_OUT_RNO 5 4 2 #SB_LUT4
set_location U400_SDRAM.TACK_RNO_5 5 6 3 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNIKV4N1_0[0] 7 8 3 #SB_LUT4
set_location U400_SDRAM.RAM_CYCLE_RNO_1 5 6 0 #SB_LUT4
set_location U400_SDRAM.BANK1_RNO 4 6 1 #SB_LUT4
set_location U400_SDRAM.TA_EN_i_ess_RNO 7 5 5 #SB_LUT4
set_location U400_SDRAM.TACK 4 6 2 #SB_DFFNSR
set_location U400_SDRAM.SDRAM_CONFIGURED_RNIPOT15 6 8 1 #SB_LUT4
set_location U400_SDRAM.RAM_CYCLE_START_RNIA1BE8 6 8 5 #SB_LUT4
set_location U400_SDRAM.CS1n 6 10 2 #SB_DFFNSS
set_location U400_SDRAM.SDRAM_COUNTER_cry_c[5] 8 8 5 #SB_CARRY
set_location U400_SDRAM.REFRESH_COUNTER[3] 5 3 2 #SB_DFFNSR
set_location U400_SDRAM.BANK0_RNO 4 6 0 #SB_LUT4
set_location TAn_obuft_RNO 8 6 6 #SB_LUT4
set_location U400_SDRAM.TACK_RNO_0 5 6 7 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNIFAF21[2] 7 8 2 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO[0] 6 6 6 #SB_LUT4
set_location U400_SDRAM.RAM_CYCLE_START 6 7 6 #SB_DFF
set_location U400_SDRAM.MA_RNO[12] 6 10 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD[0] 6 6 6 #SB_DFFN
set_location U400_SDRAM.MA[1] 9 16 4 #SB_DFFNSR
set_location U400_SDRAM.BANK1 4 6 1 #SB_DFFNSR
set_location U400_SDRAM.SDRAM_COUNTER_cry_c[0] 8 8 0 #SB_CARRY
set_location U400_SDRAM.SDRAM_CONFIGURED_RNO 7 10 5 #SB_LUT4
set_location U400_SDRAM.RASn 4 9 2 #SB_DFFNSS
set_location U400_SDRAM.SDRAM_COUNTER_RNO_0[1] 8 8 1 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNO[7] 8 8 7 #SB_LUT4
set_location U400_SDRAM.BURST 5 5 3 #SB_DFFNSR
set_location U400_BYTE_ENABLE.un1_UUBEn_0_a3 7 3 6 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO_0[2] 6 6 0 #SB_LUT4
set_location U400_SDRAM.MA_RNO[3] 9 13 4 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNITTDH4[0] 6 7 1 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER[7] 8 8 7 #SB_DFFNE
set_location U400_SDRAM.REFRESH_COUNTER_RNO[0] 6 3 1 #SB_LUT4
set_location U400_SDRAM.SDRAM_CONFIGURED_RNIVK7J 8 10 2 #SB_LUT4
set_location U400_SDRAM.SDRAM_CONFIGURED_RNIHPJJ1 6 8 7 #SB_LUT4
set_location U400_SDRAM.TA_COUNTER_RNO[1] 4 5 2 #SB_LUT4
set_location U400_SDRAM.MA_RNO[8] 4 12 3 #SB_LUT4
set_location U400_SDRAM.MA[9] 5 8 2 #SB_DFFNSR
set_location U400_ADDRESS_DECODE.N_220_3_i 9 6 5 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER_RNIJKCA2[1] 6 4 0 #SB_LUT4
set_location U400_SDRAM.SDRAM_COUNTER[0] 7 9 7 #SB_DFFNE
set_location U400_SDRAM.RAM_CYCLE_START_RNO_0 9 6 0 #SB_LUT4
set_location U400_SDRAM.MA[2] 9 16 2 #SB_DFFNSR
set_location U400_SDRAM.CS1_EN 5 8 7 #SB_DFFNSR
set_location U400_SDRAM.SDRAM_CONFIGURED_RNIJG6G7 7 8 7 #SB_LUT4
set_location U400_ADDRESS_DECODE.RAM_SPACE_0_a3_3 4 1 3 #SB_LUT4
set_location U400_SDRAM.TACK_RNO_2 4 7 4 #SB_LUT4
set_location U400_SDRAM.SDRAM_CMD_RNO[2] 7 6 3 #SB_LUT4
set_location U400_SDRAM.un2_REFRESH_COUNTER_cry_7_c 5 3 6 #SB_CARRY
set_location U400_SDRAM.WRITE_CYCLE 5 7 2 #SB_DFFNSR
set_location U400_SDRAM.SDRAM_CONFIGURED_RNIVK7J_0 7 6 0 #SB_LUT4
set_location U400_SDRAM.MA_RNO_0[1] 9 15 4 #SB_LUT4
set_io A[17] 16
set_io MA[5] 97
set_io LBENn 54
set_io CS0n 9
set_io A[25] 34
set_io UUBEn 37
set_io A[6] 69
set_io A[15] 81
set_io TAn 56
set_io MA[3] 100
set_io CLK40 53
set_io A[23] 36
set_io A[12] 82
set_io RnW 51
set_io MA[8] 94
set_io A[4] 65
set_io MA[1] 85
set_io BANK1 7
set_io A[21] 21
set_io A[10] 73
set_io UMBEn 40
set_io MA[6] 96
set_io A[30] 33
set_io A[28] 30
set_io A[2] 78
set_io A[19] 18
set_io MA[10] 87
set_io A[9] 66
set_io A[16] 15
set_io SIZ[1] 59
set_io MA[4] 99
set_io A[26] 29
set_io A[0] 3
set_io WEn 13
set_io MA[12] 91
set_io LLBEn 42
set_io A[7] 71
set_io A[14] 80
set_io MA[2] 83
set_io A[24] 24
set_io A[5] 68
set_io TSn 57
set_io MA[0] 86
set_io LMBEn 41
set_io A[22] 28
set_io A[13] 64
set_io RASn 10
set_io MA[9] 93
set_io CS1n 90
set_io A[3] 79
set_io A[29] 26
set_io A[18] 19
set_io RESETn 63
set_io MA[11] 89
set_io CLK_EN 1
set_io CASn 12
set_io BANK0 8
set_io A[20] 20
set_io A[11] 74
set_io SIZ[0] 60
set_io MA[7] 95
set_io A[31] 27
set_io A[27] 25
set_io A[1] 4
set_io A[8] 72
