ble_pack RESETn_ibuf_RNIM9SF_LC_2_8_5 { RESETn_ibuf_RNIM9SF }
clb_pack LT_2_8 { RESETn_ibuf_RNIM9SF_LC_2_8_5 }
set_location LT_2_8 2 8
ble_pack U400_ADDRESS_DECODE.RAM_SPACE_0_a3_3_LC_4_1_3 { U400_ADDRESS_DECODE.RAM_SPACE_0_a3_3 }
clb_pack LT_4_1 { U400_ADDRESS_DECODE.RAM_SPACE_0_a3_3_LC_4_1_3 }
set_location LT_4_1 4 1
ble_pack U400_SDRAM.TA_COUNTER_RNO_0_0_LC_4_4_1 { U400_SDRAM.TA_COUNTER_RNO_0[0] }
ble_pack U400_SDRAM.TA_COUNTER_0_LC_4_4_2 { U400_SDRAM.TA_COUNTER_RNO[0], U400_SDRAM.TA_COUNTER[0] }
ble_pack U400_SDRAM.TA_OUT_RNO_2_LC_4_4_6 { U400_SDRAM.TA_OUT_RNO_2 }
ble_pack U400_SDRAM.TA_OUT_RNO_1_LC_4_4_7 { U400_SDRAM.TA_OUT_RNO_1 }
clb_pack LT_4_4 { U400_SDRAM.TA_COUNTER_RNO_0_0_LC_4_4_1, U400_SDRAM.TA_COUNTER_0_LC_4_4_2, U400_SDRAM.TA_OUT_RNO_2_LC_4_4_6, U400_SDRAM.TA_OUT_RNO_1_LC_4_4_7 }
set_location LT_4_4 4 4
ble_pack U400_SDRAM.TA_COUNTER_RNIAJGG1_3_LC_4_5_0 { U400_SDRAM.TA_COUNTER_RNIAJGG1[3] }
ble_pack U400_SDRAM.TA_COUNTER_1_LC_4_5_2 { U400_SDRAM.TA_COUNTER_RNO[1], U400_SDRAM.TA_COUNTER[1] }
ble_pack U400_SDRAM.TA_COUNTER_RNIAJGG1_0_3_LC_4_5_3 { U400_SDRAM.TA_COUNTER_RNIAJGG1_0[3] }
ble_pack U400_SDRAM.TACK_RNI0LUG4_LC_4_5_4 { U400_SDRAM.TACK_RNI0LUG4 }
ble_pack U400_SDRAM.TA_COUNTER_2_LC_4_5_5 { U400_SDRAM.TA_COUNTER_RNO[2], U400_SDRAM.TA_COUNTER[2] }
ble_pack U400_SDRAM.TA_COUNTER_RNIJ78O_1_LC_4_5_6 { U400_SDRAM.TA_COUNTER_RNIJ78O[1] }
ble_pack U400_SDRAM.TA_COUNTER_3_LC_4_5_7 { U400_SDRAM.TA_COUNTER_RNO[3], U400_SDRAM.TA_COUNTER[3] }
clb_pack LT_4_5 { U400_SDRAM.TA_COUNTER_RNIAJGG1_3_LC_4_5_0, U400_SDRAM.TA_COUNTER_1_LC_4_5_2, U400_SDRAM.TA_COUNTER_RNIAJGG1_0_3_LC_4_5_3, U400_SDRAM.TACK_RNI0LUG4_LC_4_5_4, U400_SDRAM.TA_COUNTER_2_LC_4_5_5, U400_SDRAM.TA_COUNTER_RNIJ78O_1_LC_4_5_6, U400_SDRAM.TA_COUNTER_3_LC_4_5_7 }
set_location LT_4_5 4 5
ble_pack U400_SDRAM.BANK0_LC_4_6_0 { U400_SDRAM.BANK0_RNO, U400_SDRAM.BANK0 }
ble_pack U400_SDRAM.BANK1_LC_4_6_1 { U400_SDRAM.BANK1_RNO, U400_SDRAM.BANK1 }
ble_pack U400_SDRAM.TACK_LC_4_6_2 { U400_SDRAM.TACK_RNO, U400_SDRAM.TACK }
clb_pack LT_4_6 { U400_SDRAM.BANK0_LC_4_6_0, U400_SDRAM.BANK1_LC_4_6_1, U400_SDRAM.TACK_LC_4_6_2 }
set_location LT_4_6 4 6
ble_pack U400_SDRAM.TACK_RNO_6_LC_4_7_0 { U400_SDRAM.TACK_RNO_6 }
ble_pack U400_SDRAM.TACK_RNO_1_LC_4_7_1 { U400_SDRAM.TACK_RNO_1 }
ble_pack U400_SDRAM.TACK_RNO_7_LC_4_7_3 { U400_SDRAM.TACK_RNO_7 }
ble_pack U400_SDRAM.TACK_RNO_2_LC_4_7_4 { U400_SDRAM.TACK_RNO_2 }
clb_pack LT_4_7 { U400_SDRAM.TACK_RNO_6_LC_4_7_0, U400_SDRAM.TACK_RNO_1_LC_4_7_1, U400_SDRAM.TACK_RNO_7_LC_4_7_3, U400_SDRAM.TACK_RNO_2_LC_4_7_4 }
set_location LT_4_7 4 7
ble_pack U400_SDRAM.RASn_LC_4_9_2 { U400_SDRAM.RASn_THRU_LUT4_0, U400_SDRAM.RASn }
ble_pack U400_SDRAM.CASn_LC_4_9_6 { U400_SDRAM.CASn_THRU_LUT4_0, U400_SDRAM.CASn }
ble_pack U400_SDRAM.WEn_LC_4_9_7 { U400_SDRAM.WEn_THRU_LUT4_0, U400_SDRAM.WEn }
clb_pack LT_4_9 { U400_SDRAM.RASn_LC_4_9_2, U400_SDRAM.CASn_LC_4_9_6, U400_SDRAM.WEn_LC_4_9_7 }
set_location LT_4_9 4 9
ble_pack U400_SDRAM.MA_8_LC_4_12_3 { U400_SDRAM.MA_RNO[8], U400_SDRAM.MA[8] }
ble_pack U400_SDRAM.MA_7_LC_4_12_7 { U400_SDRAM.MA_RNO[7], U400_SDRAM.MA[7] }
clb_pack LT_4_12 { U400_SDRAM.MA_8_LC_4_12_3, U400_SDRAM.MA_7_LC_4_12_7 }
set_location LT_4_12 4 12
ble_pack U400_SDRAM.MA_6_LC_4_14_0 { U400_SDRAM.MA_RNO[6], U400_SDRAM.MA[6] }
clb_pack LT_4_14 { U400_SDRAM.MA_6_LC_4_14_0 }
set_location LT_4_14 4 14
ble_pack U400_SDRAM.un2_REFRESH_COUNTER_cry_1_c_LC_5_3_0 { U400_SDRAM.un2_REFRESH_COUNTER_cry_1_c }
ble_pack U400_SDRAM.REFRESH_COUNTER_2_LC_5_3_1 { U400_SDRAM.REFRESH_COUNTER_RNO[2], U400_SDRAM.REFRESH_COUNTER[2], U400_SDRAM.un2_REFRESH_COUNTER_cry_2_c }
ble_pack U400_SDRAM.REFRESH_COUNTER_3_LC_5_3_2 { U400_SDRAM.REFRESH_COUNTER_RNO[3], U400_SDRAM.REFRESH_COUNTER[3], U400_SDRAM.un2_REFRESH_COUNTER_cry_3_c }
ble_pack U400_SDRAM.REFRESH_COUNTER_4_LC_5_3_3 { U400_SDRAM.REFRESH_COUNTER_RNO[4], U400_SDRAM.REFRESH_COUNTER[4], U400_SDRAM.un2_REFRESH_COUNTER_cry_4_c }
ble_pack U400_SDRAM.REFRESH_COUNTER_5_LC_5_3_4 { U400_SDRAM.REFRESH_COUNTER_RNO[5], U400_SDRAM.REFRESH_COUNTER[5], U400_SDRAM.un2_REFRESH_COUNTER_cry_5_c }
ble_pack U400_SDRAM.REFRESH_COUNTER_6_LC_5_3_5 { U400_SDRAM.REFRESH_COUNTER_RNO[6], U400_SDRAM.REFRESH_COUNTER[6], U400_SDRAM.un2_REFRESH_COUNTER_cry_6_c }
ble_pack U400_SDRAM.REFRESH_COUNTER_7_LC_5_3_6 { U400_SDRAM.REFRESH_COUNTER_RNO[7], U400_SDRAM.REFRESH_COUNTER[7], U400_SDRAM.un2_REFRESH_COUNTER_cry_7_c }
ble_pack U400_SDRAM.REFRESH_COUNTER_8_LC_5_3_7 { U400_SDRAM.REFRESH_COUNTER_RNO[8], U400_SDRAM.REFRESH_COUNTER[8] }
clb_pack LT_5_3 { U400_SDRAM.un2_REFRESH_COUNTER_cry_1_c_LC_5_3_0, U400_SDRAM.REFRESH_COUNTER_2_LC_5_3_1, U400_SDRAM.REFRESH_COUNTER_3_LC_5_3_2, U400_SDRAM.REFRESH_COUNTER_4_LC_5_3_3, U400_SDRAM.REFRESH_COUNTER_5_LC_5_3_4, U400_SDRAM.REFRESH_COUNTER_6_LC_5_3_5, U400_SDRAM.REFRESH_COUNTER_7_LC_5_3_6, U400_SDRAM.REFRESH_COUNTER_8_LC_5_3_7 }
set_location LT_5_3 5 3
ble_pack U400_SDRAM.TA_OUT_LC_5_4_2 { U400_SDRAM.TA_OUT_RNO, U400_SDRAM.TA_OUT }
clb_pack LT_5_4 { U400_SDRAM.TA_OUT_LC_5_4_2 }
set_location LT_5_4 5 4
ble_pack U400_SDRAM.BURST_RNISKH51_LC_5_5_0 { U400_SDRAM.BURST_RNISKH51 }
ble_pack U400_SDRAM.TA_EN_i_ess_RNO_1_LC_5_5_1 { U400_SDRAM.TA_EN_i_ess_RNO_1 }
ble_pack U400_SDRAM.BURST_LC_5_5_3 { U400_SDRAM.BURST_RNO, U400_SDRAM.BURST }
clb_pack LT_5_5 { U400_SDRAM.BURST_RNISKH51_LC_5_5_0, U400_SDRAM.TA_EN_i_ess_RNO_1_LC_5_5_1, U400_SDRAM.BURST_LC_5_5_3 }
set_location LT_5_5 5 5
ble_pack U400_SDRAM.RAM_CYCLE_RNO_1_LC_5_6_0 { U400_SDRAM.RAM_CYCLE_RNO_1 }
ble_pack U400_SDRAM.RAM_CYCLE_RNO_0_LC_5_6_1 { U400_SDRAM.RAM_CYCLE_RNO_0 }
ble_pack U400_SDRAM.SDRAM_CONFIGURED_RNISAQQ4_LC_5_6_2 { U400_SDRAM.SDRAM_CONFIGURED_RNISAQQ4 }
ble_pack U400_SDRAM.TACK_RNO_5_LC_5_6_3 { U400_SDRAM.TACK_RNO_5 }
ble_pack U400_SDRAM.RAM_CYCLE_START_RNI58I35_LC_5_6_4 { U400_SDRAM.RAM_CYCLE_START_RNI58I35 }
ble_pack U400_SDRAM.WRITE_CYCLE_RNI18LH_LC_5_6_5 { U400_SDRAM.WRITE_CYCLE_RNI18LH }
ble_pack U400_SDRAM.TACK_RNO_4_LC_5_6_6 { U400_SDRAM.TACK_RNO_4 }
ble_pack U400_SDRAM.TACK_RNO_0_LC_5_6_7 { U400_SDRAM.TACK_RNO_0 }
clb_pack LT_5_6 { U400_SDRAM.RAM_CYCLE_RNO_1_LC_5_6_0, U400_SDRAM.RAM_CYCLE_RNO_0_LC_5_6_1, U400_SDRAM.SDRAM_CONFIGURED_RNISAQQ4_LC_5_6_2, U400_SDRAM.TACK_RNO_5_LC_5_6_3, U400_SDRAM.RAM_CYCLE_START_RNI58I35_LC_5_6_4, U400_SDRAM.WRITE_CYCLE_RNI18LH_LC_5_6_5, U400_SDRAM.TACK_RNO_4_LC_5_6_6, U400_SDRAM.TACK_RNO_0_LC_5_6_7 }
set_location LT_5_6 5 6
ble_pack U400_SDRAM.RAM_CYCLE_LC_5_7_1 { U400_SDRAM.RAM_CYCLE_RNO, U400_SDRAM.RAM_CYCLE }
ble_pack U400_SDRAM.WRITE_CYCLE_LC_5_7_2 { U400_SDRAM.WRITE_CYCLE_RNO, U400_SDRAM.WRITE_CYCLE }
clb_pack LT_5_7 { U400_SDRAM.RAM_CYCLE_LC_5_7_1, U400_SDRAM.WRITE_CYCLE_LC_5_7_2 }
set_location LT_5_7 5 7
ble_pack U400_SDRAM.CS0_EN_LC_5_8_0 { U400_SDRAM.CS0_EN_RNO, U400_SDRAM.CS0_EN }
ble_pack U400_SDRAM.CS0n_LC_5_8_1 { U400_SDRAM.CS0n_RNO, U400_SDRAM.CS0n }
ble_pack U400_SDRAM.MA_9_LC_5_8_2 { U400_SDRAM.MA_RNO[9], U400_SDRAM.MA[9] }
ble_pack U400_SDRAM.CS1_EN_LC_5_8_7 { U400_SDRAM.CS1_EN_RNO, U400_SDRAM.CS1_EN }
clb_pack LT_5_8 { U400_SDRAM.CS0_EN_LC_5_8_0, U400_SDRAM.CS0n_LC_5_8_1, U400_SDRAM.MA_9_LC_5_8_2, U400_SDRAM.CS1_EN_LC_5_8_7 }
set_location LT_5_8 5 8
ble_pack U400_SDRAM.REFRESH_COUNTER_0_LC_6_3_1 { U400_SDRAM.REFRESH_COUNTER_RNO[0], U400_SDRAM.REFRESH_COUNTER[0] }
ble_pack U400_SDRAM.REFRESH_COUNTER_1_LC_6_3_2 { U400_SDRAM.REFRESH_COUNTER_RNO[1], U400_SDRAM.REFRESH_COUNTER[1] }
clb_pack LT_6_3 { U400_SDRAM.REFRESH_COUNTER_0_LC_6_3_1, U400_SDRAM.REFRESH_COUNTER_1_LC_6_3_2 }
set_location LT_6_3 6 3
ble_pack U400_SDRAM.SDRAM_COUNTER_RNIJKCA2_1_LC_6_4_0 { U400_SDRAM.SDRAM_COUNTER_RNIJKCA2[1] }
ble_pack U400_SDRAM.REFRESH_COUNTER_RNIMIPA1_1_LC_6_4_1 { U400_SDRAM.REFRESH_COUNTER_RNIMIPA1[1] }
ble_pack U400_SDRAM.TA_OUT_RNO_0_LC_6_4_3 { U400_SDRAM.TA_OUT_RNO_0 }
ble_pack U400_SDRAM.REFRESH_COUNTER_RNIUQPA1_5_LC_6_4_4 { U400_SDRAM.REFRESH_COUNTER_RNIUQPA1[5] }
clb_pack LT_6_4 { U400_SDRAM.SDRAM_COUNTER_RNIJKCA2_1_LC_6_4_0, U400_SDRAM.REFRESH_COUNTER_RNIMIPA1_1_LC_6_4_1, U400_SDRAM.TA_OUT_RNO_0_LC_6_4_3, U400_SDRAM.REFRESH_COUNTER_RNIUQPA1_5_LC_6_4_4 }
set_location LT_6_4 6 4
ble_pack U400_SDRAM.SDRAM_CMD_RNO_0_1_LC_6_5_0 { U400_SDRAM.SDRAM_CMD_RNO_0[1] }
ble_pack U400_SDRAM.SDRAM_CMD_1_LC_6_5_1 { U400_SDRAM.SDRAM_CMD_RNO[1], U400_SDRAM.SDRAM_CMD[1] }
ble_pack U400_SDRAM.TA_EN_i_ess_RNO_0_LC_6_5_4 { U400_SDRAM.TA_EN_i_ess_RNO_0 }
ble_pack U400_SDRAM.REFRESH_COUNTER_RNIVV903_8_LC_6_5_5 { U400_SDRAM.REFRESH_COUNTER_RNIVV903[8] }
clb_pack LT_6_5 { U400_SDRAM.SDRAM_CMD_RNO_0_1_LC_6_5_0, U400_SDRAM.SDRAM_CMD_1_LC_6_5_1, U400_SDRAM.TA_EN_i_ess_RNO_0_LC_6_5_4, U400_SDRAM.REFRESH_COUNTER_RNIVV903_8_LC_6_5_5 }
set_location LT_6_5 6 5
ble_pack U400_SDRAM.SDRAM_CMD_RNO_0_2_LC_6_6_0 { U400_SDRAM.SDRAM_CMD_RNO_0[2] }
ble_pack U400_SDRAM.TACK_RNO_3_LC_6_6_1 { U400_SDRAM.TACK_RNO_3 }
ble_pack U400_SDRAM.SDRAM_CMD_RNO_2_0_LC_6_6_4 { U400_SDRAM.SDRAM_CMD_RNO_2[0] }
ble_pack U400_SDRAM.SDRAM_CMD_RNO_1_0_LC_6_6_5 { U400_SDRAM.SDRAM_CMD_RNO_1[0] }
ble_pack U400_SDRAM.SDRAM_CMD_0_LC_6_6_6 { U400_SDRAM.SDRAM_CMD_RNO[0], U400_SDRAM.SDRAM_CMD[0] }
clb_pack LT_6_6 { U400_SDRAM.SDRAM_CMD_RNO_0_2_LC_6_6_0, U400_SDRAM.TACK_RNO_3_LC_6_6_1, U400_SDRAM.SDRAM_CMD_RNO_2_0_LC_6_6_4, U400_SDRAM.SDRAM_CMD_RNO_1_0_LC_6_6_5, U400_SDRAM.SDRAM_CMD_0_LC_6_6_6 }
set_location LT_6_6 6 6
ble_pack U400_SDRAM.SDRAM_COUNTER_RNIP3PD_0_LC_6_7_0 { U400_SDRAM.SDRAM_COUNTER_RNIP3PD[0] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNITTDH4_0_LC_6_7_1 { U400_SDRAM.SDRAM_COUNTER_RNITTDH4[0] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNIKV4N1_0_LC_6_7_4 { U400_SDRAM.SDRAM_COUNTER_RNIKV4N1[0] }
ble_pack U400_SDRAM.SDRAM_CMD_RNO_0_0_LC_6_7_5 { U400_SDRAM.SDRAM_CMD_RNO_0[0] }
ble_pack U400_SDRAM.RAM_CYCLE_START_LC_6_7_6 { U400_SDRAM.RAM_CYCLE_START_RNO, U400_SDRAM.RAM_CYCLE_START }
clb_pack LT_6_7 { U400_SDRAM.SDRAM_COUNTER_RNIP3PD_0_LC_6_7_0, U400_SDRAM.SDRAM_COUNTER_RNITTDH4_0_LC_6_7_1, U400_SDRAM.SDRAM_COUNTER_RNIKV4N1_0_LC_6_7_4, U400_SDRAM.SDRAM_CMD_RNO_0_0_LC_6_7_5, U400_SDRAM.RAM_CYCLE_START_LC_6_7_6 }
set_location LT_6_7 6 7
ble_pack U400_SDRAM.SDRAM_CONFIGURED_RNIPOT15_LC_6_8_1 { U400_SDRAM.SDRAM_CONFIGURED_RNIPOT15 }
ble_pack U400_SDRAM.CS1_EN_RNO_0_LC_6_8_2 { U400_SDRAM.CS1_EN_RNO_0 }
ble_pack U400_SDRAM.SDRAM_CONFIGURED_RNIHALH3_LC_6_8_4 { U400_SDRAM.SDRAM_CONFIGURED_RNIHALH3 }
ble_pack U400_SDRAM.RAM_CYCLE_START_RNIA1BE8_LC_6_8_5 { U400_SDRAM.RAM_CYCLE_START_RNIA1BE8 }
ble_pack U400_SDRAM.CS0_EN_RNO_0_LC_6_8_6 { U400_SDRAM.CS0_EN_RNO_0 }
ble_pack U400_SDRAM.SDRAM_CONFIGURED_RNIHPJJ1_LC_6_8_7 { U400_SDRAM.SDRAM_CONFIGURED_RNIHPJJ1 }
clb_pack LT_6_8 { U400_SDRAM.SDRAM_CONFIGURED_RNIPOT15_LC_6_8_1, U400_SDRAM.CS1_EN_RNO_0_LC_6_8_2, U400_SDRAM.SDRAM_CONFIGURED_RNIHALH3_LC_6_8_4, U400_SDRAM.RAM_CYCLE_START_RNIA1BE8_LC_6_8_5, U400_SDRAM.CS0_EN_RNO_0_LC_6_8_6, U400_SDRAM.SDRAM_CONFIGURED_RNIHPJJ1_LC_6_8_7 }
set_location LT_6_8 6 8
ble_pack U400_SDRAM.SDRAM_COUNTER_RNO_2_0_LC_6_9_1 { U400_SDRAM.SDRAM_COUNTER_RNO_2[0] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNO_4_0_LC_6_9_6 { U400_SDRAM.SDRAM_COUNTER_RNO_4[0] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNO_1_0_LC_6_9_7 { U400_SDRAM.SDRAM_COUNTER_RNO_1[0] }
clb_pack LT_6_9 { U400_SDRAM.SDRAM_COUNTER_RNO_2_0_LC_6_9_1, U400_SDRAM.SDRAM_COUNTER_RNO_4_0_LC_6_9_6, U400_SDRAM.SDRAM_COUNTER_RNO_1_0_LC_6_9_7 }
set_location LT_6_9 6 9
ble_pack U400_SDRAM.CS1n_LC_6_10_2 { U400_SDRAM.CS1n_RNO, U400_SDRAM.CS1n }
ble_pack U400_SDRAM.MA_12_LC_6_10_6 { U400_SDRAM.MA_RNO[12], U400_SDRAM.MA[12] }
clb_pack LT_6_10 { U400_SDRAM.CS1n_LC_6_10_2, U400_SDRAM.MA_12_LC_6_10_6 }
set_location LT_6_10 6 10
ble_pack U400_SDRAM.SDRAM_CMD_RNI06O9_0_LC_6_12_2 { U400_SDRAM.SDRAM_CMD_RNI06O9[0] }
ble_pack CONSTANT_ONE_LUT4_LC_6_12_3 { CONSTANT_ONE_LUT4 }
clb_pack LT_6_12 { U400_SDRAM.SDRAM_CMD_RNI06O9_0_LC_6_12_2, CONSTANT_ONE_LUT4_LC_6_12_3 }
set_location LT_6_12 6 12
ble_pack U400_BYTE_ENABLE.un1_UUBEn_0_a3_LC_7_3_6 { U400_BYTE_ENABLE.un1_UUBEn_0_a3 }
clb_pack LT_7_3 { U400_BYTE_ENABLE.un1_UUBEn_0_a3_LC_7_3_6 }
set_location LT_7_3 7 3
ble_pack U400_SDRAM.TA_EN_i_ess_LC_7_5_5 { U400_SDRAM.TA_EN_i_ess_RNO, U400_SDRAM.TA_EN_i_ess }
clb_pack LT_7_5 { U400_SDRAM.TA_EN_i_ess_LC_7_5_5 }
set_location LT_7_5 7 5
ble_pack U400_SDRAM.SDRAM_CONFIGURED_RNIVK7J_0_LC_7_6_0 { U400_SDRAM.SDRAM_CONFIGURED_RNIVK7J_0 }
ble_pack U400_SDRAM.SDRAM_CMD_RNO_2_2_LC_7_6_1 { U400_SDRAM.SDRAM_CMD_RNO_2[2] }
ble_pack U400_SDRAM.SDRAM_CMD_RNO_1_2_LC_7_6_2 { U400_SDRAM.SDRAM_CMD_RNO_1[2] }
ble_pack U400_SDRAM.SDRAM_CMD_2_LC_7_6_3 { U400_SDRAM.SDRAM_CMD_RNO[2], U400_SDRAM.SDRAM_CMD[2] }
ble_pack U400_SDRAM.SDRAM_CMD_RNO_1_1_LC_7_6_4 { U400_SDRAM.SDRAM_CMD_RNO_1[1] }
ble_pack U400_SDRAM.SDRAM_CONFIGURED_RNIA54Q_LC_7_6_7 { U400_SDRAM.SDRAM_CONFIGURED_RNIA54Q }
clb_pack LT_7_6 { U400_SDRAM.SDRAM_CONFIGURED_RNIVK7J_0_LC_7_6_0, U400_SDRAM.SDRAM_CMD_RNO_2_2_LC_7_6_1, U400_SDRAM.SDRAM_CMD_RNO_1_2_LC_7_6_2, U400_SDRAM.SDRAM_CMD_2_LC_7_6_3, U400_SDRAM.SDRAM_CMD_RNO_1_1_LC_7_6_4, U400_SDRAM.SDRAM_CONFIGURED_RNIA54Q_LC_7_6_7 }
set_location LT_7_6 7 6
ble_pack U400_SDRAM.RAM_CYCLE_START_RNIRHEJ5_LC_7_7_0 { U400_SDRAM.RAM_CYCLE_START_RNIRHEJ5 }
ble_pack U400_SDRAM.RAM_CYCLE_START_RNIRHEJ5_0_LC_7_7_1 { U400_SDRAM.RAM_CYCLE_START_RNIRHEJ5_0 }
ble_pack U400_SDRAM.SDRAM_COUNTER_3_LC_7_7_2 { U400_SDRAM.SDRAM_COUNTER_RNO[3], U400_SDRAM.SDRAM_COUNTER[3] }
ble_pack U400_SDRAM.SDRAM_CMD_RNO_2_1_LC_7_7_7 { U400_SDRAM.SDRAM_CMD_RNO_2[1] }
clb_pack LT_7_7 { U400_SDRAM.RAM_CYCLE_START_RNIRHEJ5_LC_7_7_0, U400_SDRAM.RAM_CYCLE_START_RNIRHEJ5_0_LC_7_7_1, U400_SDRAM.SDRAM_COUNTER_3_LC_7_7_2, U400_SDRAM.SDRAM_CMD_RNO_2_1_LC_7_7_7 }
set_location LT_7_7 7 7
ble_pack U400_SDRAM.SDRAM_COUNTER_RNIJKCA2_0_LC_7_8_0 { U400_SDRAM.SDRAM_COUNTER_RNIJKCA2[0] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNI2OIR_7_LC_7_8_1 { U400_SDRAM.SDRAM_COUNTER_RNI2OIR[7] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNIFAF21_2_LC_7_8_2 { U400_SDRAM.SDRAM_COUNTER_RNIFAF21[2] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNIKV4N1_0_0_LC_7_8_3 { U400_SDRAM.SDRAM_COUNTER_RNIKV4N1_0[0] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNO_5_0_LC_7_8_4 { U400_SDRAM.SDRAM_COUNTER_RNO_5[0] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNI8E8G1_0_LC_7_8_5 { U400_SDRAM.SDRAM_COUNTER_RNI8E8G1[0] }
ble_pack U400_SDRAM.SDRAM_CONFIGURED_RNI5POA3_LC_7_8_6 { U400_SDRAM.SDRAM_CONFIGURED_RNI5POA3 }
ble_pack U400_SDRAM.SDRAM_CONFIGURED_RNIJG6G7_LC_7_8_7 { U400_SDRAM.SDRAM_CONFIGURED_RNIJG6G7 }
clb_pack LT_7_8 { U400_SDRAM.SDRAM_COUNTER_RNIJKCA2_0_LC_7_8_0, U400_SDRAM.SDRAM_COUNTER_RNI2OIR_7_LC_7_8_1, U400_SDRAM.SDRAM_COUNTER_RNIFAF21_2_LC_7_8_2, U400_SDRAM.SDRAM_COUNTER_RNIKV4N1_0_0_LC_7_8_3, U400_SDRAM.SDRAM_COUNTER_RNO_5_0_LC_7_8_4, U400_SDRAM.SDRAM_COUNTER_RNI8E8G1_0_LC_7_8_5, U400_SDRAM.SDRAM_CONFIGURED_RNI5POA3_LC_7_8_6, U400_SDRAM.SDRAM_CONFIGURED_RNIJG6G7_LC_7_8_7 }
set_location LT_7_8 7 8
ble_pack U400_SDRAM.SDRAM_COUNTER_RNO_0_0_LC_7_9_6 { U400_SDRAM.SDRAM_COUNTER_RNO_0[0] }
ble_pack U400_SDRAM.SDRAM_COUNTER_0_LC_7_9_7 { U400_SDRAM.SDRAM_COUNTER_RNO[0], U400_SDRAM.SDRAM_COUNTER[0] }
clb_pack LT_7_9 { U400_SDRAM.SDRAM_COUNTER_RNO_0_0_LC_7_9_6, U400_SDRAM.SDRAM_COUNTER_0_LC_7_9_7 }
set_location LT_7_9 7 9
ble_pack U400_SDRAM.MA_11_LC_7_10_4 { U400_SDRAM.MA_RNO[11], U400_SDRAM.MA[11] }
ble_pack U400_SDRAM.SDRAM_CONFIGURED_LC_7_10_5 { U400_SDRAM.SDRAM_CONFIGURED_RNO, U400_SDRAM.SDRAM_CONFIGURED }
clb_pack LT_7_10 { U400_SDRAM.MA_11_LC_7_10_4, U400_SDRAM.SDRAM_CONFIGURED_LC_7_10_5 }
set_location LT_7_10 7 10
ble_pack U400_SDRAM.MA_4_LC_7_16_3 { U400_SDRAM.MA_RNO[4], U400_SDRAM.MA[4] }
ble_pack U400_SDRAM.MA_5_LC_7_16_4 { U400_SDRAM.MA_RNO[5], U400_SDRAM.MA[5] }
clb_pack LT_7_16 { U400_SDRAM.MA_4_LC_7_16_3, U400_SDRAM.MA_5_LC_7_16_4 }
set_location LT_7_16 7 16
ble_pack U400_SDRAM.SDRAM_COUNTER_RNI6MLK_2_LC_8_6_3 { U400_SDRAM.SDRAM_COUNTER_RNI6MLK[2] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNIVPE21_2_LC_8_6_4 { U400_SDRAM.SDRAM_COUNTER_RNIVPE21[2] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNI079H2_2_LC_8_6_5 { U400_SDRAM.SDRAM_COUNTER_RNI079H2[2] }
ble_pack TAn_obuft_RNO_LC_8_6_6 { TAn_obuft_RNO }
clb_pack LT_8_6 { U400_SDRAM.SDRAM_COUNTER_RNI6MLK_2_LC_8_6_3, U400_SDRAM.SDRAM_COUNTER_RNIVPE21_2_LC_8_6_4, U400_SDRAM.SDRAM_COUNTER_RNI079H2_2_LC_8_6_5, TAn_obuft_RNO_LC_8_6_6 }
set_location LT_8_6 8 6
ble_pack U400_SDRAM.SDRAM_COUNTER_1_LC_8_7_5 { U400_SDRAM.SDRAM_COUNTER_RNO[1], U400_SDRAM.SDRAM_COUNTER[1] }
clb_pack LT_8_7 { U400_SDRAM.SDRAM_COUNTER_1_LC_8_7_5 }
set_location LT_8_7 8 7
ble_pack U400_SDRAM.SDRAM_COUNTER_RNIQQB91_0_LC_8_8_0 { U400_SDRAM.SDRAM_COUNTER_RNIQQB91[0], U400_SDRAM.SDRAM_COUNTER_cry_c[0] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNO_0_1_LC_8_8_1 { U400_SDRAM.SDRAM_COUNTER_RNO_0[1], U400_SDRAM.SDRAM_COUNTER_cry_c[1] }
ble_pack U400_SDRAM.SDRAM_COUNTER_2_LC_8_8_2 { U400_SDRAM.SDRAM_COUNTER_RNO[2], U400_SDRAM.SDRAM_COUNTER[2], U400_SDRAM.SDRAM_COUNTER_cry_c[2] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNO_0_3_LC_8_8_3 { U400_SDRAM.SDRAM_COUNTER_RNO_0[3], U400_SDRAM.SDRAM_COUNTER_cry_c[3] }
ble_pack U400_SDRAM.SDRAM_COUNTER_4_LC_8_8_4 { U400_SDRAM.SDRAM_COUNTER_RNO[4], U400_SDRAM.SDRAM_COUNTER[4], U400_SDRAM.SDRAM_COUNTER_cry_c[4] }
ble_pack U400_SDRAM.SDRAM_COUNTER_5_LC_8_8_5 { U400_SDRAM.SDRAM_COUNTER_RNO[5], U400_SDRAM.SDRAM_COUNTER[5], U400_SDRAM.SDRAM_COUNTER_cry_c[5] }
ble_pack U400_SDRAM.SDRAM_COUNTER_6_LC_8_8_6 { U400_SDRAM.SDRAM_COUNTER_RNO[6], U400_SDRAM.SDRAM_COUNTER[6], U400_SDRAM.SDRAM_COUNTER_cry_c[6] }
ble_pack U400_SDRAM.SDRAM_COUNTER_7_LC_8_8_7 { U400_SDRAM.SDRAM_COUNTER_RNO[7], U400_SDRAM.SDRAM_COUNTER[7] }
clb_pack LT_8_8 { U400_SDRAM.SDRAM_COUNTER_RNIQQB91_0_LC_8_8_0, U400_SDRAM.SDRAM_COUNTER_RNO_0_1_LC_8_8_1, U400_SDRAM.SDRAM_COUNTER_2_LC_8_8_2, U400_SDRAM.SDRAM_COUNTER_RNO_0_3_LC_8_8_3, U400_SDRAM.SDRAM_COUNTER_4_LC_8_8_4, U400_SDRAM.SDRAM_COUNTER_5_LC_8_8_5, U400_SDRAM.SDRAM_COUNTER_6_LC_8_8_6, U400_SDRAM.SDRAM_COUNTER_7_LC_8_8_7 }
set_location LT_8_8 8 8
ble_pack U400_SDRAM.WRITE_CYCLE_RNICOHO_LC_8_9_0 { U400_SDRAM.WRITE_CYCLE_RNICOHO }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNI4ECU1_2_LC_8_9_1 { U400_SDRAM.SDRAM_COUNTER_RNI4ECU1[2] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNITTB91_2_LC_8_9_2 { U400_SDRAM.SDRAM_COUNTER_RNITTB91[2] }
ble_pack U400_SDRAM.SDRAM_COUNTER_RNO_3_0_LC_8_9_6 { U400_SDRAM.SDRAM_COUNTER_RNO_3[0] }
clb_pack LT_8_9 { U400_SDRAM.WRITE_CYCLE_RNICOHO_LC_8_9_0, U400_SDRAM.SDRAM_COUNTER_RNI4ECU1_2_LC_8_9_1, U400_SDRAM.SDRAM_COUNTER_RNITTB91_2_LC_8_9_2, U400_SDRAM.SDRAM_COUNTER_RNO_3_0_LC_8_9_6 }
set_location LT_8_9 8 9
ble_pack U400_SDRAM.SDRAM_CONFIGURED_RNIVK7J_LC_8_10_2 { U400_SDRAM.SDRAM_CONFIGURED_RNIVK7J }
clb_pack LT_8_10 { U400_SDRAM.SDRAM_CONFIGURED_RNIVK7J_LC_8_10_2 }
set_location LT_8_10 8 10
ble_pack U400_SDRAM.MA_RNO_0_5_LC_8_15_7 { U400_SDRAM.MA_RNO_0[5] }
clb_pack LT_8_15 { U400_SDRAM.MA_RNO_0_5_LC_8_15_7 }
set_location LT_8_15 8 15
ble_pack U400_SDRAM.MA_0_LC_8_16_1 { U400_SDRAM.MA_RNO[0], U400_SDRAM.MA[0] }
ble_pack U400_SDRAM.MA_10_LC_8_16_2 { U400_SDRAM.MA_RNO[10], U400_SDRAM.MA[10] }
clb_pack LT_8_16 { U400_SDRAM.MA_0_LC_8_16_1, U400_SDRAM.MA_10_LC_8_16_2 }
set_location LT_8_16 8 16
ble_pack U400_BYTE_ENABLE.un1_UMBEn_0_LC_9_3_0 { U400_BYTE_ENABLE.un1_UMBEn_0 }
ble_pack U400_BYTE_ENABLE.un1_LLBEn_0_LC_9_3_1 { U400_BYTE_ENABLE.un1_LLBEn_0 }
ble_pack U400_BYTE_ENABLE.un1_LMBEn_0_a3_LC_9_3_4 { U400_BYTE_ENABLE.un1_LMBEn_0_a3 }
clb_pack LT_9_3 { U400_BYTE_ENABLE.un1_UMBEn_0_LC_9_3_0, U400_BYTE_ENABLE.un1_LLBEn_0_LC_9_3_1, U400_BYTE_ENABLE.un1_LMBEn_0_a3_LC_9_3_4 }
set_location LT_9_3 9 3
ble_pack U400_SDRAM.RAM_CYCLE_START_RNO_0_LC_9_6_0 { U400_SDRAM.RAM_CYCLE_START_RNO_0 }
ble_pack U400_SDRAM.BURST8_0_a2_LC_9_6_2 { U400_SDRAM.BURST8_0_a2 }
ble_pack U400_ADDRESS_DECODE.N_220_3_i_LC_9_6_5 { U400_ADDRESS_DECODE.N_220_3_i }
clb_pack LT_9_6 { U400_SDRAM.RAM_CYCLE_START_RNO_0_LC_9_6_0, U400_SDRAM.BURST8_0_a2_LC_9_6_2, U400_ADDRESS_DECODE.N_220_3_i_LC_9_6_5 }
set_location LT_9_6 9 6
ble_pack U400_SDRAM.MA_3_LC_9_13_4 { U400_SDRAM.MA_RNO[3], U400_SDRAM.MA[3] }
clb_pack LT_9_13 { U400_SDRAM.MA_3_LC_9_13_4 }
set_location LT_9_13 9 13
ble_pack U400_SDRAM.MA_RNO_0_1_LC_9_15_4 { U400_SDRAM.MA_RNO_0[1] }
clb_pack LT_9_15 { U400_SDRAM.MA_RNO_0_1_LC_9_15_4 }
set_location LT_9_15 9 15
ble_pack U400_SDRAM.MA_2_LC_9_16_2 { U400_SDRAM.MA_RNO[2], U400_SDRAM.MA[2] }
ble_pack U400_SDRAM.MA_1_LC_9_16_4 { U400_SDRAM.MA_RNO[1], U400_SDRAM.MA[1] }
clb_pack LT_9_16 { U400_SDRAM.MA_2_LC_9_16_2, U400_SDRAM.MA_1_LC_9_16_4 }
set_location LT_9_16 9 16
set_location CLK40_ibuf_gb_io_gb 0 9
set_location RESETn_ibuf_RNIM9SF_0 0 8
set_io A[17] 16
set_io MA[5] 97
set_io LBENn 54
set_io CS0n 9
set_io A[25] 34
set_io UUBEn 37
set_io A[6] 69
set_io A[15] 81
set_io TAn 56
set_io MA[3] 100
set_io CLK40 53
set_io A[23] 36
set_io A[12] 82
set_io RnW 51
set_io MA[8] 94
set_io A[4] 65
set_io MA[1] 85
set_io BANK1 7
set_io A[21] 21
set_io A[10] 73
set_io UMBEn 40
set_io MA[6] 96
set_io A[30] 33
set_io A[28] 30
set_io A[2] 78
set_io A[19] 18
set_io MA[10] 87
set_io A[9] 66
set_io A[16] 15
set_io SIZ[1] 59
set_io MA[4] 99
set_io A[26] 29
set_io A[0] 3
set_io WEn 13
set_io MA[12] 91
set_io LLBEn 42
set_io A[7] 71
set_io A[14] 80
set_io MA[2] 83
set_io A[24] 24
set_io A[5] 68
set_io TSn 57
set_io MA[0] 86
set_io LMBEn 41
set_io A[22] 28
set_io A[13] 64
set_io RASn 10
set_io MA[9] 93
set_io CS1n 90
set_io A[3] 79
set_io A[29] 26
set_io A[18] 19
set_io RESETn 63
set_io MA[11] 89
set_io CLK_EN 1
set_io CASn 12
set_io BANK0 8
set_io A[20] 20
set_io A[11] 74
set_io SIZ[0] 60
set_io MA[7] 95
set_io A[31] 27
set_io A[27] 25
set_io A[1] 4
set_io A[8] 72
