set_io -pullup yes A[0] 12
set_io A[1]       10
set_io A[2]       8
set_io A[3]       9
set_io A[4]       15
set_io A[5]       16
set_io A[6]       17
set_io A[7]       18
set_io A[8]       19
set_io A[9]       22
set_io A[10]      23
set_io A[11]      24
set_io A[12]      25
set_io A[13]      26
set_io A[14]      28
set_io A[15]      29
set_io A[16]      31
set_io A[17]      32
set_io A[18]      33
set_io A[19]      34
set_io A[20]      11

set_io DRA[0]     102
set_io DRA[1]     101
set_io DRA[2]     99
set_io DRA[3]     98
set_io DRA[4]     97
set_io DRA[5]     96
set_io DRA[6]     95
set_io DRA[7]     91
set_io DRA[8]     90
set_io DRA[9]     106

set_io CMA[0]     55
set_io CMA[1]     48
set_io CMA[2]     47
set_io CMA[3]     76
set_io CMA[4]     78
set_io CMA[5]     79
set_io CMA[6]     80
set_io CMA[7]     81
set_io CMA[8]     82
set_io CMA[9]     83
set_io CMA[10]    56

set_io SIZ1       1
set_io SIZ0       2
set_io TT1        3
set_io TT0        4
set_io nTA        7
set_io CLK20      20
set_io CLK40A     21
set_io CLK40B     112
set_io nBG        37
set_io CLK80A     38
set_io CLK80B     115
set_io -pullup yes nTBI       39
set_io nREGSPACE  41
set_io nDBEN      42
set_io DBDIR      43
set_io nVBEN      44
set_io nCLLBE     45
set_io BANK1      49
set_io BANK0      52
set_io nCRCS      60
set_io nRAS       61
set_io nCAS       62
set_io nWE        73
set_io nCUMBE     74
set_io nCLMBE     75
set_io CLKE       84
set_io nCUUBE     85
set_io nRAS1      87
set_io nRAS0      88
set_io CLK7       93
set_io nRESET     94
set_io nCASL      104
set_io nCASU      105
set_io DRDDIR     107
set_io nDRDEN     110
set_io nAS        116
set_io nLDS       117
set_io nUDS       118
set_io nUMBE      121
set_io nLMBE      122
set_io nLLBE      124
set_io nUUBE      125
set_io nRAMSPACE  130
set_io nAWE       135
set_io nDBR       138
set_io nRAMEN     139
set_io nREGEN     141
set_io C1         142
set_io C3         143
set_io RnW        144