NET "nAS"		LOC="P1";
NET "A<20>"		LOC="P2";
NET "nTA"		LOC="P3";
//NET "TT1"		LOC="P4";
//NET "TT0"		LOC="P6";
NET "nUUBE"		LOC="P10";
NET "nUMBE"		LOC="P11";
NET "nLMBE"		LOC="P12";
NET "nLLBE"		LOC="P13";
NET "nCUUBE"	LOC="P14";
NET "nCUMBE"	LOC="P15";
NET "nCLMBE"	LOC="P16";
NET "nCLLBE"	LOC="P17";
NET "nCRCS"		LOC="P18";
NET "nCRAS"		LOC="P19";
NET "nCCAS"		LOC="P20";
NET "CLK40"		LOC="P22";
NET "nCWE"		LOC="P24";
NET "CCLKE"		LOC="P25";
NET "CMA<0>"	LOC="P29";
NET "CMA<1>"	LOC="P30";
NET "CMA<2>"	LOC="P32";
NET "CMA<3>"	LOC="P33";
NET "CMA<4>"	LOC="P34";
NET "CMA<5>"	LOC="P35";
NET "CMA<6>"	LOC="P36";
NET "CMA<7>"	LOC="P37";
NET "CMA<8>"	LOC="P39";
NET "CMA<9>"	LOC="P40";
NET "CMA<10>"	LOC="P41";
NET "nDBEN"		LOC="P42";
NET "DBDIR"		LOC="P43";
NET "nDRDEN"	LOC="P46";
NET "A<12>"		LOC="P49";
NET "A<10>"		LOC="P50";
NET "A<2>"		LOC="P52";
NET "A<16>"		LOC="P53";
NET "nRAS0"		LOC="P54";
NET "nRAS1"		LOC="P55";
NET "DRA<8>"	LOC="P56";
NET "DRA<7>"	LOC="P58";
NET "DRA<6>"	LOC="P59";
NET "DRA<5>"	LOC="P60";
NET "DRA<4>"	LOC="P61";
NET "DRA<3>"	LOC="P63";
NET "DRA<2>"	LOC="P64";
NET "DRA<1>"	LOC="P65";
NET "RnW"		LOC="P66";
NET "DRA<0>"	LOC="P67";
NET "nCASU"		LOC="P68";
NET "CLKC3"			LOC="P70";
NET "nREGEN"	LOC="P71";
NET "CLKC1"			LOC="P72";
NET "nDBR"		LOC="P73";
NET "nCASL"		LOC="P74";
NET "DRA<9>"	LOC="P76";
NET "AWE"		LOC="P77";
NET "nRAMEN"	LOC="P78";
NET "A<11>"		LOC="P79";
NET "A<13>"		LOC="P80";
NET "A<14>"		LOC="P81";
NET "A<3>"		LOC="P82";
NET "A<8>"		LOC="P85";
NET "A<15>"		LOC="P86";
NET "A<4>"		LOC="P87";
NET "A<19>"		LOC="P89";
NET "A<17>"		LOC="P90";
NET "A<7>"		LOC="P91";
NET "A<9>"		LOC="P92";
NET "A<18>"		LOC="P93";
NET "A<6>"		LOC="P94";
NET "A<5>"		LOC="P95";
NET "DRDDIR"	LOC="P96";
NET "nVBEN"		LOC="P97";
NET "nRESET"	LOC="P99";
