NET "A<2>"	LOC="2" ;
NET "A<3>"	LOC="3" ;
NET "A<4>"	LOC="4" ;
NET "A<5>"	LOC="5" ;
NET "A<6>"	LOC="6" ;
NET "A<7>"	LOC="7" ;
NET "A<8>"	LOC="9" ;
NET "A<9>"	LOC="10" ;
NET "A<10>"	LOC="11" ;
NET "A<11>"	LOC="12" ;
NET "A<12>"	LOC="13" ;
NET "A<13>"	LOC="14" ;
NET "A<14>"	LOC="15" ;
NET "A<15>"	LOC="16" ;
NET "A<16>"	LOC="17" ;
NET "A<17>"	LOC="19" ;
NET "A<18>"	LOC="20" ;
NET "A<19>"	LOC="21" ;
NET "A<20>"	LOC="22" ;
NET "A<21>"	LOC="23" ;
NET "A<22>"	LOC="24" ;
NET "A<23>"	LOC="25" ;
NET "A<24>"	LOC="26" ;
NET "A<25>"	LOC="27" ;
NET "A<26>"	LOC="28" ;
NET "A<27>"	LOC="30" ;
NET "A<28>"	LOC="31" ;
NET "A<29>"	LOC="33" ;
NET "A<30>"	LOC="34" ;
NET "A<31>"	LOC="35" ;

NET "C3"			LOC="32" ;
NET "BCLK"		LOC="38" ;
NET "C1"			LOC="39" ;

NET "D<28>"	LOC="40" ;
NET "D<29>"	LOC="41" ;
NET "D<30>"	LOC="43" ;
NET "D<31>"	LOC="44" ;

NET "nAS"		LOC="45" ;
NET "nDBR"		LOC="46" ;
NET "nTIP"		LOC="52" ;
NET "BANK0"		LOC="53" ;
NET "BANK1"		LOC="54" ;
NET "EMCLKE"	LOC="56" ;
NET "nEMRAS"	LOC="57" ;
NET "nEMCAS"	LOC="58" ;
NET "nEMWE"		LOC="59" ;
NET "nEM0CS"	LOC="60" ;
NET "nEM1CS"	LOC="61" ;
//NET "nTS"		LOC="68" ;
NET "nEMEN"		LOC="69" ;
NET "RnW"		LOC="70" ;

NET "EMA<0>"	LOC="71" ;
NET "EMA<1>"	LOC="74" ;
NET "EMA<2>"	LOC="75" ;
NET "EMA<3>"	LOC="76" ;
NET "EMA<4>"	LOC="77" ;
NET "EMA<5>"	LOC="78" ;
NET "EMA<6>"	LOC="79" ;
NET "EMA<7>"	LOC="80" ;
NET "EMA<8>"	LOC="81" ;
NET "EMA<9>"	LOC="82" ;
NET "EMA<10>"	LOC="83" ;
NET "EMA<11>"	LOC="85" ;
NET "EMA<12>"	LOC="86" ;
NET "PHI2"		LOC="91" ;
NET "nCPURST"	LOC="92" ;
NET "nBTNRST"	LOC="93" ;
NET "nKBRST"	LOC="94" ;

NET "nPCIEN"		LOC="121" ;
NET "PCISOFTMODE"	LOC="124" ;
//NET "TM2"			LOC="125" ;
//NET "TM1"			LOC="126" ;
//NET "TM0"			LOC="128" ;
//NET "TT1"			LOC="129" ;
//NET "TT0"			LOC="130" ;
NET "AUTOBOOT"		LOC="131" ;
NET "IDESPACE"		LOC="132" ;
NET "nRTCWR"		LOC="133" ;
NET "nRTCRD"		LOC="134" ;
NET "nCIA0"			LOC="135" ;
NET "nVBEN"			LOC="136" ;
NET "OVL"			LOC="137" ;
NET "nROMEN"		LOC="138" ;
NET "nREGEN"		LOC="139" ;
NET "nTCI"			LOC="140" ;

