
#CLOCKS
set_io RESETn     62
set_io CLK6       52
set_io TICK60     63
set_io TICK50     64
set_io XCLK       93
set_io CLK28_IN   94
set_io AGNUS_CLK  97
set_io CLK_CIA   122
set_io CLK40     129
set_io XCLK_ENn  102

#CPU DATA BUS
#set_io D[0] 38 #D24
#set_io D[1] 39 #D25
#set_io D[2] 41 #D26
#set_io D[3] 42 #D27
set_io D[4] 43 #D28
set_io D[5] 44 #D29
set_io D[6] 45 #D30
set_io D[7] 47 #D31

#CPU ADDRESS BUS
set_io A[1]  144
set_io A[2]  143
set_io A[3]    1 
set_io A[4]   18
set_io A[5]   19
set_io A[6]   20
set_io A[7]   21
set_io A[8]   22
set_io A[9]   23
set_io A[10]  24
set_io A[11]  25
set_io A[12]  26
set_io A[13]  28
set_io A[14]  29
set_io A[15]  31
set_io A[16]  32
set_io A[17]  33
set_io A[18]  34
set_io A[19]  37
set_io A[20]  17
set_io A[21]  15 
set_io A[22]   3
set_io A[23]  16
set_io A[24]   8
set_io A[25]  12
set_io A[26]   4
set_io A[27]  11
set_io A[28]   2
set_io A[29]   7
set_io A[30]   9
set_io A[31]  10

#DATA TRANSFER SIGNALS
set_io TCIn         117
set_io TBIn         118
set_io PORTSIZE     135
set_io TACKn        119
set_io TSn          134
set_io TT[0]        138
set_io TT[1]        139
set_io ROM_DELAY[1] 107 -pullup yes
set_io ROM_DELAY[0] 106 -pullup yes
set_io RnW          142
set_io TM[0]        136
set_io TM[1]        137
set_io TM[2]        141

#ADDRESS SPACE SIGNALS
set_io OVL        83
set_io RAMSPACEn  48
set_io CIACS0n    80
set_io CIACS1n    81
set_io REGSPACEn 120
set_io BUFENn    121
set_io ROMENn    124
set_io RTC_ENn    82
set_io CPUCONFn  130

#PCI BRIDGE
set_io CONFIGENn 56
#set_io BREG_ENn  91
#set_io BPRO_ENn  55
#set_io PCIAT[1]  73
#set_io PCIAT[0]  74

#ATA
set_io ATA_ENn   90
set_io PCS0      75
set_io PCS1      76
set_io SCS0      78
set_io SCS1      79
set_io PPIO      87
set_io SPIO      88
set_io AUTOBOOT 110 -pullup yes
set_io PPIO_J   112 -pullup yes
set_io SPIO_J   113 -pullup yes

#FLASH
#set_io F_RDY     101
set_io F_ENn       95
#set_io F_WPn       99
#set_io F_READn    96
#set_io F_WRITEn   60
#set_io F_RSTn     61
#set_io F_BANK[1]  84
#set_io F_BANK[0]  85

#Test
#set_io TP0 110 -pullup yes