ble_pack U110_CYCLE_TERMINATION.TACK_OUT_EN_RNIK8OF_LC_1_2_7 { U110_CYCLE_TERMINATION.TACK_OUT_EN_RNIK8OF }
clb_pack LT_1_2 { U110_CYCLE_TERMINATION.TACK_OUT_EN_RNIK8OF_LC_1_2_7 }
set_location LT_1_2 1 2
ble_pack U110_BUFFERS.N_10_i_LC_1_12_2 { U110_BUFFERS.N_10_i }
clb_pack LT_1_12 { U110_BUFFERS.N_10_i_LC_1_12_2 }
set_location LT_1_12 1 12
ble_pack U110_CYCLE_TERMINATION.TACK_OUT_EN_LC_13_4_5 { U110_CYCLE_TERMINATION.TACK_OUT_EN_RNO, U110_CYCLE_TERMINATION.TACK_OUT_EN }
clb_pack LT_13_4 { U110_CYCLE_TERMINATION.TACK_OUT_EN_LC_13_4_5 }
set_location LT_13_4 13 4
ble_pack U110_CYCLE_TERMINATION.TACK_COUNT_1_LC_13_5_1 { U110_CYCLE_TERMINATION.TACK_COUNT_RNO[1], U110_CYCLE_TERMINATION.TACK_COUNT[1] }
ble_pack U110_CYCLE_TERMINATION.TACK_OUT_LC_13_5_2 { U110_CYCLE_TERMINATION.TACK_OUT_RNO, U110_CYCLE_TERMINATION.TACK_OUT }
ble_pack U110_CYCLE_TERMINATION.TACK_EN_RNO_0_LC_13_5_3 { U110_CYCLE_TERMINATION.TACK_EN_RNO_0 }
ble_pack U110_CYCLE_TERMINATION.TACK_EN_LC_13_5_4 { U110_CYCLE_TERMINATION.TACK_EN_RNO, U110_CYCLE_TERMINATION.TACK_EN }
ble_pack U110_CYCLE_TERMINATION.TACK_OUT_EN_RNO_0_LC_13_5_5 { U110_CYCLE_TERMINATION.TACK_OUT_EN_RNO_0 }
ble_pack U110_CYCLE_TERMINATION.TACK_EN_RNI5IVT_LC_13_5_6 { U110_CYCLE_TERMINATION.TACK_EN_RNI5IVT }
ble_pack U110_CYCLE_TERMINATION.TACK_COUNT_0_LC_13_5_7 { U110_CYCLE_TERMINATION.TACK_COUNT_RNO[0], U110_CYCLE_TERMINATION.TACK_COUNT[0] }
clb_pack LT_13_5 { U110_CYCLE_TERMINATION.TACK_COUNT_1_LC_13_5_1, U110_CYCLE_TERMINATION.TACK_OUT_LC_13_5_2, U110_CYCLE_TERMINATION.TACK_EN_RNO_0_LC_13_5_3, U110_CYCLE_TERMINATION.TACK_EN_LC_13_5_4, U110_CYCLE_TERMINATION.TACK_OUT_EN_RNO_0_LC_13_5_5, U110_CYCLE_TERMINATION.TACK_EN_RNI5IVT_LC_13_5_6, U110_CYCLE_TERMINATION.TACK_COUNT_0_LC_13_5_7 }
set_location LT_13_5 13 5
ble_pack U110_ATA.CYCLE_COUNT_RNIE7KJ1_1_LC_13_6_0 { U110_ATA.CYCLE_COUNT_RNIE7KJ1[1] }
ble_pack U110_ATA.CYCLE_COUNT_RNICV873_1_LC_13_6_1 { U110_ATA.CYCLE_COUNT_RNICV873[1] }
ble_pack U110_ATA.ATA_TACK_RNO_0_LC_13_6_2 { U110_ATA.ATA_TACK_RNO_0 }
ble_pack U110_ATA.ATA_START_RNI20BK_LC_13_6_3 { U110_ATA.ATA_START_RNI20BK }
ble_pack U110_ATA.ATA_START_LC_13_6_4 { U110_ATA.ATA_START_RNO, U110_ATA.ATA_START }
ble_pack U110_ATA.ATA_TACK_RNO_2_LC_13_6_5 { U110_ATA.ATA_TACK_RNO_2 }
ble_pack U110_ATA.ATA_TACK_RNO_1_LC_13_6_6 { U110_ATA.ATA_TACK_RNO_1 }
ble_pack U110_ATA.ATA_TACK_LC_13_6_7 { U110_ATA.ATA_TACK_RNO, U110_ATA.ATA_TACK }
clb_pack LT_13_6 { U110_ATA.CYCLE_COUNT_RNIE7KJ1_1_LC_13_6_0, U110_ATA.CYCLE_COUNT_RNICV873_1_LC_13_6_1, U110_ATA.ATA_TACK_RNO_0_LC_13_6_2, U110_ATA.ATA_START_RNI20BK_LC_13_6_3, U110_ATA.ATA_START_LC_13_6_4, U110_ATA.ATA_TACK_RNO_2_LC_13_6_5, U110_ATA.ATA_TACK_RNO_1_LC_13_6_6, U110_ATA.ATA_TACK_LC_13_6_7 }
set_location LT_13_6 13 6
ble_pack U110_ATA.CYCLE_COUNT_RNO_0_0_LC_13_7_0 { U110_ATA.CYCLE_COUNT_RNO_0[0], U110_ATA.un1_CYCLE_COUNT_15_cry_0_c }
ble_pack U110_ATA.un1_CYCLE_COUNT_15_cry_0_THRU_LUT4_0_LC_13_7_1 { U110_ATA.un1_CYCLE_COUNT_15_cry_0_THRU_LUT4_0, U110_ATA.un1_CYCLE_COUNT_15_cry_1_c }
ble_pack U110_ATA.un1_CYCLE_COUNT_15_cry_1_THRU_LUT4_0_LC_13_7_2 { U110_ATA.un1_CYCLE_COUNT_15_cry_1_THRU_LUT4_0, U110_ATA.un1_CYCLE_COUNT_15_cry_2_c }
ble_pack U110_ATA.CYCLE_COUNT_3_LC_13_7_3 { U110_ATA.CYCLE_COUNT_RNO[3], U110_ATA.CYCLE_COUNT[3], U110_ATA.un1_CYCLE_COUNT_15_cry_3_c }
ble_pack U110_ATA.CYCLE_COUNT_4_LC_13_7_4 { U110_ATA.CYCLE_COUNT_RNO[4], U110_ATA.CYCLE_COUNT[4], U110_ATA.un1_CYCLE_COUNT_15_cry_4_c }
ble_pack U110_ATA.CYCLE_COUNT_5_LC_13_7_5 { U110_ATA.CYCLE_COUNT_RNO[5], U110_ATA.CYCLE_COUNT[5], U110_ATA.un1_CYCLE_COUNT_15_cry_5_c }
ble_pack U110_ATA.CYCLE_COUNT_6_LC_13_7_6 { U110_ATA.CYCLE_COUNT_RNO[6], U110_ATA.CYCLE_COUNT[6], U110_ATA.un1_CYCLE_COUNT_15_cry_6_c }
ble_pack U110_ATA.CYCLE_COUNT_7_LC_13_7_7 { U110_ATA.CYCLE_COUNT_RNO[7], U110_ATA.CYCLE_COUNT[7] }
clb_pack LT_13_7 { U110_ATA.CYCLE_COUNT_RNO_0_0_LC_13_7_0, U110_ATA.un1_CYCLE_COUNT_15_cry_0_THRU_LUT4_0_LC_13_7_1, U110_ATA.un1_CYCLE_COUNT_15_cry_1_THRU_LUT4_0_LC_13_7_2, U110_ATA.CYCLE_COUNT_3_LC_13_7_3, U110_ATA.CYCLE_COUNT_4_LC_13_7_4, U110_ATA.CYCLE_COUNT_5_LC_13_7_5, U110_ATA.CYCLE_COUNT_6_LC_13_7_6, U110_ATA.CYCLE_COUNT_7_LC_13_7_7 }
set_location LT_13_7 13 7
ble_pack RESETn_ibuf_RNIM9SF_LC_14_5_4 { RESETn_ibuf_RNIM9SF }
clb_pack LT_14_5 { RESETn_ibuf_RNIM9SF_LC_14_5_4 }
set_location LT_14_5 14 5
ble_pack U110_ATA.CYCLE_COUNT_RNICV873_0_3_LC_14_6_0 { U110_ATA.CYCLE_COUNT_RNICV873_0[3] }
ble_pack U110_ATA.ATA_CYCLE_RNO_0_LC_14_6_1 { U110_ATA.ATA_CYCLE_RNO_0 }
ble_pack U110_ATA.ATA_CYCLE_LC_14_6_2 { U110_ATA.ATA_CYCLE_RNO, U110_ATA.ATA_CYCLE }
ble_pack U110_ATA.CYCLE_COUNT_RNIL1QP_1_LC_14_6_3 { U110_ATA.CYCLE_COUNT_RNIL1QP[1] }
ble_pack U110_ATA.CYCLE_COUNT_RNICV873_3_LC_14_6_4 { U110_ATA.CYCLE_COUNT_RNICV873[3] }
ble_pack U110_ATA.CYCLE_COUNT_RNIQUS27_3_LC_14_6_5 { U110_ATA.CYCLE_COUNT_RNIQUS27[3] }
ble_pack U110_ATA.ATA_START_RNIEVJR3_LC_14_6_6 { U110_ATA.ATA_START_RNIEVJR3 }
ble_pack U110_ATA.CYCLE_COUNT_0_LC_14_6_7 { U110_ATA.CYCLE_COUNT_RNO[0], U110_ATA.CYCLE_COUNT[0] }
clb_pack LT_14_6 { U110_ATA.CYCLE_COUNT_RNICV873_0_3_LC_14_6_0, U110_ATA.ATA_CYCLE_RNO_0_LC_14_6_1, U110_ATA.ATA_CYCLE_LC_14_6_2, U110_ATA.CYCLE_COUNT_RNIL1QP_1_LC_14_6_3, U110_ATA.CYCLE_COUNT_RNICV873_3_LC_14_6_4, U110_ATA.CYCLE_COUNT_RNIQUS27_3_LC_14_6_5, U110_ATA.ATA_START_RNIEVJR3_LC_14_6_6, U110_ATA.CYCLE_COUNT_0_LC_14_6_7 }
set_location LT_14_6 14 6
ble_pack U110_ATA.CYCLE_COUNT_RNIUNKJ1_7_LC_14_7_1 { U110_ATA.CYCLE_COUNT_RNIUNKJ1[7] }
ble_pack U110_ATA.CYCLE_COUNT_1_LC_14_7_2 { U110_ATA.CYCLE_COUNT_RNO[1], U110_ATA.CYCLE_COUNT[1] }
ble_pack U110_ATA.CYCLE_COUNT_RNIOHKJ1_5_LC_14_7_3 { U110_ATA.CYCLE_COUNT_RNIOHKJ1[5] }
ble_pack U110_ATA.CYCLE_COUNT_RNI1UBQ2_7_LC_14_7_4 { U110_ATA.CYCLE_COUNT_RNI1UBQ2[7] }
ble_pack U110_ATA.RW_EN_LC_14_7_5 { U110_ATA.RW_EN_RNO, U110_ATA.RW_EN }
ble_pack U110_ATA.CYCLE_COUNT_2_LC_14_7_7 { U110_ATA.CYCLE_COUNT_RNO[2], U110_ATA.CYCLE_COUNT[2] }
clb_pack LT_14_7 { U110_ATA.CYCLE_COUNT_RNIUNKJ1_7_LC_14_7_1, U110_ATA.CYCLE_COUNT_1_LC_14_7_2, U110_ATA.CYCLE_COUNT_RNIOHKJ1_5_LC_14_7_3, U110_ATA.CYCLE_COUNT_RNI1UBQ2_7_LC_14_7_4, U110_ATA.RW_EN_LC_14_7_5, U110_ATA.CYCLE_COUNT_2_LC_14_7_7 }
set_location LT_14_7 14 7
ble_pack CONSTANT_ONE_LUT4_LC_18_8_0 { CONSTANT_ONE_LUT4 }
clb_pack LT_18_8 { CONSTANT_ONE_LUT4_LC_18_8_0 }
set_location LT_18_8 18 8
ble_pack U110_ATA.un2_DIOR_SECn_LC_19_11_7 { U110_ATA.un2_DIOR_SECn }
clb_pack LT_19_11 { U110_ATA.un2_DIOR_SECn_LC_19_11_7 }
set_location LT_19_11 19 11
ble_pack U110_ATA.un1_CS0_SECn_i_LC_20_6_3 { U110_ATA.un1_CS0_SECn_i }
clb_pack LT_20_6 { U110_ATA.un1_CS0_SECn_i_LC_20_6_3 }
set_location LT_20_6 20 6
ble_pack U110_BUFFERS.un1_IDEHRENn_i_LC_20_9_5 { U110_BUFFERS.un1_IDEHRENn_i }
clb_pack LT_20_9 { U110_BUFFERS.un1_IDEHRENn_i_LC_20_9_5 }
set_location LT_20_9 20 9
ble_pack U110_ATA.un1_CS0_PRIn_i_LC_20_10_6 { U110_ATA.un1_CS0_PRIn_i }
clb_pack LT_20_10 { U110_ATA.un1_CS0_PRIn_i_LC_20_10_6 }
set_location LT_20_10 20 10
ble_pack U110_ATA.un2_DIOR_PRIn_LC_20_11_2 { U110_ATA.un2_DIOR_PRIn }
ble_pack U110_BUFFERS.un1_IDEHWENn_i_LC_20_11_7 { U110_BUFFERS.un1_IDEHWENn_i }
clb_pack LT_20_11 { U110_ATA.un2_DIOR_PRIn_LC_20_11_2, U110_BUFFERS.un1_IDEHWENn_i_LC_20_11_7 }
set_location LT_20_11 20 11
ble_pack U110_ATA.un1_CS1_PRIn_i_LC_20_12_1 { U110_ATA.un1_CS1_PRIn_i }
clb_pack LT_20_12 { U110_ATA.un1_CS1_PRIn_i_LC_20_12_1 }
set_location LT_20_12 20 12
ble_pack U110_ATA.un1_CS1_SECn_i_LC_20_14_7 { U110_ATA.un1_CS1_SECn_i }
clb_pack LT_20_14 { U110_ATA.un1_CS1_SECn_i_LC_20_14_7 }
set_location LT_20_14 20 14
ble_pack IDEDIR_obuf_RNO_LC_24_6_2 { IDEDIR_obuf_RNO }
clb_pack LT_24_6 { IDEDIR_obuf_RNO_LC_24_6_2 }
set_location LT_24_6 24 6
ble_pack U110_ATA.RW_EN_RNIJJJD1_LC_24_11_6 { U110_ATA.RW_EN_RNIJJJD1 }
ble_pack U110_ATA.RW_EN_RNIJJJD1_0_LC_24_11_7 { U110_ATA.RW_EN_RNIJJJD1_0 }
clb_pack LT_24_11 { U110_ATA.RW_EN_RNIJJJD1_LC_24_11_6, U110_ATA.RW_EN_RNIJJJD1_0_LC_24_11_7 }
set_location LT_24_11 24 11
ble_pack U110_ATA.RW_EN_RNIP3TI1_LC_24_12_3 { U110_ATA.RW_EN_RNIP3TI1 }
ble_pack U110_ATA.RW_EN_RNIP3TI1_0_LC_24_12_6 { U110_ATA.RW_EN_RNIP3TI1_0 }
clb_pack LT_24_12 { U110_ATA.RW_EN_RNIP3TI1_LC_24_12_3, U110_ATA.RW_EN_RNIP3TI1_0_LC_24_12_6 }
set_location LT_24_12 24 12
set_io IDEHRENn 88
set_io IDELENn 87
set_io TCIn 33
set_io TBIn 34
set_io SIZ[1] 18
set_io CS1_PRIn 95
set_io PCS1 24
set_io SCS0 23
set_io PCS0 25
set_io INT2n 121
set_io TEAn 10
set_io SCS1 22
set_io IDEDIR 83
set_io CS1_SECn 101
set_io CLK40 52
set_io TSn 47
set_io RnW 79
set_io DIOR_SECn 99
set_io ATA_LATCH 85
set_io DIOW_SECn 98
set_io BUSDIR 55
set_io ATA_ENn 12
set_io RESETn 49
set_io CS0_PRIn 91
set_io BURSTn 80
set_io TACKn 75
set_io SIZ[0] 17
set_io IDEHWENn 97
set_io DIOR_PRIn 96
set_io BGn 76
set_io DIOW_PRIn 94
set_io CS0_SECn 84
