set_location RESETn_ibuf_RNIM9SF 12 18 6 # SB_LUT4 (LogicCell: RESETn_ibuf_RNIM9SF_LC_0)
set_location U409_ADDRESS_DECODE.ATA_ROM_EN_RNIBHHS6 11 9 1 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.ATA_ROM_EN_RNIBHHS6_LC_1)
set_location U409_ADDRESS_DECODE.ATA_ROM_EN_RNITAAO4 8 10 2 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.ATA_ROM_EN_RNITAAO4_LC_2)
set_location U409_ADDRESS_DECODE.ATA_ROM_EN_RNITNPB5 7 9 1 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.ATA_ROM_EN_RNITNPB5_LC_3)
set_location U409_ADDRESS_DECODE.ATA_ROM_EN_RNO 7 8 6 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.ATA_ROM_EN_LC_4)
set_location U409_ADDRESS_DECODE.ATA_ROM_EN 7 8 6 # SB_DFFSS (LogicCell: U409_ADDRESS_DECODE.ATA_ROM_EN_LC_4)
set_location U409_ADDRESS_DECODE.AUTOCONFIG_SPACE 6 7 2 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_LC_5)
set_location U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_3 5 7 3 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_3_LC_6)
set_location U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_4 6 7 1 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_4_LC_7)
set_location U409_ADDRESS_DECODE.AUTOVECTOR 5 15 7 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.AUTOVECTOR_LC_8)
set_location U409_ADDRESS_DECODE.AUTOVECTOR_10 5 15 1 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.AUTOVECTOR_10_LC_9)
set_location U409_ADDRESS_DECODE.AUTOVECTOR_4 8 12 5 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.AUTOVECTOR_4_LC_10)
set_location U409_ADDRESS_DECODE.AUTOVECTOR_4_0 5 13 1 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.AUTOVECTOR_4_0_LC_11)
set_location U409_ADDRESS_DECODE.AUTOVECTOR_7 5 15 0 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.AUTOVECTOR_7_LC_12)
set_location U409_ADDRESS_DECODE.AUTOVECTOR_8 5 16 5 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.AUTOVECTOR_8_LC_13)
set_location U409_ADDRESS_DECODE.AUTOVECTOR_9 5 15 6 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.AUTOVECTOR_9_LC_14)
set_location U409_ADDRESS_DECODE.CIA_SPACE 7 13 4 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.CIA_SPACE_LC_15)
set_location U409_ADDRESS_DECODE.CIA_SPACE_0 7 13 3 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.CIA_SPACE_0_LC_16)
set_location U409_ADDRESS_DECODE.CIA_SPACE_4 7 13 7 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.CIA_SPACE_4_LC_17)
set_location U409_ADDRESS_DECODE.CIA_SPACE_6 5 12 1 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.CIA_SPACE_6_LC_18)
set_location U409_ADDRESS_DECODE.D_1_i 6 7 3 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.D_1_i_LC_19)
set_location U409_ADDRESS_DECODE.LOWROM_3 9 6 4 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.LOWROM_3_LC_20)
set_location U409_ADDRESS_DECODE.PORTSIZE_0_i 9 13 3 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.PORTSIZE_0_i_LC_21)
set_location U409_ADDRESS_DECODE.RAN_SPACE_0 8 12 6 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.RAN_SPACE_0_LC_22)
set_location U409_ADDRESS_DECODE.REG_SPACE_2 8 12 4 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.REG_SPACE_2_LC_23)
set_location U409_ADDRESS_DECODE.ROMEN_1 6 10 5 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.ROMEN_1_LC_24)
set_location U409_ADDRESS_DECODE.Z2_SPACE 3 15 5 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.Z2_SPACE_LC_25)
set_location U409_ADDRESS_DECODE.Z2_SPACE_4 3 15 0 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.Z2_SPACE_4_LC_26)
set_location U409_ADDRESS_DECODE.Z2_SPACE_5 3 15 4 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.Z2_SPACE_5_LC_27)
set_location U409_ADDRESS_DECODE.g0_i_0_0 5 10 4 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.g0_i_0_0_LC_28)
set_location U409_ADDRESS_DECODE.g0_i_a4_0_2 5 10 3 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.g0_i_a4_0_2_LC_29)
set_location U409_ADDRESS_DECODE.g0_i_a4_1 6 10 2 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.g0_i_a4_1_LC_30)
set_location U409_ADDRESS_DECODE.g0_i_a4_1_3 6 9 2 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.g0_i_a4_1_3_LC_31)
set_location U409_ADDRESS_DECODE.g0_i_o4_0 7 10 6 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.g0_i_o4_0_LC_32)
set_location U409_ADDRESS_DECODE.g0_i_o4_1 7 8 1 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.g0_i_o4_1_LC_33)
set_location U409_ADDRESS_DECODE.g2 6 15 0 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.g2_LC_34)
set_location U409_ADDRESS_DECODE.g2_0 6 15 2 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.g2_0_LC_35)
set_location U409_ADDRESS_DECODE.g2_10 7 7 6 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.g2_10_LC_36)
set_location U409_ADDRESS_DECODE.g2_11 7 9 0 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.g2_11_LC_37)
set_location U409_ADDRESS_DECODE.g2_4 6 16 5 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.g2_4_LC_38)
set_location U409_ADDRESS_DECODE.g2_5 6 15 7 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.g2_5_LC_39)
set_location U409_ADDRESS_DECODE.g2_6 6 15 6 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.g2_6_LC_40)
set_location U409_ADDRESS_DECODE.g2_7 7 15 3 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.g2_7_LC_41)
set_location U409_ADDRESS_DECODE.g2_9 6 15 3 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.g2_9_LC_42)
set_location U409_ADDRESS_DECODE.un1_AUTOCONFIG_SPACE 6 7 4 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_AUTOCONFIG_SPACE_LC_43)
set_location U409_ADDRESS_DECODE.un1_BRIDGE_ENn_0 6 12 1 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_BRIDGE_ENn_0_LC_44)
set_location U409_ADDRESS_DECODE.un1_BRIDGE_ENn_2 7 10 0 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_BRIDGE_ENn_2_LC_45)
set_location U409_ADDRESS_DECODE.un1_BRIDGE_ENn_4 7 10 1 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_BRIDGE_ENn_4_LC_46)
set_location U409_ADDRESS_DECODE.un1_BRIDGE_ENn_i 7 11 3 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_BRIDGE_ENn_i_LC_47)
set_location U409_ADDRESS_DECODE.un1_CIACS0n_i 11 3 4 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_CIACS0n_i_LC_48)
set_location U409_ADDRESS_DECODE.un1_CIACS1n_i 11 3 6 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_CIACS1n_i_LC_49)
set_location U409_ADDRESS_DECODE.un1_RAMSPACEn 9 11 7 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_RAMSPACEn_LC_50)
set_location U409_ADDRESS_DECODE.un1_RAMSPACEn_i 9 7 5 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_RAMSPACEn_i_LC_51)
set_location U409_ADDRESS_DECODE.un1_REGSPACEn 9 13 2 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_REGSPACEn_LC_52)
set_location U409_ADDRESS_DECODE.un1_REGSPACEn_i 10 14 5 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_REGSPACEn_i_LC_53)
set_location U409_ADDRESS_DECODE.un1_RTC_ENn 8 6 5 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_RTC_ENn_LC_54)
set_location U409_ADDRESS_DECODE.un1_RTC_ENn_2 8 11 2 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_RTC_ENn_2_LC_55)
set_location U409_ADDRESS_DECODE.un1_RTC_ENn_3 8 6 4 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_RTC_ENn_3_LC_56)
set_location U409_ADDRESS_DECODE.un1_RTC_ENn_i 8 6 0 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_RTC_ENn_i_LC_57)
set_location U409_ADDRESS_DECODE.un1_Z2_SPACE 7 8 5 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_Z2_SPACE_LC_58)
set_location U409_ADDRESS_DECODE.un1_Z2_SPACE_6_0 7 8 2 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_Z2_SPACE_6_0_LC_59)
set_location U409_ADDRESS_DECODE.un1_Z2_SPACE_6_1 7 7 1 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_Z2_SPACE_6_1_LC_60)
set_location U409_ADDRESS_DECODE.un1_Z2_SPACE_7_1 7 8 3 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_Z2_SPACE_7_1_LC_61)
set_location U409_ADDRESS_DECODE.un1_Z2_SPACE_7_2 8 7 1 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_Z2_SPACE_7_2_LC_62)
set_location U409_ADDRESS_DECODE.un1_Z2_SPACE_7_3 7 8 4 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un1_Z2_SPACE_7_3_LC_63)
set_location U409_ADDRESS_DECODE.un2_REGSPACEn 8 12 1 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un2_REGSPACEn_LC_64)
set_location U409_ADDRESS_DECODE.un2_REGSPACEn_0 8 12 0 # SB_LUT4 (LogicCell: U409_ADDRESS_DECODE.un2_REGSPACEn_0_LC_65)
set_location U409_AUTOCONFIG.AC_START_RNI777K2 5 11 4 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.AC_START_RNI777K2_LC_66)
set_location U409_AUTOCONFIG.AC_START_RNI9THQ1 5 12 4 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.AC_START_RNI9THQ1_LC_67)
set_location U409_AUTOCONFIG.AC_START_RNIJJLA1 5 11 3 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.AC_START_RNIJJLA1_LC_68)
set_location U409_AUTOCONFIG.AC_START_RNO 6 10 7 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.AC_START_LC_69)
set_location U409_AUTOCONFIG.AC_START 6 10 7 # SB_DFF (LogicCell: U409_AUTOCONFIG.AC_START_LC_69)
set_location U409_AUTOCONFIG.ATA_BASE10_2 2 11 7 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.ATA_BASE10_2_LC_70)
set_location U409_AUTOCONFIG.ATA_BASE_RNO[0] 8 8 1 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.ATA_BASE[0]_LC_71)
set_location U409_AUTOCONFIG.ATA_BASE[0] 8 8 1 # SB_DFFNSS (LogicCell: U409_AUTOCONFIG.ATA_BASE[0]_LC_71)
set_location U409_AUTOCONFIG.ATA_BASE_RNO[1] 8 8 3 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.ATA_BASE[1]_LC_72)
set_location U409_AUTOCONFIG.ATA_BASE[1] 8 8 3 # SB_DFFNSS (LogicCell: U409_AUTOCONFIG.ATA_BASE[1]_LC_72)
set_location U409_AUTOCONFIG.ATA_BASE_RNO[2] 8 7 2 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.ATA_BASE[2]_LC_73)
set_location U409_AUTOCONFIG.ATA_BASE[2] 8 7 2 # SB_DFFNSS (LogicCell: U409_AUTOCONFIG.ATA_BASE[2]_LC_73)
set_location U409_AUTOCONFIG.ATA_BASE_RNO[3] 8 8 7 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.ATA_BASE[3]_LC_74)
set_location U409_AUTOCONFIG.ATA_BASE[3] 8 8 7 # SB_DFFNSS (LogicCell: U409_AUTOCONFIG.ATA_BASE[3]_LC_74)
set_location U409_AUTOCONFIG.ATA_BASE_RNO[4] 6 8 4 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.ATA_BASE[4]_LC_75)
set_location U409_AUTOCONFIG.ATA_BASE[4] 6 8 4 # SB_DFFNSS (LogicCell: U409_AUTOCONFIG.ATA_BASE[4]_LC_75)
set_location U409_AUTOCONFIG.ATA_BASE_RNO[5] 6 8 2 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.ATA_BASE[5]_LC_76)
set_location U409_AUTOCONFIG.ATA_BASE[5] 6 8 2 # SB_DFFNSS (LogicCell: U409_AUTOCONFIG.ATA_BASE[5]_LC_76)
set_location U409_AUTOCONFIG.ATA_BASE_RNO[6] 8 8 4 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.ATA_BASE[6]_LC_77)
set_location U409_AUTOCONFIG.ATA_BASE[6] 8 8 4 # SB_DFFNSS (LogicCell: U409_AUTOCONFIG.ATA_BASE[6]_LC_77)
set_location U409_AUTOCONFIG.ATA_BASE_RNO[7] 8 8 0 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.ATA_BASE[7]_LC_78)
set_location U409_AUTOCONFIG.ATA_BASE[7] 8 8 0 # SB_DFFNSS (LogicCell: U409_AUTOCONFIG.ATA_BASE[7]_LC_78)
set_location U409_AUTOCONFIG.BRIDGE_BASE_RNO[0] 6 8 5 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_BASE[0]_LC_79)
set_location U409_AUTOCONFIG.BRIDGE_BASE[0] 6 8 5 # SB_DFFNSS (LogicCell: U409_AUTOCONFIG.BRIDGE_BASE[0]_LC_79)
set_location U409_AUTOCONFIG.BRIDGE_BASE_RNO[1] 6 8 0 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_BASE[1]_LC_80)
set_location U409_AUTOCONFIG.BRIDGE_BASE[1] 6 8 0 # SB_DFFNSS (LogicCell: U409_AUTOCONFIG.BRIDGE_BASE[1]_LC_80)
set_location U409_AUTOCONFIG.BRIDGE_BASE_RNO[2] 6 8 6 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_BASE[2]_LC_81)
set_location U409_AUTOCONFIG.BRIDGE_BASE[2] 6 8 6 # SB_DFFNSS (LogicCell: U409_AUTOCONFIG.BRIDGE_BASE[2]_LC_81)
set_location U409_AUTOCONFIG.BRIDGE_BASE_RNO[3] 8 8 6 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_BASE[3]_LC_82)
set_location U409_AUTOCONFIG.BRIDGE_BASE[3] 8 8 6 # SB_DFFNSS (LogicCell: U409_AUTOCONFIG.BRIDGE_BASE[3]_LC_82)
set_location U409_AUTOCONFIG.BRIDGE_CONF_RNO 5 8 7 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_CONF_LC_83)
set_location U409_AUTOCONFIG.BRIDGE_CONF 5 8 7 # SB_DFFNSR (LogicCell: U409_AUTOCONFIG.BRIDGE_CONF_LC_83)
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO[0] 5 12 0 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT[0]_LC_84)
set_location U409_AUTOCONFIG.BRIDGE_OUT[0] 5 12 0 # SB_DFFN (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT[0]_LC_84)
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_0[0] 3 12 4 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT_RNO_0[0]_LC_85)
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_0[1] 3 11 1 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT_RNO_0[1]_LC_86)
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_0[2] 5 11 5 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT_RNO_0[2]_LC_87)
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_0[3] 5 11 1 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT_RNO_0[3]_LC_88)
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO[1] 5 12 5 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT[1]_LC_89)
set_location U409_AUTOCONFIG.BRIDGE_OUT[1] 5 12 5 # SB_DFFN (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT[1]_LC_89)
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_1[0] 3 12 2 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT_RNO_1[0]_LC_90)
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_1[2] 5 11 7 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT_RNO_1[2]_LC_91)
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO[2] 5 11 6 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT[2]_LC_92)
set_location U409_AUTOCONFIG.BRIDGE_OUT[2] 5 11 6 # SB_DFFN (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT[2]_LC_92)
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_2[0] 2 12 7 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT_RNO_2[0]_LC_93)
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO[3] 5 11 2 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT[3]_LC_94)
set_location U409_AUTOCONFIG.BRIDGE_OUT[3] 5 11 2 # SB_DFFN (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT[3]_LC_94)
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_3[0] 3 12 3 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT_RNO_3[0]_LC_95)
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_4[0] 3 12 1 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT_RNO_4[0]_LC_96)
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_0_3_144_i_i_a2 6 12 3 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT_cnst_0_3_144_i_i_a2_LC_97)
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a2[0] 3 11 3 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a2[0]_LC_98)
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a2_2[0] 3 11 0 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a2_2[0]_LC_99)
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a3_0[2] 3 11 5 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a3_0[2]_LC_100)
set_location U409_AUTOCONFIG.CONFIGENn_RNO 6 8 3 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.CONFIGENn_LC_101)
set_location U409_AUTOCONFIG.CONFIGENn 6 8 3 # SB_DFFNSS (LogicCell: U409_AUTOCONFIG.CONFIGENn_LC_101)
set_location U409_AUTOCONFIG.LIDE_CONF_RNI0EA21 5 9 0 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_CONF_RNI0EA21_LC_102)
set_location U409_AUTOCONFIG.LIDE_CONF_RNIHQ9A3 7 9 5 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_CONF_RNIHQ9A3_LC_103)
set_location U409_AUTOCONFIG.LIDE_CONF_RNO 5 8 1 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_CONF_LC_104)
set_location U409_AUTOCONFIG.LIDE_CONF 5 8 1 # SB_DFFNSR (LogicCell: U409_AUTOCONFIG.LIDE_CONF_LC_104)
set_location U409_AUTOCONFIG.LIDE_OUT_8_sqmuxa_i_o2 2 12 6 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_8_sqmuxa_i_o2_LC_105)
set_location U409_AUTOCONFIG.LIDE_OUT_RNIMM061[0] 6 9 1 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_RNIMM061[0]_LC_106)
set_location U409_AUTOCONFIG.LIDE_OUT_RNIOO061[1] 6 11 6 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_RNIOO061[1]_LC_107)
set_location U409_AUTOCONFIG.LIDE_OUT_RNIQQ061[2] 6 11 7 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_RNIQQ061[2]_LC_108)
set_location U409_AUTOCONFIG.LIDE_OUT_RNISS061[3] 5 9 2 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_RNISS061[3]_LC_109)
set_location U409_AUTOCONFIG.LIDE_OUT_RNO[0] 6 11 1 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT[0]_LC_110)
set_location U409_AUTOCONFIG.LIDE_OUT[0] 6 11 1 # SB_DFFNSR (LogicCell: U409_AUTOCONFIG.LIDE_OUT[0]_LC_110)
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_0[0] 6 13 7 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_RNO_0[0]_LC_111)
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_0[1] 5 12 7 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_RNO_0[1]_LC_112)
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_0[3] 6 12 7 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_RNO_0[3]_LC_113)
set_location U409_AUTOCONFIG.LIDE_OUT_RNO[1] 6 11 2 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT[1]_LC_114)
set_location U409_AUTOCONFIG.LIDE_OUT[1] 6 11 2 # SB_DFFNSR (LogicCell: U409_AUTOCONFIG.LIDE_OUT[1]_LC_114)
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_1[0] 3 12 6 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_RNO_1[0]_LC_115)
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_1[1] 5 13 6 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_RNO_1[1]_LC_116)
set_location U409_AUTOCONFIG.LIDE_OUT_RNO[2] 6 11 3 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT[2]_LC_117)
set_location U409_AUTOCONFIG.LIDE_OUT[2] 6 11 3 # SB_DFFNSR (LogicCell: U409_AUTOCONFIG.LIDE_OUT[2]_LC_117)
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_2[0] 2 12 4 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_RNO_2[0]_LC_118)
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_2[1] 5 13 5 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_RNO_2[1]_LC_119)
set_location U409_AUTOCONFIG.LIDE_OUT_RNO[3] 6 11 4 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT[3]_LC_120)
set_location U409_AUTOCONFIG.LIDE_OUT[3] 6 11 4 # SB_DFFNSR (LogicCell: U409_AUTOCONFIG.LIDE_OUT[3]_LC_120)
set_location U409_AUTOCONFIG.LIDE_OUT_cnst_2_0_.m2_0_123_i_i_a3 2 12 3 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.LIDE_OUT_cnst_2_0_.m2_0_123_i_i_a3_LC_121)
set_location U409_AUTOCONFIG.STATE_RNI0FVT2[0] 7 9 4 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.STATE_RNI0FVT2[0]_LC_122)
set_location U409_AUTOCONFIG.STATE_RNI25A42[0] 6 9 5 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.STATE_RNI25A42[0]_LC_123)
set_location U409_AUTOCONFIG.STATE_RNIH7AQ2[0] 5 9 1 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.STATE_RNIH7AQ2[0]_LC_124)
set_location U409_AUTOCONFIG.STATE_RNO[0] 5 10 6 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.STATE[0]_LC_125)
set_location U409_AUTOCONFIG.STATE[0] 5 10 6 # SB_DFFN (LogicCell: U409_AUTOCONFIG.STATE[0]_LC_125)
set_location U409_AUTOCONFIG.un1_A_18 3 11 7 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.un1_A_18_LC_126)
set_location U409_AUTOCONFIG.un1_A_18_0 3 11 6 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.un1_A_18_0_LC_127)
set_location U409_AUTOCONFIG.un1_A_18_3_0_a2 3 12 5 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.un1_A_18_3_0_a2_LC_128)
set_location U409_AUTOCONFIG.un1_A_4_1_0_a2 2 11 2 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.un1_A_4_1_0_a2_LC_129)
set_location U409_CIA.CIA_CLK_COUNT_RNI9DRM[4] 12 10 3 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT_RNI9DRM[4]_LC_130)
set_location U409_CIA.CIA_CLK_COUNT_RNIHLRM[7] 11 10 0 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT_RNIHLRM[7]_LC_131)
set_location U409_CIA.CIA_CLK_COUNT_RNIIQMD1[2] 12 10 7 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT_RNIIQMD1[2]_LC_132)
set_location U409_CIA.CIA_CLK_COUNT_RNO[0] 11 10 6 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT[0]_LC_133)
set_location U409_CIA.CIA_CLK_COUNT[0] 11 10 6 # SB_DFF (LogicCell: U409_CIA.CIA_CLK_COUNT[0]_LC_133)
set_location U409_CIA.CIA_CLK_COUNT_RNO_0[3] 12 9 2 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT_RNO_0[3]_LC_134)
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_3_c 12 9 2 # SB_CARRY (LogicCell: U409_CIA.CIA_CLK_COUNT_RNO_0[3]_LC_134)
set_location U409_CIA.CIA_CLK_COUNT_RNO_0[5] 12 9 4 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT_RNO_0[5]_LC_135)
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_5_c 12 9 4 # SB_CARRY (LogicCell: U409_CIA.CIA_CLK_COUNT_RNO_0[5]_LC_135)
set_location U409_CIA.CIA_CLK_COUNT_RNO[1] 11 9 6 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT[1]_LC_136)
set_location U409_CIA.CIA_CLK_COUNT[1] 11 9 6 # SB_DFF (LogicCell: U409_CIA.CIA_CLK_COUNT[1]_LC_136)
set_location U409_CIA.CIA_CLK_COUNT_RNO[2] 12 9 1 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT[2]_LC_137)
set_location U409_CIA.CIA_CLK_COUNT[2] 12 9 1 # SB_DFF (LogicCell: U409_CIA.CIA_CLK_COUNT[2]_LC_137)
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_2_c 12 9 1 # SB_CARRY (LogicCell: U409_CIA.CIA_CLK_COUNT[2]_LC_137)
set_location U409_CIA.CIA_CLK_COUNT_RNO[3] 12 10 4 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT[3]_LC_138)
set_location U409_CIA.CIA_CLK_COUNT[3] 12 10 4 # SB_DFF (LogicCell: U409_CIA.CIA_CLK_COUNT[3]_LC_138)
set_location U409_CIA.CIA_CLK_COUNT_RNO[4] 12 9 3 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT[4]_LC_139)
set_location U409_CIA.CIA_CLK_COUNT[4] 12 9 3 # SB_DFF (LogicCell: U409_CIA.CIA_CLK_COUNT[4]_LC_139)
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_4_c 12 9 3 # SB_CARRY (LogicCell: U409_CIA.CIA_CLK_COUNT[4]_LC_139)
set_location U409_CIA.CIA_CLK_COUNT_RNO[5] 12 10 0 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT[5]_LC_140)
set_location U409_CIA.CIA_CLK_COUNT[5] 12 10 0 # SB_DFF (LogicCell: U409_CIA.CIA_CLK_COUNT[5]_LC_140)
set_location U409_CIA.CIA_CLK_COUNT_RNO[6] 12 9 5 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT[6]_LC_141)
set_location U409_CIA.CIA_CLK_COUNT[6] 12 9 5 # SB_DFF (LogicCell: U409_CIA.CIA_CLK_COUNT[6]_LC_141)
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_6_c 12 9 5 # SB_CARRY (LogicCell: U409_CIA.CIA_CLK_COUNT[6]_LC_141)
set_location U409_CIA.CIA_CLK_COUNT_RNO[7] 12 9 6 # SB_LUT4 (LogicCell: U409_CIA.CIA_CLK_COUNT[7]_LC_142)
set_location U409_CIA.CIA_CLK_COUNT[7] 12 9 6 # SB_DFF (LogicCell: U409_CIA.CIA_CLK_COUNT[7]_LC_142)
set_location U409_CIA.CLK_CIA_RNO 12 10 2 # SB_LUT4 (LogicCell: U409_CIA.CLK_CIA_LC_143)
set_location U409_CIA.CLK_CIA 12 10 2 # SB_DFF (LogicCell: U409_CIA.CLK_CIA_LC_143)
set_location U409_CIA.CLK_CIA_RNO_0 12 10 1 # SB_LUT4 (LogicCell: U409_CIA.CLK_CIA_RNO_0_LC_144)
set_location U409_CIA.CLK_CIA_RNO_1 12 10 5 # SB_LUT4 (LogicCell: U409_CIA.CLK_CIA_RNO_1_LC_145)
set_location U409_CIA.VMA_RNI692L 11 5 6 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.CIA_ENABLED[0]_LC_146)
set_location U409_TRANSFER_ACK.CIA_ENABLED[0] 11 5 6 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.CIA_ENABLED[0]_LC_146)
set_location U409_CIA.VMA_RNI692L_0 11 3 3 # SB_LUT4 (LogicCell: U409_CIA.VMA_RNI692L_0_LC_147)
set_location U409_CIA.VMA_RNO 11 10 2 # SB_LUT4 (LogicCell: U409_CIA.VMA_LC_148)
set_location U409_CIA.VMA 11 10 2 # SB_DFF (LogicCell: U409_CIA.VMA_LC_148)
set_location U409_CIA.VMA_RNO_0 11 10 1 # SB_LUT4 (LogicCell: U409_CIA.VMA_RNO_0_LC_149)
set_location U409_CIA.VMA_RNO_1 12 9 7 # SB_LUT4 (LogicCell: U409_CIA.VMA_RNO_1_LC_150)
set_location U409_DATA_BUFFERS.un1_BUFENn 10 14 3 # SB_LUT4 (LogicCell: U409_DATA_BUFFERS.un1_BUFENn_LC_151)
set_location U409_TICK.COUNTER50_RNI02282[16] 13 8 6 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNI02282[16]_LC_152)
set_location U409_TICK.COUNTER50_RNI3J3V[10] 13 7 4 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNI3J3V[10]_LC_153)
set_location U409_TICK.COUNTER50_RNIDMCS[11] 13 8 3 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNIDMCS[11]_LC_154)
set_location U409_TICK.COUNTER50_RNIG9CP[4] 13 8 5 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNIG9CP[4]_LC_155)
set_location U409_TICK.COUNTER50_RNIJAR11[3] 13 8 1 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNIJAR11[3]_LC_156)
set_location U409_TICK.COUNTER50_RNO[0] 13 8 7 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[0]_LC_157)
set_location U409_TICK.COUNTER50[0] 13 8 7 # SB_DFF (LogicCell: U409_TICK.COUNTER50[0]_LC_157)
set_location U409_TICK.COUNTER50_RNO_0[11] 14 8 2 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNO_0[11]_LC_158)
set_location U409_TICK.un2_COUNTER50_1_cry_11_c 14 8 2 # SB_CARRY (LogicCell: U409_TICK.COUNTER50_RNO_0[11]_LC_158)
set_location U409_TICK.COUNTER50_RNO_0[13] 14 8 4 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNO_0[13]_LC_159)
set_location U409_TICK.un2_COUNTER50_1_cry_13_c 14 8 4 # SB_CARRY (LogicCell: U409_TICK.COUNTER50_RNO_0[13]_LC_159)
set_location U409_TICK.COUNTER50_RNO_0[14] 14 8 5 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNO_0[14]_LC_160)
set_location U409_TICK.un2_COUNTER50_1_cry_14_c 14 8 5 # SB_CARRY (LogicCell: U409_TICK.COUNTER50_RNO_0[14]_LC_160)
set_location U409_TICK.COUNTER50_RNO_0[15] 14 8 6 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNO_0[15]_LC_161)
set_location U409_TICK.un2_COUNTER50_1_cry_15_c 14 8 6 # SB_CARRY (LogicCell: U409_TICK.COUNTER50_RNO_0[15]_LC_161)
set_location U409_TICK.COUNTER50_RNO_0[5] 14 7 4 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNO_0[5]_LC_162)
set_location U409_TICK.un2_COUNTER50_1_cry_5_c 14 7 4 # SB_CARRY (LogicCell: U409_TICK.COUNTER50_RNO_0[5]_LC_162)
set_location U409_TICK.COUNTER50_RNO_0[6] 14 7 5 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNO_0[6]_LC_163)
set_location U409_TICK.un2_COUNTER50_1_cry_6_c 14 7 5 # SB_CARRY (LogicCell: U409_TICK.COUNTER50_RNO_0[6]_LC_163)
set_location U409_TICK.COUNTER50_RNO_0[9] 14 8 0 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50_RNO_0[9]_LC_164)
set_location U409_TICK.un2_COUNTER50_1_cry_9_c 14 8 0 # SB_CARRY (LogicCell: U409_TICK.COUNTER50_RNO_0[9]_LC_164)
set_location U409_TICK.COUNTER50_RNO[1] 13 7 7 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[1]_LC_165)
set_location U409_TICK.COUNTER50[1] 13 7 7 # SB_DFF (LogicCell: U409_TICK.COUNTER50[1]_LC_165)
set_location U409_TICK.COUNTER50_RNO[10] 14 8 1 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[10]_LC_166)
set_location U409_TICK.COUNTER50[10] 14 8 1 # SB_DFF (LogicCell: U409_TICK.COUNTER50[10]_LC_166)
set_location U409_TICK.un2_COUNTER50_1_cry_10_c 14 8 1 # SB_CARRY (LogicCell: U409_TICK.COUNTER50[10]_LC_166)
set_location U409_TICK.COUNTER50_RNO[11] 13 7 5 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[11]_LC_167)
set_location U409_TICK.COUNTER50[11] 13 7 5 # SB_DFF (LogicCell: U409_TICK.COUNTER50[11]_LC_167)
set_location U409_TICK.COUNTER50_RNO[12] 14 8 3 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[12]_LC_168)
set_location U409_TICK.COUNTER50[12] 14 8 3 # SB_DFF (LogicCell: U409_TICK.COUNTER50[12]_LC_168)
set_location U409_TICK.un2_COUNTER50_1_cry_12_c 14 8 3 # SB_CARRY (LogicCell: U409_TICK.COUNTER50[12]_LC_168)
set_location U409_TICK.COUNTER50_RNO[13] 13 8 0 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[13]_LC_169)
set_location U409_TICK.COUNTER50[13] 13 8 0 # SB_DFF (LogicCell: U409_TICK.COUNTER50[13]_LC_169)
set_location U409_TICK.COUNTER50_RNO[14] 13 9 2 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[14]_LC_170)
set_location U409_TICK.COUNTER50[14] 13 9 2 # SB_DFF (LogicCell: U409_TICK.COUNTER50[14]_LC_170)
set_location U409_TICK.COUNTER50_RNO[15] 13 8 2 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[15]_LC_171)
set_location U409_TICK.COUNTER50[15] 13 8 2 # SB_DFF (LogicCell: U409_TICK.COUNTER50[15]_LC_171)
set_location U409_TICK.COUNTER50_RNO[16] 14 8 7 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[16]_LC_172)
set_location U409_TICK.COUNTER50[16] 14 8 7 # SB_DFF (LogicCell: U409_TICK.COUNTER50[16]_LC_172)
set_location U409_TICK.COUNTER50_RNO[2] 14 7 1 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[2]_LC_173)
set_location U409_TICK.COUNTER50[2] 14 7 1 # SB_DFF (LogicCell: U409_TICK.COUNTER50[2]_LC_173)
set_location U409_TICK.un2_COUNTER50_1_cry_2_c 14 7 1 # SB_CARRY (LogicCell: U409_TICK.COUNTER50[2]_LC_173)
set_location U409_TICK.COUNTER50_RNO[3] 14 7 2 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[3]_LC_174)
set_location U409_TICK.COUNTER50[3] 14 7 2 # SB_DFF (LogicCell: U409_TICK.COUNTER50[3]_LC_174)
set_location U409_TICK.un2_COUNTER50_1_cry_3_c 14 7 2 # SB_CARRY (LogicCell: U409_TICK.COUNTER50[3]_LC_174)
set_location U409_TICK.COUNTER50_RNO[4] 14 7 3 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[4]_LC_175)
set_location U409_TICK.COUNTER50[4] 14 7 3 # SB_DFF (LogicCell: U409_TICK.COUNTER50[4]_LC_175)
set_location U409_TICK.un2_COUNTER50_1_cry_4_c 14 7 3 # SB_CARRY (LogicCell: U409_TICK.COUNTER50[4]_LC_175)
set_location U409_TICK.COUNTER50_RNO[5] 13 7 0 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[5]_LC_176)
set_location U409_TICK.COUNTER50[5] 13 7 0 # SB_DFF (LogicCell: U409_TICK.COUNTER50[5]_LC_176)
set_location U409_TICK.COUNTER50_RNO[6] 13 7 2 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[6]_LC_177)
set_location U409_TICK.COUNTER50[6] 13 7 2 # SB_DFF (LogicCell: U409_TICK.COUNTER50[6]_LC_177)
set_location U409_TICK.COUNTER50_RNO[7] 14 7 6 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[7]_LC_178)
set_location U409_TICK.COUNTER50[7] 14 7 6 # SB_DFF (LogicCell: U409_TICK.COUNTER50[7]_LC_178)
set_location U409_TICK.un2_COUNTER50_1_cry_7_c 14 7 6 # SB_CARRY (LogicCell: U409_TICK.COUNTER50[7]_LC_178)
set_location U409_TICK.COUNTER50_RNO[8] 14 7 7 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[8]_LC_179)
set_location U409_TICK.COUNTER50[8] 14 7 7 # SB_DFF (LogicCell: U409_TICK.COUNTER50[8]_LC_179)
set_location U409_TICK.un2_COUNTER50_1_cry_8_c 14 7 7 # SB_CARRY (LogicCell: U409_TICK.COUNTER50[8]_LC_179)
set_location U409_TICK.COUNTER50_RNO[9] 13 8 4 # SB_LUT4 (LogicCell: U409_TICK.COUNTER50[9]_LC_180)
set_location U409_TICK.COUNTER50[9] 13 8 4 # SB_DFF (LogicCell: U409_TICK.COUNTER50[9]_LC_180)
set_location U409_TICK.COUNTER60_RNIA84S[11] 13 6 1 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60_RNIA84S[11]_LC_181)
set_location U409_TICK.COUNTER60_RNIDAFF[10] 13 6 6 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60_RNIDAFF[10]_LC_182)
set_location U409_TICK.COUNTER60_RNINQJI1[4] 13 5 4 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60_RNINQJI1[4]_LC_183)
set_location U409_TICK.COUNTER60_RNIRP4S[14] 13 6 3 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60_RNIRP4S[14]_LC_184)
set_location U409_TICK.COUNTER60_RNIVPLP1[16] 13 6 7 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60_RNIVPLP1[16]_LC_185)
set_location U409_TICK.COUNTER60_RNO[0] 13 6 4 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[0]_LC_186)
set_location U409_TICK.COUNTER60[0] 13 6 4 # SB_DFF (LogicCell: U409_TICK.COUNTER60[0]_LC_186)
set_location U409_TICK.COUNTER60_RNO_0[14] 14 6 5 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60_RNO_0[14]_LC_187)
set_location U409_TICK.un3_COUNTER60_1_cry_14_c 14 6 5 # SB_CARRY (LogicCell: U409_TICK.COUNTER60_RNO_0[14]_LC_187)
set_location U409_TICK.COUNTER60_RNO_0[15] 14 6 6 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60_RNO_0[15]_LC_188)
set_location U409_TICK.un3_COUNTER60_1_cry_15_c 14 6 6 # SB_CARRY (LogicCell: U409_TICK.COUNTER60_RNO_0[15]_LC_188)
set_location U409_TICK.COUNTER60_RNO_0[4] 14 5 3 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60_RNO_0[4]_LC_189)
set_location U409_TICK.un3_COUNTER60_1_cry_4_c 14 5 3 # SB_CARRY (LogicCell: U409_TICK.COUNTER60_RNO_0[4]_LC_189)
set_location U409_TICK.COUNTER60_RNO_0[6] 14 5 5 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60_RNO_0[6]_LC_190)
set_location U409_TICK.un3_COUNTER60_1_cry_6_c 14 5 5 # SB_CARRY (LogicCell: U409_TICK.COUNTER60_RNO_0[6]_LC_190)
set_location U409_TICK.COUNTER60_RNO_0[8] 14 5 7 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60_RNO_0[8]_LC_191)
set_location U409_TICK.un3_COUNTER60_1_cry_8_c 14 5 7 # SB_CARRY (LogicCell: U409_TICK.COUNTER60_RNO_0[8]_LC_191)
set_location U409_TICK.COUNTER60_RNO_0[9] 14 6 0 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60_RNO_0[9]_LC_192)
set_location U409_TICK.un3_COUNTER60_1_cry_9_c 14 6 0 # SB_CARRY (LogicCell: U409_TICK.COUNTER60_RNO_0[9]_LC_192)
set_location U409_TICK.COUNTER60_RNO[1] 13 5 0 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[1]_LC_193)
set_location U409_TICK.COUNTER60[1] 13 5 0 # SB_DFF (LogicCell: U409_TICK.COUNTER60[1]_LC_193)
set_location U409_TICK.COUNTER60_RNO[10] 14 6 1 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[10]_LC_194)
set_location U409_TICK.COUNTER60[10] 14 6 1 # SB_DFF (LogicCell: U409_TICK.COUNTER60[10]_LC_194)
set_location U409_TICK.un3_COUNTER60_1_cry_10_c 14 6 1 # SB_CARRY (LogicCell: U409_TICK.COUNTER60[10]_LC_194)
set_location U409_TICK.COUNTER60_RNO[11] 14 6 2 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[11]_LC_195)
set_location U409_TICK.COUNTER60[11] 14 6 2 # SB_DFF (LogicCell: U409_TICK.COUNTER60[11]_LC_195)
set_location U409_TICK.un3_COUNTER60_1_cry_11_c 14 6 2 # SB_CARRY (LogicCell: U409_TICK.COUNTER60[11]_LC_195)
set_location U409_TICK.COUNTER60_RNO[12] 14 6 3 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[12]_LC_196)
set_location U409_TICK.COUNTER60[12] 14 6 3 # SB_DFF (LogicCell: U409_TICK.COUNTER60[12]_LC_196)
set_location U409_TICK.un3_COUNTER60_1_cry_12_c 14 6 3 # SB_CARRY (LogicCell: U409_TICK.COUNTER60[12]_LC_196)
set_location U409_TICK.COUNTER60_RNO[13] 14 6 4 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[13]_LC_197)
set_location U409_TICK.COUNTER60[13] 14 6 4 # SB_DFF (LogicCell: U409_TICK.COUNTER60[13]_LC_197)
set_location U409_TICK.un3_COUNTER60_1_cry_13_c 14 6 4 # SB_CARRY (LogicCell: U409_TICK.COUNTER60[13]_LC_197)
set_location U409_TICK.COUNTER60_RNO[14] 13 6 2 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[14]_LC_198)
set_location U409_TICK.COUNTER60[14] 13 6 2 # SB_DFF (LogicCell: U409_TICK.COUNTER60[14]_LC_198)
set_location U409_TICK.COUNTER60_RNO[15] 13 6 0 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[15]_LC_199)
set_location U409_TICK.COUNTER60[15] 13 6 0 # SB_DFF (LogicCell: U409_TICK.COUNTER60[15]_LC_199)
set_location U409_TICK.COUNTER60_RNO[16] 14 6 7 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[16]_LC_200)
set_location U409_TICK.COUNTER60[16] 14 6 7 # SB_DFF (LogicCell: U409_TICK.COUNTER60[16]_LC_200)
set_location U409_TICK.COUNTER60_RNO[2] 14 5 1 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[2]_LC_201)
set_location U409_TICK.COUNTER60[2] 14 5 1 # SB_DFF (LogicCell: U409_TICK.COUNTER60[2]_LC_201)
set_location U409_TICK.un3_COUNTER60_1_cry_2_c 14 5 1 # SB_CARRY (LogicCell: U409_TICK.COUNTER60[2]_LC_201)
set_location U409_TICK.COUNTER60_RNO[3] 14 5 2 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[3]_LC_202)
set_location U409_TICK.COUNTER60[3] 14 5 2 # SB_DFF (LogicCell: U409_TICK.COUNTER60[3]_LC_202)
set_location U409_TICK.un3_COUNTER60_1_cry_3_c 14 5 2 # SB_CARRY (LogicCell: U409_TICK.COUNTER60[3]_LC_202)
set_location U409_TICK.COUNTER60_RNO[4] 13 5 3 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[4]_LC_203)
set_location U409_TICK.COUNTER60[4] 13 5 3 # SB_DFF (LogicCell: U409_TICK.COUNTER60[4]_LC_203)
set_location U409_TICK.COUNTER60_RNO[5] 14 5 4 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[5]_LC_204)
set_location U409_TICK.COUNTER60[5] 14 5 4 # SB_DFF (LogicCell: U409_TICK.COUNTER60[5]_LC_204)
set_location U409_TICK.un3_COUNTER60_1_cry_5_c 14 5 4 # SB_CARRY (LogicCell: U409_TICK.COUNTER60[5]_LC_204)
set_location U409_TICK.COUNTER60_RNO[6] 13 5 5 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[6]_LC_205)
set_location U409_TICK.COUNTER60[6] 13 5 5 # SB_DFF (LogicCell: U409_TICK.COUNTER60[6]_LC_205)
set_location U409_TICK.COUNTER60_RNO[7] 14 5 6 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[7]_LC_206)
set_location U409_TICK.COUNTER60[7] 14 5 6 # SB_DFF (LogicCell: U409_TICK.COUNTER60[7]_LC_206)
set_location U409_TICK.un3_COUNTER60_1_cry_7_c 14 5 6 # SB_CARRY (LogicCell: U409_TICK.COUNTER60[7]_LC_206)
set_location U409_TICK.COUNTER60_RNO[8] 13 5 1 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[8]_LC_207)
set_location U409_TICK.COUNTER60[8] 13 5 1 # SB_DFF (LogicCell: U409_TICK.COUNTER60[8]_LC_207)
set_location U409_TICK.COUNTER60_RNO[9] 13 6 5 # SB_LUT4 (LogicCell: U409_TICK.COUNTER60[9]_LC_208)
set_location U409_TICK.COUNTER60[9] 13 6 5 # SB_DFF (LogicCell: U409_TICK.COUNTER60[9]_LC_208)
set_location U409_TICK.TICK50_RNO 13 7 1 # SB_LUT4 (LogicCell: U409_TICK.TICK50_LC_209)
set_location U409_TICK.TICK50 13 7 1 # SB_DFF (LogicCell: U409_TICK.TICK50_LC_209)
set_location U409_TICK.TICK60_RNO 13 5 6 # SB_LUT4 (LogicCell: U409_TICK.TICK60_LC_210)
set_location U409_TICK.TICK60 13 5 6 # SB_DFF (LogicCell: U409_TICK.TICK60_LC_210)
set_location U409_TRANSFER_ACK.CIA_STATE_RNO[0] 11 6 1 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.CIA_STATE[0]_LC_211)
set_location U409_TRANSFER_ACK.CIA_STATE[0] 11 6 1 # SB_DFFN (LogicCell: U409_TRANSFER_ACK.CIA_STATE[0]_LC_211)
set_location U409_TRANSFER_ACK.CIA_STATE_RNO_0[0] 11 6 0 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.CIA_STATE_RNO_0[0]_LC_212)
set_location U409_TRANSFER_ACK.CIA_STATE_RNO_0[1] 12 6 0 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.CIA_STATE_RNO_0[1]_LC_213)
set_location U409_TRANSFER_ACK.CIA_STATE_RNO[1] 12 6 1 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.CIA_STATE[1]_LC_214)
set_location U409_TRANSFER_ACK.CIA_STATE[1] 12 6 1 # SB_DFFN (LogicCell: U409_TRANSFER_ACK.CIA_STATE[1]_LC_214)
set_location U409_TRANSFER_ACK.CIA_STATE_RNO_1[0] 11 6 6 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.CIA_STATE_RNO_1[0]_LC_215)
set_location U409_TRANSFER_ACK.CIA_TACK_EN_RNI7KT7 10 7 5 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.CIA_TACK_EN_RNI7KT7_LC_216)
set_location U409_TRANSFER_ACK.CIA_TACK_EN_RNO 10 8 0 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.CIA_TACK_EN_LC_217)
set_location U409_TRANSFER_ACK.CIA_TACK_EN 10 8 0 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.CIA_TACK_EN_LC_217)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI11UH2[5] 10 10 6 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI11UH2[5]_LC_218)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI1CKM1[7] 10 9 0 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI1CKM1[7]_LC_219)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI9U9R[2] 10 10 2 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI9U9R[2]_LC_220)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIISJM1[2] 10 10 5 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIISJM1[2]_LC_221)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIK98D3[4] 10 9 1 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIK98D3[4]_LC_222)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIK98D3[7] 10 9 5 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIK98D3[7]_LC_223)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIO2KM1[3] 10 9 4 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIO2KM1[3]_LC_224)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIQTP87[7] 10 9 6 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIQTP87[7]_LC_225)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[0] 10 10 7 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[0]_LC_226)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[0] 10 10 7 # SB_DFFNR (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[0]_LC_226)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO_0[3] 10 10 3 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO_0[3]_LC_227)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[1] 10 10 0 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[1]_LC_228)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[1] 10 10 0 # SB_DFFNR (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[1]_LC_228)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[2] 10 10 1 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[2]_LC_229)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[2] 10 10 1 # SB_DFFNR (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[2]_LC_229)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[3] 10 10 4 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[3]_LC_230)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[3] 10 10 4 # SB_DFFNR (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[3]_LC_230)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[4] 11 8 6 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[4]_LC_231)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[4] 11 8 6 # SB_DFFNR (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[4]_LC_231)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[5] 10 9 2 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[5]_LC_232)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[5] 10 9 2 # SB_DFFNR (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[5]_LC_232)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[6] 10 9 7 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[6]_LC_233)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[6] 10 9 7 # SB_DFFNR (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[6]_LC_233)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[7] 10 9 3 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[7]_LC_234)
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[7] 10 9 3 # SB_DFFNR (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[7]_LC_234)
set_location U409_TRANSFER_ACK.DELAYED_TACK_EN_RNIBQIN 10 7 6 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_EN_RNIBQIN_LC_235)
set_location U409_TRANSFER_ACK.DELAYED_TACK_EN_RNO 11 8 1 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_EN_LC_236)
set_location U409_TRANSFER_ACK.DELAYED_TACK_EN 11 8 1 # SB_DFFNR (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_EN_LC_236)
set_location U409_TRANSFER_ACK.DELAYED_TACK_RST_0_i 10 13 5 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.DELAYED_TACK_RST_0_i_LC_237)
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER_RNO 10 6 3 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.IRQ_TACK_COUNTER_LC_238)
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER 10 6 3 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.IRQ_TACK_COUNTER_LC_238)
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER_RNO_0 9 7 4 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.IRQ_TACK_COUNTER_RNO_0_LC_239)
set_location U409_TRANSFER_ACK.IRQ_TACK_EN_RNO 10 6 1 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.IRQ_TACK_EN_LC_240)
set_location U409_TRANSFER_ACK.IRQ_TACK_EN 10 6 1 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.IRQ_TACK_EN_LC_240)
set_location U409_TRANSFER_ACK.IRQ_TACK_EN_RNO_0 10 7 2 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.IRQ_TACK_EN_RNO_0_LC_241)
set_location U409_TRANSFER_ACK.LASTCLK_RNI9HNJ[1] 11 7 2 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.LASTCLK_RNI9HNJ[1]_LC_242)
set_location U409_TRANSFER_ACK.LASTCLK_RNIHJ5G[1] 11 7 5 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.LASTCLK_RNIHJ5G[1]_LC_243)
set_location U409_TRANSFER_ACK.ROMENn_RNO 10 8 1 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROMENn_LC_244)
set_location U409_TRANSFER_ACK.ROMENn 10 8 1 # SB_DFFNSS (LogicCell: U409_TRANSFER_ACK.ROMENn_LC_244)
set_location U409_TRANSFER_ACK.ROMENn_RNO_0 9 9 3 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROMENn_RNO_0_LC_245)
set_location U409_TRANSFER_ACK.ROMENn_RNO_1 9 9 7 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROMENn_RNO_1_LC_246)
set_location U409_TRANSFER_ACK.ROMENn_RNO_10 6 9 4 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROMENn_RNO_10_LC_247)
set_location U409_TRANSFER_ACK.ROMENn_RNO_11 7 15 4 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROMENn_RNO_11_LC_248)
set_location U409_TRANSFER_ACK.ROMENn_RNO_12 6 9 3 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROMENn_RNO_12_LC_249)
set_location U409_TRANSFER_ACK.ROMENn_RNO_2 9 9 6 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROMENn_RNO_2_LC_250)
set_location U409_TRANSFER_ACK.ROMENn_RNO_3 9 8 6 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROMENn_RNO_3_LC_251)
set_location U409_TRANSFER_ACK.ROMENn_RNO_4 9 8 1 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROMENn_RNO_4_LC_252)
set_location U409_TRANSFER_ACK.ROMENn_RNO_5 9 9 5 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROMENn_RNO_5_LC_253)
set_location U409_TRANSFER_ACK.ROMENn_RNO_6 9 8 5 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROMENn_RNO_6_LC_254)
set_location U409_TRANSFER_ACK.ROMENn_RNO_7 9 8 7 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROMENn_RNO_7_LC_255)
set_location U409_TRANSFER_ACK.ROMENn_RNO_8 7 10 5 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROMENn_RNO_8_LC_256)
set_location U409_TRANSFER_ACK.ROMENn_RNO_9 7 7 2 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROMENn_RNO_9_LC_257)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER15_s 9 10 3 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER15_s_LC_258)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNIAR8J[0] 9 9 1 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNIAR8J[0]_LC_259)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNIAR8J_0[0] 9 10 6 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNIAR8J_0[0]_LC_260)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNIAR8J_1[0] 9 9 2 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNIAR8J_1[0]_LC_261)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNIJBK9[0] 7 9 6 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNIJBK9[0]_LC_262)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[0] 8 9 2 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER[0]_LC_263)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[0] 8 9 2 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER[0]_LC_263)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO_0[0] 9 9 0 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO_0[0]_LC_264)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO_0[3] 9 10 7 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO_0[3]_LC_265)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[1] 8 9 0 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER[1]_LC_266)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[1] 8 9 0 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER[1]_LC_266)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[2] 8 10 6 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER[2]_LC_267)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[2] 8 10 6 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER[2]_LC_267)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[3] 8 10 7 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER[3]_LC_268)
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[3] 8 10 7 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.ROM_TACK_COUNTER[3]_LC_268)
set_location U409_TRANSFER_ACK.ROM_TACK_EN_RNO 10 8 2 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROM_TACK_EN_LC_269)
set_location U409_TRANSFER_ACK.ROM_TACK_EN 10 8 2 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.ROM_TACK_EN_LC_269)
set_location U409_TRANSFER_ACK.ROM_TACK_EN_RNO_0 9 9 4 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.ROM_TACK_EN_RNO_0_LC_270)
set_location U409_TRANSFER_ACK.TACK_COUNTER_RNO[0] 10 7 7 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.TACK_COUNTER[0]_LC_271)
set_location U409_TRANSFER_ACK.TACK_COUNTER[0] 10 7 7 # SB_DFFN (LogicCell: U409_TRANSFER_ACK.TACK_COUNTER[0]_LC_271)
set_location U409_TRANSFER_ACK.TACK_COUNTER_RNO[1] 10 7 3 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.TACK_COUNTER[1]_LC_272)
set_location U409_TRANSFER_ACK.TACK_COUNTER[1] 10 7 3 # SB_DFFN (LogicCell: U409_TRANSFER_ACK.TACK_COUNTER[1]_LC_272)
set_location U409_TRANSFER_ACK.TACK_EN_RNI1IRLB 11 13 2 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.TACK_EN_RNI1IRLB_LC_273)
set_location U409_TRANSFER_ACK.TACK_EN_RNO 10 8 4 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.TACK_EN_LC_274)
set_location U409_TRANSFER_ACK.TACK_EN 10 8 4 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.TACK_EN_LC_274)
set_location U409_TRANSFER_ACK.TACK_OUTn_RNO 11 7 4 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.TACK_OUTn_LC_275)
set_location U409_TRANSFER_ACK.TACK_OUTn 11 7 4 # SB_DFFN (LogicCell: U409_TRANSFER_ACK.TACK_OUTn_LC_275)
set_location U409_TRANSFER_ACK.TACK_OUTn_RNO_0 11 7 3 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.TACK_OUTn_RNO_0_LC_276)
set_location U409_AUTOCONFIG.AC_TACK_THRU_LUT4_0 5 8 5 # SB_LUT4 (LogicCell: U409_AUTOCONFIG.AC_TACK_LC_277)
set_location U409_AUTOCONFIG.AC_TACK 5 8 5 # SB_DFFNSR (LogicCell: U409_AUTOCONFIG.AC_TACK_LC_277)
set_location U409_TRANSFER_ACK.CIA_ENABLED_1_THRU_LUT4_0 11 5 2 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.CIA_ENABLED[1]_LC_278)
set_location U409_TRANSFER_ACK.CIA_ENABLED[1] 11 5 2 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.CIA_ENABLED[1]_LC_278)
set_location U409_TRANSFER_ACK.LASTCLK_0_THRU_LUT4_0 10 8 3 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.LASTCLK[0]_LC_279)
set_location U409_TRANSFER_ACK.LASTCLK[0] 10 8 3 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.LASTCLK[0]_LC_279)
set_location U409_TRANSFER_ACK.LASTCLK_1_THRU_LUT4_0 10 8 5 # SB_LUT4 (LogicCell: U409_TRANSFER_ACK.LASTCLK[1]_LC_280)
set_location U409_TRANSFER_ACK.LASTCLK[1] 10 8 5 # SB_DFFNSR (LogicCell: U409_TRANSFER_ACK.LASTCLK[1]_LC_280)
set_location GB_BUFFER_CLK40_IN_c_g_THRU_LUT4_0 12 1 7 # SB_LUT4 (LogicCell: GB_BUFFER_CLK40_IN_c_g_THRU_LUT4_0_LC_281)
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_1_c 12 9 0 # SB_CARRY (LogicCell: U409_CIA.un2_CIA_CLK_COUNT_cry_1_c_LC_282)
set_location U409_TICK.un2_COUNTER50_1_cry_1_c 14 7 0 # SB_CARRY (LogicCell: U409_TICK.un2_COUNTER50_1_cry_1_c_LC_283)
set_location U409_TICK.un3_COUNTER60_1_cry_1_c 14 5 0 # SB_CARRY (LogicCell: U409_TICK.un3_COUNTER60_1_cry_1_c_LC_284)
set_io ATA_ENn_obuf 25 9 1 # ICE_IO
set_io ATA_MODE_P_ibuf 23 21 1 # ICE_IO
set_io ATA_MODE_S_ibuf 23 21 0 # ICE_IO
set_io AUTOBOOT_ibuf 24 21 0 # ICE_IO
set_io A_ibuf[1] 2 21 1 # ICE_IO
set_io A_ibuf[12] 0 6 0 # ICE_IO
set_io A_ibuf[13] 0 3 1 # ICE_IO
set_io A_ibuf[16] 0 2 0 # ICE_IO
set_io A_ibuf[17] 0 1 1 # ICE_IO
set_io A_ibuf[18] 0 1 0 # ICE_IO
set_io A_ibuf[19] 2 0 0 # ICE_IO
set_io A_ibuf[2] 3 21 0 # ICE_IO
set_io A_ibuf[20] 0 12 1 # ICE_IO
set_io A_ibuf[21] 0 13 1 # ICE_IO
set_io A_ibuf[22] 0 19 1 # ICE_IO
set_io A_ibuf[23] 0 13 0 # ICE_IO
set_io A_ibuf[24] 0 18 0 # ICE_IO
set_io A_ibuf[25] 0 15 0 # ICE_IO
set_io A_ibuf[26] 0 19 0 # ICE_IO
set_io A_ibuf[27] 0 15 1 # ICE_IO
set_io A_ibuf[28] 0 20 0 # ICE_IO
set_io A_ibuf[29] 0 18 1 # ICE_IO
set_io A_ibuf[3] 0 20 1 # ICE_IO
set_io A_ibuf[30] 0 17 1 # ICE_IO
set_io A_ibuf[31] 0 17 0 # ICE_IO
set_io A_ibuf[4] 0 12 0 # ICE_IO
set_io A_ibuf[5] 0 11 1 # ICE_IO
set_io A_ibuf[6] 0 11 0 # ICE_IO
set_io A_ibuf[7] 0 10 1 # ICE_IO
set_io BRIDGE_ENn_obuf 25 10 0 # ICE_IO
set_io BUFENn_obuf 19 21 1 # ICE_IO
set_io CIACS0n_obuf 25 3 1 # ICE_IO
set_io CIACS1n_obuf 25 4 0 # ICE_IO
set_io CLK28_IN_ibuf_gb_io 25 11 0 # ICE_GB_IO
set_io CLK40_IN_ibuf_gb_io 12 21 1 # ICE_GB_IO
set_io CLK6_ibuf_gb_io 13 0 0 # ICE_GB_IO
set_io CLK_CIA_obuf 15 21 1 # ICE_IO
set_io CONFIGENn_obuf 19 0 0 # ICE_IO
set_io CPUCONFn_ibuf 9 21 1 # ICE_IO
set_io D_iobuf[4] 7 0 1 # ICE_IO
set_io D_iobuf[5] 8 0 0 # ICE_IO
set_io D_iobuf[6] 8 0 1 # ICE_IO
set_io D_iobuf[7] 11 0 1 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io OVL_ibuf 25 5 0 # ICE_IO
set_io PIO_P0_obuf 25 1 0 # ICE_IO
set_io PIO_P1_obuf 25 1 1 # ICE_IO
set_io PIO_P2_obuf 25 2 0 # ICE_IO
set_io PIO_S0_obuf 25 2 1 # ICE_IO
set_io PIO_S1_obuf 25 8 1 # ICE_IO
set_io PIO_S2_obuf 25 9 0 # ICE_IO
set_io PORTSIZE_obuf 7 21 0 # ICE_IO
set_io RAMSPACEn_obuf 12 0 0 # ICE_IO
set_io REGSPACEn_obuf 20 21 0 # ICE_IO
set_io RESETn_ibuf 21 0 0 # ICE_IO
set_io RESETn_ibuf_RNIM9SF_0 12 21 1 # ICE_GB
set_io ROMENn_obuf 15 21 0 # ICE_IO
set_io RTC_ENn_obuf 25 4 1 # ICE_IO
set_io RnW_ibuf 3 21 1 # ICE_IO
set_io TACKn_iobuf 21 21 1 # ICE_IO
set_io TBIn_obuft 22 21 0 # ICE_IO
set_io TCIn_obuft 22 21 1 # ICE_IO
set_io TICK50_obuf 18 0 0 # ICE_IO
set_io TICK60_obuf 17 0 1 # ICE_IO
set_io TM_ibuf[0] 6 21 1 # ICE_IO
set_io TM_ibuf[1] 6 21 0 # ICE_IO
set_io TSn_ibuf 7 21 1 # ICE_IO
set_io TT_ibuf[0] 5 21 1 # ICE_IO
set_io TT_ibuf[1] 5 21 0 # ICE_IO
set_location pll 12 0 1 # SB_PLL40_CORE
set_location INV_CLK40_IN_c_g -1 -1 -1 # INV
set_location INV_CLK80_OUT -1 -1 -1 # INV
set_location CONSTANT_ONE_LUT4 12 1 2 # SB_LUT4 (LogicCell: LC_285)
