set_location CONSTANT_ONE_LUT4 12 20 5 #SB_LUT4
set_location GB_BUFFER_CLK40_THRU_LUT4_0 10 8 4 #SB_LUT4
set_location GB_BUFFER_CLK80_THRU_LUT4_0 13 18 5 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_7_THRU_LUT4_0 14 12 5 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_6_THRU_LUT4_0 14 12 4 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_5_THRU_LUT4_0 14 12 7 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_4_THRU_LUT4_0 13 12 4 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_3_THRU_LUT4_0 14 12 0 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_2_THRU_LUT4_0 14 11 4 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_1_THRU_LUT4_0 14 12 3 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_0_THRU_LUT4_0 14 11 6 #SB_LUT4
set_location U111_CYCLE_SM.TS_DELAY_THRU_LUT4_0 11 11 6 #SB_LUT4
set_location U111_CYCLE_SM.TA_DIS_RNI576J 14 10 7 #SB_LUT4
set_location U111_CYCLE_SM.BURST_RNILNBJ 11 9 0 #SB_LUT4
set_location U111_BUFFERS.DMA_EN_i_0 9 20 3 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNICUN01 7 10 3 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNILJPK 11 20 0 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIIFFL[3] 14 14 7 #SB_LUT4
set_location U111_CYCLE_SM.PORT_MISMATCH_RNO 11 10 6 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[3] 12 9 0 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIOLFL[6] 15 12 5 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIK6O01 8 12 6 #SB_LUT4
set_location LBENn_c_sbtinv 11 1 5 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNO[3] 13 10 3 #SB_LUT4
set_location U111_CYCLE_SM.TS_OUT_RNO 10 10 3 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIJSI41 10 16 7 #SB_LUT4
set_location U111_CYCLE_SM.A2_EN_RNIA87G 3 1 5 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED[5] 11 11 0 #SB_DFFSR
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIQNFL[7] 14 19 7 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIRPPK 14 20 3 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_RNI0BVS1 13 11 4 #SB_LUT4
set_location U111_CYCLE_SM.BURST_COUNT_RNIFDQV[1] 11 9 3 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr[2] 14 11 4 #SB_DFFESR
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_RNI8QUM 15 12 3 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNI1UKT[7] 11 20 4 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED[0] 13 10 5 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD 10 9 4 #SB_DFFSR
set_location RESETn_ibuf_RNIM9SF 1 10 1 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr[7] 14 12 5 #SB_DFFESR
set_location U111_CYCLE_SM.CYCLE_STATE[5] 12 8 2 #SB_DFF
set_location U111_CYCLE_SM.BURST_COUNT[0] 11 10 5 #SB_DFFSR
set_location U111_CYCLE_SM.TCI_CPUn_0_i 14 13 5 #SB_LUT4
set_location U111_CYCLE_SM.TA_DIS_RNO 11 10 0 #SB_LUT4
set_location U111_CYCLE_SM.A2_EN 11 8 1 #SB_DFFSR
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIC9FL[0] 14 10 6 #SB_LUT4
set_location U111_CYCLE_SM.TS_EN_RNO 10 9 0 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE[0] 12 9 6 #SB_DFF
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[1] 11 9 1 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNO[6] 12 12 7 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNI4FT71 11 1 2 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE 13 11 2 #SB_DFFSR
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_0[2] 11 9 6 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNO[1] 13 10 1 #SB_LUT4
set_location U111_CYCLE_SM.TS_EN 10 9 0 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD_RNO 10 9 4 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIHFPK 8 20 4 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED[7] 11 11 4 #SB_DFFSR
set_location U111_CYCLE_SM.TS_DELAY_RNIDR7G 12 10 0 #SB_LUT4
set_location U111_CYCLE_SM.TS_OUT 10 10 3 #SB_DFFN
set_location U111_CYCLE_SM.TS_EN_RNO_0 11 9 5 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIHQI41 8 11 2 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNI6HT71 9 3 3 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNINJKT[2] 11 20 2 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr[0] 14 11 6 #SB_DFFESR
set_location U111_CYCLE_SM.LATCH_EN_RNO_0 12 10 7 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIASN01 13 15 1 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNI0BT71 8 3 4 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED[2] 11 11 2 #SB_DFFSR
set_location U111_CYCLE_SM.TA_DIS_RNICJKJ 14 13 4 #SB_LUT4
set_location U111_CYCLE_SM.LW_TRANS 11 10 4 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD_RNIE0O01 10 18 7 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_RNO 12 12 2 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNI7GI41 11 7 3 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNIGD6K_0[2] 12 10 4 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNITPKT[5] 11 20 6 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr[5] 14 12 7 #SB_DFFESR
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_RNIGTO81 13 11 3 #SB_LUT4
set_location U111_CYCLE_SM.BURST_RNO 11 10 1 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[4] 12 8 6 #SB_LUT4
set_location U111_CYCLE_SM.TA_DIS_RNO_0 11 9 2 #SB_LUT4
set_location TSn_obuft_RNO 8 3 5 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE[2] 11 9 7 #SB_DFF
set_location U111_CYCLE_SM.UU_LATCHED_RNILHKT[1] 13 15 3 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_RNINRNR 13 11 0 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNO[4] 11 11 7 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_1[0] 12 9 5 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_EN 11 10 7 #SB_DFFSR
set_location U111_CYCLE_SM.CYCLE_STATE_RNIGD6K[2] 12 10 3 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_0[0] 12 9 2 #SB_LUT4
set_location U111_CYCLE_SM.BURST 11 10 1 #SB_DFFSR
set_location TS_CPUn_iobuf_RNO 12 18 7 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNIPLKT[3] 13 20 2 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED[1] 13 10 1 #SB_DFFSR
set_location U111_CYCLE_SM.TA_DIS 11 10 0 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD_RNINLPK 11 20 5 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNICNT71 8 7 2 #SB_LUT4
set_location U111_CYCLE_SM.BURST_COUNT_RNO[0] 11 10 5 #SB_LUT4
set_location U111_CYCLE_SM.PORT_MISMATCH 11 10 6 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD_RNIU8T71 14 1 0 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIPNPK 7 20 6 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_0[5] 12 8 1 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIGDFL[2] 14 10 5 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr[6] 14 12 4 #SB_DFFESR
set_location U111_CYCLE_SM.BURST_COUNT[1] 11 10 3 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD_RNILUI41 10 16 4 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIDMI41 8 11 6 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNI9UTM[0] 12 10 1 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_3[0] 12 9 4 #SB_LUT4
set_location U111_CYCLE_SM.LATCH_EN 12 11 3 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD_RNII4O01 14 20 5 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE[1] 11 9 1 #SB_DFF
set_location GND -1 -1 -1 #GND
set_location U111_CYCLE_SM.FLIP_WORD_RNIM8O01 14 19 2 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_2[0] 11 9 4 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[2] 11 9 7 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNO[7] 11 11 4 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNIRNKT[4] 11 20 3 #SB_LUT4
set_location U111_CYCLE_SM.TS_DELAY 11 11 6 #SB_DFFSS
set_location U111_CYCLE_SM.CYCLE_EN_RNO 11 10 7 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNI2DT71 9 3 6 #SB_LUT4
set_location U111_CYCLE_SM.A2_EN_RNO 11 8 1 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNO[2] 11 11 2 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIG2O01 7 20 7 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIALT71 14 6 7 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED[4] 11 11 7 #SB_DFFSR
set_location U111_CYCLE_SM.TBI_CPUn_0_i 14 1 5 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_RNO 13 11 2 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr[3] 14 12 0 #SB_DFFESR
set_location U111_CYCLE_SM.LATCH_EN_RNO 12 11 3 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIBKI41 8 12 3 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNIJFKT[0] 13 20 0 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED[3] 13 10 3 #SB_DFFSR
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIKHFL[4] 13 18 0 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE 12 12 2 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD_RNIJHPK 12 18 0 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_EN_RNI26B3 12 11 6 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIMJFL[5] 14 20 7 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr[4] 13 12 4 #SB_DFFESR
set_location U111_CYCLE_SM.CYCLE_STATE[4] 12 8 6 #SB_DFF
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[5] 12 8 2 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr_RNIEBFL[1] 14 13 2 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE[3] 12 9 0 #SB_DFF
set_location U111_CYCLE_SM.un1_CYCLE_STATE_1_i_i_o2 11 7 6 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNIVRKT[6] 12 20 3 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIVTPK 12 20 1 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[0] 12 9 6 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNO[5] 11 11 0 #SB_LUT4
set_location U111_CYCLE_SM.LW_TRANS_RNO 11 10 4 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNO_0 8 7 5 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIFOI41 11 13 1 #SB_LUT4
set_location U111_BUFFERS.un1_DMA_EN_0[0] 9 20 7 #SB_LUT4
set_location U111_BUFFERS.N_94_i 9 20 6 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNO[0] 13 10 5 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNI8JT71 8 6 4 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED[6] 12 12 7 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD_RNI9II41 9 10 5 #SB_LUT4
set_location U111_CYCLE_SM.BURST_COUNT_RNO[1] 11 10 3 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNITRPK 8 20 6 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNI8QN01 9 10 0 #SB_LUT4
set_location U111_CYCLE_SM.A2_EN_RNIB97G 3 1 1 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_esr[1] 14 12 3 #SB_DFFESR
set_io TBIn 55
set_io SIZ[1] 120
set_io D_UM_040[4] 110
set_io D_LM_040[0] 82
set_io D_UU_AMIGA[3] 144
set_io D_LL_AMIGA[4] 29
set_io D_LL_040[1] 75
set_io D_LM_AMIGA[6] 9
set_io TEAn 43
set_io A_040[1] 38
set_io TSn 45
set_io D_UM_AMIGA[0] 17
set_io D_UM_040[0] 88
set_io D_LM_040[4] 87
set_io D_UU_AMIGA[7] 143
set_io D_UU_040[7] 116
set_io D_LM_AMIGA[1] 22
set_io D_LL_AMIGA[0] 33
set_io D_LL_040[5] 79
set_io RESETn 34
set_io SIZ[0] 121
set_io D_LM_040[1] 83
set_io CLKRAMA 56
set_io PORTSIZE 42
set_io D_UM_AMIGA[4] 3
set_io D_LL_AMIGA[5] 25
set_io D_LL_040[0] 74
set_io DMAAn 134
set_io TEA_CPUn 122
set_io LBENn 48
set_io D_UU_040[3] 112
set_io D_UM_AMIGA[3] 7
set_io D_UM_040[5] 114
set_io D_LM_AMIGA[5] 12
set_io D_LM_040[7] 99
set_io D_UU_AMIGA[2] 139
set_io D_UU_040[4] 119
set_io D_LL_AMIGA[7] 24
set_io D_LL_040[6] 80
set_io CLK40B 49
set_io A_040[0] 37
set_io TBI_CPUn 64
set_io TAn 124
set_io D_UM_AMIGA[1] 11
set_io D_UM_040[7] 105
set_io D_LM_AMIGA[7] 10
set_io D_LM_040[5] 90
set_io CPUBGn 102
set_io BUFENn 135
set_io RnW 97
set_io D_UU_AMIGA[0] 138
set_io D_UU_040[6] 115
set_io D_LM_AMIGA[0] 23
set_io D_LL_AMIGA[1] 28
set_io D_LL_040[4] 76
set_io CLK80_CPU 94
set_io BUFDIR 136
set_io A_AMIGA[1] 41
set_io TCI_CPUn 101
set_io D_UM_AMIGA[7] 4
set_io D_UM_040[1] 104
set_io TS_CPUn 125
set_io D_UU_AMIGA[6] 142
set_io D_UU_040[0] 117
set_io D_LM_AMIGA[2] 18
set_io D_LM_040[2] 84
set_io D_LL_AMIGA[3] 32
set_io CLKRAMB 52
set_io D_UM_AMIGA[5] 141
set_io D_UM_040[3] 106
set_io D_LL_040[3] 73
set_io CLK40A 93
set_io TCIn 44
set_io D_UU_AMIGA[4] 137
set_io D_UU_040[2] 118
set_io D_LM_AMIGA[4] 16
set_io CLK40C 21
set_io D_UM_AMIGA[2] 15
set_io D_UM_040[6] 95
set_io D_LM_040[6] 98
set_io CLK40_IN 129
set_io BBn 130
set_io D_UU_AMIGA[1] 8
set_io D_UU_040[5] 113
set_io D_LL_AMIGA[6] 26
set_io D_LL_040[7] 81
set_io D_LM_040[3] 85
set_io A_AMIGA[0] 39
set_io D_UM_AMIGA[6] 2
set_io D_UM_040[2] 91
set_io D_LL_040[2] 78
set_io TACKn 47
set_io D_UU_AMIGA[5] 1
set_io D_UU_040[1] 107
set_io D_LM_AMIGA[3] 19
set_io D_LL_AMIGA[2] 31
set_io BGn 96
