set_location CLKRAM_obuf_RNO 2 1 2 # SB_LUT4 (LogicCell: CLKRAM_obuf_RNO_LC_0)
set_location DBR_SYNC_RNITKK4[1] 8 13 1 # SB_LUT4 (LogicCell: DBR_SYNC_RNITKK4[1]_LC_1)
set_location DBRn_ibuf_RNIBAB 6 12 0 # SB_LUT4 (LogicCell: DBRn_ibuf_RNIBAB_LC_2)
set_location RESETn_ibuf_RNIM9SF 12 18 7 # SB_LUT4 (LogicCell: RESETn_ibuf_RNIM9SF_LC_3)
set_location U712_BUFFERS.DRDDIR_i_m2 24 19 0 # SB_LUT4 (LogicCell: U712_BUFFERS.DRDDIR_i_m2_LC_4)
set_location U712_BUFFERS.N_167_i 10 19 2 # SB_LUT4 (LogicCell: U712_BUFFERS.N_167_i_LC_5)
set_location U712_BUFFERS.N_169_i 13 9 1 # SB_LUT4 (LogicCell: U712_BUFFERS.N_169_i_LC_6)
set_location U712_BUFFERS.un1_VBENn_0_a2 8 4 4 # SB_LUT4 (LogicCell: U712_BUFFERS.un1_VBENn_0_a2_LC_7)
set_location U712_BYTE_ENABLE.LLBE_i_o2 9 11 7 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.LLBE_i_o2_LC_8)
set_location U712_BYTE_ENABLE.LMBE_i_o2 11 11 1 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.LMBE_i_o2_LC_9)
set_location U712_BYTE_ENABLE.N_176_i 9 6 4 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.N_176_i_LC_10)
set_location U712_BYTE_ENABLE.N_178_i 9 6 2 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.N_178_i_LC_11)
set_location U712_BYTE_ENABLE.N_186_i 12 8 2 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.N_186_i_LC_12)
set_location U712_BYTE_ENABLE.N_188_i 9 9 1 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.N_188_i_LC_13)
set_location U712_BYTE_ENABLE.N_323_i 14 20 4 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.N_323_i_LC_14)
set_location U712_BYTE_ENABLE.N_324_i 14 20 6 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.N_324_i_LC_15)
set_location U712_BYTE_ENABLE.N_325_i 14 20 3 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.N_325_i_LC_16)
set_location U712_BYTE_ENABLE.N_326_i 14 20 1 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.N_326_i_LC_17)
set_location U712_BYTE_ENABLE.UMBE_i_o2 9 12 2 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.UMBE_i_o2_LC_18)
set_location U712_BYTE_ENABLE.UUBE_i_o2 9 11 2 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.UUBE_i_o2_LC_19)
set_location U712_BYTE_ENABLE.un1_CLLBEn_i_a2_0_0 11 9 7 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.un1_CLLBEn_i_a2_0_0_LC_20)
set_location U712_BYTE_ENABLE.un1_CUMBEn_i_a2_0_0 8 9 4 # SB_LUT4 (LogicCell: U712_BYTE_ENABLE.un1_CUMBEn_i_a2_0_0_LC_21)
set_location U712_CHIP_RAM.CAS_COUNTER_RNO[0] 8 12 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CAS_COUNTER[0]_LC_22)
set_location U712_CHIP_RAM.CAS_COUNTER[0] 8 12 6 # SB_DFF (LogicCell: U712_CHIP_RAM.CAS_COUNTER[0]_LC_22)
set_location U712_CHIP_RAM.CAS_COUNTER_RNO_0[0] 8 12 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CAS_COUNTER_RNO_0[0]_LC_23)
set_location U712_CHIP_RAM.un1_CAS_COUNTER_cry_0_c 8 12 0 # SB_CARRY (LogicCell: U712_CHIP_RAM.CAS_COUNTER_RNO_0[0]_LC_23)
set_location U712_CHIP_RAM.CAS_COUNTER_RNO_0[1] 8 12 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CAS_COUNTER_RNO_0[1]_LC_24)
set_location U712_CHIP_RAM.un1_CAS_COUNTER_cry_1_c 8 12 1 # SB_CARRY (LogicCell: U712_CHIP_RAM.CAS_COUNTER_RNO_0[1]_LC_24)
set_location U712_CHIP_RAM.CAS_COUNTER_RNO_0[2] 8 12 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CAS_COUNTER_RNO_0[2]_LC_25)
set_location U712_CHIP_RAM.un1_CAS_COUNTER_cry_2_c 8 12 2 # SB_CARRY (LogicCell: U712_CHIP_RAM.CAS_COUNTER_RNO_0[2]_LC_25)
set_location U712_CHIP_RAM.CAS_COUNTER_RNO_0[3] 8 12 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CAS_COUNTER_RNO_0[3]_LC_26)
set_location U712_CHIP_RAM.CAS_COUNTER_RNO[1] 8 12 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CAS_COUNTER[1]_LC_27)
set_location U712_CHIP_RAM.CAS_COUNTER[1] 8 12 5 # SB_DFF (LogicCell: U712_CHIP_RAM.CAS_COUNTER[1]_LC_27)
set_location U712_CHIP_RAM.CAS_COUNTER_RNO[2] 8 12 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CAS_COUNTER[2]_LC_28)
set_location U712_CHIP_RAM.CAS_COUNTER[2] 8 12 4 # SB_DFF (LogicCell: U712_CHIP_RAM.CAS_COUNTER[2]_LC_28)
set_location U712_CHIP_RAM.CAS_COUNTER_RNO[3] 8 12 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CAS_COUNTER[3]_LC_29)
set_location U712_CHIP_RAM.CAS_COUNTER[3] 8 12 7 # SB_DFF (LogicCell: U712_CHIP_RAM.CAS_COUNTER[3]_LC_29)
set_location U712_CHIP_RAM.CAS_SYNC_RNO[0] 9 10 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CAS_SYNC[0]_LC_30)
set_location U712_CHIP_RAM.CAS_SYNC[0] 9 10 4 # SB_DFF (LogicCell: U712_CHIP_RAM.CAS_SYNC[0]_LC_30)
set_location U712_CHIP_RAM.CAS_SYNC_RNO[1] 9 10 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CAS_SYNC[1]_LC_31)
set_location U712_CHIP_RAM.CAS_SYNC[1] 9 10 1 # SB_DFF (LogicCell: U712_CHIP_RAM.CAS_SYNC[1]_LC_31)
set_location U712_CHIP_RAM.CLK_EN_ess_RNO 10 7 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CLK_EN_ess_LC_32)
set_location U712_CHIP_RAM.CLK_EN_ess 10 7 5 # SB_DFFESS (LogicCell: U712_CHIP_RAM.CLK_EN_ess_LC_32)
set_location U712_CHIP_RAM.CLK_EN_ess_RNO_0 11 8 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CLK_EN_ess_RNO_0_LC_33)
set_location U712_CHIP_RAM.CLK_EN_ess_RNO_1 11 8 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CLK_EN_ess_RNO_1_LC_34)
set_location U712_CHIP_RAM.CMA_esr_RNO[0] 14 4 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[0]_LC_35)
set_location U712_CHIP_RAM.CMA_esr[0] 14 4 2 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[0]_LC_35)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[0] 12 6 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[0]_LC_36)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[1] 13 6 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[1]_LC_37)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[2] 11 4 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[2]_LC_38)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[3] 15 6 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[3]_LC_39)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[4] 12 5 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[4]_LC_40)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[5] 12 7 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[5]_LC_41)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[6] 13 5 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[6]_LC_42)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[7] 13 5 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[7]_LC_43)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[8] 13 5 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[8]_LC_44)
set_location U712_CHIP_RAM.CMA_esr_RNO_0[9] 15 6 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_0[9]_LC_45)
set_location U712_CHIP_RAM.CMA_esr_RNO[1] 13 6 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[1]_LC_46)
set_location U712_CHIP_RAM.CMA_esr[1] 13 6 2 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[1]_LC_46)
set_location U712_CHIP_RAM.CMA_esr_RNO[10] 14 4 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[10]_LC_47)
set_location U712_CHIP_RAM.CMA_esr[10] 14 4 3 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[10]_LC_47)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[0] 12 6 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[0]_LC_48)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[1] 12 6 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[1]_LC_49)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[2] 11 4 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[2]_LC_50)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[3] 9 6 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[3]_LC_51)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[4] 12 5 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[4]_LC_52)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[5] 12 7 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[5]_LC_53)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[6] 12 5 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[6]_LC_54)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[7] 9 5 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[7]_LC_55)
set_location U712_CHIP_RAM.CMA_esr_RNO_1[8] 10 5 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_1[8]_LC_56)
set_location U712_CHIP_RAM.CMA_esr_RNO[2] 12 4 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[2]_LC_57)
set_location U712_CHIP_RAM.CMA_esr[2] 12 4 0 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[2]_LC_57)
set_location U712_CHIP_RAM.CMA_esr_RNO_2[1] 13 6 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_2[1]_LC_58)
set_location U712_CHIP_RAM.CMA_esr_RNO[3] 15 5 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[3]_LC_59)
set_location U712_CHIP_RAM.CMA_esr[3] 15 5 2 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[3]_LC_59)
set_location U712_CHIP_RAM.CMA_esr_RNO_3[1] 12 6 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr_RNO_3[1]_LC_60)
set_location U712_CHIP_RAM.CMA_esr_RNO[4] 14 5 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[4]_LC_61)
set_location U712_CHIP_RAM.CMA_esr[4] 14 5 1 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[4]_LC_61)
set_location U712_CHIP_RAM.CMA_esr_RNO[5] 13 7 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[5]_LC_62)
set_location U712_CHIP_RAM.CMA_esr[5] 13 7 0 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[5]_LC_62)
set_location U712_CHIP_RAM.CMA_esr_RNO[6] 14 4 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[6]_LC_63)
set_location U712_CHIP_RAM.CMA_esr[6] 14 4 7 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[6]_LC_63)
set_location U712_CHIP_RAM.CMA_esr_RNO[7] 14 5 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[7]_LC_64)
set_location U712_CHIP_RAM.CMA_esr[7] 14 5 4 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[7]_LC_64)
set_location U712_CHIP_RAM.CMA_esr_RNO[8] 14 5 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[8]_LC_65)
set_location U712_CHIP_RAM.CMA_esr[8] 14 5 0 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[8]_LC_65)
set_location U712_CHIP_RAM.CMA_esr_RNO[9] 14 6 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CMA_esr[9]_LC_66)
set_location U712_CHIP_RAM.CMA_esr[9] 14 6 1 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CMA_esr[9]_LC_66)
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_RNO[8] 10 9 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_COL_ADDRESS[8]_LC_67)
set_location U712_CHIP_RAM.CPU_COL_ADDRESS[8] 10 9 0 # SB_DFFSR (LogicCell: U712_CHIP_RAM.CPU_COL_ADDRESS[8]_LC_67)
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNIHSKQ 9 7 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_START_RNIHSKQ_LC_68)
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNO 9 9 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_START_LC_69)
set_location U712_CHIP_RAM.CPU_CYCLE_START 9 9 6 # SB_DFF (LogicCell: U712_CHIP_RAM.CPU_CYCLE_START_LC_69)
set_location U712_CHIP_RAM.CPU_CYCLE_START_RNO_0 9 9 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_START_RNO_0_LC_70)
set_location U712_CHIP_RAM.CPU_CYCLE_esr_RNIHMEA 15 4 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_esr_RNIHMEA_LC_71)
set_location U712_CHIP_RAM.CPU_CYCLE_esr_RNO 8 7 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_esr_RNO_LC_72)
set_location U712_CHIP_RAM.CPU_CYCLE_esr_RNO_0 9 7 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_esr_RNO_0_LC_73)
set_location U712_CHIP_RAM.CPU_TACK_RNO 11 8 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_TACK_LC_74)
set_location U712_CHIP_RAM.CPU_TACK 11 8 3 # SB_DFFSR (LogicCell: U712_CHIP_RAM.CPU_TACK_LC_74)
set_location U712_CHIP_RAM.CPU_TACK_RNO_0 11 7 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_TACK_RNO_0_LC_75)
set_location U712_CHIP_RAM.CPU_TACK_RNO_1 11 8 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_TACK_RNO_1_LC_76)
set_location U712_CHIP_RAM.CPU_TACK_RNO_2 9 6 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_TACK_RNO_2_LC_77)
set_location U712_CHIP_RAM.CPU_TACK_RNO_3 8 8 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_TACK_RNO_3_LC_78)
set_location U712_CHIP_RAM.DBDIR_RNO 10 9 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DBDIR_LC_79)
set_location U712_CHIP_RAM.DBDIR 10 9 3 # SB_DFFSS (LogicCell: U712_CHIP_RAM.DBDIR_LC_79)
set_location U712_CHIP_RAM.DBENn_RNO 10 9 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DBENn_LC_80)
set_location U712_CHIP_RAM.DBENn 10 9 1 # SB_DFFSS (LogicCell: U712_CHIP_RAM.DBENn_LC_80)
set_location U712_CHIP_RAM.DBENn_RNO_0 10 8 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DBENn_RNO_0_LC_81)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_RNO[8] 13 8 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS[8]_LC_82)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS[8] 13 8 0 # SB_DFFNSR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS[8]_LC_82)
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNICLGI4 10 8 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_START_RNICLGI4_LC_83)
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNIKHPV5 10 6 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_START_RNIKHPV5_LC_84)
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNINN3QI 10 7 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_START_RNINN3QI_LC_85)
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNO 9 9 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_START_LC_86)
set_location U712_CHIP_RAM.DMA_CYCLE_START 9 9 4 # SB_DFF (LogicCell: U712_CHIP_RAM.DMA_CYCLE_START_LC_86)
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNO_0 8 10 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_START_RNO_0_LC_87)
set_location U712_CHIP_RAM.DMA_CYCLE_esr_RNIBERN2 9 7 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_esr_RNIBERN2_LC_88)
set_location U712_CHIP_RAM.DMA_CYCLE_esr_RNILJ788 10 8 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_esr_RNILJ788_LC_89)
set_location U712_CHIP_RAM.DMA_CYCLE_esr_RNO 10 8 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_esr_RNO_LC_90)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4[0] 15 9 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[0]_LC_91)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[0] 15 9 2 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[0]_LC_91)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4[1] 16 8 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[1]_LC_92)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[1] 16 8 7 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[1]_LC_92)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4[2] 17 7 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[2]_LC_93)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[2] 17 7 7 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[2]_LC_93)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4[3] 15 7 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[3]_LC_94)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[3] 15 7 1 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[3]_LC_94)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4[4] 14 7 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[4]_LC_95)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[4] 14 7 1 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[4]_LC_95)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4[5] 14 7 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[5]_LC_96)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[5] 14 7 4 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[5]_LC_96)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4[6] 14 7 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[6]_LC_97)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[6] 14 7 7 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[6]_LC_97)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4[7] 17 6 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[7]_LC_98)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[7] 17 6 4 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[7]_LC_98)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4[8] 15 7 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[8]_LC_99)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[8] 15 7 7 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[8]_LC_99)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_RNO[9] 17 8 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[9]_LC_100)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[9] 17 8 4 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr[9]_LC_100)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle[9] 1 11 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_ROW_ADDRESS_esr_ctle[9]_LC_101)
set_location U712_CHIP_RAM.DMA_WRITE_CYCLE_RNO 11 7 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_WRITE_CYCLE_LC_102)
set_location U712_CHIP_RAM.DMA_WRITE_CYCLE 11 7 7 # SB_DFF (LogicCell: U712_CHIP_RAM.DMA_WRITE_CYCLE_LC_102)
set_location U712_CHIP_RAM.LATCH_CLK_RNO 11 5 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.LATCH_CLK_LC_103)
set_location U712_CHIP_RAM.LATCH_CLK 11 5 6 # SB_DFFSR (LogicCell: U712_CHIP_RAM.LATCH_CLK_LC_103)
set_location U712_CHIP_RAM.LATCH_CLK_RNO_0 11 8 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.LATCH_CLK_RNO_0_LC_104)
set_location U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNICG3P2 10 6 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNICG3P2_LC_105)
set_location U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIVA2D1 9 9 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIVA2D1_LC_106)
set_location U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIVA2D1_0 9 9 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNIVA2D1_0_LC_107)
set_location U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNO 9 10 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.RAM_CYCLE_DISABLE_LC_108)
set_location U712_CHIP_RAM.RAM_CYCLE_DISABLE 9 10 6 # SB_DFF (LogicCell: U712_CHIP_RAM.RAM_CYCLE_DISABLE_LC_108)
set_location U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNO_0 8 11 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNO_0_LC_109)
set_location U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNO_1 8 11 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.RAM_CYCLE_DISABLE_RNO_1_LC_110)
set_location U712_CHIP_RAM.RAS_SYNC_RNO[0] 17 9 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.RAS_SYNC[0]_LC_111)
set_location U712_CHIP_RAM.RAS_SYNC[0] 17 9 7 # SB_DFF (LogicCell: U712_CHIP_RAM.RAS_SYNC[0]_LC_111)
set_location U712_CHIP_RAM.RAS_SYNC_RNO[1] 16 10 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.RAS_SYNC[1]_LC_112)
set_location U712_CHIP_RAM.RAS_SYNC[1] 16 10 2 # SB_DFF (LogicCell: U712_CHIP_RAM.RAS_SYNC[1]_LC_112)
set_location U712_CHIP_RAM.RAS_SYNC_RNO[2] 16 10 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.RAS_SYNC[2]_LC_113)
set_location U712_CHIP_RAM.RAS_SYNC[2] 16 10 0 # SB_DFF (LogicCell: U712_CHIP_RAM.RAS_SYNC[2]_LC_113)
set_location U712_CHIP_RAM.RAS_SYNC_RNO[3] 13 10 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.RAS_SYNC[3]_LC_114)
set_location U712_CHIP_RAM.RAS_SYNC[3] 13 10 7 # SB_DFF (LogicCell: U712_CHIP_RAM.RAS_SYNC[3]_LC_114)
set_location U712_CHIP_RAM.RAS_SYNC_RNO[4] 8 10 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.RAS_SYNC[4]_LC_115)
set_location U712_CHIP_RAM.RAS_SYNC[4] 8 10 7 # SB_DFF (LogicCell: U712_CHIP_RAM.RAS_SYNC[4]_LC_115)
set_location U712_CHIP_RAM.RAS_SYNC_RNO[5] 8 10 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.RAS_SYNC[5]_LC_116)
set_location U712_CHIP_RAM.RAS_SYNC[5] 8 10 2 # SB_DFF (LogicCell: U712_CHIP_RAM.RAS_SYNC[5]_LC_116)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[0] 6 7 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[0]_LC_117)
set_location U712_CHIP_RAM.REFRESH_COUNTER[0] 6 7 0 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[0]_LC_117)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[0] 6 7 0 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[0]_LC_117)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[1] 6 7 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[1]_LC_118)
set_location U712_CHIP_RAM.REFRESH_COUNTER[1] 6 7 1 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[1]_LC_118)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[1] 6 7 1 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[1]_LC_118)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[2] 6 7 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[2]_LC_119)
set_location U712_CHIP_RAM.REFRESH_COUNTER[2] 6 7 2 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[2]_LC_119)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[2] 6 7 2 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[2]_LC_119)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[3] 6 7 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[3]_LC_120)
set_location U712_CHIP_RAM.REFRESH_COUNTER[3] 6 7 3 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[3]_LC_120)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[3] 6 7 3 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[3]_LC_120)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[4] 6 7 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[4]_LC_121)
set_location U712_CHIP_RAM.REFRESH_COUNTER[4] 6 7 4 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[4]_LC_121)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[4] 6 7 4 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[4]_LC_121)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[5] 6 7 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[5]_LC_122)
set_location U712_CHIP_RAM.REFRESH_COUNTER[5] 6 7 5 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[5]_LC_122)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[5] 6 7 5 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[5]_LC_122)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[6] 6 7 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[6]_LC_123)
set_location U712_CHIP_RAM.REFRESH_COUNTER[6] 6 7 6 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[6]_LC_123)
set_location U712_CHIP_RAM.REFRESH_COUNTER_cry_c[6] 6 7 6 # SB_CARRY (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[6]_LC_123)
set_location U712_CHIP_RAM.REFRESH_COUNTER_RNO[7] 6 7 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[7]_LC_124)
set_location U712_CHIP_RAM.REFRESH_COUNTER[7] 6 7 7 # SB_DFFR (LogicCell: U712_CHIP_RAM.REFRESH_COUNTER[7]_LC_124)
set_location U712_CHIP_RAM.REFRESH_RNO 9 9 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_LC_125)
set_location U712_CHIP_RAM.REFRESH 9 9 7 # SB_DFF (LogicCell: U712_CHIP_RAM.REFRESH_LC_125)
set_location U712_CHIP_RAM.REFRESH_RNO_0 6 8 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_RNO_0_LC_126)
set_location U712_CHIP_RAM.REFRESH_RNO_1 6 8 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.REFRESH_RNO_1_LC_127)
set_location U712_CHIP_RAM.SDRAM_CMD_RNI32HB1[3] 12 6 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNI32HB1[3]_LC_128)
set_location U712_CHIP_RAM.SDRAM_CMD_RNI4VDC[0] 12 6 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNI4VDC[0]_LC_129)
set_location U712_CHIP_RAM.SDRAM_CMD_RNIA0SO[0] 11 6 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNIA0SO[0]_LC_130)
set_location U712_CHIP_RAM.SDRAM_CMD_RNIPBDR1[3] 13 5 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNIPBDR1[3]_LC_131)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[0] 11 6 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD[0]_LC_132)
set_location U712_CHIP_RAM.SDRAM_CMD[0] 11 6 7 # SB_DFF (LogicCell: U712_CHIP_RAM.SDRAM_CMD[0]_LC_132)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[0] 11 6 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_0[0]_LC_133)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[1] 10 6 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_0[1]_LC_134)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_0[2] 11 7 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_0[2]_LC_135)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[1] 10 6 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD[1]_LC_136)
set_location U712_CHIP_RAM.SDRAM_CMD[1] 10 6 5 # SB_DFF (LogicCell: U712_CHIP_RAM.SDRAM_CMD[1]_LC_136)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_1[0] 10 5 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_1[0]_LC_137)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_1[1] 10 6 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_1[1]_LC_138)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[2] 11 7 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD[2]_LC_139)
set_location U712_CHIP_RAM.SDRAM_CMD[2] 11 7 3 # SB_DFF (LogicCell: U712_CHIP_RAM.SDRAM_CMD[2]_LC_139)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO_2[1] 10 6 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD_RNO_2[1]_LC_140)
set_location U712_CHIP_RAM.SDRAM_CMD_RNO[3] 11 7 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CMD[3]_LC_141)
set_location U712_CHIP_RAM.SDRAM_CMD[3] 11 7 1 # SB_DFF (LogicCell: U712_CHIP_RAM.SDRAM_CMD[3]_LC_141)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNI5V372 10 7 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNI5V372_LC_142)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNILE372 8 8 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNILE372_LC_143)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIOV791 9 7 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNIOV791_LC_144)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIQ8AQ 8 5 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNIQ8AQ_LC_145)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNIR80N2 10 6 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNIR80N2_LC_146)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNO 9 6 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_LC_147)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED 9 6 0 # SB_DFF (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_LC_147)
set_location U712_CHIP_RAM.SDRAM_CONFIGURED_RNO_0 9 7 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_CONFIGURED_RNO_0_LC_148)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI05TJ3[0] 9 8 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI05TJ3[0]_LC_149)
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[0] 9 8 0 # SB_CARRY (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI05TJ3[0]_LC_149)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI0OJB2[7] 10 7 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI0OJB2[7]_LC_150)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI1NGC4[2] 11 8 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI1NGC4[2]_LC_151)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI30J08[1] 8 8 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI30J08[1]_LC_152)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI36AQC[2] 10 7 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI36AQC[2]_LC_153)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI3FV43[3] 10 8 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI3FV43[3]_LC_154)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNI722C3[1] 8 8 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNI722C3[1]_LC_155)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIAENR1[7] 10 7 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIAENR1[7]_LC_156)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIEVI78[3] 10 7 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIEVI78[3]_LC_157)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIF4EE6[2] 10 8 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIF4EE6[2]_LC_158)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIKHPV5[2] 8 7 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIKHPV5[2]_LC_159)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIL6NI4[3] 10 7 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIL6NI4[3]_LC_160)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIONRK3[1] 10 6 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIONRK3[1]_LC_161)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIQTMR1[3] 8 8 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIQTMR1[3]_LC_162)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIR5PC1_0[3] 9 7 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIR5PC1_0[3]_LC_163)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIR5PC1[3] 8 9 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIR5PC1[3]_LC_164)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIREK92[3] 11 8 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIREK92[3]_LC_165)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIU7TF5[2] 9 7 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIU7TF5[2]_LC_166)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIUFRT[3] 10 8 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNIUFRT[3]_LC_167)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[0] 8 8 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[0]_LC_168)
set_location U712_CHIP_RAM.SDRAM_COUNTER[0] 8 8 2 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[0]_LC_168)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[0] 8 9 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[0]_LC_169)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[2] 9 6 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNO_0[2]_LC_170)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[1] 9 8 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[1]_LC_171)
set_location U712_CHIP_RAM.SDRAM_COUNTER[1] 9 8 1 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[1]_LC_171)
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[1] 9 8 1 # SB_CARRY (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[1]_LC_171)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO_1[0] 9 7 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNO_1[0]_LC_172)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO_1[2] 9 8 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNO_1[2]_LC_173)
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[2] 9 8 2 # SB_CARRY (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNO_1[2]_LC_173)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[2] 8 5 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[2]_LC_174)
set_location U712_CHIP_RAM.SDRAM_COUNTER[2] 8 5 1 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[2]_LC_174)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO_2[0] 8 5 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER_RNO_2[0]_LC_175)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[3] 9 8 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[3]_LC_176)
set_location U712_CHIP_RAM.SDRAM_COUNTER[3] 9 8 3 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[3]_LC_176)
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[3] 9 8 3 # SB_CARRY (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[3]_LC_176)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[4] 9 8 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[4]_LC_177)
set_location U712_CHIP_RAM.SDRAM_COUNTER[4] 9 8 4 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[4]_LC_177)
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[4] 9 8 4 # SB_CARRY (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[4]_LC_177)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[5] 9 8 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[5]_LC_178)
set_location U712_CHIP_RAM.SDRAM_COUNTER[5] 9 8 5 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[5]_LC_178)
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[5] 9 8 5 # SB_CARRY (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[5]_LC_178)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[6] 9 8 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[6]_LC_179)
set_location U712_CHIP_RAM.SDRAM_COUNTER[6] 9 8 6 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[6]_LC_179)
set_location U712_CHIP_RAM.SDRAM_COUNTER_cry_c[6] 9 8 6 # SB_CARRY (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[6]_LC_179)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNO[7] 9 8 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[7]_LC_180)
set_location U712_CHIP_RAM.SDRAM_COUNTER[7] 9 8 7 # SB_DFFE (LogicCell: U712_CHIP_RAM.SDRAM_COUNTER[7]_LC_180)
set_location U712_CHIP_RAM.WRITE_CYCLE_esr_RNI09RS 8 6 6 # SB_LUT4 (LogicCell: U712_CHIP_RAM.WRITE_CYCLE_esr_RNI09RS_LC_181)
set_location U712_CHIP_RAM.WRITE_CYCLE_esr_RNIMAOKC 10 8 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.WRITE_CYCLE_esr_RNIMAOKC_LC_182)
set_location U712_CHIP_RAM.WRITE_CYCLE_esr_RNIPOTI1 8 8 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.WRITE_CYCLE_esr_RNIPOTI1_LC_183)
set_location U712_CHIP_RAM.WRITE_CYCLE_esr_RNIVFJO 8 8 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.WRITE_CYCLE_esr_RNIVFJO_LC_184)
set_location U712_CHIP_RAM.WRITE_CYCLE_esr_RNO 7 7 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.WRITE_CYCLE_esr_LC_185)
set_location U712_CHIP_RAM.WRITE_CYCLE_esr 7 7 0 # SB_DFFESR (LogicCell: U712_CHIP_RAM.WRITE_CYCLE_esr_LC_185)
set_location U712_CHIP_RAM.WRITE_CYCLE_esr_RNO_0 7 8 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.WRITE_CYCLE_esr_RNO_0_LC_186)
set_location U712_CHIP_RAM.WRITE_CYCLE_esr_RNO_1 8 7 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.WRITE_CYCLE_esr_RNO_1_LC_187)
set_location U712_CYCLE_TERM.TACK_EN_RNO 11 10 0 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_EN_LC_188)
set_location U712_CYCLE_TERM.TACK_EN 11 10 0 # SB_DFFSR (LogicCell: U712_CYCLE_TERM.TACK_EN_LC_188)
set_location U712_CYCLE_TERM.TACK_EN_RNO_0 11 9 2 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_EN_RNO_0_LC_189)
set_location U712_CYCLE_TERM.TACK_OUTn_RNO 12 10 1 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_OUTn_LC_190)
set_location U712_CYCLE_TERM.TACK_OUTn 12 10 1 # SB_DFFSS (LogicCell: U712_CYCLE_TERM.TACK_OUTn_LC_190)
set_location U712_CYCLE_TERM.TACK_STATE_RNO[0] 12 10 3 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE[0]_LC_191)
set_location U712_CYCLE_TERM.TACK_STATE[0] 12 10 3 # SB_DFFSS (LogicCell: U712_CYCLE_TERM.TACK_STATE[0]_LC_191)
set_location U712_CYCLE_TERM.TACK_STATE_RNO_0[0] 12 9 1 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE_RNO_0[0]_LC_192)
set_location U712_CYCLE_TERM.TACK_STATE_RNO_0[1] 12 9 3 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE_RNO_0[1]_LC_193)
set_location U712_CYCLE_TERM.TACK_STATE_RNO[1] 12 9 4 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE[1]_LC_194)
set_location U712_CYCLE_TERM.TACK_STATE[1] 12 9 4 # SB_DFF (LogicCell: U712_CYCLE_TERM.TACK_STATE[1]_LC_194)
set_location U712_CYCLE_TERM.TACK_STATE_RNO_1[0] 12 9 6 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE_RNO_1[0]_LC_195)
set_location U712_CYCLE_TERM.TACK_STATE_RNO[2] 12 9 2 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE[2]_LC_196)
set_location U712_CYCLE_TERM.TACK_STATE[2] 12 9 2 # SB_DFF (LogicCell: U712_CYCLE_TERM.TACK_STATE[2]_LC_196)
set_location U712_CYCLE_TERM.TACK_STATE_RNO[3] 12 9 5 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE[3]_LC_197)
set_location U712_CYCLE_TERM.TACK_STATE[3] 12 9 5 # SB_DFF (LogicCell: U712_CYCLE_TERM.TACK_STATE[3]_LC_197)
set_location U712_CYCLE_TERM.TACK_STATE_RNO[4] 12 9 7 # SB_LUT4 (LogicCell: U712_CYCLE_TERM.TACK_STATE[4]_LC_198)
set_location U712_CYCLE_TERM.TACK_STATE[4] 12 9 7 # SB_DFF (LogicCell: U712_CYCLE_TERM.TACK_STATE[4]_LC_198)
set_location U712_REG_SM.ASn_ess_RNO 16 14 0 # SB_LUT4 (LogicCell: U712_REG_SM.ASn_ess_RNO_LC_199)
set_location U712_REG_SM.C3_SYNC_RNI6FIN[1] 13 11 1 # SB_LUT4 (LogicCell: U712_REG_SM.C3_SYNC_RNI6FIN[1]_LC_200)
set_location U712_REG_SM.C3_SYNC_RNIH4AH[1] 12 12 2 # SB_LUT4 (LogicCell: U712_REG_SM.C3_SYNC_RNIH4AH[1]_LC_201)
set_location U712_REG_SM.LDSn_RNO 15 15 0 # SB_LUT4 (LogicCell: U712_REG_SM.LDSn_LC_202)
set_location U712_REG_SM.LDSn 15 15 0 # SB_DFFSS (LogicCell: U712_REG_SM.LDSn_LC_202)
set_location U712_REG_SM.LDSn_RNO_0 14 15 4 # SB_LUT4 (LogicCell: U712_REG_SM.LDSn_RNO_0_LC_203)
set_location U712_REG_SM.PRnW_RNO 15 14 5 # SB_LUT4 (LogicCell: U712_REG_SM.PRnW_LC_204)
set_location U712_REG_SM.PRnW 15 14 5 # SB_DFFSS (LogicCell: U712_REG_SM.PRnW_LC_204)
set_location U712_REG_SM.REGENn_RNO 14 10 0 # SB_LUT4 (LogicCell: U712_REG_SM.REGENn_LC_205)
set_location U712_REG_SM.REGENn 14 10 0 # SB_DFFSS (LogicCell: U712_REG_SM.REGENn_LC_205)
set_location U712_REG_SM.REGENn_RNO_0 14 11 6 # SB_LUT4 (LogicCell: U712_REG_SM.REGENn_RNO_0_LC_206)
set_location U712_REG_SM.REG_CYCLE_RNO 13 11 3 # SB_LUT4 (LogicCell: U712_REG_SM.REG_CYCLE_LC_207)
set_location U712_REG_SM.REG_CYCLE 13 11 3 # SB_DFF (LogicCell: U712_REG_SM.REG_CYCLE_LC_207)
set_location U712_REG_SM.REG_CYCLE_RNO_0 12 12 3 # SB_LUT4 (LogicCell: U712_REG_SM.REG_CYCLE_RNO_0_LC_208)
set_location U712_REG_SM.REG_CYCLE_RNO_1 13 11 2 # SB_LUT4 (LogicCell: U712_REG_SM.REG_CYCLE_RNO_1_LC_209)
set_location U712_REG_SM.REG_CYCLE_START_RNO 13 10 3 # SB_LUT4 (LogicCell: U712_REG_SM.REG_CYCLE_START_LC_210)
set_location U712_REG_SM.REG_CYCLE_START 13 10 3 # SB_DFF (LogicCell: U712_REG_SM.REG_CYCLE_START_LC_210)
set_location U712_REG_SM.REG_CYCLE_START_RNO_0 13 10 2 # SB_LUT4 (LogicCell: U712_REG_SM.REG_CYCLE_START_RNO_0_LC_211)
set_location U712_REG_SM.REG_TACK_RNO 12 10 5 # SB_LUT4 (LogicCell: U712_REG_SM.REG_TACK_LC_212)
set_location U712_REG_SM.REG_TACK 12 10 5 # SB_DFFSR (LogicCell: U712_REG_SM.REG_TACK_LC_212)
set_location U712_REG_SM.REG_TACK_RNO_0 13 11 6 # SB_LUT4 (LogicCell: U712_REG_SM.REG_TACK_RNO_0_LC_213)
set_location U712_REG_SM.REG_TACK_RNO_1 12 11 4 # SB_LUT4 (LogicCell: U712_REG_SM.REG_TACK_RNO_1_LC_214)
set_location U712_REG_SM.START_RST_RNO 14 10 6 # SB_LUT4 (LogicCell: U712_REG_SM.START_RST_LC_215)
set_location U712_REG_SM.START_RST 14 10 6 # SB_DFFSR (LogicCell: U712_REG_SM.START_RST_LC_215)
set_location U712_REG_SM.STATE_COUNT_RNI3HF31[1] 15 13 2 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT_RNI3HF31[1]_LC_216)
set_location U712_REG_SM.STATE_COUNT_RNI3OIA1[0] 14 11 2 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT_RNI3OIA1[0]_LC_217)
set_location U712_REG_SM.STATE_COUNT_RNIJUGT[3] 13 11 0 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT_RNIJUGT[3]_LC_218)
set_location U712_REG_SM.STATE_COUNT_RNO[0] 12 10 6 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT[0]_LC_219)
set_location U712_REG_SM.STATE_COUNT[0] 12 10 6 # SB_DFFSS (LogicCell: U712_REG_SM.STATE_COUNT[0]_LC_219)
set_location U712_REG_SM.STATE_COUNT_RNO_0[0] 13 11 5 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT_RNO_0[0]_LC_220)
set_location U712_REG_SM.STATE_COUNT_RNO_0[1] 14 11 3 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT_RNO_0[1]_LC_221)
set_location U712_REG_SM.STATE_COUNT_RNO_0[2] 13 12 5 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT_RNO_0[2]_LC_222)
set_location U712_REG_SM.STATE_COUNT_RNO_0[3] 13 12 0 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT_RNO_0[3]_LC_223)
set_location U712_REG_SM.STATE_COUNT_RNO[1] 14 11 4 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT[1]_LC_224)
set_location U712_REG_SM.STATE_COUNT[1] 14 11 4 # SB_DFF (LogicCell: U712_REG_SM.STATE_COUNT[1]_LC_224)
set_location U712_REG_SM.STATE_COUNT_RNO[2] 13 12 6 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT[2]_LC_225)
set_location U712_REG_SM.STATE_COUNT[2] 13 12 6 # SB_DFF (LogicCell: U712_REG_SM.STATE_COUNT[2]_LC_225)
set_location U712_REG_SM.STATE_COUNT_RNO[3] 13 12 1 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT[3]_LC_226)
set_location U712_REG_SM.STATE_COUNT[3] 13 12 1 # SB_DFF (LogicCell: U712_REG_SM.STATE_COUNT[3]_LC_226)
set_location U712_REG_SM.STATE_COUNT_RNO[4] 12 11 7 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT[4]_LC_227)
set_location U712_REG_SM.STATE_COUNT[4] 12 11 7 # SB_DFF (LogicCell: U712_REG_SM.STATE_COUNT[4]_LC_227)
set_location U712_REG_SM.STATE_COUNT_RNO[5] 12 11 3 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT[5]_LC_228)
set_location U712_REG_SM.STATE_COUNT[5] 12 11 3 # SB_DFF (LogicCell: U712_REG_SM.STATE_COUNT[5]_LC_228)
set_location U712_REG_SM.STATE_COUNT_RNO[6] 12 11 6 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT[6]_LC_229)
set_location U712_REG_SM.STATE_COUNT[6] 12 11 6 # SB_DFF (LogicCell: U712_REG_SM.STATE_COUNT[6]_LC_229)
set_location U712_REG_SM.STATE_COUNT_RNO[7] 12 11 5 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT[7]_LC_230)
set_location U712_REG_SM.STATE_COUNT[7] 12 11 5 # SB_DFF (LogicCell: U712_REG_SM.STATE_COUNT[7]_LC_230)
set_location U712_REG_SM.STATE_COUNT_RNO[8] 14 11 1 # SB_LUT4 (LogicCell: U712_REG_SM.STATE_COUNT[8]_LC_231)
set_location U712_REG_SM.STATE_COUNT[8] 14 11 1 # SB_DFF (LogicCell: U712_REG_SM.STATE_COUNT[8]_LC_231)
set_location U712_REG_SM.UDSn_RNO 15 14 2 # SB_LUT4 (LogicCell: U712_REG_SM.UDSn_LC_232)
set_location U712_REG_SM.UDSn 15 14 2 # SB_DFFSS (LogicCell: U712_REG_SM.UDSn_LC_232)
set_location U712_REG_SM.UDSn_RNO_0 14 14 1 # SB_LUT4 (LogicCell: U712_REG_SM.UDSn_RNO_0_LC_233)
set_location U712_REG_SM.WRITE_CYCLE_RNO 15 11 7 # SB_LUT4 (LogicCell: U712_REG_SM.WRITE_CYCLE_LC_234)
set_location U712_REG_SM.WRITE_CYCLE 15 11 7 # SB_DFFSR (LogicCell: U712_REG_SM.WRITE_CYCLE_LC_234)
set_location pll_RNI8MQ3 10 10 1 # SB_LUT4 (LogicCell: pll_RNI8MQ3_LC_235)
set_location DBR_SYNC_0_THRU_LUT4_0 7 14 4 # SB_LUT4 (LogicCell: DBR_SYNC[0]_LC_236)
set_location DBR_SYNC[0] 7 14 4 # SB_DFFSS (LogicCell: DBR_SYNC[0]_LC_236)
set_location DBR_SYNC_1_THRU_LUT4_0 8 14 4 # SB_LUT4 (LogicCell: DBR_SYNC[1]_LC_237)
set_location DBR_SYNC[1] 8 14 4 # SB_DFFSS (LogicCell: DBR_SYNC[1]_LC_237)
set_location U712_CHIP_RAM.CASn_THRU_LUT4_0 16 3 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CASn_LC_238)
set_location U712_CHIP_RAM.CASn 16 3 3 # SB_DFFSS (LogicCell: U712_CHIP_RAM.CASn_LC_238)
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_esr_0_THRU_LUT4_0 7 6 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_COL_ADDRESS_esr[0]_LC_239)
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_esr[0] 7 6 0 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CPU_COL_ADDRESS_esr[0]_LC_239)
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_esr_1_THRU_LUT4_0 7 6 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_COL_ADDRESS_esr[1]_LC_240)
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_esr[1] 7 6 1 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CPU_COL_ADDRESS_esr[1]_LC_240)
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_esr_2_THRU_LUT4_0 7 6 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_COL_ADDRESS_esr[2]_LC_241)
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_esr[2] 7 6 2 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CPU_COL_ADDRESS_esr[2]_LC_241)
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_esr_3_THRU_LUT4_0 9 4 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_COL_ADDRESS_esr[3]_LC_242)
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_esr[3] 9 4 3 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CPU_COL_ADDRESS_esr[3]_LC_242)
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_esr_4_THRU_LUT4_0 7 5 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_COL_ADDRESS_esr[4]_LC_243)
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_esr[4] 7 5 5 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CPU_COL_ADDRESS_esr[4]_LC_243)
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_esr_5_THRU_LUT4_0 7 6 3 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_COL_ADDRESS_esr[5]_LC_244)
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_esr[5] 7 6 3 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CPU_COL_ADDRESS_esr[5]_LC_244)
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_esr_6_THRU_LUT4_0 7 6 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_COL_ADDRESS_esr[6]_LC_245)
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_esr[6] 7 6 4 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CPU_COL_ADDRESS_esr[6]_LC_245)
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_esr_7_THRU_LUT4_0 8 6 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_COL_ADDRESS_esr[7]_LC_246)
set_location U712_CHIP_RAM.CPU_COL_ADDRESS_esr[7] 8 6 4 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CPU_COL_ADDRESS_esr[7]_LC_246)
set_location U712_CHIP_RAM.CRCSn_THRU_LUT4_0 17 4 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CRCSn_LC_247)
set_location U712_CHIP_RAM.CRCSn 17 4 2 # SB_DFFSS (LogicCell: U712_CHIP_RAM.CRCSn_LC_247)
set_location U712_CHIP_RAM.DMA_CYCLE_START_RNICLGI4_U712_CHIP_RAM.DMA_CYCLE_esr_REP_LUT4_0 7 8 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_CYCLE_esr_LC_248)
set_location U712_CHIP_RAM.DMA_CYCLE_esr 7 8 0 # SB_DFFESR (LogicCell: U712_CHIP_RAM.DMA_CYCLE_esr_LC_248)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_0_U712_CHIP_RAM.DMA_A1_nesr_REP_LUT4_0 16 9 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_A1_nesr_LC_249)
set_location U712_CHIP_RAM.DMA_A1_nesr 16 9 1 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_A1_nesr_LC_249)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_1_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_0_REP_LUT4_0 14 8 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[0]_LC_250)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[0] 14 8 1 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[0]_LC_250)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_2_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_1_REP_LUT4_0 14 8 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[1]_LC_251)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[1] 14 8 2 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[1]_LC_251)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_3_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_2_REP_LUT4_0 15 8 1 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[2]_LC_252)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[2] 15 8 1 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[2]_LC_252)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_4_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_3_REP_LUT4_0 16 7 2 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[3]_LC_253)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[3] 16 7 2 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[3]_LC_253)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_5_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_4_REP_LUT4_0 14 9 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[4]_LC_254)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[4] 14 9 7 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[4]_LC_254)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_6_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_5_REP_LUT4_0 14 8 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[5]_LC_255)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[5] 14 8 7 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[5]_LC_255)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_7_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_6_REP_LUT4_0 16 6 4 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[6]_LC_256)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[6] 16 6 4 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[6]_LC_256)
set_location U712_CHIP_RAM.DMA_ROW_ADDRESS_4_8_U712_CHIP_RAM.DMA_COL_ADDRESS_nesr_7_REP_LUT4_0 15 8 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[7]_LC_257)
set_location U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[7] 15 8 7 # SB_DFFNESR (LogicCell: U712_CHIP_RAM.DMA_COL_ADDRESS_nesr[7]_LC_257)
set_location U712_CHIP_RAM.RASn_THRU_LUT4_0 16 4 7 # SB_LUT4 (LogicCell: U712_CHIP_RAM.RASn_LC_258)
set_location U712_CHIP_RAM.RASn 16 4 7 # SB_DFFSS (LogicCell: U712_CHIP_RAM.RASn_LC_258)
set_location U712_CHIP_RAM.SDRAM_COUNTER_RNIU7TF5_2_U712_CHIP_RAM.CPU_CYCLE_esr_REP_LUT4_0 8 7 5 # SB_LUT4 (LogicCell: U712_CHIP_RAM.CPU_CYCLE_esr_LC_259)
set_location U712_CHIP_RAM.CPU_CYCLE_esr 8 7 5 # SB_DFFESR (LogicCell: U712_CHIP_RAM.CPU_CYCLE_esr_LC_259)
set_location U712_CHIP_RAM.WEn_THRU_LUT4_0 15 3 0 # SB_LUT4 (LogicCell: U712_CHIP_RAM.WEn_LC_260)
set_location U712_CHIP_RAM.WEn 15 3 0 # SB_DFFSS (LogicCell: U712_CHIP_RAM.WEn_LC_260)
set_location U712_REG_SM.ASn_ess_THRU_LUT4_0 16 15 5 # SB_LUT4 (LogicCell: U712_REG_SM.ASn_ess_LC_261)
set_location U712_REG_SM.ASn_ess 16 15 5 # SB_DFFESS (LogicCell: U712_REG_SM.ASn_ess_LC_261)
set_location U712_REG_SM.C1_SYNC_0_THRU_LUT4_0 13 15 1 # SB_LUT4 (LogicCell: U712_REG_SM.C1_SYNC[0]_LC_262)
set_location U712_REG_SM.C1_SYNC[0] 13 15 1 # SB_DFFSS (LogicCell: U712_REG_SM.C1_SYNC[0]_LC_262)
set_location U712_REG_SM.C1_SYNC_1_THRU_LUT4_0 13 14 4 # SB_LUT4 (LogicCell: U712_REG_SM.C1_SYNC[1]_LC_263)
set_location U712_REG_SM.C1_SYNC[1] 13 14 4 # SB_DFFSS (LogicCell: U712_REG_SM.C1_SYNC[1]_LC_263)
set_location U712_REG_SM.C3_SYNC_0_THRU_LUT4_0 13 13 1 # SB_LUT4 (LogicCell: U712_REG_SM.C3_SYNC[0]_LC_264)
set_location U712_REG_SM.C3_SYNC[0] 13 13 1 # SB_DFFSS (LogicCell: U712_REG_SM.C3_SYNC[0]_LC_264)
set_location U712_REG_SM.C3_SYNC_1_THRU_LUT4_0 13 13 4 # SB_LUT4 (LogicCell: U712_REG_SM.C3_SYNC[1]_LC_265)
set_location U712_REG_SM.C3_SYNC[1] 13 13 4 # SB_DFFSS (LogicCell: U712_REG_SM.C3_SYNC[1]_LC_265)
set_io AGNUS_REV_ibuf 23 21 0 # ICE_IO
set_io ASn_obuf 22 21 0 # ICE_IO
set_io AWEn_ibuf 7 21 0 # ICE_IO
set_io A_ibuf[0] 0 15 0 # ICE_IO
set_io A_ibuf[1] 0 17 0 # ICE_IO
set_io A_ibuf[10] 0 7 1 # ICE_IO
set_io A_ibuf[11] 0 7 0 # ICE_IO
set_io A_ibuf[12] 0 6 1 # ICE_IO
set_io A_ibuf[13] 0 6 0 # ICE_IO
set_io A_ibuf[14] 0 3 1 # ICE_IO
set_io A_ibuf[15] 0 3 0 # ICE_IO
set_io A_ibuf[16] 0 2 1 # ICE_IO
set_io A_ibuf[17] 0 2 0 # ICE_IO
set_io A_ibuf[18] 0 1 1 # ICE_IO
set_io A_ibuf[19] 0 1 0 # ICE_IO
set_io A_ibuf[2] 0 18 0 # ICE_IO
set_io A_ibuf[20] 0 15 1 # ICE_IO
set_io A_ibuf[3] 0 17 1 # ICE_IO
set_io A_ibuf[4] 0 13 1 # ICE_IO
set_io A_ibuf[5] 0 13 0 # ICE_IO
set_io A_ibuf[6] 0 12 1 # ICE_IO
set_io A_ibuf[7] 0 12 0 # ICE_IO
set_io A_ibuf[8] 0 11 1 # ICE_IO
set_io A_ibuf[9] 0 10 0 # ICE_IO
set_io BANK0_obuf 13 0 0 # ICE_IO
set_io BANK1_obuf 12 0 1 # ICE_IO
set_io BLSn_obuf 23 21 1 # ICE_IO
set_io C1_ibuf 3 21 1 # ICE_IO
set_io C1_ibuf_RNIPA2A 13 21 0 # ICE_GB
set_io C3_ibuf 3 21 0 # ICE_IO
set_io C3_ibuf_RNIRKME 25 10 1 # ICE_GB
set_io CASLn_ibuf 25 19 0 # ICE_IO
set_io CASUn_ibuf 25 18 1 # ICE_IO
set_io CASn_obuf 21 0 0 # ICE_IO
set_io CLK40B_OUT_obuf 24 21 0 # ICE_IO
set_io CLK40C_OUT_obuf 0 10 1 # ICE_IO
set_io CLK40D_OUT_obuf 22 21 1 # ICE_IO
set_io CLK40_IN_ibuf 0 11 0 # ICE_IO
set_io CLKRAM_obuf 2 0 1 # ICE_IO
set_io CLK_EN_obuf 25 6 1 # ICE_IO
set_io CLLBEn_obuf 8 0 1 # ICE_IO
set_io CLMBEn_obuf 25 2 0 # ICE_IO
set_io CMA_obuf[0] 17 0 1 # ICE_IO
set_io CMA_obuf[1] 12 0 0 # ICE_IO
set_io CMA_obuf[10] 18 0 0 # ICE_IO
set_io CMA_obuf[2] 11 0 1 # ICE_IO
set_io CMA_obuf[3] 25 2 1 # ICE_IO
set_io CMA_obuf[4] 25 3 1 # ICE_IO
set_io CMA_obuf[5] 25 4 0 # ICE_IO
set_io CMA_obuf[6] 25 4 1 # ICE_IO
set_io CMA_obuf[7] 25 5 0 # ICE_IO
set_io CMA_obuf[8] 25 5 1 # ICE_IO
set_io CMA_obuf[9] 25 6 0 # ICE_IO
set_io CRCSn_obuf 18 0 1 # ICE_IO
set_io CUMBEn_obuf 25 1 1 # ICE_IO
set_io CUUBEn_obuf 25 7 1 # ICE_IO
set_io DA_obuf[0] 12 21 1 # ICE_IO
set_io DA_obuf[1] 13 21 0 # ICE_IO
set_io DA_obuf[2] 19 21 0 # ICE_IO
set_io DBDIR_obuf 7 0 1 # ICE_IO
set_io DBENn_obuf 5 0 0 # ICE_IO
set_io DBRn_c_i_0_g_gb 0 11 0 # ICE_GB
set_io DBRn_ibuf 5 21 1 # ICE_IO
set_io DMA_LATCH_EN_obuf 7 21 1 # ICE_IO
set_io DRA_ibuf[0] 25 17 0 # ICE_IO
set_io DRA_ibuf[1] 25 16 1 # ICE_IO
set_io DRA_ibuf[2] 25 15 1 # ICE_IO
set_io DRA_ibuf[3] 25 14 1 # ICE_IO
set_io DRA_ibuf[4] 25 14 0 # ICE_IO
set_io DRA_ibuf[5] 25 13 1 # ICE_IO
set_io DRA_ibuf[6] 25 12 1 # ICE_IO
set_io DRA_ibuf[7] 25 10 0 # ICE_IO
set_io DRA_ibuf[8] 25 9 1 # ICE_IO
set_io DRA_ibuf[9] 25 19 1 # ICE_IO
set_io DRDDIR_obuf 25 20 0 # ICE_IO
set_io DRDENn_obuf 24 21 1 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io LATCH_CLK_obuf 6 21 0 # ICE_IO
set_io LDSn_obuf 21 21 1 # ICE_IO
set_io LLBEn_obuf 15 21 0 # ICE_IO
set_io LMBEn_obuf 15 21 1 # ICE_IO
set_io PRnW_obuf 19 21 1 # ICE_IO
set_io RAMSPACEn_ibuf 9 21 1 # ICE_IO
set_io RAS0n_ibuf 25 8 1 # ICE_IO
set_io RAS1n_ibuf 25 9 0 # ICE_IO
set_io RASn_obuf 19 0 0 # ICE_IO
set_io REGENn_obuf 4 21 0 # ICE_IO
set_io REGSPACEn_ibuf 4 0 1 # ICE_IO
set_io RESETn_ibuf 25 11 0 # ICE_IO
set_io RESETn_ibuf_RNIM9SF_0 12 21 1 # ICE_GB
set_io RnW_ibuf 2 21 1 # ICE_IO
set_io SIZ_ibuf[0] 0 20 0 # ICE_IO
set_io SIZ_ibuf[1] 0 20 1 # ICE_IO
set_io TACKn_obuft 0 18 1 # ICE_IO
set_io TBIn_obuft 3 0 1 # ICE_IO
set_io TCIn_obuft 22 0 1 # ICE_IO
set_io TSn_ibuf 6 21 1 # ICE_IO
set_io UDSn_obuf 20 21 0 # ICE_IO
set_io UMBEn_obuf 18 21 0 # ICE_IO
set_io UUBEn_obuf 14 21 1 # ICE_IO
set_io VBENn_obuf 8 0 0 # ICE_IO
set_io WEn_obuf 25 1 0 # ICE_IO
set_location pll 12 0 1 # SB_PLL40_2F_CORE
set_location INV_C1_c_g -1 -1 -1 # INV
set_location CONSTANT_ONE_LUT4 11 3 5 # SB_LUT4 (LogicCell: LC_266)
