set_io AD0_obuf[0] 0 20 0 # ICE_IO
set_io AD0_obuf[1] 0 20 1 # ICE_IO
set_io AD0_obuf[2] 2 21 1 # ICE_IO
set_io AD0_obuf[3] 3 21 0 # ICE_IO
set_io AD0_obuf[4] 3 21 1 # ICE_IO
set_io AD0_obuf[5] 5 21 0 # ICE_IO
set_io AD0_obuf[6] 4 21 0 # ICE_IO
set_io AD0_obuf[7] 5 21 1 # ICE_IO
set_io AD1_obuf[0] 0 19 1 # ICE_IO
set_io AD1_obuf[1] 6 21 0 # ICE_IO
set_io AD1_obuf[2] 6 21 1 # ICE_IO
set_io AD1_obuf[3] 7 21 0 # ICE_IO
set_io AD1_obuf[4] 7 21 1 # ICE_IO
set_io AD1_obuf[5] 9 21 1 # ICE_IO
set_io AD1_obuf[6] 14 21 1 # ICE_IO
set_io AD1_obuf[7] 15 21 0 # ICE_IO
set_io AD2_obuf[0] 15 21 1 # ICE_IO
set_io AD2_obuf[1] 18 21 0 # ICE_IO
set_io AD2_obuf[2] 19 21 0 # ICE_IO
set_io AD2_obuf[3] 19 21 1 # ICE_IO
set_io AD2_obuf[4] 20 21 0 # ICE_IO
set_io AD2_obuf[5] 21 21 1 # ICE_IO
set_io AD2_obuf[6] 22 21 0 # ICE_IO
set_io AD2_obuf[7] 22 21 1 # ICE_IO
set_io AD3_obuf[0] 23 21 0 # ICE_IO
set_io AD3_obuf[1] 23 21 1 # ICE_IO
set_io AD3_obuf[2] 24 21 0 # ICE_IO
set_io AD3_obuf[3] 24 21 1 # ICE_IO
set_io AD3_obuf[4] 0 19 0 # ICE_IO
set_io AD3_obuf[5] 0 18 1 # ICE_IO
set_io AD3_obuf[6] 0 17 1 # ICE_IO
set_io AD3_obuf[7] 0 18 0 # ICE_IO
set_io ADLATCH_obuf 3 0 1 # ICE_IO
set_io ALATCH_obuf 2 0 0 # ICE_IO
set_io DLL_ibuf[0] 21 0 0 # ICE_IO
set_io DLL_ibuf[1] 22 0 0 # ICE_IO
set_io DLL_ibuf[2] 22 0 1 # ICE_IO
set_io DLL_ibuf[3] 25 1 0 # ICE_IO
set_io DLL_ibuf[4] 25 1 1 # ICE_IO
set_io DLL_ibuf[5] 25 2 0 # ICE_IO
set_io DLL_ibuf[6] 25 2 1 # ICE_IO
set_io DLL_ibuf[7] 25 3 1 # ICE_IO
set_io DLM_ibuf[0] 25 4 0 # ICE_IO
set_io DLM_ibuf[1] 25 4 1 # ICE_IO
set_io DLM_ibuf[2] 25 5 0 # ICE_IO
set_io DLM_ibuf[3] 25 5 1 # ICE_IO
set_io DLM_ibuf[4] 25 6 0 # ICE_IO
set_io DLM_ibuf[5] 25 6 1 # ICE_IO
set_io DLM_ibuf[6] 25 7 1 # ICE_IO
set_io DLM_ibuf[7] 25 8 1 # ICE_IO
set_io DUM_ibuf[0] 25 9 0 # ICE_IO
set_io DUM_ibuf[1] 25 9 1 # ICE_IO
set_io DUM_ibuf[2] 25 10 0 # ICE_IO
set_io DUM_ibuf[3] 25 10 1 # ICE_IO
set_io DUM_ibuf[4] 25 11 0 # ICE_IO
set_io DUM_ibuf[5] 25 12 1 # ICE_IO
set_io DUM_ibuf[6] 25 13 1 # ICE_IO
set_io DUM_ibuf[7] 25 14 0 # ICE_IO
set_io DUU_ibuf[0] 25 14 1 # ICE_IO
set_io DUU_ibuf[1] 25 15 1 # ICE_IO
set_io DUU_ibuf[2] 25 16 1 # ICE_IO
set_io DUU_ibuf[3] 25 17 0 # ICE_IO
set_io DUU_ibuf[4] 25 18 1 # ICE_IO
set_io DUU_ibuf[5] 25 19 0 # ICE_IO
set_io DUU_ibuf[6] 25 19 1 # ICE_IO
set_io DUU_ibuf[7] 0 1 0 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io PCICYCLEn_obuf 0 11 1 # ICE_IO
set_io PCI_DIR_obuf 2 0 1 # ICE_IO
set_location CONSTANT_ONE_LUT4 1 11 0 # SB_LUT4 (LogicCell: LC_0)
