set_location IN_MUX_bfv_14_5_0_ 14 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_6_0_ 14 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_7_0_ 14 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_8_0_ 14 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_9_0_ 12 9 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 12 1 2 #SB_LUT4
set_location GB_BUFFER_CLK40_IN_c_g_THRU_LUT4_0 12 1 7 #SB_LUT4
set_location U409_TRANSFER_ACK.LASTCLK_1_THRU_LUT4_0 10 8 5 #SB_LUT4
set_location U409_TRANSFER_ACK.LASTCLK_0_THRU_LUT4_0 10 8 3 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_ENABLED_1_THRU_LUT4_0 11 5 2 #SB_LUT4
set_location U409_AUTOCONFIG.AC_TACK_THRU_LUT4_0 5 8 5 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIO2KM1[3] 10 9 4 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[10] 14 6 1 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a2_2[0] 3 11 0 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[4] 11 8 6 #SB_DFFNR
set_location U409_TICK.un3_COUNTER60_1_cry_7_c 14 5 6 #SB_CARRY
set_location U409_AUTOCONFIG.ATA_BASE[5] 6 8 2 #SB_DFFNSS
set_location U409_ADDRESS_DECODE.un1_RAMSPACEn 9 11 7 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_CIACS0n_i 11 3 4 #SB_LUT4
set_location U409_CIA.CLK_CIA_RNO 12 10 2 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER 10 6 3 #SB_DFFNSR
set_location U409_TICK.COUNTER60[6] 13 5 5 #SB_DFF
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_0_3_144_i_i_a2 6 12 3 #SB_LUT4
set_location U409_TICK.COUNTER50_RNI3J3V[10] 13 7 4 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_CONF 5 8 1 #SB_DFFNSR
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO_0[3] 10 10 3 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE_RNO_0[0] 11 6 0 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[12] 14 8 3 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_CONF_RNO 5 8 7 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE[0] 11 6 1 #SB_DFFN
set_location U409_CIA.CIA_CLK_COUNT[1] 11 9 6 #SB_DFF
set_location U409_TRANSFER_ACK.DELAYED_TACK_EN_RNIBQIN 10 7 6 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNISS061[3] 5 9 2 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI9U9R[2] 10 10 2 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNO_0[3] 12 9 2 #SB_LUT4
set_location U409_AUTOCONFIG.STATE_RNI0FVT2[0] 7 9 4 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNO[0] 6 11 1 #SB_LUT4
set_location U409_ADDRESS_DECODE.g0_i_o4_1 7 8 1 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO_0[0] 9 9 0 #SB_LUT4
set_location U409_TICK.COUNTER60_RNIRP4S[14] 13 6 3 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_BRIDGE_ENn_2 7 10 0 #SB_LUT4
set_location U409_TRANSFER_ACK.ROMENn_RNO_12 6 9 3 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_EN_RNO 10 6 1 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_EN 10 6 1 #SB_DFFNSR
set_location U409_TICK.COUNTER60_RNO[15] 13 6 0 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO_0[6] 14 7 5 #SB_LUT4
set_location U409_AUTOCONFIG.ATA_BASE10_2 2 11 7 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_OUTn_RNO_0 11 7 3 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[1] 10 10 0 #SB_DFFNR
set_location U409_AUTOCONFIG.ATA_BASE[0] 8 8 1 #SB_DFFNSS
set_location U409_TICK.un3_COUNTER60_1_cry_9_c 14 6 0 #SB_CARRY
set_location U409_TICK.COUNTER50[4] 14 7 3 #SB_DFF
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_0[1] 5 12 7 #SB_LUT4
set_location U409_AUTOCONFIG.ATA_BASE_RNO[3] 8 8 7 #SB_LUT4
set_location U409_TICK.COUNTER60[1] 13 5 0 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[7] 14 7 6 #SB_LUT4
set_location U409_CIA.CLK_CIA_RNO_0 12 10 1 #SB_LUT4
set_location U409_ADDRESS_DECODE.un2_REGSPACEn_0 8 12 0 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_4 6 7 1 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_RTC_ENn_i 8 6 0 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIQTP87[7] 10 9 6 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[11] 13 7 5 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO_0[13] 14 8 4 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_TACK_EN 10 8 0 #SB_DFFNSR
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_2_c 12 9 1 #SB_CARRY
set_location U409_CIA.CIA_CLK_COUNT_RNO[7] 12 9 6 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[4] 12 9 3 #SB_DFF
set_location U409_AUTOCONFIG.STATE_RNIH7AQ2[0] 5 9 1 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[0] 8 9 2 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNIAR8J_1[0] 9 9 2 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_ENABLED[1] 11 5 2 #SB_DFFNSR
set_location U409_TRANSFER_ACK.TACK_EN 10 8 4 #SB_DFFNSR
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_5_c 12 9 4 #SB_CARRY
set_location U409_ADDRESS_DECODE.ATA_ROM_EN_RNO 7 8 6 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER_RNO_0 9 7 4 #SB_LUT4
set_location U409_TICK.COUNTER50_RNI02282[16] 13 8 6 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO_0[3] 9 10 7 #SB_LUT4
set_location U409_TRANSFER_ACK.ROMENn_RNO_7 9 8 7 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIISJM1[2] 10 10 5 #SB_LUT4
set_location U409_TICK.COUNTER60[16] 14 6 7 #SB_DFF
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_0[1] 3 11 1 #SB_LUT4
set_location U409_ADDRESS_DECODE.g0_i_a4_1 6 10 2 #SB_LUT4
set_location U409_ADDRESS_DECODE.ATA_ROM_EN_RNITAAO4 8 10 2 #SB_LUT4
set_location U409_ADDRESS_DECODE.ATA_ROM_EN 7 8 6 #SB_DFFSS
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[3] 10 10 4 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE_RNO[0] 11 6 1 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[16] 14 6 7 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO_0[5] 14 7 4 #SB_LUT4
set_location U409_TICK.COUNTER50[16] 14 8 7 #SB_DFF
set_location U409_ADDRESS_DECODE.un1_Z2_SPACE_7_2 8 7 1 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOVECTOR_7 5 15 0 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[0] 13 6 4 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_BASE[2] 6 8 6 #SB_DFFNSS
set_location U409_AUTOCONFIG.ATA_BASE[3] 8 8 7 #SB_DFFNSS
set_location U409_ADDRESS_DECODE.AUTOVECTOR 5 15 7 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_EN 11 8 1 #SB_DFFNR
set_location U409_TICK.COUNTER50[1] 13 7 7 #SB_DFF
set_location U409_CIA.VMA_RNI692L 11 5 6 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT[0] 5 12 0 #SB_DFFN
set_location U409_AUTOCONFIG.ATA_BASE_RNO[6] 8 8 4 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[1] 8 9 0 #SB_DFFNSR
set_location U409_TRANSFER_ACK.LASTCLK[0] 10 8 3 #SB_DFFNSR
set_location U409_TICK.un2_COUNTER50_1_cry_10_c 14 8 1 #SB_CARRY
set_location U409_TICK.COUNTER50_RNO[4] 14 7 3 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_8_sqmuxa_i_o2 2 12 6 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT[3] 6 11 4 #SB_DFFNSR
set_location U409_AUTOCONFIG.BRIDGE_BASE_RNO[1] 6 8 0 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_3 5 7 3 #SB_LUT4
set_location U409_ADDRESS_DECODE.g2_7 7 15 3 #SB_LUT4
set_location U409_ADDRESS_DECODE.RAN_SPACE_0 8 12 6 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_EN 10 8 2 #SB_DFFNSR
set_location U409_TICK.COUNTER50_RNO[14] 13 9 2 #SB_LUT4
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_6_c 12 9 5 #SB_CARRY
set_location U409_CIA.VMA_RNO_1 12 9 7 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOVECTOR_8 5 16 5 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI1CKM1[7] 10 9 0 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_15_c 14 6 6 #SB_CARRY
set_location U409_CIA.CIA_CLK_COUNT_RNO[2] 12 9 1 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[7] 12 9 6 #SB_DFF
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_1[0] 3 12 6 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_EN_RNO_0 10 7 2 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO[1] 5 12 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_Z2_SPACE_6_1 7 7 1 #SB_LUT4
set_location U409_TRANSFER_ACK.ROMENn_RNO_0 9 9 3 #SB_LUT4
set_location U409_TICK.COUNTER60[13] 14 6 4 #SB_DFF
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_0[2] 5 11 5 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_COUNTER[0] 10 7 7 #SB_DFFN
set_location U409_TRANSFER_ACK.ROM_TACK_EN_RNO 10 8 2 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[4] 11 8 6 #SB_LUT4
set_location U409_TICK.COUNTER50_RNIJAR11[3] 13 8 1 #SB_LUT4
set_location U409_TICK.COUNTER50[11] 13 7 5 #SB_DFF
set_location U409_ADDRESS_DECODE.un1_Z2_SPACE_7_1 7 8 3 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[7] 14 5 6 #SB_LUT4
set_location U409_TICK.COUNTER60_RNIA84S[11] 13 6 1 #SB_LUT4
set_location U409_TICK.COUNTER50[2] 14 7 1 #SB_DFF
set_location U409_AUTOCONFIG.ATA_BASE_RNO[5] 6 8 2 #SB_LUT4
set_location U409_ADDRESS_DECODE.CIA_SPACE_6 5 12 1 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[1] 13 7 7 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_BASE_RNO[2] 6 8 6 #SB_LUT4
set_location U409_ADDRESS_DECODE.ROMEN_1 6 10 5 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_TACK_EN_RNO 10 8 0 #SB_LUT4
set_location U409_TICK.TICK60 13 5 6 #SB_DFF
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_4[0] 3 12 1 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[11] 14 6 2 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNO[1] 11 9 6 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[5] 10 9 2 #SB_DFFNR
set_location U409_TICK.COUNTER60_RNO[9] 13 6 5 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_CONF 5 8 7 #SB_DFFNSR
set_location U409_AUTOCONFIG.ATA_BASE[4] 6 8 4 #SB_DFFNSS
set_location U409_AUTOCONFIG.AC_START_RNO 6 10 7 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_OUTn_RNO 11 7 4 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_5_c 14 5 4 #SB_CARRY
set_location U409_ADDRESS_DECODE.un1_REGSPACEn_i 10 14 5 #SB_LUT4
set_location U409_TICK.COUNTER60[5] 14 5 4 #SB_DFF
set_location U409_AUTOCONFIG.LIDE_CONF_RNI0EA21 5 9 0 #SB_LUT4
set_location U409_ADDRESS_DECODE.D_1_i 6 7 3 #SB_LUT4
set_location U409_TICK.COUNTER60[10] 14 6 1 #SB_DFF
set_location U409_TRANSFER_ACK.CIA_STATE[1] 12 6 1 #SB_DFFN
set_location U409_TICK.un2_COUNTER50_1_cry_2_c 14 7 1 #SB_CARRY
set_location U409_CIA.CIA_CLK_COUNT[0] 11 10 6 #SB_DFF
set_location U409_AUTOCONFIG.STATE_RNI25A42[0] 6 9 5 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNO[1] 6 11 2 #SB_LUT4
set_location U409_AUTOCONFIG.AC_TACK 5 8 5 #SB_DFFNSR
set_location U409_TRANSFER_ACK.ROMENn_RNO_11 7 15 4 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[12] 14 6 3 #SB_LUT4
set_location U409_ADDRESS_DECODE.g2_11 7 9 0 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[2] 10 10 1 #SB_DFFNR
set_location U409_AUTOCONFIG.ATA_BASE[7] 8 8 0 #SB_DFFNSS
set_location U409_ADDRESS_DECODE.AUTOCONFIG_SPACE 6 7 2 #SB_LUT4
set_location U409_TICK.COUNTER50[5] 13 7 0 #SB_DFF
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_0[0] 6 13 7 #SB_LUT4
set_location U409_AUTOCONFIG.ATA_BASE_RNO[2] 8 7 2 #SB_LUT4
set_location U409_TICK.COUNTER60[0] 13 6 4 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[8] 14 7 7 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_3_c 14 5 2 #SB_CARRY
set_location U409_CIA.CIA_CLK_COUNT_RNIIQMD1[2] 12 10 7 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[10] 14 8 1 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_2[1] 5 13 5 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_EN_RNO 10 8 4 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNO[6] 12 9 5 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[3] 12 10 4 #SB_DFF
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[1] 8 9 0 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_4_c 14 5 3 #SB_CARRY
set_location U409_TICK.COUNTER50[8] 14 7 7 #SB_DFF
set_location U409_ADDRESS_DECODE.CIA_SPACE_0 7 13 3 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_EN_RNI1IRLB 11 13 2 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_5_c 14 7 4 #SB_CARRY
set_location U409_TRANSFER_ACK.TACK_OUTn 11 7 4 #SB_DFFN
set_location U409_TRANSFER_ACK.ROMENn_RNO_4 9 8 1 #SB_LUT4
set_location U409_TRANSFER_ACK.LASTCLK_RNIHJ5G[1] 11 7 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.g2_9 6 15 3 #SB_LUT4
set_location U409_ADDRESS_DECODE.Z2_SPACE_4 3 15 0 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[0] 10 10 7 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIK98D3[7] 10 9 5 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE_RNO[1] 12 6 1 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_6_c 14 5 5 #SB_CARRY
set_location U409_TICK.COUNTER60[8] 13 5 1 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[0] 13 8 7 #SB_LUT4
set_location U409_TICK.COUNTER50[15] 13 8 2 #SB_DFF
set_location U409_ADDRESS_DECODE.g2 6 15 0 #SB_LUT4
set_location U409_ADDRESS_DECODE.g0_i_a4_1_3 6 9 2 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[3] 14 5 2 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO_0[9] 14 6 0 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNO[3] 6 11 4 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_1[2] 5 11 7 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_BASE[3] 8 8 6 #SB_DFFNSS
set_location U409_AUTOCONFIG.ATA_BASE[2] 8 7 2 #SB_DFFNSS
set_location U409_AUTOCONFIG.AC_START 6 10 7 #SB_DFF
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNIAR8J[0] 9 9 1 #SB_LUT4
set_location U409_TRANSFER_ACK.ROMENn_RNO_9 7 7 2 #SB_LUT4
set_location U409_TICK.COUNTER50[6] 13 7 2 #SB_DFF
set_location U409_CIA.VMA_RNO 11 10 2 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a2[0] 3 11 3 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT[3] 5 11 2 #SB_DFFN
set_location U409_AUTOCONFIG.ATA_BASE_RNO[1] 8 8 3 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[2] 8 10 6 #SB_DFFNSR
set_location U409_TICK.COUNTER60[3] 14 5 2 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[5] 13 7 0 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT[0] 6 11 1 #SB_DFFNSR
set_location U409_TICK.COUNTER60_RNO_0[6] 14 5 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.g2_4 6 16 5 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO_0[9] 14 8 0 #SB_LUT4
set_location U409_CIA.VMA_RNO_0 11 10 1 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNO[5] 12 10 0 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[6] 12 9 5 #SB_DFF
set_location U409_AUTOCONFIG.un1_A_18 3 11 7 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_1[1] 5 13 6 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[2] 8 10 6 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO[0] 5 12 0 #SB_LUT4
set_location U409_AUTOCONFIG.AC_START_RNI9THQ1 5 12 4 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_RTC_ENn_3 8 6 4 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_2_c 14 5 1 #SB_CARRY
set_location U409_TRANSFER_ACK.TACK_COUNTER_RNO[1] 10 7 3 #SB_LUT4
set_location U409_TRANSFER_ACK.ROMENn_RNO_1 9 9 7 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE_RNO_1[0] 11 6 6 #SB_LUT4
set_location U409_TICK.COUNTER60_RNIVPLP1[16] 13 6 7 #SB_LUT4
set_location U409_TICK.COUNTER60[14] 13 6 2 #SB_DFF
set_location U409_TICK.COUNTER50_RNIG9CP[4] 13 8 5 #SB_LUT4
set_location U409_AUTOCONFIG.STATE_RNO[0] 5 10 6 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_CONF_RNO 5 8 1 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_0[3] 5 11 1 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[5] 10 9 2 #SB_LUT4
set_location U409_TICK.COUNTER60_RNIDAFF[10] 13 6 6 #SB_LUT4
set_location U409_TICK.COUNTER50[10] 14 8 1 #SB_DFF
set_location U409_ADDRESS_DECODE.REG_SPACE_2 8 12 4 #SB_LUT4
set_location U409_ADDRESS_DECODE.PORTSIZE_0_i 9 13 3 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[6] 13 5 5 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_BASE[0] 6 8 5 #SB_DFFNSS
set_location U409_ADDRESS_DECODE.un1_BRIDGE_ENn_i 7 11 3 #SB_LUT4
set_location RESETn_ibuf_RNIM9SF 12 18 6 #SB_LUT4
set_location U409_TICK.COUNTER50[3] 14 7 2 #SB_DFF
set_location U409_AUTOCONFIG.ATA_BASE_RNO[4] 6 8 4 #SB_LUT4
set_location U409_AUTOCONFIG.AC_START_RNIJJLA1 5 11 3 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[2] 14 7 1 #SB_LUT4
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_1_c 12 9 0 #SB_CARRY
set_location U409_AUTOCONFIG.BRIDGE_BASE_RNO[3] 8 8 6 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_Z2_SPACE 7 8 5 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_1[0] 3 12 2 #SB_LUT4
set_location U409_ADDRESS_DECODE.un2_REGSPACEn 8 12 1 #SB_LUT4
set_location U409_TRANSFER_ACK.ROMENn 10 8 1 #SB_DFFNSS
set_location U409_CIA.CIA_CLK_COUNT_RNO[0] 11 10 6 #SB_LUT4
set_location U409_ADDRESS_DECODE.g0_i_a4_0_2 5 10 3 #SB_LUT4
set_location U409_TRANSFER_ACK.ROMENn_RNO 10 8 1 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[6] 10 9 7 #SB_DFFNR
set_location U409_TICK.COUNTER60_RNO[8] 13 5 1 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_2[0] 2 12 7 #SB_LUT4
set_location U409_TRANSFER_ACK.LASTCLK_RNI9HNJ[1] 11 7 2 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO[3] 5 11 2 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO_0[15] 14 6 6 #SB_LUT4
set_location U409_TICK.COUNTER60[4] 13 5 3 #SB_DFF
set_location U409_CIA.CIA_CLK_COUNT_RNI9DRM[4] 12 10 3 #SB_LUT4
set_location U409_TRANSFER_ACK.ROMENn_RNO_2 9 9 6 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_13_c 14 8 4 #SB_CARRY
set_location U409_TICK.COUNTER60[11] 14 6 2 #SB_DFF
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[6] 10 9 7 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO_0[14] 14 8 5 #SB_LUT4
set_location U409_TICK.COUNTER50[13] 13 8 0 #SB_DFF
set_location U409_TICK.COUNTER60_RNO[5] 14 5 4 #SB_LUT4
set_location U409_AUTOCONFIG.un1_A_4_1_0_a2 2 11 2 #SB_LUT4
set_location U409_AUTOCONFIG.STATE[0] 5 10 6 #SB_DFFN
set_location U409_TRANSFER_ACK.DELAYED_TACK_EN_RNO 11 8 1 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_10_c 14 6 1 #SB_CARRY
set_location U409_AUTOCONFIG.LIDE_CONF_RNIHQ9A3 7 9 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.LOWROM_3 9 6 4 #SB_LUT4
set_location U409_ADDRESS_DECODE.CIA_SPACE_4 7 13 7 #SB_LUT4
set_location U409_TICK.COUNTER60[9] 13 6 5 #SB_DFF
set_location U409_CIA.CIA_CLK_COUNT_RNO_0[5] 12 9 4 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO_0[8] 14 5 7 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNO[2] 6 11 3 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a3_0[2] 3 11 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOVECTOR_10 5 15 1 #SB_LUT4
set_location U409_TRANSFER_ACK.ROMENn_RNO_8 7 10 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_BRIDGE_ENn_0 6 12 1 #SB_LUT4
set_location U409_TRANSFER_ACK.ROMENn_RNO_10 6 9 4 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[13] 14 6 4 #SB_LUT4
set_location U409_ADDRESS_DECODE.g2_10 7 7 6 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[3] 10 10 4 #SB_DFFNR
set_location U409_AUTOCONFIG.LIDE_OUT_cnst_2_0_.m2_0_123_i_i_a3 2 12 3 #SB_LUT4
set_location U409_AUTOCONFIG.ATA_BASE[6] 8 8 4 #SB_DFFNSS
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_0[3] 6 12 7 #SB_LUT4
set_location U409_TICK.COUNTER60[7] 14 5 6 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[9] 13 8 4 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_REGSPACEn 9 13 2 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_3_c 14 7 2 #SB_CARRY
set_location U409_AUTOCONFIG.LIDE_OUT_RNIQQ061[2] 6 11 7 #SB_LUT4
set_location U409_ADDRESS_DECODE.g2_0 6 15 2 #SB_LUT4
set_location U409_ADDRESS_DECODE.CIA_SPACE 7 13 4 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE_RNO_0[1] 12 6 0 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[13] 13 8 0 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO_0[11] 14 8 2 #SB_LUT4
set_location U409_CIA.VMA_RNI692L_0 11 3 3 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_2[0] 2 12 4 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER_RNO 10 6 3 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_4_c 14 7 3 #SB_CARRY
set_location U409_TICK.TICK60_RNO 13 5 6 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[2] 12 9 1 #SB_DFF
set_location U409_ADDRESS_DECODE.un1_CIACS1n_i 11 3 6 #SB_LUT4
set_location U409_TICK.COUNTER50[9] 13 8 4 #SB_DFF
set_location U409_AUTOCONFIG.CONFIGENn 6 8 3 #SB_DFFNSS
set_location U409_ADDRESS_DECODE.Z2_SPACE 3 15 5 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_14_c 14 8 5 #SB_CARRY
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_3_c 12 9 2 #SB_CARRY
set_location U409_ADDRESS_DECODE.un1_RAMSPACEn_i 9 7 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.g0_i_o4_0 7 10 6 #SB_LUT4
set_location U409_TRANSFER_ACK.ROMENn_RNO_5 9 9 5 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_6_c 14 7 5 #SB_CARRY
set_location U409_CIA.VMA 11 10 2 #SB_DFF
set_location U409_ADDRESS_DECODE.g0_i_0_0 5 10 4 #SB_LUT4
set_location U409_ADDRESS_DECODE.Z2_SPACE_5 3 15 4 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[1] 10 10 0 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_11_c 14 8 2 #SB_CARRY
set_location U409_TICK.TICK50_RNO 13 7 1 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[14] 13 6 2 #SB_LUT4
set_location U409_TICK.COUNTER50[14] 13 9 2 #SB_DFF
set_location U409_ADDRESS_DECODE.ATA_ROM_EN_RNIBHHS6 11 9 1 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[0] 10 10 7 #SB_DFFNR
set_location U409_TICK.COUNTER60_RNO[2] 14 5 1 #SB_LUT4
set_location U409_AUTOCONFIG.ATA_BASE[1] 8 8 3 #SB_DFFNSS
set_location U409_TICK.un3_COUNTER60_1_cry_11_c 14 6 2 #SB_CARRY
set_location U409_TICK.COUNTER50[7] 14 7 6 #SB_DFF
set_location U409_AUTOCONFIG.BRIDGE_OUT[2] 5 11 6 #SB_DFFN
set_location U409_AUTOCONFIG.ATA_BASE_RNO[0] 8 8 1 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_AUTOCONFIG_SPACE 6 7 4 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[3] 8 10 7 #SB_DFFNSR
set_location U409_TICK.un2_COUNTER50_1_cry_7_c 14 7 6 #SB_CARRY
set_location U409_TICK.COUNTER60[2] 14 5 1 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[6] 13 7 2 #SB_LUT4
set_location U409_CIA.CLK_CIA_RNO_1 12 10 5 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT[1] 6 11 2 #SB_DFFNSR
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_3[0] 3 12 3 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNIAR8J_0[0] 9 10 6 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER15_s 9 10 3 #SB_LUT4
set_location U409_ADDRESS_DECODE.g2_5 6 15 7 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[16] 14 8 7 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_RTC_ENn 8 6 5 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_12_c 14 6 3 #SB_CARRY
set_location U409_TICK.COUNTER60_RNINQJI1[4] 13 5 4 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNO[4] 12 9 3 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[5] 12 10 0 #SB_DFF
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[3] 8 10 7 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_ENABLED[0] 11 5 6 #SB_DFFNSR
set_location U409_TICK.COUNTER50_RNIDMCS[11] 13 8 3 #SB_LUT4
set_location U409_AUTOCONFIG.CONFIGENn_RNO 6 8 3 #SB_LUT4
set_location U409_TICK.TICK50 13 7 1 #SB_DFF
set_location U409_ADDRESS_DECODE.un1_RTC_ENn_2 8 11 2 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_TACK_EN_RNI7KT7 10 7 5 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_15_c 14 8 6 #SB_CARRY
set_location U409_AUTOCONFIG.LIDE_OUT_RNIOO061[1] 6 11 6 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNIMM061[0] 6 9 1 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_COUNTER_RNO[0] 10 7 7 #SB_LUT4
set_location U409_TRANSFER_ACK.ROMENn_RNO_6 9 8 5 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_RST_0_i 10 13 5 #SB_LUT4
set_location U409_TICK.COUNTER60[15] 13 6 0 #SB_DFF
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_0[0] 3 12 4 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNIJBK9[0] 7 9 6 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[2] 10 10 1 #SB_LUT4
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_4_c 12 9 3 #SB_CARRY
set_location U409_ADDRESS_DECODE.un1_Z2_SPACE_7_3 7 8 4 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOVECTOR_4 8 12 5 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_8_c 14 5 7 #SB_CARRY
set_location U409_TICK.COUNTER60_RNO[1] 13 5 0 #SB_LUT4
set_location U409_DATA_BUFFERS.un1_BUFENn 10 14 3 #SB_LUT4
set_location U409_AUTOCONFIG.un1_A_18_0 3 11 6 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_BASE[1] 6 8 0 #SB_DFFNSS
set_location U409_TICK.un2_COUNTER50_1_cry_8_c 14 7 7 #SB_CARRY
set_location U409_TICK.COUNTER50[0] 13 8 7 #SB_DFF
set_location U409_CIA.CLK_CIA 12 10 2 #SB_DFF
set_location U409_AUTOCONFIG.BRIDGE_OUT[1] 5 12 5 #SB_DFFN
set_location U409_AUTOCONFIG.ATA_BASE_RNO[7] 8 8 0 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[0] 8 9 2 #SB_DFFNSR
set_location U409_TRANSFER_ACK.LASTCLK[1] 10 8 5 #SB_DFFNSR
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIK98D3[4] 10 9 1 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_1_c 14 5 0 #SB_CARRY
set_location U409_TICK.COUNTER50_RNO[3] 14 7 2 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT[2] 6 11 3 #SB_DFFNSR
set_location U409_AUTOCONFIG.BRIDGE_BASE_RNO[0] 6 8 5 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_1_c 14 7 0 #SB_CARRY
set_location U409_TICK.COUNTER60_RNO_0[4] 14 5 3 #SB_LUT4
set_location U409_ADDRESS_DECODE.g2_6 6 15 6 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOVECTOR_4_0 5 13 1 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_EN_RNO_0 9 9 4 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_9_c 14 8 0 #SB_CARRY
set_location U409_TICK.COUNTER50_RNO[15] 13 8 2 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_BRIDGE_ENn_4 7 10 1 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOVECTOR_9 5 15 6 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI11UH2[5] 10 10 6 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNO[3] 12 10 4 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[7] 10 9 3 #SB_DFFNR
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO[2] 5 11 6 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_Z2_SPACE_6_0 7 8 2 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_14_c 14 6 5 #SB_CARRY
set_location U409_TICK.COUNTER60_RNO_0[14] 14 6 5 #SB_LUT4
set_location U409_TRANSFER_ACK.ROMENn_RNO_3 9 8 6 #SB_LUT4
set_location U409_TICK.COUNTER60[12] 14 6 3 #SB_DFF
set_location U409_AUTOCONFIG.un1_A_18_3_0_a2 3 12 5 #SB_LUT4
set_location U409_AUTOCONFIG.AC_START_RNI777K2 5 11 4 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_COUNTER[1] 10 7 3 #SB_DFFN
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[7] 10 9 3 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_13_c 14 6 4 #SB_CARRY
set_location U409_TICK.COUNTER50_RNO_0[15] 14 8 6 #SB_LUT4
set_location U409_TICK.COUNTER50[12] 14 8 3 #SB_DFF
set_location U409_TICK.COUNTER60_RNO[4] 13 5 3 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNIHLRM[7] 11 10 0 #SB_LUT4
set_location U409_ADDRESS_DECODE.ATA_ROM_EN_RNITNPB5 7 9 1 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_12_c 14 8 3 #SB_CARRY
set_io RESETn 62
set_io OVL 81
set_io CONFIGENn 61
set_io A[20] 17
set_io PIO_S0 76
set_io A[31] 10
set_io A[1] 144
set_io TT[1] 139
set_io PORTSIZE 135
set_io A[17] 33
set_io TICK60 55
set_io CIACS0n 78
set_io A[25] 12
set_io CPUCONFn 130
set_io CLK6 52
set_io A[6] 20
set_io TM[0] 136
set_io CLK_CIA 122
set_io BUFENn 119
set_io A[23] 16
set_io A[12] 26
set_io AUTOBOOT 112
set_io RnW 142
set_io D[6] 45
set_io A[4] 18
set_io PIO_P2 75
set_io CIACS1n 79
set_io BRIDGE_ENn 91
set_io A[21] 15
set_io PIO_S1 87
set_io D[4] 43
set_io A[30] 9
set_io A[28] 2
set_io A[2] 143
set_io A[19] 37
set_io ATA_MODE_S 114
set_io TT[0] 138
set_io PIO_P0 73
set_io A[16] 32
set_io TICK50 56
set_io TCIn 115
set_io TBIn 116
set_io RAMSPACEn 48
set_io A[26] 4
set_io A[7] 21
set_io TM[1] 137
set_io CLK40_IN 129
set_io CLK28_IN 94
set_io A[24] 8
set_io REGSPACEn 118
set_io A[5] 19
set_io TSn 134
set_io RTC_ENn 80
set_io A[22] 3
set_io A[13] 28
set_io PIO_S2 88
set_io D[7] 47
set_io A[3] 1
set_io A[29] 7
set_io A[18] 34
set_io ATA_ENn 90
set_io TACKn 117
set_io D[5] 44
set_io A[27] 11
set_io ATA_MODE_P 113
set_io ROMENn 124
set_io PIO_P1 74
