set_location IN_MUX_bfv_14_4_0_ 14 4 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_5_0_ 14 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_1_0_ 14 1 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_2_0_ 14 2 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_8_0_ 9 8 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 12 1 3 #SB_LUT4
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_4_THRU_LUT4_0 9 8 4 #SB_LUT4
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_2_THRU_LUT4_0 9 8 2 #SB_LUT4
set_location U409_TRANSFER_ACK.LASTCLK_1_THRU_LUT4_0 11 7 3 #SB_LUT4
set_location U409_TRANSFER_ACK.LASTCLK_0_THRU_LUT4_0 11 7 1 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_EN_nesr_THRU_LUT4_0 12 10 5 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER_RNIG3KDC_U409_TRANSFER_ACK.IRQ_TACK_COUNTER_REP_LUT4_0 11 10 1 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_ENABLED_1_THRU_LUT4_0 11 7 0 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[11] 14 5 2 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNO[1] 9 9 6 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[5] 9 11 0 #SB_DFFNR
set_location U409_TICK.COUNTER60_RNO[9] 13 5 0 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_OUTn_RNO 12 11 4 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_5_c 14 4 4 #SB_CARRY
set_location U409_ADDRESS_DECODE.un1_REGSPACEn_i 8 17 0 #SB_LUT4
set_location U409_TICK.COUNTER60[5] 14 4 4 #SB_DFF
set_location U409_TICK.COUNTER60[10] 14 5 1 #SB_DFF
set_location U409_TRANSFER_ACK.CIA_STATE[1] 11 6 3 #SB_DFFN
set_location U409_TICK.un2_COUNTER50_1_cry_2_c 14 1 1 #SB_CARRY
set_location U409_CIA.CIA_CLK_COUNT[0] 10 8 7 #SB_DFF
set_location U409_TRANSFER_ACK.un1_ROM_TACK_COUNTER20_3_0_a3_2 6 10 5 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[12] 14 5 3 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[2] 10 12 4 #SB_DFFNR
set_location U409_ADDRESS_DECODE.un1_RAMSPACEn_0 7 10 6 #SB_LUT4
set_location U409_TICK.COUNTER50[5] 15 1 5 #SB_DFF
set_location U409_TICK.COUNTER60[0] 13 4 4 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[8] 14 1 7 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_7 5 13 1 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_3_c 14 4 2 #SB_CARRY
set_location U409_TICK.COUNTER50_RNO[10] 14 2 1 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNO[6] 9 8 5 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[3] 10 8 2 #SB_DFF
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[1] 12 8 4 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER_0_sqmuxa_0 5 12 5 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_4_c 14 4 3 #SB_CARRY
set_location U409_TICK.COUNTER50[8] 14 1 7 #SB_DFF
set_location U409_TICK.un2_COUNTER50_1_cry_5_c 14 1 4 #SB_CARRY
set_location U409_TRANSFER_ACK.TACK_OUTn 12 11 4 #SB_DFFN
set_location U409_ADDRESS_DECODE.Z2_SPACE_4 1 17 4 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_EN_i 12 12 4 #SB_DFFNE
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[0] 10 12 6 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE_RNO[1] 11 6 3 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_6_c 14 4 5 #SB_CARRY
set_location U409_TICK.COUNTER60[8] 13 3 4 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[0] 15 1 1 #SB_LUT4
set_location U409_TICK.COUNTER50[15] 15 2 6 #SB_DFF
set_location U409_ADDRESS_DECODE.REGISTER_SPACE_3 6 12 2 #SB_LUT4
set_location U409_TRANSFER_ACK.un1_ROM_TACK_COUNTER20_3_0_a3_0 6 10 0 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[3] 14 4 2 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO_0[9] 14 5 0 #SB_LUT4
set_location U409_TICK.COUNTER60_RNI335G2[11] 13 4 3 #SB_LUT4
set_location U409_TICK.COUNTER50[6] 15 1 0 #SB_DFF
set_location U409_CIA.VMA_RNO 9 6 1 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[2] 12 8 6 #SB_DFFNSR
set_location U409_TICK.COUNTER60_RNO[10] 14 5 1 #SB_LUT4
set_location U409_TICK.COUNTER60[3] 14 4 2 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[5] 15 1 5 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_EN_nesr_RNIECRR 11 10 7 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[4] 10 12 1 #SB_DFFNR
set_location U409_TICK.un3_COUNTER60_1_cry_7_c 14 4 6 #SB_CARRY
set_location U409_TICK.COUNTER60_RNO_0[6] 14 4 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_RAMSPACEn 7 13 0 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_CIACS0n_i 10 5 2 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO_0[9] 14 2 0 #SB_LUT4
set_location U409_CIA.VMA_RNO_0 9 6 0 #SB_LUT4
set_location U409_CIA.CLK_CIA_RNO 10 8 1 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER 11 10 1 #SB_DFFN
set_location U409_TICK.COUNTER60[6] 13 4 1 #SB_DFF
set_location U409_CIA.CIA_CLK_COUNT_RNO[5] 10 8 4 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[6] 9 8 5 #SB_DFF
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[2] 12 8 6 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIS6KM1[7] 10 11 5 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIRGA77[0] 10 11 7 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE_ns_1_0_.m4 11 6 7 #SB_LUT4
set_location U409_TICK.COUNTER50_RNII24V[14] 15 2 4 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIK98D3_0[0] 10 11 1 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[12] 14 2 3 #SB_LUT4
set_location U409_TICK.COUNTER50_RNID6CP[3] 15 1 3 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_RTC_ENn_3 5 11 0 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE[0] 11 6 5 #SB_DFFN
set_location U409_TICK.un3_COUNTER60_1_cry_2_c 14 4 1 #SB_CARRY
set_location U409_TICK.COUNTER60_RNIDB4S[16] 13 5 5 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[1] 9 9 6 #SB_DFF
set_location U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_14_3 1 17 3 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_COUNTER_RNO[1] 12 11 6 #SB_LUT4
set_location U409_TRANSFER_ACK.ROMENn_RNO_1 12 7 6 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE_ns_1_0_.m3 11 6 6 #SB_LUT4
set_location U409_TICK.COUNTER60[14] 13 5 2 #SB_DFF
set_location U409_TICK.COUNTER50_RNIUHF01[16] 15 1 6 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[5] 9 11 0 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI9U9R[2] 10 11 2 #SB_LUT4
set_location U409_TICK.COUNTER50[10] 14 2 1 #SB_DFF
set_location U409_ADDRESS_DECODE.PORTSIZE_0_i 7 12 1 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOVECTOR_5 5 12 4 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[6] 13 4 1 #SB_LUT4
set_location U409_TICK.COUNTER60_RNICDC71[14] 13 4 6 #SB_LUT4
set_location U409_ADDRESS_DECODE.RANGER_SPACE_2 6 12 5 #SB_LUT4
set_location RESETn_ibuf_RNIM9SF 12 7 0 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO_0[0] 12 7 2 #SB_LUT4
set_location U409_TICK.COUNTER50[3] 14 1 2 #SB_DFF
set_location U409_TRANSFER_ACK.CIA_STATE_ns_1_0_.m8_ns 11 6 1 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[15] 13 5 7 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[2] 14 1 1 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO_0[6] 14 1 5 #SB_LUT4
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_1_c 9 8 0 #SB_CARRY
set_location U409_CIA.CIA_CLK_COUNT_RNIMUMD1[7] 10 9 4 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_OUTn_RNO_0 12 11 3 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[1] 10 12 7 #SB_DFFNR
set_location U409_TICK.un3_COUNTER60_1_cry_9_c 14 5 0 #SB_CARRY
set_location U409_TICK.COUNTER50[4] 14 1 3 #SB_DFF
set_location U409_ADDRESS_DECODE.un2_REGSPACEn 6 12 6 #SB_LUT4
set_location U409_TRANSFER_ACK.ROMENn 12 8 3 #SB_DFFNSS
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIK98D3[0] 10 11 6 #SB_LUT4
set_location U409_TICK.COUNTER60[1] 13 4 5 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[7] 14 1 6 #SB_LUT4
set_location U409_CIA.CLK_CIA_RNO_0 10 8 0 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNO[0] 10 8 7 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_EN_i_RNO 12 12 4 #SB_LUT4
set_location U409_TRANSFER_ACK.ROMENn_RNO 12 8 3 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER_RNIG3KDC 11 10 3 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[6] 9 11 1 #SB_DFFNR
set_location U409_TICK.COUNTER60_RNO[8] 13 3 4 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNIIQMD1[3] 10 8 3 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_RTC_ENn_i 5 10 0 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_EN_i_RNO_0 12 11 7 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[11] 15 2 5 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO_0[13] 14 2 4 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_TACK_EN 11 9 7 #SB_DFFNSR
set_location U409_TICK.COUNTER60_RNO_0[15] 14 5 6 #SB_LUT4
set_location U409_TICK.COUNTER60[4] 13 4 0 #SB_DFF
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_2_c 9 8 1 #SB_CARRY
set_location U409_CIA.CIA_CLK_COUNT_RNO[7] 9 8 6 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[4] 9 8 3 #SB_DFF
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[0] 12 8 0 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_ENABLED[1] 11 7 0 #SB_DFFNSR
set_location U409_TICK.un2_COUNTER50_1_cry_13_c 14 2 4 #SB_CARRY
set_location U409_TICK.COUNTER60[11] 14 5 2 #SB_DFF
set_location U409_ADDRESS_DECODE.CIA_SPACE_1 6 11 6 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[6] 9 11 1 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO_0[14] 14 2 5 #SB_LUT4
set_location U409_TICK.COUNTER50[13] 15 2 3 #SB_DFF
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_5_c 9 8 4 #SB_CARRY
set_location U409_TICK.COUNTER60_RNO[5] 14 4 4 #SB_LUT4
set_location U409_TICK.COUNTER50_RNITU182[10] 15 1 4 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNIQ2ND1[7] 10 8 5 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_EN_RNO 10 10 4 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_10_c 14 5 1 #SB_CARRY
set_location U409_TICK.COUNTER60[16] 14 5 7 #SB_DFF
set_location U409_ADDRESS_DECODE.CIA_SPACE_4 6 10 2 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[3] 10 12 2 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE_RNO[0] 11 6 5 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[16] 14 5 7 #SB_LUT4
set_location U409_TICK.COUNTER60[9] 13 5 0 #SB_DFF
set_location U409_TICK.COUNTER50_RNO_0[5] 14 1 4 #SB_LUT4
set_location U409_TICK.COUNTER50[16] 14 2 7 #SB_DFF
set_location U409_TICK.COUNTER60_RNO_0[8] 14 4 7 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[0] 13 4 4 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOVECTOR_10 5 11 6 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_14_4 1 17 6 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_EN 10 10 4 #SB_DFFNR
set_location U409_TICK.COUNTER50[1] 15 1 2 #SB_DFF
set_location U409_CIA.VMA_RNI692L 11 7 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_14 1 17 7 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[1] 12 8 4 #SB_DFFNSR
set_location U409_TRANSFER_ACK.LASTCLK[0] 11 7 1 #SB_DFFNSR
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIF4AR[5] 9 12 2 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_10_c 14 2 1 #SB_CARRY
set_location U409_TICK.COUNTER60_RNO[13] 14 5 4 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[4] 14 1 3 #SB_LUT4
set_location U409_ADDRESS_DECODE.REGISTER_SPACE 6 12 3 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[3] 10 12 2 #SB_DFFNR
set_location U409_TRANSFER_ACK.ROM_TACK_EN 11 9 6 #SB_DFFNSR
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNISRU81[2] 10 11 3 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[14] 15 2 7 #SB_LUT4
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_6_c 9 8 5 #SB_CARRY
set_location U409_CIA.VMA_RNO_1 9 7 1 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNICGRM[3] 10 7 4 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_15_c 14 5 6 #SB_CARRY
set_location U409_TICK.COUNTER60_RNI2USG[10] 13 5 1 #SB_LUT4
set_location U409_TICK.COUNTER60[7] 14 4 6 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[9] 15 2 0 #SB_LUT4
set_location U409_CIA.CLK_CIA_RNO_2 10 8 6 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNO[2] 9 8 1 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[7] 9 8 6 #SB_DFF
set_location U409_ADDRESS_DECODE.un1_REGSPACEn 8 13 0 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_6 5 11 2 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_EN_nesr 12 10 5 #SB_DFFNESR
set_location U409_TICK.un2_COUNTER50_1_cry_3_c 14 1 2 #SB_CARRY
set_location U409_ADDRESS_DECODE.CIA_SPACE 7 10 0 #SB_LUT4
set_location U409_TICK.COUNTER60_RNIHJU51[4] 13 4 2 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[13] 15 2 3 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO_0[11] 14 2 2 #SB_LUT4
set_location U409_CIA.VMA_RNI692L_0 10 6 6 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI11UH2[3] 9 12 3 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_4_c 14 1 3 #SB_CARRY
set_location U409_TICK.TICK60_RNO 13 4 7 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[2] 9 8 1 #SB_DFF
set_location U409_ADDRESS_DECODE.un1_CIACS1n_i 10 4 2 #SB_LUT4
set_location TACKn_iobuf_RNO 19 18 5 #SB_LUT4
set_location U409_TRANSFER_ACK.ROMENn_RNO_0 12 7 4 #SB_LUT4
set_location U409_TICK.COUNTER60[13] 14 5 4 #SB_DFF
set_location U409_TICK.COUNTER50[9] 15 2 0 #SB_DFF
set_location U409_ADDRESS_DECODE.CIA_SPACE_3 5 12 3 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_COUNTER[0] 12 11 2 #SB_DFFN
set_location U409_TRANSFER_ACK.ROM_TACK_EN_RNO 11 9 6 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[4] 10 12 1 #SB_LUT4
set_location U409_TICK.COUNTER50[11] 15 2 5 #SB_DFF
set_location U409_ADDRESS_DECODE.Z2_SPACE 1 17 5 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_EN_nesr_RNO 11 10 4 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_14_c 14 2 5 #SB_CARRY
set_location U409_TICK.COUNTER60_RNO[7] 14 4 6 #SB_LUT4
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_3_c 9 8 2 #SB_CARRY
set_location U409_ADDRESS_DECODE.un1_RAMSPACEn_i 7 10 7 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNIPTM34[0] 12 9 2 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_6_c 14 1 5 #SB_CARRY
set_location U409_TICK.COUNTER50[2] 14 1 1 #SB_DFF
set_location U409_CIA.VMA 9 6 1 #SB_DFF
set_location U409_ADDRESS_DECODE.Z2_SPACE_5 1 17 0 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[1] 10 12 7 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_11_c 14 2 2 #SB_CARRY
set_location U409_TICK.TICK50_RNO 15 1 7 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[14] 13 5 2 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[1] 15 1 2 #SB_LUT4
set_location U409_TICK.COUNTER50[14] 15 2 7 #SB_DFF
set_location U409_ADDRESS_DECODE.ROMEN_1 7 10 3 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[0] 10 12 6 #SB_DFFNR
set_location U409_TRANSFER_ACK.CIA_TACK_EN_RNO 11 9 7 #SB_LUT4
set_location U409_TICK.TICK60 13 4 7 #SB_DFF
set_location U409_TICK.COUNTER60_RNO[2] 14 4 1 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_11_c 14 5 2 #SB_CARRY
set_location U409_TICK.COUNTER50[7] 14 1 6 #SB_DFF
set_location GND -1 -1 -1 #GND
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[3] 12 8 2 #SB_DFFNSR
set_location U409_TICK.un2_COUNTER50_1_cry_7_c 14 1 6 #SB_CARRY
set_location U409_TICK.COUNTER60[2] 14 4 1 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[6] 15 1 0 #SB_LUT4
set_location U409_CIA.CLK_CIA_RNO_1 10 9 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_5 6 13 1 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI2DKM1[5] 10 11 0 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE_ns_1_0_.m11 11 6 2 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[16] 14 2 7 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_RTC_ENn 5 10 7 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_TACK_EN_RNO_0 11 8 6 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_12_c 14 5 3 #SB_CARRY
set_location U409_CIA.CIA_CLK_COUNT_RNO[4] 9 8 3 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[5] 10 8 4 #SB_DFF
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[3] 12 8 2 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_ENABLED[0] 11 7 5 #SB_DFFNSR
set_location U409_TICK.TICK50 15 1 7 #SB_DFF
set_location U409_TICK.un2_COUNTER50_1_cry_15_c 14 2 6 #SB_CARRY
set_location U409_TRANSFER_ACK.TACK_COUNTER_RNO[0] 12 11 2 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_RST_0_i 9 13 1 #SB_LUT4
set_location U409_TICK.COUNTER60[15] 13 5 7 #SB_DFF
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[2] 10 12 4 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO_0[5] 10 11 4 #SB_LUT4
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_4_c 9 8 3 #SB_CARRY
set_location U409_ADDRESS_DECODE.AUTOVECTOR_4 5 18 4 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_8_c 14 4 7 #SB_CARRY
set_location U409_TICK.COUNTER60_RNO[1] 13 4 5 #SB_LUT4
set_location U409_DATA_BUFFERS.un1_BUFENn 7 13 2 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_8_c 14 1 7 #SB_CARRY
set_location U409_TICK.COUNTER50[0] 15 1 1 #SB_DFF
set_location U409_CIA.CLK_CIA 10 8 1 #SB_DFF
set_location U409_TRANSFER_ACK.un1_ROM_TACK_COUNTER20_3_0_o2 6 10 6 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[0] 12 8 0 #SB_DFFNSR
set_location U409_TRANSFER_ACK.LASTCLK[1] 11 7 3 #SB_DFFNSR
set_location U409_TICK.un3_COUNTER60_1_cry_1_c 14 4 0 #SB_CARRY
set_location U409_TICK.COUNTER50_RNO[3] 14 1 2 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_1_c 14 1 0 #SB_CARRY
set_location U409_TICK.COUNTER60_RNO_0[4] 14 4 3 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_EN_RNO_0 11 8 1 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_9_c 14 2 0 #SB_CARRY
set_location U409_TICK.COUNTER50_RNO[15] 15 2 6 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNO[3] 10 8 2 #SB_LUT4
set_location U409_ADDRESS_DECODE.AGNUS_SPACE 7 13 1 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[7] 9 11 6 #SB_DFFNR
set_location U409_TICK.COUNTER50_RNIH14V[11] 15 2 2 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_RTC_ENn_1 5 10 6 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE_ns_1_0_.m8_ns_1 11 6 0 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_14_c 14 5 5 #SB_CARRY
set_location U409_TICK.COUNTER60_RNO_0[14] 14 5 5 #SB_LUT4
set_location U409_TICK.COUNTER60[12] 14 5 3 #SB_DFF
set_location U409_TRANSFER_ACK.TACK_COUNTER[1] 12 11 6 #SB_DFFN
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[7] 9 11 6 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_13_c 14 5 4 #SB_CARRY
set_location U409_TICK.COUNTER50_RNO_0[15] 14 2 6 #SB_LUT4
set_location U409_TICK.COUNTER50[12] 14 2 3 #SB_DFF
set_location U409_TICK.COUNTER60_RNO[4] 13 4 0 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_12_c 14 2 3 #SB_CARRY
set_io TICK60 55
set_io CIACS0n 78
set_io A[25] 12
set_io D[0] 31
set_io CLK6 52
set_io TM[0] 136
set_io CLK_CIA 122
set_io BUFENn 119
set_io A[23] 16
set_io A[12] 26
set_io D[6] 128
set_io CIACS1n 79
set_io A[21] 15
set_io D[4] 144
set_io A[30] 9
set_io A[28] 2
set_io A[19] 37
set_io TT[0] 138
set_io A[16] 32
set_io TICK50 56
set_io RAMSPACEn 48
set_io A[26] 4
set_io D[3] 1
set_io TM[1] 137
set_io CLK40_IN 129
set_io CLK28_IN 94
set_io A[24] 8
set_io REGSPACEn 118
set_io D[1] 25
set_io TSn 134
set_io RTC_ENn 80
set_io A[22] 3
set_io A[13] 28
set_io D[7] 121
set_io A[29] 7
set_io A[18] 34
set_io RESETn 62
set_io OVL 81
set_io A[20] 17
set_io TACKn 117
set_io D[5] 130
set_io A[31] 10
set_io A[27] 11
set_io TT[1] 139
set_io ROMENn 124
set_io PORTSIZE 135
set_io D[2] 22
set_io A[17] 33
