set_location IN_MUX_bfv_13_6_0_ 13 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_13_7_0_ 13 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_5_0_ 14 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_14_6_0_ 14 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_16_7_0_ 16 7 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 12 7 5 #SB_LUT4
set_location GB_BUFFER_CLK40_IN_c_g_THRU_LUT4_0 12 1 1 #SB_LUT4
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_4_THRU_LUT4_0 16 7 4 #SB_LUT4
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_2_THRU_LUT4_0 16 7 2 #SB_LUT4
set_location U409_TRANSFER_ACK.ROMENn_ness_THRU_LUT4_0 10 14 1 #SB_LUT4
set_location U409_TRANSFER_ACK.LASTCLK_1_THRU_LUT4_0 13 9 0 #SB_LUT4
set_location U409_TRANSFER_ACK.LASTCLK_0_THRU_LUT4_0 13 9 5 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_ENABLED_1_THRU_LUT4_0 13 9 1 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER_0_sqmuxa_0_a3_0_13_3 5 12 7 #SB_LUT4
set_location U409_TICK.COUNTER60_RNICDC71[14] 14 8 1 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNO[0] 6 10 2 #SB_LUT4
set_location U409_ADDRESS_DECODE.un2_REGSPACEn_i_a3_0 5 13 6 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_EN_RNO 11 12 3 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_EN 11 12 3 #SB_DFFNSR
set_location U409_TICK.COUNTER60_RNO[15] 13 8 1 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO_0[6] 14 5 5 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_OUTn_RNO_0 11 11 7 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[1] 12 13 1 #SB_DFFNR
set_location U409_TRANSFER_ACK.ROMENn_ness 10 14 1 #SB_DFFNESS
set_location U409_TRANSFER_ACK.CIA_TACK_EN_RNIBQIN 11 11 6 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_9_c 13 7 0 #SB_CARRY
set_location U409_TICK.COUNTER50[4] 14 5 3 #SB_DFF
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_0[1] 6 11 4 #SB_LUT4
set_location U409_AUTOCONFIG.ATA_BASE_RNO[3] 8 10 4 #SB_LUT4
set_location U409_TICK.COUNTER60[1] 12 7 0 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[7] 14 5 6 #SB_LUT4
set_location U409_CIA.CLK_CIA_RNO_0 15 7 0 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNIAR8J_0[1] 8 12 3 #SB_LUT4
set_location U409_ADDRESS_DECODE.un2_REGSPACEn_i_a2 6 11 0 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[11] 15 6 7 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO_0[13] 14 6 4 #SB_LUT4
set_location U409_CIA.VMA_RNO_2 16 7 7 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI11UH2[1] 13 13 1 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_TACK_EN 12 10 5 #SB_DFFNSR
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_2_c 16 7 1 #SB_CARRY
set_location U409_CIA.CIA_CLK_COUNT_RNO[7] 16 7 6 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[4] 16 7 3 #SB_DFF
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[0] 9 13 1 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_ENABLED[1] 13 9 1 #SB_DFFNSR
set_location U409_AUTOCONFIG.LIDE_OUT_RNIG8DB1[3] 8 9 4 #SB_LUT4
set_location U409_ADDRESS_DECODE.CIA_SPACE_1 6 12 3 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_EN 11 10 0 #SB_DFFNSR
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_5_c 16 7 4 #SB_CARRY
set_location U409_ADDRESS_DECODE.un2_REGSPACEn_i_a3_0_1 5 13 5 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNIQ2ND1[7] 15 7 2 #SB_LUT4
set_location U409_TICK.COUNTER60[16] 13 7 7 #SB_DFF
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_0[1] 5 11 3 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNIJBK9[1] 8 12 0 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[3] 13 13 7 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE_RNO[0] 12 9 2 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[16] 13 7 7 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO_0[5] 14 5 4 #SB_LUT4
set_location U409_TICK.COUNTER50[16] 14 6 7 #SB_DFF
set_location U409_ADDRESS_DECODE.ATA_SPACE_2 9 11 0 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[0] 13 8 7 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_CONF_RNIUPP42_1 9 10 3 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_BASE[2] 9 9 4 #SB_DFFNSS
set_location U409_AUTOCONFIG.ATA_BASE[3] 8 10 4 #SB_DFFNSR
set_location U409_TRANSFER_ACK.DELAYED_TACK_EN 12 11 1 #SB_DFFNR
set_location U409_TICK.COUNTER50[1] 14 4 0 #SB_DFF
set_location U409_CIA.VMA_RNI692L 13 9 3 #SB_LUT4
set_location U409_AUTOCONFIG.STATE_RNI7U5N3[1] 7 10 7 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT[0] 7 9 3 #SB_DFFN
set_location U409_AUTOCONFIG.ATA_BASE_RNO[6] 10 10 6 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[1] 9 12 6 #SB_DFFNSR
set_location U409_TRANSFER_ACK.LASTCLK[0] 13 9 5 #SB_DFFNSR
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIK98D3[3] 12 12 3 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_10_c 14 6 1 #SB_CARRY
set_location U409_TICK.COUNTER50_RNO[4] 14 5 3 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_7_sqmuxa_0_a3_0_2 3 10 4 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT[3] 6 10 0 #SB_DFFN
set_location U409_AUTOCONFIG.BRIDGE_BASE_RNO[1] 9 9 5 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI2DKM1[7] 12 12 2 #SB_LUT4
set_location U409_ADDRESS_DECODE.ATA_EN 8 11 3 #SB_DFF
set_location U409_TRANSFER_ACK.ROM_TACK_EN 11 12 1 #SB_DFFNSR
set_location U409_TICK.COUNTER50_RNO[14] 15 6 6 #SB_LUT4
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_6_c 16 7 5 #SB_CARRY
set_location U409_CIA.VMA_RNO_1 16 6 0 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_15_c 13 7 6 #SB_CARRY
set_location U409_TICK.COUNTER60_RNI2USG[10] 13 8 4 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNO[2] 16 7 1 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[7] 16 7 6 #SB_DFF
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_1[0] 6 11 6 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_CONF_RNIUPP42 8 9 2 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_EN_RNO_0 11 14 2 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIK98D3_0[3] 12 12 4 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO[1] 7 10 0 #SB_LUT4
set_location U409_ADDRESS_DECODE.HIROM 5 11 1 #SB_LUT4
set_location U409_ADDRESS_DECODE.ATA_SPACE 8 11 2 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER_0_sqmuxa_0_a3_0_13_9 5 17 3 #SB_LUT4
set_location U409_TICK.COUNTER60[13] 13 7 4 #SB_DFF
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_0[2] 6 10 3 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_COUNTER[0] 11 11 4 #SB_DFFN
set_location U409_TRANSFER_ACK.ROM_TACK_EN_RNO 11 12 1 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[4] 13 13 5 #SB_LUT4
set_location U409_TICK.COUNTER50[11] 15 6 7 #SB_DFF
set_location U409_TICK.COUNTER60_RNO[7] 13 6 6 #SB_LUT4
set_location U409_TICK.COUNTER50[2] 14 5 1 #SB_DFF
set_location U409_AUTOCONFIG.ATA_BASE_RNO[5] 10 10 4 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[1] 14 4 0 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_BASE_RNO[2] 9 9 4 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_AUTOCONFIG_SPACE_0_a3 8 11 4 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER_0_sqmuxa_0_a3_0_13_7 3 15 1 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_TACK_EN_RNO 12 10 5 #SB_LUT4
set_location U409_TICK.TICK60 14 8 7 #SB_DFF
set_location U409_AUTOCONFIG.STATE_ns_1_0_.m2_0_o2 7 10 5 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[11] 13 7 2 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNO[1] 15 7 1 #SB_LUT4
set_location U409_ADDRESS_DECODE.Z2_SPACE_0_a2_4 3 14 3 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[5] 13 13 4 #SB_DFFNR
set_location U409_TICK.COUNTER60_RNO[9] 12 8 1 #SB_LUT4
set_location U409_AUTOCONFIG.ATA_BASE[4] 10 10 2 #SB_DFFNSR
set_location U409_AUTOCONFIG.AC_START_RNO 7 11 7 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_OUTn_RNO 11 11 0 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_5_c 13 6 4 #SB_CARRY
set_location U409_ADDRESS_DECODE.un1_REGSPACEn_i 7 13 6 #SB_LUT4
set_location U409_TICK.COUNTER60[5] 13 6 4 #SB_DFF
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a2_4[0] 3 10 1 #SB_LUT4
set_location U409_ADDRESS_DECODE.D_1_i 7 11 6 #SB_LUT4
set_location U409_TICK.COUNTER60[10] 13 7 1 #SB_DFF
set_location U409_AUTOCONFIG.AC_TACK_RNO 8 10 2 #SB_LUT4
set_location U409_ADDRESS_DECODE.ATA_EN_RNI206O6 9 11 7 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIQTP87[3] 12 12 5 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE[1] 12 9 5 #SB_DFFN
set_location U409_TICK.un2_COUNTER50_1_cry_2_c 14 5 1 #SB_CARRY
set_location U409_CIA.CIA_CLK_COUNT[0] 16 6 4 #SB_DFF
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNIL9Q68[1] 9 13 5 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNO[1] 6 10 7 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_EN_RNIGAOA 11 11 5 #SB_LUT4
set_location U409_AUTOCONFIG.AC_TACK 8 10 2 #SB_DFFNSR
set_location U409_TICK.COUNTER60_RNO[12] 13 7 3 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[2] 12 13 2 #SB_DFFNR
set_location U409_AUTOCONFIG.ATA_BASE[7] 9 9 1 #SB_DFFNSR
set_location U409_TICK.COUNTER50[5] 13 5 0 #SB_DFF
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_0[0] 5 11 2 #SB_LUT4
set_location U409_AUTOCONFIG.ATA_BASE_RNO[2] 10 11 1 #SB_LUT4
set_location U409_TICK.COUNTER60[0] 13 8 7 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[8] 14 5 7 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_0_a2 6 11 1 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER_0_sqmuxa_0_a3_0_13_10 6 14 6 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_3_c 13 6 2 #SB_CARRY
set_location U409_CIA.CIA_CLK_COUNT_RNIIQMD1[2] 15 7 5 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[10] 14 6 1 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_2[1] 6 11 3 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_0_3_163_i_i_o2 6 9 1 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_EN_RNO 11 10 0 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNO[6] 16 7 5 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[3] 15 7 3 #SB_DFF
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[1] 9 12 6 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_4_c 13 6 3 #SB_CARRY
set_location U409_TICK.COUNTER50[8] 14 5 7 #SB_DFF
set_location U409_TRANSFER_ACK.TACK_EN_RNI1IRLB 16 13 4 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_5_c 14 5 4 #SB_CARRY
set_location U409_TRANSFER_ACK.TACK_OUTn 11 11 0 #SB_DFFN
set_location U409_TRANSFER_ACK.LASTCLK_RNIHJ5G[1] 12 9 7 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[0] 12 13 5 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE_RNO[1] 12 9 5 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_6_c 13 6 5 #SB_CARRY
set_location U409_TICK.COUNTER60[8] 14 8 6 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[0] 13 5 4 #SB_LUT4
set_location U409_TICK.COUNTER50[15] 15 6 5 #SB_DFF
set_location U409_ADDRESS_DECODE.ATA_SPACE_3 9 10 2 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[3] 13 6 2 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO_0[9] 13 7 0 #SB_LUT4
set_location U409_TICK.COUNTER60_RNI335G2[11] 13 8 6 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNO[3] 6 10 0 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_CONF_RNIUPP42_0 9 10 7 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_BASE[3] 9 9 3 #SB_DFFNSS
set_location U409_AUTOCONFIG.ATA_BASE[2] 10 11 1 #SB_DFFNSR
set_location U409_AUTOCONFIG.AC_START 7 11 7 #SB_DFF
set_location U409_TICK.COUNTER50[6] 15 5 2 #SB_DFF
set_location U409_CIA.VMA_RNO 16 6 2 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT[3] 7 9 6 #SB_DFFN
set_location U409_AUTOCONFIG.ATA_BASE_RNO[1] 8 10 6 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[2] 9 12 2 #SB_DFFNSR
set_location U409_TICK.COUNTER60_RNO[10] 13 7 1 #SB_LUT4
set_location U409_TICK.COUNTER60[3] 13 6 2 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[5] 13 5 0 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT[0] 6 10 2 #SB_DFFN
set_location U409_ADDRESS_DECODE.Z2_SPACE_0_a2_5 3 15 6 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[4] 13 13 5 #SB_DFFNR
set_location U409_TICK.un3_COUNTER60_1_cry_7_c 13 6 6 #SB_CARRY
set_location U409_TICK.COUNTER60_RNO_0[6] 13 6 5 #SB_LUT4
set_location U409_AUTOCONFIG.ATA_BASE[5] 10 10 4 #SB_DFFNSR
set_location U409_ADDRESS_DECODE.un1_RAMSPACEn 10 12 1 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_CIACS0n_i 24 3 1 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO_0[9] 14 6 0 #SB_LUT4
set_location U409_CIA.VMA_RNO_0 16 6 1 #SB_LUT4
set_location U409_CIA.CLK_CIA_RNO 14 7 1 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_0[2] 6 11 5 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a2_3[0] 5 11 4 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER 10 12 2 #SB_DFFN
set_location U409_TICK.COUNTER60[6] 13 8 0 #SB_DFF
set_location U409_CIA.CIA_CLK_COUNT_RNO[5] 15 7 6 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[6] 16 7 5 #SB_DFF
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_1[1] 6 10 6 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_o2[0] 5 10 3 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[2] 9 12 2 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI2DKM1_0[7] 12 12 0 #SB_LUT4
set_location U409_TICK.COUNTER50_RNII24V[14] 15 5 3 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_CONF 8 10 0 #SB_DFFNSR
set_location U409_TRANSFER_ACK.CIA_STATE_RNO_0[0] 12 9 1 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[12] 14 6 3 #SB_LUT4
set_location U409_TICK.COUNTER50_RNID6CP[3] 14 7 5 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_CONF_1_sqmuxa_0_a2_0_2 3 10 7 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO[0] 7 9 3 #SB_LUT4
set_location U409_ADDRESS_DECODE.N_120_i 8 11 6 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE[0] 12 9 2 #SB_DFFN
set_location U409_TICK.un3_COUNTER60_1_cry_2_c 13 6 1 #SB_CARRY
set_location U409_TICK.COUNTER60_RNIDB4S[16] 13 8 3 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[1] 15 7 1 #SB_DFF
set_location U409_TRANSFER_ACK.TACK_COUNTER_RNO[1] 11 11 2 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE_RNO_1[0] 12 9 6 #SB_LUT4
set_location U409_TICK.COUNTER60[14] 14 8 2 #SB_DFF
set_location U409_TICK.COUNTER50_RNIUHF01[16] 13 5 1 #SB_LUT4
set_location U409_AUTOCONFIG.STATE_RNO[0] 7 10 1 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_CONF_RNO 8 10 0 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_0[3] 5 11 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.CIA_SPACE_2 6 13 7 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[5] 13 13 4 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNI9U9R[2] 12 12 1 #SB_LUT4
set_location U409_TICK.COUNTER50[10] 14 6 1 #SB_DFF
set_location U409_ADDRESS_DECODE.un2_REGSPACEn_i_a3_0_2 6 11 2 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[6] 13 8 0 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a2_6[0] 5 10 4 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_BASE[0] 9 9 6 #SB_DFFNSS
set_location U409_ADDRESS_DECODE.un1_BRIDGE_ENn_i 10 12 3 #SB_LUT4
set_location RESETn_ibuf_RNIM9SF 12 15 2 #SB_LUT4
set_location U409_TICK.COUNTER50[3] 14 5 2 #SB_DFF
set_location U409_AUTOCONFIG.ATA_BASE_RNO[4] 10 10 2 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[2] 14 5 1 #SB_LUT4
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_1_c 16 7 0 #SB_CARRY
set_location U409_AUTOCONFIG.BRIDGE_BASE_RNO[3] 9 9 3 #SB_LUT4
set_location U409_AUTOCONFIG.STATE_RNIU6QK1[0] 7 10 2 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_1[0] 5 10 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_RTC_ENn_i_i_a2_1 7 12 0 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNO[0] 16 6 4 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_ROMEN 7 11 5 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[6] 12 13 7 #SB_DFFNR
set_location U409_TICK.COUNTER60_RNO[8] 14 8 6 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_2[0] 3 10 6 #SB_LUT4
set_location U409_TRANSFER_ACK.LASTCLK_RNI9HNJ[1] 12 9 0 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO[3] 7 9 6 #SB_LUT4
set_location U409_ADDRESS_DECODE.ROMEN_1_0_a2 7 12 7 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO_0[15] 13 7 6 #SB_LUT4
set_location U409_TICK.COUNTER60[4] 13 8 2 #SB_DFF
set_location U409_TICK.un2_COUNTER50_1_cry_13_c 14 6 4 #SB_CARRY
set_location U409_TICK.COUNTER60[11] 13 7 2 #SB_DFF
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[6] 12 13 7 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO_0[14] 14 6 5 #SB_LUT4
set_location U409_TICK.COUNTER50[13] 15 6 4 #SB_DFF
set_location U409_AUTOCONFIG.LIDE_OUT_RNIA2DB1[0] 7 9 2 #SB_LUT4
set_location U409_ADDRESS_DECODE.un2_REGSPACEn_i_a2_0 6 12 2 #SB_LUT4
set_location U409_ADDRESS_DECODE.PORTSIZE_0 8 13 3 #SB_LUT4
set_location U409_TRANSFER_ACK.ROMENn_ness_RNO 9 13 6 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[5] 13 6 4 #SB_LUT4
set_location U409_TICK.COUNTER50_RNITU182[10] 14 7 6 #SB_LUT4
set_location U409_AUTOCONFIG.STATE[0] 7 10 1 #SB_DFFN
set_location U409_TRANSFER_ACK.DELAYED_TACK_EN_RNO 12 11 1 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_10_c 13 7 1 #SB_CARRY
set_location U409_ADDRESS_DECODE.LOWROM_3 8 12 4 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNIQ4KM1[2] 13 13 0 #SB_LUT4
set_location U409_TICK.COUNTER60[9] 12 8 1 #SB_DFF
set_location U409_TICK.COUNTER60_RNO_0[8] 13 6 7 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNO[2] 6 10 1 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_1[3] 5 12 5 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNIAR8J[1] 8 12 6 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_RTC_ENn_i_i_a2_4 7 12 1 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_BRIDGE_ENn_0 8 13 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.AUTOCONFIG_SPACE_0_a2_4 5 10 1 #SB_LUT4
set_location U409_ADDRESS_DECODE.ATA_EN_RNO 8 11 3 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[13] 13 7 4 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[3] 13 13 7 #SB_DFFNR
set_location U409_AUTOCONFIG.ATA_BASE[6] 10 10 6 #SB_DFFNSR
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNISRU81[2] 13 13 6 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_0[3] 6 10 5 #SB_LUT4
set_location U409_ADDRESS_DECODE.LV_SPACE 11 13 5 #SB_LUT4
set_location U409_TICK.COUNTER60[7] 13 6 6 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[9] 14 8 3 #SB_LUT4
set_location U409_ADDRESS_DECODE.un1_REGSPACEn 7 13 7 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER_0_sqmuxa_0_a3_0_13_11 5 14 2 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_3_c 14 5 2 #SB_CARRY
set_location U409_ADDRESS_DECODE.CIA_SPACE 6 13 0 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_STATE_RNO_0[1] 12 9 4 #SB_LUT4
set_location U409_TICK.COUNTER60_RNIHJU51[4] 13 8 5 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[13] 15 6 4 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO_0[11] 14 6 2 #SB_LUT4
set_location U409_CIA.VMA_RNI692L_0 22 3 4 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER_RNO 10 12 2 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_4_c 14 5 3 #SB_CARRY
set_location U409_TICK.TICK60_RNO 14 8 7 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[2] 16 7 1 #SB_DFF
set_location U409_ADDRESS_DECODE.un1_CIACS1n_i 24 3 6 #SB_LUT4
set_location U409_TRANSFER_ACK.IRQ_TACK_COUNTER_0_sqmuxa_0_tz_tz 7 12 3 #SB_LUT4
set_location U409_TICK.COUNTER50[9] 14 8 3 #SB_DFF
set_location U409_AUTOCONFIG.CONFIGENn 9 9 0 #SB_DFFNSS
set_location U409_ADDRESS_DECODE.HIROM_2_i_o3 5 11 0 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNO_3[1] 5 10 7 #SB_LUT4
set_location U409_ADDRESS_DECODE.Z2_SPACE_0_a2 3 14 4 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_14_c 14 6 5 #SB_CARRY
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_3_c 16 7 2 #SB_CARRY
set_location U409_ADDRESS_DECODE.un1_RAMSPACEn_i 9 11 4 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_6_c 14 5 5 #SB_CARRY
set_location U409_CIA.VMA 16 6 2 #SB_DFF
set_location U409_ADDRESS_DECODE.un1_BRIDGE_ENn_3 8 12 2 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[1] 12 13 1 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_11_c 14 6 2 #SB_CARRY
set_location U409_TICK.TICK50_RNO 14 8 5 #SB_LUT4
set_location U409_TICK.COUNTER60_RNO[14] 14 8 2 #SB_LUT4
set_location U409_TICK.COUNTER50[14] 15 6 6 #SB_DFF
set_location U409_ADDRESS_DECODE.ATA_SPACE_4 8 11 1 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[0] 12 13 5 #SB_DFFNR
set_location U409_TICK.COUNTER60_RNO[2] 13 6 1 #SB_LUT4
set_location U409_AUTOCONFIG.ATA_BASE[1] 8 10 6 #SB_DFFNSR
set_location U409_TICK.un3_COUNTER60_1_cry_11_c 13 7 2 #SB_CARRY
set_location U409_TICK.COUNTER50[7] 14 5 6 #SB_DFF
set_location U409_AUTOCONFIG.BRIDGE_OUT[2] 7 10 3 #SB_DFFN
set_location GND -1 -1 -1 #GND
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[3] 9 12 1 #SB_DFFNSR
set_location U409_TICK.un2_COUNTER50_1_cry_7_c 14 5 6 #SB_CARRY
set_location U409_TICK.COUNTER60[2] 13 6 1 #SB_DFF
set_location U409_TICK.COUNTER50_RNO[6] 15 5 2 #SB_LUT4
set_location U409_CIA.CLK_CIA_RNO_1 14 7 0 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT[1] 6 10 7 #SB_DFFN
set_location U409_AUTOCONFIG.CONFIGURED_RNO 8 10 1 #SB_LUT4
set_location U409_ADDRESS_DECODE.ATA_SPACE_1_0 9 11 1 #SB_LUT4
set_location U409_TICK.COUNTER50_RNO[16] 14 6 7 #SB_LUT4
set_location U409_AUTOCONFIG.un1_A_11_3_i_o3 3 10 2 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_12_c 13 7 3 #SB_CARRY
set_location U409_CIA.CIA_CLK_COUNT_RNO[4] 16 7 3 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT[5] 15 7 6 #SB_DFF
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER_RNO[3] 9 12 1 #SB_LUT4
set_location U409_TRANSFER_ACK.CIA_ENABLED[0] 13 9 3 #SB_DFFNSR
set_location U409_AUTOCONFIG.CONFIGENn_RNO 9 9 0 #SB_LUT4
set_location U409_TICK.TICK50 14 8 5 #SB_DFF
set_location U409_AUTOCONFIG.BRIDGE_OUT_cnst_i_i_a2_5[0] 3 11 4 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_15_c 14 6 6 #SB_CARRY
set_location U409_ADDRESS_DECODE.ATA_EN_RNI4345U 8 13 4 #SB_LUT4
set_location U409_TRANSFER_ACK.TACK_COUNTER_RNO[0] 11 11 4 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER15 9 11 5 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_RST_0_i 11 13 1 #SB_LUT4
set_location U409_TICK.COUNTER60[15] 13 8 1 #SB_DFF
set_location U409_AUTOCONFIG.STATE_RNO[1] 7 10 4 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_7_sqmuxa_0_0 3 10 5 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO_0[0] 5 10 6 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[2] 12 13 2 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO_0[5] 13 13 3 #SB_LUT4
set_location U409_CIA.un2_CIA_CLK_COUNT_cry_4_c 16 7 3 #SB_CARRY
set_location U409_ADDRESS_DECODE.ATA_SPACE_1 8 11 0 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_8_c 13 6 7 #SB_CARRY
set_location U409_TICK.COUNTER60_RNO[1] 12 7 0 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_BASE[1] 9 9 5 #SB_DFFNSS
set_location U409_ADDRESS_DECODE.un1_RTC_ENn_i_i_a2 7 12 2 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_8_c 14 5 7 #SB_CARRY
set_location U409_TICK.COUNTER50[0] 13 5 4 #SB_DFF
set_location U409_CIA.CLK_CIA 14 7 1 #SB_DFF
set_location U409_AUTOCONFIG.BRIDGE_OUT[1] 7 10 0 #SB_DFFN
set_location U409_AUTOCONFIG.ATA_BASE_RNO[7] 9 9 1 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_COUNTER[0] 9 13 1 #SB_DFFNSR
set_location U409_TRANSFER_ACK.LASTCLK[1] 13 9 0 #SB_DFFNSR
set_location U409_TICK.un3_COUNTER60_1_cry_1_c 13 6 0 #SB_CARRY
set_location U409_TICK.COUNTER50_RNO[3] 14 5 2 #SB_LUT4
set_location U409_AUTOCONFIG.STATE_RNIBM2Q1[1] 7 10 6 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT[2] 6 10 1 #SB_DFFN
set_location U409_AUTOCONFIG.BRIDGE_BASE_RNO[0] 9 9 6 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_1_c 14 5 0 #SB_CARRY
set_location U409_TICK.COUNTER60_RNO_0[4] 13 6 3 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNIE6DB1[2] 8 9 0 #SB_LUT4
set_location U409_TRANSFER_ACK.ROM_TACK_EN_RNO_0 10 12 7 #SB_LUT4
set_location U409_TICK.un2_COUNTER50_1_cry_9_c 14 6 0 #SB_CARRY
set_location U409_TICK.COUNTER50_RNO[15] 15 6 5 #SB_LUT4
set_location U409_AUTOCONFIG.LIDE_OUT_RNIC4DB1[1] 8 8 4 #SB_LUT4
set_location U409_CIA.CIA_CLK_COUNT_RNO[3] 15 7 3 #SB_LUT4
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER[7] 12 12 6 #SB_DFFNR
set_location U409_TICK.COUNTER50_RNIH14V[11] 15 5 1 #SB_LUT4
set_location U409_AUTOCONFIG.BRIDGE_OUT_RNO[2] 7 10 3 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_14_c 13 7 5 #SB_CARRY
set_location U409_TICK.COUNTER60_RNO_0[14] 13 7 5 #SB_LUT4
set_location U409_TICK.COUNTER60[12] 13 7 3 #SB_DFF
set_location U409_AUTOCONFIG.CONFIGURED 8 10 1 #SB_DFFNSR
set_location U409_TRANSFER_ACK.TACK_COUNTER[1] 11 11 2 #SB_DFFN
set_location U409_TRANSFER_ACK.DELAYED_TACK_COUNTER_RNO[7] 12 12 6 #SB_LUT4
set_location U409_TICK.un3_COUNTER60_1_cry_13_c 13 7 4 #SB_CARRY
set_location U409_TICK.COUNTER50_RNO_0[15] 14 6 6 #SB_LUT4
set_location U409_TICK.COUNTER50[12] 14 6 3 #SB_DFF
set_location U409_TICK.COUNTER60_RNO[4] 13 8 2 #SB_LUT4
set_location U409_AUTOCONFIG.STATE[1] 7 10 4 #SB_DFFN
set_location U409_TICK.un2_COUNTER50_1_cry_12_c 14 6 3 #SB_CARRY
set_location U409_ADDRESS_DECODE.LOWROM_2 7 11 4 #SB_LUT4
set_io PIO_S0 76
set_io A[31] 10
set_io A[1] 144
set_io TT[1] 139
set_io PORTSIZE 135
set_io A[17] 33
set_io TICK60 55
set_io CIACS0n 78
set_io A[25] 12
set_io CPUCONFn 130
set_io CLK6 52
set_io A[6] 20
set_io A[15] 31
set_io TM[0] 136
set_io CLK_CIA 122
set_io BUFENn 119
set_io A[23] 16
set_io A[12] 26
set_io RnW 142
set_io D[6] 45
set_io A[4] 18
set_io PIO_P2 75
set_io CIACS1n 79
set_io BRIDGE_ENn 91
set_io A[21] 15
set_io PIO_S1 87
set_io D[4] 43
set_io A[30] 9
set_io A[28] 2
set_io A[2] 143
set_io A[19] 37
set_io TT[0] 138
set_io PIO_P0 73
set_io A[16] 32
set_io TICK50 56
set_io TCIn 115
set_io TBIn 116
set_io RAMSPACEn 48
set_io A[26] 4
set_io A[7] 21
set_io A[14] 29
set_io TM[1] 137
set_io CLK40_IN 129
set_io CLK28_IN 94
set_io A[24] 8
set_io REGSPACEn 118
set_io A[5] 19
set_io TSn 134
set_io RTC_ENn 80
set_io A[22] 3
set_io A[13] 28
set_io PIO_S2 88
set_io D[7] 47
set_io A[3] 1
set_io A[29] 7
set_io A[18] 34
set_io ATA_ENn 90
set_io RESETn 62
set_io OVL 81
set_io CONFIGENn 61
set_io A[20] 17
set_io TACKn 117
set_io D[5] 44
set_io A[27] 11
set_io ROMENn 124
set_io PIO_P1 74
