ble_pack CONSTANT_ONE_LUT4_LC_1_11_0 { CONSTANT_ONE_LUT4 }
clb_pack LT_1_11 { CONSTANT_ONE_LUT4_LC_1_11_0 }
set_location LT_1_11 1 11
set_io DUM[6] 96
set_io DLM[0] 79
set_io AD3[4] 4
set_io PCICYCLEn 19
set_io DUU[1] 99
set_io DLL[3] 73
set_io AD2[6] 116
set_io DUM[0] 88
set_io DLM[6] 85
set_io AD3[6] 9
set_io AD0[0] 2
set_io DUU[3] 102
set_io DLL[1] 63
set_io ADLATCH 39
set_io AD2[0] 122
set_io AD1[3] 135
set_io DUU[4] 104
set_io DUM[2] 91
set_io DLM[4] 83
set_io AD3[0] 114
set_io AD0[6] 141
set_io DLM[3] 82
set_io DLL[7] 78
set_io AD2[2] 120
set_io AD1[1] 137
set_io DUU[6] 106
set_io AD3[2] 112
set_io AD2[5] 117
set_io AD0[4] 142
set_io DUM[5] 95
set_io DLM[1] 80
set_io DLL[5] 75
set_io AD1[7] 124
set_io AD0[3] 143
set_io DUU[0] 98
set_io DLL[2] 64
set_io AD2[7] 115
set_io PCI_DIR 38
set_io DUM[7] 97
set_io DLM[7] 87
set_io AD3[5] 7
set_io AD1[5] 130
set_io AD0[1] 1
set_io DUU[2] 101
set_io DLL[0] 62
set_io AD2[1] 121
set_io AD1[2] 136
set_io DUM[1] 90
set_io DLM[5] 84
set_io AD3[7] 8
set_io AD0[7] 138
set_io DLL[6] 76
set_io ALATCH 37
set_io AD2[3] 119
set_io AD1[0] 3
set_io DUU[5] 105
set_io DUM[3] 93
set_io AD3[1] 113
set_io AD0[5] 139
set_io DUM[4] 94
set_io DLM[2] 81
set_io DLL[4] 74
set_io AD1[6] 125
set_io DUU[7] 34
set_io AD3[3] 110
set_io AD2[4] 118
set_io AD1[4] 134
set_io AD0[2] 144
