set_location CONSTANT_ONE_LUT4 12 20 3 #SB_LUT4
set_location GB_BUFFER_CLK40_THRU_LUT4_0 9 13 7 #SB_LUT4
set_location GB_BUFFER_CLK80_THRU_LUT4_0 12 10 7 #SB_LUT4
set_location U111_CYCLE_SM.TS_DELAY_THRU_LUT4_0 10 10 0 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_RNIB7EL[4] 10 19 3 #SB_LUT4
set_location U111_CYCLE_SM.TA_DIS_RNI576J 9 18 1 #SB_LUT4
set_location U111_CYCLE_SM.BURST_RNILNBJ 8 10 6 #SB_LUT4
set_location U111_BUFFERS.DMA_EN_i_0 8 20 4 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_RNO[5] 10 12 5 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED[5] 10 12 5 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD_RNICUN01 12 10 2 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNILJPK 7 20 4 #SB_LUT4
set_location U111_CYCLE_SM.PORT_MISMATCH_RNO 7 10 2 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[3] 8 10 4 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_RNO[0] 10 11 2 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED[0] 10 11 2 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD_RNIK6O01 6 12 1 #SB_LUT4
set_location LBENn_c_sbtinv 11 1 1 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNO[3] 8 12 6 #SB_LUT4
set_location U111_CYCLE_SM.TS_OUT_RNO 9 10 0 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIJSI41 8 15 6 #SB_LUT4
set_location U111_CYCLE_SM.A2_EN_RNIA87G 3 1 6 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED[5] 9 12 7 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD_RNIRPPK 10 19 4 #SB_LUT4
set_location U111_CYCLE_SM.BURST_COUNT_RNIFDQV[1] 8 11 4 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_RNI8QUM 11 11 1 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNI1UKT[7] 9 17 6 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED[0] 10 12 2 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD 7 10 6 #SB_DFFSR
set_location RESETn_ibuf_RNIM9SF 1 10 1 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE[5] 8 9 1 #SB_DFF
set_location U111_CYCLE_SM.BURST_COUNT[0] 8 11 2 #SB_DFFSR
set_location U111_CYCLE_SM.UM_LATCHED_RNO[3] 9 12 5 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED[7] 9 12 3 #SB_DFFSR
set_location U111_CYCLE_SM.TA_DIS_RNO 9 12 4 #SB_LUT4
set_location U111_CYCLE_SM.A2_EN 7 10 1 #SB_DFFSR
set_location TSn_iobuf_RNO 8 7 3 #SB_LUT4
set_location U111_CYCLE_SM.TS_EN_RNO 9 9 1 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE[0] 8 10 2 #SB_DFF
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[1] 8 10 0 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNO[6] 9 12 2 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED[2] 10 11 1 #SB_DFFSR
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_1[2] 8 11 5 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNI4FT71 7 3 6 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE 10 10 4 #SB_DFFSR
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_0[2] 9 11 2 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNO[1] 10 12 1 #SB_LUT4
set_location U111_CYCLE_SM.TS_EN 9 9 1 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD_RNO 7 10 6 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIHFPK 6 20 1 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED[7] 9 12 6 #SB_DFFSR
set_location U111_CYCLE_SM.TS_DELAY_RNIDR7G 9 11 3 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_RNI3VDL[0] 11 12 2 #SB_LUT4
set_location U111_CYCLE_SM.TS_OUT 9 10 0 #SB_DFFN
set_location U111_CYCLE_SM.TS_EN_RNO_0 8 9 6 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIHQI41 8 13 3 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNI6HT71 6 3 1 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNINJKT[2] 7 20 2 #SB_LUT4
set_location U111_CYCLE_SM.LATCH_EN_RNO_0 9 11 1 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIASN01 7 15 1 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNI0BT71 6 3 4 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED[2] 7 11 1 #SB_DFFSR
set_location U111_CYCLE_SM.TA_DIS_RNICJKJ 10 18 4 #SB_LUT4
set_location U111_CYCLE_SM.LW_TRANS 10 12 6 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD_RNIE0O01 7 15 2 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_RNO 10 11 4 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_RNO[6] 10 11 7 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNI7GI41 7 7 6 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNIGD6K_0[2] 9 11 7 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNITPKT[5] 9 17 5 #SB_LUT4
set_location U111_CYCLE_SM.BURST_RNO 8 11 0 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[4] 8 9 7 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_RNO[1] 8 12 0 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_RNIFBEL[6] 11 12 6 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED[1] 8 12 0 #SB_DFFSR
set_location U111_CYCLE_SM.TA_DIS_RNO_0 9 10 7 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE[2] 9 11 5 #SB_DFF
set_location U111_CYCLE_SM.UU_LATCHED_RNILHKT[1] 10 18 0 #SB_LUT4
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE_RNINRNR 9 11 0 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNO[4] 9 12 0 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_1[0] 8 10 1 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_EN 10 11 6 #SB_DFFSR
set_location U111_CYCLE_SM.CYCLE_STATE_RNIGD6K[2] 9 11 6 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_0[0] 8 10 3 #SB_LUT4
set_location U111_CYCLE_SM.BURST 8 11 0 #SB_DFFSR
set_location U111_CYCLE_SM.UU_LATCHED_RNIPLKT[3] 8 20 6 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED[1] 10 12 1 #SB_DFFSR
set_location U111_CYCLE_SM.TA_DIS 9 12 4 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD_RNINLPK 12 20 0 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNICNT71 8 7 4 #SB_LUT4
set_location U111_CYCLE_SM.BURST_COUNT_RNO[0] 8 11 2 #SB_LUT4
set_location U111_CYCLE_SM.PORT_MISMATCH 7 10 2 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD_RNIU8T71 11 1 2 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIPNPK 6 20 4 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_0[5] 8 9 0 #SB_LUT4
set_location U111_CYCLE_SM.BURST_COUNT[1] 8 11 1 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD_RNILUI41 7 15 4 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIDMI41 6 10 4 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNI9UTM[0] 9 11 4 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_RNO[4] 8 12 5 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED[4] 8 12 5 #SB_DFFSR
set_location U111_CYCLE_SM.LATCH_EN 9 12 1 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD_RNII4O01 12 20 5 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE[1] 8 10 0 #SB_DFF
set_location GND -1 -1 -1 #GND
set_location U111_CYCLE_SM.UM_LATCHED_RNI73EL[2] 11 11 5 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIM8O01 9 19 2 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO_2[0] 8 10 7 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[2] 9 11 5 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNO[7] 9 12 6 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNIRNKT[4] 9 18 0 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED[3] 9 12 5 #SB_DFFSR
set_location U111_CYCLE_SM.TS_DELAY 10 10 0 #SB_DFFSS
set_location U111_CYCLE_SM.CYCLE_EN_RNO 10 11 6 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNI2DT71 7 3 3 #SB_LUT4
set_location U111_CYCLE_SM.A2_EN_RNO 7 10 1 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNO[2] 7 11 1 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIG2O01 9 19 6 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIALT71 10 6 3 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED[4] 9 12 0 #SB_DFFSR
set_location U111_CYCLE_SM.UM_LATCHED_RNIHDEL[7] 9 13 1 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_RNI95EL[3] 9 19 5 #SB_LUT4
set_location U111_CYCLE_SM.READ_CYCLE_ACTIVE_RNO 10 10 4 #SB_LUT4
set_location U111_CYCLE_SM.LATCH_EN_RNO 9 12 1 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIBKI41 6 12 5 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNIJFKT[0] 10 18 1 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED[3] 8 12 6 #SB_DFFSR
set_location U111_CYCLE_SM.WRITE_CYCLE_ACTIVE 10 11 4 #SB_DFFSR
set_location U111_CYCLE_SM.UM_LATCHED_RNO[7] 9 12 3 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIJHPK 9 18 3 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_EN_RNI26B3 11 11 0 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_RNI51EL[1] 8 15 5 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE[4] 8 9 7 #SB_DFF
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[5] 8 9 1 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_RNO[2] 10 11 1 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED[6] 10 11 7 #SB_DFFSR
set_location U111_CYCLE_SM.CYCLE_STATE[3] 8 10 4 #SB_DFF
set_location U111_CYCLE_SM.UU_LATCHED_RNIVRKT[6] 9 17 2 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIVTPK 12 20 2 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNO[0] 8 10 2 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNO[5] 9 12 7 #SB_LUT4
set_location U111_CYCLE_SM.LW_TRANS_RNO 10 12 6 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNO_0 7 7 4 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNIFOI41 8 13 4 #SB_LUT4
set_location U111_BUFFERS.un1_DMA_EN_0[0] 8 20 2 #SB_LUT4
set_location U111_BUFFERS.N_102_i 8 20 0 #SB_LUT4
set_location U111_CYCLE_SM.UM_LATCHED_RNID9EL[5] 10 19 1 #SB_LUT4
set_location U111_CYCLE_SM.CYCLE_STATE_RNIJG6K[5] 8 10 5 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED_RNO[0] 10 12 2 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNI8JT71 10 6 6 #SB_LUT4
set_location U111_CYCLE_SM.UU_LATCHED[6] 9 12 2 #SB_DFFSR
set_location U111_CYCLE_SM.FLIP_WORD_RNI9II41 6 10 6 #SB_LUT4
set_location U111_CYCLE_SM.BURST_COUNT_RNO[1] 8 11 1 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNITRPK 6 20 7 #SB_LUT4
set_location U111_CYCLE_SM.FLIP_WORD_RNI8QN01 6 10 1 #SB_LUT4
set_location U111_CYCLE_SM.A2_EN_RNIB97G 3 1 0 #SB_LUT4
set_io TBIn 55
set_io SIZ[1] 120
set_io D_UM_040[4] 110
set_io D_LM_040[0] 82
set_io D_UU_AMIGA[3] 144
set_io D_LL_AMIGA[4] 29
set_io D_LL_040[1] 75
set_io D_LM_AMIGA[6] 9
set_io TEAn 43
set_io A_040[1] 38
set_io TSn 45
set_io D_UM_AMIGA[0] 17
set_io D_UM_040[0] 88
set_io D_LM_040[4] 87
set_io D_UU_AMIGA[7] 143
set_io D_UU_040[7] 116
set_io D_LM_AMIGA[1] 22
set_io D_LL_AMIGA[0] 33
set_io D_LL_040[5] 79
set_io RESETn 34
set_io SIZ[0] 121
set_io D_LM_040[1] 83
set_io CLKRAMA 56
set_io PORTSIZE 42
set_io D_UM_AMIGA[4] 3
set_io D_LL_AMIGA[5] 25
set_io D_LL_040[0] 74
set_io DMAAn 134
set_io TEA_CPUn 122
set_io LBENn 48
set_io D_UU_040[3] 112
set_io D_UM_AMIGA[3] 7
set_io D_UM_040[5] 114
set_io D_LM_AMIGA[5] 12
set_io D_LM_040[7] 99
set_io D_UU_AMIGA[2] 139
set_io D_UU_040[4] 119
set_io D_LL_AMIGA[7] 24
set_io D_LL_040[6] 80
set_io CLK40B 49
set_io A_040[0] 37
set_io TBI_CPUn 64
set_io TAn 124
set_io D_UM_AMIGA[1] 11
set_io D_UM_040[7] 105
set_io D_LM_AMIGA[7] 10
set_io D_LM_040[5] 90
set_io CPUBGn 102
set_io BUFENn 135
set_io RnW 97
set_io D_UU_AMIGA[0] 138
set_io D_UU_040[6] 115
set_io D_LM_AMIGA[0] 23
set_io D_LL_AMIGA[1] 28
set_io D_LL_040[4] 76
set_io CLK80_CPU 94
set_io BUFDIR 136
set_io A_AMIGA[1] 41
set_io TCI_CPUn 101
set_io D_UM_AMIGA[7] 4
set_io D_UM_040[1] 104
set_io TS_CPUn 125
set_io D_UU_AMIGA[6] 142
set_io D_UU_040[0] 117
set_io D_LM_AMIGA[2] 18
set_io D_LM_040[2] 84
set_io D_LL_AMIGA[3] 32
set_io CLKRAMB 52
set_io D_UM_AMIGA[5] 141
set_io D_UM_040[3] 106
set_io D_LL_040[3] 73
set_io CLK40A 93
set_io TCIn 44
set_io D_UU_AMIGA[4] 137
set_io D_UU_040[2] 118
set_io D_LM_AMIGA[4] 16
set_io CLK40C 21
set_io D_UM_AMIGA[2] 15
set_io D_UM_040[6] 95
set_io D_LM_040[6] 98
set_io CLK40_IN 129
set_io BBn 130
set_io D_UU_AMIGA[1] 8
set_io D_UU_040[5] 113
set_io D_LL_AMIGA[6] 26
set_io D_LL_040[7] 81
set_io D_LM_040[3] 85
set_io A_AMIGA[0] 39
set_io D_UM_AMIGA[6] 2
set_io D_UM_040[2] 91
set_io D_LL_040[2] 78
set_io TACKn 47
set_io D_UU_AMIGA[5] 1
set_io D_UU_040[1] 107
set_io D_LM_AMIGA[3] 19
set_io D_LL_AMIGA[2] 31
set_io BGn 96
