set_io   -pullup yes   A[1]  136
set_io   -pullup yes   A[2]  11
set_io   -pullup yes   A[3]  15
set_io   -pullup yes   A[4]  18  
set_io   -pullup yes   A[5]  24
set_io   -pullup yes   A[6]  25
set_io   -pullup yes   A[7]  87
set_io   -pullup yes   A[8]  75  
set_io   -pullup yes   A[9]  88
set_io   -pullup yes   A[10] 8
set_io   -pullup yes   A[11] 9
set_io   -pullup yes   A[12] 7
set_io   -pullup yes   A[13] 10
set_io   -pullup yes   A[14] 12
set_io   -pullup yes   A[15] 17
set_io   -pullup yes   A[16] 16
set_io   -pullup yes   A[17] 23
set_io   -pullup yes   A[18] 26
set_io   -pullup yes   A[19] 22
set_io   -pullup yes   A[20] 85
set_io   -pullup yes   A[21] 82
set_io   -pullup yes   A[22] 79
set_io   -pullup yes   A[23] 84
set_io   -pullup yes   A[24] 73
set_io   -pullup yes   A[25] 83 
set_io   -pullup yes   A[26] 80 
set_io   -pullup yes   A[27] 76 
set_io   -pullup yes   A[28] 81 
set_io   -pullup yes   A[29] 78
set_io   -pullup yes   A[30] 74
set_io   -pullup yes   A[31] 19

set_io   D[28]   1
set_io   D[29]   2
set_io   D[30]   3
set_io   D[31]   4

set_io   EMA[0]  39 
set_io   EMA[1]  61 
set_io   EMA[2]  43 
set_io   EMA[3]  62
set_io   EMA[4]  45
set_io   EMA[5]  44
set_io   EMA[6]  42
set_io   EMA[7]  41
set_io   EMA[8]  38
set_io   EMA[9]  37
set_io   EMA[10] 60
set_io   EMA[11] 33
set_io   EMA[12] 32

set_io   CLK80   93
set_io   CLK40   94
set_io   CLK7    49
set_io   PHI2    135
  
set_io   nREGSPACE   143
set_io   nTCI        139 
set_io   nTBI        137
set_io   nTA         138
set_io   nRAMSPACE   142
set_io   CONFIGED    110
set_io   nCIACS0     116   
set_io   nCIACS1     115
set_io   nRTCEN      117
set_io   OVL         118
set_io   nBEN        120
set_io   PIO_P0      104
set_io   PIO_P1      105
set_io   PIO_P2      106
set_io   PIO_S0      107
set_io   PIO_S1      112
set_io   PIO_S2      113
set_io   AUTOBOOT    124
set_io   ULTRA_P     122
set_io   ULTRA_S     121
set_io   RnW         144    

set_io   nIDEEN      114
set_io   nRESET      21
set_io   nTIP        101
set_io   nTS         102
set_io   nROMEN      141
set_io   TT0         97
set_io   TT1         96
set_io   nEM0CS      31
set_io   nEM1CS      55
set_io   EMCLKE      48
set_io   BANK1       34
set_io   BANK0       56
set_io   nEMRAS      47
set_io   nEMCAS      29
set_io   nEMWE       28

#set_io   TM2        95
#set_io   TM1        98
#set_io   TM0        99

