set_location IDEDIR_obuf_RNO 24 6 2 # SB_LUT4 (LogicCell: IDEDIR_obuf_RNO_LC_0)
set_location RESETn_ibuf_RNIM9SF 19 5 2 # SB_LUT4 (LogicCell: RESETn_ibuf_RNIM9SF_LC_1)
set_location TACKn_obuft_RNO 24 6 6 # SB_LUT4 (LogicCell: TACKn_obuft_RNO_LC_2)
set_location U110_ATA.ATA_CYCLE_RNO 17 6 7 # SB_LUT4 (LogicCell: U110_ATA.ATA_CYCLE_LC_3)
set_location U110_ATA.ATA_CYCLE 17 6 7 # SB_DFF (LogicCell: U110_ATA.ATA_CYCLE_LC_3)
set_location U110_ATA.ATA_CYCLE_RNO_0 17 6 6 # SB_LUT4 (LogicCell: U110_ATA.ATA_CYCLE_RNO_0_LC_4)
set_location U110_ATA.ATA_START_RNI20BK 17 6 0 # SB_LUT4 (LogicCell: U110_ATA.ATA_START_RNI20BK_LC_5)
set_location U110_ATA.ATA_START_RNIEVJR3 17 6 1 # SB_LUT4 (LogicCell: U110_ATA.ATA_START_RNIEVJR3_LC_6)
set_location U110_ATA.ATA_START_RNO 17 6 2 # SB_LUT4 (LogicCell: U110_ATA.ATA_START_LC_7)
set_location U110_ATA.ATA_START 17 6 2 # SB_DFF (LogicCell: U110_ATA.ATA_START_LC_7)
set_location U110_ATA.ATA_TACK_RNO 18 6 1 # SB_LUT4 (LogicCell: U110_ATA.ATA_TACK_LC_8)
set_location U110_ATA.ATA_TACK 18 6 1 # SB_DFF (LogicCell: U110_ATA.ATA_TACK_LC_8)
set_location U110_ATA.ATA_TACK_RNO_0 17 6 3 # SB_LUT4 (LogicCell: U110_ATA.ATA_TACK_RNO_0_LC_9)
set_location U110_ATA.ATA_TACK_RNO_1 18 6 0 # SB_LUT4 (LogicCell: U110_ATA.ATA_TACK_RNO_1_LC_10)
set_location U110_ATA.ATA_TACK_RNO_2 18 6 7 # SB_LUT4 (LogicCell: U110_ATA.ATA_TACK_RNO_2_LC_11)
set_location U110_ATA.CYCLE_COUNT_RNI1UBQ2[7] 18 6 3 # SB_LUT4 (LogicCell: U110_ATA.CYCLE_COUNT_RNI1UBQ2[7]_LC_12)
set_location U110_ATA.CYCLE_COUNT_RNICV873_0[3] 17 6 5 # SB_LUT4 (LogicCell: U110_ATA.CYCLE_COUNT_RNICV873_0[3]_LC_13)
set_location U110_ATA.CYCLE_COUNT_RNICV873[1] 17 5 4 # SB_LUT4 (LogicCell: U110_ATA.CYCLE_COUNT_RNICV873[1]_LC_14)
set_location U110_ATA.CYCLE_COUNT_RNICV873[3] 17 5 5 # SB_LUT4 (LogicCell: U110_ATA.CYCLE_COUNT_RNICV873[3]_LC_15)
set_location U110_ATA.CYCLE_COUNT_RNIE7KJ1[1] 17 5 3 # SB_LUT4 (LogicCell: U110_ATA.CYCLE_COUNT_RNIE7KJ1[1]_LC_16)
set_location U110_ATA.CYCLE_COUNT_RNIL1QP[1] 17 6 4 # SB_LUT4 (LogicCell: U110_ATA.CYCLE_COUNT_RNIL1QP[1]_LC_17)
set_location U110_ATA.CYCLE_COUNT_RNIOHKJ1[5] 18 6 2 # SB_LUT4 (LogicCell: U110_ATA.CYCLE_COUNT_RNIOHKJ1[5]_LC_18)
set_location U110_ATA.CYCLE_COUNT_RNIQUS27[3] 17 5 6 # SB_LUT4 (LogicCell: U110_ATA.CYCLE_COUNT_RNIQUS27[3]_LC_19)
set_location U110_ATA.CYCLE_COUNT_RNIUNKJ1[7] 18 6 6 # SB_LUT4 (LogicCell: U110_ATA.CYCLE_COUNT_RNIUNKJ1[7]_LC_20)
set_location U110_ATA.CYCLE_COUNT_RNO[0] 17 5 2 # SB_LUT4 (LogicCell: U110_ATA.CYCLE_COUNT[0]_LC_21)
set_location U110_ATA.CYCLE_COUNT[0] 17 5 2 # SB_DFF (LogicCell: U110_ATA.CYCLE_COUNT[0]_LC_21)
set_location U110_ATA.CYCLE_COUNT_RNO_0[0] 18 5 0 # SB_LUT4 (LogicCell: U110_ATA.CYCLE_COUNT_RNO_0[0]_LC_22)
set_location U110_ATA.un1_CYCLE_COUNT_15_cry_0_c 18 5 0 # SB_CARRY (LogicCell: U110_ATA.CYCLE_COUNT_RNO_0[0]_LC_22)
set_location U110_ATA.CYCLE_COUNT_RNO[1] 17 5 7 # SB_LUT4 (LogicCell: U110_ATA.CYCLE_COUNT[1]_LC_23)
set_location U110_ATA.CYCLE_COUNT[1] 17 5 7 # SB_DFF (LogicCell: U110_ATA.CYCLE_COUNT[1]_LC_23)
set_location U110_ATA.CYCLE_COUNT_RNO[2] 17 5 0 # SB_LUT4 (LogicCell: U110_ATA.CYCLE_COUNT[2]_LC_24)
set_location U110_ATA.CYCLE_COUNT[2] 17 5 0 # SB_DFF (LogicCell: U110_ATA.CYCLE_COUNT[2]_LC_24)
set_location U110_ATA.CYCLE_COUNT_RNO[3] 18 5 3 # SB_LUT4 (LogicCell: U110_ATA.CYCLE_COUNT[3]_LC_25)
set_location U110_ATA.CYCLE_COUNT[3] 18 5 3 # SB_DFF (LogicCell: U110_ATA.CYCLE_COUNT[3]_LC_25)
set_location U110_ATA.un1_CYCLE_COUNT_15_cry_3_c 18 5 3 # SB_CARRY (LogicCell: U110_ATA.CYCLE_COUNT[3]_LC_25)
set_location U110_ATA.CYCLE_COUNT_RNO[4] 18 5 4 # SB_LUT4 (LogicCell: U110_ATA.CYCLE_COUNT[4]_LC_26)
set_location U110_ATA.CYCLE_COUNT[4] 18 5 4 # SB_DFF (LogicCell: U110_ATA.CYCLE_COUNT[4]_LC_26)
set_location U110_ATA.un1_CYCLE_COUNT_15_cry_4_c 18 5 4 # SB_CARRY (LogicCell: U110_ATA.CYCLE_COUNT[4]_LC_26)
set_location U110_ATA.CYCLE_COUNT_RNO[5] 18 5 5 # SB_LUT4 (LogicCell: U110_ATA.CYCLE_COUNT[5]_LC_27)
set_location U110_ATA.CYCLE_COUNT[5] 18 5 5 # SB_DFF (LogicCell: U110_ATA.CYCLE_COUNT[5]_LC_27)
set_location U110_ATA.un1_CYCLE_COUNT_15_cry_5_c 18 5 5 # SB_CARRY (LogicCell: U110_ATA.CYCLE_COUNT[5]_LC_27)
set_location U110_ATA.CYCLE_COUNT_RNO[6] 18 5 6 # SB_LUT4 (LogicCell: U110_ATA.CYCLE_COUNT[6]_LC_28)
set_location U110_ATA.CYCLE_COUNT[6] 18 5 6 # SB_DFF (LogicCell: U110_ATA.CYCLE_COUNT[6]_LC_28)
set_location U110_ATA.un1_CYCLE_COUNT_15_cry_6_c 18 5 6 # SB_CARRY (LogicCell: U110_ATA.CYCLE_COUNT[6]_LC_28)
set_location U110_ATA.CYCLE_COUNT_RNO[7] 18 5 7 # SB_LUT4 (LogicCell: U110_ATA.CYCLE_COUNT[7]_LC_29)
set_location U110_ATA.CYCLE_COUNT[7] 18 5 7 # SB_DFF (LogicCell: U110_ATA.CYCLE_COUNT[7]_LC_29)
set_location U110_ATA.RW_EN_RNIJJJD1 19 7 2 # SB_LUT4 (LogicCell: U110_ATA.RW_EN_RNIJJJD1_LC_30)
set_location U110_ATA.RW_EN_RNIJJJD1_0 17 7 1 # SB_LUT4 (LogicCell: U110_ATA.RW_EN_RNIJJJD1_0_LC_31)
set_location U110_ATA.RW_EN_RNIP3TI1 19 7 7 # SB_LUT4 (LogicCell: U110_ATA.RW_EN_RNIP3TI1_LC_32)
set_location U110_ATA.RW_EN_RNIP3TI1_0 17 7 5 # SB_LUT4 (LogicCell: U110_ATA.RW_EN_RNIP3TI1_0_LC_33)
set_location U110_ATA.RW_EN_RNO 17 7 3 # SB_LUT4 (LogicCell: U110_ATA.RW_EN_LC_34)
set_location U110_ATA.RW_EN 17 7 3 # SB_DFF (LogicCell: U110_ATA.RW_EN_LC_34)
set_location U110_ATA.un1_CS0_PRIn_i 18 9 2 # SB_LUT4 (LogicCell: U110_ATA.un1_CS0_PRIn_i_LC_35)
set_location U110_ATA.un1_CS0_SECn_i 18 7 6 # SB_LUT4 (LogicCell: U110_ATA.un1_CS0_SECn_i_LC_36)
set_location U110_ATA.un1_CS1_PRIn_i 16 10 2 # SB_LUT4 (LogicCell: U110_ATA.un1_CS1_PRIn_i_LC_37)
set_location U110_ATA.un1_CS1_SECn_i 18 11 5 # SB_LUT4 (LogicCell: U110_ATA.un1_CS1_SECn_i_LC_38)
set_location U110_ATA.un2_DIOR_PRIn 16 7 0 # SB_LUT4 (LogicCell: U110_ATA.un2_DIOR_PRIn_LC_39)
set_location U110_ATA.un2_DIOR_SECn 18 7 7 # SB_LUT4 (LogicCell: U110_ATA.un2_DIOR_SECn_LC_40)
set_location U110_BUFFERS.un1_IDEHRENn_i 18 7 5 # SB_LUT4 (LogicCell: U110_BUFFERS.un1_IDEHRENn_i_LC_41)
set_location U110_BUFFERS.un1_IDEHWENn_i 19 7 4 # SB_LUT4 (LogicCell: U110_BUFFERS.un1_IDEHWENn_i_LC_42)
set_location U110_CYCLE_TERMINATION.TACK_COUNT_RNI1PFJ[1] 18 7 1 # SB_LUT4 (LogicCell: U110_CYCLE_TERMINATION.TACK_COUNT_RNI1PFJ[1]_LC_43)
set_location U110_CYCLE_TERMINATION.TACK_COUNT_RNO[0] 18 7 0 # SB_LUT4 (LogicCell: U110_CYCLE_TERMINATION.TACK_COUNT[0]_LC_44)
set_location U110_CYCLE_TERMINATION.TACK_COUNT[0] 18 7 0 # SB_DFFN (LogicCell: U110_CYCLE_TERMINATION.TACK_COUNT[0]_LC_44)
set_location U110_CYCLE_TERMINATION.TACK_COUNT_RNO[1] 18 7 4 # SB_LUT4 (LogicCell: U110_CYCLE_TERMINATION.TACK_COUNT[1]_LC_45)
set_location U110_CYCLE_TERMINATION.TACK_COUNT[1] 18 7 4 # SB_DFFN (LogicCell: U110_CYCLE_TERMINATION.TACK_COUNT[1]_LC_45)
set_location U110_CYCLE_TERMINATION.TACK_EN_RNO 19 7 5 # SB_LUT4 (LogicCell: U110_CYCLE_TERMINATION.TACK_EN_LC_46)
set_location U110_CYCLE_TERMINATION.TACK_EN 19 7 5 # SB_DFFN (LogicCell: U110_CYCLE_TERMINATION.TACK_EN_LC_46)
set_location U110_CYCLE_TERMINATION.TACK_OUT_EN_i_ness_RNO 19 6 0 # SB_LUT4 (LogicCell: U110_CYCLE_TERMINATION.TACK_OUT_EN_i_ness_LC_47)
set_location U110_CYCLE_TERMINATION.TACK_OUT_EN_i_ness 19 6 0 # SB_DFFNESS (LogicCell: U110_CYCLE_TERMINATION.TACK_OUT_EN_i_ness_LC_47)
set_location U110_CYCLE_TERMINATION.TACK_OUT_EN_i_ness_RNO_0 18 6 5 # SB_LUT4 (LogicCell: U110_CYCLE_TERMINATION.TACK_OUT_EN_i_ness_RNO_0_LC_48)
set_location U110_CYCLE_TERMINATION.TACK_OUT_EN_i_ness_RNO_1 18 6 4 # SB_LUT4 (LogicCell: U110_CYCLE_TERMINATION.TACK_OUT_EN_i_ness_RNO_1_LC_49)
set_location U110_CYCLE_TERMINATION.TACK_OUT_RNO 18 7 3 # SB_LUT4 (LogicCell: U110_CYCLE_TERMINATION.TACK_OUT_LC_50)
set_location U110_CYCLE_TERMINATION.TACK_OUT 18 7 3 # SB_DFFN (LogicCell: U110_CYCLE_TERMINATION.TACK_OUT_LC_50)
set_location U110_CYCLE_TERMINATION.TACK_OUT_RNO_0 18 7 2 # SB_LUT4 (LogicCell: U110_CYCLE_TERMINATION.TACK_OUT_RNO_0_LC_51)
set_location U110_ATA.un1_CYCLE_COUNT_15_cry_0_THRU_LUT4_0 18 5 1 # SB_LUT4 (LogicCell: U110_ATA.un1_CYCLE_COUNT_15_cry_0_THRU_LUT4_0_LC_52)
set_location U110_ATA.un1_CYCLE_COUNT_15_cry_1_c 18 5 1 # SB_CARRY (LogicCell: U110_ATA.un1_CYCLE_COUNT_15_cry_0_THRU_LUT4_0_LC_52)
set_location U110_ATA.un1_CYCLE_COUNT_15_cry_1_THRU_LUT4_0 18 5 2 # SB_LUT4 (LogicCell: U110_ATA.un1_CYCLE_COUNT_15_cry_1_THRU_LUT4_0_LC_53)
set_location U110_ATA.un1_CYCLE_COUNT_15_cry_2_c 18 5 2 # SB_CARRY (LogicCell: U110_ATA.un1_CYCLE_COUNT_15_cry_1_THRU_LUT4_0_LC_53)
set_io ATA_ENn_ibuf 0 15 0 # ICE_IO
set_io ATA_LATCH_obuf 25 7 1 # ICE_IO
set_io BGn_obuf 25 2 1 # ICE_IO
set_io CLK40_ibuf_gb_io 13 0 0 # ICE_GB_IO
set_io CS0_PRIn_obuf 25 10 0 # ICE_IO
set_io CS0_SECn_obuf 25 6 1 # ICE_IO
set_io CS1_PRIn_obuf 25 12 1 # ICE_IO
set_io CS1_SECn_obuf 25 16 1 # ICE_IO
set_io DIOR_PRIn_obuf 25 13 1 # ICE_IO
set_io DIOR_SECn_obuf 25 15 1 # ICE_IO
set_io DIOW_PRIn_obuf 25 11 0 # ICE_IO
set_io DIOW_SECn_obuf 25 14 1 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io IDEDIR_obuf 25 6 0 # ICE_IO
set_io IDEHRENn_obuf 25 9 0 # ICE_IO
set_io IDEHWENn_obuf 25 14 0 # ICE_IO
set_io IDELENn_obuf 25 8 1 # ICE_IO
set_io INT2n_obuf 18 21 0 # ICE_IO
set_io PCS0_ibuf 0 6 1 # ICE_IO
set_io PCS1_ibuf 0 7 0 # ICE_IO
set_io RESETn_ibuf 12 0 1 # ICE_IO
set_io RnW_ibuf 25 4 0 # ICE_IO
set_io SCS0_ibuf 0 7 1 # ICE_IO
set_io SCS1_ibuf 0 10 0 # ICE_IO
set_io TACKn_obuft 25 2 0 # ICE_IO
set_io TEAn_obuf 0 17 0 # ICE_IO
set_io TSn_ibuf 11 0 1 # ICE_IO
set_location INV_CLK40_c_g -1 -1 -1 # INV
set_location CONSTANT_ONE_LUT4 17 12 6 # SB_LUT4 (LogicCell: LC_54)
