NET "A<2>" 		LOC="P6";
NET "A<3>" 		LOC="P9";
NET "A<4>" 		LOC="P12";
NET "A<5>" 		LOC="P15";
NET "A<6>" 		LOC="P16";
NET "A<7>" 		LOC="P20";
NET "A<8>" 		LOC="P28";
NET "A<9>" 		LOC="P19";
NET "A<10>" 	LOC="P2";
NET "A<11>" 	LOC="P4";
NET "A<12>" 	LOC="P3";
NET "A<13>" 	LOC="P5";
NET "A<14>" 	LOC="P7";
NET "A<15>" 	LOC="P11";
NET "A<16>" 	LOC="P10";
NET "A<17>" 	LOC="P14";
NET "A<18>" 	LOC="P17";
NET "A<19>" 	LOC="P13";
NET "A<20>" 	LOC="P21";
NET "A<21>" 	LOC="P24";
NET "A<22>" 	LOC="P27";
NET "A<23>" 	LOC="P22";
NET "A<24>" 	LOC="P33";
NET "A<25>" 	LOC="P23";
NET "A<26>" 	LOC="P26";
NET "A<27>" 	LOC="P34";
NET "A<28>" 	LOC="P25";
NET "A<29>" 	LOC="P35";
NET "A<30>" 	LOC="P31";
NET "A<31>" 	LOC="P39";

NET "EMA<0>"	LOC="P133";
NET "EMA<1>"	LOC="P131";
NET "EMA<2>"	LOC="P130";
NET "EMA<3>"	LOC="P128";
NET "EMA<4>"	LOC="P119";
NET "EMA<5>"	LOC="P129";
NET "EMA<6>"	LOC="P120";
NET "EMA<7>"	LOC="P132";
NET "EMA<8>"	LOC="P121";
NET "EMA<9>"	LOC="P135";
NET "EMA<10>"	LOC="P134";
NET "EMA<11>"	LOC="P124";
NET "EMA<12>"	LOC="P138";

//NET "CLK80"		LOC="P30";
NET "CLK40"		LOC="P38";
NET "CLK7"		LOC="P32";
//NET "C1"			LOC="P40";
//NET "C3"			LOC="P74";

NET "nKBRST"	LOC="P46";
NET "nBLS"		LOC="P48";
//NET "nDBR"		LOC="P49";
NET "nREGEN"	LOC="P50";
NET "nAS"		LOC="P51";
NET "nTCI"		LOC="P52";
NET "nTBI"		LOC="P53";
NET "nTA"		LOC="P56";
NET "nRAMEN"	LOC="P57";
NET "CONFIGED"	LOC="P58";
NET "nCIA0"		LOC="P59";
NET "nCIA1"		LOC="P60";
NET "nRTCRD"	LOC="P61";
NET "nRTCWR"	LOC="P64";
NET "OVL"		LOC="P66";
NET "nBEN"		LOC="P68";
//NET "CPUSPACE"	LOC="P79";
//NET "TRISTATE"	LOC="P80";
NET "PIO_P0"	LOC="P81";
NET "PIO_P1"	LOC="P82";
NET "PIO_P2"	LOC="P83";
NET "PIO_S0"	LOC="P85";
NET "PIO_S1"	LOC="P86";
NET "PIO_S2"	LOC="P87";
//NET "ULTRA_S"	LOC="P94";
//NET "ULTRA_P"	LOC="P95";
NET "AUTOBOOT"	LOC="P96";
NET "RnW"		LOC="P100";
NET "nEMEN"		LOC="P101";
NET "nBTNRESET"	LOC="P102";
NET "nIDEEN"	LOC="P103";
NET "CLKCIA"	LOC="P104";
NET "nRESET"	LOC="P105";
NET "nTIP"		LOC="P106";
NET "nTS"		LOC="P107";
NET "nROMEN"	LOC="P110";
NET "nVBEN"		LOC="P111";
NET "nSYSTEMRST"	LOC="P112";
//NET "TM0"		LOC="P113";
//NET "TM1"		LOC="P115";
//NET "TM2"		LOC="P116";
NET "TT0"		LOC="P117";
NET "TT1"		LOC="P118";
NET "nEM1CS"	LOC="P125";
NET "EMCLKE"	LOC="P126";
NET "BANK1"		LOC="P136";
NET "BANK0"		LOC="P137";
NET "nEM0CS"	LOC="P139";
NET "nEMRAS"	LOC="P140";
NET "nEMCAS"	LOC="P142";
NET "nEMWE"		LOC="P143";